<div class="crop-container top-20 hidden">
    <div class="dz-cr-image"> 
        <img src="" />
    </div>
    <div class="text-center top-10">
        <div class="btn-group">
            <p class="title">Original Image:</p>
            <p><span class="cropper_width"></span> <span class="cropper_height"></span></p>
            <a href="#" class="btn btn-default rotate-left"><span class="icon icon-ccw"></span></a>
            <a href="#" class="btn btn-default rotate-right"><span class="icon icon-cw"></span></a>
            <a href="#" class="btn btn-default zoom-in"><span class="icon icon-zoom-in"></span></a>
            <a href="#" class="btn btn-default zoom-out"><span class="icon icon-zoom-out"></span></a>
            <a type="button" class="btn btn-default reset"><span class="icon ion-loop"></span></a>
            <a href="#" class="btn crop-upload"><span class="icon ion-checkmark"></span></a>
        </div> 
    </div>
</div>