<% if ( @grouping_flag == false ) || ( message.previous_message.nil? ) || ( message.previous_message.customer_id != message.customer_id ) %>
<% @grouping_flag = true %>
<div class="group" data-cid="<%= message.customer_id %>">
<% end %>
  <li class="<%=  self_or_other(message)  %> 
    <%= message.read? ? '' : 'new_message'  %>" data-messageid="<%= message.id %>" data-cid="<%= message.customer_id %>" >
    <% if ( @grouping_flag == true ) && ( message.next_message.nil? ) || ( message.next_message.present? && ( message.customer_id != message.next_message.customer_id ) ) %>
        <div class="avatar">
          <%= image_tag message.customer.avatar.profile_square.url, alt: 'message avatar' %>
        </div>
    <% end %>

    <div class="chatboxmessagecontent">
      <%if message.media? %>

      <%= link_to image_tag(message.media, alt: 'message media', class: "message_image"), '#messageImage', data: {toggle: 'modal', url: message.media.url}, id: 'message_image_modal' %>
      
      <% if message.body.present? %>
        <p class="bubble <%= self_or_other(message) == "other" ? "left" : "right"%> ">
          <%= emojify( message.body ) %>
        </p>
      <% end %>

      <% else %>
      <p class="bubble <%= self_or_other(message) == "other" ? "left" : "right"%> "><%= emojify( message.body ) %></p>
      <% end %>
    </div>

  </li>
<% if ( @grouping_flag == true ) && ( message.next_message.nil? ) || ( message.next_message.present? && ( message.customer_id != message.next_message.customer_id ) ) %>
<% @grouping_flag = false %>
</div>
<% end %>
