<% sender = self_or_other(message) %>
<% if ( @grouping_flag == false ) || ( message.previous_message.nil? ) || ( message.previous_message.customer_id != message.customer_id ) %>
    <% @grouping_flag = true %>
<% end %>
<li class="<%= sender %> <%= sender == 'other' ? 'new_message' : '' %>animate_message" data-messageid="<%= message.id %>">
  <% if ( @grouping_flag == true ) || ( message.next_message.present? && ( message.previous_message.customer_id != message.customer_id  ) ) %>
      <div class="avatar">
        <%= image_tag message.customer.avatar.profile_square.url, alt: 'message avatar' %>
      </div>
  <% end %>

  <div class="chatboxmessagecontent">
  	<% if message.media.present? %>
  	 	<%= link_to image_tag(message.media, alt: 'message media', class: "message_image"), '#messageImage', data: {toggle: 'modal', url: message.media.url}, id: 'message_image_modal' %>

  	 	<% if message.body.present? %>
  	 	<p class="bubble <%= sender == 'other' ? 'left' : 'right' %> "><%= emojify( message.body ) %></p>
  	 	<% end %>

  	<% else %>
  		<p class="bubble <%= sender == 'other' ? 'left' : 'right' %> "><%= emojify( message.body ) %></p>
  	<% end %>
  </div>
</li>
