<% publish_to "/conversations/#{@conversation.id}" do %>
    "use strict";

    var id = "<%= @conversation.id %>";
    var attach_to_group = false;
    var sender_id = "<%= @message.customer.id %>";
    var reciever_id = $('meta[name=customer-id]').attr("content");

    if($("#chatbox_" + id + " .chatboxcontent ul > .group").last().find('.self')[0] && (sender_id == reciever_id)){
        var chatbox = $("#chatbox_" + id + " .chatboxcontent ul > .group").last();
        var attach_to_group = true;
    }
    else if($("#chatbox_" + id + " .chatboxcontent ul > .group").last().find('.other')[0] && (sender_id != reciever_id)){
        var chatbox = $("#chatbox_" + id + " .chatboxcontent ul > .group").last();
        var attach_to_group = true;  
    }
    else{
        var chatbox = $("#chatbox_" + id + " .chatboxcontent ul");
    }

    //with this one message will be displayed only once
    if(attach_to_group == true){
        chatbox.append("<%= j render( partial: 'new_message', locals:{ message: @message } ) %>");
    }
    else{
        chatbox.append("<div class='group'><%= j render( partial: 'new_message', locals:{ message: @message } ) %></div>");
    }
    if (sender_id != reciever_id) {
        //chatBox.open(id) 
        if(attach_to_group == true){
            chatbox.find('li').removeClass("self").addClass("other");
            var status = parseInt(chatbox.find('li img').css('top'));
            setTimeout(function(){
                var height = $("#chatbox_" + id + " .chatboxcontent ul > .group").last().find('li:last-of-type').height();
                chatbox.find('li .avatar img').closest('li').css('z-index', 1);
                chatbox.find('li .avatar img').animate({top: status + height});
            },300);
        }
        else{
            chatbox.children().last().find('li').removeClass("self").addClass("other");
        }
        $('#chatbox_'+id+' .chat').scrollTop($('.chat')[0].scrollHeight);
    }
    else{
        setTimeout(function(){
            $('#chatbox_'+id+' .chat').scrollTop($('.chat')[0].scrollHeight);
        },100);
    }
        
<% end %>