body.admin {
  background: #eee;

  header .navbar {
    a, a:hover { 
      color: black; 
    }
    a.active, a:hover {
      text-decoration: underline;
    }
  }
  
  .padded {
    padding: 4em; 
  }
  
  div.sidenav {
    border-right: 1px solid #ccc;

    a.active {
      text-decoration: underline;
    }
  }

  ul.nav.nav-tabs {
    margin-bottom: 1em;
    a.active {
      background: #CCC;
      color: #333;
    }
  }

  div.container {
    background: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    
    div.panel {
      padding: 1em;
      border: 1px solid #EEE;
    }

    div.section-header {
      margin: 2em 0 1em;
      border-bottom: 1px solid #EEE;
    }

    div.modal-dialog {
      background: #fff;
    }
  }
  
  span.badge {
    &.badge-success{
      background: green;
    }
    &.badge-alert {
      background: $dark-orange;
    }
  }
}