// TODO custom style to match PSD and UX improvements on large screen sizes.
// overrides previously set css
// Please feel free to delete or use as you see fit.

ul.nav.navbar-nav {
    a#cart_link {
        padding: 0;
    }
}

#component-cart-items.cart_list {

    // change font and button color to blue
    li .middle_item_container {
        div.cart_item_name {
            font-size: 16px;
            color: $dark-grey;
            margin-bottom: 10px;
        }

        .cart_item_retailer {
            font-size: 15px;
            font-weight: 300;
            .cart_item_price{
                display: block;
                font-size: 14px;
                font-weight: 400;
            }
            .price_change{
                font-size: 12px;
            }
            span{
                font-size: 12px;
            }
            img {
                display: inline-block;
                width: 12px;
            }
        }

        .cart_item_actions {
            padding: 1em 0;
        }
    }

    // change quantity input to white background
    .input-group .form-control {
        background: white;
    }
}

#component-sidebar {
    //enlarge side padding to compensate for browser scrollbar obscuring view.
    .cart_right_container {
        padding: 0 1.5em;
    }

    // remove margin to align with rest of text
    .cart_number {
        margin-left: 0;
    }

    a:hover, a:active, a:focus {
        text-decoration: none;
        text-align: center;
    }

    button {
        width: 100%;
        padding: 1em;
    }

    div#cart_giftee {
        padding: 1em 0 0.5em;
        border-bottom: 1px solid #CCC;
        div {
        padding: 0 0 0.5em 0;
        width: 100%;
        color: $dark-grey;
        }
        img {
        max-width: 35px;
        margin-right: 5px;
        }
        span {
        font-weight: 800;
        font-size: 12px;
        }
    }
}

#component-accordion-payment {

    // don't want to overwrite styles on col-sm-6
    .checkout_payment .payment .form-group .col-sm-6.col-full {
        width: 100%;
    }

    // enlarge padding to increase user focus on content;
    .checkout_payment .payment {
        padding: 2em;
    }


    .checkout_payment .payment .form-group {
        .col-sm-6{
        // round out input containers to match input style
            border-radius: 30px;
        }

        // change input container borders to transparent unless success or error
        &:not(.has-error):not(.has-success) {
            .col-sm-6{
                border-color: transparent;
            }
        }
    }

    // round out selects to match input style
    select {
        border-radius: 30px  
    }

    input {
        // no box shadow to match overall theme of app inputs
        box-shadow: none;
        // change input background to white to contrast with grey container background
        background-color: white;
        // change input border color to match with selects
        border-color: #e6e6e6;
        border-width: 2px;
    }

    // match border style to other selects
    .checkout_payment .payment select#country {
        border: 2px solid #e6e6e6;
    }

    ul.payment_method_list {
        padding: 1em 0;

        li.payment_method {
            border-bottom: 1px solid #CCC;
            list-style: none;
            label {
                font-size: 1em;
                cursor: pointer;
                margin: 0;
                padding: 1em;

                img.card_img {
                    width: 2em;
                    display: inline;
                }
            }
        }
    }
}

#confirm{
    padding-left: 50px;
}

#component-confirm-tab {

    div.back_to_cart {
        a{
            text-decoration: none;
            i{
                color: $dark-grey;
            }
            span{
                font-size: 14px;
                position: relative;
                top: -1px;
            }
        }
    }
}
.confirm_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 71px);
    min-height: 650px;
}
#order_confirmation{
    color: $dark-grey;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    .left_confirm{
        float: left;
        img{
            max-width: 460px;
        }
    }
    .right_confirm{
        float: left;
        width: calc(100% - 460px);
        h1{
            font-size: 80px;
            text-align: center;
            margin-bottom: 25px;
        }
        .order_received{
            font-size: 30px;
            text-align: center;
        }
        .order_summary_content{
            text-align: center;
            margin: 30px 0 90px;
            p{
                font-size: 18px;
                font-weight: 300;
                line-height: 18px;
            }
        }
        .email_confirmation{
            overflow: hidden;
            padding-top: 6px;
            .email_left{
                float: left;
                img{
                    max-width: 200px;
                    position: relative;
                    top: -20px;
                }
            }
            .email_right{
                float: left;
                font-size: 18px;
                width: calc(100% - 200px);
            }
        }
        .show_more{
            a{
                @include button(14);
            }
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            margin-left: auto;
            margin-right: auto;
        }
        .shipping_taxes{
            clear: both;
            font-size: 12px;
            text-align: center;
            margin-top: 50px;
        }
    }
}

.checkout_item_container{
    & > p{
        font-size: 12px;
        margin-bottom: 30px;
        padding-left: 40px;
        margin-top: -20px;
    }
}