.fade {
   opacity: 0;
   -webkit-transition: opacity .35s linear;
      -moz-transition: opacity .35s linear;
       -ms-transition: opacity .35s linear;
        -o-transition: opacity .35s linear;
           transition: opacity .35s linear;
}

.checkout_user{
  padding-left: 0;
}

.numb_cart_items{
  text-align: right;
  font-size: 25px;
}

.checkout_for_user{
  background: lighten(#f5f5f5, 1%);
  border: 1px solid #bbb;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 20px;

  .checkout_header{
    margin: 0;
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
    margin-bottom: 35px;
  }

  img{
    float: left;
    margin-right: 20px;
    max-width: 50px;
  }

  h5.username{
    font-size: 22px;
    margin-top: 15px;
  }

  .table_headers{
    margin-top: 35px;
    font-size: 18px;
    text-align: center;
  }
}

.item_row{
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #bbb;
  &:last-of-type{
    border-bottom: none;
    padding-bottom: 0;
  }
}

.checkout_item{
  .item_preview{
    background-size: cover;
    background-position: center center;
    min-height: 140px;
  }

  .title{
    margin-bottom: 10px;
    font-weight: 700;
  }
}

.checkout_item_details{
  text-align: center;

  input{
    text-align: center;
    width: 55px;
    float: left;
    height: 35px;
  }

  span{
    display: inline-block;
    margin-top: 8px;
  }

  p.price{
    margin-top: 8px;
  }
}


.remove_item{
  color: $blue;
  margin-top: 25px;
  display: inline-block;
  font-size: 15px;

  &:hover{
    text-decoration: none;
  }

  span{
    position: relative;
    top:2px;
  }
}

.checkout_usertotals, .checkout_totals{

  p{
    margin-bottom: 8px;
    font-size: 18px;

    &.total, &.final_total{
      margin-top: 10px;
      padding-top: 5px;
      font-size: 25px;
      border-top: 1px solid darken(#ddd, 5%);
      span.amount{
        color: $main-teal;
      }
    }
  }

  span.total_label{
    text-align: left;
    width: 100px;
    display: inline-block;
  }

  span.numb_items{
    color: #888;
  }
}

.checkout_totals{
  p{
    font-size: 24px;

    &.final_total{
      font-size: 27px;
      font-weight: 700;
    }
  }

  span.total_label{
    width: 64%;
  }
}

.checkout_final_summary{
  img:first-of-type{
    margin-bottom: 30px;
    max-width: 220px;
  }

  a.btn{
    @include button(25);
    float: right;
    margin-top: 25px;
  }
}

img.cc_logos{
  max-width: 360px;
}