div.StripeElement {
  @extend .form-control;
}

form#secure_payment_form {
  div.StripeElement {
    background: #fff;
    border: 2px solid #e6e6e6;
    box-shadow: none;
    padding: 0.8em;
  }

  div.StripeElement-errors {
    color: #b94a48;
  }

  div.StripeElement.StripeElement--invalid {
    border: 2px solid #b94a48;
  }

  div.StripeElement.StripeElement--complete {
    border: 2px solid #aad371;
  }
}