<div id="discover_body" class="<%= discover_type == 'category_search' ? 'discover_search' : 'discover' %>">
    <%= render partial: "shared/discover/discover_nav", locals: {discover_type: discover_type} %>

    <div id="discover_feed">
        <% if (discover_type == 'brands' || discover_type == 'category_search' && @brands.present?) %>    
            <% @brands.each do |brand| %>
                <%= render partial: "shared/tiles/discover_tiles/brand_tiles", locals: {brand: brand} %>
            <% end %>
        <% elsif discover_type == 'categories' && @categories.present? %>
            <% @categories.each do |category| %>
                <%= render partial: "shared/tiles/discover_tiles/category_tiles", locals: {category: category} %>
            <% end %>
        <% elsif discover_type == 'wish_lists' && @baskets.present? %>
            <% @baskets.reverse.shuffle.each_slice(2) do |a, b| %>
              <div class="grouped_lists">
                  <%= render partial: "shared/tiles/basket_tile", locals: {basket: a, basket_type: 'discover'} if a.present? %>
                  <%= render partial: "shared/tiles/basket_tile", locals: {basket: b, basket_type: 'discover'} if b.present? %>
              </div>
            <% end %>
        <% elsif discover_type == 'deals' && @deals.present? %>
          <div class="deals_container">
            <% @deals.each do |deal| %>
              <%= render partial: "shared/tiles/discover_tiles/deals_tile", locals: {deal: deal} %>
            <% end %>
          </div>
        <% end %>
    </div>

    <div id="loader" class="discover">
        <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
    </div>
    
</div>


<script rel="nofollow" type="text/javascript">
    function lazy(){
        $('.lazy').Lazy({
            effect: "fadeIn",
            effectTime: 800,
            threshold: 0,
            delay: 0
        });
    }
    
    var sort = "<%=discover_type == 'categories'? '&sort=a-z' : '&sort=random' %>";
    var page_discover = 1;

    var page_type = "/paginate/discover?discover_type=<%=discover_type %>&page="
    $('.group_tile, .brand').addClass('fade-animate');

    $('.sort_nav a').click(function(){
      sort = '&sort='+$(this).attr('href').split('&sort=')[1];
      page_discover = 1;
      setTimeout(function(){
          lazy();
      }, 1000)
    });

    <% if discover_type == 'category_search' %>
       sort = sort+="&category=<%=@category.name%>";
       $('.sort_nav a').each(function(e){
        new_url = $(this).attr('href')+"&category=<%=@category.name%>"
        $(this).attr('href', new_url)
       })
    <% end %>
    
    $("input[name='discover_search_<%=discover_type %>']").on('keyup touchend', function(e){
      if (this.value.length >= 1) {
        
        <% if discover_type == 'category_search' %>
        sort_url = "/sort/discover?discover_type=<%=discover_type %>&char="+ this.value + "&category=<%=@category.name%>";
        <% else %>
        sort_url = "/sort/discover?discover_type=<%=discover_type %>&char="+ this.value;
        <% end %>

      }else{
        page_discover = 1;

        <% if discover_type == 'category_search' %>
        sort_url = "/sort/discover?discover_type=<%=discover_type %>&category=<%=@category.name%>&page=1&sort=" + sort;
        <% else %>
        sort_url = "/sort/discover?discover_type=<%=discover_type %>&page=1&=" + sort;
        <% end %>

      }
        $.ajax({
          type     : 'GET',
          url      : sort_url,
          dataType : 'script',
          encode   : true,
          success  : function(){
              lazy();
          }
        });
    });

    var controller = new ScrollMagic.Controller();

    <% if browser.mobile? %>
        var offset_height = -3000;
    <% else %>
        var offset_height = -900;
    <% end %>

  // build scene
    var scene = new ScrollMagic.Scene({triggerElement: "#loader", offset: offset_height})
    .addTo(controller)
    .on("enter", function (e) {
        if (e.scrollDirection == "FORWARD") {
            page_discover++;
            $("#loader i").addClass("active");
            var  discover_url = page_type + page_discover + sort ;
            $.ajax({
                url: discover_url, //pagination url
                type: 'GET',
                success: function (data) {
                    lazy();
                    $("#loader i").removeClass("active");
                    $('.group_tile').addClass('fade-animate');
                    var count = (data.match(/col-xs-6/g) || []).length;
                    if (count < 30 && !$('.no_more_items')[0] ){
                      $('#discover_feed').after('<p class="no_more_items discover">No more items to show.</p>');
                      $('.no_more_items').fadeIn();
                    }
                },
                error: function(){
                  console.log("Error");
                  $("#loader i").removeClass("active");

                }
            });
        }
    });
    <% if discover_type != 'category_search' %>
        var controller2 = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave"}});

        // build scene
        <% if browser.mobile? %>
            var offsetting = -165;
            var margin = -65;
        <% else %>
            var margin = -50;
            var offsetting = -180;
        <% end %>
        var scene2 = new ScrollMagic.Scene({triggerElement: "#discover_body", offset: offsetting})
                    .setClassToggle('.feed_heading', 'shadow')
                    .addTo(controller2);

        var tween = TweenMax.to(".feed_heading", .05, {'margin-top':margin});
        var scene3 = new ScrollMagic.Scene({triggerElement: "#discover_body", offset: offsetting})
                    .setTween(tween)
                    .addTo(controller2);
    <% else %>
        var controller2 = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave", duration: "100%"}});
        new ScrollMagic.Scene()
            .setTween(".discover_banner", {y: "300", ease: Linear.easeNone})
            .addTo(controller2);
        new ScrollMagic.Scene()
            .setTween(".discover_heading_text", {y: "300", ease: Linear.easeNone})
            .addTo(controller2);
    <% end %>
</script>
