<div class="feed_heading">
    <div class="discover_heading_text">
        <% if discover_type == 'category_search' %>
            <%= link_to ion_icon('chevron-left') + 'Back To Categories', discover_categories_path, class: 'discover_back' %>
        <% end %>
        <h1>
            <span>Discover</span>
            <% if discover_type == 'category_search' %>
                <%= @category.name.titleize %>
            <% else %>
                Your Next Wish
            <% end %>
        </h1>
    </div>
    <% if discover_type != 'category_search' %>
        <ul class="feed_nav">
            <li class="<%= 'active' if discover_type == 'categories' || discover_type == 'category_search' %>">
                <%= link_to discover_categories_path, class: ('active' if discover_type == 'categories' || discover_type == 'category_search') do %>
                    <span>#Categories</span>
                <% end %>
            </li>
            <li class="<%= 'active' if discover_type == 'wish_lists' %>">
                <%= link_to discover_wish_lists_path do %>
                    <span>#Wish Lists</span>
                <% end %>
            </li>
            <% if @deals.present? %>
                <li class="<%= 'active' if discover_type == 'deals' %>">
                    <%= link_to discover_deals_path, class: ('active' if discover_type == 'deals') do %>
                        <span>#Deals</span>
                    <% end %>
                </li>
            <% end %>
        </ul>
    <% else %>
        <div class="discover_banner">
            <%= image_tag @category.screenshot.large.url %>
        </div>
        <!-- <img src="http://via.placeholder.com/1600x350" class="discover_banner"> -->
    <% end %>
</div>
<% if discover_type != 'deals' %>
    <div class="sort_nav">
        <ul class="list-inline text-center">

        <li class="list-inline-item search">
            <%= text_field_tag "discover_search_#{discover_type}", nil, class: 'form-control input-md', placeholder: "Search #{discover_type.titleize}"%>
        </li>

        <li class="list-inline-item">
            <%= link_to 'Sort A-Z', discover_sort_path(page: 1, sort: 'a-z', discover_type: discover_type), remote: true, method: 'get' %>
        </li>
        <li class="list-inline-item">
            <%= link_to 'Sort Z-A', discover_sort_path(page: 1, sort: 'z-a', discover_type: discover_type), remote: true, method: 'get' %> 
        </li>
        <li class="list-inline-item">
            <%= link_to 'Randomize', discover_sort_path(page: 1, sort: 'random', discover_type: discover_type), remote: true, method: 'get' %> 
        </li>

        </ul>
    </div>
<% end %>
