<% @title = 'Sign Up' %>
<div class="<%= browser.mobile? ? 'mobile_full_page_form': 'full_page_form' %>">
  <div class="form-container">

    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
      <%= svg('logo') if !browser.mobile? %>
      <h1 class="step-title"><strong>Let's Get Started</strong></h1>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "new_customer_reg" } ) do |f| %>

      <div class="field form-group has-feedback">
        <%= text_field_tag :name, nil, required: true, minlength: 4, class: 'form-control input-lg', placeholder: 'Full Name or Name of Business' %> 
        <div class="help-block with-errors"></div>
      </div>

      <div class="field form-group has-feedback">
        <%= f.email_field :email, required: true, class: 'form-control input-lg', placeholder: 'Email' %>
        <div class="help-block with-errors"></div>
      </div>

      <div class="field form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", required: true, class: 'form-control input-lg', placeholder: 'Create a Password', minimum: 6, id: "customer_password_confirmation" %>
        <span class="help-block hidden">Password required</span> 
      </div>

      <div class="field form-group checkbox checkbox-warning">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= check_box_tag :signup_check_password, nil, false, class: 'form-check-input' %>
        <%= f.label 'Check Password' %>
      </div>

      <div class="actions">
        <%= f.submit "Create Account", class: 'btn btn-lg' %>
      </div> 

      <% end %>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h2 class="text-center">Or sign up through social:</h2>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="register_social">
          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <%= link_to customer_facebook_omniauth_authorize_path, method: :post, id: "sign_in" do %>  
                  <i class="icon icon-facebook-squared btn-social"></i>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to customer_linkedin_omniauth_authorize_path, method: :post, id: "linkedin_signing" do %>
                  <i class="icon icon-linkedin-squared btn-social"></i>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to customer_twitter_omniauth_authorize_path, method: :post, id: "twitter_sign_in" do %>
                  <i class="icon icon-twitter-squared btn-social"></i>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to customer_google_oauth2_omniauth_authorize_path, method: :post, id: "google_sign_in" do %>
                  <i class="icon icon-gplus-squared btn-social"></i>
              <% end %>
            </li>
          </ul>
      </div>
    </div>

    <div class="col-xs-12 text-center">
      <span>By continuing you are agreeing to the Giftibly Inc.</span>
      <span><%= link_to "Terms of Service", terms_path %>, <%= link_to 'Community Guidelines', '#' %> & <%= link_to "Privacy Policy", privacy_policy_path %>.</span>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $('#new_customer_reg').validator();
    $("#signup_check_password").bind('change', function(){
      if (this.checked){
        $('#customer_password_confirmation').attr('type', 'text');
      }else{
        $('#customer_password_confirmation').attr('type', 'password');
      }
    })
  })
</script>
