<div id="cash_container">
    <div class="container-fluid basket_bg">
          <div class="main_avatar_container">
             <%= link_to user_path(current_user.username) do %>
                 <img src="/images/avatar/avatar8.png" alt="avatar" class="img-responsive avatar">
             <% end %>
          </div>
          <div class="title">
              <h2 class="title_name">Graduating Soon!</h2>
          </div>
    </div>
    <div class="basket_container">
        <div class="tab_info">
            <div class="title">
                <h2 class="title_name">Graduating Soon!</h2>
            </div>
            <div class="website_description col-lg-7 col-md-6 col-sm-6 col-xs-12">
               <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a elementum nisl. Nullam maximus nisl dapibus magna laoreet, ut tempus sapien tristique. Pellentesque aliquam quam quam, eget euismod felis blandit varius. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="col-sm-1"></div>
            <div class="tab_heading_right col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <div class="info">
                    <div>
                        <p>40</p>
                        <p>Likes</p>
                    </div>
                    <div>
                        <p>5</p>
                        <p>Shares</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="two_tab_navigation">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 tab_center">
                <div class="two_tab_container">
                    <div id="tab_one">
                         <a class="active" href="#gifts" data-toggle="tab">Cash Gift</a>
                    </div>

                    <div id="tab_two">
                        <a href="#discussion" data-toggle="tab">Discussion</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <!-- GIFT TAB -->
            <div class="tab-pane basket_tab_content active" id="gifts">
                <!-- Basket Tab PARTIAL -->
                <%= render partial: "shared/baskets/basket_tabs/tab_cash_gift" %>
            </div>

            <!-- DISCUSSION TAB -->
            <div class="tab-pane fade" id="discussion">
                <!-- Basket Tab PARTIAL -->
                <%= render partial: "shared/baskets/basket_tabs/tab_discussion" %>
            </div>
        </div>
    </div>

    <!-- Share Basket POPUP PARTIAL CASH BASKET TODO -->
    <%#= render partial: "shared/popup/popup_share_basket", :basket => @basket %>

    <!--  Create Basket Modal Partial -->
    <%= render partial: "shared/modals/modal_create_basket" %>
</div>


<script type="text/javascript">
    
    //Masonry Plugin
    $container = $('.products');
    $container.imagesLoaded( function () { // image loaded before masonry grid starts 
        $container.masonry({
            itemSelector: '.product-item', // use a separate class for itemSelector, other than .col-
            columnWidth: '.product-sizer',
            percentPosition: true,
        })
    });

    //Edit Collapse on hide  
    $("#editBasket").on('hide.bs.collapse', function (e) {
        $('.remove_gift').addClass('hidden')
        $('.like').show();
        $('.basket_name, .basket_description').fadeIn(400);
        $('a.edit_basket').removeClass('active');
        $('.delete_basket').fadeOut(200);
    })

    //Edit Collapse on show  
    $("#editBasket").on('show.bs.collapse', function (e) {
        $(this).css({"margin-bottom": "50px", "margin-top":"50px"});
        $('.remove_gift').removeClass('hidden')
        $('.like').hide();
        $('.basket_name, .basket_description').fadeOut(200);
        $('a.remove_gift').css({'background': '$main-teal', 'padding': '5px', 'box-shadow': '0px 0px 8px 3px #ecedef'})
        $('a.edit_basket').addClass('active');
        $('.delete_basket').fadeIn(200);
    })
    
    $('.two_tab_navigation a').on('click',function () {
        // remove classes from all
        $("a").removeClass("active");
        // add class to the one we clicked
        $(this).addClass("active");
    })
    
    $('.basket_tabs a:last-of-type').on('click',function () {
        $("#gifts").addClass("fade");
    });
    
    
    $(document).on('turbolinks:load', function() {
        
        $('#tab_one').on('click',function () {
            if($(".edit_btn").hasClass("edit_btn_fade_out")){
                $(".edit_btn").removeClass("edit_btn_fade_out");
                $(".createBasketBtn").removeClass("create_btn_slide_down");
                $(".share_btn").removeClass("share_btn_slide_down");
                $(".like_btn").removeClass("like_btn_slide_down");

                $(".edit_btn").addClass("edit_btn_fade_in");
                $(".createBasketBtn").addClass("create_btn_slide_up");
                $(".share_btn").addClass("share_btn_slide_up");
                $(".like_btn").addClass("like_btn_slide_up");
            }
        });

        $('#tab_two').on('click',function () {     
            $(".edit_btn").removeClass("edit_btn_fade_in");
            $(".createBasketBtn").removeClass("create_btn_slide_up");
            $(".share_btn").removeClass("share_btn_slide_up");
            $(".like_btn").removeClass("like_btn_slide_up");

            $(".edit_btn").addClass("edit_btn_fade_out");
            $(".createBasketBtn").addClass("create_btn_slide_down");
            $(".share_btn").addClass("share_btn_slide_down");
            $(".like_btn").addClass("like_btn_slide_down");
        });
        
        $(".tab-content li").mouseover(function(){
            $(this).find(".closeBtn").css("display", "block");
        });
        $(".tab-content li").mouseleave(function(){
            $(this).find(".closeBtn").css("display", "none");
        });
        
        $("input[name='cash_number']").keyup(function(e){
            var fixed = parseFloat($(this).val());
            if($.isNumeric(fixed) && fixed <= 1000){
                $('.donation_amount form p span').text('$' + fixed.toFixed(2));
                $(this).css('border-color', '#ccc');
                $(this).closest('form').find('.has-error').text('');
            }
            else if(fixed >= 1000){
                $('.donation_amount form p span').text('$0.00');
                $(this).css('border-color', '#a94442');
                $(this).closest('form').find('.has-error').text('Please enter a number less than $1000');
            }

            else{
                $('.donation_amount form p span').text('$0.00');
                $(this).css('border-color', '#a94442');
                $(this).closest('form').find('.has-error').text('Please enter a number');
            }
            if(!$.isNumeric($(this).val())) {
               $('.donation_amount form p span').text('$0.00');
               $(this).css('border-color', '#a94442');
               $(this).closest('form').find('.has-error').text('Please enter a number');
            }
        })
    });

</script>
