
<%if item == 'Gift' %>
    <%  if @gift.customer_id == current_customer.id %>
        <div class="caption_form <%= 'no_display' if @gift.caption.present? %>">
            <%= form_for @gift, url: gift_add_caption_path(@gift.id), method: 'post' do |f| %>
                <%= f.text_area :caption, class: 'form-control input-md textarea-autosize', autocomplete: 'off', placeholder: 'Caption This Wish...' %>
                <%= button_tag ion_icon("arrow-up-c"), type: 'submit', class: 'submit_caption' %>
            <% end %>
        </div>
    <% end %>
    <% if !@gift.caption.present? %>
        <%  if @gift.customer_id != current_customer.id %>
            <p class="comments">Comments:</p>
        <% end %>
    <% else %>
        <div class="comment_caption">
            <span>"<%= @gift.caption %>"</span>
            <%  if @gift.customer_id == current_customer.id %>
                <span class="edit_button">Edit</span>
            <% end %>
        </div>
    <% end %>
<% end %>


<div class="message_container <%= 'no_comments' if product.comments.empty? %>">

    <!--sort_by  -->
    <% if !product.comments.empty? %>
        <% product.comments.reverse_each do |comment| %>
            <%= render comment %>
        <% end %>
    <% end %>

    <div class="reply_discussion">

        <%= form_tag comments_create_path, method: 'patch', remote: true, class: 'comment_form', html: { multipart: true } do %>

        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= text_area_tag :content, nil, required: true, class: 'form-control input-md textarea-autosize wdt-emoji-bundle-enabled wdt-emoji-open-on-colon', autocomplete: "off", placeholder: 'Add comment' %>
        <%= hidden_field_tag :commentable_id, nil, value: nil %>
        <%= hidden_field_tag :commentable_type, nil, value: 'Comment' %>
        <%#= link_to ion_icon("camera", aria_hidden: true), '#', class: 'message_upload' %>
        <%= file_field_tag :file, class: 'hidden' %>
        <%= button_tag ion_icon("arrow-up-c"), type: 'submit', class: 'submit_comment' %>
        <% end %>
    </div>

</div>

<div class="comment_input <%= 'no_caption_owner' if @gift.present? && @gift.customer_id == current_customer.id && !@gift.caption.present? %>">
    <% if item == 'Basket' %>
        <div class="img_discussion">
            <%= image_tag(current_customer.avatar.profile_square.url, alt: 'avatar')%>
        </div>
        <%= form_tag comments_create_path, method: 'patch', remote: true, class: 'comment_form', html: { multipart: true } do %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= text_area_tag :content, nil, required: true, class: 'form-control input-md textarea-autosize wdt-emoji-bundle-enabled wdt-emoji-open-on-colon', autocomplete: "off", placeholder: 'Add comment' %>
            <%= hidden_field_tag :commentable_id, nil, value: @gift.present? ? @gift.id : @basket.id %>
            <%= hidden_field_tag :commentable_type, nil, value: @gift.present? ? 'Gift' : 'Basket' %>
            <%#= link_to ion_icon("camera", aria_hidden: true), '#', class: 'message_upload' %>
            <%= file_field_tag :file, class: 'hidden' %>
            <%= button_tag ion_icon("arrow-up-c"), type: 'submit', class: 'submit_comment' %>
        <% end %>
    <% elsif item == 'Gift' %>

        <div class="comment_actions">
            <% if !(@gift.customer_id == current_customer.id && !@gift.caption.present?) %>
                <div class="img_discussion">
                    <%= image_tag(current_customer.avatar.profile_square.url, alt: 'avatar')%>
                </div>
                <%= form_tag comments_create_path, method: 'patch', remote: true, class: 'comment_form', html: { multipart: true } do %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= text_area_tag :content, nil, required: true, class: 'form-control input-md textarea-autosize wdt-emoji-bundle-enabled wdt-emoji-open-on-colon', autocomplete: "off", placeholder: 'Leave a comment...' %>
                <%= hidden_field_tag :commentable_id, nil, value: product.present? ? product.id : @basket.id %>
                <%= hidden_field_tag :commentable_type, nil, value: product.present? ? 'Gift' : 'Basket' %>
                <%#= link_to ion_icon("camera", aria_hidden: true), '#', class: 'message_upload' %>
                <%= file_field_tag :file, class: 'hidden' %>
                <%= button_tag ion_icon("arrow-up-c"), type: 'submit', class: 'submit_comment' %>
                <% end %>
            <% end %>
        </div>
</div>
<% end %>

