<div class="message">

    <div class="img_discussion">
        <%= link_to image_tag(comment.customer.avatar.profile_square.url, alt: 'avatar'), user_path( comment.customer.username ) %>
    </div>

    <div class="message_details">
        <div class="comment_container">
            <p>
                <span><%= comment.customer.name %></span> <%= emojify(comment.content) %>
            </p>
            <div class="message_stats">
                <% if current_customer.present? %>
                    <%= link_to 'Like', '#', class: 'like', data: { id: comment.id, likable: "Comment" } %>
                    <span>&middot;</span>
                    <%= link_to 'Reply', '#', class: 'reply', data: {user_id: comment.customer.id, user_name: comment.customer.username, comment_id: comment.id} %>
                <% end %>
                <% if comment.likes.present? %>
                    <span class="likes"><%= comment.likes.count %> <%= ion_icon( "android-favorite-outline", aria_hidden: true ) %></span>
                <% end %>

                <span><%= time_ago_in_words( comment.created_at ) %> ago</span>

                <% if current_customer.present? && ( comment.customer_id == current_customer.id ) %>
                    <%= link_to "delete", comments_delete_path(comment.id), remote: true, method: 'patch', class: 'delete_comment' %>
                <% end %>

            </div>
        </div>
    </div>
    <% if ["Gift", "Basket"].include? comment.commentable_type %>
        <div class="reply_container">
            <div id="reply_container_for_<%= comment.id %>">
                <% comment.comments.each do |reply| %>
                    <div class="message_reply">
                        <div class="img_discussion">
                            <%= link_to image_tag(reply.customer.avatar.profile_square.url, alt: 'avatar'), user_path( reply.customer.username ) %>
                        </div>
                        <div class="message_details">
                            <div class="comment_container">
                                <p>
                                    <span> <%= reply.customer.name %> </span> <%= emojify(reply.content) %>
                                </p>
                                <div class="message_stats">
                                    <% if current_customer.present? %>
                                        <%= link_to 'Like', '#', class: 'like', data: { id: reply.id, likable: "Comment" } %>
                                        <span>&middot;</span>
                                        <%= link_to 'Reply', '#', class: 'reply', data: {comment_id: comment.id} %>
                                    <% end %>
                                    <% if reply.likes.present? %>
                                        <span class="likes"><%= reply.likes.count %> <%= ion_icon( "android-favorite-outline", aria_hidden: true ) %> </span>
                                    <% end %>
                                    <span><%= time_ago_in_words( reply.created_at ) %> ago</span>

                                    <% if current_customer.present? && ( comment.customer_id == current_customer.id ) %>
                                        <%= link_to "delete", comments_delete_path(comment.id), remote: true, method: 'patch', class: 'delete_comment' %>
                                    <% end %>

                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

    <% end %>

</div>
