if('<%=@comment.commentable_type %>' == 'Comment'){
  $("#reply_container_for_<%=@comment.commentable_id %>").append("<%= j render(@comment) %>");
} else {
  //modal
  //gifts
  $(".message_container").prepend("<%= j render(@comment) %>");
}

if('<%=@comment.commentable_type %>' == 'Gift'){
  $(".modal_comments_container").prepend("<%= j render(@comment) %>");
 }

$('.reply').unbind('click');

//initiate picker for new comment
wdtEmojiBundle.init('.wdt-emoji-bundle-enabled');
 
//comment auto resize 
var autosize_input = $('.textarea-autosize');
autosize(autosize_input).on('keyup', function(e){
  var keycode = (e.keyCode ? e.keyCode : e.which);
  if (keycode == 13 && $(this).val().trim().length > 0 ) {
    $(this).parent('form').submit();
    //$(this).val('');
    var evt = document.createEvent('Event');
    evt.initEvent('autosize:update', true, false);
    this.dispatchEvent(evt);
  }
});