<div class="product_page_container gift_container">
    <div class="product_bg" style="background-image:url(<%= @basket.banner.url %>);">
        <% if browser.mobile? %>
            <%= render partial: "shared/gifts_variants/gift/product_info" %>
        <% end %>
    </div>
    <div class="main_avatar_container">
        <%= link_to image_tag(@basket.customer.avatar.profile.url, alt: @basket.customer.username + ' - Profile Image'), user_path(@basket.customer.username), class: 'img-responsive avatar' %>
    </div>
    <div class="parallax_container">
        <div class="tab_info">
            <div class="website_description col-lg-5 col-md-4 col-xs-12">
                <h2 class="title_name">
                    <%= link_to basket_view_path(@basket.customer.username, @basket.basket_slug_name) do %>
                        <span><%= @basket.name %></span>
                    <% end %>
                </h2>
                <p class="name"><%= @basket.customer.name %></p>
            </div>
            <% if !browser.mobile? %>
                <div class="col-sm-1"></div>
                <div class="tab_heading_right col-lg-7 col-md-8 col-xs-12">
                    <%= render partial: "shared/gifts_variants/gift/product_info" %>
                </div>
            <% end %>
        </div>
        <%= render partial: "shared/gifts_variants/gift_variant" , locals: {product: @gift} %>
    </div>
</div>

<%= render partial: "shared/modals/modal_destroy_wish" , locals: {product: @gift} %>

<%= render partial: "shared/popup/popup_facebook_share", locals: {
    url: "#{request.protocol}#{request.host}#{gift_view_path(@gift.gift_slug_name)}",
    name: @gift.variant.name,
    image: @gift.variant.product_image,
    description: strip_tags( @gift.variant.description )
} %>

<!-- SEO DATA STRUCTURES -->
<% content_for :seo do %>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org/",
          "@type": "Product",
          "name": "<%= @gift.variant.name %>",
          "image": [
          "<%= @gift.variant.product_image.url %>"
          ],
          "description": "<%= @gift.variant.description.nil? ? '' : @gift.variant.description %>",
          "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "<%= @variant.pretty_price %>",
            "seller": {
              "@type": "Organization",
              "name": "<%= @gift.variant.merchant.name %>"
            }
          }
        }
    </script> 
<% end %>

<%= content_for :ecom do %>
<script type="text/javascript">
    dataLayer.push({
        'ecommerce': {
            'currencyCode': 'USD',                       
            'impressions': [{
            'name': "<%= @gift.variant.name %>",
            'id': "<%= @gift.id %>",
            'price': "<%= @gift.variant.pretty_price %>",
            'brand': "<%= @gift.variant.merchant.name %>",
            'variant': "<%= @gift.variant.color.present? ? "#{@gift.variant.color}" : "none" %>",
            'position': "<%= @gift.variant.id %>"
            }]
        }
    });
</script>
<% end %>

<script type="text/javascript">
    // tabs
    $('.two_tab_navigation a').on('click',function () {
        // remove classes from all
        $("a").removeClass("active");
        // add class to the one we clicked
        $(this).addClass("active");
    })

    $('.tag_list > span').click(function(){
        $(this).next('form').toggleClass('active')
        $('.add_tags, .add_tags_button').toggleClass('active');
        setTimeout(function(){
            $(".add_tags").focus();
        },100);
    });
    setTimeout(function(){
        $('.product-item').addClass('fade-animate');
    }, 500);

        var maxHeight = $(".product_page_description").height();
        var description_height = $('.description_container').height();
        if(maxHeight > description_height){
            $( ".product_description" ).append( '<div id="toggle" class="fade-animate">Show More <i aria_hidden="true" class="ion-chevron-down"></i></div>' );
            $("#toggle").click(function() { //show more/show less
                $("#toggle").toggleClass('active');
                if ($('#toggle').hasClass('active')) {
                    $("#toggle").html('Show Less <i aria_hidden="true" class="ion-chevron-up"></i>');
                    $(".description_container").animate({height:maxHeight + 'px'});
                }
                else {
                    $("#toggle").html('Show More <i aria_hidden="true" class="ion-chevron-down"></i>');
                    $(".description_container").animate({height:description_height + 'px'});
                    <% if browser.mobile? %>
                        $('html, body').animate({
                            scrollTop: $(".product_item_container").offset().top
                        }, 500);
                    <% else %>
                        $('html, body').animate({
                            scrollTop: $(".parallax_container").offset().top - 150
                        }, 500);
                    <% end %>
                }
            });
        };
        $('.add_tags_button').click(function(e){
              e.preventDefault();
              gift_id = <%= @gift.id %>;
              tag_list =  $('.add_tags').val();
              $.ajax({
                  url : '/gift/add-tags',
                  type : 'PATCH',
                  data : {
                    id: gift_id,
                    tags: tag_list
                  },
                  dataType : 'json',
                  success : function(data) {
                        $.each( data.tags, function( key, value ) {
                            $('<a href="#" alt="'+ value +'"><span>#' + value + '</span></a>').hide().prependTo(".tag_list").fadeIn("slow");
                        });
                        $(".add_tags").val('');
                  },
                  error : function(request,error) {
                      console.log('error');
                  }
              });
        });
    
        $(".rating i").click(function(){
            var score = $(this).attr('value');
            $.ajax({
                 url: '/gift/rate',
                 type: 'PATCH',
                 data: {
                   id: <%= @gift.id %>,
                   score: score
                 }
            });
        });

        //Edit quantity button
        $('body').on('click', '.quantity_btn, .quantity_button', function (e) {
            e.preventDefault();
            if($('.quantity_button')[0]){
                $('.quantity_button').addClass('inactive');
                setTimeout(function() {
                  $('.quantity_button').remove();
                }, 400);
            }
            else{
                $('body').append('<button class="quantity_button btn">All Done</button>');
            }
            $('.quantity_button').toggleClass('active');
            $('.gift_qty_container').toggleClass('hidden');
        })

    $(document).on('turbolinks:load', function() {
        
      //Masonry
        $container = $('.products');
          $container.imagesLoaded( function () {
            $container.masonry({
              itemSelector: '.product-item',
              columnWidth: '.product-sizer',
              percentPosition: true
            });
        });
        <% if current_customer == @basket.customer %>
            // RATING SYSTEM
            $(".rating i").mouseover(function(){
                $(".rating i").removeClass('animate_rating');
                $(this).addClass('active animate_rating');
                $(this).removeClass('not_active');
                $(this).prevAll().addClass('active');
                $(this).prevAll().removeClass('not_active');
                $(this).nextAll().addClass('not_active');
                $(this).nextAll().removeClass('active');
            });

            var star1 = 'This would be cool to have.';
            var star2 = 'I\'d be happy to have this.';
            var star3 = 'This is nice!';
            var star4 = 'I\'d be REALLY happy if I got this!';
            var star5 = 'Omg I NEED this!';

            $(".rating i:first-of-type").mouseover(function(){
                $('.rating_text').text(star1);
            });
            $(".rating i:nth-of-type(2)").mouseover(function(){
                $('.rating_text').text(star2);
            });
            $(".rating i:nth-of-type(3)").mouseover(function(){
                $('.rating_text').text(star3);
            });
            $(".rating i:nth-of-type(4)").mouseover(function(){
                $('.rating_text').text(star4);
            });
            $(".rating i:last-of-type").mouseover(function(){
                $('.rating_text').text(star5);
            });

            $(".rating i").mouseleave(function(){
                if($('.rating i').hasClass('rated')){
                    $(".rating .rated").addClass('active');
                    $(".rating .rated").removeClass('not_active');
                    $(".rating .rated").prevAll().addClass('active');
                    $(".rating .rated").prevAll().removeClass('not_active');
                    $(".rating .rated").nextAll().addClass('not_active');
                    $(".rating .rated").nextAll().removeClass('active');
                    $('.rating_text').text('I really want this item');
                    if($('.rating i:first-of-type').hasClass('rated')){
                        $('.rating_text').text(star1);
                    }
                    else if($('.rating i:nth-of-type(2)').hasClass('rated')){
                        $('.rating_text').text(star2);
                    }
                    else if($('.rating i:nth-of-type(3)').hasClass('rated')){
                        $('.rating_text').text(star3);
                    }
                    else if($('.rating i:nth-of-type(4)').hasClass('rated')){
                        $('.rating_text').text(star4);
                    }
                    else if($('.rating i:nth-of-type(5)').hasClass('rated')){
                        $('.rating_text').text(star5);
                    }
                }
                else{
                    $(this).addClass('not_active');
                    $(this).removeClass('active');
                    $(this).prevAll('i').addClass('not_active');
                    $(this).prevAll('i').removeClass('active');
                    $('.rating_text').text('No Rating');
                }
            });
            $(".rating i").click(function(){
                $(this).addClass('active rated');
                $(this).prevAll().removeClass('rated');
                $(this).nextAll().removeClass('rated');
                $(this).removeClass('not_active');
                $(this).prevAll().addClass('active');
                $(this).nextAll().addClass('not_active');
                $(this).nextAll().removeClass('active');
            });

            //instantiate touchspin
            $(".qty").TouchSpin({
                min: 1,
                max: 99
            });
        <% end %>

        //if hash from link
        if(window.location.hash) {
            $('.two_tab_container div a').removeClass('active');
            $('.two_tab_container div a[href="' + window.location.hash + '"]').tab('show').addClass('active');
        }
        //hash changed in address bar
        $(window).on('hashchange', function(e) {
            $('.two_tab_container div a').removeClass('active');
            $('.two_tab_container div a[href="' + window.location.hash + '"]').tab('show').addClass('active');
        });

        $(".default_dropdown .dropdown-menu li").click(function() {
              var selected = $(this).text();
              if (selected.length > 25){
                  selected = selected.substring(0,25)+'...';
                  $('.default_dropdown button span:first-of-type').text(selected);
              }
              else{
                  $('.default_dropdown button span:first-of-type').text(selected);
              }
        });
    })

    // init controller
    var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave", duration: "100%"}});
    new ScrollMagic.Scene()
        .setTween(".product_bg", {y: "300", ease: Linear.easeNone})
        .addTo(controller);
    <% if browser.mobile? %>
        new ScrollMagic.Scene()
            .setTween(".product_bg .info", {y: "-275", ease: Linear.easeNone})
            .addTo(controller);
    <% end %>
    
    var offsetting = -71;
    
    var controller2 = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave"}});
    
    var tween = TweenMax.to(".navbar", .05, {className: "-=profile_nav"});
    new ScrollMagic.Scene({triggerElement: ".parallax_container", offset: offsetting })
        .setTween(tween)
        .addTo(controller2);
    
    //comment auto resize 
    var autosize_input = $('.textarea-autosize');
    autosize(autosize_input).on('keyup', function(e){
      var keycode = (e.keyCode ? e.keyCode : e.which);
      if (keycode == 13 && $(this).val().trim().length > 0 ) {
        $(this).parent('form').submit();
        $(this).val('');
        var evt = document.createEvent('Event');
        evt.initEvent('autosize:update', true, false);
        this.dispatchEvent(evt);
      }
    });
</script>
