
<h2 class="reports_text">Unresolved Reports</h2>
<div class="ga_reports_container">
    <% @unresolved.each do |key, reports| %>
        <h4 class="text-center"><%= key %> Table</h4>
        <% if reports.empty? %>
            <p>No reports to show.</p>
        <% else %>
            <p>Number of unresolved reports: <%= reports.count %> </p>
            <table>
                <thead>
                    <th>Customer ID</th>
                    <th>Report ID</th>
                    <th>Url</th>
                    <% if reports.first.error_type == "reported_issue" %>
                        <th>Note</th>
                    <% end %>
                    <th>Reported Time</th>
                    <th>Resolved?</th>
                </thead>
                <% reports.each do |report| %>
                    <tr>
                        <td><%= report.customer_id %></td>
                        <td><%= report.id %></td>
                        <td><a href="<%= report.url %>" target="_blank"><%=  truncate(CGI.unescapeHTML(report.url), length: 80) %></a></td>
                        <% if report.error_type == "reported_issue" %>
                            <td><%= report.note %></td>
                        <% end %>
                        <td>
                            <span><%= report.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %l:%M%P") %></span>
                        </td>
                        <td>                   
                            <div class="field form-group checkbox checkbox-warning">
                                <%= check_box_tag "report_resolved", report.id, false, class: 'form-check-input'  %>
                                <label></label>
                            </div>
                        </td>
                    </tr>
                <% end %>

            </table>
        <% end %>
    <% end %>
    <a class="submit_button btn">Submit</a>
</div>
<br />
<h2 class="reports_text">Resolved Reports</h2>
<div class="ga_reports_container">
    <% @resolved.each do |key, reports| %>
        <h4><%= key %></h4>
        <% if reports.empty? %>
            <p>No resolved reports.</p>
        <% else %>
            <p>Number of resolved reports: <%= reports.count %></p>
            <% if reports.first.error_type == "reported_issue" %>
                <table class="reported_issue_table">
            <% else %>
                <table>
            <% end %>
                <thead>
                    <th>Customer ID</th>
                    <th>Report ID</th>
                    <th>Url</th>
                    <% if reports.first.error_type == "reported_issue" %>
                      <th>Note</th>
                    <% end %>
                    <th>Reported Time</th>
                    <th>Resolved Time</th>
                    <th>Resolved By</th>
                </thead>
                <% reports.each do |report| %>
                    <tr>
                        <td><%= report.customer_id %></td>
                        <td><%= report.id %></td>
                        <td><a href="<%= report.url %>" target="_blank"><%=  truncate(CGI.unescapeHTML(report.url), length: 80) %></a></td>
                        <% if report.error_type == "reported_issue" %>
                            <td><%= report.note %></td>
                        <% end %>
                        <td>
                            <span><%= report.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %l:%M%P") %></span>
                        </td>
                        <td>
                            <span><%= report.resolved_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %l:%M%P") %></span>
                        </td>
                        <td>
                            <span><%= report.admin.name %></span>
                        </td>
                    </tr>
                <% end %>
            </table>
        <% end %>
    <% end %>
</div>


<script>
    $(".ga_reports_container .submit_button").click(function () {
        
        if ($('input[name="report_resolved"]').is(':checked')) {
            var report_array = [];
            $("input:checkbox[name=report_resolved]:checked").each(function(){
                report_array.push($(this).val());
            });
            $.ajax({
                url      : '/admin/ga_reporting/resolve',
                type     : 'PATCH',
                data     : { reports: report_array },
                dataType : 'json',
                success: function (data) {
                    location.reload();
                },
                error: function(){
                    console.log("Cannot send data");
                }
                
            });
        }
    });
</script>