<div class="admin_dashboard_container">
  <div class="row">
    <div class="col-xs-12 section-header">
      <h2>App Settings</h2>
      <%= link_to "Back", admin_app_settings_path %>
    </div>

    <%= simple_form_for([:admin, @app_settings]) do |f| %>
        <div class="col-xs-12 padded">
          <p>For all % inputs, please enter 4.4% as 4.40 instead of 0.044</p>
          <%= f.input :shipping_flat_rate %>
          <%= f.input :fast_shipping_flat_rate %>      
          <%= f.input :shipping_rate_multiplier %>
          <%= f.input :sales_tax_rate %>
          <%= f.input :service_fee_rate %>
          <%= f.input :stripe_processing_rate %>
          <%= f.input :stripe_per_transaction_fee %>
          <%= f.input :authorization_multiplier %>
        </div>
        <div class="col-xs-12">
          <%= f.button :submit, "Update app settings", class: 'btn btn-lg btn-success' %>
        </div>
      <% end %>
  </div>
</div>