<div class="admin_dashboard_container">
  <div class="row">
    <div class="col-xs-12 section-header">
      <h2>App Settings</h2>
      <%= link_to "Edit", edit_admin_app_setting_path(@app_settings) %>
      <table class="table">
        <thead>
          <tr>
            <td width="60%">Item</td>
            <td width="40%">Value</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Shipping Flat Rate<br>
              <small>Flat rate applied to each giftbox</small>
            </td>
            <td><%=  number_to_currency(@app_settings.shipping_flat_rate, unit: "$") %></td>
          </tr>
          <tr>
            <td>
              Fast Shipping Flat Rate<br>
              <small>Flat rate applied to each giftbox with fast shipping</small>
            </td>
            <td><%=  number_to_currency(@app_settings.fast_shipping_flat_rate, unit: "$") %></td>
          </tr>
          <tr>
            <td>
              Shipping Rate Multiplier Percentage<br>
              <small>Multiply shipping rate by an arbitrary amount</small>
            </td>
            <td><%= @app_settings.shipping_rate_multiplier %> %</td>
          </tr>
          <tr>
            <td>
              Sales Tax Percentage<br>
              <small>Sales tax applied to each sale</small>
            </td>
            <td><%= @app_settings.sales_tax_rate %> %</td>
          </tr>
          <tr>
            <td>
              Giftibly Service Fee Percentage<br>
              <small>Giftibly's service fee applied to the subtotal of each cart</small>
            </td>
            <td><%= @app_settings.service_fee_rate %> %</td>
          </tr>
          <tr>
            <td>
              Stripe Processing Fee Percentage<br>
              <small>Stripe's processing fee (does not include per transaction fee)</small>
            </td>
            <td><%= @app_settings.stripe_processing_rate %> %</td>
          </tr>
          <tr>
            <td>
              Stripe Flat Per Transaction Fee<br>
              <small>Stripe's per transaction fee</small>
            </td>
            <td><%= number_to_currency(@app_settings.stripe_per_transaction_fee, unit: "$")%></td>
          </tr>
          <tr>
            <td>
              Authorization Multiplier Percentage<br>
              <small>Multiplier for card authorization amounts</small>
            </td>
            <td><%= @app_settings.authorization_multiplier %> %</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>