<div id="charity_container">
    <%= render partial: "shared/baskets/basket_body", locals: { basket_type: 'charity'} %>
</div>

<% image_path = @basket.banner.present? ? @basket.banner.url : "#{request.host}#{@basket.banner.url}" %>

<%= render partial: "shared/popup/popup_facebook_share", locals: { 
    url: "#{request.protocol}#{request.host}#{charity_view_path(@basket.customer.username, @basket.id)}", 
    name: @basket.name, 
    image: image_path, 
    description: strip_tags( @basket.description )
} %>

<%= content_for :ecom do %>
<script type="text/javascript">
    dataLayer.push({
        'ecommerce': {
            'currencyCode': 'USD',                       
            'impressions': <%=raw @dataLayer_arr %>
        }
    });
</script>
<% end %>

<script type="text/javascript">
    <% if @basket.customer == current_customer %>
        // avoids auto descovery
        Dropzone.autoDiscover = false;
        //Events Banner upload dropzone
        var charityDropzone = new Dropzone("#events-banner-dropzone", {
          url: "/charity/banner/<%= @basket.id %>",
          dictDefaultMessage: 'Or Drag and Drop File Here',
          paramName: "file",
          maxFiles: 1,
          maxFilesize: 5,
          acceptedFiles: 'image/*,.jpeg,.jpg,.png',
          autoProcessQueue: false,
          clickable: ['.dropzone-clickable *','.dropzone-clickable'],
          accept: function(file, done) {
            // some code
            done();
          },
          success: function (data, response){
            if (response) {
              $('#eventsUpload .dz-cr-image img').cropper('destroy');
              setTimeout(function(){window.location.reload()},1000); 
            }
          },
          addedfile: function(file){
            ImageCropper(file, charityDropzone, '#eventsUpload', true, 'banner')
          },
          maxfilesexceeded: function(file) {
            $('#eventsUpload .dz-cr-image img').cropper('destroy');
            this.removeAllFiles();
            this.addFile(file);
          },           
          dictFileTooBig: function(){
            $('#eventsUpload .dz-cr-image img').cropper('destroy');
            this.removeAllFiles();
            toastr.error('File size too large max 5MB');
          }
        });
    <% end %>
    
    
    $(document).on('turbolinks:load', function() {

      <% if @gifts_arr.present? %>
        connections_autocomplete("search_wishes", <%=raw @gifts_arr %>)
      <% end %>

      $('#edit_basket_'+<%= @basket.id %>).validator();

      $(".tab-content li").mouseover(function(){
        $(this).find(".closeBtn").css("display", "block");
      });
      $(".tab-content li").mouseleave(function(){
        $(this).find(".closeBtn").css("display", "none");
      });

      $("input[name='donate_number']").keyup(function(e){
        var fixed = parseFloat($(this).val());
        if($.isNumeric(fixed) && fixed <= 1000){
          $('.donation_amount form p span').text('$' + fixed.toFixed(2));
          $(this).css('border-color', '#ccc');
          $(this).closest('form').find('.has-error').text('');
        }
        else if(fixed >= 1000){
          $('.donation_amount form p span').text('$0.00');
          $(this).css('border-color', '#a94442');
          $(this).closest('form').find('.has-error').text('Please enter a number less than $1000');
        }

        else{
          $('.donation_amount form p span').text('$0.00');
          $(this).css('border-color', '#a94442');
          $(this).closest('form').find('.has-error').text('Please enter a number');
        }
        if(!$.isNumeric($(this).val())) {
         $('.donation_amount form p span').text('$0.00');
         $(this).css('border-color', '#a94442');
         $(this).closest('form').find('.has-error').text('Please enter a number');
       }
     })
    });

  </script>
