<div class="form-group basket_privacy">
    <div class="radio radio-warning radio-inline">
        <%= f.radio_button :privacy, "public" %> 
        <%= label_tag :age_public, "Public" %>
        <%= ion_icon("android-globe", aria_hidden: true) %>
    </div>
    <div class="radio radio-warning radio-inline">
        <%= f.radio_button :privacy, "friends" %> 
        <%= label_tag :age_friends, "Friends Only" %>
        <%= ion_icon("ios-people", aria_hidden: true) %>
    </div>
    <div class="radio radio-warning radio-inline">
        <%= f.radio_button :privacy, "private" %> 
        <%= label_tag :age_private, "Private" %>
        <%= ion_icon("ios-locked", aria_hidden: true) %>
    </div>
</div>