<label>What Kind of Wish List?</label>
<div class="btn-group basket-btn-group">
    <button type="button" class="btn lifestyle <%= 'active' if basket_type == 'lifestyle' %>" data-basket="lifestyle">Lifestyle</button>
    <button type="button" class="btn event <%= 'active' if basket_type == 'event' %>" data-basket="event">Event</button>
    <button type="button" class="btn charity <%= 'active' if basket_type == 'charity' %>" data-basket="charity">Charity</button>
</div>