<% if basket_type == 'lifestyle' %>
    <%= hidden_field_tag :basket_type, "lifestyle" %>
<% elsif basket_type == 'event' %>
    <%= hidden_field_tag :basket_type, "event" %>
<% elsif basket_type == 'charity' %>
    <%= hidden_field_tag :basket_type, "charity" %>
<% end %>
<div class="form_container">
    <div class="form-group has-feedback">
        <%= f.text_field :name, maxlength: "30", placeholder: "Wish List Name", autocomplete: "off", class: "form-control basket_name", required: true, data: { error: "Missing wish list name" } %>
        <div class="help-block with-errors"></div>
    </div>

    <div class="form-group has-feedback">
        <%= f.text_area :description, placeholder: "Enter some text here to describe your wish list.", class: "form-control basket_description", rows: "8", data: { error: "missing basket description" } %>
        <div class="help-block with-errors"></div>
    </div>
</div>

<%= render partial: "shared/modals/modal_partials/create_basket/basket_privacy", locals:{ f: f } %>

<% if basket_type == 'events' %>
    <input type="textbox" name="invites" class="hidden">
<% end %>

<% if basket_type == 'lifestyle' %>
    <div class="actions">
        <%= link_to 'Change Basket Banner','#lifestyle-upload', class: "btn btn-md", data: { toggle: "collapse"} %>
        <%= f.submit "Create", class: "btn btn-md create_lifestyle" %>
    </div>
<% elsif basket_type == 'event' %>
    <div class="actions">
        <%= link_to 'Change Basket Banner','#event-upload', class: "btn btn-md", data: { toggle: "collapse"} %>
        <%= link_to 'Invite', '#invite_section', data: { toggle: "tab" }, class: 'btn btn-md invite_btn' %>
        <%= f.submit 'Done', class: "btn btn-md create_event hidden" %>
    </div>
<% elsif basket_type == 'charity' %>
    <div class="actions">
        <%= link_to 'Change Basket Banner','#charity-upload', class: "btn btn-md", data: { toggle: "collapse"} %>      
        <%= f.submit 'Create', class: "btn btn-md create_charity" %>
    </div>
<% end %>