<span class="back_close"> <%= ion_icon('chevron-left') %> Back </span>
<div class="dropzone_wrapper">
    <div class="text-center dropzone">
        <div class="dropzone-clickable">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <%= ion_icon("camera") %>
            <h2>Upload Banner Photo</h2>
            <p class="description">Select a custom photo from your files to add a bit of unique personality to your profile.</p>
            <a href="#"  onclick="return false;" class="btn btn-file">Choose File to Upload</a>
             <div class="dz-default dz-message" style="margin: 0px">
                <p class="dropzone_drag_drop">Or Drag and Drop File Here</p>
                <p class="dropzone_file_info">We suggest adding images that are at least <span>1600x450</span> for best display.</p>
            </div>

            <!-- dropzone fallback -->
            <div class="fallback">
                <%= file_field_tag "file", multiple: false %>
            </div>

        </div>
        <div class="stock_banners">
            <h3 class="text-center bottom-20">Banner Image Catalog</h3>
            <div class="default_banners row">
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_arches.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_basket.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_city.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_dock.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_drinks.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_giftbox.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_mist.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_pier.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_sunset.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_temple.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_wedding_1.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
                <div class="col-xs-12">
                    <%= link_to image_tag('/images/default_banner/stock_banner_wedding_2.jpg', alt: 'banner', class: 'img-responsive'), '#lifestyle-upload', data: { toggle: "collapse"} %>
                </div>
            </div> 
        </div>
    </div>
    <%= render partial: "shared/modals/modal_partials/crop_buttons" %>  
</div> 