
<div class="chatboxhead">
  <div class="chatboxtitle">
      <%= link_to @reciever.name, user_path(@reciever.username) %>
  </div>

  <div class="chatboxoptions">
    <%= link_to "X", "#", class: "closeChat",  data: {cid: @conversation.id} %>
  </div>
</div>
<div class="chatboxcontent">
    <ul class="list-unstyled chat">
          <div>
              <% if @messages.any? %>
                  <% @grouping_flag = false %>
                  <%= render @messages %>
              <% end %>
          </div>
    </ul>
</div>
<div class="chatboxinput">

  <%= form_for([@conversation, @message], remote: true, html: { id: "conversation_form_#{@conversation.id}", multipart: true }) do |f| %>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <%= ion_icon("camera", aria_hidden: true, class: 'comment_addimage_btn') %>
      <%= f.file_field :media, class: "btn comment_addimage hidden" %>
      <%= f.text_area :body, class: 'form-control chatboxtextarea input-md textarea-autosize wdt-emoji-bundle-enabled wdt-emoji-open-on-colon', autocomplete: "off", placeholder: 'Add Message', data:{cid: @conversation.id} %>
      <%= ion_icon( "arrow-up-c", class: 'submit_message' ) %>       
  <% end %>
</div>

<%= subscribe_to conversation_path(@conversation) %>

<script type="text/javascript">
  //Initiate Picker with class
  wdtEmojiBundle.init('.wdt-emoji-bundle-enabled');
  $(".chatboxtextarea").keydown(function(e){
      // Enter was pressed without shift key
      if (e.keyCode == 13 && !e.shiftKey)
      {
          // prevent default behavior
          e.preventDefault();
      }
  });

  // autosize 
  var autosize_input = $('.chatboxtextarea');
  autosize(autosize_input);

  // window resize for chatbox
  $(window).on('resize', function(){
    $(".chatbox").each(function(index){
      right_position = index * 310 + 20;
      chatbox_id = $(this).attr('id');
      $('#'+chatbox_id).css({right: right_position +'px'});
    })
  })

  // preview on change trigger
  $("#conversation_form_<%= @conversation.id %> #message_media").change(function(e){
    if (e.target.files && e.target.files[0]) {
      chatBox.filePreview(e, "<%= @conversation.id %>", 'upload', e.target.files[0]);
    }
  })

  $(document).on('click', '.chatboxtextarea', function (event) {
    var messages = $('.new_message');
    var ids = [];
    $.each(messages, function(i, v){
      ids.push($(v).data('messageid'));
    });
    var customer_id = '<%= current_customer.id %>';
    if (messages.length > 0) {
      $.ajax({
        url: '/conversations/<%= @conversation.id %>/messages/read',
        type: 'post',
        data: {
          conversation_id: '<%= @conversation.id %>'
        },
        success: function(data) {
          if(data){
            $('#unread_message_count').html(data);
            $('#unread_message_count').removeClass("hidden");
          }
          else {
            $('#unread_message_count').addClass("hidden");
          }

        },
        error: function(data) {
          console.log(data);
        }
      });

    }
  });

  $('#messageUpload').on('shown.bs.modal', function () {
    $('.chatbox').removeClass('popup')
  });

  $('#messageUpload').on('hidden.bs.modal', function () {
    $('.chatbox').addClass('popup')
  });

  $('.chatbox .wdt-emoji-picker').bind('click', function(){
    $('.wdt-emoji-popup.open').css({top: '500px'})
  });

  // initiate infiniteScroll on chatbox shown 
  var page = <%= @current_page %>;
  function shownChatbox(){
    id = <%= @conversation.id %>;
    chatbox = '#chatbox_<%= @conversation.id %>';
    chatBox.infiniteScroll(chatbox, id, page);
    setTimeout(function(){  
      $("#conversation_form_<%= @conversation.id %> #message_body").focus();  
      $(chatbox+' .chat').scrollTop($('.chat')[0].scrollHeight);
    },100)
  }

   
  $(document).ready(function(){

// check if the previous message was from the same user then hide the avatar
  $.ajax({
     url: '/messages/not_read',
     type: 'get',
     success: function(data) {

      var messages = $('li.other.new_message')

      var last_message_id = $(messages[messages.length -1]).data('cid');

      var last_message_ids = $(messages[messages.length -1]).data('messageid');
     },
     error: function(data) {
         console.log('get msg not read',data);
     }
  });

});
</script>
