<h1>HELLO FROM THE ADMIN WORLD</h1>

<h2>COMPLAINTS</h2>
<% if @complaints.empty? %>
    <p>There are no complaints</p>
<% else %>
    <ul>
        <%= @complaints.each do |complaint| %>
            <li>
            
            </li>
        <% end %>
    </ul>
<% end %>

<h2>API REPORTS</h2>
<% if @reports.empty? %>
    <p>There are no reports</p>
<% else %>
    <ul>
        <%= @reports.each do |report| %>
            <li>
            </li>
        <% end %>
    </ul>
<% end %>
