<div id="cart_instructions_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <div class="modal-dialog padded">
      <ol>
        <li><strong>IMPORTANT:</strong> Make sure your cart on the merchant's site is empty.</li>
        <li>Click "Start"</li>
        <li>Follow the checkout flow process</li>
        <li><strong>IMPORTANT:</strong> Take note the actual subtotal, shipping fees, and taxes while checking out on the merchant site.</li> 
        <li>Click "Complete"</li>
        <li>Enter the actual subtotal, shipping fees and taxes</li>
        <li>Click on "confirm actual amounts" to save and mark the cart's status as "complete"</li>
      </ol>
      <strong>IMPORTANT:</strong> Once you've clicked the "Start" button, the cart will be assigned to you. You must complete the entire process.
    </div>
</div>