<div id="mark_as_complete_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <div class="modal-dialog padded">
      <ol>
        <li>
          When all the merchant carts are completed, click on "Mark shipping order as complete" to make a charge on the customer's selected payment method and remove the shipping order from the queue.
        </li>
        <li>
          <strong>
            IMPORTANT: The charged amount cannot exceed the authorized amount. If the sum of the actual amounts on the merchant carts is higher than the preauthorized amount during the customers' checkout phase, the lower amount will be charged. If this happens consistently, we can increase the padding of the authorized amounts during the checkout phase.
          </strong>
        </li>
      </ol>
    </div>
</div>