<% if shipping_address.present? %>

  <p class="shipping_to">
    <span>Shipping to:</span><br>
    <small class="review_method_text">
        <% if is_own_giftbox?(@giftbox) || shipping_address.owner == current_customer %>
          <%= shipping_address.full_address %>
        <% else %>
          <%= @giftee.name %>'s shipping address
        <% end %>
    </small>
  </p>

<% else %>

  <p class="shipping_to">
    <span>Shipping to:</span><br>
    <small>Please choose a shipping address.</small>
  </p>

<% end %>