<ul class="cart_item_list list-unstyled">
  <% cart_items.each do |item| %>
    <li class="cart_item">

      <div>
          <%= image_tag item.variant.product_image.url, alt: 'cart_item', class: 'img-responsive cart_item_image' %>
      </div>
      <div class="col-sm-5 cart_item_details">
            <p class="cart_item_name">
                <%= item.variant.name %>
            </p>
            <span>
                <%= item.merchant_cart.merchant.name %>
            </span>
            <% if browser.mobile? %>
                <div class="quantity_price">
                    <span class="total_item_price">
                        Qty: <%= item.quantity %>
                    </span>
                    <span class="total_item_price">
                        <%= number_to_currency(item.subtotal) %>
                    </span>
                </div>
            <% end %>
      </div>
      <% if !browser.mobile? %>
          <div class="quantity_price">
              <div class="col-sm-2">
                <span class="total_item_price">
                    Qty: <%= item.quantity %>
                </span>
              </div>
              <div class="col-sm-2">
                <span class="total_item_price">
                    <%= number_to_currency(item.subtotal) %>
                </span>
              </div>
          </div>
      <% end %>
    </li>
  <% end %>
</ul>