<% if payment_method.present? %>
  <p class="payment_method shipping_to">
    <span>Payment method</span>
  </p>
  <div class="col-xs-2">
    <% case payment_method.metadata[:brand].downcase
    when 'visa' %>
      <img src="/images/checkout/visa.png" alt="visa card" class="img-responsive card_img" style="width: 30px;">
    <% when 'mastercard' %>
      <img src="/images/checkout/mastercard.png" alt="master card" class="img-responsive card_img" style="width: 30px;">
    <% when 'american express' %>
      <img src="/images/checkout/amex.png" alt="amex card" class="img-responsive card_img" style="width: 30px;">
    <% when 'discover' %>
      <img src="/images/checkout/discover.png" alt="discover card" class="img-responsive card_img" style="width: 30px;">
    <% else %>
      <%= payment_method.metadata[:brand] %>
    <% end %>
  </div>
  <div class="col-xs-10">
    **** **** **** <%= payment_method.metadata[:last4] %>
  </div>
<% else %>
  <p class="payment_method shipping_to">
    <span>Payment method:</span><br>
    <small class="review_method_text">Validating</small>
    <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
  </p>
<% end %>
