 <div class="modal gift_assistant_modal fade"  tabindex="-1" role="dialog" data-backdrop="static">
    <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        	<div class="modal-body"> 
                <div id="ga_carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item item1 active">
                        <h2>Gift Assistant</h2>
                        <%= image_tag('/images/ga_modal/gift_assistant.jpg', class: 'img-responsive') %>
                        <p>Think of Giftibly.com as a giant wish list where you, your friends and family can create custom wish lists for events like birthdays, holidays, and weddings. Or save all the great products you’re wishing for to a “Lifestyle List.” You set the theme and make the wish, we help your loved ones buy it as a gift!.</p>
                        <a class="btn next opera" data-target="#ga_carousel" data-slide-to="1">Next <%= ion_icon("chevron-right", :aria_hidden => 'true') %></a>
                    </div>
                    <div class="item item2">
                        <h2>Find Your Product</h2>
                        <%= image_tag('/images/ga_modal/product_page.jpg', class: 'img-responsive') %>
                        <p>After you’ve installed the Gift Assistant, you can go to your favorite shopping site online and select an item that you would like to add to one of your lists.</p>
                        <p>Go ahead and select any sizes and colors that you need to. Then, simply click the teal gift icon in the top right of your browser and choose which wish list to place your wish in.</p>
                        <a class="btn prev opera" data-target="#ga_carousel" data-slide-to="0"><%= ion_icon("chevron-left") %> Previous</a>
                        <a class="btn next opera" data-target="#ga_carousel" data-slide-to="2">Next <%= ion_icon("chevron-right", :aria_hidden => 'true') %></a>
                    </div>
                    <div class="item item3">
                        <h2>Customize Your Life</h2>
                        <%= image_tag('/images/ga_modal/create_basket.jpg', class: 'img-responsive') %>
                        <p>Create new wish lists on the fly! Simply type in the name of your new list and hit "Create Wishlist" and you're good to go.</p>
                        <p>Creating a basket through the Gift Assistant will immediately create it on Giftibly so you can make sure your future gifts are organized just the way you like.</p>
                        <a class="btn prev opera" data-target="#ga_carousel" data-slide-to="1"><%= ion_icon("chevron-left") %> Previous</a>
                        <a class="btn next opera" data-target="#ga_carousel" data-slide-to="3">Next <%= ion_icon("chevron-right", :aria_hidden => 'true') %></a>
                    </div>

                    <div class="item item4">
                        <h2>Keep Us Up-To-Date</h2>
                        <%= image_tag('/images/ga_modal/error.jpg', class: 'img-responsive') %>
                        <p>If you see an error message, just click the dark gray button. That will let us know you had an error. This can happen if we don't recognize the website or product page you are on or we're experiencing technical difficulties with our servers. Once you click the button, we'll start working on a fix as soon as we can.</p>
                        <a class="btn prev opera" data-target="#ga_carousel" data-slide-to="2"><%= ion_icon("chevron-left") %> Previous</a>
                        <a class="btn next opera" data-target="#ga_carousel" data-slide-to="4">Next <%= ion_icon("chevron-right", :aria_hidden => 'true') %></a>
                    </div>
                    <div class="item item5">
                        <h2>Help</h2>
                        <%= image_tag('/images/ga_modal/help.jpg', class: 'img-responsive') %>
                        <p>We've added a convenient help menu that you can access from the <%= ion_icon("help-circled", :aria_hidden => 'true') %> symbol in the top right of the extension. Use the help menu to report any unusual problems with the Gift Assistant, switch user accounts, or see more items like the one you are looking at on your favorite shopping site.</p>
                        <a class="btn prev opera" data-target="#ga_carousel" data-slide-to="3"><%= ion_icon("chevron-left") %> Previous</a>
                    </div>
                  </div>
                  <% if browser.chrome? %>
                     <div class="install_container">
                         <a class="install_ga" onclick="getExtension();">
                             <button class="btn"><%= ion_icon("social-chrome", aria_hidden: 'true') %></button>
                             <button class="btn">Install The Gift Assistant</button>
                         </a>
                     </div>
                  <% elsif browser.firefox? %>
                     <div class="install_container">
                         <a class="install_ga" onclick="getExtension();">
                             <button class="btn">
                                 <i class="icon icon-firefox"></i>
                             </button>
                             <button class="btn">Install The Gift Assistant</button>
                         </a>
                     </div>
                  <% elsif browser.opera? %>
                    <div class="opera_btn_container">
                        <p>Install:</p>
                        <div class="install_container">
                             <a class="install_ga" target="_blank" href="https://chrome.google.com/webstore/detail/giftibly-gift-assistant/bjbmlhjpkhbpjflgjecpokjadpnjdibn">
                                 <button class="btn">
                                     <i class="icon icon-opera"></i>
                                 </button>
                                 <button class="btn">Chrome Extension Add-on</button>
                             </a>
                         </div>
                         <div class="install_container">
                             <a class="install_ga" target="_blank" href="https://chrome.google.com/webstore/detail/giftibly-gift-assistant/bjbmlhjpkhbpjflgjecpokjadpnjdibn">
                                 <button class="btn"><%= ion_icon("social-chrome", :aria_hidden => 'true') %></button>
                                 <button class="btn">The Gift Assistant</button>
                             </a>
                         </div>
                     </div>
                <% elsif browser.safari? %>
                    <div class="install_container">
                         <a class="install_ga" href="<%= Rails.configuration.x.safari %>" target="_blank">
                             <button class="btn">
                                 <i class="icon icon-safari"></i>
                             </button>
                             <button class="btn">Install The Gift Assistant</button>
                         </a>
                    </div>
                <% end %> 
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#ga_carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#ga_carousel" data-slide-to="1"></li>
                    <li data-target="#ga_carousel" data-slide-to="2"></li>
                    <li data-target="#ga_carousel" data-slide-to="3"></li>
                    <li data-target="#ga_carousel" data-slide-to="4"></li>
                  </ol>
                </div>
        	</div>
        </div>
    </div>
</div>


<script>
    <% if browser.chrome? %>
        function getExtension() {

            function extensionFailed(reason) {
                console.log("extension Install Failed:", reason);
            }

            function extensionInstalled() {
                location.reload();
            };
            chrome.webstore.install('https://chrome.google.com/webstore/detail/bjbmlhjpkhbpjflgjecpokjadpnjdibn', extensionInstalled, extensionFailed);
        };
        
    <% elsif browser.firefox? %>
        function getExtension() {
            $('.install_ga').attr('href', '<%= Rails.configuration.x.firefox %>');
        };
    <% end %>
</script>