<div class="modal fade" id="destroy_wish_modal" tabindex="-1" role="dialog" data-backdrop="static">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal_wrapper">
                    
                    <div class="text-center">
                        <h3><%=@gift.variant.name%>
                        </h3>
                    </div>
                    <div class="text-center">
                        <p>Are You Sure you want to delete this Wish?</p>
                        <p>This action cannot be undone.</p>
                    </div>
                    <div class="actions text-center">
                        <%= link_to 'Just Kidding!', '#', class: "btn btn-sm", data: { dismiss: "modal"} %>
                        <%= link_to "Yes, Delete Wish", basket_remove_path(@gift.variant.id, basket_id: @gift.basket.id), data: {remote: true, method: "delete"},  class: "btn btn-sm remove_gift" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
