<div class="modal deactivate_modal center_modal fade" id="deactivate_account_modal" tabindex="-1" role="dialog" data-backdrop="static">
    <% if browser.mobile? %>
        <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <% end %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <%= svg 'warning' %>
                    <p>Last chance are you sure you want to deactivate account?</p>
                </div>
            </div>
            <div class="modal-footer">
                <%= link_to 'Just Kidding!', '#', class: "btn btn-default btn-md", data: { dismiss: "modal"} %>  
                <%= link_to 'Yes Deactivate my Account', customer_deactivate_path, remote: true, method: 'delete', class: "btn btn-danger btn-md" %>
            </div>
        </div>
    </div>
</div>


<script>
    if($(window).width() >  480){
        $('button[data-target="#deactivate_account_modal"]').click(function(){
            setTimeout(function(){
                $('.modal-backdrop').css('opacity', 1);
            }, 200)
        });
        $('.btn[data-dismiss="modal"]').click(function(){
            $('.deactivate_modal').css('display', 'none');
            $('.modal-backdrop').css('opacity', 0);       
        });
    }
</script>