<div class="modal fade center_modal" id="login_modal" role="dialog" data-backdrop="static">
    <% if browser.mobile? %>
        <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <% end %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                
                <div class="form-container">
                    <div class="col-sm-12 text-center">
                        <%= svg('logo') %>
                    </div>
                    <h2 class="welcome_back text-center">Welcome Back</h2>
                    <div class="col-xs-12 bottom-10">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="field form-group username has-feedback">
                                <%= f.text_field :login, autofocus: true, required: true, class: 'form-control input-lg', placeholder: 'Enter Email or Username' %>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="field form-group has-feedback">
                                <%= f.password_field :password, required: true, class: 'form-control input-lg', placeholder: 'Enter Password' %>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="field form-group checkbox checkbox-warning">
                                <%= check_box_tag :login_check_password, nil, false, class: 'form-check-input' %>
                                <%= f.label 'Check Password' %>
                                <%= link_to "Forgot Password?", new_customer_password_path %>
                            </div>

                            <div class="actions">
                                <%= f.submit "Login", :class=> 'btn btn-lg' %>
                            </div>
                        <% end %>
                    </div>

                    <h2 class="text-center">Or Login with Social:</h2>
                    <div class="social-container">
                        <div class="col-xs-12">
                            <div class="icon">
                                <%= link_to customer_facebook_omniauth_authorize_path, method: :post, id: "sign_in" do %>  
                                    <i class="icon icon-facebook-squared btn-social"></i>
                                <% end %>
                            </div>
                            <div class="icon">
                                <%= link_to customer_linkedin_omniauth_authorize_path, method: :post, id: "linkedin_signing" do %>
                                    <i class="icon icon-linkedin-squared btn-social"></i>
                                <% end %>
                            </div>
                            <div class="icon">
                                <%= link_to customer_twitter_omniauth_authorize_path, method: :post, id: "twitter_sign_in" do %>
                                    <i class="icon icon-twitter-squared btn-social"></i>
                                <% end %>
                            </div>
                            <div class="icon">
                                <%= link_to customer_google_oauth2_omniauth_authorize_path, method: :post, id: "google_sign_in" do %>
                                    <i class="icon icon-gplus-squared btn-social"></i>
                                <% end %>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <span>By continuing, you agree to Giftibly’s<br><%= link_to "Terms of Service", terms_path %> &amp; <%= link_to "Privacy Policy", privacy_policy_path %></span>
                        </div>
                    </div>                  
                </div><!-- FORM CONTAINER -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    //form validator
      $('#login_modal').on('show.bs.modal', function(){
        $('#login_modal #new_customer').validator();
      })
      $("#login_check_password").bind('change', function(){
        if (this.checked){
          $('#new_customer #customer_password').attr('type', 'text');
        }else{
          $('#new_customer #customer_password').attr('type', 'password');
        }
      })
  })
    
    if($(window).width() >  480){
       $('[href="#login_modal"]').click(function(){
           $('.center_modal .modal-dialog').css({'left':'0vw'});
           $('.center_modal .modal-dialog').css('opacity', '1');
       });
       $('body').on('click', '.center_modal[data-backdrop="static"]', function (e){
           if($(e.target).is('.modal')){
               $('#login_modal .modal-dialog').css('left', '30vw');
               $('#login_modal .modal-dialog').css('opacity', '0');
               var this_object = $(this)
               setTimeout(function(){
                   this_object.modal('hide');
               }, 500)
           }
       });
    }
</script>
