<div id="pymk_modal" class="modal fade"  tabindex="-1" role="dialog" data-backdrop="static">
    <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>People You Might Know</p>
                <div class="pymk_modal_container">
                    <% if current_customer.oauth_credentials.present? && current_customer.facebook_connected? && current_customer.facebook_friends.count > 0 %>
                        <% current_customer.facebook_friends.each do |connection| %>
                            <%= render partial: "shared/profile/connections/connections", locals: {connection: connection, friend_flag: true, notifications: "no_slide"} %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>