<div class="modal deactivate_modal fade" id="social_remove" tabindex="-1" role="dialog" data-color="white">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <%= svg 'warning' %>
                    <p>Are you sure you want to disconnect from<br><strong>Facebook</strong></p>
                </div>
            </div>
            <div class="modal-footer">
                <%= link_to 'Just Kidding!', '#', class: "btn btn-default btn-md", data: { dismiss: "modal"} %>  
                <%= link_to 'Yes Disconnect', '/oauth/disconnect?connection=facebook&for_message=facebook', remote: true, method: 'delete', class: "btn btn-danger btn-md" %>
            </div>
        </div>
    </div>
</div>