    <div class="modal create_modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <%= render partial: "shared/modals/modal_partials/close_btn" %>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="createBasketMask default_baskettype <%= 'ios_mobile' if (browser.safari? && browser.mobile?) %> <%= "active" if (defined? tab).nil? %>" id="lifestyle">
                            <img src="/images/events/createbasket_default.jpg" alt="Lifestyle Basket Banner" class="create_basket_image">
                                <%= form_for Basket.new, url: basket_create_path do |f| %> 
                                    <div class="fade collapse" id="lifestyle-upload">
                                        <%= render partial: "shared/modals/modal_partials/create_basket/stock_banner" %>
                                    </div>
                                    <%= render partial: "shared/modals/modal_partials/create_basket/basket_buttons", locals:{ basket_type: 'lifestyle'} %>
                                    <p>This is a new Wish List! You can customize the wish list photo, title and description. Once you’re done, you can add additional items to this wish list by clicking on the grey icons.</p>

                                    <%= render partial: "shared/modals/modal_partials/create_basket/create_bottom", locals: {basket_type: 'lifestyle', f: f} %>
                                <% end %>
                        </div>

                        <div class="createBasketMask <%= 'ios_mobile' if (browser.safari? && browser.mobile?) %> <%= "active" if (defined? tab) && tab == "event" %>" id="event">
                            <img src="/images/events/createbasket_event.jpg" alt="Event Basket Banner" class="create_basket_image">
                            <%= form_for Basket.new, class: 'dropzone', multipart: true, url: basket_create_path do |f| %>
                                <div class="fade collapse" id="event-upload">
                                    <%= render partial: "shared/modals/modal_partials/create_basket/stock_banner" %>
                                </div>
                                <div class="invite_friends">
                                    <%= render partial: "shared/modals/modal_partials/create_basket/basket_buttons", locals:{ basket_type: 'event'} %>
                                    <%= hidden_field_tag :invites, nil %>
                                    <div id="modal_create_forms">
                                        <div class="form-group has-feedback">
                                            <%= text_field_tag :location, nil, class: 'form-control input-sm event_address', placeholder: 'Event Location', data: {error: 'missing event location'}, required: true %>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    <div class='input-group date date-time-picker'>
                                        <%= text_field_tag :date, nil, class: 'form-control input-sm date-time-picker', required: true, placeholder: 'Event Date', data: {error: 'missing event date'} %>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                    <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                               <div class="invite_section" style="display: none;">
                                    <div class="back_button">
                                        <%= ion_icon('chevron-left') %> Back
                                    </div>
                                    <label>Invite People</label>
                                    <div class="inner-addon left-addon">
                                        <i class="glyphicon glyphicon-search"></i>
                                        <input type="text" name="invite_search" class="form-control input-md" placeholder="search" />
                                    </div>
                                    <div class="list-unstyled">
                                        <% current_customer.connections.each do |connection| %>
                                        <li class="list-group-item" data-connection="<%= connection.id %>">
                                            <%= image_tag connection.avatar.profile_square.url, alt: 'avatar' %>
                                            <span><%= connection.name %></span>
                                            <%= ion_icon("ios-checkmark", :aria_hidden => 'true', :class=> 'pull-right hidden') %>
                                        </li>
                                        <% end %>
                                    </div>
                                </div>

                                <%= render partial: "shared/modals/modal_partials/create_basket/create_bottom", locals: {basket_type: 'event', f: f} %>
                            <% end %>
                        </div>

                        <div class="createBasketMask <%= 'ios_mobile' if (browser.safari? && browser.mobile?) %> <%= "active" if (defined? tab) && tab == "charity" %>" id="charity">
                            <img src="/images/events/createbasket_charity.jpg" alt="Charity Basket Banner" class="create_basket_image">
                            <%= form_for Basket.new, class: 'dropzone', multipart: true, url: basket_create_path do |f| %>
                                <div class="fade collapse" id="charity-upload">
                                    <%= render partial: "shared/modals/modal_partials/create_basket/stock_banner" %> 
                                </div>
                                <%= render partial: "shared/modals/modal_partials/create_basket/basket_buttons", locals:{ basket_type: 'charity'} %>
                                <div id="modal_create_forms">
                                    <div class="form-group">
                                        <label>Enter URL of Charity</label>
                                        <%= text_field_tag :url, nil, class: "form-control input-sm", placeholder: "http://giftibly.com" %>
                                    </div>
                                </div>
                                <%= render partial: "shared/modals/modal_partials/create_basket/create_bottom", locals: {basket_type: 'charity', f: f} %>
                            <% end %>
                        </div>

            </div> <!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">

    // avoids auto descovery
    Dropzone.autoDiscover = false;

    var lifestyleDropzoneOptions = {
          paramName: "file",
          maxFiles: 1,
          maxFilesize: 5,
          maxThumbnailFilesize: 5,
          acceptedFiles: 'image/*,.jpeg,.jpg,.png',
          autoProcessQueue: false,
          clickable: ['#lifestyle .dropzone-clickable *','#lifestyle .dropzone-clickable'],
          init: function() {
            var lifestyleDropzone = this;

            $(".create_lifestyle").click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                if (!$(this).hasClass("disabled")) {
                    if (lifestyleDropzone.getQueuedFiles().length > 0){                        
                        lifestyleDropzone.processQueue();  
                    } else {      
                    $("#lifestyle form").trigger('submit.rails');   
                    }   
                }
            }); 
            },
            accept: function(file, done) {
                // some code
                done();
            },
            success: function (data){
               if(data){
                window.location.reload();
               }
            },
            addedfile: function(file){
                ImageCropper(file, lifestyleDropzone, '.create_modal', false, 'banner')
            },
            maxfilesexceeded: function(file) {
                $('.create_modal .dz-cr-image img').cropper('destroy');
                this.removeAllFiles();
                this.addFile(file);
            },
            dictFileTooBig: function(){
                $('.create_modal .dz-cr-image img').cropper('destroy');
                this.removeAllFiles();
                toastr.error('File size too large max 5MB');
            }
    };


    var eventDropzoneOptions = {
              paramName: "file",
              maxFiles: 1,
              maxFilesize: 5,
              maxThumbnailFilesize: 5,
              acceptedFiles: 'image/*,.jpeg,.jpg,.png',
              autoProcessQueue: false,
              clickable: ['#event .dropzone-clickable *','#event .dropzone-clickable'],
              init: function() {
                var eventDropzone = this;

                $(".create_event").click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    if (!$(this).hasClass("disabled")) {
                        if (eventDropzone.getQueuedFiles().length > 0){                        
                            eventDropzone.processQueue();  
                        } else {      
                        $("#event form").trigger('submit.rails');   
                        }   
                    }else{
                        $('.invite_friends, .invite_section').toggle();
                    }
                }); 
                },
                accept: function(file, done) {
                    // some code
                    done();
                },
                success: function (data){
                   if(data){
                    window.location.reload();
                   }
                },
                addedfile: function(file){
                    ImageCropper(file, eventDropzone, '.create_modal', false, 'banner')
                },
                maxfilesexceeded: function(file) {
                    $('.create_modal .dz-cr-image img').cropper('destroy');
                    this.removeAllFiles();
                    this.addFile(file);
                },
                dictFileTooBig: function(){
                    $('.create_modal .dz-cr-image img').cropper('destroy');
                    this.removeAllFiles();
                    toastr.error('File size too large max 5MB');
                }
        };



        var charityDropzoneOptions = {
          paramName: "file",
          maxFiles: 1,
          maxFilesize: 5,
          maxThumbnailFilesize: 5,
          acceptedFiles: 'image/*,.jpeg,.jpg,.png',
          autoProcessQueue: false,
          clickable: ['#charity .dropzone-clickable *','#charity .dropzone-clickable'],
          init: function() {
            var charityDropzone = this;
            $(".create_charity").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                if (!$(this).hasClass("disabled")) {
                    if (charityDropzone.getQueuedFiles().length > 0){  
                        charityDropzone.processQueue();  
                    } else {  
                        $("#charity form").trigger('submit.rails');
                    }   
                }  
            }); 
            },
            accept: function(file, done) {
                // some code
                done();
            },
            success: function (data){
               if(data){
                window.location.reload();
               }
            },
            addedfile: function(file){
                ImageCropper(file, charityDropzone, '.create_modal', false, 'banner')
            },
            maxfilesexceeded: function(file) {
                $('.create_modal .dz-cr-image img').cropper('destroy');
                this.removeAllFiles();
                this.addFile(file);
            },
            dictFileTooBig: function(){
                $('.create_modal .dz-cr-image img').cropper('destroy');
                this.removeAllFiles();
                toastr.error('File size too large max 5MB');
            }
    };        

    var eventDropzone = new Dropzone('#event #new_basket', eventDropzoneOptions);
    var charityDropzone = new Dropzone('#charity #new_basket', charityDropzoneOptions);
    var lifestyleDropzone = new Dropzone('#lifestyle #new_basket', lifestyleDropzoneOptions);

    //invite Button
    $(".invite_btn").on('click', function(e){
        e.preventDefault();
        $('.invite_btn').addClass('hidden');
        $('.create_event').removeClass('hidden');
        $('.invite_friends').hide();
        $('.invite_section').show();
        $('.form_container').hide(); 
    });
    
    $('.invite_section .back_button').click(function(){
        $('.invite_friends').show();
        $('.invite_section').hide();
        $('.form_container').show();
        $('.create_event').addClass('hidden');
        $('.invite_btn').removeClass('hidden');
    });

    $(document).on('turbolinks:load', function() {
        $(".event_address").geocomplete().bind("geocode:result", function(event, result){});
        $('.create_modal').on('hidden.bs.modal', function () {
            $('.invite_friends').show(); 
            $('.invite_section').hide();
            $('#event-upload, #charity-upload, #lifestyle-upload, #cash-upload').collapse('hide');
            $('.invite_btn').removeClass('hidden');
            $('.create_event').addClass('hidden');
        })
        $('.create_modal').on('show.bs.modal', function () {
            $('.create_modal #lifestyle #new_basket').validator();
            $('.create_modal #event #new_basket').validator();
            $('.create_modal #charity #new_basket').validator();
            $('.create_modal #cash #new_basket').validator();
        })
    })
    
    var invite_list = [];
    $('.invite_section li').on('click', function(){
        $(this).toggleClass('selected');
        $(this).find('i').toggleClass('hidden');
        val = $(this).data('connection');
        if ($(this).hasClass('selected')) {
          invite_list.push(val)
        }else{
          remove(val,invite_list)
        }
        function remove(item, invite_list){
          for (var i=0;i<invite_list.length;i++){
            if (invite_list[i]==item){
              invite_list.splice(i,1);
              break;
            }
          }  
        }
        //updates input invites
        $('input[name="invites"]').val(JSON.stringify(invite_list))
    })


    $('.create_modal .default_banners a').on('click', function(){
        toastr.success('Stock banner selected');
        image_path = $(this).find('img').attr('src');
        form = $(this).parents('.modal_section').find('#new_basket');
        if ($('input#default_banner').length) {
            $('input#default_banner').val(image_path);
        }else{
             $('<input>').attr({ type: 'hidden', id: 'default_banner', name: 'default_banner', value: image_path}).appendTo(form);
        }
    })


    //Autocomplete Options
    var inviteSearch = {
        data: [],
        list: {
          maxNumberOfElements: 5,
          match: {
            enabled: true
        },
        sort: {
            enabled: true
        },
        onClickEvent: function() {
            filterInvites()
        }   
        }
    };

    $(".invite_section .list-group-item span").each(function(){
      inviteSearch.data.push($(this).text());
    })
    
    // Makes autocomplete
    $("input[name='invite_search']").easyAutocomplete(inviteSearch);

    // Key up filter
    $("input[name='invite_search']").keyup(function(){

        // shows clear button on key up
        $('.searchclear').toggle(Boolean($(this).val()));

        // Retrieve the input field text and reset the count to zero
        var filter = "(?:^|\\s)" + $(this).val(), itemsFound = 0;

        // Loop through each basket
        $(".invite_section .list-group-item").each(function(){
                // If the list item does not contain the text phrase fade it out
                if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                    $(this).closest('.list-group-item').fadeOut();
                // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).closest('.list-group-item').show();
                itemsFound++;
            }
        });

    });

    // Click filter
    function filterInvites(){
        val = $("input[name='invite_search']").val();
        $(".invite_section .list-group-item span").each(function(){
            if (val !== $(this).text()) {
                $(this).closest('.list-group-item').fadeOut();
            }else{
             $(this).closest('.list-group-item').show();
         }
     })
    }
   
 </script>
