<div id="avatarUpload" class="modal fade"  tabindex="-1" role="dialog" data-backdrop="static">
    <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="dropzone_wrapper">
                    <form id="avatar-dropzone" class="dropzone text-center" enctype="multipart/form-data">
                        <div class="dropzone-clickable" style="border-bottom: none;">
                            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                            <%= ion_icon("camera", :aria_hidden => 'true') %>
                            <h2>Upload Profile Photo</h2>
                            <p>Select a photo of you that your friends and connections will recognize. They will need to see your face to find your profile</p>
                            <a href="#"  onclick="return false;" class="btn btn-file">Choose File to Upload</a>
                            <div class="dz-default dz-message" style="margin: 0px">
                                <p class="dropzone_drag_drop">Or Drag and Drop File Here</p>
                                <p class="dropzone_file_info">We suggest adding images that are at least <span>400x400</span> for best display.</p>
                            </div>
                            <!-- dropzone fallback -->
                            <div class="fallback">
                                <input name="file" type="file"/>
                            </div> 

                        </div>       
                    </form>
                    <%= render partial: "shared/modals/modal_partials/crop_buttons" %>  
                </div>
            </div>
        </div>
    </div>
</div>

