<div id="emailChange" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">

    <%= render partial: "shared/modals/modal_partials/close_btn" %>

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="password_varify" style="<%= browser.mobile? ? 'top: 60%;' : '' %>">
                <%= form_for current_customer, remote: true, url: profile_verify_path, method: :patch do |f| %>
                    <div class="form-group text-center">
                        <label for="password_varify">Enter password to update email address</label>
                        <%= password_field_tag :password_varify, nil, class: "form-control input-lg", placeholder: "Enter password", data: { error: "missing password" }, required: true %>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group text-center top-20">
                    <%= f.submit "Submit", class: "btn btn-md" %>
                    </div>
                <% end %>
                </div> 

                <div id="change_email_wrapper" style="<%= browser.mobile? ? 'top: 60%;' : '' %>"></div> 
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#emailChange').on('hidden.bs.modal', function () {
        $('#emailChange .password_varify').show();
        $('#emailChange #password_varify').val('');
        $('#change_email_wrapper form').remove();
    });
    $('.password_varify form').validator();
</script>