<div class="modal fade" id="messageImage" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= link_to 'X', '#', class: "closeBtn", data: { dismiss: "modal"} %>
        <img src=" " class="message_image">
      </div>
    </div>
  </div>
</div>