<div class="modal upcoming_birthdays_modal fade"  tabindex="-1" role="dialog" data-color="overlay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="balloon_container">
               <%= image_tag '/images/events/baloons.png', alt:'may_event', class: 'baloons' %>
           </div>

           <div class="modal-header">
        		<h2 class="modal-title text-center">Upcoming Birthdays</h2>
        		<p class="modal-title-2 text-center">Help your friends celebrate!</p>
        	</div>

        	<div class="modal-body">


                <% @birthdays.each do |customer| %>

                 <div class="birthday_details">
                    <div class="col-sm-2">
                        <%= link_to customer.username do %>
                         <%= image_tag customer.avatar.profile_square.url, :alt =>'avatar', :class=>'img-responsive' %> 
                        <% end %>
                    </div>
                    <div class="col-sm-10 birthday_modal_content">
                        <h2> <%= link_to customer.name, user_path( customer.username )  %></h2>
                        
                        <% if customer.birthday.blank?%>
                            <h3> Birth date missing </h3>
                        <% else %>
                            <h3><%= customer.birthday.strftime("%B %e %Y")%></h3>
                        <% end %> 

                        <p>We recomend one of these gifts for <%= customer.username %>:</p>
                    </div>
                </div>

                <div class="birthday_tiles">
                <!-- if no gifts in basket -->
                <% if customer.recent_gifts.blank?%>
                
                <p class="text-center">NO GIFTS TO SHOW</p>

                <div class="col-xs-12 text-center top-25">
                    <button class="btn btn-lg create_event" data-toggle="modal" data-target=".create_modal">
			<%= ion_icon("ios-calendar-outline", :aria_hidden => 'true') %> or Create an Event
		    </button>
                </div>
                
                <!-- if gifts present in basket -->
                <% else %>
               
                    <% customer.recent_gifts.each do |gift| %>
                        <%= render partial: "shared/tiles/mini_gift_tile", locals: { gift: gift } %>
                    <% end %>

                    <div class="col-xs-12 text-center top-25">
                        <button class="btn btn-lg create_event" data-toggle="modal" data-target=".create_modal"><%= ion_icon("ios-calendar-outline", :aria_hidden => 'true') %> or Create an Event</button>
                    </div>

                <% end %>


                </div>

                <% end %> 

            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    //mini tile goes to product page 
    $('.miniTile').on('click', function(){
        url = '/products/'+$(this).data('value');
        window.location = url;
    });

    //create modal opens in event tab
    $('.create_event').on('click', function(){
        $('.create_modal #lifestyle').hide(); 
        $('.create_modal #event').show();
    });
    $('.birthday_tiles .mask_upper').mouseover(function(){
        $(this).find('.ellipsisIcon').css("display", "block");
    });
        
    $('.birthday_tiles .mask_upper').mouseleave(function(){
        $(this).find('.ellipsisIcon').css("display", "none");
    })
</script>

