<div id="eventsUpload" class="modal fade"  tabindex="-1" role="dialog" data-backdrop="static">
    <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="dropzone_wrapper">
                    <form id="events-banner-dropzone" class="dropzone text-center" enctype="multipart/form-data">
                        <div class="dropzone-clickable">
                            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                            <%= ion_icon("camera", :aria_hidden => 'true') %><br>
                            <% if @basket.lifestyle? %>
                            <h2>Upload Wish List Banner Photo</h2>
                            <% elsif @basket.event? %> 
                            <h2>Upload Event Banner Photo</h2>
                            <% elsif @basket.charity? %> 
                            <h2>Upload Charity Event Banner Photo</h2>
                            <% elsif @basket.cash? %>
                            <h2>Upload Cash Event Banner Photo</h2>
                            <% end %>
                            <p>Select a custom photo from your files to add a bit of unique personality to your Wish List.</p>

                            <a href="#"  onclick="return false;" class="btn btn-file">Choose File to Upload</a>
                            <div class="dz-default dz-message" style="margin: 0px">
                                <% if !browser.mobile? %>
                                    <p class="dropzone_drag_drop">Or Drag and Drop File Here</p>
                                    <p class="dropzone_file_info">We suggest adding images that are at least <span>1600x450</span> for best display.</p>
                                <% end %>
                            </div>
                            <!-- dropzone fallback -->
                            <div class="fallback">
                                <input name="file" type="file"/>
                            </div> 

                             
                        </div>
                        <div class="stock_banners">
                            <h3 class="text-center">Basket Banner Catalog</h3>
                            <div class="default_banners row">
                                <div class="col-xs-12">
                                    <% if @basket.event? %>
                                        <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_arches.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_arches.jpg" alt="Default Banner Arch" />
                                        <% end %>
                                    <% elsif @basket.charity? %>
                                        <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_arches.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_arches.jpg" alt="Default Banner Arch" />
                                        <% end %>
                                    <% elsif @basket.lifestyle? %>
                                        <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_arches.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_arches.jpg" alt="Default Banner Arch" />
                                        <% end %>
                                    <% end %>
                                </div>

                                <div class="col-xs-12">
                                   <% if @basket.event? %>
                                       <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_basket.jpg'), remote: true, method: 'post' do %>
                                           <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_basket.jpg" alt="Default Banner Basket" />
                                       <% end %>
                                   <% elsif @basket.charity? %>
                                        <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_basket.jpg'), remote: true, method: 'post' do %>
                                           <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_basket.jpg" alt="Default Banner Basket" />
                                       <% end %>
                                   <% elsif @basket.lifestyle? %>
                                        <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_basket.jpg'), remote: true, method: 'post' do %>
                                           <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_basket.jpg" alt="Default Banner Basket" />
                                       <% end %>
                                   <% end %>
                               </div>

                               <div class="col-xs-12">
                                <% if @basket.event? %>
                                    <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_city.jpg'), remote: true, method: 'post' do %>
                                        <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_city.jpg" alt="Default Banner City" />
                                    <% end %>
                                <% elsif @basket.charity? %>
                                    <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_city.jpg'), remote: true, method: 'post' do %>
                                        <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_city.jpg" alt="Default Banner City" />
                                    <% end %>
                                <% elsif @basket.lifestyle? %>
                                    <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_city.jpg'), remote: true, method: 'post' do %>
                                        <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_city.jpg" alt="Default Banner City" />
                                    <% end %>
                                <% end %>
                                </div>

                                <div class="col-xs-12">
                                    <% if @basket.event? %>
                                        <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_dock.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_dock.jpg" alt="Default Banner Dock" />
                                        <% end %>
                                    <% elsif @basket.charity? %>
                                        <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_dock.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_dock.jpg" alt="Default Banner Dock" />
                                        <% end %>
                                    <% elsif @basket.lifestyle? %>
                                        <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_dock.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_dock.jpg" alt="Default Banner Dock" />
                                        <% end %>
                                    <% end %>
                                </div>

                                <div class="col-xs-12">
                                    <% if @basket.event? %>
                                        <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_drinks.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_drinks.jpg" alt="Default Banner Drinks" />
                                        <% end %>
                                    <% elsif @basket.charity? %>
                                        <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_drinks.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_drinks.jpg" alt="Default Banner Drinks" />
                                        <% end %>
                                    <% elsif @basket.lifestyle? %>
                                        <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_drinks.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_drinks.jpg" alt="Default Banner Drinks" />
                                        <% end %>
                                    <% end %>
                                </div>

                                <div class="col-xs-12">
                                    <% if @basket.event? %>
                                        <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_giftbox.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_giftbox.jpg" alt="Default Banner Giftbox" />
                                        <% end %>
                                    <% elsif @basket.charity? %>
                                        <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_giftbox.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_giftbox.jpg" alt="Default Banner Giftbox" />
                                        <% end %>
                                    <% elsif @basket.lifestyle? %>
                                        <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_giftbox.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_giftbox.jpg" alt="Default Banner Giftbox" />
                                        <% end %>
                                    <% end %>
                                </div>

                                <div class="col-xs-12">
                                    <% if @basket.event? %>
                                        <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_mist.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_mist.jpg" alt="Default Banner Rocks Sunset" />
                                        <% end %>
                                    <% elsif @basket.charity? %>
                                       <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_mist.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_mist.jpg" alt="Default Banner Rocks Sunset" />
                                        <% end %>
                                    <% elsif @basket.lifestyle? %>
                                       <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_mist.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_mist.jpg" alt="Default Banner Rocks Sunset" />
                                        <% end %>
                                    <% end %>
                                </div>

                                <div class="col-xs-12">
                                    <% if @basket.event? %>
                                        <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_pier.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_pier.jpg" alt="Default Banner Pier" />
                                        <% end %>
                                    <% elsif @basket.charity? %>
                                        <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_pier.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_pier.jpg" alt="Default Banner Pier" />
                                        <% end %>
                                    <% elsif @basket.lifestyle? %>
                                        <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_pier.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_pier.jpg" alt="Default Banner Pier" />
                                        <% end %>
                                    <% end %>
                                </div>

                                <div class="col-xs-12">
                                    <% if @basket.event? %>
                                        <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_sunset.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_sunset.jpg" alt="Default Banner Trees Sunset" />
                                        <% end %>
                                    <% elsif @basket.charity? %>
                                        <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_sunset.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_sunset.jpg" alt="Default Banner Trees Sunset" />
                                        <% end %>
                                    <% elsif @basket.lifestyle? %>
                                        <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_sunset.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_sunset.jpg" alt="Default Banner Trees Sunset" />
                                        <% end %>
                                    <% end %>
                                </div>

                                <div class="col-xs-12">
                                    <% if @basket.event? %>
                                        <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_temple.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_temple.jpg" alt="Default Banner Temple" />
                                        <% end %>
                                    <% elsif @basket.charity? %>
                                        <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_temple.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_temple.jpg" alt="Default Banner Temple" />
                                        <% end %>
                                    <% elsif @basket.lifestyle? %>
                                        <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_temple.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_temple.jpg" alt="Default Banner Temple" />
                                        <% end %>
                                    <% end %>
                                </div>

                                <div class="col-xs-12">
                                    <% if @basket.event? %>
                                        <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_wedding_1.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_wedding_1.jpg" alt="Default Banner Wedding" />
                                        <% end %>
                                    <% elsif @basket.charity? %>
                                        <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_wedding_1.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_wedding_1.jpg" alt="Default Banner Wedding" />
                                        <% end %>
                                    <% elsif @basket.lifestyle? %>
                                        <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_wedding_1.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/small/stock_banner_wedding_1.jpg" alt="Default Banner Wedding" />
                                        <% end %>
                                    <% end %>
                                </div>

                                <div class="col-xs-12">
                                    <% if @basket.event? %>
                                        <%= link_to event_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_wedding_2.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/stock_banner_wedding_2.jpg" alt="Default Banner Wedding 2" />
                                        <% end %>
                                    <% elsif @basket.charity? %>
                                        <%= link_to charity_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_wedding_2.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/stock_banner_wedding_2.jpg" alt="Default Banner Wedding 2" />
                                        <% end %>
                                    <% elsif @basket.lifestyle? %>
                                        <%= link_to lifestyle_default_banner_path(@basket.id, 'banner_path' => '/images/default_banner/stock_banner_wedding_2.jpg'), remote: true, method: 'post' do %>
                                            <img class="img-responsive lazy_banner" data-src="/images/default_banner/stock_banner_wedding_2.jpg" alt="Default Banner Wedding 2" />
                                        <% end %>
                                    <% end %>
                                </div>

                            </div>
                        </div>
                    </form>
                    <%= render partial: "shared/modals/modal_partials/crop_buttons" %>                    
                </div>
            </div>
        </div>
    </div>
</div>



