 <div class="modal upcoming_events_modal fade"  tabindex="-1" role="dialog" data-color="white">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        	<div class="modal-header">
               <%= link_to 'x', '#', class: "closeBtn", data: { dismiss: "modal"} %>
                <%= image_tag '/images/events/streamers1.png', alt:'event', class: 'streamers' %>
        		<h2 class="modal-title text-center">Upcoming Events</h2>
        		<p class="text-center">Help your friends celebrate!</p>
        	</div>
        	<div class="modal-body">

        		<div class="panel-group">

                <% @events.each do |event| %>

                <div class="panel panel-default">
                    <div class="panel-heading"><%=event.occurs_at.strftime("%B %Y")%></div>
                    <div class="panel-body">
                        <div class="pannel-image"><%= image_tag 'may_event.png', alt:'june_event', :class=>'img-responsive' %></div>
                        <div class="pannel-content">
                            <div class="panel-event-title">
                            <%= link_to event.name, event_view_path( event.basket.customer.username, event.basket.basket_slug_name ) %>
                            </div>
                            <div class="panel-event-time"><span><%=event.occurs_at.strftime("%a %B %e, %l:%M %P")%></span></div>
                            <div class="panel-event-address">
                                <span>
                                    <% if event.location.blank?%>
                                    Event address hasn't been added
                                    <% else %>
                                    <%= event.location %>
                                    <% end %>
                                </span>
                            </div>
                            <div class="panel-event-owner"><span><%= event.customer.name %></span></div>
                        </div>
                    </div>
                </div>

                <% end %> 

        		</div>

        	</div>
        </div>
    </div>
</div>









