<div id="gift_url" class="modal fade" role="dialog" data-backdrop="static">
    <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <a id="error_report_toggle">
        <div>
            <%= ion_icon("help") %>
        </div>
    </a>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                
                <%= render partial: 'gift_urls/modal' %>

            </div>
        </div>
    </div>
</div>
