<%= render partial: "shared/modals/modal_partials/close_btn" %>
<div class="modal-dialog" id="giftboxes-modal">
  <div class="modal-content">
    <div class="form-container">
      
      <div class="modal-header">
<!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h4 class="modal-title">Choose Who to Check Out For</h4>
      </div>

      <div class="modal-body">
        <% if giftboxes.any? %>
          <% giftboxes.each do |e| %>
            <%= link_to checkout_path(giftbox_id: e), class: 'giftbox-li' do %>
                <div class="gift_box_avatar">
                  <% if e.giftee.try(:avatar).present? %>
                    <%= image_tag e.giftee.avatar.profile_square.url, alt: 'avatar', class: 'img-responsive', skip_pipeline: true %>
                  <% else %>
                    <%= image_tag 'fallback/user_avatar_default.png', alt: 'avatar', class: 'img-responsive', skip_pipeline: true %>
                  <% end %>
                </div>
                <div>
                    <% if e.is_a_gift? %>
                        <span class="giftee-name"><%= e.giftee.name %></span>
                    <% else %>
                        <span class="giftee-name">Your Cart</span>
                    <% end %>
                    <span><%= e.cart_items_count %> <% if e.cart_items_count > 1 %> items <% else %> item <% end %></span>
                </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="text-center" style="padding: 2em;">
            <span>
              Your cart is empty!
            </span>
            <span>
              Add some items to your cart.
            </span>
          </div>
        <% end %>
      </div>

    </div>
    
  </div>
</div>
