<% if @all_connections.empty? %>
    $('#<%=@connection_type %> .toolbar, #<%=@connection_type %> .profile_no_items').remove();
    $('#<%=@connection_type %>').append("<p class='profile_no_items'> <%= @customer.name %> has no connections to show.</p>")
<% else %>

<% if @connection_type == 'friends' %>
    
    <% @connections.reverse.each do |connection| %>
        html = $('<%= escape_javascript(render partial: "shared/profile/connections/connections", locals: {connection: connection, friend_flag: true, notifications: false} ) %>');
        $("#<%=@connection_type %>").append(html);
    <% end %>

    connections_autocomplete("search_<%=@connection_type %>", <%=raw @connection_arr %>);

<% elsif @connection_type == 'following' %>
    
    <% @connections.reverse.each do |connection| %>
        html = $('<%= escape_javascript(render partial: "shared/profile/connections/connections", locals: {connection: connection, friend_flag: false, notifications: false} ) %>');
        $("#<%=@connection_type %>").append(html);
    <% end %>

    connections_autocomplete("search_<%=@connection_type %>", <%=raw @connection_arr %>);

<% elsif @connection_type == 'followers' %>
    
    <% @connections.reverse.each do |connection| %>
        html = $('<%= escape_javascript(render partial: "shared/profile/connections/connections", locals: {connection: connection, friend_flag: false, notifications: false} ) %>');
        $("#<%=@connection_type %>").append(html);
    <% end %>
    
    connections_autocomplete("search_<%=@connection_type %>", <%=raw @connection_arr %>);

<% elsif @connection_type == 'pending' %>
    
    <% @connections.reverse.each do |connection| %>
        html = $('<%= escape_javascript(render partial: "shared/profile/connections/private_connections", locals: {connection: connection, pending_flag: true, notifications: false} ) %>');
        $("#<%=@connection_type %>").append(html);
    <% end %>

    connections_autocomplete("search_<%=@connection_type %>", <%=raw @connection_arr %>);

<% elsif @connection_type == 'blocked' %>
    
    <% @connections.reverse.each do |connection| %>
        html = $('<%= escape_javascript(render partial: "shared/profile/connections/private_connections", locals: {connection: connection, pending_flag: false, notifications: false} ) %>');
        $("#<%=@connection_type %>").append(html);
    <% end %>

    connections_autocomplete("search_<%=@connection_type %>", <%=raw @connection_arr %>);

<% end %>

<% end %>
