<div class="profile_bg" style="background-image:url(<%= @customer.banner.url %>)" title="<%= @customer.username %> - Banner">

  <%= link_to "#bannerUpload", class: "edit_banner_btn", data: {toggle: "modal"} do %>
  <%= ion_icon("camera", aria_hidden: true) %>
  <% end %>

    <div class="profile_mask">
    </div>
    <% if !(browser.mobile?) %>
        <div class="col-md-8 col-sm-8 name_city">
            <h2 class="name" data-user="<%= @customer.name %>" data-id="<%= @customer.id %>"><%= @customer.name %></h2>
            <p class="birthday"><%= @customer.birthday.strftime("%b, #{@customer.birthday.day.ordinalize}") if @customer.birthday.present? %></p>
            <p class="city"><%= @customer.location %></p>
        </div>
    <% end %>
    <div class="info">
        <div class="user_info">
            <div class="tab_one">
                <%= link_to "#gift_baskets_tab", data: { toggle: "tab" } do %>
                    <p><%= @customer.baskets.count %></p>
                    <p>Wish Lists</p>
                <% end %>
            </div>
            <% if ( @customer.username != "giftibly" ) || ( current_customer.present? && current_customer.admin? ) %>
                <div class="tab_two">
                    <%= link_to "#connections_tab", data: { toggle: "tab" } do %>
                        <p><%= @customer.connections.count %></p>
                        <p>Friends</p>
                    <% end %>
                </div>
            <% end %>
            <div class="tab_three">
                <%= link_to "#total_items_tab", data: { toggle: "tab" } do %>
                    <p><%= @customer.gifts.count %></p>
                    <p>Total Wishes</p>
                <% end %>
           </div>
        </div>
    </div>
</div>
<div class="main_avatar_container">
    <%= link_to image_tag( @customer.avatar.profile.url, alt: @customer.username + " - Profile Image" ), @customer.username %>
    <div class="avatar_mask"></div>
    <%= link_to "#avatarUpload", class: "edit_avatar_btn", data: {toggle: "modal"} do %>
        <%= ion_icon("camera", aria_hidden: true) %>
    <% end %>
</div>
<div class="parallax_container" data-username="<%= @customer.username %>">
    <div class="tab_info">
        <div class="website_description col-lg-7 col-md-6 col-xs-12">
            <div class="name_city">
                <h2 class="name" data-user="<%= @customer.name %>"><%= @customer.name %></h2>
                <p class="birthday"><%= @customer.birthday.strftime("%b, #{@customer.birthday.day.ordinalize}") if @customer.birthday.present? %></p>
                <p class="city"><%= @customer.location %></p>
            </div>
            <% if @customer.website.present? %>
                <%= link_to @customer.website, "http://#{@customer.website}", target: "_blank", class: "website" %>
            <% end %>
            <% if @customer.description.present? %>
                <div class="bio_container">
                    <p class="bio"><%= @customer.description %></p>
                </div>
            <% end %>
        </div>
        <div class="col-sm-1"></div>
        <div class="tab_heading_right col-lg-5 col-md-6 col-sm-7 col-xs-12">
            <div class="info">
                <div class="user_info">
                   <div class="three_tab_navigation">
                       <div class="tab_one">
                           <%= link_to "#gift_baskets_tab", data: { toggle: "tab" } do %>
                               <p><%= @all_wishlist.count %></p>
                               <p>Wish Lists</p>
                           <% end %>
                       </div>
                       <% if ( @customer.username != "giftibly" ) || ( current_customer.present? && current_customer.admin? ) %>
                           <div class="tab_two">
                               <%= link_to "#connections_tab", data: { toggle: "tab" } do %>
                                   <p><%= @customer.connections.count %></p>
                                   <p>Friends</p>
                               <% end %>
                           </div>
                       <% end %>
                       <div class="tab_three">
                            <%= link_to "#total_items_tab", data: { toggle: "tab" }, id: 'total_wishes_right' do %>
                                <p><%= @all_wishes.count %></p>
                                <p>Total Wishes</p>
                            <% end %>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="three_tab_navigation">
        <div class="col-lg-5 col-md-7 col-sm-8 col-xs-12 tab_center <%= "pending" if @customer.connection_requests.count > 0 && @customer == current_customer %>">
            <div id="tab_one" class="<%= "giftibly" if @customer.username == "giftibly" %>">
                <%= link_to "Wish Lists", "#gift_baskets_tab", class: "active", data: { toggle: "tab" } %>
            </div>

            <% if @customer.username != "giftibly" || current_customer.present? && current_customer.admin? %>
                <div id="tab_two">
                    <% if @customer.connection_requests.count > 0 && @customer == current_customer #if user has pending requests %>
                        <%= link_to "#connections_tab", data: { toggle: "tab" } do %>
                            <span>Connections</span>
                            <% if @customer.connection_requests.count > 0 && @customer == current_customer %>
                                <div class="pending_number">
                                   <span>
                                    <%= @customer.connection_requests.count %>
                                    <% if @customer.connection_requests.count == 1 %>
                                        Pending Request
                                    <% else %>
                                        Pending Requests
                                    <% end %>
                                    </span>
                                </div>
                            <% end %>
                        <% end %>
                    <% else %>
                        <%= link_to "Connections", "#connections_tab", data: { toggle: "tab" } %>
                    <% end %>
                </div>
            <% end %>

            <div id="tab_three">
                <%= link_to "Total Wishes", "#total_items_tab", data: { toggle: "tab" } , id: "total_wishes" %>
            </div>
        </div>
    </div>
    <div class="private_profile_content">
        <div class="private_text" <% if !( @customer.private ) || ( current_customer.present? && @customer.viewable_by( current_customer ) ) %>style="display:none"<% end %> >
            <% if ( current_customer.present? && current_customer.connection_request_sent?( @customer ) ) || !(current_customer.present?) %>
                <%= ion_icon( "android-person-add", aria_hidden: true, class: 'private_profile_icon' ) %>
            <% else %>
                <%= ion_icon("android-person-add", aria_hidden: true, class: 'private_profile_icon') %>
            <% end %>
            <p>
                This profile is private. 
                <% if current_customer.present? && current_customer.connection_request_sent?( @customer ) %>
                    A connection request to <%= @customer.name %> has already been sent.
                <% elsif current_customer.present? %>
                    Please request a connection to see the perfect gift for <%= @customer.name %>.
                <% else %>
                    Please <%= link_to "create an account", new_customer_registration_path %> to see the perfect gift for <%= @customer.name %>.
                <% end %>
            </p>
        </div>
    </div>

    <% if !( @customer.private ) || ( current_customer.present? && @customer.viewable_by( current_customer ) ) %>
        <div class="private_div">
            <div class="tab-content profile_tab_padding">

                <!-- GIFT BASKET TAB -->
                <div class="tab-pane active" id="gift_baskets_tab">
                    <!-- Basket Tab PARTIAL -->
                    <%= render partial: "shared/profile/tab_basket", locals: {customer: @customer } %>
                    <div class="loader wishlists">
                        <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
                    </div>
                </div>

                <!-- TOTAL ITEMS TAB -->
                <div class="tab-pane fade" id="total_items_tab">
                    <!-- Basket Tab PARTIAL -->
                    <%= render partial: "shared/profile/tab_total_items", locals: {customer: @customer } %>
                    <div class="loader wishes">
                        <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
                    </div>
                </div>

                <% if ( @customer.username != "giftibly" ) || ( current_customer.present? && current_customer.admin? ) %>
                    <!-- CONNECTIONS TAB -->
                    <div class="tab-pane fade" id="connections_tab">
                        <!-- Connections Tab PARTIAL -->
                        <%= render partial: "shared/profile/tab_connections", locals: {customer: @customer} %>
                        <div class="loader connections">
                            <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="container-fluid edit_profile_container">
        <% if current_customer.present? %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-3">

            <%= form_for current_customer, url: profile_update_path, method: :patch do |f| %>

            <h2 class="text-center">Edit Profile</h2>

            <%= f.hidden_field :username, class: "form-control input-md", data: { error: "username missing" }, placeholder: "numbers and letters only - no special characters (! $ . / # etc.)", required: true %>

            <%= f.hidden_field :employer, class: "form-control input-md", placeholder: 'Employer name' %>

            <%= f.hidden_field :job_start_date, value: date_format(current_customer.job_start_date), class: "form-control input-md date-picker", placeholder: "MM/DD/YYYY" %>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group has-feedback">
                    <label for="first_name">First Name</label>
                    <%= f.text_field :first_name, class: "form-control input-md", placeholder: "First Name", data: { error: "first name missing" }, required: true %>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group has-feedback last_name">
                    <label for="last_name">Last Name</label>
                    <%= f.text_field :last_name, class: "form-control input-md", placeholder: "Last Name", data: { error: "last name missing" }, required: true %>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                 <div class="form-group">
                     <label for="birthday">Birthday</label>
                     <div class='input-group date-picker'>
                         <%= f.text_field :birthday, value: date_format(current_customer.birthday), class: "form-control input-md date-picker", placeholder: "MM/DD/YYYY" %>
                         <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                         </span>
                     </div>
                     <div class="help-block with-errors"></div>
                 </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group has-feedback">
                    <label for="location">Location</label>
                    <%= f.text_field :location, class: "form-control input-md", placeholder: "City, State", required: true %>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group has-feedback">
                    <label for="site-channel">Website or YouTube Channel</label>
                    <%= f.text_field :website, class: "form-control input-md", placeholder: "https://yoursite.com" %>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group has-feedback">
                    <label for="about">About You</label>
                    <%= f.text_area :description, rows: '5', maxlength: "200", class: "form-control input-md", placeholder: "Tell us a little about you and what makes you happy." %>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 top-10 text-right">
                <a href="#" class="edit_profile"> Cancel </a>
                <%= f.submit "Save Changes", class: "btn btn-lg" %>
            </div>

        <% end %>

        </div>
        <% end %>
    </div> 


<% end %>
    
<% if current_customer.present? %>
    <!-- Create Basket Modal Partial -->
    <%= render partial: "shared/modals/modal_create_basket" %>
    <% if current_customer == @customer %>
    <!-- Avatar upload modal Partial -->
    <%= render partial: "shared/modals/modal_avatar_upload" %>
    <!-- Banner upload modal Partial -->
    <%= render partial: "shared/modals/modal_profile_banner_upload" %>
    <% end %>  
<% end %>
    
<!-- GIFT ASSISTANT BUTTON -->
<%= render partial: "shared/site/ga_button" %>

<%= render partial: "shared/popup/popup_facebook_share", locals: { 
    url: "#{request.protocol}#{request.host}#{user_path(@customer.username)}", 
    name: @customer.name, 
    image: "#{request.protocol}#{request.host}/images/fbshare/fbshare.png",
    description: "On Giftibly, the Ultimate Wish List, you can save gifts from your 
                  favorite online stores, make fun lifestyle baskets, and share them 
                  with friends and family. Get the perfect gift every time."
} %>


<!-- SEO DATA STRUCTURES -->
<% content_for :seo do %>
<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "<%= @customer.name %>",
  "url" : "https://giftibly.com/<%= @customer.id %>"
}
</script>
<% end %>



<script rel="nofollow" type="text/javascript">
    //delete Basket
    <% if (current_customer.present? && current_customer == @customer) %>
        $('body').on('click', '.delete_btn, .delete_button', function (e) {
          e.preventDefault();
          if($('.delete_button')[0]){
              $('.delete_button').addClass('inactive');
              setTimeout(function() {
                $('.delete_button').remove();
              }, 400);
          }
          else{
              $('body').append('<button class="delete_button btn">All Done</button>');
          }
          $('.delete_button').toggleClass('active');
          $('a.delete_basket').toggleClass('hidden');

          $( ".block" ).fadeToggle();
          $( ".connection .message_button" ).toggle();
          $( ".remove" ).toggle();
          $('.connection').toggleClass('active');
        });
    
    
        $('[href="#connections_tab"]').click(function(){
            $('#multitool .delete_btn').show()
            $('#multitool .delete_btn').html('<i class="ion-ios-close"></i> Select Users to Block/Delete');
        });
    
    
        $('[href="#gift_baskets_tab"]').click(function(){
            $('#multitool .delete_btn').show()
            $('#multitool .delete_btn').html('<i class="ion-ios-trash"></i> Select Wish Lists To Delete');
        });
    
        $('[href="#total_items_tab"]').click(function(){
            $('#multitool .delete_btn').hide();
        });
    
    
    
        $('.three_tab_navigation #tab_three a').on('click',function () {
            if($('.delete_button')[0]){
                $('.delete_button').addClass('inactive');
            }
        });
        $('.three_tab_navigation #tab_one a, .three_tab_navigation #tab_two a').on('click',function () {
            if($('.delete_button')[0]){
                $('.delete_button').addClass('active');
                $('.delete_button').removeClass('inactive');
            }
        });


        // Edit Profile
        $('.edit_profile').click(function(e){
          e.preventDefault();
          e.stopPropagation();
          $(".parallax_container").slideToggle(600);
          $('.edit_profile_container, .edit_avatar_btn, .avatar_mask, .profile_bg .name_city, .edit_banner_btn').fadeToggle(400);
          $('.profile_bg').toggleClass('on');
        })


        // avoids auto descovery
        Dropzone.autoDiscover = false;

        //Avatar upload dropzone
        var avatarDropzone = new Dropzone("#avatar-dropzone", {
            url: "/profile/avatar",
            dictDefaultMessage: 'Or Drag and Drop File Here',
            paramName: "file",
            maxFiles: 1,
            maxFilesize: 5,
            maxThumbnailFilesize: 5,
            acceptedFiles: 'image/*,.jpeg,.jpg,.png',
            autoProcessQueue: false,
            clickable: ['#avatar-dropzone .dropzone-clickable *','#avatar-dropzone .dropzone-clickable'],
            accept: function(file, done) {
                // some code
                done();
            },
            success: function (data, response){
              if(response.response = true){
                $('#avatarUpload .dz-cr-image img').cropper('destroy');
                setTimeout(function(){window.location.reload()},1000); 
              }
            },
            addedfile: function(file){
              ImageCropper(file, avatarDropzone, '#avatarUpload', true, 'avatar')
            },
            maxfilesexceeded: function(file) {
              $('#avatarUpload .dz-cr-image img').cropper('destroy');
              this.removeAllFiles();
              this.addFile(file);
            },
            dictFileTooBig: function(){
              this.removeAllFiles();
              toastr.error('File size too large max 5MB');
            }
        });

        //profile banner upload dropzone
        var profileBannerDropzone = new Dropzone("#profile-banner-dropzone", {
            url: "/profile/banner",
            dictDefaultMessage: 'Or Drag and Drop File Here',
            paramName: "file",
            maxFiles: 1,
            maxFilesize: 5,
            maxThumbnailFilesize: 5,
            acceptedFiles: 'image/*,.jpeg,.jpg,.png',
            autoProcessQueue: false,
            clickable: ['#profile-banner-dropzone .dropzone-clickable *','#profile-banner-dropzone .dropzone-clickable'],
            accept: function(file, done) {
                // some code
                done();
            },
            success: function (data, response){
            if(response.response = true){
                  window.location.reload();
              }
            },
            addedfile: function(file){
              ImageCropper(file, profileBannerDropzone, '#bannerUpload', true, 'banner')
            },
            maxfilesexceeded: function(file) {
              $('#bannerUpload .dz-cr-image img').cropper('destroy');
              this.removeAllFiles();
              this.addFile(file);
            },
            dictFileTooBig: function(){
              $('#bannerUpload .dz-cr-image img').cropper('destroy');
              this.removeAllFiles();
              toastr.error('File size too large max 5MB');
            }
        });

         $(document).on('turbolinks:load', function() {
           $('.edit_customer').validator();
           //GeoComplete call
           $("#customer_location").geocomplete().bind("geocode:result", function(event, result){
              var address_components = result.address_components;
              components={}; 
              jQuery.each(address_components, function(k,v1) {jQuery.each(v1.types, function(k2, v2){components[v2]=v1.short_name});})
              formattedAddress(components);
           }); 

           function formattedAddress(address){
              var streetNumber = address.street_number;
              var streetName = address.route;
              var city = address.locality || address.sublocality;
              var county = address.administrative_area_level_2;
              var state = address.administrative_area_level_1;
              var zip = address.postal_code;
              $('#customer_location').val(city+', '+state);
           }
         })


    <% end %>
    
    if($(window).width() >  480){
        var maxHeight = $(".bio").height();
        if(maxHeight > 40){
            $(".bio_container").after( '<div id="toggle" class="fade-animate">Show More <i aria_hidden="true" class="icon ion-chevron-down"></i></div>' );
            $("#toggle").click(function() { //show more/show less
                $("#toggle").toggleClass('active');
                if ($('#toggle').hasClass('active')) {
                    $("#toggle").html('Show Less <i aria_hidden="true" class="icon ion-chevron-up"></i>');
                    $(".bio_container").animate({height:maxHeight + 'px'});
                }
                else {
                    $("#toggle").html('Show More <i aria_hidden="true" class="icon ion-chevron-down"></i>');
                    $(".bio_container").animate({height:'40px'});
                }
            });
        };
    }
    
    
    $('body').on('hide.bs.popover', function (e) {
        setTimeout(function() {
            $('.popover.left').css({'margin-left':'-11px', 'margin-top':'1px'});
        }, 150)
    });
    
    $('.user_info .tab_one a').click(function(){
        $("a").removeClass("active");
        $('#tab_one a').addClass('active');
    });
    $('.user_info .tab_two a').click(function(){
        $("a").removeClass("active");
        $('#tab_two a').addClass('active');
    });
    $('.user_info .tab_three a').click(function(){
        $("a").removeClass("active");
        $('#tab_three a').addClass('active');
    });


$(document).on('turbolinks:load', function() {

  $('.three_tab_navigation .tab_center a').on('click',function () {
      // remove classes from all
      $("a").removeClass("active");
      // add class to the one we clicked
      $(this).addClass("active");
  });
    
  $('.three_tab_navigation a:nth-child(2), .three_tab_navigation a:last-of-type').on('click',function () {
      $("#gift_baskets_tab").addClass("fade");
  });
  <% if current_customer.present? && (current_customer == @customer) %>
      $('body').on('click', '#follow_block', function () {
        $.ajax({
          url:      '/customer/follow',
          type:     'PATCH',
          data:     { 'customer_id' : <%= @customer.id %> },
          dataType: 'json',
          success: function(data) {
            if(data['response']) {
              window.location.reload();
            } else {
              console.log( data )
            }
          },
          error: function(data) {
            console.log("Request: "+JSON.stringify(request));
          }
        });
      });
    <% end %>
});

$(document).ready( function() {

    $('#total_wishes, #total_wishes_right').one('click', function(e){
        e.preventDefault();
        $('.product_list').html('');
        //LOADS FIRST SET OF WISHES
        $('#total_items_tab').append('<div class="loader total_wishes"><i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i><p>Fetching wishes...</div>');
        $.ajax({
            type     : 'GET',
            url      : '/paginate/wishes?page=1&username=' + profile_username,
            dataType : 'script',
            encode   : true,
            success  : function(data) {
                $('.loader.total_wishes').fadeOut( function() {
                    $container = $('.products.feed');

                    $container.imagesLoaded( function() {
                        $container.masonry({
                            itemSelector: '.product-item', 
                            columnWidth: '.product-sizer',
                            isAnimated: true,
                            percentPosition: true
                        });

                        var height = $('.products.feed').height();
                        $('.product-item').addClass('fade-animate');
                        feed_height = $('#total_items_tab .products.feed').height() * -.8;
                        wish_offset = feed_height;
                        total_wishes_pagination();
                        var masonry = new Masonry( '.products', {
                            itemSelector: '.product-item',
                            columnWidth: '.product-sizer',
                            isAnimated: true,
                            percentPosition: true
                        });
                    });
                });
            }
        });
    });

});
  
  function profile_walkthrough(){
    $('.introjs-overlay').remove();
    $('.ga_button').css('transition', 'none').fadeOut();
    introJs().setOptions({
      'hideNext': true,
      'doneLabel': 'Exit',
      'skipLabel': 'Exit',
      'scrollToElement': false,
      'keyboardNavigation' : true,
      steps: [
      { 
          intro: "This is your profile. Your friends and family can search for you and see your profile if it’s public.",
          tooltipClass: 'profile1'
      },
      {
          element: document.querySelector('.group_tile:first-child'),
          tooltipClass: 'profile2',
          intro: "This is a wish list. Inside you can find items that you've added with the Gift Assistant or with our wishing tool. You can customize wish list names and banners, change quantities of your wishes, and delete wishes from inside each list."
      },
      {   element: document.querySelector('.three_tab_navigation .tab_center'),
          tooltipClass: 'profile3',
          intro: 'This is your profile navigation - it will always start off on the "Wish Lists" view.'
      },
      {   element: document.querySelector('#connections_tab .connections_menu .list-group'),
          tooltipClass: 'profile4',
          intro: "These are your connection tabs. Use the search icon at the top of Giftibly to find and add friends and followers to these lists."
      },
      {   element: document.querySelector('#tab_three'),
          tooltipClass: 'profile5',
          intro: "This is the Total Wishes tab. Here you can access all of the wishes you’ve added to your lists. There may not be much there now, but as you add wishes and wish lists, this will fill up.",
      }
      ]
    }).start().onchange(function(e) {
        if (this._currentStep === 0 || this._currentStep === 1 || this._currentStep === 2) {
            $('.profile_tab_padding > .tab-pane').removeClass('active');
            $('.profile_tab_padding > .tab-pane').addClass('fade');
            $('#gift_baskets_tab').removeClass('fade');
            $('#gift_baskets_tab').addClass('active');
            $('.three_tab_navigation div a').removeClass('active');
            $('#tab_one a').addClass('active');
        }
        else if (this._currentStep === 3) {
            $('.profile_tab_padding > .tab-pane').removeClass('active');
            $('.profile_tab_padding > .tab-pane').addClass('fade');
            $('#connections_tab').removeClass('fade');
            $('#connections_tab').addClass('active');
            $('.three_tab_navigation div a').removeClass('active');
            $('#tab_two a').addClass('active');
            if(!$('#friends .connection-tile')[0]){
               //LOADS FIRST SET OF FRIENDS CONNECTIONS
              $.ajax({
                   type     : 'GET',
                   url      : '/paginate/connection?page=1&username=' + profile_username + '&connection_type=friends',
                   dataType : 'script',
                   encode   : true,
                   success  : function(){
                       lazy();
                   }
               });
           }
        }
        else if (this._currentStep === 4) {
            $('.profile_tab_padding > .tab-pane').removeClass('active');
            $('.profile_tab_padding > .tab-pane').addClass('fade');
            $('#total_items_tab').removeClass('fade');
            $('#total_items_tab').addClass('active');
            $('.three_tab_navigation div a').removeClass('active');
            $('#tab_three a').addClass('active');
            if(!$('#total_items_tab .product-item')[0]){
                //LOADS FIRST SET OF WISHES
                $('#total_items_tab').append('<div class="loader total_wishes"><i aria_hidden="true" class="icon ion-load-c spinner icon_center "></i><p>Fetching wishes...</div>')
                $.ajax({
                   type     : 'GET',
                   url      : '/paginate/wishes?page=1&username=' + profile_username,
                   dataType : 'script',
                   encode   : true,
                   success  : function(data){
                        $('.loader.total_wishes').fadeOut(function(){
                            $container = $('.products');
                            $container.imagesLoaded( function () {
                                $container.masonry({
                                    itemSelector: '.product-item', 
                                    columnWidth: '.product-sizer',
                                    percentPosition: true
                                });
                                $('.product-item').addClass('fade-animate');
                            });
                        });
                  }
               });
           }
        }
        else if (this._currentStep === 5) {
            $('#navbar_bottom').css({position: 'absolute'})
        }

    }).onexit(function(){
        $('.navbar').css({position: ''})
        $('.introjs-overlay').remove();
        $('.ga_button').css('transition', 'inherit').fadeIn();
        $('body').css({position: 'inherit'});
    })
    //skip or click outside pause walkthrough
    $('.introjs-skipbutton').on('click', function(){
      $.ajax({
          type     : 'GET',
          url      : '/customer/pause?page=profile',
          dataType : 'json',
          encode   : true,
          success  : function(data){
          }
      })
    })

  }

  //Intro Walkthrough 
  <% if @intro_active %>
    profile_walkthrough();
    $('body').css({position: 'fixed'});
  <% end %>
  $('body').on('click', '.tutorial', function (e) {
    e.preventDefault();
    profile_walkthrough();
    $('body').css({position: 'fixed'});
  });
    
   function lazy(){
       $('.lazy_banner').Lazy({
            effect: "fadeIn",
            effectTime: 800,
            threshold: 0,
            delay: 0
        });
   }
    

    // init controller
    var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave", duration: "100%"}});
        if($(window).width() >  768){
            new ScrollMagic.Scene()
                .setTween(".name_city", {y: "-300", ease: Linear.easeNone})
                .addTo(controller);
        }
        else{
            new ScrollMagic.Scene()
            .setTween(".profile_bg .info", {y: "-300", ease: Linear.easeNone})
            .addTo(controller);
        }
    new ScrollMagic.Scene()
        .setTween(".profile_bg", {y: "300", ease: Linear.easeNone})
        .addTo(controller);
    
    

    var offsetting = -71;
    
    var controller2 = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave"}});
    
    var tween = TweenMax.to(".navbar", .05, {className: "-=profile_nav"});
    new ScrollMagic.Scene({triggerElement: ".parallax_container", offset: offsetting })
        .setTween(tween)
        .addTo(controller2);
    
    
    var profile_username = "<%=@customer.username%>";
    var feed_height, wish_offset; //wish offset variable is inside wish pagination
    <% if browser.mobile? %>
        var wishlist_offset = -1200;
    <% else %>
        var wishlist_offset = -700;
    <% end %>
    <% if browser.mobile? %>
        var connections_offset = -1200;
    <% else %>
        var connections_offset = -500;
    <% end %>
    
    var wishlist_page_number = 1;
    var profile_wishlist_scroll = new ScrollMagic.Controller();
    //sets var for the url for pagination
    // build scene
    new ScrollMagic.Scene({triggerElement: ".loader.wishlists", offset: wishlist_offset})
    .addTo(profile_wishlist_scroll)
    .on("enter", function (e) {
        if(e.scrollDirection == "FORWARD"){
            if (!$(".loader.wishlists i").hasClass("active") && $("#tab_one a").hasClass("active")) {
                wishlist_page_number++;
                $(".loader.wishlists i").addClass("active");
                var infinite_profile_url = '/paginate/wishlist?page='+ wishlist_page_number+ '&username=' + profile_username;
                $.ajax({
                    url: infinite_profile_url, //pagination url
                    type: 'GET',
                    success: function (data) {
                        $('.lazy').Lazy({ //lazyload wish list images
                            effect: "fadeIn",
                            effectTime: 800,
                            threshold: 0,
                            delay: 0
                        });
                        var count = (data.match(/col-xs-6/g) || []).length;
                        $(".loader.wishlists i").removeClass("active");
                        
                        if (count < 12 && !$('.tab_full_width.basket_container .no_more_items')[0]) { //if response does not contain html variable
                            $('.tab_full_width.basket_container').append('<p class="no_more_items">No more items to show.</p>');
                            $('.no_more_items').fadeIn();
                        }
                    },
                    error: function(){
                      console.log("Error");
                      $(".loader.wishlists i").removeClass("active");

                    }
                });
            }
        }
    });
    
    var connection_page_number = 1;
    var profile_connection_scroll = new ScrollMagic.Controller();
    var connection_type = 'friends';
    $('.connections_menu [href="#friends"]').click(function(){
        connection_type = 'friends';
        connection_page_number = $('#friends').attr('data-pn');
        $('.connections_container .toolbar').attr('name', 'search_' + connection_type);
    });
    $('.connections_menu [href="#following"]').click(function(){
        connection_type = 'following';
        connection_page_number = $('#following').attr('data-pn');
        $('.connections_container .toolbar').attr('name', 'search_' + connection_type);
    });
    $('.connections_menu [href="#followers"]').click(function(){
        connection_type = 'followers';
        connection_page_number = $('#followers').attr('data-pn');
        $('.connections_container .toolbar').attr('name', 'search_' + connection_type);
    });
    $('.connections_menu [href="#pending"], .pending_number').click(function(){
        connection_type = 'pending';
        connection_page_number = $('#pending').attr('data-pn');
        $('.connections_container .toolbar').attr('name', 'search_' + connection_type);
    });
      
    $('.connections_menu [href="#blocked"]').click(function(){
        connection_type = 'blocked';
        connection_page_number = $('#blocked').attr('data-pn');
        $('.connections_container .toolbar').attr('name', 'search_' + connection_type);
    });
    $('.pending_number').click(function(){
        $('.connections_menu .list-group-item').removeClass('active');
        $('.connections_menu .list-group-item:nth-of-type(4)').addClass('active');
        $('.connections_container .tab-pane').removeClass('active');
        $('.connections_container #pending').addClass('active in');
    });
    //sets var for the url for pagination
    // build scene
    new ScrollMagic.Scene({triggerElement: ".loader.connections", offset: connections_offset})
    .addTo(profile_connection_scroll)
    .on("enter", function (e) {
        if(e.scrollDirection == "FORWARD"){
            if (!$(".loader.connections i").hasClass("active") && $("#tab_two a").hasClass("active")) {
                connection_page_number++;
                $(".loader.connections i").addClass("active");
                var infinite_profile_url = '/paginate/connection?page='+ connection_page_number+ '&username=' + profile_username + '&connection_type=' + connection_type;
                $.ajax({
                    url: infinite_profile_url, //pagination url
                    type: 'GET',
                    success: function (data) {
                        lazy();
                        var count = (data.match(/connection-tile/g) || []).length;
                        $(".loader.connections i").removeClass("active");
                        if (count < 12 && !$('#' + connection_type + ' .no_more_items')[0]) { //if response does not contain html variable
                            $('#' + connection_type).append('<p class="no_more_items">No more items to show.</p>');
                            $('.no_more_items').fadeIn();
                        }
                        else if (data.indexOf("html = $('<div") != -1){
                            $('#' + connection_type).attr('data-pn', connection_page_number);
                        }
                    },
                    error: function(){
                      console.log("Error");
                      $(".loader.connections i").removeClass("active");

                    }
                });
            }
        }
    });
    
    var wish_page_number = 1;
    var profile_wish_scroll = new ScrollMagic.Controller();
    //sets var for the url for pagination
    // build scene
    function total_wishes_pagination(){
        console.log("total wishes function start");
        new ScrollMagic.Scene({triggerElement: ".loader.wishes", offset: wish_offset})
        .addTo(profile_wish_scroll)
        .on("enter", function (e) {
            if(e.scrollDirection == "FORWARD"){
                if (!$(".loader.wishes i").hasClass("active") && $("#tab_three a").hasClass("active")) {
                    wish_page_number++;
                    console.log("wish_page_number" + wish_page_number);
                    $(".loader.wishes i").addClass("active");
                    var infinite_profile_url = '/paginate/wishes?page='+ wish_page_number+ '&username=' + profile_username;
                    $.ajax({
                        url: infinite_profile_url, //pagination url
                        type: 'GET',
                        success: function (data) {
                            var count = (data.match(/col-xs-6/g) || []).length;
                            $(".loader.wishes i").removeClass("active");
                            $container = $('.products');
                            $('.product_list').imagesLoaded(function(){
                                $container.masonry( 'reloadItems');
                                $container.masonry();
                                setTimeout(function() {
                                    $('.product-item').addClass('fade-animate');
                                },500);
                            });

                            console.log('total wishes function after ajax');
                            if (count < 25 && !$('.products.feed .no_more_items')[0]) { //if response does not contain html variable
                                $('.products.feed').append('<p class="no_more_items">No more items to show.</p>');
                                $('.no_more_items').fadeIn();
                            }
                        },
                        error: function(){
                          console.log("Error");
                          $(".loader.wishes i").removeClass("active");

                        }
                    });
                }
            }
        });
    }


   
   $('[href="#connections_tab"]').one('click', function(){
        if(!$('#friends .connection-tile')[0]){
            //LOADS FIRST SET OF FRIENDS CONNECTIONS
            $.ajax({
                type     : 'GET',
                url      : '/paginate/connection?page=1&username=' + profile_username + '&connection_type=friends',
                dataType : 'script',
                encode   : true,
                success  : function(){
                    lazy();          
                }
            });
        }
   });
   $('.connections_menu [href="#following"]').one('click', function(){
       //LOADS FIRST SET OF FOLLOWING CONNECTIONS
       $.ajax({
            type     : 'GET',
            url      : '/paginate/connection?page=1&username=' + profile_username + '&connection_type=following',
            dataType : 'script',
            encode   : true,
            success  : function(){
                lazy();
            }
       });
   });
   $('.connections_menu [href="#followers"]').one('click', function(){
       //LOADS FIRST SET OF FOLLOWERS CONNECTIONS
       $.ajax({
            type     : 'GET',
            url      : '/paginate/connection?page=1&username=' + profile_username + '&connection_type=followers',
            dataType : 'script',
            encode   : true,
            success  : function(){
                lazy();
            }
       });
   });
   $('.connections_menu [href="#pending"], .pending_number').one('click', function(){
       //LOADS FIRST SET OF PENDING CONNECTIONS
       if(!$('#pending .connection')[0]){ //if pending connection hasn't been loaded yet
           $.ajax({
                type     : 'GET',
                url      : '/paginate/connection?page=1&username=' + profile_username + '&connection_type=pending',
                dataType : 'script',
                encode   : true,
                success  : function(){
                    lazy();
                }
           });
       }
   });
   $('.connections_menu [href="#blocked"]').one('click', function(){
       //LOADS FIRST SET OF BLOCKED CONNECTIONS
       $.ajax({
            type     : 'GET',
            url      : '/paginate/connection?page=1&username=' + profile_username + '&connection_type=blocked',
            dataType : 'script',
            encode   : true,
            success  : function(){
                lazy();
            }
       });
   });
    
   <% if @wishlist_arr.present? %>
        connections_autocomplete("search_wishlists", <%=raw @wishlist_arr %>);
   <% end %>

</script>