<% if @all_wishes.empty? %>
    $('#total_items_tab .toolbar, #total_items_tab .profile_no_items').remove();
    $('#total_items_tab').append("<p class='profile_no_items'> <%#= @customer.name %> has no wishes to show.</p>");
<% else %>

	<% @wishes.each do |gift| %>
	    html = $('<%= escape_javascript(render partial: "shared/tiles/product_tile", locals: {product: gift, tile: "profile"} ) %>');
        $('.products.feed .product_list').append(html);
    <% end %>
	connections_autocomplete("search_wishes", <%=raw @wishes_arr %>)

<% end %>	