<% @wishlist.reverse.each_slice(2) do |wishlist| %>
	html = "<div class='grouped_lists'>" +
        <% wishlist.each do |basket| %>
	       ('<%= escape_javascript(render partial: "shared/tiles/basket_tile", locals: {basket: basket, basket_type: "profile"} ) %>') +
	   <% end %>
    "</div>";
	$(".basket_container .row-fluid").append(html);
<% end %>

<% if !@wishlist_arr.empty? %>
    connections_autocomplete("search_wishlists", <%= raw @wishlist_arr %>);
<% end %>
