<div id="admin_login_container">
    <div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group has-feedback">
            <%= f.text_field :login, autofocus: true, required: true, class: 'form-control input-md', placeholder: 'Enter Email' %>
            <div class="help-block with-errors"></div> 
        </div>

        <div class="form-group has-feedback">
            <%= f.password_field :password, required: true, class: 'form-control input-md', placeholder: 'Enter Password' %>
            <div class="help-block with-errors"></div>
        </div>

        <div class="actions">
            <%= f.submit "Log in", class: 'btn admin_login' %>
        </div>

        <% end %>
    </div>
</div>
