
    <div class="col-xxs-2 col-xs-4 col-md-3 col-xl-4 col-1800-5 col-2100-6 brand fade-animate">
        <%= link_to 'http://' + brand.public_url, target: '_blank' do %>
            <div class="brand_image">
                <div class="mask">
                    <p>Add Wishes From <%= brand.name %></p>
                </div>
                <img class="lazy" src="/images/lazyload/brand_background.jpg" data-src="<%= brand.screenshot %>" alt="<%= brand.name %> Screenshot" />
            </div>
        <% end %>
        <div class="brand_bottom">
            <span><%= brand.name %></span>
            <span>
                <% if logged_in? %>
                    <%= render partial: "shared/site/likes", locals: { likable: brand, likable_type: "Merchant", solid_heart: false} %>
                <% else %>
                    <%= ion_icon("android-favorite-outline", class: 'heart_logged_out')%>
                <% end %>
                <span><%= brand.likes.count %></span>
            </span>
        </div>
    </div>
