<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 group_tile">
    <div class="group_tile_inner">
        <%= link_to discover_search_categories_path( category[:slug] ) do %>
            <div class="group_tile_Preview">
                <span class="ellipsisIcon">...</span>
                <div>
                    <div class="col-xs-12">
                        <div class="group_tile_background"></div>
                        <div class="group_tile_prev1 group_tile_Prevs lazy" data-src="<%= category.screenshot.small.url %>" title="<%= category.name %> - Giftibly Brand Image"></div>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="group_tile_Details">
            <h2>
               <div>
                   <span>

                        <%= link_to discover_search_categories_path( category[:slug] ), class: 'category_name' do %> 
                            <%= category[:name] %>
                            <span>
                                <%= pluralize(category.category_merchants.count, 'Store') %>
                            </span>
                        <% end %>
                    </span>
                </div>
            </h2>
        </div>
    </div>
</div>
