<div class="<%= deal.size == 'small'? 'deal_small col-xs-4' : 'deal_large col-xs-8' %>">
	<div class="deal">
		<%= link_to deal.url, target: "_blank" do %>
		<%= image_tag(deal.ad_image.url, class: 'img-responsive', alt: deal.alt_text ) %>
		<% end %>
		<p><%=deal.name%></p>
	</div>
</div>