<%= simple_form_for @shipping_address, url: '', html: { id: "ship_to_form"} do |f| %>
  <% if giftbox.is_a_gift? %>
    <%= f.hidden_field :force_check_for_save_as_default, value: true %>
  <% end %>

  <%= f.input :name, label: 'Full name', wrapper_html: {class: 'col-xs-12 col-sm-6'} %>
  <%= f.input :address_1, label: 'Address line 1', wrapper_html: {class: 'col-xs-12 col-sm-6'} %>
  <%= f.input :address_2, label: 'Address line 2', wrapper_html: {class: 'col-xs-12 col-sm-6'} %>
  <%= f.input :city, label: 'City', wrapper_html: {class: 'col-xs-12 col-sm-6'} %>
  <%= f.input :state, label: 'State', wrapper_html: {class: 'col-xs-12 col-sm-6'} %>
  <%= f.input :postal_code, label: 'Postal code', wrapper_html: {class: 'col-xs-12 col-sm-6'} %>
  <%= f.input :phone_number, label: 'Phone number', wrapper_html: {class: 'col-xs-12 col-sm-6'} %>
  
  <%= f.input :save_as_default, label: 'Save as your primary address', 
                                wrapper_html: {class: 'field checkbox checkbox-warning col-xs-12 col-sm-6'}, 
                                as: :boolean, 
                                boolean_style: :inline %>

  <div class="col-xs-12 form-toggle-container">
    <% if customer_signed_in? && customer_shipping_addresses.try(:any?) %>
      <a class="select_shipping_address">Use an existing address</a>
      <% if giftee_shipping_address.present? && !is_own_giftbox?(giftbox) %>
        |
      <% end %>
    <% end %>
    <% if giftee_shipping_address.present? && !is_own_giftbox?(giftbox) %>
      <a class="select_shipping_address">Send to your friend's shipping address</a>
    <% end %>
  </div>
<% end %>

<button class="btn save_and_continue_btn create_shipping_address" data-parent="#accordion" data-toggle="collapse" href="#collapse3">Save &amp; Continue</button>