<div>
    <form id="choose_shipping_address_form">
      <ul class="address_list">
        <% if !is_own_giftbox?(giftbox) && giftee_shipping_address.present? %>
          <li class="shipping_address">
            <div class="radio radio-warning">
                <%= radio_button_tag 'shipping_address', giftee_shipping_address.id, is_shipping_address?(giftbox, giftee_shipping_address) %>
                <label for="<%= giftee_shipping_address.id %>">
                  <%= giftee.name %>'s shipping address<br>
                  <small>We'll ship the giftbox to <%= giftee.name %>'s shipping address</small>
                </label>
            </div>
          </li>
        <% end %>
        <% if @customer_shipping_addresses.any? %>
          <% @customer_shipping_addresses.each do |shipping_address| %>
            <li class="shipping_address">
              <div class="radio radio-warning">
                  <%= radio_button_tag 'shipping_address', shipping_address.id, is_shipping_address?(giftbox, shipping_address) %>
                  <label for="<%= shipping_address.id %>">
                    <%= shipping_address.full_address_without_name %>
                  </label>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>

      <div class="col-xs-12 form-toggle-container">
        <a class="create_shipping_address">Add a New Shipping Address</a>
      </div>

    </form>
</div>

<button class="btn save_and_continue_btn select_shipping_address" data-parent="#accordion" data-toggle="collapse" href="#collapse3">Save &amp; Continue</button>