<% if (browser.mobile?) %>
    <% if logged_in? %>
        <div class="navbar" id="navbar_bottom">
            <nav>
                <% if (defined? @multitool_profile) || (defined? @multitool_basket) || (defined? @multitool_feed) || (defined? @multitool_settings) || (defined? @multitool_gift)%>
                <ul class="nav navbar-nav settings">
                <% else %>
                <ul class="nav navbar-nav">
                <% end %>
                    <li>
                        <%= link_to root_path, class: "navbar-brand" do %>
                            <%= svg('logo') %>
                        <% end %>
                    </li>
                    <!-- <li> -->
                        <%#= ion_icon("plus-circled", role: 'button', tabindex: '0', data: { toggle: 'modal', target: "#gift_url"} ) %>
                    <!-- </li> -->
                    <li class="notification_popover">
                        <%= ion_icon("android-notifications", aria_hidden: true, role: 'button', tabindex: '0') %>
                        <span class="notifications-badge badge <%= "hidden" if current_customer.notification_count == 0 %>">
                            <%= current_customer.notification_count %>
                        </span>
                    </li>
                    <li class="add_wish_icon">
                        <%= link_to ion_icon("plus-circled", aria_hidden: true), "#gift_url", data: {toggle: "modal"} %>
                    </li>
                    <% if (defined? @multitool_profile) || (defined? @multitool_basket) || (defined? @multitool_feed) || (defined? @multitool_settings) || (defined? @multitool_gift) %>
                        <li class="multitool">
                            <%= ion_icon("gear-a", role: 'button', tabindex: '0') %>
                        </li>
                    <% end %>
                    <li class="profile_popover">
                        <%= ion_icon("android-menu", role: 'button', tabindex: '0') %>
                    </li>
                </ul>
            </nav>
        </div>
    <% else %>
        <div class="navbar <%= 'bottom_nav_low' if @landing_page == true %> logged_out" id="navbar_bottom">
            <nav>
                <ul class="nav navbar-nav">

                    <li class="login">
                        <%= link_to 'Log into Giftibly', '#login_modal', id: "landing_login", data: {toggle: 'modal'}, rel:'nofollow' %>
                    </li>

                    <li>
                        <%= link_to 'Start Building Your Wish Lists', new_customer_registration_path, id: "landing_my_account" %>
                    </li>

                </ul>
            </nav>
        </div>
    <% end %>
<% end %>