<header id="header">

    <% if logged_in? %>
        <style>
            @media only screen and (max-width : 992px) {
                .popover{
                    margin-top: 9px !important;
                }
            }
        </style>
    <% end %>
    
    <% if nav_type == 'application' %>
    <nav class="navbar navbar-fixed-top <%='profile_nav' if @clear_nav.present? %> <%=logged_in? ? "logged_in_nav" : "logged_out_nav" %>" role="navigation">
    <% else %>
    <nav class="navbar navbar-fixed-top <%='transparent_nav toggle_transparent' if @transparent_nav.present? %> <%='profile_nav' if @clear_nav.present? %> <%= logged_in? ? "logged_in_nav" : "logged_out_nav" %>" role="navigation">
    <% end %> 
        <div class="container-fluid nav_push">
            
            <% if (!browser.mobile? && nav_type == 'application') || (browser.mobile? && !logged_in?) || (nav_type == 'site_pages' && !logged_in? ) %>
                
                <div class="navbar-header">
                    <%= link_to root_path, class: "navbar-brand" do %>
                        <%= svg('logo') %>
                        <span class="logo_text">Giftibly</span>
                    <% end %>
                    
                    <!-- Desktop and Mobile Hamberger Menu -->
                    <% if (browser.mobile?) %> 
                        <%= link_to 'Login', '#login_modal', id: "landing_login", data: {toggle: 'modal'}, rel:'nofollow' %>

                        <% if @current_cart.present? %>
                            <span class="cart_icon <%= @current_cart.pending_items_count.zero? ? 'no_show': ''%>" id="cart">
                                <%= ion_icon("android-cart", aria_hidden: 'true', role: 'button', tabindex: '0', class: 'giftbox-modal-toggle', id: 'cart_link') %>
                                <span class="badge" id="cart_item_count">
                                    <%= @current_cart.pending_items_count %>
                                </span>
                            </span>
                        <% end %>
                        <%= ion_icon("android-menu", role: 'button', tabindex: '0', class: 'hamburger_menu') %>
                    <% end %>   
                </div>
            <% elsif (!browser.mobile? && nav_type == 'site_pages' && logged_in?) %>
                
                <%= link_to root_path, class: "navbar-brand" do %>
                <%= svg('logo') %>
                <span class="logo_text">Giftibly</span>
                <% end %>
                <%= ion_icon("android-menu", role: 'button', tabindex: '0', class: 'hamburger_menu') %>
            <% end %>        
            
            <% if logged_in? %>

                <!--search bar -->
                <div class="search_container col-lg-8 col-md-8 col-xs-6">
                    <%= ion_icon("ios-search-strong", class: 'searchbar_icon') %>
                    <%= form_tag search_path, class: 'form search_customers nav_search', method: :get do %>
                        <%= text_field_tag :q, params[:q], id:'search_box' ,class: 'form-control search_box', placeholder: "Search Giftibly", data: { toggle: "popover" } %>
                    <% end %>
                </div>
                
                
                <div class="icons">
                    
                    <ul class="nav navbar-nav">
                        <% if (browser.mobile? && @current_cart.pending_items_count.zero?) || !browser.mobile? %>
                            <li class="discover_nav">
                                <%= link_to 'Discover', discover_wish_lists_path %>
                            </li>
                        <% end %>
                        <li class="cart_icon <%= @current_cart.pending_items_count.zero? ? 'no_show': ''%>" id="cart">
                            <%= ion_icon("android-cart", aria_hidden: 'true', role: 'button', tabindex: '0', class: 'giftbox-modal-toggle', id: 'cart_link') %>
                            <span class="badge" id="cart_item_count">
                                <%= @current_cart.pending_items_count %>
                            </span>
                        </li>
                        <% if !(browser.mobile?) %>
                            <li class="activate_search">
                                <%= ion_icon("ios-search-strong", role: 'button') %>
                            </li>

                            <!-- TODO Bring back -->
                            <!-- <li class="message_button">
                                <%#= ion_icon("ion-ios-chatbubble", aria_hidden: true, role: 'button', tabindex: '0', data: { popover_content: "#messages", container: "body", toggle: "popover" }) %>
                                <span class="badge <%#= "hidden" if @messages_count == 0 %>" id="unread_message_count" >
                                <%#= @messages_count %>
                                </span>
                            </li> -->

                            <% if (defined? @multitool_profile) || (defined? @multitool_basket) || (defined? @multitool_feed) || (defined? @multitool_settings) || (defined? @multitool_gift )%>
                                <li class="multitool popover_button">
                                    <%= ion_icon("gear-a", role: 'button', tabindex: '0') %>
                                </li>
                            <% end %>
                            <li class="add_wish_icon">
                                <%= link_to ion_icon("plus-circled", aria_hidden: true), "#gift_url", data: {toggle: "modal"} %>
                            </li>
                            <li class="notification_popover popover_button">
                                <%= ion_icon("android-notifications", role: 'button', tabindex: '0') %>
                                <span class="notifications-badge badge <%= "hidden" if current_customer.notification_count == 0 %>">
                                    <%= current_customer.notification_count %>
                                </span>
                            </li>

                            <li class="profile_popover popover_button">
                                <%= ion_icon("android-menu", role: 'button', tabindex: '0') %>
                            </li>

                        <% end %>
                            <li class="avatar_icon">
                                <%= link_to image_tag( current_customer.avatar.profile_square.url, class: 'avatar' ), user_path( current_customer.username ), data: {username: current_customer.username} %>
                            </li>
                    </ul>

                </div>

                <!-- PROFILE POPOVER PARTIAL -->
                <%= render partial: "shared/nav_popovers/profile_popover" %>

                <!-- MESSAGE POPOVER PARTIAL -->
                <%#= render partial: "shared/nav_popovers/message_popover" %>

                <!-- NOTIFICATION POPOVER PARTIAL -->
                <%= render partial: "shared/nav_popovers/notification_popover" %>

                <% if (defined? @multitool_profile) || (defined? @multitool_basket) || (defined? @multitool_gift) || (defined? @multitool_feed) || (defined? @multitool_settings) %>
                    <!-- MULTITOOL PARTIAL -->
                    <%= render partial: "shared/nav_popovers/multitool_popover" %>
                <% end %>

            <% else %>
           
                <% if !browser.mobile? %>
                    <ul class="nav navbar-nav navbar-right">                        
                        <li class="cart_icon <%= @current_cart.blank? || @current_cart.pending_items_count.zero? ? 'no_show': ''%>" id="cart">
                            <%= ion_icon("android-cart", aria_hidden: 'true', role: 'button', tabindex: '0', class: 'giftbox-modal-toggle', id: 'cart_link') %>
                            <span class="badge" id="cart_item_count">
                                <%= @current_cart.try(:pending_items_count) %>
                            </span>
                        </li>

                        <li>
                            <%= ion_icon("android-menu", role: 'button', tabindex: '0', class: 'hamburger_menu') %>
                        </li>
                        <li class="no_show_md">
                            <%= link_to 'Search for Friends', search_customers_path %>
                        </li>
                        <li class="no_show_md">
                            <%= link_to 'Discover Registries', discover_wish_lists_path %>
                        </li>
                        <li class="no_show_md">
                            <%= link_to 'Adding Wishes', root_path(anchor: 'adding_wishes'), class: 'animate_scroll' %>
                        </li>
                        <li class="no_show_md">
                            <%= link_to 'Giftiblog', 'http://www.giftiblog.com', target: '_blank' %>
                        </li>
                        <li class="login">
                            <%= link_to 'Login', '#login_modal', id: "landing_login", data: {toggle: 'modal'} %>
                        </li>
                        <li>
                            <%= link_to 'Sign Up', new_customer_registration_path, id: "landing_my_account" %>
                        </li>                           
                    </ul>
                <% end %>
                <% if browser.mobile? %>
                    <!-- LANDING POPOVER -->                 
                    <%= render partial: "shared/nav_popovers/landing_popover" %>
                <% end %>
            
            <% end %>      

        </div>
    </nav>
</header>
