<div class="modal destroy_basket_modal fade" tabindex="-1" role="dialog" data-backdrop="static">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal_wrapper">
                    <div class="basket">
                        <div class="basket_inner">
                        <div class="basketPreview">
                                <% if @basket.lifestyle? %>
                                    <% if @basket.gifts.count >= 3 %>
                                        <div class="col-xs-8">
                                            <div class="basketprev1 basketPrevs" style="background-image:url(<%= @basket.gifts[-1].variant.product_image.medium.url %>);"></div>
                                        </div>

                                        <div class="col-xs-4 last">
                                            <div class="basketprev2 basketPrevs" style="background-image:url(<%= @basket.gifts[-2].variant.product_image.small.url %>);"></div>
                                            <div class="basketprev3 basketPrevs" style="background-image:url(<%= @basket.gifts[-3].variant.product_image.small.url %>);"></div>
                                        </div>
                                    <% elsif @basket.gifts.count == 0 %>
                                        <div class="col-xs-12">
                                            <div class="basketprev1 basketPrevs" style="background-image:url('/images/events/createbasket_default.jpg');"></div>
                                        </div>
                                    <% else %>
                                        <div class="col-xs-12">
                                            <div class="basketprev1 basketPrevs" style="background-image:url(<%= @basket.gifts[0].variant.product_image.medium.url %>);"></div>
                                        </div>
                                    <% end %>
                                <% else %>
                                    <div class="col-xs-12">
                                        <div class="basketprev1 basketPrevs" style="background-image:url(<%= @basket.banner.url %>);"></div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <h3><%=@basket.name%>
                            <% if @basket.lifestyle? %>
                            <%= ion_icon("record", aria_hidden: true, class: 'lifestyle_circle') %>
                            <% elsif @basket.event? %>
                            <%= ion_icon("record", aria_hidden: true, class: 'event_circle') %>
                            <% elsif @basket.charity? %>
                            <%= ion_icon("record", aria_hidden: true, class: 'charity_circle') %>
                            <% elsif @basket.cash? %>
                            <%= ion_icon("record", aria_hidden: true, class: 'cash_circle') %>
                            <% end %>
                        </h3>
                    </div>
                    <div class="text-center">
                        <p>Are You Sure you want to delete your Wish List?</p>
                        <p>This action cannot be undone.</p>
                    </div>
                    <div class="actions text-center">
                        <%= link_to 'Just Kidding!', '#', class: "btn btn-sm", data: { dismiss: "modal"} %>  
                        <%= link_to 'Yes, Delete Wish List', basket_destroy_path( @basket.id ), remote: true, method: 'delete',  class: "btn btn-sm"  %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
