<div class="modal fade" id="share_modal" tabindex="-1" role="dialog" data-backdrop="static">
    <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                    <%= link_to @link_url, alt: @verbiage do %>

                    <% if @share_type == 'Gift' || @share_type == 'Variant' %>
                        <div class="image_container">
                    <% else %>        
                        <div class="image_container banner" style="background-image: url('<%= @sharable.banner.url %>')">
                    <% end %>
                          <div class="mask">
                                <% if @share_type == 'Basket' %>
                                    <div class="gift">
                                        <p><%= @sharable.name %></p>
                                        <% if (@sharable.basket_type == 'lifestyle') ||  (@sharable.basket_type == 'charity') %>
                                            <p>
                                                <span>Wishes: <%= @sharable.gifts.count %></span>
                                                <% if @sharable.likes.count > 0 %>
                                                    <span>Likes: <%= @sharable.likes.count %></span>
                                                <% end %>
                                                <span>Shares: <%= @sharable.share_count %></span>
                                            </p>
                                        <% elsif @sharable.basket_type == 'event' %>
                                            <p>
                                                <span>Going: <%= @sharable.event.confirmed_count %></span>
                                                <span>Interested: <%= @sharable.event.maybe_count %></span>
                                                <span>Invited: <%= @sharable.event.pending_count %></span>
                                            </p>
                                        <% end %>    
                                    </div>
                                <% elsif @share_type == 'Customer' %>
                                    <div class="gift">
                                        <p><%= @sharable.name %></p>
                                        <p>
                                            <span>Wish Lists: <%= @sharable.baskets.count %></span>
                                            <span>Friends: <%= @sharable.connections.count %></span>
                                            <span>Total Wishes: <%= @sharable.gifts.count %></span>
                                        </p>
                                    </div>
                                <% elsif @share_type == 'Gift' %>
                                    <div class="gift">
                                        <p><%= @sharable.variant.trunc_name(35) %></p>
                                        <p>
                                            <span>Desired: <%= @sharable.quantity_desired %></span>
                                            <% if current_customer != @sharable.basket.customer %>
                                                <span>Received: <%= @sharable.quantity_received %></span>
                                            <% end %>
                                            <% if @sharable.likes.count > 0 %>
                                                <span>Likes: <%= @sharable.likes.count %></span>
                                            <% end %>
                                        </p>
                                    </div>
                                <% elsif  @share_type == 'Variant' %> 
                                    <div class="variant">
                                        <p><%= @sharable.trunc_name(60) %></p>
                                        <p><%= number_to_currency (@sharable.pretty_price) %><span><%= @sharable.merchant.name %></span></p>
                                    </div>
                                <% end %>
                          </div>
                            <% if @share_type == 'Gift' %>
                                <%= image_tag @sharable.variant.product_image.url, alt: '', class: 'img-responsive' %>
                            <% elsif  @share_type == 'Variant' %>  
                                <%= image_tag @sharable.product_image.url, alt: '', class: 'img-responsive' %>
                            <% end %>
                      </div>                  
                    <% end %>


                  <% if @share_type == 'Gift' || @share_type == 'Basket' %>
                  <%= link_to image_tag(@sharable.customer.avatar.profile.url, alt: 'avatar'), user_path(@sharable.customer.username), class: 'img-responsive avatar' %>
                  <p class="owner_name">
                      <%= @sharable.customer.name %>
                  </p>
                  <% elsif @share_type == 'Customer' %>
                      <%= link_to image_tag(@sharable.avatar.profile.url, alt: 'avatar'), user_path(@sharable.username), class: 'img-responsive avatar' %>
                      <p class="owner_name">
                      </p>
                  <% end %>
                <% if current_customer.present? %>
                    <div class="top">
                        <p>Share this <%= @verbiage %></p>
                    </div>  
                    <hr>   
                        <form action="#" class="form sharing_search">
                            <div class="form-group">
                                <input type="text" name="share_search" class="form-control input-md" placeholder="Search" />
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </form>
                        <ul class="list-unstyled friends 
                            <%= 'variant' if @share_type == 'Variant' %> 
                            <%= 'banner' if @share_type == 'Customer' || @share_type == 'Basket' %> 
                            <%= 'safari_mobile' if (browser.safari? && browser.mobile?) %>
                            <%= @share_type %>
                        ">
                        <% current_customer.connections.each do |connection| %>
                             <li class="list-group-item friend" data-connection="<%= connection.id %>">
                                 <%= image_tag connection.avatar.profile_square.url, alt: 'avatar', class: 'img-responsive' %>
                                 <span><%= connection.name %></span>
                                 <%= ion_icon("ios-checkmark", aria_hidden: true, class: 'pull-right hidden') %>
                             </li>
                        <% end %>
                    </ul>
                <% else %>
                    <% if @share_type == 'Gift' || @share_type == 'Variant' %>
                        <div class="mask_preview">
                    <% else %>        
                        <div class="mask_preview banner">
                    <% end %>
                        <div>
                            <span>From here, you can share items with your connections. Please</span>
                            <%= link_to 'Login', '#login_modal', data: {toggle: 'modal'}, rel:'nofollow' %>
                            <span>or</span>
                            <%= link_to 'Sign Up', new_customer_registration_path, class: "sign_up" %>
                            <span>to share.</span>
                        </div>
                    </div>
                <% end %>
                <% if current_customer.present? %>
                    <div class="share_social">
                        <!-- copy link -->
                        <%= link_to '#', class: "copy copy_basket", rel:'nofollow', data: {clipboard_action: "copy", clipboard_text: @share_url} do %>
                            <%= ion_icon("link") %>
                        <% end %>                      
                        <!-- social link -->

                        <%= link_to ion_icon("social-facebook"), "https://www.facebook.com/sharer/sharer.php?u=#{@share_url}", title: 'facebook share', target: '_blank', rel:'nofollow' %>
                        <%= link_to ion_icon("social-pinterest"), "https://pinterest.com/pin/create/button/?url=#{@share_url}&media=#{@image_url}&description=#{@name}", title: 'pinterest share', target: '_blank', rel:'nofollow' %>
                        <%= link_to ion_icon("social-twitter"), "https://twitter.com/intent/tweet?text=#{@name}&amp;url=#{@share_url}", title: 'twitter share', target: '_blank', rel:'nofollow' %>

                        <button class="btn share_basket disabled">Share <%= ion_icon("ios-paperplane") %></button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
