BASKET, YO!
<br>
<%= link_to "Back to profile", user_index_path %>
<br>
<br>
<p>
<% if @baskets.blank? %>
  Oh no! You have no Baskets yet! <%= link_to "Make one?", "/#" %>
<% else %>
  You have <%= @baskets.count %> Baskets<hr>
  <% @baskets.each do |basket| %>
    <div id="basket_<%= basket.id %>_block" >
    <b><%= basket.name %></b><br>
    <p>
      <% if basket.gifts.blank? %>
        Oh no! You have no Gifts yet! <%= link_to "Add some!", products_index_path %>
      <% else %>
        <% basket.gifts.each do |gift| %>
          <p id="gift_<%= gift.id %>_block">
            <%= gift.variant.name %> <%= "**INVALID**" if gift.variant.invalid? %>
            <%= link_to "Remove From Basket", "#", id: "remove_gift_#{gift.id}", class: "basket_removal" %>
          </p>
        <% end %>
      <% end %>
      </p>
    </p>
    <p>
    <%= link_to "Delete this Basket", "#", id: "delete_basket_#{basket.id}", class: "delete_basket" %>
    </p>
    <hr>
    </div>
  <% end %>
<% end %>

<div id="create_basket_block">
  <%= link_to "Create New Basket", "#", id: "create_basket" %>
</div>

<div id="basket_name_block" style="display: none">
  Name of New Basket: <%= text_field :basket_name, :create_box %><br/>
  <%= submit_tag "Create New Basket", id: "create_basket_button" %>
</div>

<script>
$('#create_basket').click(function(event){

  // Hide create new basket link
  $('#create_basket_block').hide();
  // Reveal textfield for adding name w/ confirm button 
  $('#basket_name_block').show();
  event.preventDefault();

});

$('#create_basket_button').click(function(event){
  var basket_name = $('#basket_name_create_box').val();

  var formData = {
    'name' : basket_name
  }

  // ajax basket_name to controller
  $.ajax({
    type     : 'POST',
    url      : 'basket/create',
    data     : formData,
    dataType : 'json',
    encode   : true
  })

  $('#create_basket_block').show();
  $('#basket_name_block').hide();

  event.preventDefault();
});

$('.basket_removal').click(function(event){
  // event.target.id
  var ray = event.target.id.split("_");

  var formData = {
    'gift_id'   : ray[2]
  };

  $.ajax({
    type     : 'DELETE',
    url      : 'gift/destroy',
    data     : formData,
    dataType : 'json',
    encode   : true
  })

  $('#gift_' + ray[2] + '_block').hide();
  event.preventDefault();
});


$('.delete_basket').click(function(event){
  var ray = event.target.id.split("_");

  var formData = {
    'basket_id'  : ray[2]
  };

  $.ajax({
    type     : 'DELETE',
    url      : 'basket/destroy',
    data     : formData,
    dataType : 'json',
    encode   : true
  })

  $('#basket_' + ray[2] + '_block').hide();
  event.preventDefault();
});
</script>
