$('body').append('<%= escape_javascript(render partial: 'modal_destroy_basket', basket: @basket) %>');

// Opens destroy basket modal
$('.destroy_basket_modal').modal(open);

//remove partial on hidden
$('.destroy_basket_modal').on('hide.bs.modal', function () {
  $('.destroy_basket_modal').remove();
})

$(document).on('ajax:success', '.destroy_basket_modal a[data-method="delete"]', function(e, data, status, xhr){
   if (data.response == true) {
   	$('.destroy_basket_modal').modal('hide');
   	setTimeout(function(){
        $(".group_tile[data-basket-id="+data.basket_id+"]").fadeOut(400);
   		$(".group_tile[data-basket-id="+data.basket_id+"]").remove();
   	},500)
   	toastr.success('Wish list successfully deleted.');
   }else{
   	toastr.error('Something went wrong please try again.');
   }
})

if($(window).width() <=  480){
    $('.modal .closeBtn').click(function() {
        $(this).closest('.modal').addClass('hidemodal');
        setTimeout(function(){
            $(this).closest('.modal').modal('hide');
        }, 400)
    })
}
