//geocomplete 
$(".event_address").geocomplete().bind("geocode:result", function(event, result){
	console.log(result);
});

// // replace basket images back to original 
$(".create_modal").on('hide.bs.modal', function () {
	$('input#variant_id, input#quantity').remove();
})

//hidden variant id for creating basket with item 
$('<input>').attr({
    type: 'hidden',
    id: 'variant_id',
    name: 'basket[variant_id]',
    value: '<%= @variant.id %>'
}).appendTo('#lifestyle #new_basket, #event #new_basket, #charity #new_basket, #cash #new_basket');

//hidden quantity for creating basket with item 
$('<input>').attr({
    type: 'hidden',
    id: 'quantity',
    name: 'basket[quantity]',
    value: $(".qty").val()
}).appendTo('#lifestyle #new_basket, #event #new_basket, #charity #new_basket, #cash #new_basket');

//open create modal
$('.create_modal').modal(open);