<% @gifts.reverse.each do |gift| %>
	html = $('<%= escape_javascript(render partial: "shared/tiles/product_tile", locals: {product: gift, tile: "basket"}) %>')
    $("#gifts .products").append(html);
<% end %>

connections_autocomplete("search_wishes", <%=raw @gifts_arr %>);