
<% if logged_in? %>
  $('body').append("<%= escape_javascript(render partial: 'popup_share_basket', name: @name, verbage: @verbiage, share_url: @share_url, image_url: @image_url, rel: 'nofollow') %>");
<% else %>
  $("<%= escape_javascript(render partial: 'popup_share_basket', name: @name, verbage: @verbiage, share_url: @share_url, image_url: @image_url, rel: 'nofollow') %>").insertBefore('#login_modal'); 
<% end %>

$('#share_modal').modal(open);

//share changes meta property for facebook social
$('#share_modal').on('hide.bs.modal', function () {
  $('#share_modal').remove();
})

<% if current_customer.present? %>

///Autocomplete Options
  var searchShare = {
    data: <%=raw @connection_arr %>,
    list: {
      maxNumberOfElements: 5,
      match: {
        enabled: true
      },
      sort: {
        enabled: true
      },
      onClickEvent: function() {
        filterFriends()
      }   
    }
  };

  // Makes autocomplete
  $("input[name='share_search']").easyAutocomplete(searchShare);

  $("input[name='share_search']").keyup(function(){

    // clear button
    $('#share_modal .searchclear').toggle(Boolean($(this).val()));

    // Retrieve the input field text and reset the count to zero
    var filter = $(this).val(), itemsFound = 0;
        // Loop through each friend
        $(".friend").each(function(){
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
              $(this).fadeOut();
            // Show the list item if the phrase matches and increase the count by 1
          } else {
            $(this).show();
            itemsFound++;
          }

        //No items found show text       
        if(itemsFound == 0 ){
        }else{
        }

      });            

    });

  // Click filter
  function filterFriends(){
    val = $("input[name='share_search']").val();
    $(".friends .friend span").each(function(){
      if (val !== $(this).text()) {
        $(this).closest('.friend').fadeOut();
      }else{
       $(this).closest('.friend').show();
     }
   })
  }


  // Clipboard
  var clipboard = new Clipboard('a.copy', {
    container: document.getElementById('share_modal')
  });

  $('a.copy').on('click', function(e){
    e.preventDefault();  
     $(this).tooltip({
      trigger: 'click',
      placement: 'right',
      title: 'Link Copied'
    })
  })

  //clipboard success
  clipboard.on('success', function(e) {
    $('a.copy').tooltip('show');
    console.info('Text:', e.text);
    setTimeout(function(){
       $('a.copy').tooltip('hide');
    }, 1000);
  });


  var share_list = [];
   $("#share_modal .friends .list-group-item").click(function () {
    $(this).find("i").toggleClass("hidden");
    $(this).toggleClass('selected');
    val = $(this).data('connection');
    if ($(this).hasClass('selected')) {
      share_list.push(val)
    }else{
      remove(val,share_list)
    }
    function remove(item, cat){
      for (var i=0;i<share_list.length;i++){
        if (share_list[i]==item){
            share_list.splice(i,1); //this delete from the "i" index in the array to the "1" length
            break;
          }
        }  
      }
      if (share_list.length > 0) {
        $('.share_basket').removeClass('disabled');
      }else{
        $('.share_basket').addClass('disabled');
      }
    });
   
   var type = "<%= @share_type %>";
   var id = "<%= @sharable.id %>";

   $('.share_basket').on('click', function(e){
    var customers = share_list.toString();
    if (!$(this).hasClass("disabled")) {
      $.ajax({
        url : '/activities/share',
        type : 'PATCH',
        data : {
            customers: customers,
            actable_type: type,
            actable_id: id
        },
        dataType : 'json',
        success : function(data, response) {
          if (data.response == true) {
            toastr.success('Item successfully shared!');
          }else{
            toastr.error('Something went wrong. Please try again.');
          }
          share_list = [];
          $(".friends .list-group-item").removeClass('selected');
          $(".friends .list-group-item i").addClass('hidden');
        },  
        error: function(request,error) {
          console.log("Request: "+JSON.stringify(request));
        }   
      });
    }
  })

<% end %>

