<div id="lifestyle_basket">
    <%= render partial: "shared/baskets/basket_body", locals: { basket_type: 'lifestyle'} %>
</div> 

<% image_path = @basket.banner.present? ? @basket.banner.url : "https://#{request.host}#{@basket.banner.url}" %>

<%= render partial: "shared/popup/popup_facebook_share", locals: { 
    url: "#{request.protocol}#{request.host}#{basket_view_path(@basket.customer.username, @basket.slug)}", 
    name: @basket.name, 
    image: image_path,
    description: strip_tags( @basket.description ) 
} %>

<script rel="nofollow" type="text/javascript">

<% if @basket.customer == current_customer %>
    // avoids auto descovery
    Dropzone.autoDiscover = false;
    //Events Banner upload dropzone
    var basketDropzone = new Dropzone("#events-banner-dropzone", {
        url: "/basket/banner/"+"<%= @basket.id %>",
        dictDefaultMessage: 'Or Drag and Drop File Here',
        paramName: "file",
        maxFiles: 1,
        maxFilesize: 5,
        maxThumbnailFilesize: 5,
        acceptedFiles: 'image/*,.jpeg,.jpg,.png',
        autoProcessQueue: false,
        clickable: ['.dropzone-clickable *','.dropzone-clickable'],
        accept: function(file, done) {
            // some code
            done();
        },
        success: function (data, response){
            if (response) {
                $('#eventsUpload .dz-cr-image img').cropper('destroy');
                setTimeout(function(){window.location.reload()},1000); 
            }
        },
        addedfile: function(file){
            ImageCropper(file, basketDropzone, '#eventsUpload', true, 'banner');
        },
        maxfilesexceeded: function(file) {
            $('#eventsUpload .dz-cr-image img').cropper('destroy');
            this.removeAllFiles();
            this.addFile(file);
        },
        dictFileTooBig: function(){
            $('#eventsUpload .dz-cr-image img').cropper('destroy');
            this.removeAllFiles();
            toastr.error('File size too large max 5MB');
        }
    });
<% end %>
    
    
$(document).on('turbolinks:load', function() {

    $('#edit_basket_'+<%= @basket.id %>).validator();

    $(window).on('resize', function(){
        var basket_preview_height = $(".basket_container .basket").height() + "px";
        var basket_preview_width = $(".basket_container .basket").width() + "px";
        $(".basket_container .mask_upper").css({"height": basket_preview_height, "width": basket_preview_width});
        $(".basket_container .mask_upper").css("display", "block");
    });

    //if hash from link
    if(window.location.hash) {
      $('.two_tab_container div a').removeClass('active');
      $('.two_tab_container div a[href="' + window.location.hash + '"]').tab('show').addClass('active');
    }

    //hash changed in address bar 
    $(window).on('hashchange', function(e) {
      $('.two_tab_container div a').removeClass('active');
      $('.two_tab_container div a[href="' + window.location.hash + '"]').tab('show').addClass('active');
    }); 

    <% if @gifts_arr.present? %>
        connections_autocomplete("search_wishes", <%=raw @gifts_arr %>)
    <% end %>
     
})

</script>
