<div class="full_page_form">
  <div class="form-container">  
    
    <div class="col-xs-12 col-sm-12 col-md-12 text-center bottom-20">
      <h1 class="step-title"><strong>UPDATE YOUR PASSWORD</strong></h1>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <%= form_for(resource, as: resource_name, url: update_customer_password_path) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field form-group has-feedback">
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control input-lg', placeholder: 'Enter New Password' %>
      </div>

      <div class="field form-group has-feedback">
        <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", class: 'form-control input-lg', placeholder: 'Confirm New Password' %>
      </div>

      <div class="actions">
        <%= f.submit "Reset My Password", class: 'btn btn-lg' %>
      </div>
        <%= link_to 'Login Instead', '#login_modal', data: {toggle: 'modal'} %>
      <% end %>
    </div> 
  </div>
</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', function() {
        $('#new_customer').validator()
    });
</script>
