<div class="full_page_form">
    <div class="form-container"> 

        <div class="col-xs-12 col-sm-12 col-md-12 text-center bottom-20">
          <h1 class="step-title"><strong>FORGOT YOUR PASSWORD?</strong></h1>
        </div> 

        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 bottom-10">
            <%= form_for(resource, as: resource_name, url: create_customer_password_path, html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field form-group has-feedback">
                <%= f.email_field :email, autofocus: true, required: true, class: 'form-control input-lg', placeholder: 'Enter email address to reset...' %>
                <div class="help-block with-errors"></div>
            </div>

            <div class="actions">
                <%= f.submit "Reset My Password", class: 'btn btn-lg' %>
            </div>
            <%= link_to 'Login Instead', '#login_modal', data: {toggle: 'modal'} %>
            <% end %>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', function() {
        $('#new_customer').validator()
    });
</script>
