<h2 class="reports_text">UNRESOLVED REPORTS</h2>
<div class="ga_reports_container">
    <% @unresolved.each do |key, reports| %>
    <h4 class="text-center"><%= key %> Table</h4>
    <% if reports.empty? %>
    <p>No reports to show.</p>
    <% else %>
    <p>Number of unresolved reports: <%= reports.count %> </p>
    <table>
        <thead>
            <th>Customer Name</th>
            <th>Report ID</th>
            <th>Details</th>
            <th>Email</th>
            <th>Reported Time</th>
            <th>Resolved?</th>
        </thead>
        <% reports.each do |report| %>
        <tr>
            <td><%= report.name %></td>
            <td><%= report.id %></td>
            <td><%= report.body %> </td>
            <td><%= report.email %></td>
            <td>
                <span><%= report.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %l:%M%P") %></span>
            </td>
            <td>                   
                <div class="field form-group checkbox checkbox-warning">
                    <%= check_box_tag "report_resolved", report.id, false, class: 'form-check-input'  %>
                    <label></label>
                </div>
            </td>
        </tr>
        <% end %>

    </table>
    <% end %>
    <% end %>
    <a class="submit_button btn">Submit</a>
</div>
<br />
<h2 class="reports_text">RESOLVED REPORTS</h2>
<div class="ga_reports_container">
    <% @resolved.each do |key, reports| %>
    <h4><%= key %></h4>

    <% if reports.empty? %>
    <p>No resolved reports.</p>
    <% else %>
    <p>Number of resolved reports: <%= reports.count %></p>
    <table>
        <thead>
            <th>Customer Name</th>
            <th>Report ID</th>
            <th>Details</th>
            <th>Reported Time</th>
            <th>Resolved Time</th>
            <th>Resolved By</th>
        </thead>
        <% reports.each do |report| %>
        <tr>
            <td><%= report.name %></td>
            <td><%= report.id %></td>
            <td><%= report.body %><td>
                <span><%= report.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %l:%M%P") %></span>
            </td>
            <td>
                <span><%= report.resolved_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %l:%M%P") %></span>
            </td>
            <td>
                <span><%= report.admin.name %></span>
            </td>
        </tr>
        <% end %>
    </table>
    <% end %>

    <% end %>
</div>

<script>
    $(".ga_reports_container .submit_button").click(function () {

        if ($('input[name="report_resolved"]').is(':checked')) {
            var report_array = [];
            $("input:checkbox[name=report_resolved]:checked").each(function(){
                report_array.push($(this).val());
            });
            $.ajax({
                url      : '/admin/complaints/resolve',
                type     : 'PATCH',
                data     : { reports: report_array },
                dataType : 'json',
                success: function (data) {
                location.reload();
                },
                error: function(){
                    console.log("Cannot send data");
                }
            });
        }
    });
</script>