<h2 class="reports_text">FEEDBACK HOME</h2>
<div id="feedback_container">
    <div class="col-xs-3 sidenav">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to 'Complaints Feedback', complaints_admin_feedback_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Purchasing Feedback', purchases_admin_feedback_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Mailing List', '/admin/feedback/mailinglist.csv' %>
        </li>
      </ul>
    </div>
</div>

