<h2 class="reports_text">SUCESSFULL PURCHASES</h2>
<div class="ga_reports_container">

	<%if @purchased_reports.empty? %>
	<p>No reports to show.</p>
	<% else %>

	<p>Number of sucessfull purchases: <%= @purchased_reports.count %> </p>

	<table>
		<thead>
			<th>Report Type</th>
			<th>Report ID</th>
			<th>Item URL</th>
			<th>Quantity</th>
			<th>Surprise</th>
			<th>Reported Time</th>
		</thead>
		<% @purchased_reports.each do |report| %>
		<tr>
			<td><%= report.actable_type %></td>
			<td><%= report.id %></td>
			<td><%= link_to report.url, report.url %></td>
			<td><%= report.quantity %></td>
			<td><%= report.surprise.nil? ? "false" : "#{report.surprise}" %></td>
			<td>
				<span><%= report.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %l:%M%P") %></span>
			</td>
		</tr>
		<% end %>

	</table>

	<% end %>
</div>

<h2 class="reports_text">FAILED PURCHASES</h2>

<div class="ga_reports_container">

	<%if @failed_purchased_reports.empty? %>
	<p>No reports to show.</p>
	<% else %>

	<p>Number of failed purchases <%= @failed_purchased_reports.count %> </p>

	<table>
		<thead>
			<th>Report Type</th>
			<th>Report ID</th>
			<th>Item URL</th>
			<th>Quantity</th>
			<th>Feedback</th>
			<th>Reported Time</th>
		</thead>
		<% @failed_purchased_reports.each do |report| %>
		<tr>
			<td><%= report.actable_type %></td>
			<td><%= report.id %></td>
			<td><%= link_to report.url, report.url %></td>
			<td><%= report.quantity %></td>
			<td><%= report.feedback %></td>
			<td>
				<span><%= report.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %l:%M%P") %></span>
			</td>
		</tr>
		<% end %>

	</table>

	<% end %>

</div>