<form id="select_payment_method_form">
  
  <ul class="payment_method_list">
    <% payment_methods.each do |payment_method| %>
      <li class="payment_method">
        <%= radio_button_tag 'payment_method', payment_method.uuid, is_payment_method?(giftbox, payment_method) %>

        <label for="<%= payment_method.uuid %>">
          <% case payment_method.metadata[:brand].downcase
          when 'visa' %>
            <img src="/images/checkout/visa.png" alt="visa card" class="img-responsive card_img">
          <% when 'mastercard' %>
            <img src="/images/checkout/mastercard.png" alt="master card" class="img-responsive card_img">
          <% when 'american express' %>
            <img src="/images/checkout/amex.png" alt="amex card" class="img-responsive card_img">
          <% when 'discover' %>
            <img src="/images/checkout/discover.png" alt="discover card" class="img-responsive card_img">
          <% else %>
            <%= payment_method.metadata[:brand] %>
          <% end %>
          **** **** **** <%= payment_method.metadata[:last4] %>
        </label>
      </li>
    <% end %>
  </ul>
  
  <div class="col-xs-12 form-toggle-container">
    <a class="create_payment_method">Add a new card</a>
  </div>

</form>

<button class="btn save_and_continue_btn select_payment_method" data-parent="#accordion" data-toggle="collapse" href="#collapse4">Save &amp; Continue</button>
