<div class="col-xs-12">
  <h3>Purchasing Center</h3>
</div>

<div class="admin_dashboard_container">

  <div class="col-xs-3 sidenav">
    <%= render partial: 'admin/shared/purchasing_sidenav' %>
  </div>

  <div class='col-xs-9'>

    <h4>Shipping orders</h4>

    <ul class="nav nav-tabs">
      <li><%= active_link_to "all", admin_shipping_orders_path, active: :exact %></li>
      <li><%= active_link_to "completed", admin_shipping_orders_path(status: 'completed'), active: { status: 'completed' } %></li>
    </ul>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @shipping_orders.any? %>
          <% @shipping_orders.each do |shipping_order| %>
            <tr>
              <td>
                <%= shipping_order.id %>
              </td>
              <td>
                <% if shipping_order.completed? %>
                  <span class="badge badge-success"><%= shipping_order.status %></span>
                <% elsif shipping_order.failed? %>
                  <span class="badge badge-alert"><%= shipping_order.status %></span>
                <% else %>
                  <%= shipping_order.status %>
                <% end %>
              </td>
              <td>
                <%= shipping_order.created_at.to_formatted_s(:short) %><br>
                <small><%= time_ago_in_words(shipping_order.created_at) %> ago</small>
              </td>
              <td>
                <%= link_to "view", admin_shipping_order_path(shipping_order), class: 'btn btn-default' %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan='5'>
              <%= render "admin/shared/empty" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @shipping_orders %>
  </div>
</div>

