<div class="admin_dashboard_container">
  <div class="row">
    <div class='col-xs-12'>
      <%= link_to ion_icon('chevron-left') + " Back to Index", admin_shipping_orders_path %>
    </div>
    <div class="col-xs-12 section-header">
      <h2>
        Shipping Order <%= @shipping_order.id %>
      </h2>
    </div>
    <div class="col-xs-3">
      <h4>Metadata</h4>
      <small>
        status: <%= @shipping_order.status %><br>
        customer name: <%= @owner.try(:name) %><br>
        customer email: <%= @owner.email %>
      </small>
    </div>
    <div class="col-xs-3">
      <h4>Shipping Option</h4>
      <small><%= @shipping_order.giftbox.shipping_option %></small>
      <h4>Shipping Address</h4>
      <small><%= @shipping_address.full_address %></small>
    </div>
    <div class="col-xs-6">
      <div class="col-xs-12">
        <h4>Invoice <%= @invoice.id %></h4>
      </div>
      <div class="col-xs-6">
        <small>estimated subtotal:</small><br>
        <%= number_to_currency(@invoice.estimated_subtotal) %><br>

        <small>estimated shipping:</small><br>
        <%= number_to_currency(@invoice.estimated_shipping_fees) %><br>

        <small>estimated taxes:</small><br>
        <%= number_to_currency(@invoice.estimated_taxes) %><br>

        <small>estimated processing fee:</small><br>
        <%= number_to_currency(@invoice.estimated_service_fee) %><br>

        <small>estimated total:</small><br>
        <%= number_to_currency(@invoice.estimated_total_amount) %><br>

        <small>authorized amount:</small><br>
        <%= number_to_currency(@payment.authorized_amount) %>
      </div>
      <div class="col-xs-6">
        <% if @invoice.completed? %>
          <small>actual subtotal:</small><br>
          <%= number_to_currency(@invoice.subtotal) %><br>

          <small>actual shipping:</small><br>
          <%= number_to_currency(@invoice.shipping_fees) %><br>

          <small>actual taxes:</small><br>
          <%= number_to_currency(@invoice.taxes) %><br>

          <small>actual processing fee</small><br>
          <%= number_to_currency(@invoice.service_fee) %><br>

          <small>charged amount:</small><br>
          <%= number_to_currency(@payment.charged_amount) %>
        <% else %>
          <small>actual subtotal:</small><br>
          <%= number_to_currency(@invoice.total_actual_subtotal) %><br>

          <small>actual shipping:</small><br>
          <%= number_to_currency(@invoice.total_actual_shipping_fees) %><br>

          <small>actual taxes:</small><br>
          <%= number_to_currency(@invoice.total_actual_taxes) %><br>

          <small>actual processing fee</small><br>
          <%= number_to_currency(@invoice.processing_fee) %><br>

          <small>charged amount:</small><br>
          <%= number_to_currency(@invoice.total_chargeable_amount) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section-header">
      <h4>Step 1: Run Merchant carts
        <small><a data-toggle="modal" href="#cart_instructions_modal">Instructions</a></small>
      </h4>
    </div>
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th width="150">ID</th>
            <th width="150">Merchant</th>
            <th width="150">Status</th>
            <th width="150">Items in cart</th>
            <th width="450"></th>
          </tr>
        </thead>
        <tbody>
          <% @merchant_carts.each do |cart| %>
          <tr>
            <td><%= cart.id %></td>
            <td><%= cart.merchant.name %></td>
            <td>
              <% if cart.completed? %>
                <span class="badge badge-success"><%= cart.status %></span>
              <% elsif cart.failed? %>
                <span class="badge badge-alert"><%= cart.status %></span>
              <% else %>
                <%= cart.status %>
              <% end %>
            </td>
            <td><%= cart.cart_items_count %></td>
            <td>
              <%= link_to "Start", start_admin_merchant_cart_path(cart), class: 'btn btn-success' if cart.pending? %>        
              <%= link_to "view", admin_merchant_cart_path(cart), class: 'btn btn-default' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section-header">
      <h4>Step 2: Complete the Shipping Order 
        <small><a data-toggle="modal" href="#mark_as_complete_modal">Instructions</a></small>
      </h4>
    </div>
    <div class="col-xs-12">
      <% if !@shipping_order.completed? %>
        <%= link_to "Mark Shipping Order as Complete", mark_as_complete_admin_shipping_order_path(@shipping_order), class: 'btn shipping_complete' %>
      <% else %>
        Order complete
      <% end %>
    </div>
  </div>

</div>
