<%= render partial: "shared/baskets/basket_body", locals: { basket_type: 'event'} %>



<% image_path = @basket.banner.present? ? @basket.banner.url : "#{request.host}#{@basket.banner.url}" %>

<%= render partial: "shared/popup/popup_facebook_share", locals: { 
    url: "#{request.protocol}#{request.host}#{event_view_path(@basket.customer.username, @basket.id)}", 
    name: @basket.name, 
    image: image_path, 
    description: strip_tags( @basket.description )
} %>

<%= content_for :ecom do %>
<script type="text/javascript">
    dataLayer.push({
        'ecommerce': {
            'currencyCode': 'USD',                       
            'impressions': <%=raw @dataLayer_arr %>
        }
    });
</script>
<% end %>

<script type="text/javascript">


    <% if current_customer.present? %>

    $('.guest_list_menu li:nth-child(n+1) a').on('click',function () {
        $("#going_list").addClass("fade");
    });

    var event_id = '<%= @basket.event.id %>';
    $("#going").click(function (e) {
        e.preventDefault();
        $.ajax({
            url      : '/event/confirm',
            type     : 'PATCH',
            data     : { event_id: event_id },
            dataType : 'json',
            success  : function(data, response){
                if (data.response == true) {
                    toastr.success('Invite Accepted!');
                    $('.event_status').text('Going');
                    $('.info div:nth-child(2) p:first-child').html(data.invite_count);
                    $('.guest_list_menu a[href="#going_list"] span:first-of-type').html(data.invite_count);                  
                }else{
                    toastr.error('Somthing went wrong. Please try again!');
                }
            }
        });
    });

    $("#not_going").click(function (e) {
        e.preventDefault();
        $.ajax({
            url      : '/event/reject',
            type     : 'PATCH',
            data     : { event_id: event_id },
            dataType : 'json',
            success  : function(data, response){
                if (data.response == true) {
                    toastr.success('Invite Declined!');
                    $('.event_status').text('Not Going');
                }else{
                    toastr.error('Somthing went wrong. Please try again!');
                }
            }
        });
    });

    $("#interested").click(function (e) {
        e.preventDefault();
        $.ajax({
            url      : '/event/maybe',
            type     : 'PATCH',
            data     : { event_id: event_id },
            dataType : 'json',
            success  : function(data, response){
                if (data.response == true) {
                    toastr.success('Marked as Interested.');
                    $('.info div:nth-child(3) p:first-child').html(data.invite_count)
                    $('.guest_list_menu a[href="#interested_list"] span:first-of-type').html(data.invite_count);
                    $('.event_status').text('Interested');
                }else{
                    toastr.error('Somthing went wrong. Please try again!');
                }
            }
        });
    });

    <% end %>
    
    
    
    <% if @basket.customer == current_customer %>
        // avoids auto descovery
        Dropzone.autoDiscover = false;
        //Events Banner upload dropzone
        var eventsDropzone = new Dropzone("#events-banner-dropzone", {
            url: "/event/banner/"+"<%= @basket.event.id %>",
            dictDefaultMessage: 'Or Drag and Drop File Here',
            paramName: "file",
            maxFiles: 1,
            maxFilesize: 5,
            maxThumbnailFilesize: 5,
            acceptedFiles: 'image/*,.jpeg,.jpg,.png',
            autoProcessQueue: false,
            clickable: ['#events-banner-dropzone *','#events-banner-dropzone'],
            accept: function(file, done) {
                // some code
                done();
            },
            success: function (file, responseText){
                $('#eventsUpload .dz-cr-image img').cropper('destroy');
                setTimeout(function(){window.location.reload()},1000); 
            },
            addedfile: function(file){
                ImageCropper(file, eventsDropzone, '#eventsUpload', true, 'banner')
            },
            maxfilesexceeded: function(file) {
                $('#eventsUpload .dz-cr-image img').cropper('destroy');
                this.removeAllFiles();
                this.addFile(file);
            },
            dictFileTooBig: function(){
                $('#eventsUpload .dz-cr-image img').cropper('destroy');
                this.removeAllFiles();
                toastr.error('File size too large max 5MB');
            }
        });
    <% end %>
    
    $(document).on('turbolinks:load', function() {

        $('#edit_event_'+<%= @basket.event.id %>).validator();

        //hash changed in address bar
        $(window).on('hashchange', function(e) {
            tabToggle()
        });

        //toggle tab
        function tabToggle(){
            if (window.location.hash) {
                $('.three_tab_navigation a').each(function(){
                    if (window.location.hash == $(this).attr('href')) {
                        $(this).addClass('active');
                        $(this).tab('show');
                    }else{
                        $(this).removeClass('active');
                    }
                })
            }
        }tabToggle();

        //if hash from link
        if(window.location.hash) {
            $('.two_tab_container div a').removeClass('active');
            $('.two_tab_container div a[href="' + window.location.hash + '"]').tab('show').addClass('active');
        }
        //hash changed in address bar
        $(window).on('hashchange', function(e) {
            $('.two_tab_container div a').removeClass('active');
            $('.two_tab_container div a[href="' + window.location.hash + '"]').tab('show').addClass('active');
        });

        <% if @gifts_arr.present? %>
        connections_autocomplete("search_wishes", <%=raw @gifts_arr %>)
        <% end %>

    })
</script>
