<div class="admin_dashboard_container">
  <div class="row">
    <div class="form-container">

      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <%= simple_form_for([:admin, @purchaser]) do |f| %>

        <div class="field form-group has-feedback">
          <%= text_field_tag :name, nil, required: true, minlength: 4, class: 'form-control input-lg', placeholder: 'Full Name or Name of Business' %> 
          <div class="help-block with-errors"></div>
        </div>

        <div class="field form-group has-feedback">
          <%= f.email_field :email, required: true, class: 'form-control input-lg', placeholder: 'Email' %>
          <div class="help-block with-errors"></div>
        </div>

        <div class="field form-group has-feedback">
          <%= f.password_field :password, autocomplete: "off", required: true, class: 'form-control input-lg', placeholder: 'Create a Password', minimum: 6, id: "customer_password_confirmation" %>
          <span class="help-block hidden">Password required</span> 
        </div>

        <div class="actions">
          <%= f.submit "Create Purchaser", class: 'btn btn-lg' %>
        </div> 

        <% end %>
      </div>

    </div>
  </div>
</div>