<div class="col-xs-12">
  <h3>Purchasing Center</h3>
</div>

<div class="admin_dashboard_container">

  <div class="col-xs-3 sidenav">
    <%= render partial: 'admin/shared/purchasing_sidenav' %>
  </div>

  <div class='col-xs-9'>

    <h4>Purchasers</h4>
    <%= link_to "New purchaser", new_admin_purchaser_path %>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Created</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @purchasers.any? %>
          <% @purchasers.each do |purchaser| %>
            <tr>
              <td><%= purchaser.id %></td>
              <td><%= purchaser.email %></td>
              <td><%= purchaser.created_at.to_formatted_s(:short) %></td>
              <td><%= purchaser.deleted_at ? 'deactivated' : 'active' %></td>
              <td>
                <%= link_to "view", admin_purchaser_path(purchaser), class: 'btn btn-default' %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan='5'>
              <%= render "admin/shared/empty" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @purchasers %>
  </div>
</div>