<div class="admin_dashboard_container">
  <div class="row">
    <div class='col-xs-12'>
      <%= link_to ion_icon('chevron-left') + " Back to Index", admin_purchasers_path %>
    </div>
    <div class="col-xs-12 section-header">
      <h2>
        New Purchaser
      </h2>
    </div>
    <div class="col-xs-12">
      <%= render 'admin/purchasers/form' %>
    </div>
  </div>
</div>