<div class="admin_dashboard_container">
  <div class="row">
    <div class='col-xs-12'>
      <%= link_to ion_icon('chevron-left') + " Back to Index", admin_purchasers_path %>
    </div>
    <div class="col-xs-12 section-header">
      <h2>
        Purchaser <%= @purchaser.id %>
      </h2>
    </div>
    <div class="col-xs-12">
      <h4>Metadata</h4>
      <small>
        name: <%= @purchaser.try(:name) %><br>
        email: <%= @purchaser.email %><br>
        created_at : <%= @purchaser.created_at.to_formatted_s(:long) %>
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section-header">
      <h4>Actions</h4>
    </div>
    <div class="col-xs-12">
      <% if !@purchaser.deleted_at %>
        <%= link_to "Send reset password email", reset_password_admin_purchaser_path(@purchaser), method: :post, class: 'btn btn-default btn-lg' %>
        <%= link_to "Deactivate", admin_purchaser_path(@purchaser), method: :delete, data: { confirm: 'Are you sure you wish to deactivate?' }, class: 'btn btn-default btn-lg' %>
      <% else %>
        Deactivated
      <% end %>
    </div>
  </div>

</div>
