<div id="basket_list_container">
  <h5 class="text-center">
      Choose Wish List
  </h5>
  
  <div>
    <input name="search_baskets" id="input-search" class="form-control search_box" type="text" placeholder="Search wish lists">
  </div> 
  
  <div id="basket_list">
    <ul>
    </ul>
    <div id="new_basket_container">
      <input id="new_basket_input" placeholder="Add a wish list..">
      <button id="save_new_basket" class="btn btn-success">Save</button>
    </div>
  </div>

  <div id="create_wish_button_container">
    <a class="btn btn-lg btn-block" id="create_wish_button"></a>
  </div>
</div>

<div id="added_to_basket_notification">
  <p id="has_been_added" class="text-center">Has been added to</p>
  <div id="notification">
    <ul>
    </ul>
  </div>
  <div id="add_another">
    <a class="btn btn-lg btn-block btn-primary" id="add_another_url_button">
      Add another wish?
    </a>
  </div>
</div>