<div id="product_info_container">
  <div class="loading-spinner-container">
    <div id="loading-spinner">
      <h4><i class="icon ion-load-c spinner"></i></h4>  
      <span>Please select a wish list while we fetch your wish...</span>
    </div>
  </div>
  <div class="image-container">
    <img id="image">
    <div id="img_mask"></div>
  </div> 
  <div class="product_info">  
    <h4 id="name">
    </h4>
    <div id="add_notes_container">
      <a class="" id="add_notes_button">Add a color/size?</a>
      <div id="notes_inputs_container">
        <input id="item_color" class="form-control" type="text" placeholder="Enter a color">
        <input id="item_size" class="form-control" type="text" placeholder="Enter a size">
      </div>
    </div>
    <span id="color_size">
      <span id="color"></span> <span id="size"></span>
    </span>
    <span id="price">
    </span>
  </div>
</div>