<div id="error_report_container">
  <div id="error_notification">
    <%= image_tag("sad_box.png") %>
    <h3 class="error_text" id="not_product_page">
      OOPS!<br>
      <small>We couldn't detect a specific product page.</small>
    </h3>
    <h3 class="error_text" id="something_went_wrong">
      OOPS!<br>
      <small>Something went wrong</small>
    </h3>
    <div class="form-group">
      <button class="btn btn-lg btn-block" id="confirm_report">Report Issue</button>
    </div>
  </div>

  <div id="error_checklist">
    <h3>
      What seems to be the problem?<br>
      <small>Check all that apply.</small>
    </h3>
    <div class="field form-group checkbox checkbox-warning">
      <input type="checkbox" id="item_name_error" value="name" />
      <label></label>
      <span>Name of the item is wrong.</span>
    </div>
    <div class="field form-group checkbox checkbox-warning">
      <input type="checkbox" id="item_price_error" value="price" />
      <label></label>
      <span>Price of item is wrong.</span>
    </div>
    <div class="field form-group checkbox checkbox-warning">
      <input type="checkbox" id="item_image_error" value="image" />
      <label></label>
      <span>Item image is wrong.</span>
    </div>
    <div>
      <div class="form-group">
        <button class="btn btn-lg btn-block" id="create_report">Report Issue</button>
      </div>
      <a id="cancel_error_report_toggle">Cancel</a>
    </div>
  </div>

  <div id="error_submitted">
    <%= image_tag("happy_box.png") %>
    <h3>
      Thank you!<br>
      <small>We will work on this right away.</small>
    </h3>
    
    <div class="form-group">
      <button class="btn btn-lg btn-block" id="reset_error">Go back and add a wish</button>
    </div>
  </div>
</div>

