<form id="gift_url_form">
  <h1 id="title">Add Wishes To Your Wish List</h1>
  <div id="new_site_notification">
    <h2><strong>Wow, it's a new one for us!</strong></h2>
    <small>
      We haven't added this site yet, but no worries! We've logged your request and we'll be adding it soon. Feel free to try another url.
    </small>
  </div>
  <div class="form-group row">
    <input id="gift_url" name="gift_url" class="form-control" placeholder="https://www.producturl.com" required autocomplete="off">

    <div class="col-xs-12">
      <p id="urlHelpBlock" class="form-text text-muted">
        Copy and paste the link to a product you want and we will go fetch it for you.
      </p>
    </div>

  </div>
  <div class="form-group">
    <button class="btn btn-lg btn-block" id="get_gift_url">Add a Wish</button>
  </div>     
</form>