<div class="gift_url">
    <div class="col-md-3">
    </div>
      <%= render partial: '/gift_urls/gift_url_form' %>
      <%= render partial: '/gift_urls/error_report' %>
      <%= render partial: '/gift_urls/add_gift_to_basket' %>
</div>