#component-accordion-shipping-location {
    #ship_to_form{
        display: none;
    }
    #shipping_address_form > div{
        min-height: 88px;
    }
    ul.address_list {
        list-style: none;
        display: inline-block;
        padding-left: 10px;
    }
    .shipping_location{  
        #ship_to_form{
            clear: both;
            padding-left: 30px;

            .form-error{
                display: none;
            }
        }
    }
    .create_shipping_address{
        margin-left: 25px;
        cursor: pointer;
    }
}