#component-accordion-review {
    .checkout_review{
        .cart_item_list{
            margin-top: 30px;
        }
        .cart_item{
            border-bottom: 1px solid #CCC;
            padding: 20px 0;
            overflow: hidden;

            .cart_item_image{
                border-radius: 6px;
                width: 100px;
                float: left;
            }

            .cart_item_details{
                margin-top: 5px;
                float: left;
                span{
                    font-size: 12px;
                }
            }

            .cart_item_name{
                font-size: 16px;
                margin-bottom: 0px;
            }

            .cart_item_qty{
                font-size: 14px;
                font-weight: bold;
                color: $dark-grey;
            }

            .total_item_price{
                float: right;
                font-size: 16px;
                margin-top: 5px;
            }
            .col-xs-2:last-of-type{
                .total_item_price{
                    font-weight: bold;
                }
            }
        }

        .shipping_to, .payment_method{
            font-size: 16px;
            margin-left: 10px;
            span{
                font-weight: bold;
            }
        }
        .payment_method{
            .review_method_text{
                color: $delete-red;
            }
        }
    }
}
   