#component-accordion-payment {
    .form-toggle-container {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    a {
        cursor: pointer;
    }
    .checkout_payment{
        overflow: hidden;
        .checkout_or{
            width: 100%; 
            text-align: center; 
            border-bottom: 1px solid #bebbbb; 
            line-height: 0.1em;
            margin: 10px 0 20px;
            margin-top: 20px;
            margin-left: 10px;
            margin-right: -10px;

            span{
                background:#fff; 
                padding:0 15px;
                color: #afaeae;
                font-size: 18px;
            }
        }

        .payment{
            background: #f8f8f8;
            border-radius: 6px;
            margin-left: 10px;
            padding: 20px 10px;
            overflow: hidden;

            i{
                font-size: 18px;
                margin-right: 10px;
                margin-top: 2px;
                float: left;
                color: #454545;
            }

            .secure_payment{
                font-size: 16px;
            }

            .card_images{
                float: right;
                img{
                    float: left;
                    width: 30px;
                    margin-right: 5px;
                    &:last-of-type{
                        margin-right: 0px;
                    }
                }
            }

            .form-group .col-sm-6{
                padding:0px;
                border:2px solid #e6e6e6;
                border-radius: 4px;
                width: 48%;
                margin-bottom: 20px;
                transition: 1s;
                &:nth-child(2){
                    float: right;
                }
                &.last_name{
                    float: right;
                }
                i{
                    position: absolute;
                    right: 10px;
                    top: 7px;
                    color: #aad371;
                    display: none;
                }
            }

            .card_right{
                padding: 0px;
                margin-bottom: 0px;
            }

            .col-xs-4{
                margin-bottom: 20px;
            }

            .form-group label{
                position:absolute;
                margin-top: -9px;
                font-size: 12px;
                padding: 0 3px;
                left: 15px;
                font-weight: bold;
                color: $dark-grey;
                background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 56%,rgba(255,255,255,1) 65%,rgba(255,255,255,1) 100%);
            }

            #billing_address{
                color: #353535;
                font-size: 13px;
            }

            .form-group>input{
                border:none;
            }

            select {
                height: 43px;
                padding: 10px;
                font-size: 13px;
                color: #6e6e6e;
                font-weight: bold;
                width: 100%;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: #fff;
                border: 2px solid #e6e6e6;
                outline: none;
                transition: 1s;
            }

            .select_arrow{
                position: absolute;
                right: 24px;
                top: 4px;
                

                i{
                    font-size: 25px;
                    color: #23beff;
                }
            }

            .col-xs-4 .label_select{
                left: 23px;
                margin-top: -8px;
            }

            input#cvv{
                border: 2px solid #e6e6e6;
                height: 44px;
                transition: 1s;
            }

            input{
                font-size: 13px;
            }

            ::-webkit-input-placeholder {
                color: #787878;
                font-weight: bold;
            }

            .cvv_question{
                position: absolute;
                right: 9px;
                top: 11px;
                i{
                    font-size: 21px;
                    color: #23beff;
                }
            }

            .checkout_billing_address{
                clear: both;
                .col-sm-6{
                    border: none;
                }
                label{
                    background: none;
                    position: inherit;
                    padding: 0;
                    margin-top: 0px;
                    left: 0px;
                }
                .checkout_address2{
                    margin-top: 25px;
                }
            }

            #country{
                border: none;
                height: 40px;
            }

            #state{
                height: 40px;
            }

            .checkout_state{
                padding-left: 0px;
            }

            .zip_code{
                #zip_code{
                    border: 2px solid #e6e6e6;
                }
            }

            .billing_info{
                clear: both;
                padding-top: 20px;

                p{
                    font-size: 14px;
                    color: #353535;
                    font-weight: bold;
                }

                .btn-group{
                    button{
                        border: 2px solid #00afef;
                        box-shadow: none;
                        background: #fff;
                        color: #00afef;
                        font-size: 16px;
                        z-index: 0;
                        padding: 8px 30px;
                        transition: .3s;
                        &.active{
                            background: #00afef;
                            color: #fff;
                        }
                        &:first-of-type{
                            border-right: none;
                        }
                        &:last-of-type{
                            border-left: none;
                        }
                    }
                }
            }

            .form-error{
                display: none;
            }

            .has-success{
                .col-sm-6{
                    border: 2px solid #aad371;
                    &.card_number{
                        border: 2px solid #00afef;
                    }

                    i{
                        display: block;
                    }
                    &.card_number i{
                        color: #00afef;
                    }
                }
            }

            .has-error{
                .col-sm-6{
                    border: 2px solid #b94a48;
                    i{
                        display: none;
                    }
                }
            }

            .form-group{
                .col-xs-4{
                    select.valid{
                        border: 2px solid #00afef !important;
                    }

                    input.valid{
                        border: 2px solid #00afef !important;
                    }

                    select.error{
                        border: 2px solid #b94a48 !important;
                    }

                    input.error{
                        border: 2px solid #b94a48 !important;
                    }

                    &:last-of-type{
                        padding-right: 0px;
                    }
                }

                .col-sm-3{
                    select.valid{
                        border: 2px solid #aad371 !important;
                    }

                    input.valid{
                        border: 2px solid #aad371 !important;
                    }

                    select.error{
                        border: 2px solid #b94a48 !important;
                    }

                    input.error{
                        border: 2px solid #b94a48 !important;
                    }
                }
            }
        }
    }
}
#style_override{
    #component-accordion-payment{
        .select_arrow i{
            display: block;
            color: #23beff;
            position: initial;
        }
    }
}