#component-accordion-shipping-options {
    .shipping_options_list {
        padding-left: 10px;
    }
    .shipping_option {
        list-style: none;
        padding-bottom: 5px;
        label {
            span, small{
                position: relative;
                top: -11px;
            }
            span{
                font-size: 18px;
            }
            small{
                font-size: 13px;
            }
        }
    }
}