.cart_left{
    padding: 15px 25px 0px 65px;
    min-height: 290px;
}

#component-cart-tab {
    .loading-spinner-container{
        height: 100vh;
        text-align: center;
    }
    #loading-spinner{
        color: $dark-grey;
        position: relative;
        top: calc(50% - 71px);
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        h4{
            font-weight: 300;
        }
    }
    .cart_items_total{
        color: $dark-grey;
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 10px;
        span{
            &:first-of-type{
                font-weight: bold;
            }
        }
    }
}
.cart_merchant_name{
    h3{
        font-size: 16px;
        font-weight: 400;
    }
}

#component-cart-items {
    &.cart_list{
        clear: both;
        list-style-type: none;
        background: #f7f7f7;
        border-radius: 30px;
        padding: 10px 20px;
        .quantity{
            font-weight: 300;
            font-size: 12px;
        }

        li{
            clear: both;
            overflow: hidden;
            margin-bottom: 60px;
            &:last-of-type{
                margin-bottom: 0;
            }

            .image_checkout{
                float: left;
                width: 120px;
            }

            .cart_item_image{
                border-radius: 6px;
                max-width: 100px;
                margin-left: auto;
                margin-right: auto;
            }
            .item_details{
                overflow: hidden;
                padding-left: 15px;
                float: left;
                width: calc(100% - 241px);
            }

            .total_item_price{
                font-weight: bold;
                float: right;
                font-size: 18px;
                margin-top: -50px;
                position: absolute;
                right: 50px;
            }

            .middle_item_container{
                padding: 0px;
                width: 80%;
            }

            .quantity_container{
                padding-right: 5px;
                float: left
            }

            .cart_item_details{
                clear: both;
                float: left;
                margin-right: 2%;
                padding-top: 10px;

                a{
                    text-decoration: none;
                }

                .cart_item_name, .cart_item_price{
                    font-weight: bold;
                    font-size: 20px;
                }

                .cart_item_price{
                    margin-left: 5px;
                }

                .cart_item_retailer{
                    overflow: hidden;
                    img{
                        float: left;
                        width: 18px;
                    }
                    span{
                        float: left;
                        font-size: 12px;
                        margin-left: 5px;                  
                    }
                }
            }
        }
        .right_cart_item{
            .availability{
                color: $dark-grey;
                text-align: center;
                font-size: 12px;
                font-weight: 300;
            }
        }

        .cart_item_actions{
            float: left;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 7px;
            .input-group{
                min-width: 95px;
                margin-top: 5px;
                .form-control{
                    height: 32px;
                    padding: 0;
                    text-align: center;
                }
            }

            .remove_item{ 
                color: $blue;
                display: block;
                margin-top: 5px;
                text-decoration: underline;
                font-size: 12px;
                cursor: pointer;
            }

            .btn-default {
                color: #fff; 
                background-color: #fff;
                border: #807d7e;
                background: #4e4e4d;
            }
            .cart_item_qty{
                width: 50px;
            }
            .input-group-btn{
                float: left;
                top: -8px;
                margin: 0 8px;
            }
            .bootstrap-touchspin-up{
            padding-left: 9px;
                padding-right: 9px;
                padding-bottom: 6px;
                border-radius: 3px;
                text-indent: -4px;
                width: 12px;
                height: 16px;
                font-size: 15px;
                line-height: 0px;
                background: $dark-grey;
                transition: .3s;
                &:hover{
                    background: darken($dark-grey, 5%);
                }
            }

            .bootstrap-touchspin-down{
                padding-left: 9px;
                padding-right: 9px;
                border-radius: 3px;
                text-indent: -2px;
                width: 12px;
                height: 16px;
                font-size: 17px;
                line-height: 0px;
                background: $dark-grey;
                transition: .3s;
                &:hover{
                    background: darken($dark-grey, 5%);
                }
            }
        }
    }
}