#component-confirm-tab {
    .back_to_cart{
        cursor: pointer;
        margin-top: 10px;
    }
    .checkout_steps{
        padding-left: 135px;
    }
    .accordion_arrow{
        position: relative;
        top: -21px;
        left: -9px;
        content:'';
        width: 0;
        height: 0;
        border-top: solid 10px #e5e4e4;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
    }
    
    .enter_email{
        input[type="submit"]{
            @include button(14);
        }
    }

    div.checkout_accordion{
        background: #fff;
        transition: .3s;
        border: none;
        border-bottom: 1px solid #e5e4e4;
        &:not(.collapsed){
            background: #e5e4e4;
        }
        margin-top: 15px;
        border-radius: 30px;
        font-size: 18px;
        padding: 5px 10px;
        cursor: pointer !important;
        &.collapsed{
            background: #fff;
            border: none;
            border-bottom: 1px solid #e5e4e4;
            border-radius: 0px;
        }

        .step_number{
            font-weight: bold;
        }

        .step_pipe{
            margin: 0 2px;
        }

        .checkout_edit{
            font-size: 13px;
            border: 1px solid #636363;
            border-radius: 4px;
            margin-left: 4px;
            padding: 3px 13px;
            display: none;
            &.active{
                display: inline;
            }
        }
    }

    .panel-body{
        padding: 20px 0px 15px 30px;

        .checkout_item{
            overflow: hidden;
            margin-top: 15px;
            &:first-of-type{
                margin-top: 0px;
            }
        }

        .checkout_item_name{
            font-size: 16px;
            font-weight: bold;
        } 

        .checkout_shipping{
            background: #e5e4e4;
            border-radius: 4px;
            float: left;
            width: 100%;
            padding: 7px 10px;

            .get_it_by{
                font-weight: bold;
                color: #60a6c8;
                font-size: 16px;
                margin: 5px 0px 5px 35px;
            }

            button{
                background: #60a6c8;
                color: #fff;
                padding: 4px 32px;
                font-size: 13px;
                margin-bottom: 10px;
                margin-left: 35px;
                transition: .3s;
                &:hover{
                    background: #538fad;
                }
            }

            .radio{
                cursor: default;

                input{
                    cursor: default;
                }

                label{
                    cursor: default;
                    color: $dark-grey;
                    font-size: 13px;
                    padding-left: 10px !important;
                    span{
                        margin-top: -7px;
                        padding-top: 10px;
                        float: right;
                    }
                    &:before{
                        width: 22px;
                        height: 22px;
                        background-color: #e5e4e4;
                        border-color: #60a6c8;
                        outline: none !important;
                    }
                    &:after{
                        width: 14px;
                        height: 14px;
                        top: 4px;
                        left: 4px;
                        background-color: #60a6c8;
                    }
                }
            }
        }
    }

    .save_and_continue_btn{
        background: $main-teal;
        border-radius: 30px;
        color: #fff;
        clear: both;
        float: right;
        padding: 10px 50px;
        transition: .3s;
        &:hover{
            background: darken($main-teal, 5%);
        }
    }
}