#component-empty-cart {
  &.empty_cart{
    text-align: center;
    font-size: 16px;
    background: #eaeaea;
    width: 65%;
    margin: 15% auto;
    padding: 60px 20px;
    border-radius: 30px;
    position: relative;
    display: none;
  }

  p{
    &:first-of-type{
      font-size: 18px;
    }
    &:last-of-type{
      font-size: 16px;
    }
  }

  button{
    background: $main-teal;
    color: #fff;
    padding: 10px 45px;
    border-radius: 30px;
    margin-top: 20px;
  }
}