#component-sidebar {
  #loading-spinner{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
  }
  &.cart_right{
    background: #eaeaea;
    height: 100%;
    position: fixed;
    right: 0;
  }

  .cart_right_container{
    position: fixed;
    width: 23%;
  }

  p{
    font-size: 14px;
    color: $dark-grey;
    span{
      float: right;
      font-weight: bold;
    }
  }

  .order_summary{
    font-size: 18px;
    margin: 15px 0;
    font-weight: bold;
  }
   
  .order_total{
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    padding: 20px 0;
    margin: 15px 0;
  }
    small{
        font-size: 12px;
        color: $dark-grey;
    }
   
  .checkout_btn{
    background: $main-teal;
    border-radius: 30px;
    color: #fff;
    padding: 12px 0px;
    font-size: 14px;
    margin-bottom: 10px;
    margin: 30px auto 10px auto;
    display: block;
    transition: .3s;
    &:hover{
      background: darken($main-teal, 5%);
    }
  }
}