<div class="hidden" id="desktop_menu">
    <div class="popover-body">
        <div class="desktop_menu_popover">
            <ul class="list-group nav">
                
                <% if logged_in? %>

                <!-- <li>
                    <%#= link_to '#gift_url', data: {toggle: 'modal'} do %>
                    <span> Gift URL
                        <%#= ion_icon("plus-circled") %>
                    </span>
                    <%# end %>
                </li> -->

                <li class="list-group-item">
                    <%= link_to '#', data: { popover_content: "#notification_popover", container: "body", toggle: "popover", position: 'bottom' } do %>
                        <span><%= ion_icon("android-notifications") %> Notifications</span>
                        <span class="notifications-badge badge <%= "hidden" if current_customer.notification_count == 0 %>">
                        <%= current_customer.notification_count %>
                        </span>
                    <% end %>
                </li>

                <li class="list-group-item">
                    <%= link_to "/profile/modal_share/#{current_customer.id}", remote: true, method: 'patch' do%>
                    <span><%= ion_icon("android-person-add") %> Share</span>
                    <% end %>
                </li>

                <% if (defined? @multitool_profile) || (defined? @multitool_basket) || (defined? @multitool_gift) %>
                <li class="list-group-item">
                    <%= link_to '#', data: { popover_content: "#multitool", container: "body", toggle: "popover", position: 'bottom' } do %>
                    <span><%= ion_icon("gear-a") %> Page Actions</span>
                    <% end %>
                </li>
                <% end %>

                <li class="list-group-item">
                    <%= link_to '#', data: { popover_content: "#profile", container: "body", toggle: "popover", position: 'bottom' } do %>
                    <span><%= ion_icon("android-menu") %> Settings</span>
                    <% end %>
                </li>

                <li class="list-group-item">
                    <%= link_to user_path( current_customer.username ) do %>
                    <span><%= image_tag( current_customer.avatar.profile.url, class: 'avatar' ) %> Profile</span>               
                    <% end %>
                </li>

                <div class="list-group-item">
                    <%= form_tag search_path, class: 'form search_customers popover_search', method: :get do %>
                        <%= text_field_tag :q, params[:q] ,class: 'form-control search_box', placeholder: "Search Giftibly", data: { toggle: "popover" } %>
                    <% end %>
                </div>

                <% else %>

                <li class="list-group-item">
                    <%= link_to 'Search for Friends', search_customers_path %>
                </li>

                <li class="list-group-item">
                    <%= link_to 'How it Works', root_path(anchor: 'works_desktop'), class: 'animate_scroll' %>
                </li>

                <li class="list-group-item">
                    <%= link_to 'Giftiblog', 'http://www.giftiblog.com', target: '_blank' %>
                </li>

                <li class="list-group-item login">
                    <%= link_to 'Login', '#login_modal', id: "landing_login", data: {toggle: 'modal'}, rel:'nofollow' %>
                </li>

                <li class="list-group-item">
                    <%= link_to 'Sign Up', new_customer_registration_path, id: "landing_my_account" %>
                </li>   

                <% end %>   
            </ul>
        </div>
    </div>
</div>



