<div class="hidden" id="hamburger_menu">
    <div class="popover-body">
        <% if browser.mobile? %>
            <%= render partial: "shared/modals/modal_partials/close_btn" %>
        <% end %>
        <div class="landing_popover">
            <ul class="list-group nav">
                <li class="list-group-item">
            		<%= link_to 'Search for Friends', search_customers_path %>
            	</li>
                <li class="list-group-item">
            		<%=link_to 'Discover Registries', discover_wish_lists_path %>
                </li>
                <% if @deals.present? %>
                    <li class="list-group-item">
                        <%=link_to 'Discover Deals', discover_deals_path %>
                    </li>
                <% end %>
                <li class="list-group-item">
                    <%= link_to 'Adding Wishes', root_path(anchor: 'adding_wishes'), class: 'animate_scroll' %>
                </li>
                <li class="list-group-item">
                    <%=link_to 'Giftiblog', 'http://www.giftiblog.com', target: '_blank' %>
                </li>   
            </ul>
        </div>
    </div>
</div>