<div class="hidden" id="messages">
    <div class="popover-body">
        <div class="messages_popover">
            <div class="tab-content">
                <div class="tab-pane active message_start">
                    <a class="active" href=".send_to" data-toggle="tab">
                        <button class="send_new_message btn"><%= ion_icon("chatbubble-working", aria_hidden: true ) %>Send New Message</button>
                    </a>
                    <div class="scroll_message">

                        <% if @conversations.any? %>
                            <ul class="messages">
                                <% @conversations.each do |conversation| %>
                                    <% if conversation.messages.count > 0 %>
                                        <%= link_to "",class: "message_popover", data: {cid: conversation.id} do %>

                                            <li data-cid="<%= conversation.id %>" data-user="<%= conversation.recipient.name %>" data-sid="<%= conversation.sender_id %>" data-rid= "<%= conversation.recipient_id %>">
                                                <% if conversation.sender_id == current_customer.id %>
                                                    <%= image_tag( conversation.recipient.avatar.profile_square.url, alt: 'avatar', class: 'img-responsive avatar_message' ) %>
                                                    <div class="message_info">
                                                        <p class="message_username"><%= conversation.recipient.name %></p>
                                                <% else %>
                                                    <%= image_tag( conversation.sender.avatar.profile_square.url, alt: 'avatar', class: 'img-responsive avatar_message' ) %>
                                                    <div class="message_info">
                                                        <p class="message_username"><%= conversation.sender.name %></p>
                                                <% end %>

                                                <p class="message_time"><%=conversation.messages.last.nil? ? "N/A" : time_ago_in_words(conversation.messages.last.created_at) %></p>
                                                </div>

                                            </li>
                                        <% end %>
                                    <% end %>
                                <% end %>

                            </ul>
                        <% else %>
                            <p class="no_conversation">You have no conversations. <br/> Click send message with any user to create one.</p>
                        <% end %>

                    </div>
                </div>

                <div class="tab-pane fade send_to">
                    <div class="message_tab_2_content">
                        <span class="new_message_text">New Message</span>
                        <a class="message_cancel" href=".message_start" data-toggle="tab">
                             Cancel
                        </a>
                    </div>
                    <div class="send_message_to_bg">
                        <form class="send_message_to" action="#">
                            <div class="form-group">
                              <input type="text" name="search_users" class="form-control input-lg" placeholder="Send message to:" autocomplete="off" autocapitalize="off" autocorrect="off">
                            </div>
                        </form>
                    </div>

                    <ul class="messages">
                        <% current_customer.connections.each do |connection| %>
                            <li  data-user="<%= connection.name %>" data-sid="<%= current_customer.id %>" data-rid= "<%= connection.id %>">
                                <%= ion_icon("ios-checkmark", aria_hidden: true, class: 'message_check disappear') %>
                                <%= image_tag( connection.avatar.profile_square.url, alt: 'avatar', class: 'img-responsive avatar' ) %>
                                <p class="message_username"><%= connection.name %></p>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('a#message_popover').click(function (e) {
        e.preventDefault();
    });

    $('body').on('click', '.send_new_message', function () {
        $('.message_start').addClass('fade');
    });

    $(document).on('turbolinks:load', function() {
        $( ".navbar-nav li .ion-ios-chatbubble" ).click(function() {
            $( ".popover-content .slimScrollDiv" ).removeClass();
            $('.scroll_message').slimScroll({
                height: '300px',
                touchScrollStep: 50,
            });
            if ($('.messages').children('.message_popover').length < 7) {
                $('.scroll_message, .messages_popover .slimScrollDiv').css('height','auto');
            }
            $('.send_to').removeClass("active"); //reverts back to the first tab in the message popover
            $('.message_start').addClass("active");
            $('.message_start').removeClass('fade');
        });

        var search_users = {
            data: [],
            list: {
                  maxNumberOfElements: 3,
                  match: {
                    enabled: true
                },
                sort: {
                    enabled: true
                },
                onClickEvent: function() {
                    filter()
                }
            }
        };

        // Gets all product names and pushes to autocomplete array
        $(".send_to li .message_username").each(function(){
            search_users.data.push($(this).text());
        })

        $(".nav [data-toggle=popover]").on('click', function (e) {

            $(".popover input[name='search_users']").easyAutocomplete(search_users);

                // Key up filter
            $("input[name='search_users']").keyup(function(){

                // Retrieve the input field text and reset the count to zero
                var filter = "(?:^|\\s)" + $(this).val(), itemsFound = 0;

                // Loop through each basket
                $(".send_to .messages .message_username").each(function(){

                    // If the list item does not contain the text phrase fade it out
                    if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                        $(this).parent().css("display","none");

                    // Show the list item if the phrase matches and increase the count by 1
                    } else {
                        $(this).parent().show();
                        itemsFound++;
                    }
                });
            });

            // Click filter
            function filter(){
                val = $("input[name='search_users']").val();
                $(".send_to .messages .message_username").each(function(){
                    if (val !== $(this).text()) {
                       $(this).closest('li').parent().fadeOut();
                   }
               })
            }
        });
    })

</script>
