<div class="hidden" id="multitool">
    <div class="popover-body">
        <% if browser.mobile? %>
            <%= render partial: "shared/modals/modal_partials/close_btn" %>
        <% end %>
        <div class="multitool_popover">
            <ul class="list-group nav">
                <% if (defined? @multitool_profile) %>    
                    <% if current_customer.present? %>
                        <% if current_customer != @customer %>
                            <li class="list-group-item">
                                <%= link_to ion_icon("ios-paperplane") + 'Share This Profile', basket_popup_share_path(@customer.id, type: 'profile'), alt: "Wish Page Link", class: 'share_btn', rel: 'nofollow', data: {remote: true, method: "patch"} %>
                            </li>

                            <%# if !(browser.mobile?) %>
                                <%#= link_to "Message User", "#", class: "profile_message", data: { sid: current_customer.id, rid: @customer.id} %>
                            <%# end %>
                            
                            <% if current_customer.connected_to?( @customer ) %>
                                <li class="list-group-item">
                                    <a class="remove remove-connection" data-id="remove-connection-<%= @customer.id %>"><%= ion_icon('ios-minus-outline')%> Unfriend</a>
                                </li>
                            <% elsif !( current_customer.connected_to?( @customer ) || current_customer.connection_request_sent?( @customer )) %>
                                <li class="list-group-item">
                                    <a id="request-connection-<%= @customer.id %>" class="request-connection" data-location="navbar"><%= ion_icon('person-add')%> Send Friend Request</a>
                                </li>
                            <% end %>

                            <% if current_customer.follows? @customer %>
                                <li class="list-group-item">
                                    <a id="unfollow-<%= @customer.id %>" data-name="<%= @customer.name %>" class="unfollow-connection"><%= ion_icon('person')%> Unfollow</a>
                                </li>
                            <% else %>
                                <li class="list-group-item">
                                    <a id="follow-<%= @customer.id %>" data-name="<%= @customer.name %>" class="follow-connection"><%= ion_icon('person-stalker')%> Follow</a>
                                </li>
                            <% end %>

                            <% if current_customer.not_blocked?( @customer ) %>
                                <li class="list-group-item">
                                    <a class="block block-connection" data-id="block-connection-<%= @customer.id %>"><%= ion_icon('android-hand')%> Block</a>
                                </li>
                            <% else %>
                                <li class="list-group-item">
                                    <a class="confirm unblock-connection" data-id="unblock-blocked-<%= @customer.id %>"><%= ion_icon('ios-unlocked')%> Unblock</a>
                                </li>
                            <% end %>
                        <% else %>
                            <% if @view_walkthrough == true %>
                                <% unless @intro_active %>
                                    <li class="list-group-item">
                                        <a href="#" class="tutorial">
                                            <%= ion_icon("eye") %> View Tutorial
                                        </a>
                                    </li>
                                <% end %>           
                            <% end %> 
                            <li class="list-group-item">  
                                <a data-toggle="modal" data-target=".create_modal" href="#">
                                    <%= ion_icon("bookmark") %> Create Wish List
                                </a>
                            </li>
                            <% if current_customer.baskets.count > 0 || current_customer.connections.count > 0 %>
                                <li class="list-group-item">
                                    <a class="delete_btn"><%= ion_icon("ios-trash") %> Select Wish Lists To Delete</a>
                                </li>
                            <% end %>
                            <li class="list-group-item">
                                <%= link_to ion_icon("edit") + "Edit Profile", "#", class: "edit_profile" %>
                            </li>
                            <li class="list-group-item">
                                <%= link_to ion_icon("ios-paperplane") + "Share This Profile", basket_popup_share_path(@customer.id, type: "profile"), class: "share_btn", rel: "nofollow", data: {remote: true, method: "patch"} %>
                            </li>

                        <% end %>
                    <% end %>
                <% elsif (defined? @multitool_feed) %>
                    <% if @view_walkthrough == true %>
                        <% unless @intro_active %>
                            <li class="list-group-item">
                                <a href="#" class="tutorial">
                                    <%= ion_icon("eye") %> View Tutorial
                                </a>
                            </li>
                        <% end %>
                        <li class="list-group-item">  
                            <a data-toggle="modal" data-target=".create_modal" href="#">
                                <%= ion_icon("bookmark") %> Create Wish List
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a class="share_icon" data-target="<%= "/profile/modal_share/#{current_customer.id}" %>">    <%= ion_icon("ios-people") %> Invite Friends
                            </a>
                        </li>           
                    <% end %>
                    
                <% elsif (defined? @multitool_basket) %>
                    <li class="list-group-item">
                        <%= link_to ion_icon("ios-paperplane") + "Share This Wish List", basket_popup_share_path(@basket.id, type: "basket"), class: "share_btn", rel: "nofollow", data: {remote: true, method: "patch"} %>
                    </li>
                    <% if @basket.customer == current_customer %>
                        <li class="list-group-item">
                            <%= link_to ion_icon("edit") + "Edit Wish List", "#", class: "edit_basket_btn" %>
                        </li>
                        <li class="list-group-item">
                            <%= link_to "#", class: "mark_received_btn" do %>
                                <%= ion_icon("ios-checkmark") %> <span>Mark Wishes as Received</span>
                            <% end %>
                        </li>
                        <li class="list-group-item">
                            <%= link_to "#", class: "quantity_btn" do %>
                                 <%= ion_icon("code") %> <span>Edit Wish Quantity</span>
                            <% end %>
                        </li>
                        <li class="list-group-item">
                            <%= link_to "#", class: "delete_btn" do %>
                                <%= ion_icon("ios-trash") %> <span>Select Items To Delete</span>
                            <% end %>
                        </li>
                        <% if @basket.name != "Liked Products" %>
                            <li class="list-group-item">
                                <%= link_to ion_icon("ios-close") + "Delete Wish List", basket_destroy_path(@basket.id), data: {remote: true, method: "delete"}, class: "delete_basket_btn" %>
                            </li>
                        <% end %>
                    <% end %>
                <% elsif (defined? @multitool_gift) %>
                    <% if @gift.basket.customer == current_customer %>
                        <li class="list-group-item">
                            <%= link_to ion_icon("ios-paperplane") + "Share This Wish", basket_popup_share_path(@gift.id, type: 'gift'), class: "share_btn", data: {remote: true, method: "patch"}, rel: 'nofollow' %>
                        </li>
                        <% if @gift.quantity_received < @gift.quantity_desired %>
                        <li class="list-group-item">
                            <%= link_to gift_recieved_path(@gift.id), remote: true, method: 'patch', class: 'mark_received received' do %>
                            <%= ion_icon("ios-checkmark") %> <span>Mark As Received</span>
                            <% end %>
                        </li>
                        <% end %>
                        <li class="list-group-item">
                            <%= link_to ion_icon("code") + "Edit Wish Quantity", "#", class: "quantity_btn" %>
                        </li>
                        <li class="list-group-item">
                            <%= link_to ion_icon("ios-trash") + "Delete this Wish", "#destroy_wish_modal", class: "remove_gift", data: {toggle: "modal"}%>
                        </li>
                    <% else %>
                        <li class="list-group-item">
                            <%= link_to ion_icon("ios-paperplane") + "Share This Wish", basket_popup_share_path(@gift.id, type: 'gift'), class: "share_btn", data: {remote: true, method: "patch"}, rel: 'nofollow' %>
                        </li>
                        <li class="list-group-item">
                            <%= link_to ion_icon("ios-plus") + 'Add to Wish List', products_modal_builder_path(@variant.id, gift_id: @gift.id, action_flag: 'add'), remote: true, method: 'get', rel: 'nofollow' %>
                        </li>
                    <% end %>
                <% elsif (defined? @multitool_settings) %>
                    <% if @view_walkthrough == true %>
                        <% unless @intro_active %>
                            <li class="list-group-item">
                                <a href="#" class="tutorial">
                                    <%= ion_icon("eye") %> View Tutorial
                                </a>
                            </li>
                        <% end %>           
                    <% end %>
                <% end %>        
            </ul>
        </div>
    </div>
</div>
