<div class="hidden" id="notification_popover">
    <div class="popover-body">
        <% if browser.mobile? %>
            <div class="closeBtn">
                <div class="close_x">X</div>
            </div>
        <% end %>
        <div class="messages_popover">
            <div class="tab-content">
                <div class="tab-pane tab_notifications active">
                    <div class="scroll_notif <%= 'safari_mobile' if (browser.safari? && browser.mobile?) %>">
                        <div class="notif_container">
                            
                            <!-- MOBILE FACEBOOK -->
                            <% if browser.mobile? && current_customer.facebook_connected? && current_customer.facebook_friends.count > 0 %>

                                <% current_customer.paginate_notifications(1).take(1).each do |day, ray| %>
                                <p class="notif_day_text">
                                    <% if day == 0 %>
                                    <%= ray.first.created_at.strftime("%B %d, %Y") %>
                                    <% elsif day == 1 %>
                                    Yesterday
                                    <% elsif day < 31 %>
                                    <%= day.to_i %> days ago
                                    <% else %>
                                    <%= ray.first.created_at.strftime("%B %d, %Y") %>
                                    <% end %>
                                </p>
                                <ul class="messages">
                                    <li data-notifid = "<%= ray.first.id %>">
                                        <% if ["connection_request", "connection_accepted", "followed"].include? ray.first.activity.activity_type %>
                                        <%= render partial: "shared/notifications/connection", locals: { notification: ray.first } %>
                                        <% elsif ["comment"].include? ray.first.activity.activity_type %>
                                        <%= render partial: "shared/notifications/comment", locals: { notification: ray.first } %>
                                        <% elsif ["share", "shared_thing"].include? ray.first.activity.activity_type %>
                                        <%= render partial: "shared/notifications/share", locals: { notification: ray.first } %>
                                        <% elsif ["event_invitation", "event_response_yes", "event_response_maybe", "event_response_no"].include? ray.first.activity.activity_type %>
                                        <%= render partial: "shared/notifications/event", locals: { notification: ray.first } %>
                                        <% elsif ["like"].include? ray.first.activity.activity_type %>
                                        <%= render partial: "shared/notifications/like", locals: { notification: ray.first } %>
                                        <% elsif ["purchase_gift_customer", "purchase_gift_guest"].include? ray.first.activity.activity_type %>
                                        <%= render partial: "shared/notifications/present", locals: { notification: ray.first } %>
                                        <% end %>
                                    </li>
                                </ul>
                                <% end %>

                                
                                <% if current_customer.oauth_credentials.present? && current_customer.facebook_connected? %>
                                    <div id="pymk_mobile">
                                        <div id="pymk_mobile_container">
                                            <p class="notif_day_text">People You Might Know</p>   
                                            <% current_customer.facebook_friends.take(2).each do |connection| %>
                                            <%= render partial: "shared/profile/connections/connections", locals: {connection: connection, friend_flag: true, notifications: "no_slide"} %>
                                            <% end %>
                                        </div>
                                        <% if current_customer.facebook_friends.count > 2 %>
                                            <%= link_to 'See All', "#pymk_modal", data: {toggle: "modal"}, class: 'see_all' %>
                                        <% end %>
                                    </div>
                                <% end %>

                            <% end %>

                            <!-- MOBILE FACEBOOK -->
                            <% if browser.mobile? && current_customer.facebook_connected? && current_customer.facebook_friends.count > 0 %>
                                
                                
                                <% current_customer.paginate_notifications(1).drop(1).each do |day, ray| %>
                                    <p class="notif_day_text">
                                        <% if day == 0 %>
                                        <%= ray.first.created_at.strftime("%B %d, %Y") %>
                                        <% elsif day == 1 %>
                                        Yesterday
                                        <% elsif day < 31 %>
                                        <%= day.to_i %> days ago
                                        <% else %>
                                        <%= ray.first.created_at.strftime("%B %d, %Y") %>
                                        <% end %>
                                    </p>

                                    <ul class="messages">
                                        <% ray.each do |notification| %>
                                        <li data-notifid = "<%= notification.id %>">
                                            <% if ["connection_request", "connection_accepted", "followed"].include? notification.activity.activity_type %>
                                            <%= render partial: "shared/notifications/connection", locals: { notification: notification } %>
                                            <% elsif ["comment"].include? notification.activity.activity_type %>
                                            <%= render partial: "shared/notifications/comment", locals: { notification: notification } %>
                                            <% elsif ["share", "shared_thing"].include? notification.activity.activity_type %>
                                            <%= render partial: "shared/notifications/share", locals: { notification: notification } %>
                                            <% elsif ["event_invitation", "event_response_yes", "event_response_maybe", "event_response_no"].include? notification.activity.activity_type %>
                                            <%= render partial: "shared/notifications/event", locals: { notification: notification } %>
                                            <% elsif ["like"].include? notification.activity.activity_type %>
                                            <%= render partial: "shared/notifications/like", locals: { notification: notification } %>
                                            <% elsif ["purchase_gift_customer", "purchase_gift_guest"].include? notification.activity.activity_type %>
                                            <%= render partial: "shared/notifications/present", locals: { notification: notification } %>
                                            <% end %>
                                        </li>
                                        <% end %>
                                    </ul>
                                <% end %>

                            
                            <% else %>  
                                <% if current_customer.notifications.count == 0 %>
                                    <p class="no_notifs">No notifications</p>
                                <% else %>

                                    <% current_customer.paginate_notifications(1).each do |day, ray| %>

                                        <p class="notif_day_text">
                                            <% if day == 0 %>
                                            <%= ray.first.created_at.strftime("%B %d, %Y") %>
                                            <% elsif day == 1 %>
                                            Yesterday
                                            <% elsif day < 31 %>
                                            <%= day.to_i %> days ago
                                            <% else %>
                                            <%= ray.first.created_at.strftime("%B %d, %Y") %>
                                            <% end %>
                                        </p>
                                        
                                        <ul class="messages">
                                            <% ray.each do |notification| %>
                                                <li data-notifid = "<%= notification.id %>">
                                                    <% if ["connection_request", "connection_accepted", "followed"].include? notification.activity.activity_type %>
                                                    <%= render partial: "shared/notifications/connection", locals: { notification: notification } %>
                                                    <% elsif ["comment"].include? notification.activity.activity_type %>
                                                    <%= render partial: "shared/notifications/comment", locals: { notification: notification } %>
                                                    <% elsif ["share", "shared_thing"].include? notification.activity.activity_type %>
                                                    <%= render partial: "shared/notifications/share", locals: { notification: notification } %>
                                                    <% elsif ["event_invitation", "event_response_yes", "event_response_maybe", "event_response_no"].include? notification.activity.activity_type %>
                                                    <%= render partial: "shared/notifications/event", locals: { notification: notification } %>
                                                    <% elsif ["like"].include? notification.activity.activity_type %>
                                                    <%= render partial: "shared/notifications/like", locals: { notification: notification } %>
                                                    <% elsif ["purchase_gift_customer", "purchase_gift_guest"].include? notification.activity.activity_type %>
                                                    <%= render partial: "shared/notifications/present", locals: { notification: notification } %>
                                                    <% end %>
                                                </li>
                                            <% end %>
                                        </ul>

                                    <% end %>

                                <% end %>  

                            <% end %>

                        </div>
                        <div class="loader notif_popover">
                            <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
                        </div>
                    </div>
                    <% if !browser.mobile? %>
                        <div class="cover-bar"></div>

                        <ul class="messages">
                            <%= link_to notifications_view_path, class: 'see_all' do %>
                                <li class="text-center notif_see_all">
                                   See All Notifications
                                </li>
                            <% end %>
                        </ul>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">    
   var notif_popover_offset = -1000;
   var notif_popover_page_number = 1;
   var notif_popover_scroll = new ScrollMagic.Controller({container: "#notification_popover .scroll_notif"});

    function mobile_notif_click(notif_number){
        $('#notification_popover .tab_notifications li').click(function () {
            var notification_id = $(this).data('notifid');           
            var that = this;
            if($(this).find('.new_notif')[0]){ //if this is a new notification get rid of it    
                    $.ajax({
                        url:      '/notifications/mark-as-read',
                        type:     'PATCH',
                        data:     { 
                                      id: notification_id
                                  },
                        dataType: 'json',
                        success: function(data) {
                            if(data['response'] == true) {
                                notif_number--;
                                $(that).find('.new_notif').fadeOut(function(){
                                    $(that).find('.new_notif').remove();
                                });
                                if(notif_number <= 0){
                                    $('.notifications-badge').fadeOut(function(){
                                        $('.notifications-badge').remove();
                                    });
                                }
                                else{
                                    $('.notifications-badge').text(notif_number);
                                }
                            }
                        }
                    });
            }
        });
    }
   //sets var for the url for pagination
   // build scene
   new ScrollMagic.Scene({triggerElement: ".scroll_notif .loader.notif_popover", offset:notif_popover_offset})
   .addTo(notif_popover_scroll)
   .on("enter", function (e) {
       if(e.scrollDirection == "FORWARD"){
           if (!$(".loader.notif_popover i").hasClass("active")) {
               notif_popover_page_number++;
               $(".loader.notif_popover i").addClass("active");
               var infinite_notif_url = '/paginate/notifications?page='+ notif_popover_page_number;
               $.ajax({
                   url: infinite_notif_url, //pagination url
                   type: 'GET',
                   success: function (data) {
                       $('.notif_container').append(html)
                       var count = (data.match(/notif_left/g) || []).length;
                       $(".loader.notif_popover i").removeClass("active");
                       if (count < 12 && !$('#notification_popover .no_more_items')[0]) { //if response does not contain html variable
                           $('.notif_container').after('<p class="no_more_items notif_popover">No more items to show.</p>');
                           $('.no_more_items').fadeIn();
                       }
                       var notif_number = parseInt($('.notifications-badge').text());
                       mobile_notif_click(notif_number);
                   },
                   error: function(){
                     console.log("Error");
                     $(".loader.notif_popover i").removeClass("active");

                   }
               });
           }
       }
   });
    
    
    $('#notification_popover .tab_notifications .confirm-connection').click(function (e) {
        e.preventDefault();
        var id              = $(this).attr('id').split('-');
        var customer_id     = id[2];
        $.ajax({
            context  : this,
            url      : '/profile/approve',
            type     : 'PATCH',
            data     : { id: customer_id },
            dataType : 'json',
            success  : function(data) {
                var id_number = $(this).attr('id');
                $('#notification_popover #' + id_number ).fadeOut();
            },
            error    : function(request, error) {
                console.log("Request: " + JSON.stringify(request));
            }
        });
    });
    
    
    $(document).on('turbolinks:load', function() {

        $('.mini_tile_content p').each(function() {
            if($(this).html().length > 18){
                $(this).text($(this).text().substring(0,18).replace(/ - /, '-').trim(this) + " ...")
            }
        }) 

        $( ".popover_overlay" ).click(function() {
            $( ".popover-content .slimScrollDiv" ).removeClass();
        });
        
        var notif_number = parseInt($('.notifications-badge').text());
        if($(window).width() >  480){
            var timer;
            $('body').on('mouseenter', '#notification_popover .tab_notifications li', function () {
                var notification_id = $(this).data('notifid');           
                var that = this;
                if($(this).find('.new_notif')[0]){ //if this is a new notification get rid of it
                    timer = setTimeout(function(){
                        $.ajax({
                            url:      '/notifications/mark-as-read',
                            type:     'PATCH',
                            data:     { 
                                          id: notification_id
                                      },
                            dataType: 'json',
                            success: function(data) {
                                notif_number--;
                                if(data['response'] == true) {
                                    $(that).find('.new_notif').fadeOut(function(){
                                        $(that).find('.new_notif').remove();
                                    });
                                    if(notif_number <= 0){
                                        $('.notifications-badge').fadeOut(function(){
                                            $('.notifications-badge').remove();
                                        });
                                    }
                                    else{
                                        $('.notifications-badge').text(notif_number);
                                    }
                                }
                            }
                        });
                    }, 300);
                }
            });
            $('body').on('mouseleave', '#notification_popover .tab_notifications li', function () {
                clearTimeout(timer);
            });
        }
        else{
            mobile_notif_click(notif_number);
        }

    })
    
</script>
