<div class="hidden" id="profile_popover">
    <div class="popover-body">
        <% if browser.mobile? %>
            <%= render partial: "shared/modals/modal_partials/close_btn" %>
        <% end %>
        <div class="profile_popover">
            <ul class="list-group nav">
                <li class="list-group-item">
                    <%= link_to "Settings", profile_view_path %>
                </li>
                <li class="list-group-item">
                    <%=link_to 'Discover Registries', discover_wish_lists_path %>
                </li>
                <li class="list-group-item">
                    <%=link_to 'Discover Categories', discover_categories_path %>
                </li>
                <% if !browser.mobile? %>
                <li class="list-group-item">
                    <%=link_to 'Notifications', notifications_view_path %>
                </li>
                <% end %>
                <li class="list-group-item">
                    <% if @deals.present? %>
                        <%=link_to 'Discover Deals', discover_deals_path %>
                    <% end %>
                </li>
                <% if current_customer.upcoming_events.present? %>
                    <li class="list-group-item">
                        <%= link_to "My Events", profile_view_path( anchor: "my-events" ) %>
                    </li>
                <% end %>
                <% if (browser.chrome? || browser.firefox? || browser.opera? || browser.safari?) && !(browser.mobile?) %>
                    <li id="gift_assistant_link" class="list-group-item">
                        <%= link_to unlimited_gifts_path do %>
                            Get Gift Assistant <%= ion_icon("android-warning", aria_hidden: true, class: 'notice') %>
                        <% end %>  
                    </li>
                <% end %>
                <% unless current_customer.connected? %>
                    <li class="list-group-item">
                        <%= link_to profile_view_path(anchor: 'social') do %> 
                            Connect Social <%= ion_icon("android-warning", aria_hidden: true, class: 'notice') %> 
                        <% end %>
                    </li>
                <% end %>
                <% if current_customer.admin? %>
                    <li class="list-group-item">
                        <%= link_to "Admin Login", new_admin_session_path %>
                    <li>
                <% end %>
                <li class="list-group-item">
                    <%= link_to "Log Out", destroy_customer_session_path, method: :delete, id: 'logout' %>
                </li>                
            </ul>
            <div class="profile_bottom_links">
                  <%#=link_to 'Unlimited Gifts', unlimited_gifts_path %>
                  <%=link_to 'FAQs', faq_path %>
                  <%=link_to 'Contact Us', feedback_path %>
                  <%=link_to 'Community Guidelines', community_path %>
                  <br>
                  <%=link_to 'Terms & Conditions', terms_path %>
                  <%=link_to 'Privacy Policy', privacy_policy_path %>
            </div>
        </div>
    </div>
</div>
