<%= link_to '< back', categories_admin_merchant_categories_path %>

<h2 class="reports_text">Edit <%=@category.name%></h2>
<div id="add_category">
    <%= form_for @category, url: edit_admin_merchant_categories_path(id: @category.id), remote: true, method: 'post', html: { multipart: true } do |f| %>
        
        <div class="form-group has-feedback letter_section">
        <%= f.text_field :name, class: "form-control input-md category-name", placeholder: "Add Category Name", required: true %>
        </div>

        <div class="form-group has-feedback letter_section">
            <% @checked_merchants.each do |merchant|%>
                <div class="letter_container col-xs-3">
                    <%= f.check_box :old_merchants, { multiple: true, checked: true }, merchant.id, nil %>
                    <%= f.label merchant.name %>
                </div>
            <% end %>
        </div>
        <div class="form-group has-feedback letter_section">
            <% @unchecked_merchants.each do |char, merchant|%>
                <div class="letter_container col-xs-3">
                    <p class="letter"><%= char.capitalize %></p>
                    <div>
                        <% merchant.each do |m| %>
                            <div class="field form-group checkbox checkbox-warning">
                                <%= f.check_box :merchants, { multiple: true }, m.id, nil %>
                                <%= label_tag m.name %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="form-upload">
            <%= image_tag @category.screenshot.small.url, class: 'img-responsive' %>
            <div class="form-group has-feedback">
                <%= f.file_field :screenshot, class: 'btn btn-default' %>
            </div>

            <div class="form-group">
                <%= f.submit class: 'btn btn-success'%>
            </div>
        </div>
    <% end %>
</div>
