<%= link_to '< back', home_admin_merchant_categories_path %>
<h2 class="reports_text">Categories</h2>
<h3 class="reports_text"> All Categories (<%= @categories.count %>) </h3>

<div class="ga_reports_container">
	<% if !@categories.empty? %>

	    <% @categories.each do |category| %>
	    <table>
	        <thead>
	            <th>Category Name</th>
	            <th>Category ID</th>
	            <th>Merchants</th>
	            <th>Screenshot</th>
	            <th>Actions</th>
	        </thead>
	        <tr>
	            <td><%= category.name %></td>
	            <td><%= category.id %></td>
	            <td>
	            <% category.category_merchants.each do |merchant| %>
	            <span class="label label-default"><%= merchant.name %></span>
	            <% end %>
	            </td>
	            <td>
	            	<%= image_tag category.screenshot.small.url, class: 'img-responsive' %>
	            </td>
	            <td>
	            	<%= link_to 'edit', category_admin_merchant_categories_path(id:category.id), class: 'btn btn-default' %>  
	            	<%= link_to 'delete', delete_admin_merchant_categories_path(id:category.id), remote: true, method: 'delete', class: 'btn btn-danger ' %>
	            </td>
	        </tr>

	    </table>
	    <br>
	    <% end %>
    <% end %>
</div>


<div></div>

