<h2 class="reports_text">Manage Categories</h2>
<div id="feedback_container">

  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to 'View Categories', categories_admin_merchant_categories_path %>
    </li>
    <li class="nav-item">
      <%= link_to 'Add New Category', admin_merchant_categories_path %>
    </li>
  </ul>
</div>