 <%= link_to '< back', home_admin_merchant_categories_path %>
<h2 class="reports_text">Add New Category</h2>
<div id="add_category">
    <%= form_for MerchantCategory.new, url: add_admin_merchant_categories_path, remote: true, html: { multipart: true } do |f| %>
        <div class="form-group has-feedback">
            <%= f.text_field :name, class: "form-control input-md category-name", placeholder: "Add Category Name", required: true %>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group has-feedback letter_section">
            <% @all_merchants.each do |char, merchant|%>
                <div class="letter_container col-xs-3">
                    <p class="letter"><%= char.capitalize %></p>
                    <div>
                        <% merchant.each do |m| %>
                            <div class="field form-group checkbox checkbox-warning">
                                <%= f.check_box :merchants, { multiple: true }, m.id, nil %>
                                <%= label_tag m.name %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="form-upload">
            <div class="form-group has-feedback">
                <%= f.file_field :screenshot, required: true, class: 'btn btn-default' %>
            </div>

            <div class="form-group has-feedback">
                <%= f.submit class: 'btn btn-success'%>
            </div>
        </div>
    <% end %>
</div>