<p class="social_connect">Connect your Giftibly Account to Facebook and other social sites to easily connect with friends.</p>
<p class="facebook_text">Toggle "yes" to connect to your Facebook account. This will allow Giftibly to pull profile information and import or invite your Facebook friends. By clicking "yes" you are giving Giftibly permission to invite friends through Facebook on your behalf.</p>

<div class="facebook_switch btn-group">
    <button type="button" class="btn connect <%= 'active' if current_customer.facebook_connected? %>">
        <% if current_customer.facebook_connected? %>
            Connected
        <% else %>
            Connect
        <% end %> 
        to Facebook <%= ion_icon('ios-checkmark')%>
     </button>
    <button type="button" class="btn disconnect <%= 'active' if !current_customer.facebook_connected? %>">
        <% if !current_customer.facebook_connected? %>
            Disconnected
        <% else %>
            Disconnect
        <% end %>
    </button>
</div>


<script>
    $('.facebook_switch .disconnect:not(.active)').click(function(){
        $("#social_remove p strong").html('Facebook');
        $("#social_remove .btn-danger").attr('href', '/oauth/disconnect?connection=facebook&for_message=Facebook');
        $('#social_remove').modal('show');
    });
    
    $('.facebook_switch .connect:not(.active)').click(function(){
        window.open("/customers/auth/facebook", "_self");
    });

</script>