/* Large Devices to mobile */
@media handheld, only screen and (max-width: 1200px) {

    .edit_profile_container, .edit_basket_container{ margin-top: 60px; }

	.container-fluid.tab_full_width {
		padding-left: 5px;
		padding-right: 5px;
	}
	
/* ===========================================* || Product Tile || ===========================================*/
    .newly_added{
        img{
            width: 30px;
        }
    }
    .product-item-content a.buyforBtn{
        bottom: calc(40% - 35px);
    }
    
/* ===========================================* || NOTIFICATION SECTION || ===========================================*/
    
    .your_notif{
        margin-left: 20px;
    }
    
    .notif_settings_text{
        margin-right: 20px;
    }
    
    .notif_info_container{
        border: none;
    }
    
    .notif_day{        
        h2{
            margin-left: 0;
            padding: 0;
            margin-top: 10px;
        }
    }
    
    .notif_comment_div{
        margin-left: 60px;
    }
    
    #style_override{
        .messages_popover{
            .notif_day_text{
                margin-left: 0px;
                margin-bottom: 10px;
            }
            .messages{
                i.new_notif{
                    font-size: 12px;
                }
            }
        }

        .notif_users_container{
            float: none;

            .notif_page_user{
                border-bottom: 1px solid #dfdfdf;
                padding-bottom: 30px;

                .avatar{
                    max-width: 50px;
                    margin-left: 25px;
                }
            }

            p.connection_request_date{
                font-size: 16px;
            }
            .btn_confirm{
                padding: 7px 20px;
            }

            .btn_delete{
                padding: 7px 20px;
            }

            .notif_page_user:last-of-type{
                border-bottom: none;
            }

            .expand_all_div{
                text-align: center;

                .notif_expand_all{
                    float: none;
                    margin-left: 0px;
                    background-color: #e9e9e9;
                    padding: 10px 20px;
                    text-decoration: none;
                    border-radius: 3px;
                    font-size: 20px;
                    margin-bottom: 40px; 
                }
            }
        }
    }
    .product_item_container.gift{
        padding: 0 15px;
        & > div:first-of-type{
            padding-left: 0;
        }
        .product_message{
            padding: 25px 10px 0px 10px;
        }
    }
    
    .nav_push{
        padding: 0 15px;
    }
    
    .logged_out_nav{
        .navbar-nav{
            li{
                a{
                    padding: 15px 7px;
                }
            }
        }
    }
    .tab_info{
        padding: 5px 0px 0px 190px;
    }
    
    /* PROFILE PAGE */
    .main_avatar_container{
        left: 10px;
    }
    .profile_bg .name_city{
        padding-left: 190px;
    }
    
    /* DISCUSSION TAB */
    .basket_bg .title {
        padding-left: 175px;
    }
    .basket_bg[style*="/images/fallback/event_banner"]{
        background-position: 100%;
    }
    
    .basket_container{
        .tab_info {
            padding: 15px 10px 10px 190px;
        }
        .tab-content {
            padding: 0;
        }
    }
    
    /* CART PAGE */
    #style_override{
        .product_page_container{
            .title{
                padding-left: 177px;
            }
        }
        .checkout_steps{
            padding-left: 30px;
        }
    }

    .back_to_cart{
        padding: 0px;
    }
    .payment{
        #card_number{
            width: 41.6667%;
        }
    }
    
    /* CHARITY and CASH BASKET PAGE */
    #charity_container, #cash_container{
        div.basket_tab_content{
            padding: 0 115px;
        }
    }
    /* JOIN OUR TEAM PAGE */
    #join_our_team_container{
        #splash{
            .splash_join p{
                width: 78%;
            }
        }
        .position{
            width: calc(100% - 45px);
            .description_skills{
                p{
                    margin-left: 0;
                }
                a{
                    margin-left: 0;
                    padding: 10px 35px;
                }
            }
            .jobtitle{
                h2{
                    margin-top: 0;
                }
            }
        }
    }
    /* LANDING PAGE */
    #how_it_works{
        .how_it_works_buttons{
            .carousel_button{
                padding-bottom: 50px;
                p{
                    span{
                        display: inline;
                    }
                }
            }
        }
    }
    #adding_wishes{
        .devices{
            right: 90px;
        }
    }
    #company_info_container{
        padding: 35px 40px;
    }
    
    /* UNLIMITED GIFTS */
    #splash_image_text_container, .no_more_container .no_more{
        width: inherit;
    }
    /* FEEDBACK PAGE */
    #feedback_container{
        .feedback_main{
            width: 100%;
            .feedback{
                padding-right: 15px;
                border-right: none;
            }
        }
    }
    .full_page_form{
        .error{
            width: 100vw;
            .sad_image, .error_links{
                float: none;
                display: block;
                text-align: center;
            }
            .sad_image{
                img{
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 90%
                }
            }
            .error_links{
                p, ul{
                    margin: 0;
                }
            }
        }
    }
    .confirm_container{
        display: block;
        height: initial;
    }
    #order_confirmation{
        margin-top: 30px;
        max-width: 480px;
        .left_confirm, .right_confirm{
            float: none;
        }
        .left_confirm{
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            margin-left: auto;
            margin-right: auto;
            img{
                max-width: 300px;
            }
        }
        .right_confirm{
            width: 100%;
            h1{
                font-size: 56px;
                margin-bottom: 10px;
            }
            .order_summary_content{
                margin: 30px 0 40px;
            }
            .email_confirmation{
                .email_left{
                    float: none;
                    width: -webkit-max-content;
                    width: -moz-max-content;
                    width: max-content;
                    margin-left: auto;
                    margin-right: auto;
                    img{
                        max-width: 100px;
                        position: inherit;
                    }
                }
                .email_right{
                    text-align: center;
                    float: none;
                    margin: 10px 0 30px;
                    padding: 0 10px;
                    width: 100%;
                }
            }
            .shipping_taxes{
                margin-bottom: 30px;
            }
        }
    }
}