/* Extra Small Devices 2, iPhone 5 */
@media only screen and (max-width : 320px) {
    
    #style_override{

        .createBasketMask{
            .btn-group > .btn{
                padding: 5px 7px;
            }
            .actions{
                .btn{
                    padding: 5px 15px;
                }
            }
            &#event .actions input.btn-lg{
                padding: 5px 22px;
            }
        }
        .navbar{
            .navbar-brand{
                img{
                    width: 32px;
                    height: 32px;
                    margin-top: -9px;
                }
            }
            .navbar-nav li i, .navbar img.avatar{
            margin: 0px 4px;
            }
        }
        .navbar .navbar-nav li i, .navbar img.avatar{
            font-size: 21px;
        }

        .message_icon, .cart_icon{
            .badge{
                left: 30px;
            }
        }

    /* Product Page */
        .product_bg{
            .title{
                padding-left: 75px;
            }
        }
        .product_page_container{
            .tab_info{
                .website_description{
                    padding-left: 105px; 
                }
                .tab_heading_right{
                    margin-left: 75px;
                    .info{
                        div p{
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    /* Event Basket Page */
        
        .event_details{
            .left_details{
                padding-bottom: 40px;
            }
            .right_details{
                float: none;
                margin-top: 22px;
            }
        }
    
    /* discussion section */
    .comment_container {
        .start_new_discussion {
            padding: 45px 10px;
            form{
                padding-left: 50px;
            }
        }
        .message_container {
            padding: 10px;
            .img_discussion {
                padding-right: 10px;
            }
        }
        .reply_discussion form {
            padding-left: 50px;
        }
        .reply_container {
            width: calc(100% - 40px);
        }
    }
        
        
    /* Feed Page */
        .reminders{
            h3{
                font-size: 16px;
            }
        }
    /* Profile Popover */

        .popover.bottom{
            min-width: 300px;
        }
     /* Notification Popover */
        .scroll_notif{
            .new_notif{
                margin-top: -50px;
            }
        }

    /* Profile Page */

        .profile_nav_elem a{
            padding: 8px 0px;
        }
        .main_avatar_container{
            left: 0;
            img{
                width: 100px;
            }
        }
        .tab_info{
            padding: 5px 0 0 115px;
        }
        .basket_container{
            .tab_info{
                padding: 5px 0 0 115px;
            }
        }
        .three_tab_navigation{       
            #tab_one,#tab_two,#tab_three{
                a{
                    font-size: 13px;
                }
            }
        }


    /* Notifications Page */

        .notif_items{
            margin-top: 35px;
            margin-left: 0px;
        }

        .messages{
            li{
                font-size: 15px;
            }
        }
        
        .notification_container{
            .your_notif{
                font-size: 16px;
            }
            .notif_settings_text{
                font-size: 13px;
            } 
        }

        .navbar-nav{
            .li{
                i{
                    &:hover{
                    background-color: none;
                    }
                }
            }
        }
        
    /* CART PAGE */
        .cart_left{
            .right_cart_item{
                margin-right: 5px;
            }
            .cart_item .middle_item_container .cart_item_name{
                max-width: 285px;
            }
        }
        /* MESSAGE POPUP */
        #message_popup{
            .new_message{
                width: 62%
            }
            .form-control{
                width: 190px;
            }
        }
        /* JOIN OUR TEAM PAGE */
        #join_our_team_container{
            .splash_container{
                #splash{
                    .splash_join{
                        margin-top: 38%;
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .form-container .process-container{
            top: 210px;
        }
        

    }  
}