/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #style_override{
        &.landscape_stop_scroll{
            overflow: auto;
        }
        
        .mobile_separator{
            height: 50px;
        }
        #landscape_mobile_mask{
            display: none;
        }
        .navbar{
            padding: 3px 10px;
            &.transparent_nav{
                ul{
                    li:last-of-type{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .navbar .search_container .easy-autocomplete .easy-autocomplete-container ul li .eac-item a{
            padding: 20px 0px 20px 32px;
        }
        #header{
            .discover_nav{
                top: 14px;
                margin-right: 0;
                a{
                    padding: 0;
                }
            }
            .cart_icon{
                top: 10px;
                .badge{
                    top: -4px;
                    left: 24px;
                }
                &.no_show{
                    position: relative;
                    margin-left: 0;
                }
            }
            .navbar{
                li{
                    padding: 0;
                    float: left;
                    &.list-group-item{
                        float: none;
                    }
                    .popover-body{
                        width: 100%;
                    }
                }
            }
            .avatar_icon{
                position: relative;
                top: 2px;
            }
            .search_container{
                display: block;
                padding: 0 17px 0 0;
                width: calc(100% - 106px);
                position: relative;
                top: 3px;
                float: left;
                margin-left: 0;
            }
        }

        .navbar .easy-autocomplete-container{ 
            left: -29px;
        }
        .search_page .easy-autocomplete-container, .popover .easy-autocomplete-container{ 
            left: -15px;
        }
        .easy-autocomplete-container{
            width: 100vw;
            top: 48px;
            ul{
                height: calc(100vh - 112px);
                margin: 0;
                width: 100vw;
            }
        }

        .icons{
            margin-top: -5px;
        }
        
        .profile_bottom_links{
           border-radius: 0; 
        }
        
        
        .popover_animate{
            -webkit-animation-name: popover_animate;
        	-webkit-animation-duration: .5s;
        	-webkit-animation-timing-function: ease-in-out;
        	-webkit-animation-fill-mode:both;
        }
        
        @-webkit-keyframes popover_animate {
           0% {
              left: 100vw;
          }
          100% {
              left: 0;
          }
        }
        .popover_animate_disable{
            -webkit-animation-name: popover_animate_disable;
            -webkit-animation-duration: .5s;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-fill-mode:both;
        }

        @-webkit-keyframes popover_animate_disable {
           0% {
              left: 0;
          }
          100% {
              left: 101vw;
          }
        }

        .modal{
            z-index: 9999;
            .closeBtn{
                padding: 15px;
                top: 1px;
                right: 7px;
            }
        }
        .modal-dialog{
            width: 90%;
        }
        #gift_url{
            #product_info_container{
                height: 248px;
            }
            .image-container{
                height: 171px;
            }
            #basket_list{
                margin-bottom: 0;
                ul{
                    height: calc(100vh - 426px);
                }
            }
        }
        #landing_login{
            &:active{
                background: none;
            }
        }
        
        .share_modal{
            .modal-content{
                padding: 0;
                margin-top: 0;
            }
        }
        
        .navbar .navbar-nav li i, .navbar img.avatar{
            margin: 0px 7px;
            font-size: 27px;
        }
        
        .nav_push{
            padding: 0 4px;
        }

        .hamburger_menu{
            padding: 4px 25px 0px 0px;
            font-size: 22px;
            position: relative;
            top: 8px;
            display: block;
        }
        #header{
            .logged_out_nav{
                .cart_icon{
                    color: #c9c9c9;
                    font-size: 22px;
                    position: absolute;
                    top: 14px;
                    right: 70px;
                    .badge{
                        top: -7px;
                        left: 9px;
                    }
                }
                &.transparent_nav{
                    .cart_icon{
                        color: #fff;
                        right: 130px;
                    }
                }
            }
        }
        
        #header{
            .navbar{
                #landing_login{
                    display: none;
                }
                &.transparent_nav{
                    #landing_login{
                        color: #fff;
                        font-size: 14px;
                        font-weight: 300;
                        position: absolute;
                        right: 70px;
                        top: 19px;
                        display: block;
                    }
                }
            }
        }
        
        .navbar{
            height: 57px;
            li{
                &.avatar_icon{
                    a{
                        &:hover, &:focus, &:active{
                            background: none;
                        }
                    }
                }
                .avatar{
                    width: 43px;
                    padding: 6px;
                }
            }
            &.transparent_nav{
                .hamburger_menu{
                    color: #fff;
                }
            }
        }

        .search_container .search_customers input{
            font-size: 12px;
            height: 35px;
        }

        .close_search{
            display: block;
        }
        
    /*   Tiles    */
        .tab_full_width{
            padding: 0;
        }
        .product-item{
            padding: 0 10px 0 10px;
            .product-content-upper{
                max-height: 350px;
                min-height: inherit;
                overflow: hidden;
                img.product{
                    filter: brightness(92%);
                    max-height: inherit;
                }
            }
            .product-content-lower{
                padding: 7px 0 0 0;
                .product_tile_avatar{
                    clear: both;
                    margin-left: -3px;
                    img{
                        margin-left: 5px;
                    }
                }
                .product_title{
                    font-size: 14px;
                    line-height: 16px;
                    margin-left: 0;
                    margin-top: 5px;
                    clear: both;
                    &.caption{
                        text-align: left;
                    }
                }
                .product_price{
                    margin-left: 0;
                }
                .product_retailer{
                    margin-left: 0;
                    margin-right: 5px;
                }
                .buyforBtn{
                    display: block;
                    position: inherit;
                    float: right;
                    width: calc(100% - 160px);
                    padding: 7px;
                    margin-bottom: 13px;
                    &.variant{
                        width: calc(100% - 130px);
                    }
                }
                .product_actions{
                    position: inherit;
                    display: inline-block;
                    float: left;
                    margin-bottom: 4px;
                    width: 100%;
                    a{
                        display: inline-block;
                        color: $dark-grey;
                        text-align: center;
                        margin-right: 13%;
                        width: inherit;
                        float: left;
                        &:last-of-type{
                            margin-right: 0;
                        }
                        .ion-ios-paperplane{
                            position: relative;
                            top: -3px;
                        }
                        & i:hover{
                            font-size: inherit;
                        }
                    }
                    &.variant{
                        a{
                            &:nth-of-type(2){
                                position: inherit;
                            }
                        }
                    }
                }
                .user_rating{
                    position: relative;
                    left: 3px;
                    i{
                        font-size: 12px;
                        margin-left: -1px;
                    }
                }
            }
            .mark_received, .received{
                padding: 7px;
                font-size: 14px;
            }
        }
        
        
    /* Feed page */
        .feed_heading{
            margin-top: -11px;
            .feed_nav{
                margin-bottom: 10px;
            }
        }
        .feed_tabs{
            margin-top: 163px;
            .tab_full_width{
                padding: 0;
            }
            .product-item{
                padding: 0;
            }
            .product-content-upper{
                display: block;
                border-radius: 0;
            }
            .product-content-lower{
                padding: 7px 10px 0 10px;
                .product_actions{
                    position: inherit;
                    width: inherit;
                    display: inline-block;
                    float: left;
                    a{
                        display: inline-block;
                        color: $dark-grey;
                        text-align: center;
                        margin-right: 18px;
                    }
                    &.variant{
                        a{
                            &:nth-of-type(2){
                                margin: 0 18px 0 0px;
                                position: inherit;
                            }
                        }
                    }
                }
            }
            .product-item{
                width: 100%;
            }
        }

        .delete_basket{
            top: 0;
            right: 5px;
        }


        .giftbasketname{
            display: none;
        }

        .product_modal, #share_modal{
                  
            .modal-dialog{
                height: 100%;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
            }         
            .image_container{
                height: 25vh;
                &[style="background-image: url('/images/fallback/event_banner_default.jpg')"]{
                    background-position: 99%;
                }
                &[style="background-image: url('/images/fallback/charity_banner_default.jpg')"]{
                    background-position: 86%;
                }
            }
            .baskets_feed{
                &.safari_mobile{
                    padding-bottom: 80px;
                }
                &.gift{
                    height: calc(75vh - 215px);
                }
                &.variant{
                    height: calc(75vh - 180px);
                }
            }
            .addToBasket_action{
                position: fixed;
                bottom: 0;
                background: #fff;
                width: 100%;
                padding: 10px 0;
                .createBtn{
                    position: relative;
                    top: 5px;
                }
                &:hover{
                    background: #fff;
                }
            }
            .modal_comments_container{
                height: calc(70vh - 103px);
            }
        }
        #share_modal{
            .friends{
                height: calc(75vh - 210px);
                &.variant{
                    height: calc(75vh - 180px);
                }
                &.safari_mobile{
                    padding-bottom: 80px;
                }
            }
            .share_social{
                position: fixed;
                bottom: 0;
                background: #fff;
                width: 100%;
            }
        }
        
      /* Search */ 

        .tab_full_width{
            .col-sm-12{
                z-index: 1029;
            }
        }

    /* Notification page */ 

        .body_wrap_notif{
            padding: 0px;
            
            .messages{
                padding: 10px;
            }
            .notif_day, .notif_connections{
                border-radius: 0;
            }
        }

        .notification_container{
            padding: 85px 0 0;
            .notif_settings_text{
                font-size: 15px;
                margin-right: 10px;
            }
            .your_notif{
                font-size: 18px;
                margin-top: 3px;
                margin-left: 10px;
            }
        }
        .notif_connections{
            p{
                padding: 0;
            }
        }
        .notif_users_container{
            .users_container{
                max-height: 465px;
                margin-bottom: 30px;
                .notif_page_user{
                    padding-bottom: 20px;
                }
            }
            .expand_all_div .notif_expand_all{
                font-size: 14px;
                border-radius: 30px;
            }
        }

        .messages{

            li{
                font-size: 16px;
                padding: 15px 0;

                .avatar{
                    margin-bottom: 22px;
                }

                .time{
                    margin-top: 2px;
                }

                .notif_items{
                    margin-top: 30px;
                }

                .notif_comment_div{
                    p{
                        font-size: 13px;
                        margin: 0px 5px 0px 35px;
                    }
                    a{
                        margin-left: 15px;
                    }
                }
            }
        }

        .notif_user_text{
            .btn_delete{
                margin-left: 5px;
            }
            a{
                font-size: 15px;
            }

            p{
                font-size: 15px;
            }
            button{
                font-size: 13px;
            }
        }

    /* Events Basket page */ 
        .events_bg{
            height: 200px;
            min-height: 200px;
            overflow-x:hidden;
        }
        #events_container, #events_container{
            .three_tab_navigation{
                padding: 20px 0px 0px 0px;
            }
        }

        .event_details{
            h1{
                font-size: 23px;
            }
            .left_details{
                margin-bottom: 0px;
                margin-right: 15px;
                padding-bottom: 20px;
                p{
                    font-size: 16px;
                }
            }
            .right_details{
                float: none;
                display: inherit;
                h3{
                    font-size: 14px;
                }
                address{
                    font-size: 13px;
                }

                .host{
                    font-size: 13px;
                }
            }
        }
        .event_tab_content{
             padding: 0 5px;
            .tab-pane{
                .col-md-3{
                    width: 100%;
                }
            }
        }
        .guest_list_container{
            overflow: hidden;
        }
        
        .guest{
            img{
                width: 60px;
            }
            a{
                font-size: 12px;
            }
        }

    /* Notification Popover */
        #profile_popover, #notification_popover, #multitool, #hamburger_menu{
            top: 0 !important;
            margin-top: 0;
            right: inherit;
            left: 100vw;
            margin-left: 0;
            border-radius: 0;
        }
        #profile_popover, #multitool, #hamburger_menu{
            width: 100%;
            height: 100vh;
        }
        #notification_popover{
            .no_notifs{
                margin-top: 15px;
                margin-bottom: 25px;
            }
            .tab_notifications > .messages{
                width: 100%;
                z-index: 50;
                li{
                    margin-bottom: 0;
                }
            }
            .notif_see_all{
                border-radius: inherit;
                border: none;
                border-top: 1px solid #c9c9c9;
            }
            .scroll_notif{
                width: 100vw;
                max-height: inherit;
                height: calc(100vh - 40px);
                padding: 0 0 75px 0;
                min-width: inherit;
                .notif_day_text{
                    padding: 0 15px;
                }
                .messages{
                    li:last-of-type{
                        border-radius: 0;
                        margin-bottom: 5px;
                    }
                    li{
                        width: 100vw;
                        cursor: pointer;
                    }
                }

                li{
                    padding: 15px 20px;
                    &:active{
                        background: #f2f2f2;
                    }

                    .avatar{
                        margin: 0 10px 0;
                        max-width: 45px;
                    }

                    .notif_items{
                        margin: 0;
                    }
                }
                .notif_text{
                    float: left;
                }
            }
        }
        
    /* Message Popover */
        .message_start{
            padding-bottom: 20px;
            .slimScrollDiv{
                height: 287px !important;
            }
            .scroll_message{
                height: 287px !important;
            }
        }
        .send_to{
            .messages{
                padding: 10px 20px;
            }
        }

    /* Settings Page */
        .get_notifications_from{
            .radio{
                width: 100%;
            }
        }
        .get_notifications_when, .get_notifications_from{
            margin-left: 10px;
        }
        .settings_container{
            padding-top: 15px;
            .btn[type="submit"]{
                margin-left: auto;
                margin-right: auto;
                display: block;
                float: none !important;
            }
            & > div{
                padding: 0;
            }
        }
        #notification{
            .form-group{
                > span{
                    display: inline-block;
                    width: 50%;
                }
            }
        }
        
        .toolbar{
            padding: 0;
        }

    /* Profile Page */

        #share_basket_popup{
            min-width: 92%;
        }

        .profile_bg, .basket_bg{
            height: 200px;
            min-height: 200px;
            overflow-x:hidden;
        }
        .profile_tab_padding{   
            padding: 10px 20px 5px 20px;
            .toolbar{
                padding: 0;
            }
        }
        .loader.total_wishes, .loader.wishes{
            margin-left: -20px;
        }
        .group_tile{
            margin-bottom: 30px;
            &:nth-child(odd) {
             padding-left: 0;
             padding-right: 7px;
            }
            &:nth-child(even) {
             padding-left: 7px;
             padding-right: 0;
            }
            .group_tile_inner{
                padding: 0;
                .group_tile_Preview{
                    &:hover{
                        background: none;
                        .ellipsisIcon{
                            display: none;
                        }
                        & > div{
                            filter: none;
                        }
                    }
                }
                .group_tile_prev1{
                    min-height: inherit;
                    height: 150px;
                }
                .group_tile_prev2,.group_tile_prev3{
                    height: 73px;
                    min-height: 73px;
                }
                .group_tile_prev2:before{
                    height: calc(50% - 2px);
                }
                .group_tile_prev3:before{
                    margin-top: 82px;
                    height: calc(50% + 8px);
                }
            }
            .group_tile_actions{
                margin: 0 0 5px 0;
                .like{
                    i{
                        font-size: 23px;
                    }
                }
                a:hover{
                    font-size: inherit;
                }
            }
            .numb_basket_items{
                top: 7px;
                &.landing{
                    height: inherit;
                }
            }
            .group_tile_inner{
                .group_tile_Details{
                    h2{
                        margin-top: 3px;
                        a{
                            font-size: 14px;
                            display: inline;
                        }
                    }
                }
            }
        }
        
        #connections_tab{
            .col-xs-2{
                margin-left: -20px;
            }
        }
        .connections_menu{
            float: none;
            margin-top: 10px;
            .list-group-item{
                a{
                    span{
                        font-size: 12px;
                        &:first-of-type{
                            text-align: center;
                            font-size: 21px;
                        }
                    }
                }
            }
            ul{
                margin-bottom: 0;
            }
            li{
                display: inline-block;
                &:last-of-type{
                    margin-right: 0;
                }
                margin-right: 7px;
            }
        }
        .connections_container{
            width: 100%;
            padding-left: 0;
            .col-xl-3{
                padding-left: 0;
                .connection_info{
                    height: inherit;
                    min-height: 110px;
                }
            }
        }

    /* Basket Page */
        
        .parallax_container{
            .product-item-content{
                .product-content-upper{
                    img{
                        border-radius: 15px;
                    }
                }
            }
        }

        .basket_bg{
            height: 200px;
            min-height: 200px;
        }
        
        div.basket_tab_content, .parallax_container{
            padding: 0px;
            .product-item .product-content-lower .product_actions a{
                font-size: 23px;
                .ion-ios-paperplane-outline{
                    font-size: 27px;
                    position: relative;
                    top: -4px;
                }
            }
        }
        .comment_container{
            padding: 0;
            .col-xs-12{
                .message_container{
                    border-radius: 0;
                }
            }
        }
        
        #discussion{           
            ul.reply_discussion{
                margin-left: 6px;
                .closeBtn{
                    margin-right: 34%;
                }
            }
        }

        #splash {
            .splash-cta {
                top: 16%;
                .cta{
                    padding: 15px 50px;
                }
            }
        }

        .social-btn{
            font-size: 3em;
        }

        .feature-container p{
            text-align: center;
        }

        #messages .form-group > span {
            padding-left: 10px;
            font-size: .95em;
        }

        .connection{
            margin: 10px 0px;
        }
        #profile-tab-content{
            .facebook_switch{
                button{
                    padding: 0;
                }
            }
            .switch-title{
                font-size: 1.4em; 
            }
        }
        
        #lifestyle-upload .btn-file, #event-upload .btn-file, #charity-upload .btn-file, #cash-upload .btn-file {
            padding: 5px 0px;
            width: 100%;
        }
        
        /* PROFILE  */

        .profile_bg .row{
            height: 90px;
            width: 100%;
            .member_details{
                h2{
                    margin-top: 20px;
                }
            }
        }
        .main_avatar_container{
            margin-top: -50px;
            img{
                width: 130px;
            }
        }
        .basket_container{
            .two_tab_navigation{
                margin-top: 25px;
            }
            #gifts{
                margin-top: 0;
            }
        }
        .bio_container{
            display: none;
        }
        .basket_container{
            .tab_info{
                .title_name{
                    min-height: 50px;
                    font-size: 23px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-direction: column;
                    margin-bottom: 30px;
                }
                .website_description{
                    width: 100vw;
                    margin-left: -150px;
                    .bio_container{
                        display: block;
                        .bio{
                            padding-right: 0;
                        }
                    }
                    #toggle{
                        &:before{
                            width: 100vw;
                            margin-left: -150px;
                        }
                    }
                }
            }
            .no_gifts{
                p{
                    height: 50%;
                }
            }
        }
        .tab_info{
            min-height: 45px;
            .title_name{
                font-size: 16px;
            }
        }
        .tab_info, .basket_container .tab_info{
            padding: 5px 0px 0px 150px;
            .website_description{
                .name_city{
                    min-height: 45px;
                }
                .description{
                    padding-right: 10px;
                }
                .name{
                    font-size: 18px;
                }
                .city, .website{
                    font-size: 14px;
                }
                .bio{
                    font-size: 12px;
                    padding-right: 20px;
                    line-height: 20px;
                }
            }
        }
        
        .settings_container{
            margin-top: 0;
        }

        .share_modal .friends{
            .btn{
                font-size: 12px;
            }
        }

        .product_comments .comments {
            .info div{
                padding: 0 8px;
            }
            .viewComments {
                top: 4px;
            }
        }
        .share_social a {
            margin-right: 12px;
        }
        /* PROFILE  */

        .edit_profile_container{
            padding: 15px 0;
        }

        .upcoming_birthdays_modal .baloons{
            width: 70px;
        }

        .form-container .process-container{
            top: 80px;
        }

        .form-container .social-container{
            .col-xs-12{
                padding: 0;
            }
        }

        .upcoming_birthdays_modal .birthday_tiles{
            width: 100%;
        }
        
        /*Leave Modal */
        #leave_modal_tab_four .actions .btn:first-child{
            margin-bottom: 15px;
        }
        .leave_modal{
            #leave_modal_tab_one, #leave_modal_tab_two, #leave_modal_tab_three{
                padding: 0;
            }
            .modal-title{
                font-size: 14px;
            }
            .gift_stats_container{
                display: block;
            }
            .image_container{
                height: 35vh;
            }
            .actions{
                display: block;
                overflow: hidden;
            }
            #leave_no{
                .actions{
                    margin: 0 auto;
                    .btn{
                        width: 45%;
                    }
                }
            }
        }

        #login_modal .form-container{ padding: 0px;}

        /* PRODUCT PAGE */
        .product_bg{
            max-height: 215px;
            overflow-x:hidden;
            .title{
                padding-left: 125px;
                .title_name{
                    a{
                        font-size: 16px;
                    }
                }
            }
            .info{
                position: absolute;
                right: 20px;
                bottom: 0;
                div{
                    display: inline-block;
                    margin-left: 10px;
                    p{
                        color: #fff;
                        font-size: 12px;
                        text-align: center;
                        &:first-of-type{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .product_page_container{
            .product_item_container{
                .gift_bought_ribbon{
                    margin-top: -25px;
                }
                .default_dropdown{
                    float: none;
                    margin: auto;
                    button{
                        width: 100%;
                        margin: 10px 0px;
                    }
                    ul{
                        margin-top: -11px;
                    }
                }
                .bootstrap-touchspin {
                    float: none;
                }
                &.gift{
                    .product_message{
                        padding: 25px 10px 0px 10px;
                    }
                }
                .bottom_image_container{
                    padding: 0 18px;
                    .textarea-autosize {
                      height: 35px;
                      resize: none;
                      padding-right: 45px;
                    }
                }
                .product_message{
                    border-radius: 0;
                }
                .rating{
                    clear: both;
                }
            }
            .items_like_this{
                margin-top: 50px;
            }
        }
        
        .product_page_container{
            .tab_info{
                .website_description{
                    min-height: inherit;
                }
            }
            .productToolbar{
                padding: 0 15px;
                .owl-prev{
                    left: -18px;
                }
                .owl-next{
                    right: -18px;
                }
                
            }
            .product_item_container{
                overflow: hidden;
                padding: 0;
                margin-top: 20px;
                .product_right_container > div:nth-child(2){
                    width: inherit;
                }
                & > div:first-of-type{
                    padding: 0;
                }
                .product_img_container{
                    border-radius: 0;
                }
                .product_actions{
                    float: none;
                    display: inline-block;
                    a{
                        margin-right: 5px;
                    }
                }
                .product_buy_for{
                    width: calc(100% - 145px);
                    margin: 0px auto 20px auto;
                    display: inline-block;
                    padding: 3px;
                    position: relative;
                    top: -3px;
                }
                .size_price{
                    margin: -10px 5px 5px 0;
                    .buy_it_here{
                        font-size: 15px;
                        float: left;
                        margin-right: 25px;
                    }
                    .size_container{
                        float: left;
                        position: relative;
                        top: 1px;
                    }
                }
                .product_right_container{
                    h1{
                        margin: 5px 0 10px 0;
                        font-size: 23px;
                    }
                }
            }
            .tab_info{
                padding: 30px 0px 0px 0px;
                .website_description{
                    min-height: 70px;
                    padding-left: 145px;
                    padding-right: 20px;
                    .name{
                        font-size: 14px;
                    }
                    .title_name{
                        span{
                            font-size: 18px;
                        }
                    }
                }
                .tab_heading_right{
                    width: fit-content;
                    margin-left: 117px;
                    margin-top: -45px;
                    overflow: visible;
                    .info{
                        margin-top: 0;
                        display: block;
                        div{
                            padding: 0 5px;
                            p{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .rating{
                margin-left: 0;
            }
            .product_img_mask{
                width: calc( 100% - 30px);
            }
            .product_description{
                margin-top: 0;
            }
            .quantity_select{
                .default_dropdown{
                    button{
                        width: 205px;
                    }
                    .dropdown-menu{
                        width: 181px;
                    }
                }
            }
        }
        
        /* CART PAGE */
        
        #component-empty-cart{
            &.empty_cart{
                width: 100%;
                background: #fff;
                margin: 0;
            }
        }
        
        #confirm{
            padding-left: 15px;
        }
        
        .cart_left{
            .cart_list{
                padding: 20px 10px 20px 10px;
                border-radius: 0;
                margin-bottom: 0;
                .item_details{
                    width: calc(100% - 120px);
                    .touchspin_mobile{
                        padding: 0;
                        position: relative;
                        left: 10px;
                        top: 7px;
                    }
                }
            }
        }
        #component-sidebar{
            padding-bottom: 90px;
            .checkout_btn{
                margin-bottom: 0;
            }
        }
        #component-accordion-review{
            .checkout_review{
                .total_item_price{
                    float: none;
                    display: block;
                    font-size: 13px;
                }
            }
            .cart_item_details{
                width: calc(100% - 100px);
            }
        }
        #cart_totals{
            .order_total{
                position: fixed;
                bottom: 42px;
                z-index: 99999;
                background: #eaeaea;
                width: 100%;
                margin-left: -10px;
                padding: 20px 10px;
            }
        }
        .checkout_steps{
            padding: 0px;
        }
        #secure_payment_form{
            margin-top: 30px;
            input{
                font-size: 12px;
            }
            select{
                font-size: 12px;
            }
            .country_input{
                .col-xs-6{
                    width: 100%;
                }
            }
            .city_town_input{
                .pull-right{
                    float: left !important;
                    width: 41.66667%;

                }
            }
            .state_input{
                clear: none;
                .checkout_state{
                    padding-right: 10px;
                    width: 58.33333333%;
                }
                select{
                    height: 44px;
                }
            }
            .zip_code{
                padding-left: 0px;
                width: 41.66667%;
            }
        }
        /* MESSAGE POPUP */
        #message_popup{
            width: 100%;
            right: 0%;
            min-width: 90%;
            height: calc(100% - 65px);
            .new_message{
                width: 63%
            }
            .form-control{
                width: 200px;
            }
            .bottom{
                padding-bottom: 10px;
                position: fixed;
                bottom: 0;
            }
        }
        /* SHARE POPUP */
        #share_basket_popup, #share_profile_popup, #share_gift_popup{
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 1030;
            border: none;
            box-shadow: none;
            .top{
                border-radius: 0;
            }
            ul{
                height: calc(100vh - 200px);
            }
        }
        
        /* CHARITY BASKET PAGE */
        #charity_container, #cash_container{
            .basket_tabs{
                margin-top: 60px;
            }
        }
        #charity_container #donate form button{
            padding: 10px 0px;
            width: 100%;
        }
        
        /* JOIN OUR TEAM PAGE */
        #join_our_team_container{
            .splash_container{
                height: 100vh;
                #splash{
                    height: 100vh;
                    top: 0;
                    .splash_join{
                        margin-top: 30%;
                    }
                    .container{
                        padding: 0;
                    }
                    .down_arrow{
                        left: 46%;
                        bottom: 20vh;
                    }
                }
            }
            .position{
                padding: 15px 15px;
            }
        }
        .privacy_policy_text{
            margin-bottom: 10px;
        }
        .terms_quote, .privacy_quote{
            font-size: 16px;
            font-weight: 300;
            margin-left: 0;
            margin-bottom: 0;
            padding-right: 0;
        }
        .policy_container{
            padding-top: 30px;
            .title{
                p{
                    font-size: 18px;
                }
            }
            .text{
                p, li{
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
        /* UNLIMITED GIFTS */
        #splash_image_text_container{
            padding: 0 15px;
            padding-top: 20px;
        }
        .no_more_container{
            ul{
                padding: 10px 0px 45px 55px;
            }
        }
        #feedback_container{
            height: auto;
            h1{
                font-size: 28px;
                margin: 0 auto 20px auto;
            }
        }
        #feedback_container .new_complaint textarea {
            height: 170px;
        }
        #faq_header{
            h1{
                font-size: 35px;
            }
        }
        #faq_container{
            h1{
                font-size: 26px;
                img{
                    width: 30px;
                }
            }
            h2{
                font-size: 18px;
            }
        }
        .faq_search_container{
            ul{
                width: 89%;
            }
        }
        #company_info_container{
            padding: 20px 10px; 
        }
        /* SITE */
        
        #facebook_connect{
            margin: 30px 0 5px;
            padding: 45px 50px 10px;
            border-radius: 0;
            .checkbox-inline{
                position: initial;
                display: block;
                margin-top: 20px;
                line-height: 21px;
            }
        }
        
        #events_container, #charity_container{
            .three_tab_navigation{
                padding: 0;
            }
        }
        .three_tab_navigation{
            #tab_three{
                display: inline-block;
                padding: 0;
            }
            #tab_one{
                padding: 0;
            }
            #tab_two{
                padding: 0 25px;
            }
            #tab_one,#tab_two,#tab_three{
                a{
                    font-size: 16px;
                }
            }
            .pending_number{
                left: -3px;
                width: 150px;
            }
        }
        .private_div #connections_tab .col-md-3{
            width: 100%;
            .connection{
                margin-left: auto;
                margin-right: auto;
                width: 160px;
            }
        }
        #bannerUpload{
            h3{
                font-size: 16px;
                margin-top: 10px;
            }
        }
        
        .introjs-tooltipReferenceLayer{
            width: 0px !important;
            height: 0px !important;
            top: 0px !important;
            left: 50% !important;
            position: absolute;
            .introjs-tooltip:not(.feed){
                min-width: 250px;
                margin-top: 95px !important;
                &.feed_tile{
                    margin-top: 10px !important;
                }
            }
            .feed{
                top: 50vh !important;
            }
        }
        .introjs-fixedTooltip{
            position: fixed;
        }
        .modal-dialog{
            width: 100%;
        }
        .modal-backdrop.in{
            display: none;
        }
        .modal{
            background: #fff;
            left: 100vw;
        }
        .modal.in, .popup.in, .chatbox{
            width: 100%;
            animation-name: modal_slide;
            animation-duration: .4s;
            animation-timing-function: ease-in-out;
            animation-fill-mode:both;
        }

        @keyframes modal_slide {
           0% {
            left: 100vw;
          }

          100% {
            left: 0;
          }
        }
        .hidemodal.in, .hidemessage{
            width: 100%;
            animation-name: hidemodal;
            animation-duration: .4s;
            animation-timing-function: ease-in-out;
            animation-fill-mode:both;
        }

        @keyframes hidemodal {
           0% {
            left: 0;
          }

          100% {
            left: 100vw;
          }
        }
        .product_modal_wrapper{
            z-index: 9999;
        }
        .product_modal{
            .modal-body{
                padding: 0;
            }
            .modal-dialog{
                .tab-content{
                    margin-left: 0;
                }
                .list_basket{
                    button{
                        display: block;
                    }
                }
            }
            .modal_comments_container.safari_mobile{
                padding-bottom: 120px;
            }
        }
        .create_modal{
            .createBasketMask{
                padding: 0;
                .create_basket_image{
                    margin-bottom: 10px;
                    height: 35vh;
                }
                div.basket_privacy{
                    margin-bottom: 25px;
                    .radio{
                        margin-left: 7px;
                    }
                    label{
                        font-size: 11px;
                    }
                    i{
                        font-size: 14px;
                    }
                }
                .basket_name{
                    height: 35px;
                    font-size: 17px;
                }
                &.ios_mobile{
                    .new_basket{
                        padding-bottom: 60px;
                    }
                }
                .invite_section{
                    height: calc(70vh - 155px);
                }
            }
            .new_basket{
                padding-bottom: 30px;
                height: 65vh;
                overflow: scroll;
                position: relative;
                left: -15px;
                width: calc(100% + 30px);
                padding: 0 15px;
                padding-bottom: 40px;
            }
            .basket_description{
                margin-top: 0;
                min-height: initial;
                height: 100px;
            }
        }
        .add_button_modal{
            .product_modal_baskets{
                height: calc(100vh - 200px);
            }
        }
        .destroy_basket_modal_wrapper{
            .modal_wrapper{
                border: none;
            }
        }
        .deactivate_modal{
            .modal-content{
                border: none;
            }
        }
        .leave_modal_wrapper{
            &.in{
                height: 100vh;
            }
            .modal-dialog{
                display: block;
                #leave_modal_tab_one{
                    .image_container{
                        height: calc(100vh - 238px);
                    }
                }
                
            }
        }
        .modal-body{
            .dropzone_wrapper{
                padding: 10px;
            }
        }
        .chatbox{
            width: 100%;
            right: 0 !important;
            z-index: 1050;
            box-shadow: none;
            .chatboxhead{
                border-radius: 0;
            }
            ul{
                height: calc(100vh - 100px);
            }
        }
        
        
        #bannerUpload .modal-dialog .dropzone-clickable, #eventsUpload .modal-dialog .dropzone-clickable, #charity-upload .dropzone-clickable, #event-upload .dropzone-clickable, #lifestyle-upload .dropzone-clickable, #cash-upload .dropzone-clickable{
            margin: 45px auto 0 auto;
        }
        #bannerUpload .modal-dialog .default_banners, #eventsUpload .modal-dialog .default_banners, #charity-upload .default_banners, #event-upload .default_banners, #lifestyle-upload .default_banners, #cash-upload .default_banners{
            height: calc(100vh - 265px);
        }
        #profile-tab-content #deactivate_account img{
            float: none !important;
            margin-left: auto;
            margin-right: auto;
        }
        #discover_body{
            &.discover{
                top: 126px;
            }
            &.discover_search{
                .discover_back{
                    top: -35px;
                }
                .feed_heading h1{
                    margin-top: 70px;
                }
            }
            .sort_nav{
                padding: 10px 20px;
                .search{
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            #discover_feed{
                padding: 0;
                .group_tile, .brand{
                    padding: 0 7px;
                }
                .brand{
                    .brand_bottom{
                        span{
                            float: none;
                            display: block;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .discover_nav{
                padding: 12px 0;
                ul{
                    float: none;
                    overflow: hidden;
                    width: -moz-max-content;
                    width: -webkit-max-content;
                    width: max-content;
                    margin-left: auto;
                    margin-right: auto;
                }
                li{
                    font-size: 13px;
                    margin-right: 10px;
                }
            }
            .discover_heading{
                padding-top: 0px;
                margin-bottom: 15px;
            }
        }
        
        
        .mini_tile{
            width: 65px;
            height: 65px;
            .mini_tile_content{
                padding-bottom: 7px;
                overflow: hidden;
                p{
                    padding-top: 3px;
                }
            }
            .mini_tile_upper{
                width: 65px;
                img{
                    left: -25%;
                    top: -125%;
                }
                .mask{
                    width: 65px;
                    height: 65px;
                }
            }
        }
        .grouped_lists{
            overflow: hidden;
        }
        
        //LANDING PAGE
        .splash_position{
            top: 7%;
            overflow: visible;
            #splash_left{
                h1{
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 300;
                }
            }
            #splash_right{
                .form-container{
                    width: 100%;
                }
            }
        }
        .landing_page{
            #how_it_works{
                h2{
                    padding-top: 20px; 
                    font-size: 28px;
                }
                .how_it_works_buttons{
                    width: 100%;
                    padding: 0;
                    border: none;
                    margin-top: 20px;
                    img{
                        width: 100%;
                    }
                    .mobile_hiw_item{
                        .carousel_button{
                            padding: 15px 0;
                            position: relative;
                            top: -100px;
                            margin-bottom: -80px;

                        }
                        &.make_wishes{
                            .carousel_button{
                                margin-top: -50px;
                            }
                        }
                    }
                }
                #how-it-works-slider{
                    .owl-item{
                        touch-action: none;
                    }
                }
            }
            #landing_wish_lists{
                padding-bottom: 30px;
                .gradient{
                    
                }
                #wish-lists-slider{
                    margin-top: -20px;
                    padding: 0 10px;
                    .owl-dots{
                        top: -45px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        button{
                            background: none;
                            border: none;
                        }
                    }
                    .owl-item.active div{
                        .grouped_lists:last-of-type{
                            .group_tile{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .see_more_registries{
                    margin: 0 auto;
                }
                #register{
                    padding: 0;
                }
            }
            #adding_wishes{
                h2{
                    padding-top: 30px; 
                }
                #adding-wishes-slider{
                    .owl-height{
                        min-height: 350px;
                    }
                }
                .desktop, .mobile{
                    width: 100%;
                    p{
                        width: 100%;
                        padding: 0 15px;
                    }
                }
            }
        }
        .footer{
            .footer_section{
                padding: 0;
                & > div{
                    padding: 0;
                }
                &:first-of-type{
                    margin-bottom: 30px;
                }
            }
        }
        #welcome_to_giftibly{
            top: calc(50% - 25px);
        }
        
        //400 page
        .error{
            padding: 0 30px;
            .sad_image{
                width: 60%;
                margin-left: auto;
                margin-right: auto;
            }
            .btn{
                height: 40px;
                font-size: 15px;
                font-weight: 400;
            }
            ul{
                margin-left: 0;
                a{
                    color: $main-teal;
                }
            }
            .error_links{
                margin-top: 0;
                p{
                    font-size: 21px;
                    margin-bottom: 15px;
                }
            }
        }
        
        
    } //end style_override

    #avatarUpload .modal-dialog, #bannerUpload .modal-dialog, #eventsUpload .modal-dialog, #charity-upload, #event-upload, #lifestyle-upload, #cash-upload{
        .btn-group a{
            padding: 3px 6px;
        }
    }

    #profile-tab-content #deactivate_account button{
        font-size: .84em;
        margin-left: 0px;
    }
}