@media only screen and (max-width : 576px) {
//    ADDING BOOSTRAP CUSTOM COLUMN
    .col-xxs-2{
        width: 50%;
    }
    .col-xxs-4{
        width: 33.3333333333%;
    }
    .col-xxs-6{
        width: 50%;
    }
    .col-xxs-12{
        width: 100%;
    }

    .group_tile .group_tile_inner .group_tile_Details p.numb_basket_items{
        margin-top: 0;
    }
    
}