/* Small Devices, Tablets */

@media (max-width:768px) and (min-width:480px) {
    //bootstrap nav styling
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
    .navbar-header {
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
    
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}


@media only screen and (max-width : 768px) {
    
    #style_override{
        
        .product_modal .modal-dialog{
            .tab-content{
                width: 100%;
            }
        }
        
        .upcoming_events_modal .modal-body, .upcoming_birthdays_modal .modal-body{
                padding: 75px 25px 0px;
	    }

        .form-container, #splash .splash-cta {
            width: 100%
        }

        #splash .splash-cta{
            left: 0%;
            padding-left: 0px;
            text-align: center;
            P{
                width: 90%;
                text-align: center;
                margin: 30px auto;
            }
        }
        #welcome_to_giftibly{
            width: 100%;
        }
        
        .navbar{
            .logo_text{
                display: none;
            }
            .search_container{
                width: calc(100% - 40px);
            }
        }
        
        .navbar-nav{
            li{
                .badge{
                    left: 29px;
                }
            }
            .discover_nav{
                margin-right: 0;
                a{
                    padding: 5px;
                }
            }
        }
        
        .feed_sidebar{
            display: none;
        }
        .loader.total_wishes, .loader.wishes{
            margin-left: -40px;
        }

        .profile_upload_container{
            position: relative;
            top: 74px;
            margin-bottom: 100px;
        }
        .tab_heading_right{
            padding-top: 10px;
        }
        .profile_tab_padding{
            padding: 20px 30px;
        }
        .group_tile_{
            .group_tile_inner{
                .group_tile_prev1{
                    height: 200px;
                }
                .group_tile_prev2,.group_tile_prev3{
                    height: 98px;
                }
            }
        }
        .event_banner_upload{
            margin: auto;
        }
        .addtoBasketMask{
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 10px;
            width: 100%;
        }

        .product_modal{
            .modal-dialog {
                .equal{
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
        
        .destroy_basket_modal{
            .actions{
                a{
                    display: block;
                    &:first-of-type{
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        #share_basket_popup{
            min-width: 60%;
        }

        /* PROFILE  */
        .member_details p{
            font-size: 14px;
        }

        .profile_nav .profile_nav_elem{
            margin-top: 10px;
        }
        .profile_bg{
            .name_city{
                display: none;
            }
        }
        .name_city{
            display: block;
        }
        .tab_heading_right{
            .info{
                display: none;
                
            }
        }
        .website_description{
            margin-top: -15px;
        }

        .profile_bg .row{
            padding-top: 15px;
            background: #fbfbfb;
        }

        .member_details h2{color: #333;}
        .member_details p{color: $primary;}
        
        .private_div{
            .tab-pane #connections_tab{
                .col-md-3{
                    width: 50%;
                }
            }
        }
        .connections_parent{
            padding-right: 0;
        }
        .connections_container{
            width: calc(100% - 75px);
            padding-left: 10px;
            .col-xl-3{
                padding-right: 0;
            }
        }

        /* Basket Page */
        
        #donate{
            padding: 0 30px;
        }
        
        .basket_tabs{
            position: absolute;
        }
        
        .gift_basket_tabs{
            margin-top: 147px;
        }    
        .discussion_right{
            margin-bottom: 30px;
            overflow: hidden;
        }
        
        /* EVENTS BASKET */
        .are_you_in_btn{
            ul{
                left: -1px;
            }
        }
        #events_container, #charity_container{
            .tab_heading_right{
                div{
                    padding: 0 12px;
                }
            }
            #tab_one, #tab_two, #tab_three{
                width: initial;
                padding: 0 10px;
                a{
                    float: none;
                }
            }
            .three_tab_navigation{
                padding: 20px 60px 0px 75px;
                display: table;
                margin-left: auto;
                margin-right: auto;
            }
            .tab-content{
                margin-top: 40px;
            }
        }
        
        .event_details_p{
            margin-left: 0px;
        }
        
        .event_tab_content{
             padding: 0 15px;
            .tab-pane{
                .col-md-3{
                    width: 50%;
                }
            }
        }
        
        .guest_list_text{
            clear: both;
            margin: 0 15px 10px 15px;
        }
        .basket_container{
            .tab_heading_right{
                margin-top: 10px;
            }
            .tab_info{
                margin-bottom: -10px;
                padding: 5px 10px 0px 190px;
            }
            .title{
                display: block;
            }
        }

        /* Notification Page  */
        .notif_page{
            .mini_tile{
                .mask_upper{
                     display: none;
                }
            }
        }
        
        .notif_users_container{
            .connection{
                .connection_info{
                    &.pending{
                        height: 140px;
                    }
                    p{
                        display: none;
                    }
                }
            }
        }
        .notif_page{
            .notif_items{
                width: calc(100% + 50px);
                position: relative;
                left: -60px;

            }
        }
        
        /* PROFILE  */
        
        .tab_info{
            .info{
                float: left;
                margin-left: -130px;
                margin-top: 20px;
            }
        }

        .profile_btns{
            margin-bottom: 10px;
            a{
                span{
                    display: none;
                }
            }
        }
        
        .notif_info_container{
            border-top: none;
        }
        
        /* PRODUCT PAGE */
        .product_page_container{
            .product_item_container{
                & > div:first-of-type{
                    .product_img_container{
                        &:before{
                            width: 100%;
                        }
                    }
                }
                h2{
                    margin-top: 20px;
                }
                h1{
                    margin-bottom: 10px;
                }
                .product_likes{
                    margin-bottom: 0;
                }
                .bottom_image_container{
                    padding: 0;
                }
                .product_buy_for{
                    margin: 20px 0;
                }
            }
        }
        
        .product_page_container{
            .tab_heading_right{
                .info{
                    margin-left: 0px;
                }
            }
            .items_like_this{
                padding: 0;
                .like_this_text{
                    margin-left: 20px;
                }
            }
            .product_buy_for{
               margin: 10px auto 20px auto;
            }
        }
        /* CART PAGE */
        #component-sidebar{
            p{
                font-size: 14px;    
            }
            .order_total{
                font-size: 18px;
            }
        }
        
        #component-accordion-payment .checkout_payment .payment .form-group .col-sm-6{
            width: 100%;
        }
        .panel-body{
            padding-left: 0px;
        }
        .accordion_arrow{
            display: none;
        }
        
        .cart_left{
            padding: 0;
            .cart_list{
                border-radius: 0;
                padding: 10px 10px 0px 10px;
            }
        }
        .checkout_review{
            .cart_item{
                & > div:first-of-type{
                    float: left;
                }
                .cart_item_image{
                    margin-right: 0;
                }
            }
            .col-sm-4{
                text-align: center;
            }
        }
        .cart_right{
            z-index: 2;
            position: inherit;
            
            .cart_right_container{
                position: inherit;
                width: 100%;
            }
            .checkout_btn{
                margin-bottom: 25px;
                padding: 12px 60px;
                font-size: 14px;
                -moz-width: max-content;
                -webkit-width: max-content;
                width: max-content;
            }
        }
        .payment{
            #card_number{
                clear: both;
            }
            #secure_payment_form{
                .checkout_billing_address .checkout_address2{
                    margin-top: 0;
                }
            }
        }
        /* CHARITY BASKET PAGE */
        #charity_container{
            .donate_description{
                padding-left: 0px;
            }
            .donate_amount{
                padding-left: 0px;
            }
        }
        /* CASH BASKET PAGE */
        #cash_container{
            .cash_description{
                padding-left: 0px;
            }
            .cash_img{
                padding-left: 0px;
            }
            .cash_amount{
                padding-left: 0px;
            }
            .cash_img{
                margin-bottom: 15px;
            }
        }
        
        /* JOIN OUR TEAM PAGE */
        #join_our_team_container{
            #splash{
                .splash_join{
                    margin-top: 20%;
                }
            }
            #features{
                h2{
                    width: 72%;
                }
            }
            .position{
                padding: 15px 50px;
                .image_jobtitle{
                    img{
                        float: none;
                        width: 250px;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .jobtitle{
                        float: none;
                        width: 100%;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 25px;
                    }
                }
                .description_skills{
                    .description{
                        padding-left: 0;
                    }
                    .skills{
                        padding-left: 0;
                        a{
                            margin-left: auto;
                            margin-right: auto;
                            display: block;
                            max-width: 400px;
                        }
                    }
                }
            }
        }
        #splash.heading{
            padding: 20px;
            margin-top: -15px;
            h1{
                text-align: center;
            }
            p{
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
        #faq_container{
            padding: 10px 30px 70px 30px;
        }
        #company_info_container{
            .title{
                span{
                    margin-bottom: 0px;
                }
            }
        }
    }
}
