/* Small Devices, Tablets */
@media only screen and (max-width : 992px) {
    .hamburger_menu{
        display: block !important;
        padding-top: 4px;
    }

    #loader{
        margin-left: 0;
    }

    .form-container .errror .col-xs-12 div { text-align: center; img{ margin: auto; }}

    #style_override{
        .group_tile{
            .group_tile_inner{
                .group_tile_Details {
                    div:first-of-type{
                        margin-top: 0;
                    }
                    .group_tile_actions{
                        float: none;
                        display: block;
                        overflow: hidden;
                        margin-bottom: -15px;
                    }
                    h2{
                        margin-top: 10px;
                        overflow: hidden;
                    }
                    p.numb_basket_items{
                        float: none;
                        display: block;
                        overflow: hidden;
                        padding: 4px 0px;
                        text-align: left;
                    }
                }
            }
        }
    }

    .navbar .navbar-brand{
        img, svg{
            width: 30px;
            height: 30px;
            margin-top: -6px;
        }
        .logo_text{
            font-size: 16px;
            position: relative;
            top: -4px;
        }
    }
    
    .logged_out_nav{
        .navbar-right{
            div{
                margin-top: 12px;
                li{
                    float: left;
                    &:first-of-type{
                        #landing_my_account{
                            text-decoration: none;
                        }
                    }
                    &:last-of-type{
                        clear: none;
                        margin-left: 0;
                        #landing_login{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    
    #style_override{
        
        .createBasketMask{
            .collapsed img{
                height: 100%;
            }
            .modal_section .actions{
                input, .btn{
                    font-size: 12px;
                }
            }
        }
    
        .navbar{
            .no_show_md{
                display: none;
            }
            .search_container{
                display: none;
                width: calc(100% - 120px);
                margin-left: 10px;
                &.active{
                    i{
                        cursor: pointer;
                        top: 7px;
                        font-size: 29px;
                        &:before{
                            content: "\f404";
                        }        
                    }
                }
            }
        } 
        .activate_search{
            display: block;
        }

        .settings_container{
            width: 100%;
            .edit_profile_menu{ 
                padding: 0 30px; 
                width: 100%;
                .nav-stacked{
                    li{
                        a{
                            color: $dark-grey !important;
                        }
                    }
                }
            }
        }
        
        #profile-tab-content{
            h2, .get_notified{
                text-align: center;
            }
            #notif, #shipping, #info{
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        #my-events {
            .panel-event{ width: 100%;}
            .new_event{ margin-top: 0px;}
        }
        .private_profile_content{

            .private_text{
                width: 100%;
                padding: 0px 20px;
                margin-top: 15%;
                p{
                    width: 100%;
                }
            }  
        }
        .tab_heading_right{
            .info{
                display: none;
                
            }
        }
        .website_description{
            padding-right: 25px;
        }
        
        .product_bg{
            max-height: 300px;
        }
        .profile_bg, .basket_bg{
            height: 300px;
            min-height: 300px;
            .info{
                display: block;
                div{
                    float: left;
                    padding: 0 8px;
                    p{
                        margin: 0px;
                        font-size: 12px;
                        color: #fff;
                        &:first-of-type{
                            text-align: center;
                        }
                    }
                    .like{
                        color: #fff;
                        font-size: 20px;
                        position: relative;
                        top: 4px;
                        right: 5px;
                    }
                }
            }
        }

        .tab_info{
            padding: 5px 0px 0px 200px;
            margin-bottom: 20px;
        }

        #share_basket_popup{
            min-width: 50%;
        }

        .basket_container{
            #gifts{
                margin-top: 50px;
            }
            .tab_info{
                padding: 15px 0px 0px 190px;
                .website_description{
                    margin-top: 0px;
                }
            }
            .tab_heading_right{
                margin-top: -10px;
            }
            .three_tab_navigation{
                #tab_two{
                    text-align: left;
                }
            }
        }
        
        .event_tab_content{
            .tab-pane{
                .col-md-3{
                    width: 33%;
                }
            }
        }
        .are_you_in_btn{
            margin-top: -80px;
            right: 5px;
        }
        .profile_tab_padding{
            padding: 20px 0;
            .group_tile{
                padding-left: 0;
            }
        }

        .toolbar{
            .tab_center{
                padding: 0px;
                form{
                    padding: 0px;
                }
            }
        }
        
        .private_div{
            .tab-pane #connections_tab{
                .col-md-3{
                    width: 33%;
                }
            }
        }
        .connections_menu{
            padding-left: 0;
        }
        .connections_parent{
            padding: 0 20px;
        }

        .search_bar_icon{
            left: 20px;
        }

        .easy-autocomplete-container ul, .easy-autocomplete-container li, .easy-autocomplete-container .eac-category{border: none !important;}

        /* CART PAGE */
        #confirm{
            padding-left: 25px;
        }
        .checkout_steps{
            padding-left: 0;
        }
        .cart_left{
            padding: 15px 25px 0px 25px;
        }
        
        .cart_right{
            padding: 0;
            .cart_right_container{
                padding: 0 10px;
            }
        }
        #component-sidebar{
            p{
                font-size: 12px;
            }
        }
        .save_and_continue_btn{
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .form-toggle-container{
            margin-bottom: 20px;
        }
        .checkout_payment .payment{
            button{
                position: relative;
                top: 20px;
            }
            padding-bottom: 50px;
        }
        #review_cart_items{
            margin-bottom: 20px;
        }
        
        .checkout_steps{
            margin-top: 0px;
        }
        .payment{
            #card_number{
                width: 100%;
            }
            .country_input, .state_input{
                clear: both;
                margin-bottom: 0px;
            }
            .zip_code{
                padding-right: 0px;
            }
        }
        /* CHARITY and CASH BASKET PAGE */
        #charity_container, #cash_container{
            .basket_tab_content{
                padding: 0 75px;
            }
        } 
        
        /* LANDING PAGE */
        .splash_position{
            top: 19%;
        }
        #splash_left{
            text-align: center;
            h1{
                text-align: center;
                margin-bottom: 45px;
            }
        }
        #splash_right{
            .form-container{
                width: 60%;
            }
        }
        .how_it_works_buttons{
            width: 100%;
            padding: 0 15px;
            .carousel_button{
                padding-bottom: 80px;
            }
        }
        #adding_wishes{
            .devices{
                position: initial;
                width: -moz-max-content;
                width: -webkit-max-content;
                width: max-content;
                margin-left: auto;
                margin-right: auto;
                .monitor, .phone{
                    display: inline-block;
                }
                .monitor{
                    margin-right: 30px;
                }
            }
        }
        
        /* LEGAL PAGE */
        #company_info_container{
            padding: 35px 25px;
            
            .terms_quote{
                padding-right: 30px;
            }
        }
        /* UNLIMITED GIFTS */
        #splash_image_text_container{
            h1{
                text-align: center;
                margin: 40px 0 30px;
                font-size: 45px;
                span{
                    display: inline;
                }
            }
            .right{
                padding-left: 0px;
                img{
                    margin-top: 0px;
                    max-width: 600px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }
            .left{
                ol{
                    max-width: 600px;
                    margin-left: auto;
                    margin-right: auto;
                    overflow: hidden;
                    margin-top: 15px;
                }
            }
            .image_to_text, .text_to_image{
                
                img{
                    max-width: 600px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    float: none;
                }
                div{
                    float: none;
                    max-width: 600px;
                    margin: 30px auto 0 auto;
                    text-align: center;
                }
            }
        }
        .no_more_container{
            .no_more{
                padding: 0 25px;
            }
        }
        .product_page_container{
            .tab_info{
                padding: 20px 0px 0px 40px;
                .website_description{
                    padding-left: 150px;
                }
            }
            .tab_heading_right{
                padding-top: 45px;
                padding-bottom: 0px;
                .info{
                    float: left;
                }
            }
            .product_message{
                .message_container{
                    max-width: 600px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .product_item_container.gift{
            margin-top: 0;
            .message_container{
                height: auto;
                .delete_comment{
                    opacity: 1;
                }
            }
        }
        .basket_bg{
            .basket_tabs{
                margin-top: 147px;
            }
        }
        .three_tab_navigation{
            padding: 0 0 20px;
        }
        .introjs-tooltipReferenceLayer{
            .introjs-helperNumberLayer{
                display: none;
            }
            .introjs-arrow{
                display: none !important;
            }
        }
    }
    .body_wrap_notif{
        padding: 0;
        .notif_info_container{
            border-top: none;
        }
        .col-xs-7{
            padding: 0;
        }
        .notif_section_right{
            .notif_page_right{
                padding: 0;
            }
            .owl-item{
                & > .col-xs-12{
                    padding: 0;
                }
            }
        }
        .notification_container{
            .notif_day, .notif_connections{
                margin-top: 0;
            }
        }
    }
}
