//col-(screen-size)-(number of items in row)
@media handheld, only screen and (min-width: 1400px) {
    .col-1400-6{
        width: 50%;
    }
}
@media handheld, only screen and (min-width: 1800px) {
    .col-1800-5{
        width: 20%;
    }
}

@media handheld, only screen and (min-width: 2100px) {
    .col-2100-6{
        width: 16.6666666667%;
    }
}