<div class="tab_cash">
<!--
    <div class="collapse slide" id="editBasket">
        <%#= form_for @charity, url: charity_update_path, method: :patch, html: { data: { toggle: "validator", } , role: "form" } do |f| %>

            <div class="form-group edit_basket">
            <%#= f.text_field :title, class: "form-control input-lg", placeholder: "Title", data: { error: "basket title missing" }, required: true %>
            </div>
            <div class="form-group edit_basket">
            <%#= f.text_field :link, rows: "5", class: "form-control input-lg", placeholder: "Description", data: { error: "basket description missing" }, required: true %>
            </div>
            <div class="form-group edit_basket">
            <%#= f.text_field :image, rows: "5", class: "form-control input-lg", placeholder: "Date", data: { error: "basket date missing" }, required: true %>
            </div>
            <%#= f.submit "Save Changes", class: "save_basket_edit" %>

        <%# end %>
    </div>
-->
    <div class="contribute_cash">
        <div class="cash_img col-sm-6">
            <img src="/images/bg_basket/cash-banner.jpg" alt="">
        </div>
        <div class="cash_amount col-sm-6">
            <p class="enter_amount">
                Enter donation amount up to $1000.00
            </p>
            <form name="cash_amount">
                <div>
                    <span>Cash Gift Amount: $</span>
                    <input type="text" autocomplete="off" name="cash_number" placeholder="0.00" class="form-control" />
                    <span class="has-error"></span>
                    <p class="cash_process">Processing Fee $3.00 <a href="#">What's this?</a></p>
                </div>
                <div class="field form-group checkbox">
                    <input type="checkbox" name="cash_number" class="form-check-input" />
                    <label>I understand that Giftibly.com is charging me a $3.00 processing fee on all cash gifts. I also understand that I am not paying for goods, services, or transferring money fraudulently.</label>        
                </div>
                <p>
                    Total: <span>$0.00</span>
                </p>
                <button class="btn">Contribute</button>
            </form>
        </div>
    </div>
</div>