<div class="container-fluid tab_full_width">

    <div class="event_details col-xs-10 col-sm-9 col-md-8">
        <div class="details_container">
            <div class="left_details">
                <p><%= @basket.event.occurs_at.strftime("%b")%> <span><%= @basket.event.occurs_at.strftime("%e")%></span></p>
                <p><%= @basket.event.occurs_at.strftime("%a")%></p>
            </div>
            <div class="right_details">
                <h3>
                    <%= @basket.event.occurs_at.strftime("%l:%M%P") %>
                </h3>
                    <% if @basket.event.location.blank? %>
                        <address>
                            Event address hasn't been added
                        </address>
                    <% else %>
                        <a class="address_link" href="" target="_blank">
                            <address>
                                <%= @basket.event.location %>
                            </address>
                        </a>
                    <% end %>

                <span class="host">Hosted by <%= link_to @basket.event.customer.name, user_path(@basket.event.customer.username) %></span>
            </div>
        </div>
    </div>
    <% if !(browser.mobile?) %>
        <div id="map_container">
            <div id="map" style="display:none"></div>
        </div>
    <% end %>
    <div class="guest_list">
        <div class="tab_container">
            <p class="guest_list_text">Guests</p>
            <div class="guest_list_menu">
                <ul class="list-group nav-stacked text-center">

                    <li class="list-group-item active"> 
                        <%= link_to '#going_list', data: { toggle: "tab"} do %>
                            <span class=""><%= @basket.event.confirmed_count %></span>
                            <span class="">Going</span>
                        <% end %>
                    </li>

                    <li class="list-group-item"> 
                        <%= link_to '#interested_list', data: { toggle: "tab"} do %>
                            <span class=""><%= @basket.event.maybe_count %></span>
                            <span class="">Interested</span>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <%= link_to '#invited', data: { toggle: "tab"} do %>
                            <span class=""><%= @basket.event.pending_count %></span>
                            <span class="">Invited</span>
                        <% end %>
                    </li>
                    <% if current_customer == @basket.customer %>
                        <li class="list-group-item">
                            <%= link_to '#not_going_list', data: { toggle: "tab"} do %>
                                <span class=""><%= @basket.event.not_attending_count %></span>
                                <span class="">Not Going</span>
                            <% end %>
                        </li>
                        <% if @invite_more.count > 0 %>
                            <li class="list-group-item">
                                <%= link_to '#invite_more', data: { toggle: "tab"} do %>
                                    <span class=""><%= @invite_more.count %></span>
                                    <span class="">Invite More</span>
                                <% end %>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>

        <div class="guest_list_container"> 
            <div class="tab-content">

                <!-- Going Tab -->
                <div class="tab-pane active" id="going_list">
                    <% if @basket.event.confirmed_attendees.count > 0 %>
                        <% @basket.event.confirmed_attendees.each do |customer| %>
                            <%= render partial: "shared/profile/connections/connections", locals: { connection: customer, friend_flag: true, notifications: false } %>
                        <% end %>
                    <% else %>
                        <p class="event_no_items"> No users to show.</p>
                    <% end %>
                </div>

                <!-- Interested Tab -->
                <div class="tab-pane fade" id="interested_list">
                    <% if @basket.event.maybe_attendees.count > 0 %>
                        <% @basket.event.maybe_attendees.each do |customer| %>
                            <%= render partial: "shared/profile/connections/connections", locals: { connection: customer, friend_flag: true, notifications: false } %>
                        <% end %>
                    <% else %>
                        <p class="event_no_items"> No users to show.</p>
                    <% end %>
                </div>

                <!-- Invited Tab -->
                <div class="tab-pane fade" id="invited">
                    <% if @basket.event.pending_attendees.count > 0 %>
                        <% @basket.event.pending_attendees.each do |customer| %>
                            <%= render partial: "shared/profile/connections/connections", locals: { connection: customer, friend_flag: true, notifications: false } %>
                        <% end %>
                    <% else %>
                        <p class="event_no_items"> No users to show.</p>
                    <% end %>
                    
                </div>

                <% if current_customer.present? && ( @basket.customer == current_customer ) %>
                    <!-- Not Going Tab -->
                    <div class="tab-pane fade" id="not_going_list">
                        <% if @basket.event.not_attendees.count > 0 %>
                            <% @basket.event.not_attendees.each do |customer| %>
                                <%= render partial: "shared/profile/connections/connections", locals: { connection: customer, friend_flag: true, notifications: false } %>
                            <% end %>
                        <% else %>
                            <p class="event_no_items"> No users to show.</p>
                        <% end %>
                    </div>
                    <div class="tab-pane fade" id="invite_more">
                        <% if @invite_more.count > 0 %>
                            <% @invite_more.each do |customer| %>
                                <%= render partial: "shared/profile/connections/connections", locals: { connection: customer, friend_flag: true, notifications: 'event' } %>
                            <% end %>
                        <% else %>
                            <p class="event_no_items"> No users to show.</p>
                        <% end %>
                    </div>
                <% end %>
            </div>    
        </div>
    </div> 
</div>
<% if !(browser.mobile?) %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtIsQUNuY445kItPKIeBKMf_w1BDtVwdI&libraries=places&callback=initialize" async defer></script>
<% else %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBtIsQUNuY445kItPKIeBKMf_w1BDtVwdI&amp;libraries=places"></script>
<% end %>

<script>
    
        function lazy(){
            $('.lazy_banner').Lazy({
                effect: "fadeIn",
                effectTime: 800,
                threshold: 0,
                delay: 0
            });
        }
        lazy();
        <% if @basket.event.location %>
            var address_link =  'https://www.google.com/maps/search/?api=1&query=' + encodeURIComponent($('address').text().trim());
            $('.address_link').attr('href', address_link);
            
        <% end %>
    
    
//        function autoComplete(address){
//
//           var streetNumber = address.street_number;
//           if(streetNumber != undefined){
//               var streetName = address.route.replace(/ /g, '+');
//               var city = address.locality || address.sublocality;
//               var county = address.administrative_area_level_2;
//               var state = address.administrative_area_level_1;
//               var zip = address.postal_code;
//               var geocode_link = 'https://geocoding.geo.census.gov/geocoder/locations/address?street='+ streetNumber + '+' + streetName + '&city=' + city + '&state=' + state + '&zip=' + zip + '&benchmark=Public_AR_Census2010&format=jsonp';
//                $.ajax({
//                    url: geocode_link,
//                    type: 'GET',
//                    dataType: 'jsonp',
//                    async: false,
//                    success: function (data) {
//                        <%# if !(browser.mobile?) %>
////                            handleAJAX(data); //runs handle ajax function
////                            $('#map').fadeIn(800);
//                        <%# end %>
//                    },
//                    error: function(){
//                      console.log("Error");
//                    }
//                });
//            }
//        }
//    
//        function handleAJAX(data) {
//            var coord_y = data.result.addressMatches[0].coordinates.y;
//            var coord_x = data.result.addressMatches[0].coordinates.x;
//            var uluru = {lat: coord_y, lng: coord_x};
//            var map = new google.maps.Map(document.getElementById('map'), {
//              zoom: 13,
//              disableDefaultUI: true,
//              center: uluru
//            });
//            var marker = new google.maps.Marker({
//              position: uluru,
//              map: map
//            });
//        }
    
        valss = $('.address_link address').text().trim();
        function initGoogle() {
           //   GeoComplete call 
           $('#event_location').geocomplete('find', valss).bind('geocode:result', function(event, result){
              var address_components = result.address_components;
              components={};
              jQuery.each(address_components, function(k,v1) {jQuery.each(v1.types, function(k2, v2){components[v2]=v1.short_name});})
//              autoComplete(components); //runs autocomplete function
           });
       }

        function initialize() {
           initGoogle();
        }
        $('#map div div div:nth-child(2)').css('margin-left', '10px');
    

</script>
