<% if @basket.gifts.count == 0 %>
    <div class="no_gifts">
        <% if @basket.customer == current_customer %>
            <p>This wish list has no wishes to show. Head to the <%= link_to 'feed', root_path %> or use our <a rel="nofollow" data-toggle="modal" href="#gift_url">Wish Upload Tool</a> and add some wishes!</p>
        <% else %>
            <p>This basket has no gifts to show.</p>
        <% end %>
    </div>
<% else %>

    <div class="toolbar">
        <div class="col-lg-5 col-md-7 col-xs-8 tab_center">
            <form action="#">
                <div class="form-group">
                    <input type="text" class="form-control input-md" name="search_wishes" placeholder="Search wishes" autocomplete="off" autocapitalize="off" autocorrect="off">
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="products feed">
            <div class="product-sizer col-xs-6 col-sm-4 col-md-3 col-lg-2"></div>
                <div class="product_list">
                    <% @basket.gifts.order(created_at: :desc).limit(25).each do |gift| %>
                        <%= render partial: "shared/tiles/product_tile", locals: {product: gift, tile: 'basket'} %>
                    <% end %>
                </div>
        </div>
    </div>
<% end %>