<div class="comment_container">

    <div class="discussion_right">

        <div class="event_comments <%= @gift.present? ? 'col-xs-12 col-sm-6 col-sm-push-6 col-lg-6 col-lg-push-6' : 'col-xs-12 col-md-8 col-md-push-2' %>">
                <% if current_customer.present? %>
                    <%= render partial: "/comments/comment_container", locals: {product: @basket, item: 'Basket'} %>
                <% else %>
                  <div class="reply_discussion"></div>
                <% end %>

        </div>

    </div>

    <% if @product_discussion.present? %>
        <div class="col-xs-12 col-sm-6 col-lg-6 col-sm-pull-6 col-lg-pull-6 discussion_left discussion_product">
            <div class="product_img_container">
                <%= image_tag @variant.product_image.basket_image, class: "img-responsive product_img" %>
                <div class="product_img_mask"></div>
            </div>
            <div class="bottom_image_container">
              <p class="show_full">Show Full Image</p>
              <h1><%= @variant.name %></h1>
            </div>
        </div>
    <% end %>

</div>

<script>
    //comment auto resize 
    var autosize_input = $('.textarea-autosize');
    autosize(autosize_input).on('keyup', function(e){
      var keycode = (e.keyCode ? e.keyCode : e.which);
      if (keycode == 13 && $(this).val().trim().length > 0 ) {
        $(this).parent('form').submit();
        $(this).val('');
        var evt = document.createEvent('Event');
        evt.initEvent('autosize:update', true, false);
        this.dispatchEvent(evt);
      }
    });
</script>
