<div class="full_page_form">
	<div class="form-container">
		<div class="error">
            <div class="sad_image">
                <%= image_tag '/images/profile/sad-box.jpg', alt: 'deactivating', class: 'img-responsive' %>
            </div>
            <div class="error_links">
                <p>Error: <%= @status[:code] %> <%= @status[:message] %></p>
                <h1><%= @status[:title] %></h1>
                <ul class="list-unstyled">
                    <li><%= link_to "Take Me Back Home", root_path %></li>
                    <li><%= link_to "Help Me Find Someone", search_customers_path %></li>
                    <li><%= link_to "Show Me Sample Registeries", user_path('giftibly') %></li>
                </ul>
            </div>
		</div>
	</div>
</div>