.owl-theme .owl-dots, .owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}
.owl-theme .owl-nav{margin-top:10px}
.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}
.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}
.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}
.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}
.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}
.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#74a49d}

#wishlist-slider .carousel-indicators{
	display: block;
	margin: 10px auto;
	position: relative;
	width: 100%;
	left: 0;
}
#wishlist-slider .carousel-indicators li{
	background:#5d5d5d;
	border: #5d5d5d;
	margin: 0px 10px;
	width: 12px;
	height: 12px;
}
#wishlist-slider .carousel-indicators li.active{
 background:#74a49d;
 border: #74a49d;
}