<li class="cart_item">
  <div class="col-xs-12 col-sm-2">
    <%= image_tag cart_item.variant.product_image.small.url, alt: 'cart_item', class: 'img-responsive cart_item_image' %>
  </div>
  <div class="col-xs-12 col-sm-10 cart_item_details">
    <p class="cart_item_name">
      <strong>Item Title</strong><br>
      <%= cart_item.variant.name %>
    </p>
    <p class="total_item_price">
      <strong>Quoted Price</strong><br>
      <%= number_to_currency(cart_item.subtotal) %>
    </p>
    <p class="total_item_price">
      <strong>Quantity</strong><br> 
      <%= cart_item.quantity %>
    </p>
    <%= link_to "Open Product Page", cart_item.variant.merchant_url, class: 'btn', target: '_blank' %>
  </div>
</li>