<div class="admin_dashboard_container">
  <div class="row">
    <div class='col-xs-12'>
      <%= link_to ion_icon('chevron-left') + " Back to Index", purchasers_shipping_orders_path %>
    </div>
    <div class="col-xs-12 section-header">
      <h2>
        Shipping Order <%= @shipping_order.id %>
      </h2>
    </div>
    <div class="col-xs-3">
      <h4>Metadata</h4>
      <small>
        status: <%= @shipping_order.status %><br>
        customer name: <%= @owner.try(:name) %><br>
        customer email: <%= @owner.email %>
      </small>
    </div>
    <div class="col-xs-3">
      <h4>Shipping Option</h4>
      <small><%= @shipping_order.giftbox.shipping_option %></small>
      <h4>Shipping Address</h4>
      <small><%= @shipping_address.full_address %></small>
    </div>
    <div class="col-xs-6">
      <div class="col-xs-12">
        <h4>Invoice <%= @invoice.id %></h4>
      </div>
      <div class="col-xs-6">
        <small>estimated subtotal:</small><br>
        <%= number_to_currency(@invoice.estimated_subtotal) %><br>

        <small>estimated shipping:</small><br>
        <%= number_to_currency(@invoice.estimated_shipping_fees) %><br>

        <small>estimated taxes:</small><br>
        <%= number_to_currency(@invoice.estimated_taxes) %><br>

        <small>processing:</small><br>
        <%= number_to_currency(@invoice.estimated_service_fee) %><br>

        <small>estimated total:</small><br>
        <%= number_to_currency(@invoice.estimated_total_amount) %><br>

        <small>authorized amount:</small><br>
        <%= number_to_currency(@payment.authorized_amount) %>
      </div>
      <div class="col-xs-6">
        <% if @invoice.completed? %>
          <small>actual subtotal:</small><br>
          <%= number_to_currency(@invoice.subtotal) %><br>

          <small>actual shipping:</small><br>
          <%= number_to_currency(@invoice.shipping_fees) %><br>

          <small>actual taxes:</small><br>
          <%= number_to_currency(@invoice.taxes) %><br>

          <small>actual service fee</small><br>
          <%= number_to_currency(@invoice.service_fee) %></small><br>

          <small>charged amount:</small><br>
          <%= number_to_currency(@payment.charged_amount) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section-header">
      <h4>Step 1: Run Merchant carts
        <small><a class="cart_instructions">Instructions</a></small>
      </h4>
    </div>
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th width="150">ID</th>
            <th width="150">Merchant</th>
            <th width="150">Status</th>
            <th width="150">Items in cart</th>
            <th width="450"></th>
          </tr>
        </thead>
        <tbody>
          <% @merchant_carts.each do |cart| %>
          <tr>
            <td><%= cart.id %></td>
            <td><%= cart.merchant.name %></td>
            <td>
              <% if cart.completed? %>
                <span class="badge badge-success"><%= cart.status %></span>
              <% elsif cart.failed? %>
                <span class="badge badge-alert"><%= cart.status %></span>
              <% else %>
                <%= cart.status %>
              <% end %>
            </td>
            <td><%= cart.cart_items_count %></td>
            <td>
              <%= link_to "Start", start_purchasers_merchant_cart_path(cart), class: 'btn btn-success' if cart.pending? %>        
              <%= link_to "view", purchasers_merchant_cart_path(cart), class: 'btn btn-default' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 section-header">
      <h4>Step 2: Complete the Shipping Order 
        <small><a class="mark_as_complete_instructions">Instructions</a></small>
      </h4>
    </div>
    <div class="col-xs-12">
      <% if !@shipping_order.completed? %>
        <%= link_to "Mark Shipping Order as Complete", mark_as_complete_purchasers_shipping_order_path(@shipping_order), class: 'btn shipping_complete' %>
      <% else %>
        Order complete
      <% end %>
    </div>
  </div>

  <!-- Modal -->
  <div id="cart_instructions_modal" data-backdrop="false" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Run Merchant Cart Instructions</h4>
        </div>
        <div class="padded">
          <ol>
            <li><strong>IMPORTANT:</strong> Make sure your cart on the merchant's site is empty.</li>
            <li>Click "Start"</li>
            <li>Follow the checkout flow process</li>
            <li><strong>IMPORTANT:</strong> Take note the actual subtotal, shipping fees, and taxes while checking out on the merchant site.</li> 
            <li>Click "Complete"</li>
            <li>Enter the actual subtotal, shipping fees and taxes</li>
            <li>Click on "confirm actual amounts" to save and mark the cart's status as "complete"</li>
          </ol>
          <strong>IMPORTANT:</strong> Once you've clicked the "Start" button, the cart will be assigned to you. You must complete the entire process.
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="mark_as_complete_modal" data-backdrop="false" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Complete Shipping Order instructions</h4>
        </div>
        
        <div class="padded">
          <ol>
            <li>
              When all the merchant carts are completed, click on "Mark shipping order as complete" to make a charge on the customer's selected payment method and remove the shipping order from the queue.
            </li>
            <li>
              <strong>
                IMPORTANT: The charged amount cannot exceed the authorized amount. If the sum of the actual amounts on the merchant carts is higher than the preauthorized amount during the customers' checkout phase, the lower amount will be charged. If this happens consistently, we can increase the padding of the authorized amounts during the checkout phase.
              </strong>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</div>

