<div class="<%= browser.mobile? ? 'mobile_full_page_form': 'full_page_form' %>">
	<div class="form-container">
		
		<div class="col-xs-12 col-sm-12 col-md-12 text-center">
			<%= svg('logo') if !browser.mobile? %>
			<h1 class="step-title"><strong>Welcome Back</strong></h1>
		</div>

		<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="field form-group username has-feedback">
				<%= f.text_field :login, autofocus: true, required: true, class: 'form-control input-lg', placeholder: 'Enter Email or Username' %>
				<div class="help-block with-errors"></div>
			</div>

			<div class="field form-group has-feedback">
				<%= f.password_field :password, required: true, class: 'form-control input-lg', placeholder: 'Enter Password' %>
				<div class="help-block with-errors"></div>
			</div>

			<div class="field form-group checkbox checkbox-warning">
				<%= check_box_tag :login_check_password, nil, false, class: 'form-check-input' %>
				<%= f.label 'Check Password' %>
				<%= link_to "Forgot Password", new_customer_password_path %>
			</div>

			<div class="actions">
				<%= f.submit "Login", :class=> 'btn btn-md bottom-5' %>
			</div>
			<% end %>
		</div>
		

		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="text-center">Or sign up through social:</h2>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12">
			<ul class="list-unstyled list-inline text-center">
				<li class="list-inline-item">
					<%= link_to customer_facebook_omniauth_authorize_path, method: :post, id: "sign_in" do %>  
					    <i class="icon icon-facebook-squared btn-social"></i>
					<% end %>
				</li>
				<li class="list-inline-item">
					<%= link_to customer_linkedin_omniauth_authorize_path, method: :post, id: "linkedin_signing" do %>
					    <i class="icon icon-linkedin-squared btn-social"></i>
					<% end %>
				</li>
				<li class="list-inline-item">
					<%= link_to customer_twitter_omniauth_authorize_path, method: :post, id: "twitter_sign_in" do %>
					    <i class="icon icon-twitter-squared btn-social"></i>
					<% end %>
				</li>
				<li class="list-inline-item">
					<%= link_to customer_google_oauth2_omniauth_authorize_path, method: :post, id: "google_sign_in" do %>
					    <i class="icon icon-gplus-squared btn-social"></i>
					<% end %>
				</li>
			</ul> 
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 text-center">
			<span>By continuing you are agreeing to the Giftibly Inc.</span>
			<span><%= link_to "Terms of Service", terms_path %>, <%= link_to 'Community Guidelines', '#' %> &amp; 
			<%= link_to "Privacy Policy", privacy_policy_path %>.</span>
		</div>

	</div><!-- FORM CONTAINER -->

</div>


<script type="text/javascript">
$(document).on('turbolinks:load', function() {
    //form validator
    $('#new_customer').validator();

    //check password
    $("#login_check_password").bind('change', function(){
    	if (this.checked){
    		$('#new_customer #customer_password').attr('type', 'text');
    	}else{
    		$('#new_customer #customer_password').attr('type', 'password');
    	}
    })
})
</script> 
