<h2 class="reports_text">Brand Manager</h2>
<h3 class="reports_text">All Brands (<%= @brands.count %>)</h3>
<div class="ga_reports_container brands">
  <ul>
    <% @brands.each do |brand| %>
      <li><%= active_link_to brand.name, view_admin_brand_manager_path( brand.id ) %></li>
    <% end %>
  </ul>
</div>

<h3 class="reports_text">Brands Without Screenshots</h3>
<div class="ga_reports_container brands">
    <ul>
        <% @brands.each do |brand| %>
            <% if !brand.screenshot? %>
                <li><%= active_link_to brand.name, view_admin_brand_manager_path( brand.id ) %></li>
            <% end %>
        <% end %>
    </ul>
</div>

<h3 class="reports_text">Brands Without Categories</h3>
<div class="ga_reports_container brands">
    <ul>
        <% @brands.each do |brand| %>
            <% if !brand.category_list.present? %>
                <li><%= active_link_to brand.name, view_admin_brand_manager_path( brand.id ) %></li>
            <% end %>
        <% end %>
    </ul>
</div>
