<h2 class="reports_text"><%= @brand.name %></h2>
<div class="ga_reports_container">
  <div><%= active_link_to "<< Back to Brand Manager", home_admin_brand_manager_path %></div>
  <div>
    <%= form_for @brand, url: edit_admin_brand_manager_path, remote: true, html: { multipart: true } do |f| %>
      <div>
        <%= label_tag "Public URL" %><br>
        <%= f.text_field :public_url %>
      </div>
      <div>
        <%= label_tag "Alexa Rank" %><br>
        <%= f.text_field :alexa_rank %>
      </div>
      <div>
        <%= label_tag "Status" %><br>
        <%= f.text_field :status %>
      </div>
      <div>
        <%= label_tag "Commission" %><br>
        <%= f.text_field :commission %>
      </div>
      <div>
        <%= label_tag "PPC Price" %><br>
        <%= f.text_field :ppc_price %>
      </div>
      <div>
        <%= label_tag "CPM Price" %><br>
        <%= f.text_field :cpm_price %>
      </div>
      <div>
        <%= label_tag "Validation Days" %><br>
        <%= f.text_field :validation_days %>
      </div>
      <div>
        <%= label_tag "Icon" %><br>
        <%= image_tag @brand.icon.url if @brand.icon.present? %>
        <%= f.file_field :icon %>
      </div>
      <div class="form-group">
        <%= label_tag "Categories" %><br>
        <% if @brand.category_list.empty? %>
          <span class="label label-default">None</span>
        <% else %>  
          <% @brand.category_list.each do |category| %>
          <span class="label label-default"><%= category %></span>
          <% end %>
        <% end %>  
      </div>
      <div>
        <%= label_tag "GA Approved?" %>
        <%= f.check_box :pending %>
      </div>
      <div>
        <%= label_tag "Screenshot - Crop to 500x400" %>
        <%= image_tag @brand.screenshot.url if @brand.screenshot.present? %>
        <%= f.file_field :screenshot %>
      </div>
      <div>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
