<div class="info">
   <section>
       <div>
           <p><%= @gift.quantity_desired %></p>
           <p>Desired</p>
       </div>
       <% if current_customer != @gift.basket.customer %>
           <div>
               <p><%= @gift.quantity_received %></p>
               <p>Received</p>
           </div>
       <% end %>
       <% if @gift.likes.count > 0 %>
           <div>
               <p><%= @gift.likes.count %></p>
               <p>Likes</p>
           </div>
       <% end %>
       <div>
           <p><%= @gift.share_count %></p>
           <p>Shares</p>
       </div>
    </section>
</div>