<% if current_customer == @basket.customer %>
    <% if @gift.rating == 1 %><!--1 android-star-->
        <div class="rating">
            Must Have Rating:
            <%= ion_icon("android-star", value: 1, class: "active") %>
            <%= ion_icon("android-star", value: 2) %>
            <%= ion_icon("android-star", value: 3) %>
            <%= ion_icon("android-star", value: 4) %>
            <%= ion_icon("android-star", value: 5) %>
        </div>
        <p class="rating_text">This would be cool to have.</p>
    <% elsif @gift.rating == 2 %><!--2 android-star-->
        <div class="rating">
            Must Have Rating:
            <%= ion_icon("android-star", value: 1, class: "active") %>
            <%= ion_icon("android-star", value: 2, class: "active") %>
            <%= ion_icon("android-star", value: 3) %>
            <%= ion_icon("android-star", value: 4) %>
            <%= ion_icon("android-star", value: 5) %>
        </div>
        <p class="rating_text">I'd be happy to have this.</p>
    <% elsif @gift.rating == 3 %><!--3 android-star-->
        <div class="rating">
            Must Have Rating:
            <%= ion_icon("android-star", value: 1, class: "active") %>
            <%= ion_icon("android-star", value: 2, class: "active") %>
            <%= ion_icon("android-star", value: 3, class: "active") %>
            <%= ion_icon("android-star", value: 4) %>
            <%= ion_icon("android-star", value: 5) %>
        </div>
        <p class="rating_text">This is nice!</p>
    <% elsif @gift.rating == 4 %><!--4 android-star-->
        <div class="rating">
            Must Have Rating:
            <%= ion_icon("android-star", value: 1, class: "active") %>
            <%= ion_icon("android-star", value: 2, class: "active") %>
            <%= ion_icon("android-star", value: 3, class: "active") %>
            <%= ion_icon("android-star", value: 4, class: "active") %>
            <%= ion_icon("android-star", value: 5) %>
        </div>
        <p class="rating_text">I'd be REALLY happy if I got this!</p>
    <% elsif @gift.rating == 5 %><!--5 android-star-->
        <div class="rating">
            Must Have Rating:
            <%= ion_icon("android-star", value: 1, class: "active") %>
            <%= ion_icon("android-star", value: 2, class: "active") %>
            <%= ion_icon("android-star", value: 3, class: "active") %>
            <%= ion_icon("android-star", value: 4, class: "active") %>
            <%= ion_icon("android-star", value: 5, class: "active") %>
        </div>
        <p class="rating_text">Omg I NEED this!</p>
    <% else %><!--No Rating-->
        <div class="rating">
            Must Have Rating:
            <%= ion_icon("android-star", value: 1) %>
            <%= ion_icon("android-star", value: 2) %>
            <%= ion_icon("android-star", value: 3) %>
            <%= ion_icon("android-star", value: 4) %>
            <%= ion_icon("android-star", value: 5) %>
        </div>
        <p class="rating_text">No Rating</p>
    <% end %>

<% else %>
    <% if @gift.rating == 1 %><!--1 android-star-->
        <div class="user_rating">
            <span>Must Have Rating:</span>
            <%= ion_icon("android-star", value: 1, class: "active") %>
            <%= ion_icon("android-star", value: 2) %>
            <%= ion_icon("android-star", value: 3) %>
            <%= ion_icon("android-star", value: 4) %>
            <%= ion_icon("android-star", value: 5) %>
        </div>
    <% elsif @gift.rating == 2 %><!--2 android-star-->
        <div class="user_rating">
            <span>Must Have Rating:</span>
            <%= ion_icon("android-star", value: 1, class: "active") %>
            <%= ion_icon("android-star", value: 2, class: "active") %>
            <%= ion_icon("android-star", value: 3) %>
            <%= ion_icon("android-star", value: 4) %>
            <%= ion_icon("android-star", value: 5) %>
        </div>
    <% elsif @gift.rating == 3 %><!--3 android-star-->
        <div class="user_rating">
            <span>Must Have Rating:</span>
            <%= ion_icon("android-star", value: 1, class: "active") %>
            <%= ion_icon("android-star", value: 2, class: "active") %>
            <%= ion_icon("android-star", value: 3, class: "active") %>
            <%= ion_icon("android-star", value: 4) %>
            <%= ion_icon("android-star", value: 5) %>
        </div>
    <% elsif @gift.rating == 4 %><!--4 android-star-->
        <div class="user_rating">
            <span>Must Have Rating:</span>
            <%= ion_icon("android-star", value: 1, class: "active") %>
            <%= ion_icon("android-star", value: 2, class: "active") %>
            <%= ion_icon("android-star", value: 3, class: "active") %>
            <%= ion_icon("android-star", value: 4, class: "active") %>
            <%= ion_icon("android-star", value: 5) %>
        </div>
    <% elsif @gift.rating == 5 %><!--5 android-star-->
        <div class="user_rating">
            <span>Must Have Rating:</span>
            <%= ion_icon("android-star", value: 1, class: "active") %>
            <%= ion_icon("android-star", value: 2, class: "active") %>
            <%= ion_icon("android-star", value: 3, class: "active") %>
            <%= ion_icon("android-star", value: 4, class: "active") %>
            <%= ion_icon("android-star", value: 5, class: "active") %>
        </div>
    <% end %>
<% end %>