<div class="cart_body_container">
  <div class="tab-content">
    <span class="hidden" id="giftbox_id" data-giftbox-id="<%= @giftbox.id %>"></span>

    <!-- Confirm tab-->
    <div class="col-sm-9 col-xs-12" id="confirm">
      <%= render partial: "checkouts/components/confirm_tab" %> 
    </div>

  </div>
  
  <div class="col-sm-3 col-xs-12 cart_right cart_scrolldown" id="component-sidebar">
    <%= render partial: "checkouts/components/sidebar", locals: {giftbox: @giftbox, giftee: @giftee} %>
  </div>
</div>