<div class="cart_body_container">
  <div class="tab-content">
  
    <!-- Confirm tab-->
    <div class="col-xs-12" id="confirm">
      <div id="component-confirm-tab">
        <div class="back_to_cart col-sm-12">
          <%= link_to checkout_path(giftbox_id: @giftbox.id) do %>
            <%= ion_icon("ios-arrow-left", :aria_hidden => 'true') %>
            <span>
              Back to Cart
            </span>
          <% end %>
        </div>
        <div class="checkout_steps enter_email col-sm-6 col-sm-offset-3 text-center" id="accordion" style="padding: 3em; float: none; margin: 0 auto;">
          <%= simple_form_for @guest, html: {style: 'padding: 3em;'}, method: :put do |f| %>
            <h3>Please enter a valid name & email for your receipt</h3>
            <%= f.input :giftbox_id, :as => :hidden, :input_html => { :value => @giftbox.id } %>
            <%= f.input :name, label: false, placeholder: 'John Doe' %>
            <%= f.input :email, label: false, placeholder: 'mail@mail.com' %>
            <%= f.button :submit, "Submit email", class: 'btn' %>
          <% end %>
        </div> 
      </div>
    </div>
    

  </div>

</div>