<%= content_for :ecom do %>
  <script type="text/javascript">
  dataLayer.push({
    'ecommerce': {
      'purchase': {
        'actionField': {
          'id': "<%= @shipping_order.uuid %>",    
          'affiliation': 'Online Store',
          'revenue': "<%= number_to_currency(@giftbox.try(:total_amount_estimate).to_f) %>",
          'tax': "<%= number_to_currency(@giftbox.try(:tax_estimate).to_f) %>",
          'shipping': "<%= number_to_currency(@giftbox.try(:shipping_fee_estimate).to_f) %>",
        },
        'products': <%=raw @dataLayer_arr %>
      }
    }
  });
  </script>
<% end %>
<div class="cart_body_container confirm_container">
    <div id="order_confirmation">
        <div class="left_confirm">
            <%= image_tag '/images/profile/happy-box.png', alt: 'Happy Box' %>
        </div>
        <div class="right_confirm">
            <h1>Thank you.</h1>
            <p class="order_received">Your order has been received.</p>
            <div class="order_summary_content">
              <p class="subtotal">
                Subtotal: <span><%= number_to_currency(@giftbox.try(:subtotal_estimate).to_f) %></span>
              </p>
              <p class="delivery">
                Estimated Shipping*: <span><%= number_to_currency(@giftbox.try(:shipping_fee_estimate).to_f) %></span>
              </p>
              <p class="estimated_tax">
                Estimated Tax*: <span><%= number_to_currency(@giftbox.try(:tax_estimate).to_f) %></span>
              </p>
              <p class="processing_fee">
                Processing: <span><%= number_to_currency(@giftbox.try(:service_fee_estimate).to_f) %></span>
              </p>
              <p class="order_total">
                Total Amount Held on Card: <span><%= number_to_currency(@giftbox.try(:total_amount_estimate).to_f) %></span>
              </p>
            </div>
            <div class="email_confirmation">
                <div class="email_left">
                    <%= image_tag '/images/profile/envelope.png', alt: 'Envelope' %>
                </div>
                <p class="email_right">
                    An email confirmation with details of your purchase,
                    shipping and taxes has been sent to <%= link_to @giftbox.owner.email %>
                    A second email will be sent once the order is on the way!
                </p>
            </div>
            <div class="show_more">
                <% if @current_cart.giftboxes.includes(:giftee).pending.any? %>
                    <%= link_to 'Checkout for ' + @current_cart.giftboxes.includes(:giftee).pending.first.giftee.name, checkout_path(giftbox_id: @current_cart.giftboxes.includes(:giftee).pending.first.id), class: "btn" %>
                <% else %>
                    <%= link_to "Take me back to the feed", root_path, class: "btn" %>
                <% end %>
            </div>
            <p class="shipping_taxes">
                Shipping &amp; Taxes are estimates only, actual charge may be higher or lower. In most cases it is lower and any amounts held on
                credit card will be released back to your account. Please allow up to 48hrs for processing. Please send feedback or questions <%=link_to 'here', feedback_path %>
            </p>
        </div>
    </div>
</div>