<div class="cart_body_container">
  <div class="tab-content">
    
    <span class="hidden" id="giftbox_id" data-giftbox-id="<%= @giftbox.id %>"></span>
    <!-- Cart Tab -->
    <div class="col-sm-9 col-xs-12 cart_left" id="checkout">
      <% if @giftbox.cart_items_count.zero? %>
        <%= render partial: "checkouts/components/empty_cart" %>
      <% else %>
        <div id="component-cart-tab">
          <div class="loading-spinner-container">
              <div id="loading-spinner">
                <h4>Loading Cart... <i class="icon ion-load-c spinner"></i></h4>  
              </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  
  <div class="col-sm-3 col-xs-12 cart_right cart_scrolldown" id="component-sidebar">
    <div id="loading-spinner">
      <i class="icon ion-load-c spinner"></i>
    </div>
  </div>
</div>