<div class="admin_dashboard_container">
  <div class="row">
    <div class='col-xs-12'>
      <%= link_to ion_icon('chevron-left') + " Back to Shipping Order", admin_shipping_order_path(@shipping_order) %>
    </div>
    <div class="col-xs-12 section-header">
      <h2>
        <%= @merchant_cart.merchant.name %><br>
        <small><%= link_to @merchant_cart.merchant.public_url, @merchant_cart.merchant.url, target: "_blank" %></small><br>
        <small>Merchant Cart <%= @merchant_cart.id %></small>
      </h2>
    </div>
    <div class="col-xs-3">
      <h4>Metadata</h4>
      <small>
        status: <%= @merchant_cart.status %><br>
        <% if @merchant_cart.assigned_at %>
          assigned_at: <%= @merchant_cart.assigned_at.to_formatted_s(:long) %><br>
          assigned_to: <%= @merchant_cart.assignable_to_s %><br>
        <% end %>
        <% if @merchant_cart.completed_at %>
          completed_at: <%= @merchant_cart.completed_at.to_formatted_s(:long) %><br>
          completed_by: <%= @merchant_cart.completable_to_s %><br>
        <% end %>
        customer name: <%= @owner.try(:name) %><br>
        customer email: <%= @owner.email %>
      </small>
    </div>
    <div class="col-xs-3">
      <h4>Shipping Option</h4>
      <small><%= @merchant_cart.giftbox.shipping_option %></small>
      <h4>Shipping Address</h4>
      <small><%= @shipping_address.full_address %></small>
    </div>
  </div>

  <% if current_admin && @merchant_cart.assignable == current_admin %>
    <div class="row">
      <div class="col-xs-12 section-header">
        <h4>
          <strong>Step 1: Prepare the merchant site</strong><br>
          <small>Click on the link below and login to the company account</small>
        </h4>
      </div>
      <div class="col-xs-12">
        <h5><strong><%= link_to @merchant_cart.merchant.public_url, @merchant_cart.merchant.url, target: "_blank" %></strong></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 section-header">
        <h4>
          <strong>Step 2: Add items to the cart</strong><br>
        </h4>
      </div>
      <div class="col-xs-12">
        <ul class="cart_item_list list-unstyled">
          <% @merchant_cart.cart_items.each do |item| %>
            <%= render partial: 'admin/shipping_orders/cart_item', locals: {cart_item: item} %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 section-header">
        <h4>
          <strong>Step 3: Complete the Merchant Cart</strong><br>
        </h4>
      </div>
      <div class="col-xs-12">
        <% if !@merchant_cart.completed? %>
          <button type="button" class="btn update-merchant-cart-toggle" data-id="<%= @merchant_cart.id%>"  data-toggle="modal" data-target="#update-merchant-cart-modal">Complete Merchant Cart</button>
        <% else %>
          Cart completed
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12 section-header">
        <h4>
          <strong>Actions</strong><br>
        </h4>
      </div>
      <div class="col-xs-12">
        <% if @merchant_cart.pending? %>
          <%= link_to "Start", start_admin_merchant_cart_path(@merchant_cart), class: 'btn btn-success btn-lg' %>
        <% elsif @merchant_cart.started? %>
          Assigned to <%= @merchant_cart.assignable_to_s %>
        <% elsif @merchant_cart.completed? %>
          Completed by <%= @merchant_cart.completable_to_s %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>

<!-- Modal -->
<div id="update-merchant-cart-modal" data-backdrop="false" class="modal fade" role="dialog">
  <div class="modal-dialog" id="update-merchant-cart-modal-form">
    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update actual amounts</h4>
      </div>
      <%= simple_form_for([:admin, @merchant_cart]) do |f| %>
        <div class="col-xs-12 padded">
          <div class="modal-body">
            <%= f.input :actual_subtotal %>      
            <%= f.input :actual_shipping_fee %>
            <%= f.input :actual_taxes %>
          </div>
          <div class="modal-footer col-xs-12">
            <%= f.button :submit, "Complete Merchant Cart", class: 'btn' %>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
</div>