<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
<h1>New Customer!</h1>
<p>
  <strong>Name:</strong> <%= @customer.name %><br>
  <strong>Email:</strong> <%= @customer.email %><br>
  <strong>Username:</strong> <%= @customer.username %><br>
  <strong>Sign Up Process:</strong>
  <% if @customer.oauth_credentials.empty? %>
    Native
  <% elsif @customer.facebook_connected? %>
    Facebook
  <% elsif @customer.twitter_connected? %>
    Twitter
  <% elsif @customer.google_connected? %>
    Google+
  <% elsif @customer.linkedin_connected? %>
    LinkedIn
  <% end %><br>
  <strong>Creation Time:</strong> <%= @customer.created_at.strftime("%m/%d/%Y - %I:%M%p") %><br>
</p>
</body>
</httml>
