<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>New Feedback!</h1>
  <h2>Error Type: <%= @complaint.error_type %></h2>
  <p>
    <strong>Name:</strong> <%= @complaint.name %><br>
    <strong>Email:</strong> <%= @complaint.email %><br>
  </p>
  <p><%= @complaint.body %></p>
</body>
</html>