<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container" style="background: #fff; font-family: 'Heebo', Helvetica Neue, Helvetica, Arial, sans-serif; max-width: 640px; margin-left: auto; margin-right: auto;">
      <div class="header" style="background: #74a49d; margin: 0; padding: 10px 5px">
        <h1 style="font-size: 40px; margin: 15px 0px; text-align: center; color: #fff; font-size: 26px; font-weight: 500; "><%=@invoice.owner.name %> Your Order Was Received</h1>
      </div>
        
      <div class="wrapper" style="display: block; margin: 25px auto; padding: 0 30px; ">
        <div>
            <%= image_tag '/images/email/logo_pictures.png', alt: 'logo', class:'logo', style: 'width: 100%; border-radius: 10px; float:left; width: 90px; margin-right: 20px;' %>
            <p class="description" style="float:left; width: calc(100% - 110px); padding-top: 17px; font-size: 14px; color: #5d5d5d; margin: 0; font-weight: 300;">Your order has been received and is currently being processed. Your order details are below and a follow-up email will be sent once the order has been processed and your items are on the way.</p>
        </div>

        <p class="order_number" style="padding-top: 35px; margin-bottom: 0; clear:both; font-size: 14px; color: #5d5d5d; font-weight: 300; font-size: 14px; color: #5d5d5d;"><strong>Order Number: #<%= @shipping_order.uuid %></strong></p>
        
        <div class="details" style="display: block; float: none; overflow: auto;">
          <% @giftbox.merchant_carts.each do |merchant_cart| %>
              <h3 style="padding: 10px 0 10px 10px; font-weight: 400; font-size: 24px; color: #5d5d5d; margin-bottom: 0px; margin-top: 20px;"><%= merchant_cart.merchant.name %></h3>
              <div class="merchant_container" style="background: #f7f7f7; padding: 0px 20px; border-radius: 30px; margin-bottom: 40px; overflow:hidden">
                  <% merchant_cart.cart_items.each do |item| %>
                      <div class="item" style="display: block; overflow: hidden; width: 100%; margin: 15px 0;">
                        <div class="col_left col" style="float: left;  width: 100px; min-height: 85px; display: flex; flex-direction: column; justify-content: center;">
                            <div>
                                <%= image_tag(item.variant.product_image.small.url, style: 'width: 100%; border-radius: 10px') %>
                            </div>
                        </div>
                        <div class="col_right col" style="float: left; width: calc(100% - 100px);">
                          <ul style="padding: 0;">
                            <li style="font-size: 14px; color: #5d5d5d; margin-bottom: 8px; list-style-type: none; font-weight: 300; line-height: 15px; margin-left: 15px;">Quantity: <%= item.quantity %></li>
                            <li style="font-size: 14px; color: #5d5d5d; margin-bottom: 8px; list-style-type: none; font-weight: 300; line-height: 15px; margin-left: 15px;"><%=item.variant.name %></li>
                            <li style="font-size: 14px; color: #5d5d5d; margin-bottom: 8px; list-style-type: none; font-weight: 300; line-height: 15px; margin-left: 15px;">Price: <%= number_to_currency(item.current_price.to_f) %></li>
                          </ul>
                        </div>
                      </div>
                  <% end %>
              </div>
          <% end %>
          <div class="info" style="display: block; overflow: hidden; margin: 15px 0; border-top: 1px solid #eee; border-bottom: 1px solid #eee;">
              <ul style="padding-left: 0; color: #5d5d5d; font-size: 14px; font-weight: 300;">
                <li style="list-style-type:none; color: #5d5d5d;">Service Fee: <%= number_to_currency(@giftbox.service_fee_estimate.to_f) %></li>
                <li style="list-style-type:none; color: #5d5d5d;">Subtotal: <%= number_to_currency(@invoice.estimated_subtotal.to_f) %></li>
                <li style="list-style-type:none; color: #5d5d5d;">Estimated Taxes: <%= number_to_currency(@invoice.estimated_taxes.to_f) %> </li>
                <li style="list-style-type:none; color: #5d5d5d;">Estimated Shipping: <%= number_to_currency(@invoice.estimated_shipping_fees.to_f) %> </li>
                <br>
                <li style="list-style-type:none; color: #5d5d5d;">
                    <strong>
                        Amount Being Held on Account: <%= number_to_currency(@giftbox.total_amount_estimate.to_f) %>
                    </strong> 
                </li>
                <li style="list-style-type:none; color: #5d5d5d;">
                    <strong style="color: #5d5d5d;">
                        Payment Method: <%= @invoice.payment_method.metadata[:brand] %> **** **** **** <%= @invoice.payment_method.metadata[:last4] %>
                    </strong>
                </li>
              </ul>
          </div>
        </div>

        <p style="font-size: 14px; color: #5d5d5d; margin: 8px 0px; font-weight: 300;">If you have any questions about your order please contact us <%=link_to 'here', feedback_url %>. <br>
         Do not reply to this message, as it will not be received.</p>
        <p class="thank_you" style="margin: 20px 0; font-size: 14px; color: #5d5d5d; font-weight: 300;">Thank you!</p>
        <p style="font-size: 14px; color: #5d5d5d; margin: 8px 0px; font-weight: 300;">- Giftibly Team</p>
      </div>

      <div class="footer" style="background: #F3F3F3; display: block; overflow: hidden; padding: 20px 0;">
        <div class="wrapper" style="display: block; margin: 35px auto; padding: 0 30px; margin: auto; ">
          <div class="pull-left" style="float: left;">
            <a class="company_name" href="https://www.giftibly.com" style="font-size: 12px; text-decoration: none; color: #5d5d5d; position: relative; top: 7px;">® Giftibly Inc. <%= Time.current.year %></a>
          </div>
          <div class="pull-right social_icons" style="float: right;">
            <a href="https://www.facebook.com/giftibly/" style="text-decoration: none; float:left; color: #5d5d5d;">
                <%= image_tag '/images/email/facebook.png', alt: 'Facebook Button', style: 'width: 25px; margin-left: 10px;' %>
            </a>
            <a href="https://twitter.com/GiftiblyInc" style="text-decoration: none; float:left; color: #5d5d5d;">
                <%= image_tag '/images/email/twitter.png', alt: 'Facebook Button', style: 'width: 25px; margin-left: 10px;' %>
            </a>
            <a href="https://www.linkedin.com/company/giftibly" style="text-decoration: none; float:left; color: #5d5d5d;">
                <%= image_tag '/images/email/linkedin.png', alt: 'Facebook Button', style: 'width: 25px; margin-left: 10px;' %>
            </a>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>