<% @policy_nav = true %>
<div id="company_info_container">
    <p class="privacy_policy_text">
        Community Standards
    </p>
    <p class="privacy_quote">
        "We’re stoked to have you join our community and to make sure everyone has the very best experience, we’ve jotted down a few general rules that we will all need to follow. Thanks again for being a part of the Giftibly community &amp; Welcome!" <span>-Alfred McNair | Founder &amp; CEO</span>
    </p>
    <div class="policy">
        <div class="policy_container" id="dear_member">
            <div class="col-sm-4 title">
                <p>Mutual Respect</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Giftibly is a place where people who care about each other come to show how much they care by sharing, suggesting and buying fantastic gifts for each other. For our platform to work, we have to show respect to each other and to the merchants who make their goods available. To respect the rights of people on and off Giftibly:
                </p>
                <ul>
                    <li>
                        Please don’t infringe anyone's intellectual property, privacy or other rights.
                    </li>
                    <li>
                        Please don’t do anything or post any content that violates laws or regulations. We allow gifts from thousands of sites on the web, but we will flag illegal products and products that represent hatred, violence, and or abuse.
                    </li>
                    <li>
                        Please don’t use Giftibly’s name, logo or trademark in a way that confuses people. We know a gift box is a pretty common image, but to get the most out of our site, we need your help to make sure everyone clearly understands who we are and what we want to provide for you.
                    </li>
                    <li>
                        Please only post and describe gifts that you like. We are not a review site and writing negative descriptions of products actually hurts the community more than it helps.
                    </li>
                    <li>
                        Negative product descriptions &amp; merchant reviews written on gift pages will be removed.
                    </li>
                    <li>
                        We may offer product review services at some point in time, and our members will be directed to the appropriate location to post reviews.
                    </li>
                </ul>
            </div>
        </div>
        <div class="policy_container" id="collecting_data">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true" data-aos-delay="200">
                <p>Security</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Giftibly helps build connections with friends and loved ones. To do this seamlessly we store sensitive data. It may be tempting to access this data, but that only hurts the people trying to connect with each other and build deeper relationships. If you plan to use Giftibly, please keep those people hoping for a better life in mind, and refrain from putting their security at risk. To keep Giftibly secure, we ask that you:
                </p>
                <ul>
                    <li>
                        Please don’t access, use or tamper with our systems or our technical providers’ systems.
                    </li>
                    <li>
                        Please don’t break or circumvent our security measures or test the vulnerability of our systems or networks.
                    </li>
                    <li>
                        Please don’t use any undocumented or unsupported method to access, search, scrape, download or change any part of Giftibly.
                    </li>
                    <li>
                        Please don’t try to reverse engineer our software.
                    </li>
                    <li>
                        Please don’t try to interfere with people on Giftibly or our hosts or networks, like sending a virus, overloading, spamming or mail-bombing.
                    </li>
                    <li>
                        Please don’t collect or store personally identifiable information from Giftibly or people on Giftibly without permission.
                    </li>
                    <li>
                        Please don’t share your password, let anyone access your account or do anything that might put your account at risk.
                    </li>
                    <li>
                        Please don’t sell access to your account, boards, or username, or otherwise transfer account features for compensation.
                    </li>
                </ul>
            </div>
        </div>
        <div class="policy_container" id="personal_info">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <p>Safety</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Our team works hard to keep divisive, disturbing or unsafe content off Giftibly. Some types of content we delete, other stuff we just hide from public areas. 
                </p>
                <ul>
                    <li>
                        We remove porn and porn related products.
                    </li>
                    <li>
                        We remove content that physically or sexually exploits people.
                    </li>
                    <li>
                        We work with law enforcement to address the sexualization of minors, and enjoy helping prosecute offenders of sexual abuses.
                    </li>
                    <li>
                        We remove products that depict gratuitous violence or glorify violence.
                    </li>
                    <li>
                        We remove any products that promote or assist in self-harm, like self-mutilation, eating disorders or drug abuse.
                    </li>
                    <li>
                        We remove hate speech and discrimination, from product descriptions, discussion threads, and profiles. 
                    </li>
                    <li>
                        We also remove the groups and people that advocate hate speech and discrimination.
                    </li>
                    <li>
                        We remove deny products from merchants whose product sales clearly support violence or support violent organizations.
                    </li>
                    <li>
                        We remove attacks on private people or sharing of personally identifiable information. 
                    </li>
                    <li>
                        We remove content used to sell or buy regulated goods, like drugs, alcohol, tobacco, firearms and other hazardous materials.
                    </li>
                    <li>
                        We remove accounts that impersonate any person or organization.
                    </li>
                </ul>
            </div>
        </div>
        <div class="policy_container" id="use_of_cookies">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <p>Charity Baskets</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                   Charity baskets are for registered 501(C)(3) organizations. Baskets for Non-registered charities will be removed and cash values will be forfeit. We provide cash gift baskets for non-charitable groups and individuals looking to raise funds.

                </p>
                <p>
                    Members are allowed to create baskets for their favorite charities and provide links to those charity’s websites. All charity baskets created by non-verified accounts are subject to a 72 hour hold while our team determines the nature of the basket and approves the images and links provided. 
                </p>
            </div>
        </div>
        <div class="policy_container" id="security_personal_info">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <p>Cash Baskets</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    We allow members to create cash baskets to receive money from friends and family. These baskets should not be used as sales vehicles. Any cash baskets suspected to be used as sales vehicles will be deleted and cash values will be forfeit. There is a $1,000.00 limit on any single cash gift, and members receiving an excess of $10,000 in any 30-day period will be reported to the IRS for monitoring.
                </p>
                <p>
                    We thank you again for following the standards of the community. Together we can build a really fun and engaging platform!
                </p>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript">
   $(document).on('turbolinks:load', function() {
       
       
    //refresh page scroll on home page
    if (window.location.pathname == '/') {
       $('[data-spy="scroll"]').scrollspy('refresh');
    }
    // page scroll click
    $('a.page-scroll').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top, 
          }, 900);
          return false;
        }
      }
    });
  });
</script>