<div class="fluid-row">
  <div class="search_page">
    <div class="search_container col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
      <%= form_tag friend_search_path, class: 'form search_customers', method: :get do %>
        <%= text_field_tag :friend_q, params[:friend_q], autofocus: true, class: 'form-control', placeholder: "Type a Friends Name to See Their Profile..." %>
      <% end %>
    </div>
    <div class="img_container">
      <% if !browser.mobile? %>
        <img class="img-responsive lazy" data-src="/images/splash/search_background_desktop.png" alt="Search Background Desktop">
      <% else %>
        <img class="img-responsive lazy" data-src="/images/splash/search_background_mobile.png" alt="Search Background Mobile">
      <% end %>
    </div>
  </div>
</div>