<div id="faq_header">
    <div>
        <h1>Have Questions?</h1>
        <p>We've started a little list of Frequently Asked Questions.</p>
        <p>Hopefully it will help provide some clarity on your topic. If not, please <%= link_to 'contact', feedback_path, target: "_blank" %> us.</p>
        <div class="faq_search_container">
            <input class="form-control input-md" placeholder="Enter your search term here" type="text" id="faq_search">
        </div>
    </div>   
</div>

<div class="container">

    <div id="faq_container">
    <h1><img src="/images/footer_link_pages/faq_search_icon.png" alt="faq search icon">Frequently Asked</h1>
    <div class="question">
        <h2>Why am I seeing “Invalid username or password” ?</h2>
        <p>
            In most cases, something is being spelled wrong or differently, than it was when you registered. Use the 
            “check password” box to see what you’re typing. In some rare cases, you already signed up with a social
            media account like Facebook or Twitter and the email address you are trying to use is registered with that
            social platform. Try signing in with one of them first and see if your profile already exists. 
        </p>
    </div>
    <div class="question">
        <h2>Why Can’t I Install the Gift Assistant?</h2>
        <p>
            Currently, our Gift Assistant only works in the Chrome and Firefox browsers. We are working fast to roll out the gift
            assistant onto Safari as well. We will not support the tool on Internet Explorer. The Gift 
            Assistant is also a browser tool meant for use on your laptop or personal computer. Google does not
            as of yet support extensions on mobile devices. We are also working to release our phone
            application, which will funtion like the gift assistant while browsing your favorite sites on-the-go.
        </p>
    </div>
    <div class="question">
        <h2>How Do I Customize My Feed?</h2>
        <p>
            Your feed is built to help you see what your friends and family most want. In turn, they are seeing what 
            you most want. We try to also include items that you may have chosen as “interested topics” during
            the profile walkthrough in your feed, however searching for items is the BEST way to see things that you 
            would like. We are a user generated platform, meaning, the more friends and family you invite, the greater 
            chance your wishes will be seen and purchased by people who care about you!
        </p>
    </div>
    <div class="question">
        <h2>I Accidentally Made Two Accounts, Can I Merge Them?</h2>
        <p>
            Oh No! We can fix this for you, but you will need to <%= link_to 'contact us', feedback_path, target: "_blank" %> with the issue. It may take up to
            two weeks for your accounts to merge, as we will have to verify that it is you. The easiest way to help
            us verify is by connecting both of your Giftibly accounts to a single Facebook, Twitter, or LinkedIn
            account. You can do this by accessing Top Navigation Bar (<%= ion_icon("android-menu", aria_hidden: true) %>) > Settings > Social Connect
        </p>
    </div>
    <div class="question">
        <h2>Why Won’t My Banner or Profile Image Upload?</h2>
        <p>
            Check the file size for your image. We don’t allow images over 3MB in size. We also only allow JPG,
            JPEG, PNG, and GIF files in the banner and profile. We know this is picky, but we want to make sure
            the people who want to buy you things, can find you easily, and have a good experience shopping 
            for you. That way they will come back and get you things again!
        </p>
    </div>    
    <div class="question">
        <h2>Should I Share My Address?</h2>
        <p>
            If someone needs your address to purchase a gift that we do not yet sell directly on our site, it is up to 
            you to decide if you want to share your address. We highly suggest you do not approve address share
            requests from people that you do not know well. You can also mark your friends as “close friends” if you 
            don’t want to have to share your address with them everytime they want to send you a gift. Buyers
            MUST BE LOGGED IN to request your address. 
        </p>
    </div>
    <div class="question">
        <h2>I Never Got My Gift! What Do I Do?</h2>
        <p>
            If the purchase was made ON Giftibly.com, simply send us a message with your or the buyer’s email
            and the date of the purchase. We will send you an email or notification with your tracking code. If you
            have you order confirmation, that will help us locate your tracking code faster. If the purchase was NOT
            made ON Giftibly.com, we will need your confirmation code to follow up with the vendor on your behalf.
            You or the buyer, should try to speak to the vendor as well. In either case, keeping track of your
            confirmation email will help us locate your gift faster! 
        </p>
    </div>
    <div class="question">
        <h2>Why Can’t I Use My Charity Basket?</h2>
        <p>
            Charity Baskets have to be approved before they can become active. You will
            need to enter your bank account information found on Top Navigation Bar (<%= ion_icon("android-menu", aria_hidden: true) %>) > Settings > Banking
            to start the approval process. This can take up to 2 weeks if you do not use a national bank. All
            Charity Baskets require a URL or website address of an official 501 or 501(c) 3 charity to recieve
            cash or physical gift donations. It can take up to 2 weeks for our team to speak with your favorited
            charity and ensure your donations will be directed to the propper accounts and/or locations. Once your
            Charity Basket has been approved, you will have full functionality, and your friends will
            be able to see it on your profile.
        </p>
    </div>
    <div class="question">
        <h2>Where Did My Event Go?</h2>
        <p>
            Events you host and events you are attending only show up on your “Life Event” page until 24 hours after
            the registered event time. After that, you still have access to the Event Basket on your profile. You can 
            always change the event date to a later date, or put un gifted items in a new or existing lifestyle basket
            so your loved ones still know they are on your wish list.
        </p>
    </div>
</div>
    
</div>

<script type="text/javascript">

$(document).on('turbolinks:load', function() {
    var question_array = ['Why am I seeing “Invalid username or password” ?', "Why Can’t I Install the Gift Assistant?", 'How Do I Customize My Feed?', 'I Accidentally Made Two Accounts, Can I Merge Them?', 'Why Won’t My Banner or Profile Image Upload?', 'Should I Share My Address?', 'I Never Got My Gift! What Do I Do?', 'Why Can’t I Use My Cash or Charity Basket?', 'Where Did My Event Go?' ];
    //Autocomplete Options
    var searchQuestions = {
        data: question_array,
        list: {
          maxNumberOfElements: 5,
          match: {
            enabled: true
        },
          sort: {
            enabled: true
          }   
        }
    };

    // Makes autocomplete
    $("#faq_search").easyAutocomplete(searchQuestions);
    
    // Key up filter
    $("#faq_search").keyup(function(){

        // Retrieve the input field text and reset the count to zero
        var filter = "(?:^|\\s)" + $(this).val(), itemsFound = 0;

        // Loop through each basket
            $(".question h2").each(function(){
                // If the list item does not contain the text phrase fade it out
                if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                    $(this).closest('.question').fadeOut();
                    // Show the list item if the phrase matches and increase the count by 1
                } 
                else {
                    $(this).closest('.question').show();
                    itemsFound++;
                }
            });

    });
});
</script>
