<% if browser.edge? %>
   <style>
       #feedback_container{
           height: auto;
       }
       #style_override #feedback_container .landing_footer{
           position: inherit;
       }
   </style>
<% end %>
   

<div id="feedback_container">
    <div class="feedback_main">

        <h1 class="text-center">Tell Us What You Think...</h1>

        <div class="feedback col-md-6 col-xs-12">
            <%= form_for Complaint.new, url: new_complaint_path do |f| %>
            
                <div class="form-group has-feedback">
                    <%= f.text_field :name, class: "form-control input-md", placeholder: "Name", required: true %>
                   <div class="help-block with-errors"></div>
                </div>
                
                <div class="form-group has-feedback">
                    <%= f.text_field :email, class: "form-control input-md", placeholder: "Email", required: true %>
                    <div class="help-block with-errors"></div>
                </div>

                <%= f.hidden_field :error_type, class: "form-control input-md", required: true, data: {validate: true} %>
         
                <div class="dropdown default_dropdown">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Choose a Topic</span>
                        <span class="icon_arrow"><%= ion_icon("arrow-down-b", :aria_hidden => 'true') %></span>
                    </button>
                    <ul class="dropdown-menu fade">
                        <li>Gift Assistant</li>
                        <li>Login / Sign Up</li>
                        <li>Basket Help</li>
                        <li>Life Event</li>
                        <li>Careers</li>
                        <li>Advertisement</li>
                        <li>Affiliate Help</li>
                        <li>Legal</li>
                        <li>Other</li>                  
                    </ul>
                </div>

                <div class="form-group has-feedback">
                    <%= f.text_area :body, class: "form-control input-md", placeholder: "Leave your message...", required: true %>
                   <div class="help-block with-errors"></div>
                </div>

                <div class="form-group pull-right">
                    <div class="checkbox checkbox-warning">
                        <%= check_box_tag :captcha, nil, false, required: true, class: 'form-check-input' %>
                        <%= f.label 'I am not a robot', for: 'captcha' %>
                        <div class="help-block with-errors"></div>
                    </div>
                    <%= f.submit "Send", class: "btn", id: "submit" %>
                    <p class="feedback_user"></p>
                </div>

            <% end %>
            <p>Thank you for the gift of your feedback. We will do our very best to review and respond to every submission, and we have been using feedback just like yours to improve the Giftibly experience since Day One. We promise to continue that effort.</p>
        </div>

        <div class="col-md-6 col-xs-12 feedback_info">
            <div>
                <p>
                    <%= ion_icon( "ios-location", aria_hidden: true ) %> 
                    <span>Orlando, FL</span>
                </p>
                <p>
                    <%= ion_icon( "ios-email", aria_hidden: true ) %> 
                    <a href="mailto:info@giftibly.com" target="_top">
                        <span>info@giftibly.com</span>
                    </a>
                </p>
                <p> 
                    <%= link_to ion_icon( "social-facebook", aria_hidden: true ), "http://facebook.com/giftibly" %>
                    <%= link_to ion_icon( "social-twitter", aria_hidden: true ), "http://twitter.com/GiftiblyInc" %>
                    <%= link_to ion_icon( "social-linkedin", aria_hidden: true ), "https://www.linkedin.com/company/16253436/" %>
                </p>
            </div>  
        </div>
    </div>
</div>

<script>
    $(document).on('turbolinks:load', function() {
        $('.dropdown-menu li').click(function(){
            var dropdown_text = $(this).text();
            $('.dropdown span:first-of-type').text(dropdown_text);
            $('#complaint_error_type').val(dropdown_text);
            $('#new_complaint').validator('validate');
        })
        $('#new_complaint').validator().on('submit', function (e) {
            if( $('#complaint_error_type').val().length === 0){
                $('button.dropdown-toggle span').css({color: '#a94442'});
                $('button.dropdown-toggle').css({'box-shadow': '0px 1px 3px #a94442'});
            }else{
                $('button.dropdown-toggle span').removeAttr('style')
                $('button.dropdown-toggle').removeAttr('style')
            }
        })        
    });
</script>
