<div id="join_our_team_container">
    <!-- splash page  -->
    <div class="splash_container">
        <div id="splash" title="Join Our Team Splash Hero">
            <div class="splash_join">
                <h1>Careers With Giftibly</h1>
                <p>Soon Giftibly Inc will be looking for talented team members with a passion for growth and learning! Scroll down to see why working with Giftibly will be great!</p>
<!--                    <button class="btn btn-lg cta">Open Positions</button> -->
            </div>
        </div>
    </div>
    <!-- splash page  --> 

    <!-- Features Section -->
    <section id="features" class="features-section">

      <div class="container">  
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>What Makes Working For Giftibly Awesome?</h2>
          </div>
        </div>

        <div class="row text-center">

          <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-once="true">
            <div class="feature-container">

              <%= svg 'join_hands' %>

              <h3>Approachability</h3>
              <p class="text-center">We are a friendly group that loves what we get to work on every day and doesn't take life too seriously. We don't believe that work without fun is rewarding.</p>

            </div>

          </div>

          <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-once="true" data-aos-delay="200">
            <div class="feature-container">

              <%= svg 'join_mind' %>

              <h3>Open Mindedness</h3>
              <p class="text-center">We don't have all of the answers. There's definitely something you know that we don't! We encourage employees to speak up about things they think will help the company.</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-once="true" data-aos-delay="400">
            <div class="feature-container join_tools">
             <%= svg 'join_tools' %>
             <h3>Ingenuity</h3>
             <p class="text-center ingenuity">We celebrate our differences and encourage new ways of looking at every opportunity. Our most valuable teammates are always trying new ideas.</p>
           </div>
         </div>

         <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-once="true" data-aos-delay="200">
          <div class="feature-container teamwork">
            <%= svg 'join_teamwork' %>
            <h3>Team Work</h3>
            <p class="text-center">Nothing we do gets done without working together. Even though each role in our team is unique, we all benefit from bouncing ideas off of each other, providing feedback and learning new skills as we pitch in to help our team reach its goals.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-once="true" data-aos-delay="400">
          <div class="feature-container">
            <%= svg 'join_flexability' %>
            <h3>Flexibility</h3>
            <p class="text-center">You choose your hours at Giftibly Inc. We understand that creativity and productivity occur at different times for different people. We set you free then meet as a team once a week to talk about what we were able to accomplish and brainstorm opportunities we discovered during the week!</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-once="true" data-aos-delay="600">
          <div class="feature-container">

            <%= svg 'join_casual' %>

            <h3>Casual Environment</h3>
            <p class="text-center">We're not big on uniforms. At Giftibly, you can be free to be you during our meetings and work events. Most of us wear jeans and sneakers but suits and heels are fine too. We want you comfortable, happy, and ready to contribute.</p>
          </div>
        </div>
      </div> <!-- Row -->
    </div>
    </section>
<!--
 TODO when position is ready
    <h2>Open Positions at Giftibly:</h2>
    <div class="position">
        <div class="image_jobtitle">
            <img src="/images/footer_link_pages/position_writer.jpg">
            <div class="jobtitle">
                <h2>Content Writer <span>Part-Time</span></h2>
                <p>We are looking for a dynamic, self-motivated individual with experience and skills in content management, writing and editing for the web, and site management.</p>
                <p class="disclaimer">Looking for Orlando-based applicants only at this time.</p>
            </div>
        </div>
        <div class="description_skills">
            <div class="description col-sm-6 col-xs-12">
                <strong>Job Description</strong>
                <p>Understand the connection between content and SEO, know how to research keywords and write for good search results.</p>
                <p>Be creative and have unique content to contribute.</p>
                <p>Able to edit/proofread content before publishing online.</p>
                <p>Monitor trends in social media.</p>
                <p>Have knowledge of current events.</p>
                <p>Have the ability to write engaging online content.</p>
            </div>
            <div class="skills col-sm-6 col-xs-12">
                <strong>Skills</strong>
                <p>Strong verbal and written English communication skills.</p>
                <p>Microsoft Office Tools (Word, Excel, Power Point).</p>
                <p>Must be a bachelor's degree holder (Fresh).</p>
                <a href="#" target="_blank" class="btn upload">Upload Résumé</a>
            </div>
        </div>
    </div>
-->

</div>
<script type="text/javascript">
    // init controller
    var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter", duration: "100%"}});

    // build scenes
    new ScrollMagic.Scene({triggerElement: "#features"})
                    .setTween("#splash", {y: 300, ease: Linear.easeNone})
                    .addTo(controller);
    
    var offsetting = -70;
    
    var nav_change = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave"}});
    var nav_trigger = ".splash_join h1";
    var top_nav = TweenMax.to("#header .navbar", .05, {className: "-=profile_nav"});
    
    
    new ScrollMagic.Scene({triggerElement: nav_trigger, offset: offsetting })
        .setTween(top_nav)
        .on('start', function () {
            $('#navbar_bottom').toggleClass('bottom_nav_low');
        })
        .addTo(nav_change);
</script>
