<div class="landing_splash">
    <div id="hero-slider" class="owl-carousel owl-theme">
        <% if !browser.mobile? %>
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image1.jpg" alt="Carousel Hero 1">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image2.jpg" alt="Carousel Hero 2">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image3.jpg" alt="Carousel Hero 3">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image4.jpg" alt="Carousel Hero 4">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image5.jpg" alt="Carousel Hero 5">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image6.jpg" alt="Carousel Hero 6">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image7.jpg" alt="Carousel Hero 7">
        <% else %>
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image1_mobile.jpg" alt="Carousel Mobile Hero 1">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image2_mobile.jpg" alt="Carousel Mobile Hero 2">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image3_mobile.jpg" alt="Carousel Mobile Hero 3">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image4_mobile.jpg" alt="Carousel Mobile Hero 4">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image5_mobile.jpg" alt="Carousel Mobile Hero 5">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image6_mobile.jpg" alt="Carousel Mobile Hero 6">
            <img class="owl-lazy" data-src= "/images/splash/landing/hero/image7_mobile.jpg" alt="Carousel Mobile Hero 7">
        <% end %>
    </div>
    <div class="splash_center">
        <div class="splash_position">
            <div id="splash_left" class="col-md-8 col-xs-12">
                <h1>
                    Who Says Gift Registries Are<br>
                    Just For Weddings &amp; Babies?<br>
                    Giftibly.com
                </h1>
            </div>
            <div id="splash_right" class="col-md-4 col-xs-12">
                <div class="form-container">

                    <div class="col-xs-12">
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "new_customer_reg" } ) do |f| %>

                      <div class="field form-group has-feedback">
                        <%= text_field_tag :name, nil, required: true, minlength: 4, class: 'form-control input-lg', placeholder: 'Full Name or Name of Business', autocomplete: 'off' %> 
                        <div class="help-block with-errors"></div>
                      </div>

                      <div class="field form-group has-feedback">
                        <%= f.email_field :email, required: true, class: 'form-control input-lg', placeholder: 'Email', autocomplete: 'off' %>
                        <div class="help-block with-errors"></div>
                      </div>

                      <div class="field form-group has-feedback">
                        <%= f.password_field :password, autocomplete: "new-password", required: true, class: 'form-control input-lg', placeholder: 'Create a Password', minimum: 6, id: "customer_password_confirmation" %>
                        <span class="help-block hidden">Password required</span> 
                      </div>

                      <div class="actions">
                        <%= f.submit "Create Account", class: 'btn btn-lg' %>
                      </div> 

                      <% end %>
                    </div>
                    <div id="landing_form_bottom">
                        <div class="col-xs-12">
                          <h2 class="text-center">Or sign up through social:</h2>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12">
                          <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item">
                              <%= link_to customer_facebook_omniauth_authorize_path, method: :post, id: "sign_in" do %> 
                                  <i class="icon icon-facebook-squared btn-social"></i>
                              <% end %>
                            </li>
                            <li class="list-inline-item">
                              <%= link_to customer_linkedin_omniauth_authorize_path, method: :post, id: "linkedin_signing" do %>
                                  <i class="icon icon-linkedin-squared btn-social"></i>
                              <% end %>
                            </li>
                            <li class="list-inline-item">
                              <%= link_to customer_twitter_omniauth_authorize_path, method: :post, id: "twitter_sign_in" do %>
                                  <i class="icon icon-twitter-squared btn-social"></i>
                              <% end %>
                            </li>
                            <li class="list-inline-item">
                              <%= link_to customer_google_oauth2_omniauth_authorize_path, method: :post, id: "google_sign_in" do %>
                                  <i class="icon icon-gplus-squared btn-social"></i>
                              <% end %>
                            </li>
                          </ul> 
                        </div>

                        <div class="col-xs-12 text-center">
                          <span>By continuing you are agreeing to the Giftibly Inc.</span>
                          <span><%= link_to "Terms of Service", terms_path %>, <%= link_to 'Community Guidelines', '#' %> &amp; <%= link_to "Privacy Policy", privacy_policy_path %>.</span>
                        </div>
                    </div>

                </div>
                <% if browser.mobile? %>
                    <div class="how_it_works_mobile">
                        <div class="v_scroll">
                            <span><%=svg('downarrow')%></span>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <% if !browser.mobile? %>
        <div class="how_it_works nav_circle">
            <div>
                <span>How it works</span>
                <div class="v_scroll">
                    <span><%=svg('downarrow')%></span>
                </div>
            </div>
        </div>
    <% end %>
</div>
<div class="landing_page parallax_container">
    
    <div id="how_it_works">
        <h2>How It Works</h2>
        <% if !browser.mobile? %>
            <div class="how_it_works_container">
                <div id="how-it-works-slider" class="owl-carousel owl-theme" data-aos="fade-in" data-aos-once="true">
                    <img class="owl-lazy" data-src= "/images/splash/landing/how_it_works/sign_up.jpg" alt="Sign Up">
                    <img class="owl-lazy" data-src= "/images/splash/landing/how_it_works/make_wishes.jpg" alt="Make Wishes">
                    <img class="owl-lazy" data-src= "/images/splash/landing/how_it_works/bring_friends.jpg" alt="Bring Friends">
                </div>
            </div>
            <div class="how_it_works_buttons">
                <div class="carousel_button sign_up col-xxs-12 col-xs-4 active">
                    <span class="number">
                        -<span>1</span>-
                    </span>
                    <h3>Sign Up</h3>
                    <p>
                        <span>Sign up and create your Profile.</span>
                        <span>You get a custom link to share</span>
                        with family and friends.
                    </p>
                </div>
                <div class="carousel_button make_wishes col-xxs-12 col-xs-4">
                    <span class="number">
                        -<span>2</span>-
                    </span>
                    <h3>Make Wishes</h3>
                    <p>
                        <span>Go to the sites you love to shop,</span>
                        <span>and use our wishing tools to add</span>
                        <span>items to your registry.</span>
                    </p>
                </div>
                <div class="carousel_button bring_friends col-xxs-12 col-xs-4">
                    <span class="number">
                        -<span>3</span>-
                    </span>
                    <h3>Bring Friends</h3>
                    <p>
                        <span>Share Giftibly &amp; your registry</span>
                        <span>with friends &amp; family, so everyone</span>
                        <span>can enjoy geting the Perfect Gift!</span>
                    </p>
                </div>
            </div>
        <% else %>
            <div class="how_it_works_buttons">
                <div class="mobile_hiw_item">
                    <img src= "/images/splash/landing/how_it_works/sign_up_mobile.jpg" data-aos="fade-up" data-aos-duration="500" data-aos-once="true"  alt="Sign Up Mobile">
                    <div class="carousel_button sign_up col-xxs-12 col-xs-4" data-aos="fade-in" data-aos-once="true">
                        <span class="number">
                            -<span>1</span>-
                        </span>
                        <h3>Sign Up</h3>
                        <p>
                            Sign up and create your Profile. <br>
                            You get a custom link to share <br>
                            with family and friends.
                        </p>
                    </div>
                </div>
                <div class="mobile_hiw_item make_wishes">
                    <img src= "/images/splash/landing/how_it_works/make_wishes_mobile.jpg" data-aos="fade-up" data-aos-duration="500" data-aos-once="true" alt="Make Wishes Mobile">
                    <div class="carousel_button make_wishes col-xxs-12 col-xs-4" data-aos="fade-in" data-aos-once="true">
                        <span class="number">
                            -<span>2</span>-
                        </span>
                        <h3>Make Wishes</h3>
                        <p>
                            Go to the sites you love to shop, <br>
                            and use our wishing tools to add <br>
                            items to your registry.
                        </p>
                    </div>
                </div>
                <div class="mobile_hiw_item bring_friends">
                    <img src= "/images/splash/landing/how_it_works/bring_friends_mobile.jpg" data-aos="fade-up" data-aos-duration="500" data-aos-once="true" alt="Bring Friends Mobile">
                    <div class="carousel_button bring_friends col-xxs-12 col-xs-4" data-aos="fade-in" data-aos-once="true">
                        <span class="number">
                            -<span>3</span>-
                        </span>
                        <h3>Bring Friends</h3>
                        <p>
                            Share Giftibly &amp; your registry <br>
                            with friends &amp; family, so everyone <br>
                            can enjoy geting the Perfect Gift!
                        </p>
                    </div>
                </div>
            </div>
        <% end %>
        <% if !browser.mobile? %>
            <div class="great_gift_ideas nav_circle">
                <div>
                    <div>Great Gift Ideas</div>
                    <div class="v_scroll">
                        <%= image_tag('/images/splash/landing/downarrow_white.png', class: 'bounce', alt: 'Down Arrow') %>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="great_gift_ideas_mobile">
                <div>Great Gift Ideas</div>
                <div class="v_scroll">
                    <%= svg('downarrow') %>
                </div>
            </div>
        <% end %>
    </div>  
    <div id="landing_wish_lists">
        <div class="gradient">
            <span data-aos="fade-left" data-aos-once="true">Every Special Occassion Needs A Perfect Gift!</span>
            <p class="take_a_look">
                Take a look at some wish lists we’ve put together.<br>
                Maybe you will find a great gift idea!
            </p>
        </div>
        <% if !browser.mobile? %>
            <div class="wish_lists_list" data-aos="fade-in" data-aos-once="true" data-aos-duration="1000">
                <% @baskets[0..7].try(:each_slice, 2) do |a, b| %>
                    <div class="grouped_lists">
                        <%= render partial: "shared/tiles/basket_tile", locals: {basket: a, basket_type: 'landing'} if a.present? %>
                        <%= render partial: "shared/tiles/basket_tile", locals: {basket: b, basket_type: 'landing'} if b.present? %>
                    </div>
                <% end %>
            </div>
        <% else %>
            <div id="wish-lists-slider" class="owl-carousel owl-theme" data-aos="fade-in" data-aos-once="true" data-aos-duration="1000">
                <div>
                    <% @baskets[0..3].try(:each_slice, 2) do |a, b| %>
                        <div class="grouped_lists">
                            <%= render partial: "shared/tiles/basket_tile", locals: {basket: a, basket_type: 'landing'} if a.present? %>
                            <%= render partial: "shared/tiles/basket_tile", locals: {basket: b, basket_type: 'landing'} if b.present? %>
                        </div>
                    <% end %>
                </div>
                <div>
                <% @baskets[4..7].try(:each_slice, 2) do |a, b| %>
                    <div class="grouped_lists">
                        <%= render partial: "shared/tiles/basket_tile", locals: {basket: a, basket_type: 'landing'} if a.present? %>
                        <%= render partial: "shared/tiles/basket_tile", locals: {basket: b, basket_type: 'landing'} if b.present? %>
                    </div>
                <% end %>
                </div>
            </div>
        <% end %>
        <%= link_to 'See More Registries & Wish Lists', discover_wish_lists_path, class: 'see_more_registries' %>
        <% if !browser.mobile? %>
            <div id="register">
                <h2>Register From Any Online Store</h2>
                <div id="register-slider" class="owl-carousel owl-theme">
                    <img alt="Adidas Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/adidas.jpg" class="lazy" style="width: 143px;">
                    <img alt="LOFT Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/loft.jpg" class="lazy" style="width: 238px;">
                    <img alt="Amazon Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/amazon.jpg" class="lazy" style="width: 209px;">
                    <img alt="Ebay Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/ebay.jpg" class="lazy" style="width: 171px;">
                    <img alt="Etsy Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/etsy.jpg" class="lazy" style="width: 133px;">
                    <img alt="Bed Bath & Beyond Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/bed-bath-and-beyond.jpg" class="lazy" style="width: 209px;">
                    <img alt="Best Buy Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/best-buy.jpg" class="lazy" style="width: 124px;">
                    <img alt="Barnes & Noble Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/barnes-and-noble.jpg" class="lazy" style="width: 143px;">
                    <img alt="Forever 21 Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/forever-21.jpg" class="lazy" style="width: 209px;">
                    <img alt="Apple Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/apple.jpg" class="lazy" style="width: 124px;">
                    <img alt="Ikea Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/ikea.jpg" class="lazy" style="width: 171px;">
                    <img alt="1800 Flowers Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/1800-flowers.jpg" class="lazy" style="width: 190px;">
                    <img alt="Tee Turtle Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/tee-turtle.jpg" class="lazy" style="width: 152px;">
                    <img alt="Z Gallerie Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/zgallerie.jpg" class="lazy" style="width: 228px;">
                    <img alt="Lush Logo" src="/images/lazyload/register_background.jpg" data-src="/images/splash/landing/register/lush.jpg" class="lazy" style="width: 219px;">
                </div>
            </div>
        <% end %>
    </div>
    <div id="adding_wishes">
        <h2>Adding Wishes</h2>
        <div class="video_container">
            <div id="adding-wishes-slider" class="owl-carousel owl-theme" data-aos="fade-in" data-aos-once="true" data-aos-duration="1000">
                <div class="desktop">
                    <div class="desktop_video">
                    <video autoplay muted loop playsinline>
                        <% if !browser.mobile? %>
                            <source class="owl-lazy" src="/videos/desktop.mp4" type="video/mp4">
                        <% else %>
                            <source class="owl-lazy" src="/videos/desktop_mobile.mp4" type="video/mp4">
                        <% end %>
                    </video>
                    </div>
                    <% if !browser.mobile? %>
                    <p>
                        Use our “gift assistant” browser extension to <br>
                        add gifts to your registry while you are window <br>
                        shopping on your favorite online store.
                    </p>
                    <% else %>
                    <p>
                        Use our “gift assistant” chrome extension to add gifts to your registry while you are window shopping on your favorite online store.
                    </p>
                    <% end %>
                </div>
                <div class="mobile">
                    <video autoplay muted loop playsinline>
                        <% if !browser.mobile? %>
                            <source class="owl-lazy" src="/videos/phone.mp4" type="video/mp4">
                        <% else %>
                            <source class="owl-lazy" src="/videos/phone_mobile.mp4" type="video/mp4">
                        <% end %>
                    </video>
                    <% if !browser.mobile? %>
                    <p>
                        Using Giftibly on your phone?<br>
                        Copy the link while you’re shopping online, then <br>
                        paste that link in the Wishing Tool to add gifts on the go.
                    </p>
                    <% else %>
                    <p>
                        Using Giftibly on your phone? Copy the link while you’re shopping online, then paste that link in the Wishing Tool to add gifts on the go.
                    </p>
                    <% end %>
                </div>
            </div>
            <div class="devices" data-aos="fade-left" data-aos-once="true" data-aos-delay="300" data-aos-duration="800">
                <div class="monitor active">
                    <%= ion_icon("monitor") %>
                    <p>Chrome Extension</p>
                </div>
                <div class="phone">
                    <%= ion_icon("iphone") %>
                    <p>Wishing Tool</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      //newly activated tab
      $(e.target).find('i')
      .removeClass('ion-ios-circle-outline')
      .addClass('ion-ios-circle-filled');
      // previous active tab
      $(e.relatedTarget).find('i')
      .removeClass('ion-ios-circle-filled')
      .addClass('ion-ios-circle-outline');
    });
    $('.how_it_works svg, .how_it_works_mobile svg, .great_gift_ideas_mobile svg').addClass('bounce');
    $("#wishlist-slider").swiperight(function() {
      $(this).carousel('prev');
    });
    $("#wishlist-slider").swipeleft(function() {
      $(this).carousel('next');
    });
    if($(window).width() >  480){
        var scroll_offset = 70
    }
    else{
        var scroll_offset = 57
    }
    $('.how_it_works, .how_it_works_mobile').click(function(){
        $('html, body').animate({
            scrollTop: $("#how_it_works").offset().top - scroll_offset
        }, 1000);
    });
    $('.great_gift_ideas, .great_gift_ideas_mobile').click(function(){
        $('html, body').animate({
            scrollTop: $("#landing_wish_lists").offset().top - scroll_offset
        }, 1000);
    });
    if(navigator.userAgent.match('CriOS')){
        function calcVH() { //fixes Chrome iOS splash jerk issue
            $('.landing_splash img').innerHeight( $(this).innerHeight() );
            $('.landing_splash').innerHeight( $(this).innerHeight() );
        }
        (function($) { 
          calcVH();
          $(window).on('orientationchange', function() {
            calcVH();
            $('#hero-slider').trigger('refresh.owl.carousel');
          });
        })(jQuery);
    }
    
    
    $.fn.randomize = function(selector){
        var $elems = selector ? $(this).find(selector) : $(this).children(),
            $parents = $elems.parent();

        $parents.each(function(){
            $(this).children(selector).sort(function(){
                return Math.round(Math.random()) - 0.5;
            }).detach().appendTo(this);
        });

        return this;
    };
    
    var hero = $('#hero-slider');
    hero.owlCarousel({
        items:1,
        lazyLoad:true,
        loop:true,
        dots: false,
        mouseDrag: false,
        touchDrag: false,
        autoplay:true,
        autoplayTimeout:6500,
        animateOut: 'fadeOut',
        animateIn: 'fadeIn',
        onInitialize : function(){
            $(hero).randomize();
        }
    });
    if($(window).width() >  480){
        $('#how-it-works-slider').owlCarousel({
            items:1,
            lazyLoad:true,
            loop:true,
            dots: false,
            animateOut: 'fadeOut'
        });
    }
    else{
        $('#how-it-works-slider').owlCarousel({
            items:1,
            lazyLoad:true,
            loop:true
        });
        $('#how-it-works-slider').on('changed.owl.carousel',function(property){
            var current = property.item.index;
            var src = $(property.target).find(".owl-item").eq(current).find("img");
            if(src.hasClass('sign_up')){
                $('.carousel_button').removeClass('active');
                $('.carousel_button.sign_up').addClass('active');
            }
            else if(src.hasClass('make_wishes')){
                $('.carousel_button').removeClass('active');
                $('.carousel_button.make_wishes').addClass('active');
            }
            else if(src.hasClass('bring_friends')){
                $('.carousel_button').removeClass('active');
                $('.carousel_button.bring_friends').addClass('active');
            }
        });
    }
    if($(window).width() >  480){
        $('.carousel_button.sign_up').mouseover(function(){
            $('#how-it-works-slider').trigger('to.owl.carousel', 3)
        });
        $('.carousel_button.make_wishes').mouseover(function(){
            $('#how-it-works-slider').trigger('to.owl.carousel', 1)
        });
        $('.carousel_button.bring_friends').mouseover(function(){
            $('#how-it-works-slider').trigger('to.owl.carousel', 2)
        });
        $('.carousel_button').mouseover(function(){
            $('.carousel_button').removeClass('active');
            $(this).addClass('active');
        });
    }
    
    var sleepTimeOut = 1500;
    var transitionSpeedTime = 9000;
    var direction = 'next';
    var owlTimer;
    function moveToNextSlide(autoplayTimeout, autoplaySpeed) {

      window.clearTimeout(owlTimer);
      owlTimer = window.setTimeout(function () {

        $('#register-slider').trigger(direction + '.owl.carousel', [autoplayTimeout]);
      }, autoplaySpeed);
    }
    moveToNextSlide(transitionSpeedTime, sleepTimeOut);
    $('#register-slider').owlCarousel({
      loop: true,
      dots: false,
      nav: true,
      margin: 50,
      autoWidth:true,
      smartSpeed:400,
      autoplay:true,
      autoplaySpeed: 9000,
      slideTransition: 'linear',
      autoplayTimeout: 9000,
      autoplayHoverPause:true,
      navText : ["<i class='fa ion-ios-arrow-left'></i>","<i class='fa ion-ios-arrow-right'></i>"],
      responsive:{
        0:{
            nav: false,
            slideBy: 2,
            items:2,
            margin: 40,
        },
        480:{
            items:3     
        },
        1000:{
            items:5
        },
        1400:{
            items:6
        },
        1800:{
            items:7
        }
      },
      onInitialized: function() {
        moveToNextSlide(transitionSpeedTime, sleepTimeOut);
      }
    });
    
    $('#wish-lists-slider').owlCarousel({
        items:1,
        lazyLoad:true,
        loop:true,
        dots: true
    });
    
    
    var owl = $('#adding-wishes-slider');
    if($(window).width() <=  480){
        var autoheight = true;
    }
    else{
        var autoheight = false;
    }
    
    $('#adding-wishes-slider').owlCarousel({
      items: 1,
      lazyLoad:true,
      loop: true,
      dots: false,
      video: true,
      mouseDrag: false,
      touchDrag: false,
      animateOut: 'fadeOut',
      animateIn: 'fadeIn',
      autoHeight:autoheight,
      onInitialized: function() {
        if ($(".owl-item.active video", this.$element).length) {
            $(".owl-item.active video", this.$element)[0].play(); //starts autoplay
            $(".owl-item.active video", this.$element).on('ended', function() {
                $(this)[0].play();
            });
        }
      },
      onTranslated: function() {
        if ($(".owl-item.active video", this.$element).length) {
          if($(window).width() >  480){
              $(".owl-item.active video", this.$element)[0].play(); //starts autoplay
          }
          owl.trigger('stop.owl.autoplay') //stops previous video
          $(".owl-item.active video", this.$element).on('ended', function() {
               $(this)[0].play();
          });
        }
      }
    });
    $('.devices .monitor').click(function(){
        $('#adding-wishes-slider').trigger('to.owl.carousel', 2);
        $('.phone').removeClass('active');
        $(this).addClass('active');
        $(".owl-item.active video", this.$element)[0].play();
    });
    $('.devices .phone').click(function(){
        $('#adding-wishes-slider').trigger('to.owl.carousel', 1);
        $('.monitor').removeClass('active');
        $(this).addClass('active');
        $(".owl-item.active video", this.$element)[0].play();
    });

    $('#hero-slider').on('loaded.owl.lazy', function(event) {
        var totitem = event.item.count + 2;
        var nextitem = event.item.index + 1;
        if (nextitem <= totitem) {
            var imgsrc = $(event.target).find('.owl-item.active').eq(nextitem).find('img').data('src');
            $(event.target).find('.owl-item').eq(nextitem).find('img').attr("src", imgsrc).css("opacity", "1");
        }
    });
    
    if($(window).width() >  480){
        var offsetting = -70;
    }
    else{
        var offsetting = -30;
    }
    
    var nav_change = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave"}});
    if($(window).width() >  480){
        var nav_trigger = ".splash_position";
    }
    else{
        var nav_trigger = "#splash_left h1";
    }
    var top_nav = TweenMax.to("#header .navbar", .05, {className: "-=transparent_nav toggle_transparent"});
    
    
    new ScrollMagic.Scene({triggerElement: nav_trigger, offset: offsetting })
        .setTween(top_nav)
        .on('start', function () {
            $('#navbar_bottom').toggleClass('bottom_nav_low');
        })
        .addTo(nav_change);
    
    if($(window).width() >  480){
        var parallax = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave", duration: "100%"}});
            new ScrollMagic.Scene()
            .setTween(".landing_splash", {y: "300", ease: Linear.easeNone})
            .addTo(parallax);    
            new ScrollMagic.Scene({triggerElement: "#how_it_works"})
            .setTween("#how_it_works", {y: "300", ease: Linear.easeNone})
            .addTo(parallax);
            new ScrollMagic.Scene({triggerElement: "#landing_wish_lists"})
            .setTween("#landing_wish_lists", {y: "300", ease: Linear.easeNone})
            .addTo(parallax);
    }
</script>

<!-- SEO DATA STRUCTURES -->
<% content_for :seo do %>
<!-- RICHCARD -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://www.giftibly.com",
    "name": "Giftibly",
    "logo": "https://<%= request.host %>/images/orange-logo-45008e3514980f4b3186ee081afd17e8ab1524d7cb86f518843559dd1891a353.png",
    "description": "Giftibly Inc. is an internet technology company that operates a social gift registry where users can fill themed wish lists with products from all over the web and share them with friends and family",
    "sameAs": [
    "https://www.facebook.com/giftibly",
    "https://www.instagram.com/giftiblyinc",
    "https://twitter.com/GiftiblyInc"
    ],
    "contactPoint": {
      "@type": "ContactPoint",
      "url": "https://www.giftibly.com",
      "email": "info@giftibly.com",
      "contactType": "Customer service"
    }
  }
</script> 
<!-- SEARCH ON GOOGLE -->
<script rel="nofollow" type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://www.giftibly.com",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.giftibly.com/search?q={q}",
      "query-input": "required name=q"
    }
  }
</script>
<% end %>
