<% @policy_nav = true %>
<div id="company_info_container">
    <p class="privacy_policy_text">
        Privacy Policy
    </p>
    <p class="privacy_quote">
        "Thank you for using our social gift collection. The policy below was set up to help you understand what information we collect, and how we use it. It’s a legal document as well, so some of the concepts are a little technical, but we’ve tried our best to keep the language simple and clear." <span>-Alfred McNair | Founder &amp; CEO</span>
    </p>
    <div class="policy">
        <div class="policy_container" id="dear_member">
            <div class="col-sm-4 title">
                <p>Dear Member,</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Protecting your private information is our priority. This Statement of Privacy applies to the www.Giftibly.com and Giftibly Inc. and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Giftibly Inc. include www.Giftibly.com and Giftibly. The Giftibly website is a social media, social networking, e-commerce, data aggregation, and web advertising site. By using the Giftibly website, you consent to the data practices described in this statement.
                </p>
            </div>
        </div>
        <div class="policy_container" id="collecting_data">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true" data-aos-delay="200">
                <span>1.</span><p> Collecting Data</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Giftibly may collect personally identifiable information, such as your name. If you purchase products and/or services through Giftibly, we collect billing and credit card information. This information is used to complete the purchase transaction. Giftibly may also collect anonymous demographic information, which is not unique to you, such as your age, gender, household income and Shopping profile, Spending habits, Search habits, and Geographic Information. We may gather additional personal or non-personal information in the future.
                </p>
                <p>
                    Information about your computer hardware and software may be automatically collected by Giftibly. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Giftibly website.
                </p>
                <p>
                    Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through Giftibly's public message boards, this information may be collected and used by others.
                </p>
                <p>
                    Giftibly encourages you to review the privacy statements of websites you choose to link to from Giftibly so that you can understand how those websites collect, use and share your information. Giftibly is not responsible for the privacy statements or other content on websites outside of the Giftibly website.
                </p>
            </div>
        </div>
        <div class="policy_container" id="personal_info">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>2.</span><p>Personal Info</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Giftibly collects and uses your personal information to operate its website(s) and deliver the services you have requested.
                </p>
                <p>
                    Giftibly may also use your personally identifiable information to inform you of other products or services available from Giftibly and its affiliates. Giftibly may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
                </p>
                <p>
                    Giftibly may sell, rent, or lease customer information to third parties for the following reasons: For advertisement purposes.
                </p>
                <p>
                    Giftibly may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is transferred to the third party. Giftibly may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Giftibly, and they are required to maintain the confidentiality of your information.
                </p>
                <p>
                    Giftibly may keep track of the websites and pages our users visit within Giftibly, in order to determine what Giftibly services are the most popular. This data is used to deliver customized content and advertising within Giftibly to customers whose behavior indicates that they are interested in a particular subject area.
                </p>
                <p>
                    Giftibly will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Giftibly or the site; (b) protect and defend the rights or property of Giftibly; and, (c) act under exigent circumstances to protect the personal safety of users of Giftibly, or the public.
                </p>
            </div>
        </div>
        <div class="policy_container" id="use_of_cookies">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>3.</span><p>Use of Cookies</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    The Giftibly website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
                </p>
                <p>
                    One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Giftibly pages, or register with Giftibly sites or services, a cookie helps Giftibly to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Giftibly website, the information you previously provided can be retrieved, so you can easily use the Giftibly features that you customized.
                </p>
                <p>
                    You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Giftibly services or websites you visit.
                </p>
            </div>
        </div>
        <div class="policy_container" id="security_personal_info">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>4.</span><p>Security of your Personal Information</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.
                </p>
                <p>
                    Giftibly works with Verisign - an independent, third-party company engaged in the development of digital trust. Verisign provides authentication of Internet services, digital identity and intellectual property. By clicking on the Verisign logo, the Verisign website will serve up a web page that confirms that Giftibly is "Verisign Authenticated."
                </p>
            </div>
        </div>
        <div class="policy_container" id="children_under_thirteen">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>5.</span><p>Children Under Thirteen</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Giftibly does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.
                </p>
            </div>
        </div>
        <div class="policy_container" id="disconnecting_account">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>6.</span><p> Disconnecting your Giftibly Account from Third Party Websites</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    You will be able to connect your Giftibly account to third party accounts. BY CONNECTING YOUR GIFTIBLY ACCOUNT TO YOUR THIRD PARTY ACCOUNT, YOU ACKNOWLEDGE AND AGREE THAT YOU ARE CONSENTING TO THE CONTINUOUS RELEASE OF INFORMATION ABOUT YOU TO OTHERS (IN ACCORDANCE WITH YOUR PRIVACY SETTINGS ON THOSE THIRD PARTY SITES). IF YOU DO NOT WANT INFORMATION ABOUT YOU, INCLUDING PERSONALLY IDENTIFYING INFORMATION, TO BE SHARED IN THIS MANNER, DO NOT USE THE THIS FEATURE. You may disconnect your account from a third party account at any time. Users may learn how to disconnect their accounts from third-party websites by visiting their "Social Connect" page found easily in "User Settings.".
                </p>
            </div>
        </div>
        <div class="policy_container" id="opt-out_unsubscribe">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>7.</span><p>Opt-Out &amp; Unsubscribe</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Giftibly here:
                </p>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript">
   $(document).on('turbolinks:load', function() {
       
       
    //refresh page scroll on home page
    if (window.location.pathname == '/') {
       $('[data-spy="scroll"]').scrollspy('refresh');
    }
    // page scroll click
    $('a.page-scroll').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top, 
          }, 900);
          return false;
        }
      }
    });
  });
</script>