<% @policy_nav = true %>
<div id="company_info_container" class="terms_container">
    <p class="privacy_policy_text">
        Terms &amp; Conditions
    </p>
    <p class="terms_quote">
        “If you’re here then you’re probably interested to know the rules we all have to follow to use Giftibly.com. These ‘Terms’ govern your access to and use of the Giftibly website, products, and services (Platform). Please read these Terms carefully, they can get a little wordy. Look out for the “simply stated” boxes that help explain some of the tough sections a bit better, and please <span>let us know</span> if you have any questions. Thanks!” <span>-Alfred McNair | Founder &amp; CEO</span>
    </p>
    <div class="policy">
        <div class="policy_container" id="dear_visitor">
            <div class="col-sm-4 title">
                <p>Dear Visitor,</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Our site is made up of various web pages operated by Giftibly Inc. Giftibly.com is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the "Terms"). By accessing or using our platform, you agree to be bound by these Terms and by our <%= link_to 'Privacy Policy', privacy_policy_path %>. You also confirm you have read and agreed to our  <%= link_to 'Community Guidelines', community_path %>.
                </p>
            </div>
        </div>
        <div class="policy_container" id="privacy">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true" data-aos-delay="200">
                <span>1.</span><p>Privacy</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Your use of Giftibly.com is subject to Giftibly's <%= link_to 'Privacy Policy', privacy_policy_path %>. Please review our Privacy Policy, which also governs the Site and informs users of our data collection practices. 

                </p>
            </div>
        </div>
        <div class="policy_container" id="electronic_communication">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>2.</span><p>Electronic Communication</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Visiting Giftibly.com or sending emails to Giftibly constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communications be in writing. 
                </p>
            </div>
        </div>
        <div class="policy_container" id="your_account">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>3.</span><p>Your Account</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. You may not assign or otherwise transfer your account to any other person or entity. You acknowledge that Giftibly is not responsible for third party access to your account that results from theft or misappropriation of your account. Giftibly and its associates reserve the right to refuse or cancel service, terminate accounts, or remove or edit content in our sole discretion. 
                </p>
                <p class="simply_stated">
                    Simply Stated...
                </p>
                <div class="simply_stated_text">
                    <p>
                       Logging in with another social site’s credentials or giving some other site access to your data can result in some of your information being used in ways you don’t like. Please be careful and be sure to create a username and password for your account… just in case. 
                    </p>
                </div>
            </div>
        </div>
        <div class="policy_container" id="who_can_use">
            <div class="col-sm-4 title subtitle" data-aos="fade-in" data-aos-once="true">
                <span>3a.</span><p>Who Can Use Giftibly</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    You may use our Platform only if you can form a binding contract with Giftibly, and only in compliance with these Terms and all applicable laws. When you create your Giftibly account, you must provide us with accurate and complete information. Any use or access by anyone under the age of 13 is prohibited without parent supervision. If you open an account on behalf of a company, organization, or other entity, then (a) "you" includes you and that entity, and (b) you represent and warrant that you are authorized to grant all permissions and licenses provided in these Terms and bind the entity to these Terms, and that you agree to these Terms on the entity's behalf. Some of our Products may be software that is downloaded to your computer, phone, tablet, or other device. You agree that we may automatically upgrade those Products, and these Terms will apply to such upgrades.
                </p>
                <p class="simply_stated">
                    Simply Stated...
                </p>
                <div class="simply_stated_text">
                    <p>
                       You can use Giftibly if you're over 13. If not, your parent or guardian must be physically monitoring what you are posting, viewing and commenting on. Also, if your boss is making you use Pinterest, you need to set up a business account. 
                    </p>
                </div>
            </div>
        </div>
        <div class="policy_container" id="cancellation_refund">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>4.</span><p>Cancellation / Refund Policy</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    You may cancel your app subscription at any time through your app market or through "user settings" if you have not logged in via mobile application. All orders placed on your behalf are fulfilled by a destination retailer. For all product inquiries and returns, please contact the merchant indicated to you upon purchase of your product. Giftibly does store limited purchase order history and may be available to help you locate a previous order, but we highly advise you keep track of the order confirmation and email that will direct you to the fulfilling merchant in the case of an order dispute.
                </p>
                <p class="simply_stated">
                    Simply Stated...
                </p>
                <div class="simply_stated_text">
                    <p>
                       Please keep your purchase confirmations because the company that sold the product through our site will need it for returns.
                    </p>
                </div>
            </div>
        </div>
        <div class="policy_container" id="linked_sites">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>5.</span><p>Linked Sites</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Giftibly.com may contain links to other websites ("Linked Sites"). The Linked Sites are not under the control of Giftibly and Giftibly is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Giftibly is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Giftibly of the site or any association with its operators. 
                </p>
                <p>
                    Certain services made available via Giftibly.com are delivered by third party sites and organizations. By using any product, service or functionality originating from the Giftibly.com domain, you hereby acknowledge and consent that Giftibly may share such information and data with any third party with whom Giftibly has a contractual relationship to provide the requested product, service or functionality on behalf of Giftibly.com users and customers.  
                </p>
            </div>
        </div>
        <div class="policy_container" id="intellectual_property">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>6.</span><p>Intellectual Property</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    You are granted a non-exclusive, non-transferable, revocable license to access and use Giftibly.com strictly in accordance with these terms of use. As a condition of your use of the Site, you warrant to Giftibly that you will not use the Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site. 
                </p>
                <p>
                    All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Site, is the property of Giftibly or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto.
                </p>
                <p>
                    You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Site. Giftibly content is not for resale. Your use of the Site does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content solely for your personal use, and will make no other use of the content without the express written permission of Giftibly and the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not grant you any licenses, express or implied, to the intellectual property of Giftibly or our licensors except as expressly authorized by these Terms. 
                </p>
                <p class="simply_stated">
                    Simply Stated...
                </p>
                <div class="simply_stated_text">
                    <p>
                       Hacking our site is not cool. It’s here to bring people closer and make gift buying fun, easy and more rewarding for everyone involved. Annnnd, we know this is a pretty cool idea. If you love it too and want to help people connect just like we do, don’t steal our code…<%= link_to 'join our team', join_our_team_path %>.
                    </p>
                </div>
            </div>
        </div>
        <div class="policy_container" id="communication_services">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>7.</span><p>Communication Services</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    The Site may contain bulletin board services, chat areas, news groups, forums, communities, personal web pages, calendars, and/or other message or communication facilities designed to enable you to communicate with the public at large or with a group (collectively, "Communication Services"), you agree to use the Communication Services only to post, send and receive messages and material that are proper and related to the particular Communication Service.
                </p>
                <p>
                    By way of example, and not as a limitation, you agree that when using a Communication Service, you will not: defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others; publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information; upload files that contain software or other material protected by intellectual property laws (or by rights of privacy of publicity) unless you own or control the rights thereto or have received all necessary consents; upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another's computer; advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Service specifically allows such messages; conduct or forward surveys, contests, pyramid schemes or chain letters; download any file posted by another user of a Communication Service that you know, or reasonably should know, cannot be legally distributed in such manner; falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded, restrict or inhibit any other user from using and enjoying the Communication Services; violate any code of conduct or other guidelines which may be applicable for any particular Communication Service; harvest or otherwise collect information about others, including e-mail addresses, without their consent; violate any applicable laws or regulations. 
                </p>
                <p>
                    Giftibly has no obligation to monitor the Communication Services. However, Giftibly reserves the right to review materials posted to a Communication Service and to remove any materials in its sole discretion. Giftibly reserves the right to terminate your access to any or all of the Communication Services at any time without notice for any reason whatsoever. 
                </p>
                <p>
                    Giftibly reserves the right at all times to disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in Giftibly's sole discretion. 
                </p>
                <p>
                    Always use caution when giving out any personally identifying information about yourself or your children in any Communication Service. Giftibly does not control or endorse the content, messages or information found in any Communication Service and, therefore, Giftibly specifically disclaims any liability with regard to the Communication Services and any actions resulting from your participation in any Communication Service. Managers and hosts are not authorized Giftibly spokespersons, and their views do not necessarily reflect those of Giftibly.
                </p>
                <p>
                    Materials uploaded to a Communication Service may be subject to posted limitations on usage, reproduction and/or dissemination. You are responsible for adhering to such limitations if you upload the materials.
                </p>
                <p class="simply_stated">
                    Simply Stated...
                </p>
                <div class="simply_stated_text">
                    <p>
                       Be nice to each other. We know people post bad stuff on user content generated sites. We hope the nature of our platform does not encourage this but please, tell us about it if you see it.
                    </p>
                </div>
            </div>
        </div>
        <div class="policy_container" id="posted_material">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>8.</span><p>Posted Material</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Giftibly does not claim ownership of the materials you provide to Giftibly.com (including feedback and suggestions) or post, upload, input or submit to any Giftibly Site or our associated services (collectively "Submissions"). However, by posting, uploading, inputting, providing or submitting your Submission you are granting Giftibly, our affiliated companies and necessary sublicenses permission to use your Submission in connection with the operation of their Internet businesses including, without limitation, the rights to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate and reformat your Submission; and to publish your name in connection with your Submission. 
                </p>
                <p>
                    No compensation will be paid with respect to the use of your Submission, as provided herein. Giftibly is under no obligation to post or use any Submission you may provide and may remove any Submission at any time in Giftibly's sole discretion.  
                </p>
                <p>
                    By posting, uploading, inputting, providing or submitting your Submission you warrant and represent that you own or otherwise control all of the rights to your Submission as described in this section including, without limitation, all the rights necessary for you to provide, post, upload, input or submit the Submissions. 
                </p>
                <p class="simply_stated">
                    Simply Stated...
                </p>
                <div class="simply_stated_text">
                    <p>
                       If you send us or upload something, you’re giving us permission to use it for free.
                    </p>
                </div>
            </div>
        </div>
        <div class="policy_container" id="third_party">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>9.</span><p>Third Party Accounts</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    You will be able to connect your Giftibly account to third party accounts. By connecting your Giftibly account to your third party account, you acknowledge and agree that you are consenting to the continuous release of information about you to others (in accordance with your privacy settings on those third party sites). If you do not want information about you to be shared in this manner, do not use this feature.  
                </p>
            </div>
        </div>
        <div class="policy_container" id="international_users">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>10.</span><p>International Users</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    The Service is controlled, operated and administered by Giftibly from our offices within the USA. If you access the Service from a location outside the USA, you are responsible for compliance with all local laws. You agree that you will not use the Giftibly Content accessed through Giftibly.com in any country or in any manner prohibited by any applicable laws, restrictions or regulations.  
                </p>
            </div>
        </div>
        <div class="policy_container" id="indemnification">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>11.</span><p>Indemnification</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    You agree to indemnify, defend and hold harmless Giftibly, its officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorney's fees) relating to or arising out of your use of or inability to use the Site or services, any user postings made by you, your violation of any terms of this Agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. Giftibly reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with Giftibly in asserting any available defenses. 
                </p>
            </div>
        </div>
        <div class="policy_container" id="arbitration">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>12.</span><p>Arbitration</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    In the event the parties are not able to resolve any dispute between them arising out of or concerning these Terms and Conditions, or any provisions hereof, whether in contract, tort, or otherwise at law or in equity for damages or any other relief, then such dispute shall be resolved only by final and binding arbitration pursuant to the Federal Arbitration Act, conducted by a single neutral arbitrator and administered by the American Arbitration Association, or a similar arbitration service selected by the parties, in a Florida court of law. The arbitrators award shall be final, and judgment may be entered upon it in any court having jurisdiction. In the event that any legal or equitable action, proceeding or arbitration arises out of or concerns these Terms and Conditions, the prevailing party shall be entitled to recover its costs and reasonable attorney's fees. The parties agree to arbitrate all disputes and claims in regards to these Terms and Conditions or any disputes arising as a result of these Terms and Conditions, whether directly or indirectly, including Tort claims that are a result of these Terms and Conditions. The parties agree that the Federal Arbitration Act governs the interpretation and enforcement of this provision. The entire dispute, including the scope and enforceability of this arbitration provision shall be determined by the Arbitrator. This arbitration provision shall survive the termination of these Terms and Conditions.  
                </p>
                <p class="simply_stated">
                    Simply Stated...
                </p>
                <div class="simply_stated_text">
                    <p>
                        If you want to sue us, you have to do it in Florida.
                    </p>
                </div>
            </div>
        </div>
        <div class="policy_container" id="class_action">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>13.</span><p>Class Action Waiver</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Any arbitration under these Terms and Conditions will take place on an individual basis; class arbitrations and class/representative/collective actions are not permitted. THE PARTIES AGREE THAT A PARTY MAY BRING CLAIMS AGAINST THE OTHER ONLY IN EACH'S INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PUTATIVE CLASS, COLLECTIVE AND/ OR REPRESENTATIVE PROCEEDING, SUCH AS IN THE FORM OF A PRIVATE ATTORNEY GENERAL ACTION AGAINST THE OTHER. Further, unless both you and Employer agree otherwise, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of a representative or class proceeding.  
                </p>
            </div>
        </div>
        <div class="policy_container" id="liability">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>14.</span><p>Liability Disclaimer</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. GIFTIBLY INC. AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SITE AT ANY TIME.  
                </p>
                <p>
                    GIFTIBLY INC. AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. GIFTIBLY INC. AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.  
                </p>
                <p>
                    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL GIFTIBLY INC. AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE DELAY OR INABILITY TO USE THE SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF GIFTIBLY INC. OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.  
                </p>
                <p class="simply_stated">
                    Simply Stated...
                </p>
                <div class="simply_stated_text">
                    <p>
                        We are building the best service we can for you but we can't promise it will be perfect. We're not liable for various things. If you think we are, let's try to work it out like adults.
                    </p>
                </div>
            </div>
        </div>
        <div class="policy_container" id="access_restriction">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>15.</span><p>Access Restriction</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Giftibly reserves the right, in its sole discretion, to terminate your access to the Site and the related services or any portion thereof at any time, without notice. To the maximum extent permitted by law, this agreement is governed by the laws of the State of Florida and you hereby consent to the exclusive jurisdiction and venue of courts in Florida in all disputes arising out of or relating to the use of the Site. Use of the Site is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section. 
                </p>
                <p>
                    You agree that no joint venture, partnership, employment, or agency relationship exists between you and Giftibly as a result of this agreement or use of the Site. Giftibly's performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of Giftibly's right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Site or information provided to or gathered by Giftibly with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.  
                </p>
                <p>
                    Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and Giftibly with respect to the Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and Giftibly with respect to the Site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related documents be written in English.   
                </p>
                <p class="simply_stated">
                    Simply Stated...
                </p>
                <div class="simply_stated_text">
                    <p>
                        We have the right to deny anyone service.
                    </p>
                </div>
            </div>
        </div>
        <div class="policy_container" id="assignment">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>16.</span><p>Assignment</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Giftibly without restriction. Any attempted transfer or assignment in violation hereof shall be null and void. 
                </p>
            </div>
        </div>
        <div class="policy_container" id="entire">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>17.</span><p>Entire agreement / severability</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    These Terms, together with the Privacy policy and any amendments and any additional agreements you may enter into with Pinterest in connection with the Products, shall constitute the entire agreement between you and Giftibly. If any provision of these Terms is deemed invalid, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect. 
                </p>
            </div>
        </div>
        <div class="policy_container" id="no_waiver">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>18.</span><p>No waiver</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any other term, and Pinterest's failure to assert any right or provision under these Terms shall not constitute a waiver of such right or provision. 
                </p>
            </div>
        </div>
        <div class="policy_container" id="changes_to_terms">
            <div class="col-sm-4 title" data-aos="fade-in" data-aos-once="true">
                <span>19.</span><p>Changes to Terms</p>
            </div>
            <div class="col-sm-8 text">
                <p>
                    Giftibly reserves the right, in its sole discretion, to change the Terms under which Giftibly.com is offered. The most current version of the Terms will supersede all previous versions. Giftibly encourages you to periodically review the Terms to stay informed of our updates. 
                </p>
            </div>
        </div>
        <div class="policy_container">
            <div class="col-sm-push-4 col-sm-8 text">
                <p>Effective as of April 10, 2017</p>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript">
   $(document).on('turbolinks:load', function() {
       
       
    //refresh page scroll on home page
    if (window.location.pathname == '/') {
       $('[data-spy="scroll"]').scrollspy('refresh');
    }
    // page scroll click
    $('a.page-scroll').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top, 
          }, 900);
          return false;
        }
      }
    });
  });
</script>