<div id="splash_image_text_container">
    <div class="gifts_from_anywhere">
        <div>
            <h1>
                <span>Gifts From </span>
                <span>Anywhere </span>
                <span>Online</span>
            </h1>
        </div>
        <div class="right col-md-8 col-md-push-4 col-xs-12">
            <img src="/images/splash/unlimited_gifts/gifts-from-anywhere.png" alt="Gift Assistant View Product">
        </div>
        <div class="left col-xs-12 col-md-4 col-md-pull-8">
            <ol>
                <li>
                    <% if logged_in? %>
                        <span class="logged_sign_up">Sign up</span>
                    <% else %>
                        <%= link_to 'Sign up', new_customer_registration_path %>
                    <% end %>and join your friends on Giftibly.com.
                </li>
                <% if browser.opera? %>
                    <li>
                        Install Chrome Extensions with Opera Add-on.
                    </li>
                        <%= link_to 'https://addons.opera.com/en/extensions/details/download-chrome-extension-9/', target: '_blank', class: 'install_ga' do %>
                        <button class="btn">
                            <i class="icon icon-opera"></i>
                        </button>
                        <button class="btn">Install The Gift Assistant</button>
                        <% end %>
                <% end %>
                <li>
                    Install our Gift Assistant for Google Chrome, Firefox, or Opera.
                </li>
                <% if ( browser.chrome? || browser.firefox? || browser.opera? || browser.safari? ) && ( !(browser.mobile?) ) && ( current_customer.present? ) %>
                    <% if (browser.chrome?) %>
                        <%= link_to '#', class: 'install_ga', onclick: 'getExtension()' do %>
                        <button class="btn"><%= ion_icon("social-chrome", aria_hidden: 'true') %></button>
                        <button class="btn">Install The Gift Assistant</button>
                        <% end %>
                    <% elsif browser.firefox? %>
                    <%= link_to '#', class: 'install_ga', onclick: 'getExtension()' do %>
                    <button class="btn">
                        <i class="icon icon-firefox"></i>
                    </button>
                    <button class="btn">Install The Gift Assistant</button>
                    <% end %>
                    <% elsif browser.opera? %>
                       <%= link_to 'https://chrome.google.com/webstore/detail/giftibly-gift-assistant/bjbmlhjpkhbpjflgjecpokjadpnjdibn', target: '_blank', class: 'install_ga' do %>
                       <button class="btn">
                           <i class="icon icon-opera"></i>
                       </button>
                       <button class="btn">Install The Gift Assistant</button>
                       <% end %>
                    <% elsif browser.safari? %>
                        <%= link_to Rails.configuration.x.safari, class: 'install_ga', target: "_blank" do %>
                            <button class="btn">
                                <i class="icon icon-safari"></i>
                            </button>
                            <button class="btn">Install The Gift Assistant</button>
                        <% end %>
                    <% end %> 
                <% end %>
                <% if !(browser.chrome? || browser.firefox? || browser.opera? || browser.safari?) && ( !(browser.mobile?) ) && ( current_customer.present? ) %>
                       <%= link_to 'https://www.google.com/chrome/browser/desktop/index.html?brand=CHBD&gclid=EAIaIQobChMIrIPu-9zI2AIVlYWzCh3jBwfCEAAYASAAEgKO0_D_BwE', target: '_blank', class: 'install_ga' do %>
                       <button class="btn"><%= ion_icon("social-chrome", aria_hidden: 'true') %></button>
                       <button class="btn">Download Chrome</button>
                       <% end %>
                <% end %>
                <li>
                    While at your favorite online store, click the gift icon to start wishing!
                </li>
            </ol>
        </div>
    </div>
    <div class="image_to_text">
        <section data-aos="fade-right" data-aos-once="true" data-aos-duration="500">
            <img src="/images/splash/unlimited_gifts/customize-your-life.png" class="col-md-8 col-xs-12" alt="Gift Assistant Create Wish List">
        </section>
        <div data-aos="fade-left" data-aos-once="true" data-aos-duration="500" class="col-md-4 col-xs-12">
            <h3>Customize your Life</h3>
            <p>Create new Wish Lists on the fly and make sure your wishes are organized just the way you like!</p>
        </div>
    </div>
    <div class="text_to_image">
        <section data-aos="fade-left" data-aos-once="true" data-aos-duration="500">
            <img src="/images/splash/unlimited_gifts/keep-us-up-to-date.png" class="col-md-8 col-md-push-4 col-xs-12" alt="Gift Assistant Error Reporting">
        </section>
        <div data-aos="fade-right" data-aos-once="true" data-aos-duration="500" class="col-xs-12 col-md-4 col-md-pull-8">
            <h3>Keep Us Up-To-Date</h3>
            <p>If you see an error message, just click the dark gray button. That will let us know you had an error. In most cases, we can fix it same day so you can keep on wishing!</p>
        </div>
    </div>
</div>
<div class="no_more_container">
    <div class="no_more">
        <h2>No more...</h2>
        <ul>
            <li data-aos="fade-right" data-aos-once="true" data-aos-duration="300"><span>No more trying to remember dozens of online registry and wishlist passwords. Keep all of your wishes in one fun and easy to access place!</span></li>
            <li data-aos="fade-right" data-aos-once="true" data-aos-duration="400"><span>No more limits to where you can register your events and special occasions. You can now have your special day registered with 100's of your favorite stores at once!</span></li>
            <li data-aos="fade-right" data-aos-once="true" data-aos-duration="500"><span>No more online wishes going unheard or unfulfilled and no more awkward conversations about what to get for the holidays. At Giftibly, you get the perfect gift, every time, guaranteed.</span></li>
        </ul>
    </div>
</div>

<script rel="nofollow">
    <% if browser.chrome? %>
        function getExtension() {

            function extensionFailed(reason) {
                console.log("extension Install Failed:", reason);
            }

            function extensionInstalled() {
                location.reload();
            };
            chrome.webstore.install('https://chrome.google.com/webstore/detail/bjbmlhjpkhbpjflgjecpokjadpnjdibn', extensionInstalled, extensionFailed);
        };
        
    <% elsif browser.firefox? %>
        function getExtension() {
            $('.install_ga').attr('href', '<%= Rails.configuration.x.firefox %>');
        };
    <% end %>


    function gift_walkthrough(){

    introJs().setOptions({
      'hideNext': true,
      'hidePrev': true,
      'showBullets': false,
      steps: [
      {
          element: document.querySelector('ol'),
          intro: "Install our gift assistant for your chrome or Firefox computer browser to discover how fun adding wishes from nearly any site online can be!"
      }
      ]
    }).start()

    $('.introjs-button.introjs-donebutton').hide();
    $('.introjs-tooltipbuttons').prepend('<a class="introjs-button introjs-finish" role="button" tabindex="0" style="margin-right: 5px;">Finish</a>')

    //Finish walkthrough
    $('.introjs-finish, .install_ga').on('click', function(){
        $.ajax({
            type     : 'GET',
            url      : '/customer/pause?page=gifts',
            dataType : 'json',
            encode   : true,
            success  : function(data){
              if (data.response == true) {
                introJs().exit();
              }
            }
        })
    })

    }

    //Intro Walkthrough 
    <% if @intro_active %>
    gift_walkthrough();
    <% end %>


</script>
