<div class="container-fluid tab_full_width">
	<div id="welcome_to_giftibly">
		<h1>Welcome to <span>Giftibly</span></h1>
        <% if !browser.mobile? %>
		    <p>Add the Gift Assistant to Your Browser</p>
		<% end %>
		<%=image_tag '/images/splash/welcome_to_giftibly_bg.jpg', alt:'Welcome_to_Giftibly', title: 'Welcome to Giftibly get gift assistant', class: 'img-responsive' %>
		
		<% if ( browser.chrome? || browser.firefox? || browser.opera? || browser.safari? ) && ( !(browser.mobile?) ) %>
            <% if (browser.chrome?) %>
                <%= link_to '#', class: 'install_ga', onclick: 'getExtension()' do %>
                <button class="btn"><%= ion_icon("social-chrome", aria_hidden: 'true') %></button>
                <button class="btn">Install The Gift Assistant</button>
                <% end %>
            <% elsif browser.firefox? %>
                <%= link_to '#', class: 'install_ga', onclick: 'getExtension()' do %>
                <button class="btn">
                    <i class="icon icon-firefox"></i>
                </button>
                <button class="btn">Install The Gift Assistant</button>
                <% end %>
            <% elsif browser.opera? %>
                <%= link_to 'https://addons.opera.com/en/extensions/details/download-chrome-extension-9/', target: '_blank', class: 'install_ga' do %>
                <button class="btn">
                    <i class="icon icon-opera"></i>
                </button>
                <button class="btn">Install The Gift Assistant</button>
                <% end %>
            <% elsif browser.safari? %>
                <%= link_to Rails.configuration.x.safari, class: 'install_ga', target: "_blank" do %>
                    <button class="btn">
                        <i class="icon icon-safari"></i>
                    </button>
                    <button class="btn">Install The Gift Assistant</button>
                <% end %>
            <% end %>
        <% elsif browser.mobile? %>
            <button class="get_started">Let's Get Started</button>
		<% end %>
        <%= link_to 'Enter Site', root_path, class: 'enter_site' %>
	</div>
</div>

<script type="text/javascript">
<% if browser.chrome? %>
    function getExtension() {

        function extensionFailed(reason) {
        	toastr.error('Something went wrong.', reason);
        	window.location.reload();
        }
        
        function extensionInstalled() {
            toastr.success('You have successfully installed the Gift Assistant');
            window.location = '/';
        };

        chrome.webstore.install('https://chrome.google.com/webstore/detail/bjbmlhjpkhbpjflgjecpokjadpnjdibn', extensionInstalled, extensionFailed);
    };
    
<% elsif browser.firefox? %>
    function getExtension() {
        $('.install_ga').attr('href', '<%= Rails.configuration.x.firefox %>');
    };
    $('.install_ga').click(function(){
        setTimeout(function(){
            window.location = '/';
        }, 400);
    });
<% else %>
    $('.install_ga').click(function(){
        setTimeout(function(){
            window.location = '/';
        }, 400);
    });
<% end %>
<% if browser.mobile? %>
    $('.get_started').click(function(){
        window.location = '/';
    });
<% end %>

$(document).keypress(function(e) {
    if(e.which == 13) {
        window.location = '/';
    }
});
</script>