<div class="notif_left">
    <%= link_to image_tag( notification.activity.customer.avatar.profile_square.url, class: 'avatar' ), user_path( notification.activity.customer.username ) %>
</div>
<div class="notif_right">
    <div class="notif_text">
        <%= raw notification.content %> 
        <% if ( notification.activity.activity_type == "connection_request" ) && !( current_customer.connected_to? notification.activity.customer ) && ( notification.activity.customer.connection_request_sent? current_customer ) && @notifications_page != true %>
            <%= link_to "Click here to add", "#", class: "confirm-connection", id: "confirm-notifcation-#{notification.activity.customer.id}" %>
        <% end %>
        <p class="time"><%= time_ago_in_words( notification.created_at ) %> ago</p>
    </div>
    <% if notification.read == false %>	
        <%= ion_icon("record", aria_hidden: true, class: 'new_notif') %>
    <% end %>
    <section class="notif_items">
        <% notification.activity.actable.recent_gifts.each do |gift| %>
          <%= render partial: "shared/tiles/mini_gift_tile", locals: { gift: gift } %>
        <% end %>
    </section>
</div>
<div class="clear"></div>