<div class="notif_left">
    <%= link_to image_tag( notification.activity.customer.avatar.profile_square.url, class: "avatar" ), user_path( notification.activity.customer.username ) %>
</div>
<div class="notif_right">
    <div class="notif_text">
        <%= raw notification.content %>
        <div class="time"><%= time_ago_in_words( notification.created_at ) %> ago</div>
    </div>
    <% if notification.read == false %> 
        <%= ion_icon("record", aria_hidden: true, class: 'new_notif') %>
    <% end %>
    <section class="notif_items">
    <div>
        <%= link_to event_view_path( notification.activity.actable.basket.customer.username, notification.activity.actable.basket.basket_slug_name ) do %>

           <%= image_tag notification.activity.actable.basket.banner.url, class: "img-responsive mini-event" %>

        <% end %>
    </div>
    </section>
</div>
<div class="clear"></div>
