<div class="notif_left">
    <%= link_to image_tag( notification.activity.customer.avatar.profile_square.url, class: "avatar" ), user_path( notification.activity.customer.username ) %>
</div>
<div class="notif_right">
    <div class="notif_text">
        <%= raw notification.content %>
        <div class="time"><%= time_ago_in_words( notification.created_at ) %> ago</div>
    </div>
    <% if notification.read == false %> 
        <%= ion_icon("record", aria_hidden: true, class: 'new_notif') %>
    <% end %>
    <section class="notif_items">
        <% if ["Basket", "Customer"].include? notification.activity.actable_type %>
            <% notification.activity.actable.recent_gifts.each do |gift| %>
                <%= render partial: "shared/tiles/mini_gift_tile", locals: { gift: gift } %>
            <% end %>
        <% elsif notification.activity.actable_type == "Gift" %>
            <%= render partial: "shared/tiles/mini_gift_tile", locals: { gift: notification.activity.actable } %>
        <% elsif notification.activity.actable_type == "Variant" %>
            <%= render partial: "shared/tiles/mini_variant_tile", locals: { variant: notification.activity.actable } %>
        <% elsif notification.activity.actable_type == "Comment" %>
            "<%= notification.activity.actable.content %>"
        <% end %>
    </section>
</div>
<div class="clear"></div>
