<% if ["connection_request", "connection_accepted", "followed"].include? notification.activity.activity_type %>
  <%= render partial: "shared/notifications/connection", locals: { notification: notification } %>
<% elsif ["comment"].include? notification.activity.activity_type %>
  <%= render partial: "shared/notifications/comment", locals: { notification: notification } %>
<% elsif ["share", "shared_thing"].include? notification.activity.activity_type %>
  <%= render partial: "shared/notifications/share", locals: { notification: notification } %>
<% elsif ["event_invitation", "event_response_yes", "event_response_maybe", "event_response_no"].include? notification.activity.activity_type %>
  <%= render partial: "shared/notifications/event", locals: { notification: notification } %>
<% elsif ["like"].include? notification.activity.activity_type %>
  <%= render partial: "shared/notifications/like", locals: { notification: notification } %>
<% elsif ["purchase_gift_customer", "purchase_gift_guest"].include? notification.activity.activity_type %>
  <%= render partial: "shared/notifications/present", locals: { notification: notification } %>
<% end %>