<div class="notif_left">
    <% if notification.activity.customer.present? %>
      <%= link_to image_tag( notification.activity.customer.avatar.profile_square.url, class: "avatar" ), user_path( notification.activity.customer.username ) %>
    <% end %>
</div>
<div class="notif_right">
    <div class="notif_text">
        <%= emojify (raw notification.content) %>
        <div class="time"><%= time_ago_in_words( notification.created_at ) %> ago</div>
    </div>
    <% if notification.read == false %>  
    <%= ion_icon("record", aria_hidden: true, class: 'new_notif') %>
    <% end %>
    <section class="notif_items">
        <%= render partial: "shared/tiles/mini_gift_tile", locals: { gift: notification.activity.actable } %>
        <div class="clear"></div>
    </section>
</div>
<div class="clear"></div>
