<div class="container-fluid basket_bg" style="background-image: url(<%= @basket.banner %>)" title="<%= @basket.name %> - Wish List Banner">

    <%= link_to ion_icon("camera", aria_hidden: true), "#eventsUpload", class: "edit_banner_btn", data: {toggle: "modal"} %>
    
    <div class="info">
        <div class="user_info">
            <div>
                <%= render partial: "shared/site/likes", locals: { likable: @basket, likable_type: "Basket", solid_heart: false} %>
            </div>
            <% if (basket_type == 'lifestyle') || (basket_type == 'charity') %>
            <div>
                <p><%= @basket.gifts.count %></p>
                <p>Wishes</p>
            </div>
            <% if @basket.likes.count > 0 %>
                <div>
                    <p><%= @basket.likes.count %></p>
                    <p>Likes</p>
                </div>
            <% end %>
            <div>
                <p><%= @basket.share_count %></p>
                <p>Shares</p>
            </div>
            <% elsif basket_type == 'event' %>
                <div>
                    <p><%= @basket.event.confirmed_count %></p>
                    <p>Going</p>
                </div>
                <div>
                    <p><%= @basket.event.maybe_count %></p>
                    <p>Interested</p>
                </div>
                <div>
                    <p><%= @basket.event.pending_count %></p>
                    <p>Invited</p>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="main_avatar_container">
    <%= link_to image_tag(@basket.customer.avatar.profile.url, alt: @basket.customer.username + ' - Profile Image', class: 'img-responsive avatar'), user_path(@basket.customer.username) %>
</div>
<% if basket_type == 'event' %>
    <!-- public = all members | friends = invites or connections only | private = invites only -->
    <% if ( current_customer.present? && current_customer != @basket.customer && @basket.privacy == 'public' ) || ( @basket.privacy == 'friends' && current_customer.connected_to?(@basket.customer) ) || ( @basket.privacy == 'private' && current_customer.invited_to?( @basket.event ) ) %>
    
        <div class="dropdown are_you_in_btn">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="event_status"><%= @event_status %></span>
                <span class="icon_arrow"><%= ion_icon("arrow-down-b", aria_hidden: true) %></span>
            </button>
            <ul class="dropdown-menu fade">
                <li>
                    <%= link_to '#',  class: "dropdown-item", id: "going" do %> 
                       Going
                       <%= ion_icon("checkmark") %>
                    <% end %>
                </li>
                <li>
                    <%= link_to '#',  class: "dropdown-item", id: "interested" do %> 
                       Interested
                       <%= ion_icon("ios-star-half", aria_hidden: true) %>
                    <% end %>
                </li>
                <li>
                    <%= link_to '#',  class: "dropdown-item", id: "not_going" do %> 
                       Not Going
                       <%= ion_icon("ios-close", aria_hidden: true) %>
                    <% end %>
                </li>
            </ul>
        </div>
    <% end %>
<% end %>
<div class="parallax_container" data-bid="<%= @basket.id %>">
<% if (basket_type == 'lifestyle') || (basket_type == 'charity') %>
    <div class="basket_container">
<% elsif basket_type == 'event' %>
    <div id="events_container" class="basket_container">
<% end %>
        <div class="tab_info">
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                <div class="title">
                    <h2 class="title_name">
                        <%= @basket.name %>
                    </h2>
                </div>
                <% if @basket.description.present? %>
                    <div class="website_description">
                        <% if basket_type == 'charity' %>
                            <%= link_to @basket.charity.url, @basket.charity.url, class: 'link', target: '_blank' %>
                        <% end %>
                        <div class="bio_container">
                            <p class="bio"><%= @basket.description %></p>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-sm-1"></div>
            <div class="tab_heading_right col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <div class="info">
                    <div>
                        <%= render partial: "shared/site/likes", locals: { likable: @basket, likable_type: "Basket", solid_heart: false} %>
                    </div>
                    <% if (basket_type == 'lifestyle') || (basket_type == 'charity') %>
                    <div>
                        <p><%= @basket.gifts.count %></p>
                        <p>Wishes</p>
                    </div>
                    <%# if @basket.likes.count > 0 %>
                        <div>
                            <p><%= @basket.likes.count %></p>
                            <p>Likes</p>
                        </div>
                    <%# end %>
                    <div>
                        <p><%= @basket.share_count %></p>
                        <p>Shares</p>
                    </div>
                    <% elsif basket_type == 'event' %>
                        <div>
                            <p><%= @basket.event.confirmed_count %></p>
                            <p>Going</p>
                        </div>
                        <div>
                            <p><%= @basket.event.maybe_count %></p>
                            <p>Interested</p>
                        </div>
                        <div>
                            <p><%= @basket.event.pending_count %></p>
                            <p>Invited</p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <% if basket_type == 'event' %>
            <div class="three_tab_navigation">
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 tab_center">
                    <div id="tab_one">
                         <a class="active" href="#about" data-toggle="tab">About</a>
                    </div>

                    <div id="tab_two">
                        <a href="#gifts" data-toggle="tab">Wishes</a>
                    </div>

                    <div id="tab_three">
                        <a href="#discussion" data-toggle="tab">Comments</a>
                    </div>
                </div>
            </div>
        <% elsif basket_type == 'charity' %>
            <div class="three_tab_navigation">
              <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 tab_center">
                <div id="tab_one">
                  <a class="active" href="#donate" data-toggle="tab">Donate</a>
                </div>

                <div id="tab_two">
                  <a href="#gifts" data-toggle="tab">Wishes</a>
                </div>

                <% if current_customer.present? %>
                  <div id="tab_three">
                    <a href="#discussion" data-toggle="tab">Comments</a>
                  </div>
                <% end %>
              </div>
            </div>
        <% end %>
        <% if basket_type == 'lifestyle' %>
            <div class="tab-content">
                <!-- GIFT TAB -->
                <div class="tab-pane basket_tab_content active" id="gifts">
                    <!-- Basket Tab PARTIAL -->
                    <%= render partial: "shared/baskets/basket_tabs/tab_gift_basket_gifts" %>
                    <div class="loader basket">
                        <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
                    </div>
                </div>
            </div>
        <% elsif basket_type == 'event' %>
            <div class="tab-content event_content">
                <!-- ABOUT TAB -->
                <div class="tab-pane event_tab_content active" id="about">
                    <!-- Basket Tab PARTIAL -->
                    <%= render partial: "shared/baskets/basket_tabs/tab_event_basket_about" %>
                </div>
                <!-- GIFT TAB -->
                <div class="tab-pane fade basket_tab_content" id="gifts">
                    <!-- Basket Tab PARTIAL -->
                    <%= render partial: "shared/baskets/basket_tabs/tab_event_basket_gifts" %>
                    <div class="loader basket">
                        <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
                    </div>
                </div>

                <!-- DISCUSSION TAB -->
                <div class="tab-pane fade" id="discussion">
                    <!-- Basket Tab PARTIAL -->
                    <%= render partial: "shared/baskets/basket_tabs/tab_discussion", locals: { comments: @basket.comments } %>
                </div>
            </div>
        <% elsif basket_type == 'charity' %>
            <div class="tab-content">
                <div class="tab-pane active" id="donate">

                <!-- TODO when Charity is working
                              <form>
                                <div class="donate_amount col-sm-6">
                                  <p>Enter donation amount up to $1000.00</p>
                                  <div>
                                    <label>Donation Amount: $</label>
                                    <input type="text" autocomplete="off" name="donate_number" placeholder="0.00" class="form-control" />
                                    <span class="has-error"></span>
                                  </div>
                                  <p> Total: <span>$0.00</span> </p>
                                </div>

                                <div class="col-sm-6" style="height: 109px">
                                  <button class="btn">Donate</button>
                                </div>

                              </form>
                -->

                  <div class="col-sm-12 donate_description">
                    <p>
                      All charities must be verified prior to activation of all cash and gift donations. Please use the ULR associated directly with the Charity of your choosing as Giftibly Inc. will use this URL to attempt verifing all newly added charity baskets within 2 weeks of creation. Your charity basket will be marked as private until verified. Donations may take up to 2 weeks to reach charites. You will be given a receipt of donation with a confirmation code upon checkout. You can use this code to verfiy that funds have been delivered to the charity of your choice. We thank you for choosing to have your friends &amp; family donate to a charity! The greatest gifts are those given to one who need them most!
                    </p>
                  </div>

                </div>

                <!-- GIFT TAB -->
                <div class="tab-pane fade" id="gifts">
                    <!-- Basket Tab PARTIAL -->
                    <%= render partial: "shared/baskets/basket_tabs/tab_charity_basket_gifts" %>
                    <div class="loader basket">
                        <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
                    </div>
                </div>

                <% if current_customer.present? %>
                    <!-- DISCUSSION TAB -->
                    <div class="tab-pane fade" id="discussion">
                        <!-- Basket Tab PARTIAL -->
                        <%= render partial: "shared/baskets/basket_tabs/tab_discussion", locals: { comments: @basket.comments } %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
    <% if basket_type == 'lifestyle' %>
        <%= render partial: "shared/baskets/basket_edit", locals: { basket_type: 'lifestyle'} %>
    <% elsif basket_type == 'event' %>
        <%= render partial: "shared/baskets/basket_edit", locals: { basket_type: 'event'} %>
    <% elsif basket_type == 'charity' %>
        <%= render partial: "shared/baskets/basket_edit", locals: { basket_type: 'charity'} %>
    <% end %>
</div>

<!-- GIFT ASSISTANT BUTTON -->
<%= render partial: "shared/site/ga_button" %>

<% if current_customer.present?  %>
    <% if @basket.customer == current_customer %>
    <!-- Event Banner upload modal Partial -->
    <%= render partial: "shared/modals/modal_basket_banner_upload" %>
    <% end %>
    <!--  Create Basket Modal Partial -->
    <%= render partial: "shared/modals/modal_create_basket" %>
<% end %>

<%= content_for :ecom do %>
<script type="text/javascript">
    dataLayer.push({
        'ecommerce': {
            'currencyCode': 'USD',                       
            'impressions': <%=raw @dataLayer_arr %>
        }
    });
</script>
<% end %>

<script type="text/javascript">
    

        var maxHeight = $(".bio").height();
        if(maxHeight > 40){
            $(".bio_container").after( '<div id="toggle" class="fade-animate">Show More <i aria_hidden="true" class="icon ion-chevron-down"></i></div>' );
            $("#toggle").click(function() { //show more/show less
                $("#toggle").toggleClass('active');
                if ($('#toggle').hasClass('active')) {
                    $("#toggle").html('Show Less <i aria_hidden="true" class="icon ion-chevron-up"></i>');
                    $(".bio_container").animate({height:maxHeight + 'px'});
                }
                else {
                    $("#toggle").html('Show More <i aria_hidden="true" class="icon ion-chevron-down"></i>');
                    $(".bio_container").animate({height:'40px'});
                }
            });
        };

    <% if @basket.customer == current_customer %>
        <% if basket_type == 'charity' || basket_type == 'event' %>
            function tab_two(){
                $('.three_tab_navigation div a').removeClass('active'); //change tab text color
                $('.three_tab_navigation #tab_two a').addClass('active');
                $('.tab-pane').removeClass('active in'); //change tab
                $('#gifts').addClass('active in');
                $container = $('.products');
                $container.imagesLoaded( function () {
                    $container.masonry({
                      itemSelector: '.product-item', 
                      columnWidth: '.product-sizer',
                      percentPosition: true
                    });
                });
            }
            $('.three_tab_navigation #tab_one a, .three_tab_navigation #tab_three a').on('click',function () {
                if($('.delete_button')[0]){
                    $('.delete_button').addClass('inactive');
                }
                if($('.quantity_button')[0]){
                    $('.quantity_button').addClass('inactive');
                }
                if($('.mark_received_button')[0]){
                    $('.mark_received_button').addClass('inactive');
                }
            });

            $('.three_tab_navigation #tab_two a').on('click',function () {
                if($('.delete_button')[0]){
                    $('.delete_button').addClass('active');
                    $('.delete_button').removeClass('inactive');
                }
                if($('.quantity_button')[0]){
                    $('.quantity_button').addClass('active');
                    $('.quantity_button').removeClass('inactive');
                }
                if($('.mark_received_button')[0]){
                    $('.mark_received_button').addClass('active');
                    $('.mark_received_button').removeClass('inactive');
                }
            });
            
        <% end %>
        //Edit quantity button
        $('body').on('click', '.quantity_btn, .quantity_button', function (e) {
            e.preventDefault();
            <% if basket_type == 'charity' || basket_type == 'event' %>
                tab_two();
            <% end %>
            if($('.quantity_button')[0]){
                $('.quantity_button').addClass('inactive');
                setTimeout(function() {
                  $('.quantity_button').remove();
                }, 400);
            }
            else{
                $('body').append('<button class="quantity_button btn">All Done</button>');
            }
            $('.quantity_button').toggleClass('active');
            $('.gift_qty_container').toggleClass('hidden');
        });
    
        //Delete items button
        $('body').on('click', '.delete_btn, .delete_button', function (e) {
          e.preventDefault();
          <% if basket_type == 'charity' || basket_type == 'event' %>
              tab_two();
          <% end %>
          if($('.delete_button')[0]){
              $('.delete_button').addClass('inactive');
              setTimeout(function() {
                $('.delete_button').remove();
              }, 400);
          }
          else{
              $('body').append('<button class="delete_button btn">All Done</button>');
          }
          $('.delete_button').toggleClass('active');
          $('.remove_gift').toggleClass('hidden');

        });
    
        //Mark As Received button
        $('body').on('click', '.mark_received_btn, .mark_received_button', function (e) {
          e.preventDefault();
          <% if basket_type == 'charity' || basket_type == 'event' %>
              tab_two();
          <% end %>
          if($('.mark_received_button')[0]){
              $('.mark_received_button').addClass('inactive');
              setTimeout(function() {
                $('.mark_received_button').remove();
              }, 400);
          }
          else{
              $('body').append('<button class="mark_received_button btn">All Done</button>');
          }
          $('.mark_received_button').toggleClass('active');
          $('.mark_received, .received').toggleClass('hidden');

        });
    
        // Edit Basket
        $('body').on('click', '.edit_basket_btn', function(e){
            e.preventDefault();
            e.stopPropagation();
            $(".basket_container").slideToggle(600);
            $('.edit_basket_container, .edit_banner_btn').fadeToggle(600);
            $('.basket_bg').toggleClass('on');
        });
    
        
    <% end %>
    var feed_height, basket_offset;
    <% if basket_type == 'charity' || basket_type == 'event' %>
        //Masonry grid for tabs 
        $('.three_tab_navigation a[data-toggle=tab]').each(function () {
            var $this = $(this);
            $container = $('.products');
            $this.on('shown.bs.tab', function () {
                $container.imagesLoaded( function () {
                    $container.masonry({
                      itemSelector: '.product-item', 
                      columnWidth: '.product-sizer',
                      percentPosition: true
                    });
                    feed_height = $('.products.feed').height() * -.8;
                    basket_offset = feed_height;
                    basket_pagination();
                });
            });
        });
    
        $('.three_tab_navigation a').on('click',function () {
            // remove classes from all
            $("a").removeClass("active");
            // add class to the one we clicked
            $(this).addClass("active");
        });
    
        $('#tab_two a, #tab_three a').on('click',function () {
            $("#about, #donate").addClass("fade");
        });
    <% else %>
        //Masonry Plugin
        $container = $('.products');
        $container.imagesLoaded( function () { // image loaded before masonry grid starts 
            $container.masonry({
                itemSelector: '.product-item', // use a separate class for itemSelector, other than .col-
                columnWidth: '.product-sizer',
                percentPosition: true,
            })
            feed_height = $('.products.feed').height() * -.8;
            basket_offset = feed_height;
            basket_pagination();
        });
    <% end %>

    // init controller
    var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave", duration: "100%"}});

    // build scenes
    new ScrollMagic.Scene()
        .setTween(".basket_bg", {y: "300", ease: Linear.easeNone})
        .addTo(controller);
    <% if browser.mobile? %>
        new ScrollMagic.Scene()
            .setTween(".basket_bg .info", {y: "-275", ease: Linear.easeNone})
            .addTo(controller);
    <% end %>
    var offsetting = -71;
    
    var controller2 = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave"}});
    
    var tween = TweenMax.to(".navbar", .05, {className: "-=profile_nav"});
    new ScrollMagic.Scene({triggerElement: ".parallax_container", offset: offsetting })
        .setTween(tween)
        .addTo(controller2);

    setTimeout(function(){
        $('.product-item').addClass('fade-animate');
    }, 500);
    var basket_id = $('.parallax_container').attr('data-bid');
    var basket_page_number = 1;
    var basket_wish_scroll = new ScrollMagic.Controller();
    //sets var for the url for pagination
    // build scene
    function basket_pagination(){
        new ScrollMagic.Scene({triggerElement: ".loader.basket", offset: basket_offset})
        .addTo(basket_wish_scroll)
        .on("enter", function (e) {
            if(e.scrollDirection == "FORWARD"){
                if (!$(".loader.basket i").hasClass("active")) {
                    basket_page_number++;
                    $(".loader.basket i").addClass("active");
                    var infinite_basket_url = '/paginate/basket?id=' + basket_id + '&page='+ basket_page_number;
                    $.ajax({
                        url: infinite_basket_url, //pagination url
                        type: 'GET',
                        success: function (data) {
                            var count = (data.match(/col-xs-6/g) || []).length;
                            $(".loader.basket i").removeClass("active");
                            $container = $('.products');
                            //instantiate touchspin
                            $(".gift_qty").TouchSpin({
                              min: 1,
                              max: 99
                            });
                            if($('.delete_button')[0]){
                                $('.remove_gift').removeClass('hidden');
                            }
                            if($('.quantity_button')[0]){
                                $('.gift_qty_container').removeClass('hidden');
                            }
                            if($('.mark_received_button')[0]){
                                $('.mark_received').removeClass('hidden');
                            }
                            $('.product_list').imagesLoaded(function(){
                                $container.masonry( 'reloadItems');
                                $container.masonry();
                                setTimeout(function() {
                                    $('.product-item').addClass('fade-animate');
                                    if (count < 25 && !$('.products.feed .no_more_items')[0]) { //if response does not contain html variable
                                        $('.products.feed').append('<p class="no_more_items">No more items to show.</p>');
                                        $('.no_more_items').fadeIn();
                                    }
                                },500);
                            });
                        },
                        error: function(){
                          console.log("Error");
                          $(".loader.basket i").removeClass("active");

                        }
                    });
                }
            }
        });
    }
</script>