<div class="container-fluid tab_full_width edit_basket_container" style="display: none;">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-3">
        <% if basket_type == 'lifestyle' %>
            <%= form_for @basket, url: basket_update_path(@basket.id), method: :post do |f| %>

            <h2 class="text-center">Edit Wish List</h2>

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Wish List Name</label>
                    <% if @basket.name == "Liked Products" %>
                      <div><%= @basket.name %></div>
                    <% else %>
                      <%= f.text_field :name, class: "form-control input-md", maxlength: "30", placeholder: "basket name", data: { error: "basket name missing" }, required: true %>
                    <% end %>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="description">Wish List Description</label>
                    <%= f.text_area :description, rows: "5", class: "form-control input-md", placeholder: "Edit basket description", data: { error: "basket description missing" } %>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="col-xs-12">
                <label for="privacy" style="text-align:center">Wish List Privacy</label>
                <div class="form-group basket_privacy">
                    <div class="radio radio-warning radio-inline">
                        <%= f.radio_button :privacy, "public" %>
                        <%= label_tag :age_public, "Public" %>
                        <%= ion_icon("android-globe", aria_hidden: true) %>
                    </div>
                    <div class="radio radio-warning radio-inline">
                        <%= f.radio_button :privacy, "friends" %>
                        <%= label_tag :age_friends, "Friends Only" %>
                        <%= ion_icon("ios-people", aria_hidden: true) %>
                    </div>
                    <div class="radio radio-warning radio-inline">
                        <%= f.radio_button :privacy, "private" %>
                        <%= label_tag :age_private, "Private" %>
                        <%= ion_icon("ios-locked", aria_hidden: true) %>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 top-10 text-right">
                <a href="#" class="edit_basket_btn">Cancel</a>
                <%= f.submit "Save Changes", class: "save_basket_edit" %>
            </div>

            <% end %>
        <% elsif basket_type == 'event' %>
            <%= form_for @basket.event, url: event_update_path(@basket.event.id), method: :post do |f| %>

            <h2 class="text-center">Edit Wish List</h2>

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Event Name</label>
                    <%= f.text_field :name, class: "form-control input-md", maxlength: "30", placeholder: "Title", data: { error: "event name missing" }, required: true %>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="event_occurs_at">Event Date</label>
                    <div class='input-group date-time-picker'>
                        <%= f.text_field :occurs_at, value: event_date_format(@basket.event.occurs_at), class: "form-control input-md date-time-picker", placeholder: "MM/DD/YYYY", data: { error: "event date missing" }, required: true %>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Event Location</label>
                    <%= f.text_field :location, class: "form-control input-md", placeholder: "Location", data: { error: "event location missing" }, required: true %>

                    <div class="help-block with-errors"></div>
                </div>
            </div>


            <div class="col-xs-12">
                <div class="form-group">
                    <label for="description">Event Description</label>
                    <%= f.text_area :description, rows: "5", class: "form-control input-md", placeholder: "Edit basket description", data: { error: "event description missing" } %>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="col-xs-12">
                <label for="privacy" style="text-align:center">Event Privacy</label>
                <div class="form-group basket_privacy">
                    <div class="radio radio-warning radio-inline">
                        <%= radio_button_tag :privacy, "public", ( @basket.privacy == "public" ) %> 
                        <%= label_tag :age_public, "Public" %>
                        <%= ion_icon("android-globe", aria_hidden: true) %>
                    </div>
                    <div class="radio radio-warning radio-inline">
                        <%= radio_button_tag :privacy, "friends", ( @basket.privacy == "friends" ) %> 
                        <%= label_tag :age_friends, "Friends Only" %>
                        <%= ion_icon("ios-people", aria_hidden: true) %>
                    </div>
                    <div class="radio radio-warning radio-inline">
                        <%= radio_button_tag :privacy, "private", ( @basket.privacy == "private" ) %> 
                        <%= label_tag :age_private, "Private" %>
                        <%= ion_icon("ios-locked", aria_hidden: true) %>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-right">
                <a href="#" class="edit_basket_btn"> Cancel </a>
                <%= f.submit "Save Changes", class: "save_basket_edit top-20" %>
            </div>

            <% end %>
        <% elsif basket_type == 'charity' %>
            <%= form_for @basket, url: charity_update_path(@basket.id), method: :post do |f| %>

            <h2 class="text-center">Edit Wish List</h2>

            <div class="col-xs-12">
              <div class="form-group edit_basket">
                <label for="name">Charity Name</label>
                <%= f.text_field :name, class: "form-control input-md", maxlength: "30", placeholder: "Title", data: { error: "charity name missing" }, required: true %>
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group edit_basket">
                <label for="date">Charity Description</label>
                <%= f.text_field :description, class: "form-control input-md", placeholder: "Edit basket description", data: { error: "charity description missing" } %>
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group edit_basket">
                <label for="name">Charity Url</label>
                <%= text_field_tag :url, @basket.charity.url, class: "form-control input-md", placeholder: "http://giftibly.com" %>
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-xs-12">
                <label for="privacy" style="text-align:center">Charity Privacy</label>
                <div class="form-group basket_privacy">
                    <div class="radio radio-warning radio-inline">
                        <%= f.radio_button :privacy, "public" %>
                        <%= label_tag :age_public, "Public" %>
                        <%= ion_icon("android-globe", aria_hidden: true) %>
                    </div>
                    <div class="radio radio-warning radio-inline">
                        <%= f.radio_button :privacy, "friends" %>
                        <%= label_tag :age_friends, "Friends Only" %>
                        <%= ion_icon("ios-people", aria_hidden: true) %>
                    </div>
                    <div class="radio radio-warning radio-inline">
                        <%= f.radio_button :privacy, "private" %>
                        <%= label_tag :age_private, "Private" %>
                        <%= ion_icon("ios-locked", aria_hidden: true) %>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-right">
              <a href="#" class="edit_basket_btn">Cancel</a>
              <%= f.submit "Save Changes", class: "save_basket_edit top-20" %>
            </div>

            <% end %>
        <% end %>
    </div>
</div>