
<div class="fluid-row">
  <div class="footer <%= 'absolute' if (position == 'absolute') && !browser.mobile? %>">
    <div class="footer_container">
        <!-- Desktop -->
        <div class="col-sm-6 col-xs-12 footer_section">
            <div class="col-xs-6">
                <h3>Interact</h3>
                <div class="line"></div>
                <ul>
                    <% if !logged_in? %>
                        <li><%=link_to 'Search for Friends', search_customers_path %> </li>
                    <% end %>
                    <% if !logged_in? %>
                        <li><%=link_to 'Sign Up', new_customer_registration_path %> </li>
                    <% end %>
                    <li><%=link_to 'Contact Us', feedback_path %> </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <h3>Discover</h3>
                <div class="line"></div>
                <ul>
                    <li><%=link_to 'Discover Registries', discover_wish_lists_path %> </li>
                    <li><%=link_to 'Discover Categories', discover_categories_path %> </li>
                    <% if @deals.present? %>
                        <li><%=link_to 'Discover Deals', discover_deals_path %> </li>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 footer_section">
            <div class="col-xs-6">
                <h3>About Us</h3>
                <div class="line"></div>
                <ul>
                    <li><%=link_to 'Unlimited Gifts', unlimited_gifts_path %> </li>
                    <li><%=link_to 'Frequently Asked Questions', faq_path %> </li>
                    <li><%=link_to 'Join Our Team', join_our_team_path %> </li>
                    <li><%=link_to 'Giftiblog', 'http://www.giftiblog.com', target: '_blank' %> </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <h3>Legal</h3>
                <div class="line"></div>
                <ul>
                    <li><%=link_to 'Privacy Policy', privacy_policy_path %> </li>
                    <li><%=link_to 'Community', community_path %> </li>
                    <li><%=link_to 'Terms and Conditions', terms_path %> </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-ms-12">
      
      <div class="social_links">
        <%=link_to ion_icon("social-facebook"), 'https://www.facebook.com/giftibly/', target: '_blank', title: 'giftibly facebook' %>
        <%=link_to ion_icon("social-twitter"), 'https://twitter.com/GiftiblyInc', target: '_blank', title: 'giftibly twitter' %>
        <%=link_to ion_icon("social-linkedin"), 'https://www.linkedin.com/company/giftibly', target: '_blank', title: 'giftibly linkedin' %>
        <%=link_to ion_icon("social-instagram"), 'https://www.instagram.com/giftiblyinc/?hl=en', target: '_blank', title: 'giftibly instagram' %>
        <%=link_to ion_icon("social-vimeo"), 'https://vimeo.com/user60340385', target: '_blank', title: 'giftibly vimeo' %>
      </div>

      <div class="text-center">
        <p>Giftibly Inc. <%= Time.current.year %> </p>
        <p>Orlando, FL</p>
      </div>
      <% if browser.mobile? %>
          <br>
          <br>
      <% end %>

    </div>

  </div>
</div>