<% if current_customer.present? %>
    <div class="vertical_btn_container">
        <% if ( browser.chrome? || browser.firefox? || browser.opera? || browser.safari? ) && !(browser.mobile? || browser.tablet?) %>
            <a class="icon ion-alert ga_button" data-toggle="modal" data-target=".gift_assistant_modal" href="#"></a>
        <% end %>
    </div>
<% end %>