<%= link_to '#', class: "like", rel: 'nofollow', data: { id: likable.id, likable: likable_type, solid_heart: solid_heart } do %>
    <% if current_customer.present? && ( current_customer.likes? likable ) %>
        <%= ion_icon("android-favorite", class: 'liked') %>
    <% else %>
        <% if solid_heart == true %>
            <%= ion_icon("android-favorite") %>
        <% else %>
        <%= ion_icon("android-favorite-outline") %>
        <% end %>
    <% end %>
<% end %>
