<div class="feed_heading">
    <h1><span>Giftibly</span> Community Feed</h1>
    <ul class="feed_nav">
        <% if current_customer.present? && current_customer.users_followed.count > 0 %>
        <li role="presentation" <%= 'class=active' if page_flag == "following" %>>
            <%= link_to following_feed_path do %>
                <span>#Following</span>
            <% end %>
        </li>
        <% end %>
        <li role="presentation" <%= 'class=active' if page_flag == "most-active" %>>
            <%= link_to most_active_feed_path do %>
                <span>#Most Active</span>
            <% end %>
        </li>
        <li role="presentation" <%= 'class=active' if page_flag == "products" %>>
            <%= link_to products_feed_path do %>
                <span>#Products</span>
            <% end %>
        </li>
    </ul>
</div>

<div class="container-fluid tab_full_width">

<div class="tab-content feed_tabs">

    <!-- YOUR FEED TAB -->
    <div class="tab-pane active" id="your_feed">
            <% if page_flag == "following" %>
                <div class="products feed products_following">
            <% elsif page_flag == "most-active" %>
                <div class="products feed products_trending">
            <% elsif page_flag == "products" %>
                <div class="products feed products_main">
            <% end %>
            
               
                <div class="product-sizer col-xs-4 col-sm-4 col-md-3 col-lg-2"></div>

<!--
                    <div class="product-item col-xs-6 col-sm-4 col-md-3 col-lg-2 feed_sidebar">
TODO when adsense is running
                        <div class="ad">
                            <%#= image_tag '/images/adverts/verizon_ad.jpg', alt: 'ad', class: 'img-responsive' %>
                        </div>
                        <p>Advertisement</p>
TODO when birthday modals and event modals are more functional
                        <%# if @birthdays.count > 0 && @events.count > 0 %>
                            <div class="reminders">
                                <h3>Reminders</h3>
                                <ul>
                                    <%# if @birthdays.count > 0 %>
                                        <li>
                                            <%#= link_to '#', data: {toggle: "modal",target: ".upcoming_birthdays_modal"} do %>
                                                <span><%#= pluralize(@birthdays.count, 'Birthday') %></span>
                                                <span>Coming Up</span>
                                            <%# end %>
                                        </li>
                                    <%# end %>
                                    <%# if @events.count > 0 %>
                                        <li>
                                            <%#= link_to '#', data: {toggle: "modal",target: ".upcoming_events_modal"} do %>
                                                <%#= ion_icon("ios-calendar", aria_hidden: true) %>
                                                <span><%#= pluralize(@events.count, 'Event') %></span>
                                                <span>Coming Up</span>
                                            <%# end %>
                                        </li>
                                    <%# end %>
                                </ul>
                            </div>
                        <%# end %>
                    </div>
-->

                    <div class="product_list">
                        <% if products.any? %>
                            <% products.each do |product| %>
                                <%= render partial: "shared/tiles/product_tile", locals: {product: product, tile: 'feed'} %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <div id="loader">
                <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
            </div>
        </div>
</div>
</div>

<!-- GIFT ASSISTANT BUTTON -->
<%= render partial: "shared/site/ga_button" %>

<!--  Upcoming Events Modal Partial
<%#= render partial: "shared/modals/modal_upcoming_events" %>

  Upcoming Birthdays Modal Partial
<%#= render partial: "shared/modals/modal_upcoming_birthdays" %>
-->


<% if current_customer.present? %>
    <!--  Create Basket Modal Partial -->
    <%= render partial: "shared/modals/modal_create_basket" %>
<% elsif @browsing == false %>
    <!--  Landing signup modal Partial -->
    <%#= render partial: "shared/modals/modal_landing_signup" %>
<% end %>

<%= render partial: "shared/popup/popup_facebook_share", locals: { 
    url: "www.giftibly.com", 
    name: "Giftibly", 
    image: "#{request.protocol}#{request.host}/images/fbshare/fbshare.png",
    description: "On Giftibly, the Ultimate Wish List, you can save gifts from your 
                  favorite online stores, make fun lifestyle baskets, and share them 
                  with friends and family. Get the perfect gift every time."
} %>

<!-- SEO DATA STRUCTURES -->
<% content_for :seo do %>
    <!-- RICHCARD -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.giftibly.com",
      "name": "Giftibly",
      "logo": "https://<%= request.host %>/images/fallback/logo.png",
      "description": "Giftibly Inc. is an internet technology company that operates a social gift registry where users can fill themed wish lists with products from all over the web and share them with friends and family",
      "sameAs": [
      "https://www.facebook.com/giftibly",
      "https://www.instagram.com/giftiblyinc",
      "https://twitter.com/GiftiblyInc"
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "url": "https://www.giftibly.com",
        "email": "info@giftibly.com",
        "contactType": "Customer service"
      }
    }
    </script> 
    <!-- SEARCH ON GOOGLE -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://www.giftibly.com",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://www.giftibly.com/search?q={q}",
          "query-input": "required name=q"
        }
      }
    </script>
<% end %>

<script rel="nofollow" type="text/javascript">
    var page = 1;
    pageFlag = '<%= page_flag %>';
    $(document).ready( function() {

        $container = $('.products');
        $container.imagesLoaded( function () {
            // image loaded before masonry grid starts
            $container.masonry({
                itemSelector: '.product-item', // use a separate class for itemSelector, other than .col-
                columnWidth: '.product-sizer',
                originLeft: true,
                percentPosition: true
            });
            $('.product-item').addClass('fade-animate'); 
            var controller = new ScrollMagic.Controller();
            //sets var for the url for pagination
            var feed_height = $('.products.feed').height() * -.8;
            var offset_height = feed_height;
          // build scene
            var scene = new ScrollMagic.Scene({triggerElement: "#loader", offset: offset_height})
            .addTo(controller)
            .on("enter", function (e) {
                if(e.scrollDirection == "FORWARD"){
                    if (!$("#loader i").hasClass("active") && $("#your_feed").hasClass("active")) {
                        page++;
                        $("#loader i").addClass("active");
                       if(window.location.pathname == '/feed/search'){
                         var more_products_url = '/feed/search' + window.location.search + '&page=' + page
                       } else {
                         var  more_products_url = '/feed/' + pageFlag + '?page=' + page;
                       }
                        $.ajax({
                            url: more_products_url, //pagination url
                            type: 'GET',
                            success: function (data) {
                                $("#loader i").removeClass("active");
                                $container = $('.products');
                                var product_list = $(data).find('.product_list').html();

                                if(product_list.length <= 24 ){
                                    page--;
                                }
                                $('.product_list').append(product_list).imagesLoaded(function(){
                                    $container.masonry( 'reloadItems');
                                    $container.masonry();
                                    setTimeout(function() {
                                        $('.product-item').addClass('fade-animate');
                                    },500);
                                });
                                if (!product_list.trim()) {
                                    $('.products.feed').append('<p class="no_more_items">No more items to show.</p>');
                                    $('.no_more_items').fadeIn();
                                }
                            },
                            error: function(){
                              console.log("Error");
                              $("#loader i").removeClass("active");

                            }
                        });
                    }
                }
            });
        });
    });

    function feed_walkthrough(){
    $('.introjs-overlay').remove();
    introJs().setOptions({
        'hideNext': true,
        'doneLabel': 'Exit',
        'skipLabel': 'Exit',
        'keyboardNavigation' : true,
        steps: [
        { 
            tooltipClass: 'feed',
            intro: "<img src='/images/fallback/logo.png' class='img-responsive' style='margin: auto;'/><br>Welcome and thanks for joining Giftibly! This is your feed. Here you can see gift ideas and all of the things your friends and family have wished for!"
        },
        {   element: document.querySelector('.discover_nav'),
            tooltipClass: 'feed',
            intro: 'This is our “discover section". Click here to discover the latest brands our Gift Assistant and wishing tool support, fun wishes from other members, and sometimes even coupons for great deals that we’ve found for you.',
            position: "left"
        },
        <% if !browser.mobile? %>
            {
              element: document.querySelector('.multitool'),
              tooltipClass: 'profile6',
              intro: 'This is your tools menu. It will appear on pages where you can perform extra functions.'
            },
            {   element: document.querySelector('.add_wish_icon'),
                tooltipClass: 'feed',
                intro: "This is our wishing tool. Clicking this icon opens up a window that allows you to paste URLs of product pages from your favorite websites and add them directly to your wish lists.",
                position: "left"
            },
            {   element: document.querySelector('.notification_popover'),
                tooltipClass: 'feed',
                intro: "This is your notification tool. Click this icon to see your notifications and continue scrolling down to see more.",
                position: "left"
            },
            {   element: document.querySelector('.profile_popover'),
                tooltipClass: 'feed',
                intro: "This is your navigation tool. Click to see a drop down of all the pages you can view on Giftibly.com, including your settings.",
                position: "left"
            },
            {   element: document.querySelector('.avatar_icon img'),
                tooltipClass: 'feed',
                intro: "Click this button to quickly access your profile.",
                position: "left"
            },
        <% else %>
            {   element: document.querySelector('.avatar_icon img'),
                tooltipClass: 'feed',
                intro: "Click this button to quickly access your profile.",
                position: "left"
            },
            {   element: document.querySelector('.notification_popover'),
                tooltipClass: 'feed',
                intro: "This is your notification tool. Click this icon to see your notifications and continue scrolling down to see more.",
                position: "left"
            },
            {   element: document.querySelector('.add_wish_icon'),
                tooltipClass: 'feed',
                intro: "This is our wishing tool. Clicking this icon opens up a window that allows you to paste URLs of product pages from your favorite websites and add them directly to your wish lists.",
                position: "left"
            },
            {
              element: document.querySelector('.multitool'),
              tooltipClass: 'profile6',
              intro: 'This is your tools menu. It will appear on pages where you can perform extra functions.'
            },
            {   element: document.querySelector('.profile_popover'),
                tooltipClass: 'feed',
                intro: "This is your navigation tool. Click to see a drop down of all the pages you can view on Giftibly.com, including your settings.",
                position: "left"
            },
        <% end %>
        {   element: document.querySelector('.product-item:first-child'),
            tooltipClass: 'feed_tile',
            intro: "This is a tile, if you see someone’s picture and name right below it, that means it’s a wish they would love to have. If not, that means it’s just a cool gift idea that we wanted to show you.",
            position: "left"
        }
        ]
    }).start().onchange(function(e) {
        //Check if the parent has the position fixed
        if ( e.className == 'notification_popover' ) {
            $('#navbar_bottom').css({position: 'absolute'})
        }else if(e.className == 'avatar'){
            $('.introjs-continuebutton').remove();
            $('.introjs-button.introjs-donebutton').show();
            $('.introjs-tooltip').css('right', -145)
        }else if(e.className == 'product-item col-xs-6 col-sm-4 col-md-3 col-lg-2 fade-animate'){

            setTimeout(function(){
            $('.introjs-tooltipbuttons').append('<a class="introjs-button introjs-continuebutton" role="button" tabindex="0">Settings Page →</a>');
            $('.introjs-continuebutton').on('click', function(){
                $.ajax({
                    type     : 'GET',
                    url      : '/customer/pause?page=feed',
                    dataType : 'json',
                    encode   : true,
                    success  : function(data){
                        window.location.href = '/profile';
                    }
                })
            });
            },10)
        }
    }).onexit(function(){
        $('.navbar').css({position: ''})
        $('.avatar_icon').removeClass('disabled');
        $('.introjs-overlay').remove();
        $('body').css({position: 'inherit'});
    })
    //skip or click outside pause walkthrough
    $('.introjs-skipbutton').on('click', function(){
        $.ajax({
            type     : 'GET',
            url      : '/customer/pause?page=feed',
            dataType : 'json',
            encode   : true,
            success  : function(data){
            }
        })
    })

    }

    //Intro Walkthrough
    <% if @intro_active %>
        feed_walkthrough();
        $('body').css({position: 'fixed'});
    <% end %>

    $(document).on('click', '.tutorial', function(e){
        e.preventDefault();
        feed_walkthrough();
        $('body').css({position: 'fixed'});
    });
    var controller2 = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave"}});

    // build scene
    <% if browser.mobile? %>
        var offsetting = -145;
        var margin = -65;
    <% else %>
        var margin = -50;
        var offsetting = -170;
    <% end %>
    var scene2 = new ScrollMagic.Scene({triggerElement: ".feed_tabs", offset: offsetting})
                .setClassToggle('.feed_heading', 'shadow')
                .addTo(controller2);
    
    var tween = TweenMax.to(".feed_heading", .05, {'margin-top':margin});
    var scene3 = new ScrollMagic.Scene({triggerElement: ".feed_tabs", offset: offsetting})
                .setTween(tween)
                .addTo(controller2);

</script>
