<div class="hidden" id="multitool">
    <div class="popover-body">
        <div class="multitool_popover">
            <ul class="list-group nav">
                <li class="list-group-item">
                    <%= link_to 'Unlimited Gifts', unlimited_gifts_path %>
                </li>
                <li class="list-group-item">
                    <%= link_to 'Join Our Team', join_our_team_path %>
                </li>
                <li class="list-group-item legal">
                    <%= link_to 'Privacy Policy', privacy_policy_path %>
                </li>
                <li class="list-group-item legal">
                    <%= link_to 'Terms & Conditions', terms_path %>
                </li>
                <li class="list-group-item legal">
                    <%= link_to 'Community', community_path %>
                </li>
                <li class="list-group-item legal">
                    <%= link_to 'FAQ', faq_path %>
                </li>
                <li class="list-group-item legal">
                    <%= link_to 'Feedback', feedback_path %>
                </li>                
            </ul>
        </div>
    </div>
</div>