<div id="facebook_connect">
    <span class="close_facebook"><%= ion_icon('chevron-down') %></span>
    <% if current_customer.facebook_connected? %>
        <p>Please Accept the New &amp; Improved Facebook Access Agreement</p>
    <% else %>
        <p>Help your Friends find you by connecting to your Facebook account</p>
    <% end %>
    <%= link_to raw('<i class="icon icon-facebook-squared btn-social"></i>'), '#' %>
    <label class="checkbox-inline"><input id="don_show" type="checkbox">Do not show again</label>
</div>

<script>
    $('.close_facebook').click(function(){
        $('#facebook_connect').addClass('closed');
        $.post("/customer/fb-popup-session", { show: false }, function (data) {
          console.log(data.response);
        });
    });
    $('#facebook_connect a i').click(function(){
        $.post("/customer/fromfb", { show: true }, function (data) {
            });
        window.open("/customers/auth/facebook", "_self");                          
    });

    $("#don_show").change(function(event) {
        var checkbox = event.target;
        if (checkbox.checked) {
            //Checkbox has been checked
            $.post("/customer/fb-popup-db", { show: false }, function (data) {
            });
        } else {
            //Checkbox has been unchecked
            $.post("/customer/fb-popup-db", { show: true }, function (data) {
            });
        }
    });
</script>