<% content_for :head do %>
  <meta property="fb:app_id"       content="<%= Rails.application.config.facebook_api_id %>" />
  <meta property="og:type"         content="website" />
  <meta property="og:url"          content="<%= url %>" />
  <meta property="og:title"        content="<%= name %>" />
  <meta property="og:image"        content="<%= image %>" />
  <meta property="og:description"  content="<%= description %>" />
  <meta property="og:image:width"  content="640" />
  <meta property="og:image:height" content="442" />
<% end %>
