<%= form_for current_customer, url: profile_update_email_path, method: :patch, html: { data: { toggle: "validator"} , role: "form" } do |f| %>
    <div class="form-group text-center">
        <label for="email">Change Email Address</label>
     <%= f.email_field :email, class: "form-control input-lg", placeholder: "Enter Email", data: { error: "email missing" }, required: true %>
    </div>  
    <div class="form-group text-center top-20">
        <%= f.submit "Save Changes", class: "btn btn-md pull-right" %>
    </div>
<% end %>