<div class="modal share_modal center_modal fade" role="dialog" data-backdrop="static">
    <% if browser.mobile? %>
        <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <% end %>
    <div class="modal-dialog" role="document">
        <div class="share_container">
            <% if browser.mobile? %>
                <%= image_tag '/images/fallback/friends_mobile.png', alt: 'share_width_friends', class: "img-responsive" %>
            <% else %>
                <%= image_tag '/images/fallback/friends.png', alt: 'share_width_friends', class: "img-responsive" %>
            <% end %>
        </div>

        <div class="modal-content">

            <div class="modal-body">

                <h4 class="text-center">Invite your friends to Giftibly</h4>
                
                <div class="share_social text-center">

                    <!-- copy link -->
                    <%= link_to '#', class: "copy", data: {clipboard_action: "copy", clipboard_text: @share_register} do %>
                        <%= ion_icon("link") %>
                    <% end %>
                    <!-- social link -->

                    <%= link_to ion_icon("social-facebook"), "https://www.facebook.com/sharer/sharer.php?u=#{@share_url}", title: 'facebook share', target: '_blank' %>

                    <%= link_to ion_icon("social-twitter"), "https://twitter.com/intent/tweet?text=#{@name}&amp;url=#{@share_url}", title: 'twitter share', target: '_blank' %>

                    <%= link_to ion_icon("ios-email"), "mailto:?subject=" + current_customer.name +
"%20is%20inviting%20you...&body=Your%20friend%20is%20inviting%20you%20to%20share%20gift%20ideas%20on%20Giftibly.com%20", title: 'email' %>

                </div>

            </div>
        </div>
    </div>
</div>