//passes data to partial 
$('body').append('<%= escape_javascript(render partial: 'modal_share_profile', name: @name, share_url: @share_url, image_url: @image_url) %>');

if($(window).width() <=  480){
    $('.modal .closeBtn').click(function() {
        $(this).closest('.modal').addClass('hidemodal');
        var this_object = $(this).closest('.modal')
        setTimeout(function(){
            this_object.modal('hide');
        }, 400)
    });
}

if($(window).width() >  480){
   $(document).on('click', '.share_icon', function(){
       $('.center_modal .modal-dialog').css({'left':'0vw'});
       $('.center_modal .modal-dialog').css('opacity', '1');
   });
   $('body').on('click', '.center_modal[data-backdrop="static"]', function (e){
       if($(e.target).is('.modal')){
           $('.share_modal .modal-dialog').css('left', '30vw');
           $('.share_modal .modal-dialog').css('opacity', '0');
           var this_object = $(this)
           setTimeout(function(){
               this_object.modal('hide');
           }, 500)
       }
   });
}

//Opens Popup
$('.share_modal').modal(open);

//share changes meta property for facebook social
$(document).on('hidden.bs.modal', '.share_modal', function(){
  $('.share_modal').remove()
})

// Clipboard
clipboard = new Clipboard('a.copy');

$('a.copy').on('click', function(e){
	e.preventDefault();  
	$(this).tooltip({
		trigger: 'click',
		placement: 'right',
		title: 'Link Copied'
	})
})

//clipboard success
clipboard.on('success', function(e) {
	$('a.copy').tooltip('show');
	setTimeout(function(){
		$('a.copy').tooltip('hide');
	}, 1000);
});
