<div class="container-fluid body_wrap_notif">
    <div class="notification_container">
        <div class="notif_section_left">
            <h1 class="your_notif">
                Notifications for <span><%= current_customer.name %></span>
            </h1>
        </div>
        <%= link_to "Notification Settings", profile_view_path( anchor: 'notification' ), class: "notif_settings_text" %>
        <div class="notif_page_main_container">
            <div class="col-sm-12 notif_info_container">
                <div class="col-xs-7">
                    <div class="notif_page_left">
                        <% if current_customer.notifications.count == 0 %>
                            <div class="notif_day">
                              <h2>No Notifications</h2>
                            </div>
                        <% else %>
                            <% current_customer.paginate_notifications(1).each do |day, ray| %>
                                <div class="notif_day">
                                    <% if day == 0 %>
                                        <h2>Today</h2>
                                    <% elsif day == 1 %>
                                        <h2>Yesterday</h2>
                                    <% elsif day < 31 %>
                                        <h2><%= day.to_i %> days ago</h2>
                                    <% else %>
                                        <h2><%= ray.first.created_at.strftime("%B %d, %Y") %></h2>
                                    <% end %>
                                </div>
                                <ul class="messages notif_page">
                                    <% ray.each do |notification| %>
                                        <li data-notifid="<%= notification.id %>">
                                          <%= render 'shared/notifications/notification', notification: notification%>
                                        </li>
                                    <% end %>
                                </ul>
                            <% end %>
                        <% end %>
                    </div>
                    <% if browser.mobile? %>
                        <div class="loader notif">
                            <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
                        </div>
                    <% end %>
                </div>
                <% if !browser.mobile? %>
                    <div class="loader notif">
                        <i aria_hidden="true" class="icon ion-load-c spinner icon_center"></i>
                    </div>
                <% end %>
                <% if !browser.mobile? %>
                    <div class="col-xs-5 notif_section_right">
                        <div class="notif_page_right">
                            <div class="notif_connections">
                                <h2> <span id="pending-count"><%= current_customer.connection_requests.count %></span> Pending Connections</h2>
                            </div>
                            <div class="notif_users_container">
                                 <div class="users_container">
                                      <% if current_customer.connection_requests.count == 0 %>
                                          <div class="notif_page_user">
                                              <div class="no_requests"><p>No Requests to Show</p></div>
                                          </div>
                                      <% else %>
                                          <% if current_customer.connection_requests.count > 2 %>
                                              <div id="pending_slider" class="owl-carousel owl-theme">
                                                  <% current_customer.connection_requests.flatten.each do |connection| %>
                                                      <%= render partial: "shared/profile/connections/private_connections", locals: {connection: connection, pending_flag: true, notifications: "slide"} %>
                                                  <% end %>
                                              </div>
                                          <% else %>
                                              <% current_customer.connection_requests.flatten.each do |connection| %>
                                                  <%= render partial: "shared/profile/connections/private_connections", locals: {connection: connection, pending_flag: true, notifications: "no_slide"} %>
                                              <% end %>
                                          <% end %>
                                      <% end %>
                                 </div>
                             </div>
                            <div class="notif_connections">
                                <h2>People You Might Know</h2>
                            </div>

                            <div class="notif_users_container">
                                <div class="users_container">
                                    <% if current_customer.oauth_credentials.present? && current_customer.facebook_connected? %>

                                        <% if current_customer.facebook_friends.count == 0 %>
                                            <div class="notif_page_user">
                                                <div class="no_requests"><p>No Requests to Show</p></div>
                                            </div>
                                        <% else %>
                                            <% if current_customer.facebook_friends.count > 4 %>
                                                <div id="pymk_slider" class="owl-carousel owl-theme">
                                                    <% current_customer.facebook_friends.try(:each_slice, 2) do |a, b| %>
                                                        <div>
                                                            <%= render partial: "shared/profile/connections/connections", locals: {connection:  a, friend_flag: true, notifications: "slide"} if a.present? %>
                                                            <%= render partial: "shared/profile/connections/connections", locals: {connection:  b, friend_flag: true, notifications: "slide"} if b.present? %>
                                                        </div>
                                                    <% end %>
                                                </div>
                                            <% else %>
                                                <% current_customer.facebook_friends.each do |connection| %>
                                                    <%= render partial: "shared/profile/connections/connections", locals: {connection: connection, friend_flag: true, notifications: "no_slide"} %>
                                                <% end %>
                                            <% end %>
                                        <% end %>

                                    <% else %>
                                        <%= render partial: "shared/user_interaction/facebook_connect_button" %>
                                    <% end %>
                                </div>
                            </div>

                         </div>
                     </div>
                 <% end %>
             </div>
         </div>
    </div>
</div>

<!-- GIFT ASSISTANT BUTTON -->
<%= render partial: "shared/site/ga_button" %>


<script rel="nofollow" type="text/javascript">
    function lazy(){
        $('.lazy_banner').Lazy({
            effect: "fadeIn",
            effectTime: 800,
            threshold: 0,
            delay: 0
        });
    }
    lazy();

    $('#pending_slider').owlCarousel({
      loop: true,
      dots: true,
      nav: true,
      smartSpeed:400,
      navText : ["<i class='fa ion-ios-arrow-left'></i>","<i class='fa ion-ios-arrow-right'></i>"],
      onChange : function(){
          lazy();
      },
      responsive:{
        0:{
            items:1,
            dots: true,
            nav: false
        },
        992:{
            items:1,
            dots: true
        },
        1400:{
            items:2,
            dots: false
        }
      }
    });

    $('#pymk_slider').owlCarousel({
      loop: true,
      dots: true,
      nav: true,
      smartSpeed:400,
      navText : ["<i class='fa ion-ios-arrow-left'></i>","<i class='fa ion-ios-arrow-right'></i>"],
      onChange : function(){
          lazy();
      },
      responsive:{
        0:{
            items:1,
            dots: true,
            nav: false
        },
        992:{
            items:1,
            dots: true
        },
        1400:{
            items:2,
            dots: false
        }
      }
    });
   var notif_offset = -1000;
   var notif_page_number = 1;
   var notif_scroll = new ScrollMagic.Controller();
   //sets var for the url for pagination
   // build scene
   new ScrollMagic.Scene({triggerElement: ".loader.notif", offset: notif_offset})
   .addTo(notif_scroll)
   .on("enter", function (e) {
       if(e.scrollDirection == "FORWARD"){
           if (!$(".loader.notif i").hasClass("active")) {
               notif_page_number++;
               $(".loader.notif i").addClass("active");
               var infinite_notif_url = '/paginate/notifications?page='+ notif_page_number;
               $.ajax({
                   url: infinite_notif_url, //pagination url
                   type: 'GET',
                   success: function (data) {
                       $('.notif_page_left').append(html);
                       var count = (data.match(/notif_left/g) || []).length;
                       $(".loader.notif i").removeClass("active");
                       if (count < 12 && !$('.notif_info_container .no_more_items')[0]) { //if response does not contain html variable
                           <% if browser.mobile? %>
                               $('.loader.notif').after('<p class="no_more_items notif">No more items to show.</p>');
                           <% else %>
                               $('.notif_info_container .col-lg-7').after('<p class="no_more_items notif">No more items to show.</p>');
                           <% end %>
                           $('.no_more_items').fadeIn();
                       }

                        var timer;
                        $('.new_notif').closest('li').mouseenter(function() {
                            var notification_id = $(this).data('notifid');
                            var that = this;
                            timer = setTimeout(function(){
                                $.ajax({
                                    url:      '/notifications/mark-as-read',
                                    type:     'PATCH',
                                    data:     {
                                                  id: notification_id
                                              },
                                    dataType: 'json',
                                    success: function(data) {
                                        if(data['response'] == true) {
                                            $(that).find('.new_notif').fadeOut(function(){
                                                $(that).find('.new_notif').remove();
                                                var notif_number = parseInt($('.notifications-badge').text()) -1;
                                                if(notif_number <= 0){
                                                    $('.notifications-badge').fadeOut(400, function(){
                                                        $('.notifications-badge').remove();
                                                    });
                                                }
                                                else{
                                                    $('.notifications-badge').text(notif_number);
                                                }
                                            });
                                        }
                                    }
                                });
                            }, 300);

                        }).mouseleave(function() {
                            clearTimeout(timer);
                        });
                   },
                   error: function(){
                     console.log("Error");
                     $(".loader.notif i").removeClass("active");

                   }
               });
           }
       }
   });

    $(document).on('ready turbolinks:load', function() {
        <% if !(browser.mobile?) %>
            if($('.notif_page_user').length > 3){
                $('.users_container').css('max-height','none');
                var maxHeight = $(".users_container").height();
                $('.users_container').css('height','394px');

                $('.notif_expand_all').click(function(){
                    $(this).toggleClass('active');
                    if ($(this).hasClass('active')) {
                        $(this).text('Show Less');
                        $('.users_container').animate({height:maxHeight + 'px'});
                    }
                    else {
                        $(this).text('Expand All');
                        $(".users_container").animate({height:'394px'});
                    }
                });
            }
        <% else %>
            $('.users_container').css('max-height','none');
            var maxHeight = $(".users_container").height();
            $('.users_container').css('height','465px');

            $('.notif_expand_all').click(function(){
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $(this).text('Show Less');
                    $('.users_container').animate({height:maxHeight + 'px'});
                }
                else {
                    $(this).text('Expand All');
                    $(".users_container").animate({height:'465px'});
                }
            });
        <% end %>
    });
    var notif_number = parseInt($('.notifications-badge').text());
    var timer;
    $('.new_notif').closest('li').mouseenter(function() {
        var notification_id = $(this).data('notifid');
        var that = this;
        timer = setTimeout(function(){
            $.ajax({
                url:      '/notifications/mark-as-read',
                type:     'PATCH',
                data:     {
                              id: notification_id
                          },
                dataType: 'json',
                success: function(data) {
                    if(data['response'] == true) {
                        notif_number--;
                        $(that).find('.new_notif').fadeOut(function(){
                            $(that).find('.new_notif').remove();
                            if(notif_number <= 0){
                                $('.notifications-badge').fadeOut(400, function(){
                                    $('.notifications-badge').remove();
                                });
                            }
                            else{
                                $('.notifications-badge').text(notif_number);
                            }
                        });
                    }
                }
            });
        }, 300);

    }).mouseleave(function() {
        clearTimeout(timer);
    });
</script>
