html = '';

<% @notifications.each do |day, ray| %>
        	html+= '<div class="notif_day">'
            <% if day == 0 %>
              html+= '<h2>Today</h2>'
            <% elsif day == 1 %>
              html+= '<h2>Yesterday</h2>'
            <% elseif day < 31 %>
              html+= '<h2> <%=day.to_i %> days ago</h2>'
            <% else %>
              html+= '<h2> <%= ray.first.created_at.strftime("%B %d, %Y") %> </h2>'
            <% end %>
        	html+= '</div>'
        	html+= '<ul class="messages notif_page">'
            <% ray.each do |notification| %>
                  <% if ["connection_request", "connection_accepted", "followed"].include? notification.activity.activity_type %>
                    html+= '<li data-notifid="<%= notification.id %>"> <%= escape_javascript(render partial: "shared/notifications/connection", locals: { notification: notification }) %> </li>' 
                  <% elsif ["comment"].include? notification.activity.activity_type %>
                  	html+= '<li data-notifid="<%= notification.id %>"> <%= escape_javascript(render partial: "shared/notifications/comment", locals: { notification: notification }) %> </li>' 
                  <% elsif ["share", "shared_thing"].include? notification.activity.activity_type %>
                  	html+= '<li data-notifid="<%= notification.id %>"> <%= escape_javascript(render partial: "shared/notifications/share", locals: { notification: notification }) %> </li>'
                  <% elsif ["event_invitation", "event_response_yes", "event_response_maybe", "event_response_no"].include? notification.activity.activity_type %>
                    html+= '<li data-notifid="<%= notification.id %>"> <%= escape_javascript(render partial: "shared/notifications/event", locals: { notification: notification }) %> </li>'
                  <% elsif ["like"].include? notification.activity.activity_type %>
                  	html+= '<li data-notifid="<%= notification.id %>"> <%= escape_javascript(render partial: "shared/notifications/like", locals: { notification: notification }) %> </li>'
                  <% elsif ["purchase_gift_customer", "purchase_gift_guest"].include? notification.activity.activity_type %>
                    html+= '<li data-notifid="<%= notification.id %>"> <%= escape_javascript(render partial: "shared/notifications/present", locals: { notification: notification }) %> </li>'
                  <% end %>
            <% end %>
            html+= '</ul>'

<% end %>