<div class="profile_bg" style="background-image:url(<%= current_customer.banner.url %>)" title="<%= current_customer.username %> - Banner">
    <div class="profile_mask"></div>
    <div class="col-md-8 col-sm-8 name_city">
        <h2 class="name" data-user="<%= current_customer.name %>"><%= current_customer.name %></h2>
        <p class="birthday"><%= current_customer.birthday.strftime("%b, #{current_customer.birthday.day.ordinalize}") if current_customer.birthday.present? %></p>
        <p class="city"><%= current_customer.location %></p>
    </div>
</div>
<div class="main_avatar_container">
    <%= link_to image_tag(current_customer.avatar.profile.url, alt: current_customer.username + ' - Profile Image'), current_customer.username %>
</div>
<div class="parallax_container">
    <div class="tab_info">
        <div class="website_description col-lg-7 col-md-6 col-sm-8 col-xs-12">
            <div class="name_city">
                <h2 class="name" data-user="<%= current_customer.name %>"><%= current_customer.name %></h2>
                <p class="birthday"><%= current_customer.birthday.strftime("%b, #{current_customer.birthday.day.ordinalize}") if current_customer.birthday.present? %></p>
                <p class="city"><%= current_customer.location %></p>
            </div>
            <% if current_customer.website.present? %>
                <%= link_to current_customer.website, "http://#{current_customer.website}", class: "website", target: "_blank" %>
            <% end %>
            <% if !browser.mobile? %>
                <div class="bio_container">
                    <p class="bio"><%= current_customer.description %></p>
                </div>
            <% end %>
        </div>
    </div>

    <div class="container-fluid settings_container">

            <div class="col-md-3 col-xs-12 bottom-20 top-10">
                <div class="settings_menu_container">
                    <div class="edit_profile_menu">

                            <button type="button" class="btn dropdown-toggle visible-sm visible-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>Settings Menu</span>
                                <span class="icon_arrow"><%= ion_icon("arrow-down-b", aria_hidden: true) %></span>
                            </button>

                        <ul class="list-group nav-stacked pull-left">

                            <li class="list-group-item active"> 
                                <%= link_to 'Basic Account Info', '#info', data: { toggle: "tab" } %>
                            </li>

                            <li class="list-group-item"> 
                                <%= link_to 'Shipping Info', '#shipping', data: { toggle: "tab" } %>
                            </li>

                            <li class="list-group-item">
                                <%= link_to 'Notifications', '#notif', data: { toggle: "tab" } %>
                            </li>

                            <li class="list-group-item"> 
                                <%= link_to 'Social Connect', '#social', data: { toggle: "tab" } %>
                            </li>

                            <li class="list-group-item"> 
                                <%= link_to 'My Events', '#my-events', data: { toggle: "tab" } %>
                            </li>

                            <li class="list-group-item">
                                <%= link_to 'Deactivate Account', '#deactivate_account', data: { toggle: "tab" } %>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        <div class="col-md-9 col-sm-12 col-xs-12 bottom-20 top-10">

            <div class="tab-content" id="profile-tab-content">

                <div class="tab-pane active" id="info">
                    <%= render partial: "shared/profile/basic_info_form" %>
                </div>

                <div class="tab-pane fade" id="shipping">
                    <%= render partial: "shared/profile/shipping_info_form" %>
                </div>

                <div class="tab-pane fade" id="notif">
                    <%= render partial: "shared/profile/notifications_form" %>
                </div>

                <div class="tab-pane fade" id="social">
                    <%= render partial: "shared/profile/social_form" %>
                </div>

                <div class="tab-pane fade" id="my-events" style="min-height: 450px">
                    <%= render partial: "shared/profile/life_events_form" %>
                </div>

                <div class="tab-pane fade" id="deactivate_account">
                    <%= render partial: "shared/profile/advanced_form" %>
                </div>

            </div><!-- TAB CONTENT -->

        </div>

    </div>
</div>

<!-- Deactivate modal Partial -->
<%= render partial: "shared/modals/modal_deactivate" %>

<!-- Deactivate modal Partial -->
<%= render partial: "shared/modals/modal_create_basket" %>

<!-- Change Email modal Partial -->
<%= render partial: "shared/modals/modal_change_email" %>

<!-- GIFT ASSISTANT BUTTON -->
<%= render partial: "shared/site/ga_button" %>

<script rel="nofollow" type="text/javascript">	
    
    if($(window).width() >  480){
        var maxHeight = $(".bio").height();
        if(maxHeight > 40){
            $(".bio_container").after( '<div id="toggle" class="fade-animate">Show More <i aria_hidden="true" class="icon ion-chevron-down"></i></div>' );
            $("#toggle").click(function() { //show more/show less
                $("#toggle").toggleClass('active');
                if ($('#toggle').hasClass('active')) {
                    $("#toggle").html('Show Less <i aria_hidden="true" class="icon ion-chevron-up"></i>');
                    $(".bio_container").animate({height:maxHeight + 'px'});
                }
                else {
                    $("#toggle").html('Show More <i aria_hidden="true" class="icon ion-chevron-down"></i>');
                    $(".bio_container").animate({height:'40px'});
                }
            });
        };
    }

   
    //enable all tabs 
    function revertTab(){
        $('.edit_profile_menu ul li').each(function(){
        $(this).removeClass('disabledTab');
        })  
    }  

    //On window Resize less than 992 add dropdown  
    $(window).on('resize', function(){
        if ($(window).width() <=  992 ) {
            return $('.edit_profile_menu').addClass('dropdown btn-group'), $('.edit_profile_menu ul').addClass('dropdown-menu fade');
        }else{
            $('.edit_profile_menu').removeClass('dropdown btn-group');
            $('.edit_profile_menu ul').removeClass('dropdown-menu fade');
        }
	});

	//On window less than 992 Automatic Dropdown

	if ($(window).width() <= 992) {
        $('.edit_profile_menu').addClass('dropdown btn-group'), $('.edit_profile_menu ul').addClass('dropdown-menu fade');
	}else{
		$('.edit_profile_menu').removeClass('dropdown btn-group');
		$('.edit_profile_menu ul').removeClass('dropdown-menu fade');
	}
    
    $('.edit_profile_menu li').click(function(){
        $('.edit_profile_menu li').removeClass('active');
    });


    $(document).on('turbolinks:load', function() {  
        //if hash from link
        if(window.location.hash) {
          $('ul.nav-stacked a[href="' + window.location.hash + '"]').tab('show');
        }
        //hash changed in address bar
        $(window).on('hashchange', function(e) {
          $('ul.nav-stacked a[href="' + window.location.hash + '"]').tab('show');
        });
    });

  function settings_walkthrough(){
    $('.introjs-overlay').remove();
    introJs().setOptions({
        'hideNext': true,
        'doneLabel': 'Exit',
        'skipLabel': 'Exit',
        'scrollToElement': false,
        'keyboardNavigation' : true,
        steps: [
        { 
            intro: "These are your user settings. Here you can update your profile information, privacy, shipping settings and more…"
        },
        {
            element: document.querySelector('.col-md-3.col-sm-12.col-xs-12.bottom-20.top-10'),
            intro: "This is your settings menu. Click here to navigate through each of the settings available to you."
        },
        {   element: document.querySelector('.account_info_container'),
            intro: "These are some of your profile settings. You can set your profile to private here and only be seen by your Friends on giftibly, or leave it public so you can get gifts from everyone! You can always make specific baskets private later.",
        },
        {
            element: document.querySelector('#shipping_info'),
            intro: "On the shipping page, you can update your address. Make sure it’s always up to date. We keep it secret for you and make sure your gifts still arrive at the right place.",
        },
        {
            element: document.querySelector('#notifications-form'),
            intro: "Connect some of your favorite social networks on this page. Connect two or three to make sure you can login to Giftibly from nearly anywhere, even if you forget your password.",
        }
        ]
    }).start().onbeforechange(function(e) {
        if (this._currentStep === 0 || this._currentStep === 1 || this._currentStep === 2) {
            $('.tab-pane').removeClass('active');
            $('.tab-pane').addClass('fade');
            $('#info').removeClass('fade');
            $('#info').addClass('active');
            $('.edit_profile_menu li').removeClass('active');
            $('.edit_profile_menu li:nth-child(1)').addClass('active');
        }
        else if (this._currentStep === 3) {
            $('.tab-pane').removeClass('active');
            $('.tab-pane').addClass('fade');
            $('#shipping').removeClass('fade');
            $('#shipping').addClass('active');
            $('.edit_profile_menu li').removeClass('active');
            $('.edit_profile_menu li:nth-child(2)').addClass('active');
            $('.introjs-continuebutton').remove();
            
        }
        else if (this._currentStep === 4) {
            $('.tab-pane').removeClass('active');
            $('.tab-pane').addClass('fade');
            $('#social').removeClass('fade');
            $('#social').addClass('active');
            $('.edit_profile_menu li').removeClass('active');
            $('.edit_profile_menu li:nth-child(4)').addClass('active');
            
            setTimeout(function(){
                $('.introjs-tooltipbuttons').append('<a class="introjs-button introjs-continuebutton" role="button" tabindex="0">Profile Page →</a>');
                $('.introjs-continuebutton').on('click', function(){
                    $.ajax({
                        type     : 'GET',
                        url      : '/customer/pause?page=settings',
                        dataType : 'json',
                        encode   : true,
                        success  : function(data){
                            window.location.href = "/<%= current_customer.username %>";
                        }
                    })
                });
            },10)
        }
        
    }).onchange(function(e) {
        if (e.className == 'col-md-3 col-sm-12 col-xs-12 bottom-20 top-10') {
           $('.edit_profile_menu ul li').each(function(){
               if ($(this).hasClass('active')) {$(this).removeClass('disabledTab')}else{ $(this).addClass('disabledTab')}
           })
        }
    }).onexit(function(){
        $('.introjs-overlay').remove();
        $('.ga_button').css('transition', 'inherit').fadeIn();
    })
    //skip or click outside pause walkthrough
    $('.introjs-skipbutton').on('click', function(){
        $.ajax({
            type     : 'GET',
            url      : '/customer/pause?page=settings',
            dataType : 'json',
            encode   : true,
            success  : function(data){
            }
        })
    })

  }
  
  //Intro Walkthrough 
  <% if @intro_active %>
    settings_walkthrough()
  <% end %>

  $('body').on('click', '.tutorial', function (e) {
    e.preventDefault();
    settings_walkthrough();
  })

    // init controller
    var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave", duration: "100%"}});
    if($(window).width() >  768){
        // build scenes
        new ScrollMagic.Scene()
            .setTween(".name_city", {y: "-300", ease: Linear.easeNone})
            .addTo(controller);
    }
    new ScrollMagic.Scene()
        .setTween(".profile_bg", {y: "300", ease: Linear.easeNone})
        .addTo(controller);
    
    

    var offsetting = -71;
    
    var controller2 = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onLeave"}});
    
    var tween = TweenMax.to(".navbar", .05, {className: "-=profile_nav"});
    new ScrollMagic.Scene({triggerElement: ".parallax_container", offset: offsetting })
        .setTween(tween)
        .addTo(controller2);

</script>
