@import "admins/custom";
@import "admins/tables";
#admin_body{
    .navbar-nav{
        a{
            color: $dark-grey;
            text-decoration: none;
        }
    }
}
#admin_site{
    padding: 25px 0 35px 0;
    background: #fff;
    overflow: hidden;
    & > .container{
        background: none;
        margin-bottom: 0;
        height: 100%;
    }
    h3{
        text-align: center;
        color: $dark-grey;
        margin-bottom: 20px;
    }
    min-height: calc(100vh - 72px);
}

#admin_container{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    .cart_item{
        display: block;
        overflow: hidden;
        margin-bottom: 30px;
        padding: 20px;
        box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        img{
            border-radius: 6px;
        }
        .btn{
            @include button(14);
            padding: 10px;
        }
    }
    .update-merchant-cart-toggle, .shipping_complete{
        @include button(16);
        padding: 10px 25px;
    }
}

#update-merchant-cart-modal{
    .btn{
        @include button(16);
        padding: 10px 25px;
    }
}

#admin_login_container{
    height: calc(100vh - 177px);
    & > div{
        background: #fff;
        overflow: hidden;
        padding: 35px;
        border-radius: 30px;
        max-width: 600px;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        .actions{
            width: -moz-min-content;
            width: -webkit-min-content;
            width: min-content;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
        .admin_login{
            @include button(14);
            padding: 10px 60px;
        }
    }
}

.ga_reports_container, .admin_dashboard_container, #feedback_container {
    background: #fff;
    padding: 35px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    p{
        color: $dark-grey;
        font-size: 14px;
    }
    h4{
        color: $dark-grey;
        margin-top: 100px;
        margin-bottom: 15px;
        &:first-of-type{
            margin-top: 35px;
        }
    }
}

.reports_text{
    text-align: center;
    color: $dark-grey;
    margin-bottom: 25px;
}
.ga_reports_container{
    .submit_button{
        @include button(14);
        margin: 50px 12px 0 auto;
        display: block;
        width: -moz-min-content;
        width: -webkit-min-content;
        width: min-content;
        padding: 10px 60px;
    }
    p{
        text-align: center;
    }
    h4, h2{
        text-align: center;
    }
    &.brands{
        max-height: 500px;
        overflow: scroll;
    }
}
table tbody {
    display: block;
    max-height: 500px;
    overflow-y: scroll;
}
table thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
table{
    width: 100%;
    border-collapse: separate;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    thead{
        border-radius: 30px 30px 0 0;
        box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
        th{
            padding: 18px 10px;
            color: $dark-grey;
        }
    }
    th, td{
        text-align: center;
        padding: 10px;
        font-size: 14px;
    }
    tr td, tr th{
        &:nth-child(1){
            width: 10%;
        }
        &:nth-child(2){
            width: 10%;
        }
        &:nth-child(3){
            width: 45%;
        }
        &:nth-child(4){
            width: 10%;
        }
        &:nth-child(5){
            width: 15%;
        }
        &:nth-child(6){
            width: 10%;
        }
    }
    tbody{
        tr{
            transition: .3s;
            &:hover{
                background: #f2f2f2;
            }
            td{
                border-bottom: 1px solid #f2f2f2;
                font-weight: 400;
            }
            &:last-of-type{
                td{
                    border-bottom: none;
                }
            }
            
        }
    }
    &.reported_issue_table{
        tr td, tr th{
            &:nth-child(1){
                width: 10%;
            }
            &:nth-child(2){
                width: 10%;
            }
            &:nth-child(3){
                width: 30%;
            }
            &:nth-child(4){
                width: 10%;
            }
            &:nth-child(5){
                width: 15%;
            }
            &:nth-child(6){
                width: 10%;
            }
            &:nth-child(7){
                width: 15%;
            }
        }
    }
}

#add_category{
    .category-name{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .letter_section{
        margin: 45px 0;
        overflow: hidden;
    }
    .letter_container{
        .letter{
            font-weight: bold;
            color: $dark-grey;
            text-align: center;
        }
        & > div{
            height: 300px;
            overflow: scroll;
            background: #f2f2f2;
            border-radius: 30px;
            padding: 10px 20px;
            margin-bottom: 30px;
        }
    }
    .form-upload{
        clear: both;
    }
}