// TODO
//.popover_animate{
//    -webkit-animation-name: popover_animate;
//	-webkit-animation-duration: .5s;
//	-webkit-animation-timing-function: ease-in-out;
//	-webkit-animation-fill-mode:both;
//}
//
//@-webkit-keyframes popover_animate {
//   0% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//    -webkit-transform: scale(1);
//  }
//}
.popover_animate_disable{
    -webkit-animation-name: popover_animate_disable;
	-webkit-animation-duration: .3s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode:both;
}

@-webkit-keyframes popover_animate_disable {
   0% {
    opacity: 1;
  }
   99%{
    opacity: 0;
    -webkit-transform: scale(1);
   }
  100% {
    -webkit-transform: scale(0);
  }
}

.overlay_animate{
    animation-name: overlay_animate;
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode:both;
}

@keyframes overlay_animate {
   0% {
    z-index: 9;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.like{
    i{
        animation-duration: .4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode:both;
    }
    &[data-likable="Merchant"] .heart_enable{
        animation-name: heart_enable_brand;
    }
    .heart_enable{
        animation-name: heart_enable;
    }
}
@keyframes heart_enable {
   0% {
    font-size: 25px;
  }
   50%{
    font-size: 27px;
  }
  100% {
    font-size: 25px;
  }
}

@keyframes heart_enable_brand {
   0% {
    font-size: 18px;
  }
   50%{
    font-size: 20px;
  }
  100% {
    font-size: 18px;
  }
}
.like{
    &[data-likable="Merchant"] .heart_disable{
        animation-name: heart_disable_brand;
    }
    .heart_disable{
        animation-name: heart_disable;
    }
}

@keyframes heart_disable {
   0% {
    font-size: 25px;
  }
   50%{
    font-size: 27px;
  }
  100% {
    font-size: 25px;
  }
}

@keyframes heart_disable_brand {
   0% {
    font-size: 18px;
  }
   50%{
    font-size: 20px;
  }
  100% {
    font-size: 18px;
  }
}
@media only screen and (max-width : 480px) {

    @keyframes heart_enable {
       0% {
        font-size: 23px;
      }
       50%{
        font-size: 25px;
      }
      100% {
        font-size: 23px;
      }
    }

    @keyframes heart_disable {
       0% {
        font-size: 23px;
      }
       50%{
        font-size: 25px;
      }
      100% {
        font-size: 23px;
      }
    }
}

.delete_button.active, .quantity_button.active, .mark_received_button.active{
    display: block;
    box-shadow: rgba(160,160,160,.5) 0px 1px 1px;
    animation-name: delete_button_active;
    @media only screen and (max-width : 480px) {
        animation-name: delete_button_active_mobile;
    }
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode:both;
}
@keyframes delete_button_active {
   0% {
    bottom: -45px;
  }

  100% {
    bottom: 15px;
  }
}

@keyframes delete_button_active_mobile {
   0% {
    bottom: -45px;
  }

  100% {
    bottom: 65px;
  }
}

.delete_button.inactive, .quantity_button.inactive, .mark_received_button.inactive{
    display: block;
    box-shadow: rgba(160,160,160,.5) 0px 1px 1px;
    animation-name: delete_button_inactive;
    @media only screen and (max-width : 480px) {
        animation-name: delete_button_inactive_mobile;
    }
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode:both;
}

@keyframes delete_button_inactive {
   0% {
    bottom: 15px;
  }

  100% {
    bottom: -45px;
  }
}

@keyframes delete_button_inactive_mobile {
   0% {
    bottom: 65px;
  }

  100% {
    bottom: -45px;
  }
}

.animate_rating{
    animation-name: animate_rating;
	animation-duration: .05s;
	animation-timing-function: ease-in-out;
	animation-fill-mode:both;
}

@keyframes animate_rating {
   0% {
    transform: scale(1);
  }
   50%{
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate_message{
    animation-name: animate_message;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode:both;   
}
@keyframes animate_message {
   0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.rated{
    animation-name: rated;
	animation-duration: .6s;
	animation-timing-function: ease-in-out;
	animation-fill-mode:both;
}
@keyframes rated {
   0% {
    transform: scale(1);
  }
   50%{
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.fade-animate{
    animation-name: fade-animate;
	animation-duration: .6s;
	animation-timing-function: ease-in-out;
	animation-fill-mode:both;
}

@keyframes fade-animate {
   0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.remove_checkout{
    animation-name: remove_checkout;
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode:both;
}

@keyframes remove_checkout {
   0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;    
  }
}

.add_checkout{
    animation-name: add_checkout;
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode:both;
}

@keyframes add_checkout {
   0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;    
  }
}
@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ga_button{
    animation-name: ga_button;
	animation-duration: .4s;
    animation-delay: .5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode:both;
}
@keyframes ga_button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ga_button.pulse{
    animation-delay: 0s;
    animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(116, 164, 157, .4);
  }
  40% {
      box-shadow: 0 0 0 30px rgba(116, 164, 157, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(116, 164, 157, 0);
  }
}


@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-4px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(4px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-4px);}
    20%, 40%, 60%, 80% {transform: translateX(4px);}
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
     -webkit-animation-duration: 4s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 4s;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
    -ms-animation-duration: 4s;
    -ms-animation-delay: 2s;
    -ms-animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 43%, 48% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(3px);
  }
} 

.bounce {
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: bounce;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
}

@keyframes toggle {  
    0% {
     opacity: 0;
    }
     100% {
     opacity: 1;
    }
}

//loading icon feed page
#loader, .loader{
    height: 50px;
    i{
        margin: 0 auto 50px auto;
    }
    position: absolute;
    width: 100%;
}
.loader{
    &.connections{
        bottom: 0;
        text-align: center;
    }
    &.basket, &.notif{
        bottom: 5px;
        left: 0;
        text-align: center;
    }
    &.notif_popover{
        height: 20px;
        position: relative;
    }
    &.total_wishes{
        i{
            display: block;
        }
        p{
            text-align: center;
            font-size: 14px;
            padding-top: 4px;
            color: $dark-grey;
        }
    }
}
#loader{
    margin-left: -55px;
    &.discover{
        margin-left: 0;
    }
}

.spinner{
    animation: spinner 2s infinite linear;
}

@keyframes spinner{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
#loader, .message_loader, .loader{
    i{
        color: $dark-grey;
        animation: spinner .8s infinite linear;
        display: none;
        margin: 10px auto 0 auto;
        font-size: 22px;
        &.active{
            display: block;
        }
    }
}
//loading icon cart
#loading-spinner{
    i{
        animation: spinner .8s infinite linear;
        margin-left: 5px;
        font-size: 22px;
    }
}

#facebook_connect{
    animation-name: facebook_slide_up;
    animation-duration: .5s;
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode:both;
}

@media only screen and (min-width : 481px) {
    @keyframes facebook_slide_up {
        0% {
            bottom: -140px;
        }
        100%{
            bottom: 0;
        }
    }
}
@media only screen and (max-width : 480px) {
    @keyframes facebook_slide_up {
        0% {
            bottom: -140px;
        }
        100%{
            bottom: 52px;
        }
    }
}

#facebook_connect.closed{
    animation-name: facebook_slide_down;
    animation-duration: .5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode:both;
}

@media only screen and (min-width : 481px) {
    @keyframes facebook_slide_down {
        0% {
            bottom: 0;
        }
        100%{
            bottom: -140px;
        }
    }
}
@media only screen and (max-width : 480px) {
    @keyframes facebook_slide_down {
        0% {
            bottom: 52px;
        }
        100%{
            bottom: -140px;
        }
    }
}

@media only screen and (min-width : 481px) {
    .modal{
        right: -490px;
    }
    .modal.in{
        animation-name: modal_slide;
        animation-duration: .4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode:both;
    }

    @keyframes modal_slide {
       0% {
        right: -490px;
      }

      100% {
        right: 0;
      }
    }
    .hidemodal.in{
        animation-name: hidemodal;
        animation-duration: .4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode:both;
    }

    @keyframes hidemodal {
       0% {
        right: 0;
      }

      100% {
        right: -490px;
      }
    }
}