/* ===========================================* |||||||||||||| ===========================================*/
/* =============================================*   BASKET   ============================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.two_tab_navigation{
    clear: both;
    background: #fff;
    padding: 15px 0 20px 0px;
    .tab_center{
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .two_tab_container{
        margin-left: auto;
        margin-right: auto;
        display: table;
    }
    #tab_one,#tab_two{
        display: inline;
        a{
            font-size: 18px;
            font-weight: bold;
            color: #ccc;
            display: inline;
            text-align: center;
            text-decoration: none;
            padding: 0 15px;
            font-weight: bold;
            border-bottom: none;
            transition: .3s;
            &.active,&:hover{
                color: $dark-grey;
            }
        }
    }
}

.three_tab_navigation{
    clear: both;
    background: #fff;
    padding: 0 0 30px 0;
    .tab_center{
        float: none;
        margin: 0 auto -20px auto;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        & > div{
            display: inline;   
        }
        #tab_one{
            padding-right: 25px;
        }
        #tab_three{
            padding-left: 25px;
        }
    }
    .giftibly{
        padding-right: 20px;
    }
    #tab_one,#tab_two,#tab_three{
        a{
            font-size: 18px;
            font-weight: bold;
            color: #ccc;
            display: inline;
            text-align: center;
            text-decoration: none;
            transition: .3s;
            &.active,&:hover{
                color: $dark-grey;
            }
        }
    }
}



#style_override{
    .basket_name{
        margin-top: 0px;
    }
}

.basket_page_products{
    margin-top: 60px;
    .products{
        z-index: 0;
    }
}

/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================*   ALL BASKET PAGES   =====================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.basket_bg{
	background: url(/images/bg_basket/banner_image.jpg) no-repeat 0 0;
	background-position: center center;
	background-size: cover;
	min-height: 400px;
    height: 400px;
	position: relative;
    width: 100vw;
    &:before{
        content:"";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
    }
    &.on{
        &:before{ background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1.2) 100%); }
    }
    .title{
        bottom: 5px;
        padding-left: 245px;
        position: absolute;
        .title_name{
            color: #fff;
            margin-bottom: 0px;
            font-size: 20px;
            text-transform: capitalize;
            font-weight: bold;
            .like{
                color: #fff;
                font-size: 15px;
                margin-left: 10px;
                position: relative;
                top: -1px;
                text-decoration: none;
            }
        }
    }
    .info{
        float: right;
        position: absolute;
        bottom: 5px;
        right: -10px;
        display: none;
    }

    .edit_banner_btn{
        top: 50%;
        left: 50%;
        font-size: 38px;
        color: #fff;
        position: absolute;
        display: none;
    }
}

.basket_container{
    .tab-content{
        padding: 0 55px;
    }
    .tab_info{
        padding: 0 10px 10px 260px;
        .title{
            h2{
               margin: 5px 0;
               font-size: 20px;
               font-weight: bold;
            }
            .like{
                color: $dark-grey;
                margin-left: 10px;
                font-size: 16px;
                position: relative;
                top: -1px;
            }
        }
        .description{
            color: $dark-grey;
            font-size: 14px;
        }
        .link{
            color: $charity-basket-purple;
        }
    }
    .tab_heading_right{
        margin-top: 5px;
        .like{
            color: #939393;
            font-size: 25px;
            position: relative;
            top: 5px;
        }
    }
}

.tab_full_width.edit_basket_container{
    padding-bottom: 30px;
    form {
        input[type=submit]{
            @include button(14);
            border: none;
            padding: 7px 20px;
        }
        label{ 
            font-weight: 400;
            font-size: 14px;
            &[for="privacy"]{
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
        a{
            color: #5d5d5d;
            outline: none;
            margin-right: 10px;
        }
    }
    .basket_privacy{
        -moz-width: max-content;
        -webkit-width: max-content;
        width: max-content;
        margin: 0 auto 30px auto;
        i{
            margin-left: 2px;
            font-size: 15px;
            color: #777;
        }
    }
}

.no_gifts{
    height: 34vh;
    position: relative;
    p{
        text-align: center;
        color: $dark-grey;
        font-size: 16px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20%;
        margin: auto;
        a{
            color: $link-color-3;
        }
    }
}

/* ===========================================* |||||||||||||| ===========================================*/
/* =====================================*   LIFESTYLE BASKET PAGE   =====================================*/
/* ===========================================* |||||||||||||| ===========================================*/

#lifestyle_basket{
    .tab_heading_right{
        .info{
            div{
                padding: 0 15px;
            }
        }
    }
}

/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================*  EVENT BASKET PAGE   =====================================*/
/* ===========================================* |||||||||||||| ===========================================*/

#events_container{
    #discussion{
        .reply_comment{
            color: $event-basket-blue;
        }
    }
    #tab_one,#tab_two,#tab_three{
        a{
            font-weight: bold;
            border-bottom: none;
            color: #ccc;
            transition: .3s;
            &.active, &:hover{
                color: $dark-grey;
            }
        }
    }
    .info{
        div{
            p{
                &:first-of-type{
                    color: $event-basket-blue;
                }
            }
        }
    }
    .three_tab_navigation{
        padding: 0 0 30px 0px;
        #tab_one,#tab_two,#tab_three{
            a{
                padding: 0 10px;
            }
        }
    }
    
    #map {
        border-radius: 30px;
        width: 66.6666666667%;
        margin: 0 auto 15px auto;
        background-color: #fff;
        height: 300px;
        .gm-style{
            & > div:nth-child(2){
                margin-left: 10px !important;
            }
            & > div:last-of-type {
                margin-right: 25px !important;
            }
        }
    }
}

.event_content{
    margin-top: 15px;
    padding: 0;
}

.event_details{
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    overflow: hidden;
    border-bottom: 1px solid $event-basket-blue;
    background: #fff;
    border-radius: 0;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    .details_container{
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        display: table;
        padding: 20px 0px
    }
    .left_details{
        float: left;
        padding-right: 10px;
        border-right: 3px solid $event-basket-blue;
        margin-right: 20px;
        padding-bottom: 20px;
        margin-top: 5px;
        
        p{
            color: $dark-grey;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 0px;
            &:first-of-type{
                margin-bottom: -3px;
            }
            span{
                margin-left: 2px;
            }
        }
    }
    
    .right_details{
        margin-top: 11px;
        float: left;
    }
    
    .event_details_p{
        padding: 0px;
        margin-left: 69px;
        margin-top: 3px;
        p{
            margin-bottom: 0px;
        }
    }
    
    
    h1{
        font-size: 24px;
        font-weight: bold;
        color: $dark-grey;
        margin-top: 0px;
    }
	h3{
        margin-top: -2px;
        margin-bottom: 5px;
        font-size: 16px;
		color: #474645;
	}
	address{
		margin-bottom: 5px;
		text-decoration: underline;
		color: #474645;
		font-size: 16px;
        font-weight: 300;
	}
	.host{
		font-size: 16px;
        font-weight: bold;
		color: $event-basket-blue;
		display: block;
        
        a{
            color: #5f9fd6;
            text-decoration: none;
        }
        span{
            color: #939393;
        }
	}
	p{
        font-size: 15px;
		margin-bottom: 20px;
	}
}
.event_photo{
    margin: 0 auto 15px auto;
    float: none;
    padding: 10px 0;
    background: #f2f2f2;
    border-radius: 30px;
    overflow: hidden;
    p{
        color: $dark-grey;
        font-size: 20px;
        font-weight: bold;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    button{
        @include button_custom(14, $event-basket-blue);
        padding: 7px 15%;
        margin-bottom: 15px;
    }
}
.guest_list{
    margin: 0 auto 30px auto;
    float: none;
    padding: 0px;
    overflow: hidden;
    .tab_container{
        float: left;
        padding: 20px 20px 20px 0;
    }
    .guest_list_text{
        clear: both;
        color: $dark-grey;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
        text-align: center;
    }
    
    .event_no_items{
        text-align: center;
        margin-top: 12vh;
        color: #7a7878;
        font-size: 14px;
        width: 100vw;
        margin-left: -220px;
    }

    .guest_list_menu {
        .list-group-item{
            background: none;
            border: none;
            font-size: 18px;
            padding: 0px;

            span:first-child{
                display: block;
                font-size: 24px;
                color: $event-basket-blue;
            }
            span:last-child{
                position: relative;
                top: -10px;
                font-size: 14px;
                color: #bfbebe;
            }
            
            &.active{
                span{
                    color: #4c4c4c;
                }
            }

            a{	text-align: center;
                color: #999;
                &:hover{
                    color: $dark-grey; 
                    text-decoration: none;
                }
            }
        }

        .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
            background: none; 
            a{
                color: $dark-grey; 
                font-weight: 400;
                text-decoration: none;
            }
        }

        .dropdown-menu > li > a{
            color: inherit !important; 
        }
    }

    .guest_list_container{
        margin: 40px 0;
        overflow: hidden;
        .tab-content{
            padding: 0px;
        }
        .tab-pane .col-md-3:nth-child(4n+1){
            clear: both;
        }
    }

    .guest{
        width: 130px;
        transition: all, ease, 0.3s;
        border-radius: 6px;
        padding: 10px;
        position: relative;
        .remove {
            position: absolute;
            top: 5px;
            right: 5px;
            background: #e96f57;
            color: #fff;
            transition: all, ease, 0.3s;
            padding: 2px 8px;
            font-size: 8px
        }
        .message{
            @include button_custom(13, $event-basket-blue, #fff);
            padding: 2px 20px;
            transition: all, ease, 0.3s;
        }
        .guest_name{
            display: block;
            color: $dark-grey;
            text-decoration: none;
            font-size: 14px;
            margin: 5px 0px;
        }
        img {
            margin: 0 auto;
            width: 50px;
        }
    }
}

.are_you_in_btn{
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    right: 37px;
    button{
        padding: 0;
        width: 184px;
    }
}

/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================*  CHARITY BASKET PAGE   ===================================*/
/* ===========================================* |||||||||||||| ===========================================*/

#charity_container{
    #discussion{
        .reply_comment{
            color: $charity-basket-purple;
        }
    }
    
    .tab_heading_right{
        .info{
            div{
                p{
                    &:first-of-type{
                        color: $charity-basket-purple;
                    }
                }
            }
        }
    }
    
    #tab_one, #tab_two{
        a{
            border-color: $charity-basket-purple;
        }
    }
    
    #donate{
        padding: 0 155px;

            form{
                /*display: none;*/

                .donate_amount p:first-child{
                    font-size: 18px;
                    color: #5d5d5d;
                    font-weight: normal;
                }
                .donate_amount p:last-child{
                    clear: both;
                    font-size: 18px;
                    margin-top: 5px;
                    color: #5d5d5d;
                    font-weight: normal;
                    span{
                        color: $charity-basket-purple;
                    }
                }

                div{
                    
                    .donate_amount div{
                        width: 300px;
                    }
                    label{
                        font-size: 16px;
                        color: #5d5d5d;
                        display: inline-block;
                        margin-right: 10px;
                        margin-top: 4px;
                        font-weight: normal;
                    }
                    input{
                        width: 100px;
                        background: #f3f3f3;
                        color: #716f6f;
                        transition: .3s;
                        display: inline-block;
                    }
                    .has-error{
                        color: #a94442;
                        margin-left: 10px;
                        font-size: 14px;
                        margin-top: 7px;
                    }
                }

                button{
                    @include button_custom(14, $charity-basket-purple);
                    padding: 10px 155px;
                    position: relative;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            .donate_description p{
                color: $dark-grey;
                font-size: 1em;
                font-weight: 300;
                text-align: justify;
                text-justify: inter-word;
            }

    }
    
}

/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================*  CASH BASKET PAGE   ===================================*/
/* ===========================================* |||||||||||||| ===========================================*/

#cash_container{
    .basket_bg{
        background: url(/images/bg_basket/cash-banner.jpg) no-repeat 0 0;
    }
    .tab_heading_right{
        .info{
            div{
                p{
                    &:first-of-type{
                        color: $cash-basket-green;
                    }
                }
            }
        }
    }
    
    #tab_one, #tab_two{
        a{
            border-color: $cash-basket-green;
        }
    }
    
    #discussion{
        .reply_comment{
            color: $cash-basket-green;
        }
    }
    
    #donate{
        padding: 0 155px;
        
        .tab_cash{
            padding: 20px 0;
            
            .cash_info{
                padding-bottom: 20px;
                p{
                    &:first-of-type{
                        font-size: 26px;
                        color: #4a4949;
                        font-weight: bold;
                    }
                }
                .cash_description{
                    font-size: 16px;
                    color: #4a4949;
                    padding: 0 10px;
                }
            }
            .has-error{
                input{
                    border-color: #a94442 !important;
                }
            }
        }
        
        .contribute_cash{
            overflow: hidden;
            .cash_img{
                img{
                    border-radius: 4px;
                    width: 100%;
                }
            }
            .cash_amount{
                padding-left: 30px;
                
                .enter_amount{
                    font-size: 18px;
                    color: #acabab;
                }
                form{
                    div{
                        span{
                            font-size: 16px;
                            color: #716f6f;
                            float: left;
                            margin-right: 10px;
                            margin-top: 4px;
                        }
                        input{
                            width: 100px;
                            background: #f3f3f3;
                            color: #716f6f;
                            transition: .3s;
                            float: left;
                        }
                        .has-error{
                            color: #a94442;
                            margin-left: 10px;
                            font-size: 14px;
                            margin-top: 7px;
                        }
                        .cash_process{
                            font-size: 12px;
                            padding-top: 5px;
                            a{
                                cursor: pointer;
                                color: #ce2d48;
                            }
                        }
                        label{
                            color: #716f6f;
                            font-size: 12px;
                            &:before{
                                 outline: none !important;
                            }
                            &:after{
                                background-color: $cash-basket-green;
                                color: #fff;
                                border-radius: 5px;
                                height: 17px;
                                width: 17px;
                            }
                        }
                    }
                    p{
                        clear: both;
                        font-size: 18px;
                        margin-top: 5px;
                        color: #716f6f;
                        span{
                            color: $cash-basket-green;
                        }
                    }
                    button{
                        color: #fff;
                        background: $cash-basket-green;
                        padding: 5px 20px;
                        font-size: 16px;
                        transition: .3s;
                        &:hover{
                            background: darken( $cash-basket-green, 10% );
                        }
                    }
                }
            }
        }
    }   
}
