/* ===========================================* |||||||||||||| ===========================================*/
/* =============================================*   BUTTONS   ============================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.cta{
    background: $main-teal;
	border-radius: 1px;
	color: #fff;
	&:hover, &:focus{
		color: #fff;
		background: darken($main-teal,5%);
	}
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.btn:focus,.btn:active, .nav .navbar-nav li a:focus, .nav .navbar-nav li a:active{
	outline: none !important;
}

.social-btn{
	font-size: 5em;
}


.event_banner_upload, .basket_banner_upload{
    @include button_custom(15, #d9d9d9, $dark-grey);
    border: 1px solid #999;
    padding: 10px 100px;
    font-weight: 300;
    i{
      color: $dark-grey;
    }
}

/* ===========================================* || BOOTSTRAP SWITCH || ===========================================*/
.bootstrap-switch span{
    font-weight: 300;
}
.bootstrap-switch-fb-switch{
	background: #3b5998; color: #fff;
}
.bootstrap-switch-linkedIn-switch{
	background: #0076b5; color: #fff;
}
.bootstrap-switch-googleplus-switch{
	background: #d23e1f; color: #fff;
}
.bootstrap-switch-twitter-switch{
	background: #1da1f2; color: #fff;
}
.bootstrap-switch-off-switch{
	background: $dark-grey; color: #fff;
}
.social-container{
    .icon-facebook-squared, .icon-linkedin-squared, .icon-gplus-squared, .icon-twitter-squared{
        background: #fff; 
        color: #999;
        transition: .5s;
        font-size: 4.5em;
        &:hover{
            color: lighten(#999,5%);
        }
    }
}

#profile-tab-content{
    .facebook_switch.btn-group{
        display: block;
        overflow: hidden;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        max-width: 100%;
        margin: 35px auto;
        button{
            border: 1px solid #3b5998;
            font-weight: 500;
            width: 200px;
            height: 45px;
            font-size: 13px;
            color: #aaaa;
            background: #fff;
            max-width: 50%;
            &.active{
                background-color: #3b5998;
                color: #fff;
                &:hover, &:active, &:focus{
                    background-color: darken(#3b5998, 5%);
                }
                
            }
            
            &:hover, &:active, &:focus{
                background-color: #3b5998;
                color: #fff;
            }
        }
        button:first-of-type{
            border-radius: 30px 0 0 30px;
            &:hover{
                border-right: 1px solid #fff;
                z-index: 3;
            }
        }
        button:last-of-type{
            border-radius: 0 30px 30px 0;
            &:hover{
                border-left: 1px solid #fff;
            }
        }
    }
}

/* ===========================================* || VERTICAL BUTTONS || ===========================================*/
.delete_button, .quantity_button, .mark_received_button{
    @include button(14);
    background-color: $delete-red;
    color: #fff;
    width: 180px;
    padding: 7px 0;
    position: fixed;
    bottom: -45px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 3;
    &:hover, &:focus, &:active{
        background-color: darken($delete-red, 5%);
    }
}
.quantity_button{
    background-color: $dark-grey;
    &:hover, &:focus, &:active{
        background-color: darken($dark-grey, 5%);
    }
}

.mark_received_button{
    background-color: $main-teal;
    &:hover, &:focus, &:active{
        background-color: darken($main-teal, 5%);
    }
}

.vertical_btn_container{
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 3;

    & > a{
        border-radius: 50px;
        background: #f3f3f3;
        box-shadow: 0px 1px 1px #a0a0a0;
        height: 40px;
        width: 40px;
        display: block;
        text-align: center;
        outline: none;
        z-index: 3;
        text-decoration: none;
        padding: 4px 0px;
        margin-bottom: 10px;
        transition: .3s;
        font-size: 18px;
        color: $dark-grey;
        i{
            font-size: 18px;
            display: block;
            color: $dark-grey;;
        }
        span{
            font-size: 7px;
            text-decoration: none;
            color: #5d5d5d;
            display: block;
        }
    }
    .ga_button{
        box-shadow: 0 0 0 rgba(204,169,44, 0.4);
        background: $main-teal;
        &:before{
            position: relative;
            top: 7px;
            color: #fff;
        }
    }
}

/* ===========================================* || SOCIAL SHARE BUTTONS || ===========================================*/

.social-share-button {
	display: inline-block;

  a &:hover, &:focus &:active{
  	text-decoration: none;
  }

}

.share_social{
	padding: 10px 15px;
    border-top: 1px solid #ddd;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
	a{
		font-size: 30px;
		color: $primary;
		margin-right: 18px;
		i{color: $primary;}
		&:hover{					
			text-decoration: none;
			i{color: $main-teal;}
		}
	}
}

.delete_basket{
    border-radius: 0px 8px;
    z-index: 2;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 3px 18px;
    color: #eee;
    text-decoration: none;
    transition: all, ease, 0.3s;
    background: #d9534f;
    font-size: 23px;
    &:hover, &:active, &:focus{
    	color: #eee;
    }
}
.rating, .user_rating{
    font-size: 14px;
    margin: -5px 0 10px 0;
    color: #cdcbc9;
    span{
        color: #5d5d5d;
    }
    i{
        font-size: 18px;
        color: #cdcbc9;
        &.active{
            color: $dark-grey;
        }
    }
}

.product-content-lower{
    .user_rating{
        margin: -4px 0 10px 0;
        i{
            font-size: 14px;
            &.active{
                color: $dark-grey;
            }
        }
    }
}

.rating{
    color: $dark-grey;
    i{
        padding: 0 1px;
        cursor: pointer;
        color: #cdcbc9;
        transition: .3s;
    }
    .active{
        color: $dark-grey;
    }
    .not_active{
        color: #cdcbc9;
    }
}
.rating_text{
    font-size: 12px;
    color: $dark-grey;
    margin-top: -10px;
}


/* ===========================================* || MY DROPDOWN || ===========================================*/

.dropdown{
    button{
        @include button_custom(12, #fff, $primary, bold);
        padding: 8px 42px;
        .icon_arrow{
            margin-left: 5px;
        }
    }
    .dropdown-menu{
        width: calc(100% - 90px);
        left: inherit;
        border-radius: 0 0 20px 20px;
        border-top: none;
        font-size: 12px;
        font-weight: bold;
        padding-bottom: 10px;
        margin: auto 12px;

        li{
            cursor: pointer;
            padding: 3px 12px;
            transition: .3s;
            font-size: 12px;
            &:last-child{
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
            }
            &:hover{
                background: #f1f1f1;
            }
            a { 
                padding: 3px 5px;
                i {
                    float: right;
                    font-size: 16px;
                    position: relative;
                    top: -3px;
                } 
            }
            a:active, a:hover, a:focus{
                background: transparent;
            }
        }
        .add_size{
            color: $main-teal;
            border-radius: 0 0 7px 7px;
        }
    }

    .dropdown-menu.fade {
      display: block;
      opacity: 0;
      pointer-events: none;
    }

}

.dropdown.open > .dropdown-menu.fade {
    pointer-events: auto;
    opacity: 1;
}


