/**
* GMAIL Like chat css
* CREDITS: http://css-tricks.com/replicating-google-hangouts-chat/
*
*/

.chatbox {
    position: fixed;
    min-width: 300px;
    width: 300px;
    right: 2%;
    bottom: 0px;
    border-radius: 30px 30px 0px 0px;
    background: #fff;
    z-index: 5;
    -webkit-box-shadow: -1px 5px 8px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 5px 8px rgba(0, 0, 0, 0.5);

    //header
    .chatboxhead {
        padding: 15px 15px 0 15px;
        min-height: 50px;
        width: 100%;
        background-color: $dark-grey;
        border-bottom: 1px solid #ddd;
        border-radius: 30px 30px 0 0;

        p{
            width: 320px;
            font-size: 14px;
            margin: 0px;
            color: #fff;
        }
    }
    .chatboxtitle {
        float: left;
        a{
            color: #fff;
            font-size: 14px;
            font-weight: 300;
        }
    }

    .chatboxtextarea{
        padding-right: 80px;
        height: 34px;
        resize: none;
    }

    .chatboxoptions {
        position: absolute;
        right: 27px;
        top: 15px;
        color: #fff;
        font-size: 15px;
    }

    .chatboxoptions a {
        text-decoration: none;
        color: white;
    }
    display: flex;
    flex-direction: column;

    ul{
        overflow-x: hidden;
        margin-bottom: 0;
        height: 230px;
        overflow-y: scroll;
        .group{
            overflow: hidden;
            margin-bottom: 5px;
            li{
               padding: 0 15px 0 15px;
               clear: both;
               position: relative;
               &:first-of-type{
                   margin-top: 12px;
               }
               & > img{
                   float: left;
                   width: 30px;
                   position: absolute;
                   top: 50%;
                   transform: translateY(-50%);
               }
                
               &:last-of-type{
                   &.other{
                       .bubble{
                            &:before{
                                content: "";
                                position: absolute;
                                z-index: -1;
                                bottom: -3px;
                                left: -50px;
                                height: 17px;
                                border-right: 60px solid #e8e8e9;
                                background: #e8e8e9;
                                -webkit-border-bottom-right-radius: 75px 70px;
                                -moz-border-radius-bottomright: 75px 70px;
                                border-bottom-right-radius: 75px 70px;
                                -webkit-transform: translate(0, -2px);
                                -moz-transform: translate(0, -2px);
                                -ms-transform: translate(0, -2px);
                                -o-transform: translate(0, -2px);
                                transform: translate(0, -7px);
                           }
                           &:after{
                                content: "";
                                position: absolute;
                                z-index: -1;
                                bottom: -0px;
                                left: -31px;
                                width: 64px;
                                height: 26px;
                                background: #fff;
                                -webkit-border-bottom-right-radius: 40px 50px;
                                -moz-border-radius-bottomright: 40px 50px;
                                border-bottom-right-radius: 40px 50px;
                                -webkit-transform: translate(-30px, -2px);
                                -moz-transform: translate(-30px, -2px);
                                -ms-transform: translate(-30px, -2px);
                                -o-transform: translate(-30px, -2px);
                           }
                       }
                   }
                   &.self{
                       .bubble{
                           &:before{
                               content: "";
                               position: absolute;
                               z-index: -1;
                               bottom: 0;
                               right: -69px;
                               height: 15px;
                               border-left: 76px solid #464646;
                               background: #464646;
                               -webkit-border-bottom-right-radius: 75px 70px;
                               -moz-border-radius-bottomright: 75px 70px;
                               border-bottom-left-radius: 74px 28px;
                               -webkit-transform: translate(0, -2px);
                               -moz-transform: translate(0, -2px);
                               -ms-transform: translate(0, -2px);
                               -o-transform: translate(0, -2px);
                               transform: translate(0px, -2px);
                           }
                           &:after{
                               content: "";
                               position: absolute;
                               z-index: -1;
                               bottom: 0px;
                               right: -76px;
                               width: 83px;
                               height: 26px;
                               background: #fff;
                               -webkit-border-bottom-left-radius: 100px 110px;
                               -moz-border-radius-bottomleft: 100px 110px;
                               border-bottom-left-radius: 100px 110px;
                           }
                       }
                   }
               }

               &.other{
                   .bubble{
                       background: #e8e8e9;
                       color: #585757;
                       margin-left: 44px;
                       margin-bottom: 1px;
                       position: relative;
                       top: -1px;
                   }
                    .message_image{
                        max-width: calc(100% - 45px);
                        height: auto;
                        max-height: 140px;
                        border-radius: 10px;
                        margin-left: 35px;
                        margin-bottom: 3px;
                   }
               }

               &.self{
                   .bubble{
                       clear: both;
                       float: right;
                       background: #464646;
                       color: #ededed;
                       margin-bottom: 1px;
                       position: relative;
                       top: -1px;
                   }
                   .message_image{
                        max-width: calc(100% - 45px);
                        height: auto;
                        max-height: 140px;
                        border-radius: 10px;
                        float: right;
                        margin-bottom: 3px;
            
                   }
               }

               .bubble {
                 padding: 5px 10px;
                 font-size: 12px;
                 position: relative;
                 max-width: 215px;
                 border-radius: 12px;
                  .message_image_desc{
                    display: block;
                    padding: 5px 0px;
                  }
               }
           }
       }



        li.other{
            float:left;
            .chatboxmessagecontent, .avatar{
                float: left;
            }
            .avatar{
                position: absolute;
                bottom: 0%;
                z-index: 1;
                img{
                    max-width: 30px;
                    border-radius: 100px;
                    position: relative;
                }
            }
        }
        li.self{
            float:right;
            .avatar{
              display:none;
            }
        }
    }




    .chatboxinput {
        background-color: #e8e8e9;
        border-top: 1px solid #ccc;
        padding: 7px;
        width: 100%;

        & > div{
            width: 100%;
        }

        /*a i, label i{
            font-size: 18px;
            color: #716f6f;
        }*/

        .wdt-emoji-picker{
          right: 35px;
        }

        .comment_adduser{
            position: absolute;
            z-index: 1;
            right: 72px;
        }
        .comment_addimage_btn{
          position: absolute;
          z-index: 1;
          right: 65px;
          bottom: 10px;
          color: #ccc;
        }
        .submit_message{
          position: absolute;
          z-index: 1;
          right: 15px;
          bottom: 10px;
          color: #ccc;
        }
    }
    .message_loader{
        margin: 10px auto;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
    }



}


.chatboxcontent .preview-container{
  display: none;
  padding: 10px 0;
  position: relative;
  height: 120px;
  width: 100%;
  overflow: hidden;
  img{
    height: 120px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .actions{
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 35px;
    text-align: center;
    a{
      color: #fff; 
      padding: 0px 10px;
    }
  }
  .overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 120px;
    top: 10px;
  }
}
