/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================* CHECKOUT STYLES ==========================================*/
/* ===========================================* |||||||||||||| ===========================================*/

@import "checkouts/show";
@import "checkouts/components/empty_cart";
@import "checkouts/components/sidebar";
@import "checkouts/components/cart_tab";
@import "checkouts/components/confirm_tab";
@import "checkouts/components/_accordion_shipping_options";
@import "checkouts/components/_accordion_payment";
@import "checkouts/components/_accordion_review";
@import "checkouts/components/_accordion_shipping_location";

@import "checkouts/custom";
@import "checkouts/stripe";

.cart_body_container{
  margin-top: 71px;
  overflow: hidden;

  span{
    color: $dark-grey;
  }

  p{
    color: $dark-grey;
  }

  .padded {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.fade {
   opacity: 0;
   -webkit-transition: opacity .35s linear;
      -moz-transition: opacity .35s linear;
       -ms-transition: opacity .35s linear;
        -o-transition: opacity .35s linear;
           transition: opacity .35s linear;
}

#style_override{
  .payment{
    .form-group{
      .form-control{
        /*border-color: #fff;
        box-shadow: none;*/
        height: 40px;
      }
    }
    
    #secure_payment_form .checkout_billing_address{
      input{
        border: 2px solid #e6e6e6;
      }
    }
  }
}
