.crop-upload{
    background-color: $main-teal;
    transition: .3s;
    &:hover{
        background-color: darken($main-teal, 5%);
    }
}
.crop_container{
    .original{
        font-size: 14px;
        margin-bottom: -7px;
    }
}