.comment_container{
    max-width: 900px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

    //PRODUCT

    .discussion_product{
        .product_title{
            padding: 15px 10px;
            background: #f2f2f2;
            border-radius: 4px 4px 0px 0px;
            h1{
                font-size: 18px;
                font-weight: bold;
                margin-top: 0px;
                color: $dark-grey;
                text-transform: capitalize;
                margin-bottom: 0px;
            }
        }
        .product_img_container{
            max-height: 400px;
            overflow: hidden;
            border-radius: 30px;
            .product_img_mask{
                width: calc(100% - 15px);
                height: 400px;
                position: absolute;
                top: 0;
                background: rgba(0,0,0,.08);
                border-radius: 30px;
                @media only screen and (max-width : 1200px) { width: calc(100% - 30px); }
            }
            img{
                border-radius: 30px;
                margin-left: auto;
                margin-right: auto;
                transition: .3s;
                &.active{
                    height: 400px !important;
                }
            }
        }
        .bottom_image_container{
            padding: 0 17px;
            h1{
                font-size: 18px;
                font-weight: 300;
                margin: 0;
                color: #5d5d5d;
                text-transform: capitalize;
            }
        }
        .show_full{
            font-size: 12px;
            margin-top: 10px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    /* ===========================================* |||||||||||||| ===========================================*/
    /* =======================================*   BASKET DISCUSSION   =======================================*/
    /* ===========================================* |||||||||||||| ===========================================*/

    .img_discussion{
        float: left;
        padding-right: 15px;
        img{
            width: 40px;
            border-radius: 100px;
        }
    }
    .start_new_discussion{
        background: #f5f5f5;
        padding: 45px 25px;
        border-radius: 30px;
        overflow: hidden;
        form{
            padding-left: 60px;
            width: 100%;
            .form-control{
                background: #fff;
                border: 1px solid #ddd;
            }
        }
    }

    .message_container{
        
        .delete_comment{
            float: right;
            opacity: 0;
        }

        .message_reply{
            padding: 3px 0px;
            margin-bottom: 10px;
        }
        .message, .message_reply{
            float: left;
            width: 100%;

            p{
                color: $dark-grey;
                font-size: 15px;
                margin-bottom: 0px;
                font-weight: 300;
                a{
                    color: $dark-grey;
                    font-weight: bold;
                }
            }
        }

        .message_stats{
            a{
                color: $dark-grey;
                font-weight: normal;
                font-size: 12px;
            }
            span{
                color: $dark-grey;
                font-size: 12px;
                font-weight: 300;
            }
            .reply{
                margin-right: 5px;
            }
        }

        .message_details{
            p span{
                color: $dark-grey;
                font-weight: bold;
            }
            &:hover,&:focus{
                .delete_comment{ 
                    opacity: 1;
                    transition: all, ease, 0.2s;
                }
            }
        }

    }

    .reply_container{
        overflow: hidden;
        display: block;
        width: calc(100% - 55px);
        float: right;
        margin: 10px 0px;
    }
    
    .event_comments{
        background: #f5f5f5;
        border-radius: 30px;
        padding: 25px;
        transition: .3s;
    }

    .comment_form, .event_comments form{

        float: left;
        width: calc(100% - 55px);
        margin-bottom: 15px;
        .wdt-emoji-picker{
            right: 45px;
        }
        .submit_comment{
            position: absolute;
            z-index: 1;
            right: 15px;
            top: 3px;
            bottom: 7px;
            color: #ccc;
            background: none;
            border: none;
            padding: 0;
            font-size: 22px;
        }
        .textarea-autosize{
            height: 35px;
            resize: none;
        }

    }

    .gift_actions{
        text-align: left;
        padding-left: 60px;
        a{
            display: inline-block;
            color: $dark-grey;
            text-align: center;
            margin-right: 5%;
            width: inherit;
            float: left;
            font-size: 25px;
            position: relative;
            top: -3px;
            &:last-of-type{
                margin-right: 0;
            }
            .ion-ios-paperplane{
                position: relative;
                top: -3px;
            }
            & i:hover{
                font-size: inherit;
            }
        }
        &.variant{
            a{
                &:nth-of-type(2){
                    position: inherit;
                }
            }
        }
    }

    .edit_gift{
        position: relative;
        padding-bottom: 30px;
        .submit_caption{
            position: absolute;
            z-index: 1;
            right: 15px;
            top: -20px;
            bottom: 7px;
            color: #ccc;
            background: none;
            border: none;
            padding: 0;
            font-size: 20px;
        }
    }

    .product_message form, .event_comments form{
        .form-control{
            background: #fff;
            padding-right: 70px;
        }
        .textarea-autosize {
          height: 35px;
          resize: none;
          padding-right: 45px;
        }
    }

    .reply_discussion{
        clear: both;
        width: 100%;
        display: block;
        overflow: hidden;
        padding-bottom: 15px;
        display: none;

        form{
            padding: 0px;
            width: 100%;
            display: block;
            margin-bottom: 0px;
            padding: 0px 15px;
            .form-control{
                background: #fff;
                padding-right: 70px;
            }
            .wdt-emoji-picker{
                right: 60px;
            }
            .submit_comment{
                position: absolute;
                z-index: 1;
                right: 30px;
                top: 3px;
                bottom: 7px;
                color: #ccc;
                background: none;
                border: none;
                padding: 0;
                font-size: 22px;
            }
            .textarea-autosize{
                height: 35px;
                resize: none;
            }
        }
    }
