#discover_body{
    margin-top: 40px;
    position: relative;
    &.discover{
        top: 145px;
    }
    &.discover_search{
        top: 55px;
        .feed_heading{
            position: initial;
            .discover_back{
                position: absolute;
                left: 20px;
                top: 5px;
                color: $dark-grey;
                i{
                    margin-right: 10px;
                }
            }
            .discover_banner{
                margin-top: 10px;
                max-height: 400px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
    }
    .feed_heading{
        h1{
            span{
                font-family: inherit;
            }
        }
    }
    .sort_nav{
        input{
            border-color: #ccc;
            border-radius: 30px;
            border-style: solid;
            border-width: 1px;
            box-shadow: none;
            color: #555;
            float: none;
            padding: 6px 12px;
            background: #f2f2f2;
            font-weight: 300;
        }
        li{
            &.search{
                min-width: 25%;
            }
            a{
                color: $dark-grey;
                font-weight: 300;
            }
        }
    }
    &.discover_search{
        .sort_nav{
            padding-top: 25px;
            z-index: 2;
            position: relative;
            background: #fff;
            & > ul{
                margin-bottom: 0;
                padding-bottom: 10px;
            }
        }
        #discover_feed{
            z-index: 2;
            position: relative;
            background: #fff;
        }
        
    }
    #discover_feed{
        padding: 0 20px;
        overflow: hidden;
        .brand{
            margin-bottom: 25px;
            max-height: 309px;
            .brand_image{
                position: relative;
                .mask{
                    background: rgba(0, 0, 0, 0.7);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .3s;
                    opacity: 0;
                    p{
                        color: #fff;
                        text-align: center;
                        font-size: 14px;
                    }
                }
                &:hover{
                    .mask{
                        opacity: 1;
                    }
                }
            }
            img{
                width: 100%;
                filter: brightness(90%);
                border-radius: 15px;
            }
            .brand_bottom{
                margin-top: 15px;
                & > span{
                    color: $dark-grey;
                    font-size: 14px;
                    &:first-of-type{
                        float: left;
                        margin-left: 10px;
                    }
                    &:last-of-type{
                        float: right;
                        margin-right: 10px;
                        a{
                            color: $dark-grey;
                            font-size: 18px;
                            text-decoration: none;
                            width: 23px;
                            height: 23px;
                            transition: .2s;
                            float: left;
                            position: relative;
                            top: -2px;
                            &:hover{
                                i{
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .deals_container{
            max-width: 1400px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            .deal_small{
                padding-left: 0;
            }
            .deal_large{
                padding: 0;
            }
            .deal{
                margin-bottom: 10px;
            }
        }
        .heart_logged_out{
            font-size: 18px;
            width: 23px;
            height: 23px;
            transition: .2s;
            float: left;
            position: relative;
            top: -2px;
        }
        .brand, .group_tile{
            opacity: 0;
        }
        .group_tile{
            .ellipsisIcon{
                left: 44%;
            }
        }
        
    }
}