a#error_report_toggle {
    display: none;
    position: absolute;
    right: 22px;
    z-index: 50;
    top: 63px;
    cursor: pointer;
    text-decoration: none;
    div{
        box-shadow: 0px 1px 1px rgba(0,0,0,.25);
        color: #5d5d5d;
        background: #fff;
        padding: 7px 16px;
        border-radius: 100px;
        i{
            font-size: 18px;
        }
    }
}
.gift_url {
    .col-md-3{
        min-height: 0;
    }
    #gift_url_form {
        margin-top: 7em;
        padding: 0 35px;
        float: left;

        h1{
            color: $dark-grey;
            text-align: center;
            font-size: 28px;
        }

        input {
            background: #fff;
            box-shadow: none;
            height: 40px;
            margin: 1em 0 1em;
        }

        #new_site_notification {
            display: none;
            padding: none;
            float: left;
            margin-bottom: 20px;
        }
        #urlHelpBlock{
            font-size: 14px;
        }
        button{
            @include button(18);
        }
    }
    
    #product_info_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 325px;
    }

    div.loading-spinner-container {
        text-align: center;

        #loading-spinner {
            display: none;
        }
    }

    div#add_gift_to_basket{
        float: left;
        display: none;
        width: 100%;

        div.image-container {
            display: none;
            height: 250px;
            position: relative;
            overflow: hidden;
            img {
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                float: none;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                max-height: 100%;
            }
            #img_mask{
                position: absolute;
                left: 0;
                right: 0;
                height: 100%;
                background: rgba(0, 0, 0, .08);
            }
        }

        div.product_info {
            text-align: center;
            background: #fff;
            display: block;
            padding: 0px 20px;

            #name {
                font-weight: bold;
                font-size: 16px;
            }

            #merchant {
                a:hover {
                    cursor: pointer;
                }
            }

            #description {
                display: block;
                margin: 0 0 1em;
                display: none;
            }

            #color_size {
                display: block;
                font-size: 1em;
            }
            #color, #size{
                display: none;
                color: $dark-grey;
                font-weight: bold;
                font-size: 16px;
            }

            #price {
                display: block;
                color: #333;
                font-size: 18px;
                font-weight: bold;
                display: none;
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }

        div#basket_list_container {
            border-top: 1px solid #b9b9b9;
            #input-search{
                width: calc(100% - 60px);
                margin-left: auto;
                margin-right: auto;
            }
            h5{
                color: $dark-grey;
                font-weight: bold;
                font-size: 16px;
            }

            div#basket_list {
                padding: 5px 0;
            }

            ul {
                height: calc(100vh - 502px);
                overflow-y: scroll;
                padding: 0;
                li {
                    list-style: none;
                    border-radius: 3px;

                    a {
                        padding: 8px 20px;
                        font-size: 14px;
                        cursor: pointer;
                        color: #333;
                        display: block;
                        transition: .3s;

                        i {
                            display: none;
                        }

                        &:hover {
                            background: #EEE;
                            text-decoration: none;
                            button {
                                display: inline-block;
                            }
                        }
                    }

                    a.checked {
                        button, i {
                            display: inline-block;
                        }
                    }

                    a.btn-success {
                        i {
                            display: inline;
                        }
                    }
                }
            }

            div#new_basket_container {
                padding: 12px 20px 8px;
                border-top: 1px solid #b9b9b9;
                input#new_basket_input {
                    border: none;
                    width: 50%;

                    &:focus {
                        outline: none;
                    }
                }
            }

            button {
                padding: 3px 0;
                width: 65px;
                margin-top: auto;
                margin-bottom: auto;
                border-radius: 30px;
                font-size: 13px;
                display: none;
                float: right;
               color: #fff;
                position: relative;
                top: -2px;
                background: $dark-grey;
                border: none;
            }

            button:not(.btn-success) {
                background: $dark-grey;
            }
        }

        #create_wish_button{
            display: none;
        }
        #add_notes_container{
            overflow: hidden;
            height: 30px;
            display: none;
            flex-direction: column;
            justify-content: center;
        }
        #add_notes_button {
            padding: 7px;
            color: $dark-grey;
            &:hover {
                cursor: pointer;
            }
        }

        #notes_inputs_container {
            display: none;
            input{
                width: 48%;
                float: left;
                background: none;
                box-shadow: none;
                color: #5d5d5d;
                font-weight: bold;
                font-size: 13px;
                height: 30px;
            }
            #item_color{
                margin-right: 10px;
            }
        }

        #create_wish_button, #add_another_url_button {
            background: $main-teal;
            border-radius: 0px;
            color: #fff;
            font-size: 16px;
            font-weight: 300;
            border: none;
            
        }

        div#added_to_basket_notification{
            display: none;
            float: left;
            width: 100%;
            #has_been_added{
                font-size: 14px;
                color: $dark-grey;
                margin-bottom: 0;
            }

            #notification {
                display: block;
                padding-bottom: 20px;
                font-size: 14px;

                ul {
                    padding: 0;
                }
                
                li {
                    list-style: none;
                    color: $dark-grey;
                    font-size: 14px;
                    font-weight: 300;
                    text-align: center;
                    a{
                        color: $dark-grey;
                        font-weight: bold;
                        &:hover{
                            color: $dark-grey;
                        }
                    }
                }
            }

        } 
    }

    a#cancel_error_report{
        display: none;
        &:hover {
            cursor: pointer;
        }
    }

    div#error_report_container {
        margin-top: 7em;
        padding: 0 15px;
        text-align: center;
        display: none;

        div#error_notification {
            display: none;
            #error_description{
                small{
                    color: $dark-grey;
                    font-size: 14px;
                }
            }
        }

        div#error_checklist {
            text-align: left;
            display: none;
            small{
                color: #aeaeae;
            }
            .checkbox{
                margin-bottom: 15px;
                span{
                    color: $dark-grey;
                }
            }
            #cancel_error_report_toggle{
                color: $dark-grey;
                cursor: pointer;
            }
        }

        div#error_submitted {
            display: none;
        }
        
        h3.error_text {
            display: none;
        }
        
        #create_report{
            width: 100%;
        }

        button{
            margin-top: 10px;
            @include button(18);
            background: $dark-grey;
            font-size: 15px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            &:hover, &:active, &:focus{
                background: darken($dark-grey, 5%);
            }
        }
    }
}
