/* ===========================================* || MODAL COLORS || ===========================================*/

.modal-color-white .modal-backdrop.in{
	opacity: .8 !important;
	background: #b1b1b1;
}

.modal-color-hombre .modal-backdrop.in{
	background-image: -moz-linear-gradient(99deg, #cc883d 0%, #d1c395 21%, #b7d0c4 30%, #549b95 87%, #62a39d 100%);
	background-image: -webkit-linear-gradient(99deg, #cc883d 0%, #d1c395 21%, #b7d0c4 30%, #549b95 87%, #62a39d 100%);
	background-image: -ms-linear-gradient(99deg, #cc883d 0%, #d1c395 21%, #b7d0c4 30%, #549b95 87%, #62a39d 100%);
	opacity: .95;
}

/* ===========================================* ||MODAL FADE ANIMATION || ===========================================*/

.modal-backdrop.fade.in {
    z-index: 1032;
    opacity: 0;
    background: rgba(0,0,0, .25);
}
.modal.fade .modal-dialog{
    transform: none !important;
}

.modal.fade:not(.center_modal) .modal-dialog {
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    position: absolute;
    right: 0;
    width: 480px;
    margin: 0;
    height: 100vh;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    overflow-x: hidden;
    overflow-y: hidden !important;
}

.modal.fade.in .modal-dialog {
	opacity: 1;
}


/* ===========================================* || MAIN MODAL STYLES || ===========================================*/
.modal .modal-content{
	border:none;
	background: none;
}

.modal{
    .closeBtn{
        @include close_btn;
    }
}
.modal-body{ 
    padding: 0; 
}

body.modal-open .modal.in {
	display: flex !important;
	align-items: center;
}

.fixed_modal{
    position: fixed;
    overflow: hidden;
    transition: all 1s;
}

.collapse{
    .back_close{
        position: absolute;
        left: 0;
        top: 25px;
        font-size: 14px;
        cursor: pointer;
        i{
            margin-right: 5px;
        }
    }
}

.modal-dialog{
    .easy-autocomplete-container{
        ul{
            border: 1px solid #ccc;
            border-radius: 0 0 25px 25px;
            border-top: none;
            padding-top: 18px;
            padding-bottom: 18px;
            width: 64%;
            margin: -4px auto 0 auto;
            li{
                &.selected{
                    background: #f1f1f1;
                }
                border: none;
                div{
                    font-weight: bold;
                    color: $dark-grey;
                }
            }
        }
    }
    .sharing_search{
        .easy-autocomplete-container{
            ul{
                width: 93%;
                margin: 1px auto 0 auto;
            }
        }
    }
}

.product_modal.modal.add_button_modal .modal-dialog{
    width: 500px;
}

.product_modal.modal, #share_modal{
    .image_container{
        height: 45vh;
        overflow: hidden;
        position: relative;
        &.banner{
            height: 25vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .mask{
            height: 100%;
            width: 100%;
            background: linear-gradient(rgba(0, 0, 0, .03) 0%, rgba(0, 0, 0, 0.2) 68%, rgba(0, 0, 0, 0.4) 88%, rgba(0, 0, 0, 0.5) 100%);
            z-index: 99999;
            position: absolute;
            div{
                &.gift{
                    left: 116px;
                    span:first-of-type{
                        margin: 0;
                    }
                }
                &.variant{
                    bottom: 10px;
                }
                position: absolute;
                bottom: 0;
                left: 15px;
                p{
                    color: #fff;
                    margin-bottom: 0;
                    &:first-of-type{
                        font-size: 16px;
                        padding-right: 20px;
                        font-weight: 500;
                    }
                    &:last-of-type{
                        font-size: 14px;
                        font-weight: 400;
                        span{
                            margin-left: 10px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        & > img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .avatar{
        position: absolute;
        z-index: 99999;
        margin-top: -50px;
        left: 10px;
        img{
            width: 100px;
            border: 2px solid #fff;
            border-radius: 100px;
            background: #fff;
        }
    }
    .owner_name{
        position: relative;
        left: 115px;
        font-size: 14px;
        top: 5px;
        color: $dark-grey;
        height: 20px;
        font-weight: 500;
    }
    .mask_preview{
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        & > div{
            padding: 0 20px;
        }
        &.banner{
            height: calc(75vh - 30px);
        }
        a{
            color: $main-teal;
        }
        p, span{
            color: $dark-grey;
            font-size: 14px;
        }
    }
}

.product_modal.modal{
    .modal-dialog {

        .tab-content{
            background: #fff;
            height: 100vh;
        }
	}

    .input-group-btn:first-child{
        border: 1px solid #b4b3b3;
        border-radius: 30px 0px 0px 30px;
        padding: 0px 5px 0px 10px;
        border-right: none;
    }
    .input-group-btn:last-child{
        border: 1px solid #b4b3b3;
        border-radius: 0px 30px 30px 0px;
        padding: 0px 5px 0px 10px;
        border-left: none;
    }
    .quantity_select{
        display: table;
        margin: auto;
        .default_dropdown{
            display: inline-block;
            position: inherit;
            button{
                font-weight: bold;
                font-size: 12px;
                border-radius: 30px;
                background: #fff;
                border:1px solid #ccc;
                box-shadow: none;
                padding: 7px 15px;
                width: 150px;
                .icon_arrow{
                    margin-left: 5px;
                }
            }
            .dropdown-menu{
                min-width: inherit;
                width: 115px;
                top: 77px;
                left: inherit;
                margin-left: 12px;
                border-radius: 0 0 20px 20px;
                border-top: none;
                font-size: 12px;
                font-weight: bold;
                padding-bottom: 10px;
                li{
                    cursor: pointer;
                    padding: 3px 0px 3px 12px;
                    transition: .3s;
                    &:hover{
                        background: #f1f1f1;
                    }
                }
                .add_size{
                    color: $main-teal;
                    border-radius: 0 0 7px 7px;
                }
            }
        }
        .dropdown-menu.fade {
          display: block;
          opacity: 0;
          pointer-events: none;
        }
        .open > .dropdown-menu.fade {
          pointer-events: auto;
          opacity: 1;
        }
    }
    .qty{
        padding: 5px;
        text-align: center;
        width: 40px;
    }
}

.product_modal.in{
	display: flex !important;
	align-items: center;
}


.modal-content{
	box-shadow: none;
}

.modal.product_modal{
	z-index: index($elements_zindex,modal);

	.modal-body{
		padding: 0px;
		.row{margin: 0;}
        .closeBtn{
            position: absolute;
            right: 5px;
            top: 0;
            color: #fff;
            cursor: pointer;
            font-size: 18px;
            outline: none;
            text-decoration: none;
        }
	}

	.modal-content{
		padding: 0;
	}
}

.modal-body{
	z-index: index($elements_zindex, modalBackdrop);
	-webkit-overflow-scrolling: touch;
}

.modal-dialog{
	overflow-y: initial !important;
}

/* ===========================================* || GEOCOMPLETE IN MODAL || ===========================================*/
.pac-container {
	z-index: 9999;
}



/* ===========================================* |||||||||||||| ===========================================*/
/* =====================================*  AVATAR/ BANNER UPLOAD MODAL ===================================*/
/* ===========================================* |||||||||||||| ===========================================*/

#messageUpload .modal-dialog {
	width: 65%;
	height: 64vh;

	.modal-content{
		border-radius: 0px;
		padding: 0px;
	}
	.dropzone{
		border: 2px dashed rgba(0, 0, 0, 0.3);
	}
	.dropzone_wrapper{
		overflow: auto;
		padding: 15px;
		background: #fff;
	}
	form{
		padding: 20vh 2%;
	}
	i{
		color: $dark-grey;
	}
	.btn{
		@include button(15);
		padding: 8px 50px;
	}
}

#event-upload, #charity-upload, #lifestyle-upload, #cash-upload{
    background: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
        
    .dropzone_wrapper{
        width: calc(100% + 30px);
        margin-left: -15px;
    }
}
#charity-template-container, #event-template-container, #lifestyle-template-container, #cash-template-container{
    margin: auto;
    width: 100px;
}
#avatarUpload .modal-dialog, #bannerUpload .modal-dialog, #eventsUpload .modal-dialog, #charity-upload, #event-upload, #lifestyle-upload, #cash-upload{
	.dropzone_wrapper{
        .dz-cr-image {
            width: 100%;
            img{
                width: 100%;
                max-height: 250px;
            }
        }
	}

	h2{
		font-weight: bold;
		color: $dark-grey;
        font-size: 23px;
        margin-top: 5px;
	}
    h3{
        margin-top: 30px;
        margin-bottom: 15px;
    }

	.dropzone{
        border: none;
	}
	.dropzone_drag_drop{
        font-size: 13px;
        color: $dark-grey;
        margin-bottom: 5px;
    }
	.dropzone_file_info{
        color: #afadad;
        font-size: 12px;
        span{
            display: inline;
            color: #afadad;
            font-weight: 500;
        }
    }
    .crop-container{
        .title{
            color: $dark-grey;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: -10px;
        }
        .reset span{
            font-size: 16px;
            position: relative;
            top: 2px;
        }
    }
	.dropzone-clickable{
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        margin: 75px auto 0 auto;
        & > p{
            font-size: 14px;
        }
	}
	form{
		padding: 15px 10px 0 10px;
		margin-bottom: -4px;
	}
	i{
		color: $dark-grey;
	}
    .description{
        color: $dark-grey;
		width: 70%;
		margin: auto;
		margin-bottom: 12px;
        font-size: 16px;
    }
	.dz-message{
        .dropzone_drag_drop{
            font-size: 14px;
            font-weight: bold;
			color: $dark-grey;
        }
	}

	.divider{
		width: 80%;
		margin: auto;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
	}

	.upload_directions{
		position: relative;
		top: 80px;
	}

	.default_banners{
        height: calc(100vh - 400px);
        overflow-y: scroll;
        img{
            margin-bottom: 10px;
        }
	}

    .btn-file{
        width: min-content;
        display: block;
        margin: 15px auto 10px auto;
        @include button(14);
        padding: 5px 30px;
    }
    .btn-group{
        a{
            color: #5d5d5d;
            border-radius: 6px;
            margin-right: 8px;
        }
        a:last-child{color: #FFF;}
    }
    .cropper_width, .cropper_height{
        color: #afadad;
        font-size: 12px;
    }

}

#avatarUpload{
    .modal-dialog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .dropzone-clickable{
            margin: -45px auto 0 auto;
        }
        i{
            font-size: 30px;
            line-height: 0px;
        }
    }
}

#avatarUpload, #eventsUpload, #bannerUpload{
    .modal-dialog{
        i{
            font-size: 30px;
            line-height: 0px;
        }
    }
}


/* ===========================================* |||||||||||||| ===========================================*/
/* ========================================*  BASKET PHOTO UPLOAD MODAL ==================================*/
/* ===========================================* |||||||||||||| ===========================================*/

#basket_photoUpload .modal-dialog{
	width: 66%;
	height: 62vh;
}



/* ===========================================* |||||||||||||| ===========================================*/
/* ========================================*  CREATE BASKET MODAL =====================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.create_modal.modal{
	background-color: rgba(255,255,255, 0);
	.modal-dialog {
        padding: 0 15px;
        .closeBtn{
            position: absolute;
            right: 5px;
            top: -10px;
            color: #fff;
            font-size: 18px;
            outline: none;
        }
	}
}

#charity{
    #modal_create_forms{
        margin-top: 19px;
    }
}

.createBasketMask{

    .create_basket_image{
        margin-bottom: 10px;
        position: relative;
        left: -15px;
        width: calc(100% + 30px);
        height: 30vh;
    }

    .default_banners img{
		border-radius: 0px;
		margin-bottom: 10px;
    }

    .basket-btn-group{
    	width: 100%;
    	margin: 10px 0px;
    	input{display: none;}
    }
    #modal_create_forms{
        .form-group, .input-group{
            margin-bottom: 10px;
        }
    }

    .btn-group > button{
    	border-radius: 30px !important;
    	width: 30%;
    	margin-right: 5%;
    	&:last-of-type{margin-right: 0;}
        padding: 3px 10px;
        @include button_custom(12, #969997);
    	&.lifestyle{
            &.active,&:hover{ background: darken($main-teal, 5%); }
        }
    	&.event{
            &.active,&:hover{ background: darken($event-basket-blue, 5%); }
        }
    	&.charity{
             &.active,&:hover{ background: darken($charity-basket-purple, 5%); }
        }
    	&.cash{
            &.active,&:hover{ background: darken($cash-basket-green, 5%); }
        }
    }

    .btn:active, .btn.active{
    	box-shadow: none;
    	outline: none;
    }


    div.form-group{
        color: $dark-grey;
        ::-webkit-input-placeholder {
            color: #999;
        }

    	.basket_name{
    		height: 35px;
    		font-size: 16px;
    		font-weight: normal;
    		text-align: left;
    		padding-left: 14px;
    	}

        .basket_description{
            resize:none;
            height: calc(100vh - 600px);
            text-align: left;
            padding-top: 15px;
            font-size: 14px;
            font-weight: 300;
            margin-top: 20px;
        }

    }

    p, label{
    	color: #999;
    }

    .modal_section label{
    	font-size: 15px;
        font-weight: normal;
        margin: 0;
    }

    p{
    	font-size: 13px;
        margin-bottom: 26px;
    }
    .form-group.checkbox label{
    	font-size: 13px;
        color: #999;
        font-weight: 300;
    }
    .checkbox input[type="checkbox"]:checked + label::before{
        background-color: $dark-grey;
        outline: none;
    }
    .checkbox label::before{
        outline: none !important;
    }
    .checkbox input[type="checkbox"]:checked + label::after{
        color: #fff;
    }

    .invite_section{
    	width: calc(100% + 30px);
        height: calc(70vh - 115px);
        margin-left: -15px;
    	margin-bottom: 10px;
        margin: 15px 0 10px -15px;
        .back_button{
            margin-left: 20px;
            margin-bottom: 15px;
            color: $dark-grey;
            font-size: 14px;
            cursor: pointer;
        }
    	.inner-addon {
    		position: relative;
    		width: 95%;
    		margin: auto;
    	}

    	.inner-addon .glyphicon {
    		position: absolute;
    		padding: 10px;
    		pointer-events: none;
    		top: 1px;
            left: 10px;
    		color: #888;
            z-index: 1;
    	}
    	input{ 
            padding-left:  45px;
            background: #fff;
        }

    	label{
			font-size: 18px;
            font-weight: bold;
			margin: 0 20px 20px 20px;
			display: block;
			color: #5d5c5c;
		}

		hr{
			border-color: #eee;
		}

		.list-unstyled{
			margin: 20px auto;
            height: calc(100% - 145px);
            overflow-y: scroll;
		}
		.list-group-item.selected{background: #eee;}
    	.list-group-item{
    		overflow: auto;
    		transition: all .3s;
    		font-size: 20px;
    		border: none;
            background: none;
            border-bottom: 1px solid #e1e1e1;
            cursor: pointer;
            &:first-of-type{
                border-radius: 10px 10px 0 0;
            }

    		img{
    			width: 35px;
                border-radius: 4px;
    			margin-bottom: 0;
    		}

    		span{
    			display: inline-block;
    			color: $dark-grey;
    			font-size: 16px;
                margin-left: 10px;
    		}
    		i{ top: 8px;
    			position: relative;
			}

    		&:hover{
    			background: darken(#f1f1f1, 5%);
    			a{
    				display: block;
    				cursor: pointer;
    			}
    		}
    	}
    }
    .basket_privacy{
        label{
            font-size: 12px;
            line-height: 20px;
            padding-left: 5px !important;
        }
        i{
            margin-left: 2px;
            font-size: 14px;
            color: #777;
        }
    }
}

.createBasketMask#lifestyle{
	.actions{
        margin-top: 17px;
        width: 100%;
        .btn{
            padding: 5px 12px;
            &:first-child{
                width: 65%;
                float: left;
            @include button_custom(14, lighten($main-teal, 15%));
            }&:last-child{
                width: 25%;
                float: right;
                @include button(14);
            }
        }
	}
}

/* ===========================================* || CASH SECTION MODAL || ===========================================*/
.createBasketMask#cash{
	.actions{
         margin-top: 62px;
		.btn{
            padding: 5px 12px;
            &:first-child{
                width: 65%;
                float: left;
                @include button_custom(14, lighten($cash-basket-green, 15%));
            }&:last-child{
                width: 25%;
                float: right;
                @include button_custom(14, $cash-basket-green);
            }
		}
	}
}

/* ===========================================* || EVENTS SECTION MODAL || ===========================================*/
.createBasketMask#event{
	.actions{
        margin-top: 17px;
		.btn{

            padding: 5px 12px;
            &:first-child{
                width: 65%;
                float: left;
                @include button_custom(14, lighten($event-basket-blue, 15%));
            }&:last-child, &:nth-child(2){
                width: 25%;
                float: right;
                @include button_custom(14, $event-basket-blue);
            }
		}
	}
    .radio-warning input[type="radio"]:checked + label::before{
        border-color: $event-basket-blue;
    }
    .radio-warning input[type="radio"]:checked + label::after{
        background-color: $event-basket-blue;
    }
}

/* ===========================================* || CHARITY SECTION MODAL || ===========================================*/
.createBasketMask#charity{
	.actions{
        margin-top: 17px;
		.btn{
            padding: 5px 12px;
            &:first-child{
                width: 65%;
                float: left;
                @include button_custom(14, lighten($charity-basket-purple, 15%));
            }&:last-child{
                width: 25%;
                float: right;
                @include button_custom(14, $charity-basket-purple);
            }
		}
	}
    .radio-warning input[type="radio"]:checked + label::before{
        border-color: $charity-basket-purple;
    }
    .radio-warning input[type="radio"]:checked + label::after{
        background-color: $charity-basket-purple;
    }
}






/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================*  PRODUCT MODAL  ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/


.product_comments{
	z-index: index($elements_zindex, product_comments);
	.row{margin: 0;}
    margin-top: 45px;
    padding: 0 5px;
	position: absolute;
	top:0%;
	left:0;
	right:0;
	bottom:0;
	border: none;
	/*overflow: auto;*/
	-webkit-overflow-scrolling: touch;
}




.product_modal_nav{
    padding: 0px;
    margin-top: 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    li{
        list-style-type: none;
        display: inline-block;
        padding: 0 15px;
        margin-right: 5px;
        font-weight: bold;
        font-size: 14px;
        a{
            &:hover{
                text-decoration: none;
            }
            color: #aeaeae;
            text-decoration: none;
        }
        &.active, &:hover{
            a{ color: $dark-grey;}
        }
    }
}

/* ===========================================*  PRODUCT ADD SECTION  ===========================================*/
.addtoBasketMask{


    .product_modal_add{

        label{ color: #939393; }

        label:first-child{
            display: block;
            font-size: 20px;
            font-weight: 500;
        }

        label:nth-child(2){
            margin: 10px 15px;
            margin-bottom: 13px;
            font-size: 20px;
            color: #716f6f;
            float: left;
        }

        .btn-default {
            color: #fff;
            background-color: #fff;
            border: #807d7e;
            background: #4e4e4d;
        }

        .input-group-btn{
            transition: .3s;
            &:active{
                background: #f1f1f1;
            }
        }

        .bootstrap-touchspin-up{
            margin-left: 5px;
            padding-left: 9px;
            padding-right: 7px;
            padding-bottom: 8px;
            border-radius: 3px;
            text-indent: -5px;
            width: 0px;
            height: 14px;
            font-size: 15px;
            line-height: 0px;
            right: 6px;
        }

        .bootstrap-touchspin-down{
            margin-right: 5px;
            padding-left: 9px;
            padding-right: 7px;
            border-radius: 3px;
            text-indent: -5px;
            width: 11px;
            height: 14px;
            font-size: 22px;
            line-height: 0px;
        }
    }


    .product_modal_size{
        margin-left: 30px;
        clear: both;
        li{
            cursor: pointer;
            transition: .3s;
            a{
                padding: 6px 2px;
            }
            &:active{
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            }
            &:hover{
                background: #f3f3f3;
                border-radius: 4px;
            }
        }
        li.active{
            background: #f3f3f3;
            border-radius: 4px;
        }
        span{
            margin-left: 4px;
            color: #6b6b6b;
        }
    }

    .form-control[name=search_baskets]{
        width: 70%;
        margin: 5px auto;
    }

    select{
        background: #fff;
    }


    .product_modal_baskets{ 
        overflow-y: scroll;
        margin-bottom: 0;
        &.baskets_feed{
            height: calc(55vh - 164px);
            &.gift{
                height: calc(55vh - 195px);
            }
        }
        span{
            margin-top: 7px;
            font-size: 14px;
            color: $dark-grey;
            font-weight: 400;
        }

        .list_basket{
            border: none;
            font-size: 20px;
            color: #6b6b6b;
            padding: 0px;
            &:hover{
                background: #f7f7f7;
            }

            a{
                padding: 15px;
                text-decoration: none;
                outline: none;
                display: block;
            }

            i{
                font-size: 12px;
                margin-left: 5px;
            }
            i.lifestyle_circle{
                color: $main-teal;
            }
            i.event_circle{
                color: #86b2e9;
            }
            i.charity_circle{
                color: $charity-basket-purple;
            }
            i.cash_circle{
                color: $cash-basket-green;
            }
            button{
                @include button_custom(14, $dark-grey);
                float: right;
                margin-top: 2px;
                display: none;
                padding: 2px 15px;
                i{
                    font-size: 15px;
                }
            }

            &:hover button{ display: block;}
        }
    }

    .choose_basket{
        display: block;
        margin: 0 auto;
        border-top: 1px solid #ddd;
        font-size: 16px;
        color: #716f6f;
        text-align: center;
        padding: 5px 0px;
    }

	.addToBasket_action{
		padding-top: 5px;
        text-align: center;
		border-top: 1px solid #ddd;
        transition: .3s;
        cursor: pointer;
        overflow: hidden;
        display: block;
        &:hover{
            background: #f1f1f1;
        }
        .createBtn{
            font-size: 12px;
            font-weight: bold;
			color: #5d5c5c;
            line-height: 27px;
            overflow: hidden;
            display: inline-block;
        }
		.basket_circle{
            float: left;
            display: -webkit-inline-box;
            i{
                &:first-of-type{
                    font-size: 28px;
                    color: $dark-grey;
                    margin-right: 3px;
                }
                &:last-of-type{
                    color: #fff;
                    font-size: 15px;
                    left: -23px;
                    position: relative;
                    top: -5px;
                }
            }
		}
        span{
            float: left;
        }
	}

	form{
		padding: 10px;

		.form-group:last-child{
			position: relative;
		}
		span.glyphicon.glyphicon-search{
			color: #aeaeae;
			position: absolute;
			left: 37px;
			top: 28px;
		}
		span.glyphicon.glyphicon-remove{
			color: #939393;
			position: absolute;
			right: 20px;
			top: 28px;
			font-size: 14px;
			display: none;
		}
		.form-control{
			padding-left: 42px;
		}
		.input-group{
			width: 113px;
			.form-control{
				height: 33px;
				padding: 0;
				text-align: center;
			}
		}
	}

}

/* ===========================================*  PRODUCT COMMENTS SECTION  ===========================================*/
.product_comments{
	position: relative;

	.comments{

		.row.user_comment{
            margin-top: 15px;
			margin-bottom: 10px;
            clear: both;
		}

		.viewComments{
			float: right;
			color: $dark-grey;
			text-decoration: none;
            font-weight: bold;
            font-size: 12px;
            margin-right: 20px;
            position: relative;
            top: 4px;
		}

        .info{
            margin: 10px auto 15px auto;
            overflow: hidden;
            display: table;
            p{
                margin-bottom: 0px;
                font-size: 12px;
                font-weight: bold;
            }
            div{
                float: left;
                padding: 0 15px;
                &:first-of-type{
                    padding-left: 0px;
                }
                &:last-of-type{
                    padding-right: 0px;
                }
                p{
                    &:first-of-type{
                        color: $main-teal;
                        text-align: center;
                        margin-bottom: -4px;
                    }
                    &:last-of-type{
                        color: #aeaeae;
                    }
                }
            }
        }
        .current_user_comment{
            form{
                margin-bottom: 3px;
            }
            img{
                float: left;
                width: 45px;
                margin-right: 15px;
                margin-left: 10px;
                border-radius: 100px;
            }
            .modal_comments_input{
                float: left;
                width: calc(100% - 85px);
                margin-top: 5px;
                .form-group{
                    margin-bottom: 0px;
                }
                .textarea-autosize{
                    height: 35px;
                    resize: none;
                    padding-right: 70px;
                }
                ::-webkit-input-placeholder {
                    color: #aeaeae;
                }
            }
            .wdt-emoji-picker{
                right: 45px;
            }
            .submit_comment{
              position: absolute;
              z-index: 1;
              right: 15px;
              bottom: 4px;
              color: #ccc;
              background: none;
              border: none;
              padding: 0;
              font-size: 22px;
            }
        }
        .modal_comments_container{
            padding-top: 10px;
            height: calc(55vh - 135px);
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
        }


        .message{
            overflow: hidden;
            padding: 0px 1px;

            .img_discussion{
                padding-right: 15px;
                float: left;
                margin-top: 10px;
                img{
                    width: 35px;
                }
            }
            .message_details{
                float: left;
                width: calc(100% - 68px);
                background: #f5f5f5;
                border-radius: 30px;
                padding: 12px 15px;
                transition: .3s;
                margin: 5px 0px;
            }
            p{
                color: $dark-grey;
                font-size: 15px;
                margin-bottom: 0px;
                font-weight: 300;
                span{
                    color: $dark-grey;
                    font-weight: bold;
                    font-size: 15px;
                }
            }

            .message_reply{
                padding: 3px 0px;
            }

            .message_details{
                &:hover,&:focus{
                    .delete_comment{ 
                        opacity: 1;
                        transition: all, ease, 0.2s;
                    }
                }
            }

            .message_reply{
                float: left;
                width: 100%;

                p{

                    color: $dark-grey;
                    font-size: 15px;
                    margin-bottom: 0px;
                    font-weight: 300;
                    a{
                        color: $dark-grey;
                        font-weight: bold;
                    }
                }
            }

            .message_stats{
                a{
                    color: $dark-grey;
                    font-weight: normal;
                    font-size: 12px;
                }
                .delete_comment{
                    float: right;
                    padding: 5px 0px;
                    opacity: 0;
                }
                span{
                    color: $dark-grey;
                    font-size: 12px;
                    font-weight: 300;
                }
                .reply{
                    margin-right: 5px;
                }
            }


            .reply_container{
                overflow: hidden;
                display: block;
                width: calc(100% - 55px);
                float: right;
                margin-bottom: 0;
                .reply_discussion{
                    display: none;
                    padding: 3px 0px;
                }
            }

            .reply_discussion{
                clear: both;
                width: 100%;
                display: block;
                overflow: hidden;
                display: none;
                form{
                    display: inline-block;
                    width: 95%;
                    position: relative;
                    .form-control{
                        background: #fff;
                        margin-top: 6px;
                        padding-right: 70px;
                    }
                    .textarea-autosize{
                        height: 35px;
                        resize: none;
                    }
                    .wdt-emoji-picker{
                        right: 35px;
                    }
                    .submit_comment{
                      position: absolute;
                      z-index: 1;
                      right: 10px;
                      bottom: 4px;
                      color: #ccc;
                      background: none;
                      border: none;
                      padding: 0;
                      font-size: 22px;
                    }
                }
            }

        }


	}


}


/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================*   LOGIN MODAL  ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/

#login_modal{

	.form-container{
		width: 100%;
        padding: 15px 0px;
        span{
            color: $dark-grey;
            font-weight: 400;
            font-size: 12px;
            display: block;
            margin-top: 30px;
        }
        a{
            color: $dark-grey;
            font-weight: 500;
        }
	}

    form{
        width: 90%;
        margin: auto;
    }

    .form-container .social-container{
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: auto;
        display: table;
        content: " ";
        .icon{
            display: inline-block;
            padding: 0 2px;
        }
    }
    h3{
        color: #5d5d5d;
        font-size: 12px;
        margin-top: 35px;
    }
    p.text-center{
        font-weight: 300;
        color: #5d5d5d;
        font-size: 18px;
    }
    
    .modal-dialog{
        max-width: 400px;
        padding: 0 20px;
        background: #fff;
        border-radius: 30px;
    }
    .username{
        margin-bottom: 15px;
    }
    .welcome_back{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .checkbox{
        a{
            color: $main-teal;
            text-decoration: underline;
            font-size: 12px;
            margin-left: 5px;
        }
        label{
            font-weight: 400;
            font-size: 12px;
            text-transform: capitalize;
            color: #999;
            position: relative;
            top: 3px;
        }
    }
    #new_customer{
        input:not([type="submit"]){
            font-weight: 400;
            font-size: 14px;
            color: $dark-grey;
        }
        input[type="submit"]{
            background: #9ac4b5;
            transition: .3s;
            &:hover{
                background: darken(#9ac4b5, 5%);
            }
            
        }
    }
}





/* ===========================================* |||||||||||||| ===========================================*/
/* =====================================*   UPCOMING EVENTS MODAL  =====================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.upcoming_events_modal {

	.modal-dialog{
		width: 50%;
		height: 64vh;
	}

	.modal-content{
		border: 1px solid #ddd;
		background: #fff;
	}

	.modal-header, .panel-default{
		border: none;
	}

	.panel{
		box-shadow: none;
	}

	.modal-body{
		padding: 15px 0px;
		max-height: 400px;
		overflow: auto;
	}

	.modal-header{
		background-color: #f5f5f5;
	}

	.pannel-image{
		float: left;
		margin-right: 0px;
		width: 200px;

	}
	.pannel-content{
		float: left;
		margin-left: 15px;
	}

	.panel-event-title a{
		font-size: 1.5em;
		color: $main-teal;
		&:hover{
			color: $light_orange;
		}
	}
	.panel-event-time{
		font-size: 1.2em;
	}
	.panel-event-address{
		font-size: 1em;
	}
	.panel-event-owner{
		font-size: 1em;
		color: $light-grey;
	}

	.streamers{
		position: absolute;
		width: 235px;
		height: auto;
		left: -28px;
		top: -27px;
	}
}


/* ===========================================* |||||||||||||| ===========================================*/
/* ====================================*   UPCOMING BIRTHDAYS MODAL  =====================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.upcoming_birthdays_modal.in{
	display: flex !important;
	align-items: center;
}


.upcoming_birthdays_modal {

	.modal-dialog{
		height: 64vh;
		width: 50%;
		position: relative;
	}

	.modal-title{
		font-size: 23px;
		text-align: center;
	}

	.modal-title-2{
		font-size: 16px;
	}


	.modal-content{
		border: 1px solid #ddd;
		background: #fff;
	}

	.birthday_modal_content{
		padding-left: 0px;
	}

	.birthday_details{
		width: 100%;
		overflow: auto;
		h2{
			margin: 0px;
			a{
				color: $light_orange;
				text-decoration: underline;
				margin: 0px;
				font-size: 18px;
				&:hover{
					text-decoration: underline;
				}
			}

		}
		h3{
			color: #616161;
			margin: 0px;
			font-size: 14px;
		}
		p{
			margin-top: 0px;
			font-size: 16px;
		}
		img{
			width: 65px;
		}
	}

	.balloon_container{
		position: absolute;
		top: -29px;
		height: 122px;
		width: 160px;
		overflow: hidden;
	}


	.baloons{
		position: absolute;
		width: 140px;
		height: 180px;
		left: 12px;
	}


	.modal-header, .panel-default{
		border: none;
	}

	.panel{
		box-shadow: none;
	}

	.modal-body{
		padding: 15px 0px;
		z-index: 1;
	}

	.product-item-content .mask span.ellipsisIcon{
		font-size: 35px;
	}

	.modal-header{
		background-color: #f5f5f5;
	}

	.pannel-image{
		float: left;
		margin-right: 0px;
		width: 260px;

	}
	.pannel-content{
		float: left;
		margin-left: 15px;
	}

	.panel-event-title{
		font-size: 1.5em;
		color: $main-teal;
	}
	.panel-event-time{
		font-size: 1.2em;
	}
	.panel-event-address{
		font-size: 1em;
	}
	.panel-event-owner{
		font-size: 1em;
		color: $light-grey;
	}

	button.create_event{
		@include button(20);
		padding: 5px 40px;
		font-size: 16px;
	}


	.product-item-content .product-content-lower p.product_title, p.product_price, p.description{
		font-size: 10px;
		margin-left: 0px;
	}

	.birthday_tiles{
		width: 72%;
		margin: auto;
		padding: 0px;
		button{
			margin-bottom: 20px;
		}
        p.retailer{
            margin-top: 0px;
            font-size: 10px;
            img{
                float: left;
                width: 12px;
                margin-top: 1px;
            }
        }
	}

    div.mask_upper{
        background: rgba(0, 0, 0, 0.08);
        height: 100%;
        transition: .3s;
        cursor: pointer;
        .ellipsisIcon{
            color: #fff;
            font-size: 50px;
            position: absolute;
            left: 41%;
            top: 38%;
            line-height: 0px;
            display: none;
            margin-top: -5px;
        }
        &:hover{
            background: rgba(36, 19, 2, 0.44);
        }
    }
}

#style_override{
	.birthday_tiles p.product_price, .birthday_tiles .retailer{
		margin-left: 0px;
	}
}



/* ===========================================* |||||||||||||| ===========================================*/
/* ==========================================*   WELCOME MODAL  =========================================*/
/* ===========================================* |||||||||||||| ===========================================*/
#welcome_modal .modal-dialog{
	p{
		font-size: 1.2em;
        font-weight: 300;
	}
    .step-title{
        font-weight: normal;
    }
}

/* ===========================================* |||||||||||||| ===========================================*/
/* ==========================================*   CATEGORY MODAL  =========================================*/
/* ===========================================* |||||||||||||| ===========================================*/


.category_modal{
    h4{
        font-size: 30px;
        font-weight: bolder;
        text-align: left;
        margin-top: 20px;
        color: #888;
    }

	p{
		font-size: 14px;
		color: #888;
        margin: 10px;
        font-weight: 300;
	}

    .modal_wrapper{
        border: 1px solid #ddd;
        background: #fff;
        border-radius: 30px;
        overflow: hidden;
    }

    .modal-head{
        background: #f3f3f2;
        display: table;
        width: 100%;
    }

	#gift-assistant .modal-body{
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
        h5{
            font-weight: 800;
            color: $main-teal;
            font-size: 30px;
        }

        .install_ga{
            text-decoration: none;
            cursor: pointer;
            button{
                background: $main-teal;
                color: #fff;
                box-shadow: 1px 3px 3px #aaa;
                &:first-of-type{
                    border-radius: 30px 0 0 30px;
                    margin-right: -4px;
                    border-right: 1px solid #fff;
                    font-size: 16px;
                    padding: 4px 9px;
                }
                &:last-of-type{
                    border-radius: 0 30px 30px 0;
                    font-weight: 300;
                    font-size: 13px;
                    padding: 6px 9px;
                }
            }
        }
	}

	.box{
		background: #fff;
		padding: 5px;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
		img{ margin: auto; }
		span{
			display: block;
			padding-top: 5px;
			color: #888888;
		}
	}

	.box.selected{
		background: #dcdcdc;
		transition: ease .5s;
	}

	.circle{
		float: left;
		margin: 10px;
		width: 102px;
		height: 102px;
		position: relative;
		span{
			position: absolute;
			top: 18%;
			left: 25%;
			color: #888;
			font-size: 12px;
			text-align: center;
        	strong{ display: block; font-size: 20px;}
		}
	}


    .actions{
        padding: 20px;
        background: #f3f3f2;
        a{
            color: #a7a6a6;
            top: -10px;
            position: relative;
        }
        a:first-child{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
        a:last-child{
            color: $dark-grey;
            font-weight: 500;
            float: right;
            &:hover{
                text-decoration: none;
            }
        }
        .glyphicon-arrow-right {
            padding-left: 5px;
        }
    }

	.download{
		@include button(12);
		position: absolute;
		top: 62%;
		left: 20%;
		@media only screen and (max-width : 580px) {
			top: 76%;
			left: 3%;
		}
	}

}

/* ===========================================* |||||||||||||| ===========================================*/
/* ==========================================*   PROFILE COMPLETE MODAL  =========================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.profile_complete_modal{
    h4{
       font-size: 30px;
       font-weight: bolder;
       text-align: center;
       margin-top: 20px;
       color: #888;
    }
    p{
       font-size: 14px;
       color: #888;
    }
    .modal_wrapper{
      border: 1px solid #ddd;
      background: #fff;
      border-radius: 30px;
      overflow: hidden;
    }
    .modal-head{
        background: #f3f3f2;
        display: table;
        width: 100%;
    }
    .forth_circle{
      position: relative;
      width: 200px;
      height: auto;
      margin: 10px auto;
      span{
        position: absolute;
        top: 12%;
        left: 0;
        width: 100%;
        color: #888;
        text-align: center;
        font-size: 1.5em;
        strong{ display: block; font-size: 2.5em;}
      }
    }
    .actions{
        padding: 20px;
        background: #f3f3f2;
        a{
            color: #a7a6a6;
            top: -10px;
            position: relative;
        }
        a:first-child{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
        a:last-child{
            color: $dark-grey;
            font-weight: 500;
            float: right;
            &:hover{
                text-decoration: none;
            }
        }
        .glyphicon-arrow-right {
            padding-left: 5px;
        }
    }
}


/* ===========================================* |||||||||||||| ===========================================*/
/* ==========================================*   DEACTIVATE ACCOUNT MODAL  =========================================*/
/* ===========================================* |||||||||||||| ===========================================*/
.deactivate_modal.in{
    display: flex !important;
    align-items: center;
}

.deactivate_modal{
    &#deactivate_account_modal{
        .modal-content{
            border-radius: 30px;
            border: 1px solid #ddd;
            background: #fff;
        }
    }
    .modal-body{
        overflow: auto;
        max-height: 450px;
        padding-bottom: 0px;
        padding-top: 20px;
    }
    p{
        font-size: 1.2em;
        margin: 0px;
        padding: 5px;
        font-weight: 300;
    }
    .btn-default{
        @include button_custom(14, #d1d1d1);
        padding: 5px 30px;
        @media only screen and (max-width : 480px) {
            margin-bottom: 15px;
        }
    }
    .btn-danger{
        padding: 5px 30px;
        @include button_custom(14, #d9534f)
    }
    .modal-footer{
        text-align: center;
        border-top: none;
        padding-bottom: 25px;
    }
}


/* ===========================================* |||||||||||||| ===========================================*/
/* ========================================*   LEAVE MODAL  =========================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.leave_modal{
    .modal-dialog{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
	p{
		font-size: 15px;
		margin: 15px 0 0;
        font-weight: 300;
        color: $dark-grey;
        span{
            font-weight: 700;
            color: $notification-color;
        }
	}
    .separator{
        height: 54px;
    }
    .gift_stats{
        display: inline-block;
        margin-right: 10px;
        &:first-of-type{
            margin-left: 18px;
        }
        p{
            text-align: center;
            color: $main-teal;
            font-weight: 500;
            margin: 0px;
            padding: 0px;
            font-size: 12px;
        }
        p:last-child{
            color: #939393;
            margin-bottom: 10px;
        }
    }
    .image_container{
        overflow: hidden;
        width: 100%;
        height: 38vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-color: rgba(234, 234, 234, .5);
        filter: brightness(92%);
    }
    hr{
        margin-top: 15px;
        margin-bottom: 15px; 
    }
    a.toggle-yes, a.toggle-no{
        color: $dark_grey;
        outline: none;
    }
    .modal-title{
        color: $dark-grey;
        margin: 15px 0px;
    }
    .btn-submit{
        @include button(14);
        padding: 5px 30px;
        width: 49%;
    }
    #leave_no{

        form{
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            width: -moz-max-content;
            width: -webkit-max-content;
            width: max-content;
            .form-group{
                float: left;
                &:first-of-type{
                    margin-right: 20px;
                }
            }
        }
        .actions{
            clear: both;
        }
    }

    #leave_option{
        -moz-width:max-content;
        -webkit-width:max-content;
        .actions .btn{
            width: 45%;
        }
    }
    .back-button{
        font-weight: 300;
        text-decoration: none;
        display: block;
        margin: 15px 0px;
        i{
            margin-right: 3px;
        }
    }
    .actions{
        margin: 15px 0px;
        .btn:first-child{
            @include button_custom(14, $main-teal, #fff);
            margin-right: 5px;
            width: 45%;
        }
        .btn:last-child{
            @include button_custom(14, #d1d1d1);
            width: 45%;
        }
        &.see_more_gifts{
            width: -moz-max-content;
            width: -webkit-max-content;
            width: max-content;
            margin-left: auto;
            margin-right: auto;
            .btn{
                display: block;
                width: auto;
                min-width: 255px;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
    form{
        margin: 10px 0px;
    }
    label{ font-weight: 300; }
    .checkbox{ padding-left: 0px; margin: 15px 0px;}
	.modal-footer{
		text-align: center;
		border-top: none;
	}
    #leave_modal_tab_one, #leave_modal_tab_two, #leave_modal_tab_three{
        padding: 10px 0px;
        overflow: hidden;
    }
    #leave_modal_tab_one p a{
        color: $main-teal;
        outline: none;
    }

    .gift_qty_container{
        width: 115px;
        margin: 18px auto 25px auto;

        .input-group-btn:first-child{
            border: 1px solid #b4b3b3;
            border-radius: 30px 0px 0px 30px;
            padding: 0px 5px 0px 10px;
            border-right: none;
        }

        .input-group-btn:last-child{
            border: 1px solid #b4b3b3;
            border-radius: 0px 30px 30px 0px;
            padding: 0px 5px 0px 10px;
            border-left: none;
        }

        .form-control{ 
            width: 40px;
            text-align: center;
        }

        .btn-default {
            color: #fff; 
            background-color: #fff;
            border: #807d7e;
            background: #4e4e4d;
        }

        .bootstrap-touchspin-up{
            margin-left: 5px;
            padding-left: 9px;
            padding-right: 9px;
            padding-bottom: 8px;
            border-radius: 3px;
            text-indent: -5px;
            width: 0px;
            height: 16px;
            font-size: 21px;
            line-height: 0px;
            right: 5px;
        }

        .bootstrap-touchspin-down{
            margin-right: 5px;
            padding-left: 9px;
            padding-right: 9px;
            border-radius: 3px;
            text-indent: -4px;
            width: 12px;
            height: 16px;
            font-size: 26px;
            line-height: 0px;
        }
    }

}

/* ===============================* || SHIPPING SPEED MODAL || ===============================*/

.shipping_speed{
    .modal-dialog{
        width: 460px;
    }
    background: rgba(243, 243, 243, 0.2);
    .shipping_speed_modal{
        background: #fff;
        border-radius: 4px;
        padding: 10px 15px 35px 30px;
        border: 1px solid #ddd;
        .closeBtn{
            float: right;
            color: #777;
            font-weight: bold;
            font-size: 20px;
        }
        .choose_shipping_speed{
            color: $dark-grey;
            clear: both;
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .checkout_radio{
            margin-left: -21px;
            margin-top: -1px;
            width: 21px;
            height: 21px;
        }
        .radio{
            &:last-of-type{
                margin-bottom: 25px;
            }
            label{
                padding-left: 10px !important;
                color: #787878;
                span{
                    font-size: 18px;
                }
                &:before{
                    width: 22px;
                    height: 22px;
                    outline: none !important;
                    transition: .3s;
                }

                &:after{
                    width: 16px;
                    height: 16px;
                    left: 3px;
                    top: 3px;
                    transition: .3s;
                }
            }
            p{
                color: #707070;
                margin-left: 13px;
                font-weight: bold;
                font-size: 21px;
                margin-top: 5px;
            }
        }
        .ship_speed_cancel{
            background: #fff;
            border: 1px solid $dark-grey;
            font-weight: bold;
            padding: 13px 55px;
            color: #787878;
            margin: 0 20px;
        }
        .ship_speed_save{
            background: #60a6c8;
            color: #fff;
            padding: 13px 23px;
        }
    }
}

/* ===============================* || INCLUDE MESSAGE MODAL || ===============================*/
.include_message_modal{
    .modal-dialog{
        width: 500px;
    }
    background: rgba(243, 243, 243, 0.2);
    .send_message_modal{
        background: #f5f5f5;
        border-radius: 4px;
        padding: 10px 25px 35px 25px;
        border: 1px solid #ddd;
        .closeBtn{
            float: right;
            color: #777;
            font-weight: bold;
            font-size: 20px;
        }
        i{
            font-size: 57px;
            position: absolute;
            left: 29px;
            top: 16px;
            color: rgba(234, 176, 101, 0.44);
        }
        input, textarea{
            margin-bottom: 15px;
        }
        textarea{
            height: 200px;
            resize: none;
        }
        .add_message{
            color: #585858;
            clear: both;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .message_cancel{
            background: #fff;
            border: 1px solid $dark-grey;
            font-weight: bold;
            padding: 13px 55px;
            color: #787878;
            margin: 0 20px;
            margin-left: 40px;
        }
        .message_save{
            background: #eab065;
            color: #fff;
            padding: 13px 23px;
        }
    }
}


/* ===========================================* |||||||||||||| ===========================================*/
/* ========================================*  CHANGE EMAIL MODAL    ======================================*/
/* ===========================================* |||||||||||||| ===========================================*/


#emailChange{

  .modal-dialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modal-body{
    padding: 15px;
  }

  label{
    color: $dark-grey;
    font-size: 18px;
    margin-bottom: 15px;
  }
  input[type=submit]{
    @include button(14);
    padding: 12px 20px;
    width: 100%;
  }

}



/* ===========================================* |||||||||||||| ===========================================*/
/* ==========================================*   DEACTIVATE ACCOUNT MODAL  =========================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.destroy_basket_modal, #destroy_wish_modal{
    .modal-dialog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            margin-top: 0;
        }
    }
    .modal_wrapper{
        overflow: hidden;
    }

    .basket{
        padding: 0px;
        .basket_inner{
            &:hover{ background: transparent; }
            padding: 0px;
            .basketPreview{
                border-radius: 0px;
            }
        }
    }

	h3{
		padding-left: 6%;
        i{
            font-size: 12px;
            position: relative;
            top: -4px;
        }
        i.lifestyle_circle{
            color: $main-teal;
        }
        i.event_circle{
            color: $event-basket-blue;
        }
        i.charity_circle{
            color: $charity-basket-purple;
        }
        i.cash_circle{
            color: $cash-basket-green;
        }
	}

	p{
		font-size: 16px;
		margin: 0px;
        font-weight: 300;
        &:last-of-type{
            margin-bottom: 25px;
        }
	}

    .actions{
        margin: 10px 0px;
        padding: 0px 15px;
        .btn:first-child{
            @include button_custom(14, #d1d1d1, #fff);
            padding: 12px 47px;
            margin-right: 10px;
        }
        .btn:last-child{
            @include button_custom(14, $delete-red, #fff);
            padding: 12px 30px;
        }
    }

}


/* ===========================================* |||||||||||||| ===========================================*/
/* ====================================*           CART MODAL           ==================================*/
/* ===========================================* |||||||||||||| ===========================================*/


#giftbox-modal {
    .modal-header{
        color: $dark-grey;
        h4{
            font-weight: 300;
            margin-top: 10px;
        }
    }
    .giftbox-li {
        display: flex;
        padding: 15px 15px 5px 15px;
        .gift_box_avatar{
            float: left;
            margin-right: 10px;
            position: relative;
            top: -5px;
            width: 45px;
            img{
                border-radius: 100px;
            }
        }
        .giftee-name {
            font-weight: 500;
        }
        span{
            font-weight: 300;
            &:last-of-type{
                font-size: 12px;
            }
        }
        i, span{
            color: $dark-grey;
        }
        transition: .3s;
        &:hover {
            text-decoration: none;
            background: #f1f1f1;
        }
    }
}


/* ===========================================* |||||||||||||| ===========================================*/
/* =====================================*   GIFT ASSISTANT MODAL   ======================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.gift_assistant_modal{
    .modal-dialog{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2{
        text-align: center;
        font-size: 24px;
        margin-top: 0;
    }
    .carousel-inner{
        overflow: visible
    }
    .install_container{
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin: 25px auto 0 auto;
        padding-bottom: 10px;
    }
    .prev{
        padding: 5px 30px;
        position: absolute;
        bottom: -110px;
        left: 0;
    }
    .next{
        padding: 5px 40px;
        position: absolute;
        bottom: -110px;
        right: 0;
    }
    .item{
        background: #fff;
        height: 455px;
        padding: 20px 10px 0 10px;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        .btn{
            @include button_custom(14, #fff);
            color: $dark-grey;
            box-shadow: none;
            &:hover, &:active{
                background: #fff;
                color: $dark-grey;
            }
        }
    }
    color: $dark-grey;
    .tab-content{
        padding: 20px;
    }
    #ga_carousel{
        img{
            width: 100%;
            margin: 15px auto 25px auto;
        }
    }
    .opera_btn_container{
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: max-content;
        p{
            text-align: center;
        }
    }
    p{
        font-size: 14px;
        font-weight: 300;
        color: $dark-grey;
    }
    .carousel-indicators{
        position: inherit;
        margin-top: 40px;
        margin-bottom: 0;
        li{
            &.active{
                background-color: $dark-grey;
                border-color: $dark-grey;
                
            }
            background-color: #eaeaea;
            border-color: #eaeaea;
        }
    }
}
/* ===========================================* |||||||||||||| ===========================================*/
/* =====================================*   MESSAGE IMAGE MODAL   ======================================*/
/* ===========================================* |||||||||||||| ===========================================*/

#messageImage{
    .modal-dialog{
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
    }
    img{
        max-width: 100%;
        background: #fff;
        border-radius: 30px;
    }
    .closeBtn{
        float: right;
        color: #fff;
        position: relative;
        right: -12px;
        top: 7px;
    }
}

#login_modal.center_modal, .share_modal.modal.center_modal{
    background: rgba(0,0,0, .45);
    transition: .5s;
    .modal-dialog{
        left: 0;
        transition: .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.share_modal.modal.center_modal{

    img{
        margin: auto;
    }

    h4{
        color: $dark-grey;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 0;
    }

    .modal-content{
        background: #fff;
        border-radius: 15px;
        padding: 15px 0px;
        margin-top: -55px;
    }

    .share_social{
        border-top: none;
        a{
            font-size: 40px;
        }
    }
}



/* ========================================* ||||| Share Popup ||||| ========================================*/
#share_modal{
    

	.top{
		padding: 25px 15px 0 15px;
 		p{
			margin: 0px;
			color: $dark-grey;
			font-weight: 500;
			font-size: 18px;
		}
	}

	hr{
		margin-top: 0px;
	}

	form{
		position: relative;
		margin-top: 20px;
		padding: 0px 15px;
	}

	button{
		@include button(12);
		float: right;
		top:5px;
		float: right;
        i{
            font-size: 14px;
            position: relative;
            top: 1px;
        }
	}

	.form-control{
		background: #f3f3f3;
		padding-left: 45px;
		border-radius: 30px;
	}

	span.glyphicon-search {
		position: absolute;
		left: 35px;
		top: 12px;
		z-index: 1;
		color: #9d9999;
		font-size: 15px;
	}

	ul.friends{
            margin: 20px 0 0 0;
			height: calc(55vh - 210px);
			overflow-y: scroll;
            &.variant{
                height: calc(55vh - 180px);
            }
            &.banner{
                height: calc(75vh - 210px);

            }
			li{
				height: 60px;
				border: none;
                cursor: pointer;
                transition: .3s;
				&:hover{
					background: #eee;
				}
				span{
					display: inline-block;
					padding:  12px;
					font-size: 14px;
                    color: #5d5d5d;
                    font-weight: bold;
				}
				i{
					padding: 12px;
                    font-size: 20px;
                    position: relative;
                    top: -4px;
				}
			}

			img{
				max-width: 40px;
				max-height: 40px;
				float: left;
				margin-right: 10px;
			}

		}


}

#pymk_modal{
    .modal-body > p{
        font-weight: bold;
        color: #5d5d5d;
        font-size: 24px;
        margin-top: 20px;
        margin-left: 15px;
    }
    .pymk_modal_container{
        overflow: scroll;
        height: calc(100vh - 65px);
        padding: 0 20px;
        .connection_info{
            height: 50px;
            overflow: hidden;
            clear: both;
            padding: 0px 15px 15px;
        }
    }
}