/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================* NAVBAR STYLES ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.nav .search_container{
    width: calc(100% - 435px);
    float: left;
    z-index: 99 !important;
}
#header{
    .hamburger_menu{
        display: none;
        float: right;
        font-size: 30px;
        color: #c9c9c9;
    } 
}

.search_container{
    
    i{
        position: absolute;
        z-index: 1;
        right: 30px;
        top: 10px;
        font-size: 21px;
        color: #999;
    }

    .search_customers{
        input{
            transition: .5s;
            margin-top: 7px;
            background-color: #e8e8e8;
            height: 35px;
            border-color: 1px solid #ccc;
            color: #999;
            padding-left: 15px;
            font-size: 14px;
            font-weight: 400;
            border-radius: 30px;
        }

        ::-webkit-input-placeholder {
            color: #999;
        }
    }

    .easy-autocomplete{

        .easy-autocomplete-container{
            margin-top: -3px;

            ul{
                border: 1px solid #ccc;
                border-radius: 0 0 25px 25px;
                border-top: none;
                padding-top: 18px;
                padding-bottom: 18px;
                width: calc(100% - 28px);
                margin: 4px auto 0 auto;

                @media only screen and (max-width : 480px) {
                    border-radius: 0;
                    height: 100%;
                }

                .eac-category{
                    text-align: left;
                    background-color: #fff;
                    margin-left: 30px;
                    border: none;
                    color: $light-grey;
                    padding-top: 30px;
                    padding-bottom: 5px;
                    font-size: 14px;
                    letter-spacing: 1px;
                }

                li{
                    text-align: left;
                    border: none;
                    padding: 0px;

                    .eac-item{

                        a{
                            color: #716f6f;
                            font-weight: bold;
                            text-decoration: none;
                            padding: 10px 0px 10px 32px;

                            img{
                                height: 40px;
                                width: 40px;
                                border-radius: 3px;
                            }

                            img[src="undefined"]{
                                display: none;
                            }

                            span{
                                margin-left: 5px;
                                font-size: 18px;
                            }
                        }

                    }
                }

            }
        }
    }

}

.navbar{
    transition: .5s;
    &.introjs-fixParent{
        position: absolute;
        background: #f7f7f7 !important;
    }
    .logo_text{
        font-family: Bauhaus;
        color: #6d6d6d;
        font-size: 18px;
        display: inline;
        position: relative;
        top: -10px;
    }
    background-color: #f7f7f7;
	margin-bottom: 0px;
	padding: 10px;
	text-align: center;
	border-radius: 0px;
    border-color: #c9c9c9;
    -webkit-transform: translateZ(0);
    
    li{
         i, img:focus{
            outline-color: transparent;
            outline-style: none;
        }
    }

    .logo_text_white{
        color: #fff;
    }
    

	/* ===========================================* || SEARCH FORM || ===========================================*/
    
    &.logged_out_nav{
        .cart_icon{
            .badge{
                top: 2px;
                left: 28px;
            }
        }
        .navbar-nav > li > a{
            color: $dark-grey;
            font-weight: 300;
            &:hover, &:active, &:focus{
                color: $dark-grey;
                background: none;
            }
            &:hover{
                text-decoration: underline;
            }
	    }
        &.profile_nav .navbar-nav > li > a{
            color: $dark-grey;
            &:hover, &:active, &:focus{
                color: $dark-grey;
            }
	    }
        .search_container{
            width: calc(100% - 390px);
        }
    }
    &.logged_in_nav{
        .search_container{
            width: calc(100% - 585px);
        }
        .cart_icon{
            &.no_show{
                display: none;
                position: absolute;
                margin-left: 60px;
                transition: 0s;
            }
        }
    }
 
	#search{
        width: calc(100% - 280px);
		margin: auto;
		padding-top: 1px;

		::-webkit-input-placeholder {  /* WebKit, Chrome */
			color:    $dark-grey;
		}

		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color:    $dark-grey;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    $dark-grey;
			opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    $dark-grey;
			opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color:    $dark-grey;
		}



		.form-group{
			width: 100%; 
			position: relative;
			input{
                margin-top: 8px;
				width: 100%;
				padding-left: 50px;
                font-size: 16px;
                height: 35px;
                border-radius: 30px;
			}
		}

		.form-control{
			width: 90%;
			border: none;
			left: 77px;
			top: 21px;
			color: $dark-grey;
            background-color: #e8e8e8;
		}

	}

	.navbar-brand{
		font-family: Bauhaus;
		font-size: 2em;
		color: #fff;
        text-decoration: none !important;

		img,svg{
            
			display: inline;
			width: 40px;
			height: 40px;
			margin-top: -14px;
			
		}
		&:hover,&:active,&:focus{
			color: #fff;
		}
	}
    .navbar-nav .multitool{
        i.introjs-showElement{
            color: $dark-grey;
        }
    }

    .navbar-nav{
        &.nav li:hover{
            i:not(.ion-plus-circled){
                color: $dark-grey;
                background-color: rgba(206, 204, 204, .2);
                border-radius: 100px;
                transition: .4s;
            }
            [href="#gift_url"]{
                background-color: rgba(206, 204, 204, .2);
                border-radius: 100px;
                i{
                    transition: .4s;
                    color: $dark-grey;
                }
            }
        }
        li{
            padding: 0 8px;
            transition: .3s;
            i{
                border: none;
                color: #c9c9c9;
                margin: 5px 0;
                text-decoration: none;
                font-size: 28px;
                display: inline-block;
                height: 40px;
                width: 40px;
            }
        } 
    }
    
    .search_customers{
        .form-group{
            margin-bottom: 0px !important;
        }
    }
	
	/* ===========================================* || PROFILE AVATAR || ========================================*/

	img.avatar{
        border-radius: 50%;
	}
    
    .navbar-nav li .avatar{
        width: 46px;
        padding: 6px;
        transition: .3s;
	}
    
    .navbar-nav li .avatar:hover{
		background-color: rgba(206, 204, 204, .2);
        border-radius: 100px;
        transition: .4s;
        border-color: transparent;
	}
    
    

	.nav .avatar_icon{
        a{
            padding: 0;
            border-radius: 50%;
        }
	}
    .discover_nav{
        margin-right: 15px;
        position: relative;
        top: 9px;
        transition: .3s;
        right: 0;
        &.move_left{
            right: 56px;
        }
        a{
            color: #767676;
            font-weight: bold;
            font-size: 14px;
            padding: 5px 15px;
            &:hover, &:focus{
                background: none;
            }
        }
    }
    .activate_search{
        display: none;
    }
    .message_icon, .cart_icon, .notification_popover, .message_button{
        .badge{
            background: $notification-color;
            position: absolute;
            top: 4px;
            left: 24px;
        }       
    }
    li.add_wish_icon{
        a{
            margin: 3px 0;
            padding: 0;
            line-height: 0;
            border-radius: 100px;
            transition: .4s;
            &:focus{
                background-color: transparent;
            }
            i{
                padding: 0;
                margin: 0;
                position: relative;
                top: 6px;
                &:hover{
                    background-color: none;
                }
            }
        }
    }

    .icon_link {
        display: inline;
        padding: 0;
        line-height: unset;
    }
}

/* ===========================================* || TRANSPARENT NAV || ===========================================*/
#header{
    .navbar.transparent_nav {
        background: transparent;
        border: 1px solid transparent;
        i{
            color: #fff;
        }
        &:hover, &:active, &:focus{
            i{
                color: #fff;
            }
        }
        .navbar-nav > li > a{
            color: #fff;
            &:hover, &:active, &:focus{
                color: #fff;
            }
        }
        .navbar-brand{
            display: none;
        }
        ul{
            li:last-of-type{
                opacity: 0;
                visibility: hidden;
            }
        }

    }
}


/* ===========================================* || PROFILE NAV || ===========================================*/
.navbar.profile_nav {
	background: rgba(255, 255, 255, 0.85);
    border-color: transparent;
    
    .search_container{
        input{
            color: #7c7c7c;
            background: #fff;
        }
        ::-webkit-input-placeholder {
                color: #7c7c7c;
        }
        i{
            color: #7c7c7c;
        }
    }
    
    .navbar-nav li i, .close_search, .logo_text{
		color: #7c7c7c;
	}
}


/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================*  FEED NAVBAR   ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/


.feed_heading{
    position: fixed;
    background: #fff;
    z-index: 5;
    width: 100%;
    top: 71px;
    transition: .3s;
    -webkit-transform: translateZ(0);
    h1{
        color: #5d5d5d;
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        span{
            font-family: Bauhaus;
            font-weight: bold;
        }
    }
    &.shadow{
        box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    }
}

.feed_nav{
    margin: 15px auto;
    display: table;
    padding: 0px;
    overflow: hidden;
    text-align: center;

	li{
		list-style: none;
		display: inline-block;
		height: 30px;
        text-align: center;

		&.active,&:hover{
			a{
				span{
					color: $dark-grey;
				}
			}
		}

		a{  text-decoration: none;
			background: none;
			font-size: 16px;
			border-bottom: none;
            font-weight: 500;
			color: #ccc;
			&:hover{
				text-decoration: none;
			}
            
            span{
                transition: .3s;
                padding: 0 15px 3px 15px;
                font-weight: 300;
            }
		}
	}

	.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover{
		color: $main-teal;
	}

}



nav.logged_out_nav{
    #landing_my_account{
        @include button(14);
        padding: 5px 50px;
        margin-top: 6%;
    }
    .cart_icon{
        &.no_show{
            display: none;
            transition: 0s;
        }
    }
}

.close_search{
    display: none;
    font-size: 18px;
    outline: none;
    font-weight: 300;
    color: $dark-grey;
    position: inherit;
    float: right;
    margin-top: -29px;
    margin-right: -25px;
}

/* ===========================================* || LOGIN SEARCH || ========================================*/
.popover{
    div.arrow.login_arrow{
        border-bottom-color: #a5a2a2;
        left: 49% !important;
        top: -10px;
    }
    .search_users{
        .easy-autocomplete{
            color: $light-grey;
            padding: 15px;
            font-weight: bold;
        }
        ::-webkit-input-placeholder {
          font-weight: normal;
        }
        .search_no_result{
            font-size: 14px;
            padding: 15px;
            margin-top: -16px;
            color: #a94442;
        }
        .easy-autocomplete-container{
            left: 4%;
            width: 92%;
            .slimScrollDiv{
                border-radius: 6px;
            }
            ul{
                 border: 1px solid;
                 border-top: none;
                 border-radius: 6px;
                 border-color: #ccc;
                 padding-bottom: 10px;
                 padding-top: 20px;
                 margin-bottom: 0px;

                .eac-category{
                    text-align: left;
                    background-color: #fff;
                    margin-left: 30px;
                    border: none;
                    color: $light-grey;
                    padding-top: 30px;
                    padding-bottom: 5px;
                    font-size: 14px;
                    letter-spacing: 1px;
                }

                li{
                    text-align: left;
                    border: none;
                    padding: 10px 0px;
                    transition: .3s;

                    .eac-item{
                        margin-left: 15px;

                        a{
                            color: #939393;
                            text-decoration: none;
                            
                            b{
                                color: #666666;
                            }

                            img{
                                height: 40px;
                                width: 40px;
                                border-radius: 3px;
                            }

                            img[src="undefined"]{
                                display: none;
                            }

                            span{
                                margin-left: 10px;
                                p{
                                    display: inline-block;
                                    font-size: 15px;
                                }
                            }
                        }

                    }
                }

            }
        }
    }
    .log_in{
        padding-bottom: 10px;
        overflow: hidden;
        .log_in_img{
            width: 80px;
            display: block;
            margin: 25px auto 10px auto;
        }
        .welcome_back{
            font-size: 17px;
            color: #707070;
            text-align: center;
            margin-bottom: 15px;
            span{
                font-weight: bold;
            }
        }
        .log_in_with{
            font-size: 15px;
            text-align: center;
            margin-bottom: 0px;
        }
        .social_media_container{
            overflow: hidden;
            padding: 0px 22px;
            div{
                margin: 5px 10px;
                display: inline-block;
            }
            .social_media_login{
                display: block;
                text-align: center;
            }
        }
        .login_or{
            font-size: 15px;
            margin-bottom: 5px;
        }
        .checkbox{
            label{
                color: #e9a651;
                &:after{
                    border: 1px solid #e9a651;
                }
                &:before{
                    outline: none;
                    border: 1px solid #e9a651;
                }
            }
        }

        #customer_login, #customer_password{
            font-size: 14px;
            background: #f2f2f2;
            border: none;
            box-shadow: none;
            &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset;
            }
        }
        ::-webkit-input-placeholder {
                text-align: center;
                padding-left: 25px;
                color: #939393;
        }
        .actions{
            input{
                border: none;
            }
        }
    }
}

/* ===========================================* || BOTTOM NAV || ========================================*/

#navbar_bottom{
    transition: .5s;
    position: fixed;
    bottom: 0;
    background-color: #f7f7f7;
    width: 100%;
    border: 0;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
    padding: 0;
    z-index: 2000;
    height: 53px;
    &.bottom_nav_low{
        bottom: -60px;
    }
    &.logged_out{
        ul.nav.navbar-nav{
            li{
                width: inherit;
                position: relative;
                top: 4px;
                &.login{
                    top: 5px;
                }
                #landing_login{
                    color: #5d5d5d;
                    text-decoration: underline;
                    font-size: 13px;
                }
                #landing_my_account{
                    @include button(13);
                    padding: 4px 15px;
                    position: relative;
                    top: 6px;
                }
                &:last-of-type{
                    float: right;
                }
            }
        }
    }
    ul.nav.navbar-nav{
        margin: 0 auto;
        
        .profile_popover i{
            position: relative;
            top: 10px;
        }
        .notification_popover i, .multitool i{
            position: relative;
            top: 10px;
        }
        
        li{
            width: 25%;
            float: left;
            height: 55px;
            &:active, &:focus, &:hover{
                background: none;
            }
            i{
                font-size: 30px;
                margin-top: 1px;
            }
            &.add_wish_icon a, .navbar-brand{
                padding: 0;
                line-height: 0;
                margin: 0;
                top: 8px;
            }
            a{
                &:focus, &:hover, &:active{
                    background: none;
                }
            }
            .badge{
                left: 41px;
                top: 10px;
            }
            .navbar-brand{
                position: relative;
                top: 22px;
                height: inherit;
                left: 21px;
                img, svg{
                    width: 27px;
                    height: 27px;
                }
            }
        }
        &.settings{
            li{
                i{
                    font-size: 28px;
                }
                width: 20%;
                .navbar-brand{
                    left: 15px;
                    svg{
                        width: 25px;
                        height: 25px;
                    }
                }
                .badge{
                    left: 33px;
                }
            }
        }
        
    }
}