/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================*    POPOVERS    ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/

/* ===========================================* || POPOVER OVERLAY || ===========================================*/
.popover_overlay.on {
  transition: all, ease, 0s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(239, 239, 239, .7);
  z-index: 9;
}


/* ===========================================* || POPOVERS || ===========================================*/
#notification_popover{
    top: 61px !important;
}
.popover.bottom{
    top: 67px !important;
    right: 50px;
}
#style_override{
    .send_new_message{
        display: block;
        margin: 15px auto;
        background: #f8f8f8;
        width: 90%;
        font-size: 18px;
        padding: 10px 0px;
        color: #7e7c7c;
        border: 1px solid #c9c9c9 !important;
        border-radius: 30px;
        transition: .3s;
        i{
            margin-right: 5px;
        }
        &:hover{
            background: #e9e9e9;
        }
    }
    
    .send_message_to{
        .form-group{
            padding: 10px 0px;          
            input{
                font-size: 14px;      
                height: 35px;
            }
        }
    }
}

.popover, #notification_popover, #profile_popover, #multitool, #hamburger_menu{
    z-index: 10000;
    box-shadow: none;
    background: #fff;
	padding: 0;
	max-width: 590px;
	min-width:360px;
    margin-top: 10px;
    border: none;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
	position: fixed;
    border-radius: 15px;
    top: 67px !important;
}

.popover{
    max-width: 400px;
    li{
        a{
            padding: 10px;
        }
    }
}

.popover, #notification_popover, #profile_popover, #multitool, #hamburger_menu{

	.list-group{
        margin-bottom: 0;
        text-align: left;
    }

	&> .arrow{
        margin-left: 92px !important;
        display: none;
	}
    
    .bottom > .arrow {
          border-bottom-color: #dbdbdb; 
    }

	.popover-content{
		padding: 0;
	}
    
    .closeBtn{
        @include close_btn;
    }
    
	/* ===========================================*  PROFILE POPOVER & MULTITOOL POPOVER  ===========================================*/
	.profile_popover, .multitool_popover, .landing_popover, .desktop_menu_popover{
        padding-top: 10px;
		.list-group{
			font-size: 16px;
            .legal{
                a{
                    color: #ccc;
                }
            }
            
			a{
                &:focus{
                    background: none;
                }
				color: $dark-grey;
                font-weight: bold;

                img{
                    width: 30px;
                    height: 30px
                }

                i{
                    color: $dark-grey;
                    font-weight: bold;
                    font-size: 16px;
                    width: 30px;
                    display: inline-block;
                    text-align: center;
                    &.notice{
                        color: $delete-red;
                    }
                }
                
                span{ 
                    display: inline-block; 
                }
                
                .avatar{ border-radius: 50%; margin: 0px 5px; }

			}

			li.list-group-item{
				padding: 0px;
				border: none;
                transition: .3s;

				&:hover{
					background: #f1f1f1;
				}
                
                &:last-of-type{
                    margin-bottom: 10px;
                }
			}

            i{
                color: $main-teal;
            }
		}
        .profile_bottom_links{
            text-align: left;
            border-top: 1px solid #ccc;
            padding: 15px 15px;
            border-radius: 0 0 15px 15px;
            a{
                color: #c8c8c8;
                font-size: 14px;
                font-weight: 500;
                margin-right: 15px;
            }
        }
	}
    .multitool_popover{
        .list-group li{
            cursor: pointer;
            clear: both;
            i{
                font-size: 20px;
                position: relative;
                margin-top: -3px;
            }
        }
    }

	/* ===========================================*  MESSAGE POPOVER  ===========================================*/
	.messages_popover{
		.toggle_notificaions{
			padding: 20px;
			width: 80%;
			margin: 0 auto;
			display: block;
			margin-bottom: 35px;

			a{
				border: 1px solid #c3c1c1;
				background: #dcdbdb;
				color: $primary;
				float: left;
				display: block;
				width: 50%;
				padding: 5px;
				text-decoration: none;
				text-align: center;

				&:first-of-type{border-radius: 3px 0 0 3px;}
				&:last-of-type{border-radius: 0 3px 3px 0;}
				&.active{
					background: #f7f7f7;
				}
			}
		}
        
        .scroll_message{
            .no_conversation{
                text-align: center;
                color: #5d5d5d;
                font-size: 14px;
                padding: 0 45px;
                margin: 20px 0 45px 0;
                width: 400px;
            }
            .messages{
                li{
                    padding: 0 30px;
                    width: 400px;
                    overflow: hidden;
                }
            }
        }

		.messages{
			list-style: none;
			clear: both;
			padding: 0px;

			li{
                &:first-of-type{
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                clear: both;
                font-size: 14px;
                font-weight: 400;
                padding: 10px;
                transition: .3s;
                position: relative;

				&:hover{
					background: #f9f8f8;
				}

				&.viewAll{
					font-size: 1.2em;
			        color: $light_orange;					
			        transition: all, ease, 0.4s;

					&:hover{
						cursor: pointer;
					}

				}

				a{
                    color: $main-teal;
                    font-weight: 500;
                }

				img.avatar{
					float: left;
					margin-right: 20px;
					max-width: 35px;
				}
                
                .new_notif{
                    font-size: 10px;
                    color: $main-teal;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }

                .notif_type{
                    color: $dark_grey;
                    float: left;
                    margin-bottom: 31px;
                    margin-right: 20px;
                    font-size: 18px;
                    position: relative;
                    top:3px;
                }
			}
		}

	}
    
    div.messages_popover{
        ul li:last-child{
			position: relative;
			background: #fff;
            border-radius: 0 0 18px 18px;
			bottom: 0px;
            border: none;
			width: 100%;
			z-index: 11;
		}
        
        a{
            text-decoration: none;
        }
        
        .avatar_message{
            margin-right: 15px;
            max-width: 40px;
            float: left;
        }
        
        .message_info{
            float: left;
            width: calc(100% - 55px);
        }
        
        p.message_username{
            text-decoration: none;
            color: $primary;
            font-weight: bold;
            margin-bottom: 0px;
            font-size: 15px;
        }
        .send_to{
            p.message_username{
                margin-bottom: 10px;
                margin-top: 13px;
            }
        }
        
        .message_content{
            font-size: 14px;
            margin-bottom: 0px;
        }
        .message_time{
            font-size: 14px;
        }
        
        .message_tab_2_content{
            margin-top: 20px;
            margin-bottom: 10px;
            padding: 0 25px;
            
            .new_message_text{
                color: #7e7c7c;
            }
            
            .message_cancel{
                float: right;
                text-decoration: underline;
                color: $link-color-3;
            }
        }
        
        .send_message_to_bg{
            background: #dedede;
            margin-bottom: -15px;
            .send_message_to{
                width: 90%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                
                .easy-autocomplete-container{
                    display: none;
                }
            }
        }
        
        .avatar_send_to_message{
            margin-right: 15px;
            max-width: 45px;
            float: left;
        }
        
        .send_to{
            .messages{
                width: 400px;     
                li{
                    border-bottom: none;
                    padding-bottom: 20px;
                    cursor: pointer;
                    img{
                        float: left;
                        margin-right: 15px;
                    }
                }
            }
            
            .message_check{
                float: right;
                color: $primary;
                display: none;
            }
            .message_check.appear{
                display: block;
            }
            
            a{
                li{
                    padding-bottom: 15px;
                    width: 540px;
                }
                
                &:first-of-type{
                    li{
                        padding-top: 30px;
                    }
                }
                &:last-of-type{
                    li{
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }
}


/* =========================================*  NOTIFICATION DROPDOWN  ====================================*/
   
#notification_popover{
    right: 100px;
    text-align: left;
    ul{
        padding-left: 0;
        li{
            list-style-type: none;
        }
    }
    .scroll_notif{
        width: 450px;
        max-height: 460px;
        overflow-y: scroll;
        padding: 0 20px;
        #pymk_mobile{
            padding: 5px 0;
            background: #CCD0D5;
            #pymk_mobile_container{
                padding: 0 20px;
                background: #fff;
                overflow: hidden;
            }
            p.notif_day_text{
                padding: 0;
            }
            .connection_info{
                height: 50px;
                overflow: hidden;
                clear: both;
                padding: 0px 15px 15px;
            }
            .see_all{
                clear: both;
                text-align: center;
                padding: 15px 0;
                background: #fff;
                color: $dark-grey;
                display: block;
            }
        }
    }
    .notif_day{
        padding-left: 10px;
    }
    
    .notif_day_text, .no_notifs, .notif_day_text h2{
        font-weight: bold;
        color: $dark-grey;
        font-size: 24px;
        margin-bottom: 5px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .tab_notifications{
        .messages li{
            &:hover{
                background: #fff;
            }
        }
        .notif_text{
            padding-right: 15px;
        }
    }
    
    .messages{
        margin-bottom: 0px;

        li{
            font-size: 18px;
            color: $dark_grey;
            font-weight: 300;

            .time{
                font-size: 13px;
                color: #999;
            }

            .notif_product{
                width: 90px;
                margin: 0px 5px;
                float: left;
            }

            .clear{
                clear: both;
            }
            
            .notif_items{
                margin: 10px auto;
                p{
                    font-size: 14px;
                    margin-top: 4px;
                    padding-left: 5px;
                }
                .comment{
                    text-align: center;
                    margin-left: -55px;
                    span{
                        font-size: 20px;
                    }
                }
            }            
            
            .notif_comment_div{
                margin-top: 10px;
                clear: both;

                p{
                    font-size: 16px;
                    margin: 0px 5px -5px 5px;
                    font-weight: 300;
                }
                a{
                    margin-top: 0px;
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
    }
    
     .see_all{
            text-decoration: none;
    } 
}

#style_override{
    #notification_popover{
        .notif_see_all{
            padding-top: 10px;
            padding-bottom: 10px;
            background-color:#f8f8f8;
            margin-bottom: 0px;
            cursor: pointer;
            color: $dark-grey;
            text-decoration: none;
            font-weight: 500;
            margin-bottom: 0px;
            border-top: 1px solid #c9c9c9;
            transition: .3s;

            &:hover{
                background: #e9e9e9;
            }
        }
    }    
}

.mini-event{
  border-radius: 10px;
  width: 325px;
}

/* =========================================*  PROFILE POPOVER  ====================================*/

#profile_popover, #hamburger_menu{
    right: 50px;
}

/* =========================================*  MULTITOOL POPOVER  ====================================*/

#multitool{
    right: 200px;
}