/* ========================================* ||||| Comment Popup ||||| ========================================*/

#comment_popup{

	position: fixed;
    width: 500px;
    right: 4%;
    bottom: 0px;
    border: 1px solid #ddd;
    border-radius: 6px;
	background: #f3f3f3;
	z-index: 9;
	webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);


	a.closeBtn{
		position: absolute;
		right:10px;
		top:10px;
		color: #777;
		font-size: 20px;
		font-weight: bold;
	}

	.top{
		padding: 15px;
		width: 100%;
		p{
			margin: 0px;
			color: $primary;
			font-weight: 500;
		}
	}

	p{
		font-size: 1em;
	}

	a{
		color: $light_orange;
	}

	form{
		position: relative;
		padding: 0px 15px;
	}

	.form-control{
		background: #fff;
	}

}

#facebook_connect{
    position: fixed;
    box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.5);
    bottom: -140px;
    background: #3b5998;
    border-radius: 15px 15px 0 0;
    text-align: center;
    width: 100%;
    padding: 35px 0;
    z-index: 4;
    p{
        color: #fff;
        margin-bottom: 5px;
        font-size: 15px;
    }
    a i{
        background: none;
        color: #fff;
        font-size: 28px;
    }
    .close_facebook{
        left: 20px;
        top: 10px;
        position: absolute;
        font-size: 15px;
        color: #fff;
        cursor: pointer;
    }
    .checkbox-inline {
        color: #fff;
        position: absolute;
        right: 10%;
        font-size: 12px;
        line-height: 19px;
    }
}


