/* ===========================================* |||||||||||||| ===========================================*/
/* =============================================*   PRODUCT   ============================================*/
/* ===========================================* |||||||||||||| ===========================================*/
#your_feed, #total_items_tab, .parallax_container {
    .product-item{
        opacity: 0;
    }
}
#total_items_tab{
    margin-bottom: 60px;
}
.product-item{
	margin-bottom: 30px;
}
.product-item-content{
	border-radius: 15px 15px 0 0;
	background: #fff; 
	position: relative;
    
    .gift_bought_ribbon{
        position: absolute;
        z-index: 2;
        top: -14px;
        left: -18px;
    }

	/* =============================================* PRODUCT UPPER MASK ============================================*/
	.mask_upper{
		border-radius: 6px 6px 0 0;
		top:0;
		width: 100%;
		height: 90px;
		position: absolute;        
	}
    
    .mask_lower{
		top:80%;
		width: 100%;
		height: 20%;
		position: absolute;
	}
    
    .product_actions{
        position: absolute;
        bottom: calc(45% + 45px);
        z-index: 2;
        width: 100%;
        text-align: center;
        display: none;
        &.variant{
            a{
                margin-right: 0;
                &:nth-of-type(2){
                    margin: 0 10px;
                    text-align: center;
                }
            }
        }
        a{
            cursor: pointer;
            font-size: 25px;
            color: #fff;
            display: inline-block;
            margin-right: 5px;
            width: 30px;
            height: 30px;
            i{
                transition: .2s;
                &.ion-ios-paperplane{
                    font-size: 29px;
                }
            }
            &:hover{
                i{
                    font-size: 27px;
                    &.ion-ios-paperplane{
                        font-size: 31px;
                    }
                }
            }
        }
    }

    a.remove_gift{
        border-radius: 0px 15px;
        z-index: 2;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 3px 18px;
        color: #eee;
        text-decoration: none;
        transition: all, ease, 0.3s;
        background: #d9534f;
        font-size: 23px;
        &:hover{
            background: darken(#d9534f, 5%);
        }
    }
    
    .mark_received, .received{
        z-index: 2;
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 7px 22px;
        width: 100%;
        color: #eee;
        text-decoration: none;
        transition: all, ease, 0.3s;
        background: $main-teal;
        font-size: 15px;
        text-align: center;
    }
    .mark_received{
        &:hover{
            background: darken($main-teal, 5%);
        }
    }
    .received:not(.mark_received){
        cursor: default;
    }

    .gift_qty_container{
        width: 80px;
        position: absolute;
        top: 3px;
        left: 10px;
        z-index: index($elements_zindex, ellipsisIcon);

        .form-control{ 
            height: 25px;
            text-align: center;
            padding: 0px;
        }

        .btn-default {
            color: #fff; 
            background-color: #fff;
            border: #807d7e;
            background: #4e4e4d;
        }

        .bootstrap-touchspin-up{
            margin-left: 5px;
            padding-left: 9px;
            padding-right: 9px;
            padding-bottom: 8px;
            border-radius: 3px;
            text-indent: -5px;
            width: 0px;
            height: 16px;
            font-size: 18px;
            line-height: 5px;
            right: -1px;
        }

        .bootstrap-touchspin-down{
            margin-right: 5px;
            padding-left: 9px;
            padding-right: 9px;
            border-radius: 3px;
            text-indent: -4px;
            width: 12px;
            height: 16px;
            font-size: 26px;
            line-height: 0px;
        }
    }
    
    
    a.buyforBtn{
        position: relative;
        z-index: 2;
        @include button(14);
        padding: 5px 20px;
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
        top: 60%;
        left: 0;
        right: 0;
        width: 200px; //Safari
        width: -moz-min-content; //Firefox
        width: min-content; //Chrome
        display: none;
    }
    a.newly_added_btn{
        top: 65%;
    }
    
    
    .buy_btn_container{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }

	.mask{
		position: absolute;
		height: 100%;
		width: 100%;
        z-index: 1;
		transition: .3s;
        background: rgba(0, 0, 0, .08);
		cursor: pointer;
        border-radius: 15px;

		span.ellipsisIcon, .newly_added{
			text-decoration: none;
			font-size: 35px;
            font-family: Bauhaus;
			color: #fff;
			display: none;
			text-align: center;
			transition: all, ease, 0.3s;
			position: absolute;
			bottom: 45%;
            margin: auto;
            width: 100%;
			z-index: index($elements_zindex, ellipsisIcon);
			outline: none;
		}
        .newly_added{
            bottom: 40%;
			font-size: 12px;
            font-family: inherit;
            line-height: 17px;
            cursor: pointer;
            img{
                display: block;
                margin: 0 auto 10px auto;
            }
            span{
                display: block;
            }
        }
	}
    .product-content-upper{
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover, &:focus{
            .mask{
                background: rgba(0, 0, 0, 0.6);
            } 
            span.ellipsisIcon, .newly_added{
                display: block;
                cursor: pointer;
            }
            .product_actions{
                display: block;
            }
            a.buyforBtn{
                display: table;
            }
	    }
    }

	p.giftbasketname{
		font-style: normal;
		top:33px;
		display: none;
	}

	&:hover p.giftbasketname{display: block;}

	/* =============================================* PRODUCT UPPER ============================================*/
	.product-content-upper{
		position: relative;
        border-radius: 15px;
        overflow: hidden;

		img.product{
            margin-left: auto;
            margin-right: auto;
           
            width: 100%;
        }

		p.product_username{
			font-style: normal;
			font-size: 13px;
			left: 55px; 
			top: 20px;
		}

		p.giftbasketname{
			left: 55px; 
			top:50px;
			font-style: normal;
		}

		img.avatar{
			max-width: 30px;
		}
	}

	/* =============================================* PRODUCT LOWER ============================================*/
	.product-content-lower{
		position: relative;
		z-index: index($elements_zindex, productContentLower);
        padding: 10px 15px 15px;
        overflow: auto;
        
        .product_tile_avatar{
            border-radius: 30px;
            display: block;
            overflow: auto;
            margin-bottom: 4px;
            padding: 2px 0;
            transition: .3s;
            img{
                float: left;
                margin-right: 10px;
                max-width: 25px;
                border-radius: 100px;
            }
            &:hover, &:active{
             background: #f1f0f0;
             text-decoration: none;
            }
            span{
                font-size: 13.5px;
                color: $dark-grey;
                position: relative;
                top: 3px;
                left: -5px;
                font-weight: 400;
            }
        }

        .product_title{
            font-size: 14px;
            color: $dark-grey;
            font-weight: 500;
            margin-bottom: 5px;
            &.caption{
                font-weight: 300;
                text-align: center;
            }
            &.purchased_text{
                color: $main-teal;
                text-align: center;
            }
        }

        .product_retailer{
            border-radius: 2px;
            float: left;
            display: block;
            margin: 0 5px 3px 0;
            width: 13px;
        }
        .product_price{
            float: left;
            margin-right: 5px;
            font-size: 13px;
            color: #999;
            position: relative;
            top: -2px;
        }

		.actions{
			margin-right: 8%;
			display: inline-block;

			&:last-of-type{margin-right: 0;}

			i{
				float: left;
				font-size: 14px;
				margin-right: 5px;
				position: relative;
				top:4px;
			}

			a{
				font-size: 12px;
				color: #aeaeae;

				&:hover{
					text-decoration: none;
					color: $main-teal;
				}
			}

		}
	}
}





/* =============================================* PRODUCT PAGE ============================================*/

.product_page_container.variant_container{
    .product_bg{
       height: 180px;
       background: #fff;
        .owl-stage-outer{
            &:before{
                background: linear-gradient(to right, #fff, rgba(255,255,255,0));
            }
            &:after{
                background: linear-gradient(to left, #fff, rgba(255,255,255,0));
            }
        }
    }
    .two_tab_container{
        #tab_one{
            padding-left: 50px;
        }
        #tab_two{
            padding-right: 50px;
        }
    }
}

.gift_container{
    .product_bg{
        &:before{
            content:"";
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
        }
    }
}
.product_page_container{
    .tab_info{
        .tab_heading_right{
            div{
                p{
                    &:first-of-type{
                        color: #5d5d5d;
                    }
                }
            }
        }
    }
    .title_name{
        margin: -10px 0 0;
        a{
            text-transform: capitalize;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: $dark-grey;
        }
    }
    .product_bg{
        background: #f9f9f9;
        background-position: center center;
        background-size: cover;
        height: 400px;
        position: relative;
        width: 100vw;
        .search_similar{
            color: $light-grey;
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            margin-top: -10px;
        }
    }
    .owl-item.active{
        &:last-of-type{
            margin-right: 0px !important;
        }
    }
    .owl-prev{
        position: absolute;
        left: -35px;
        top: 9px;
        i{
            font-size: 17px;
            color: #7f7e7e;
        }
    }
    .owl-next{
        position: absolute;
        right: -35px;
        top: 9px;
        i{
            font-size: 17px;
            color: #7f7e7e;
        }
    }
    .owl-stage-outer{
        height: 50px;
    }
    .carousel-control{
        background-image: none;
    }
    .tab_heading_right{
        overflow: hidden;
        .info{
            div{
                padding: 0 20px;
                &:first-of-type{
                    padding-left: 0px;
                }
                &:last-of-type{
                    padding-right: 0px;
                }
            }
        }
    }
    .tab_info{
        .name{
            font-size: 16px;
            color: $dark-grey;
        }
    }
    .bottom_image_container{
        .product_actions{
            &.variant{
                a{
                    margin-right: 0;
                    &:nth-of-type(2){
                        margin: 0 10px;
                        position: relative;
                        left: 1px;
                    }
                }
            }
            a{
                cursor: pointer;
                font-size: 25px;
                color: #fff;
                display: block;
                float: left;
                margin-right: 13px;
                width: 30px;
                height: 30px;
                i{
                    transition: .2s;
                    &.ion-ios-paperplane-outline{
                        font-size: 29px;
                        position: relative;
                        top: -3px;
                    }
                }
                &:hover{
                    i{
                        font-size: 27px;
                        &.ion-ios-paperplane-outline{
                            font-size: 31px;
                        }
                    }
                }
            }
        }
    }
    .buy_it_on{
        color: $main-teal;
        margin: 5px 0;
        display: block;
    }
    .product_buy_for{
        background: $main-teal;
        border-radius: 14px;
        color: #fff;
        margin-top: 15px;
        transition: .3s;
        width: 348px;
        display: block;
        clear: both;
        &:hover{
            background: darken($main-teal, 5%);
        }
    }
    .gift_buy_for{
        background: $main-teal;
        border-radius: 30px 0 0 30px;
        border-right: 1px solid #fff;
        color: #fff;
        margin-top: 15px;
        transition: .3s;
        clear: both;
        width: 230px;
        &:hover{
            background: darken($main-teal, 5%);
        }
    }
    .add_funds{
        background: $main-teal;
        border-radius: 0 30px 30px 0;
        color: #fff;
        margin-top: 15px;
        margin-left: -4px;
        transition: .3s;
        clear: both;
        width: 145px;
        &:hover{
            background: darken($main-teal, 5%);
        }
    }
    .tag_container{
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        display: table;
    }
    .items_like_this{
        margin-top: 85px;
        padding: 0 55px;
        .like_this_text{
            font-weight: bold;
            font-size: 18px;
            color: $dark-grey;
            margin-left: 15px;
        }
        .product-item{
            .mask{
                & > *{
                    display: none;
                }
            }
            .buyforBtn{
                display: none;
            }
        }
    }
}

.productToolbar{
    padding: 0 65px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
	padding-top: 90px;
    overflow: hidden;
    &.small_tags{
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
    }
    h4{
        color: #777777;
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;
        text-transform: capitalize;
    }
    
    .owl-stage-outer:before,
    .owl-stage-outer:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 50px;
      top: 0;
      height: 100%;
      display: block;
    }
    .owl-stage-outer:before {
      left: 0;
      background: linear-gradient(to right, rgba(249, 249, 249, 1), rgba(0, 0, 0, 0));
    }
    .owl-stage-outer:after {
      right: 0;
      background: linear-gradient(to left, rgba(249, 249, 249, 1), rgba(0, 0, 0, 0));
    }
    .tag_button{
        background: none;
        border-radius: 30px;
        color: #8c8b8b;
        float: left;
        font-size: 13px;
        margin-bottom: 12px;
        text-transform: capitalize;
        transition: .3s;
        
        &:hover{
            background: #f1f1f1;
        }
    }
    .add_tag{
        color: #f0b76d;
        font-weight: 500;
        padding: 8px;
    }
}

.product_avatar{
    width: 100px;
    position: absolute;
    margin-left: 40px;
    margin-top: -45px;
    z-index: 2;
}

.product_tabs{
    margin-top: 33px;
    margin-bottom: 50px;
    margin: 33px 0 50px 0;
    border-bottom: 1px solid #c9c9c9;
    background: #fbfbfb;
    padding-bottom: 5px;
    padding-top: 10px;
    .row{
        margin-left: 150px;
    }
}

#style_override{
    .productToolbar .tag_button.btn {
        &:focus{
            border: 1px solid #7f7e7e !important;
        }
        &:active{
            box-shadow: none;
        }
    }
    
}
.product_description{
    margin-top: 10px;
    .description_container{
        overflow: hidden;
        &.variant{
            height: 300px;
        }
        &.wish{
            height: 200px;
            &.nocolorsize_rating{
                height: 230px;
            }
            &.colorsize_norating{
                height: 255px;
            }
            &.nocolorsize_norating{
                height: 285px;
            }
        }
    }
   
    .product_page_description{
        overflow: hidden;
        font-size: 14px;
        color: $dark-grey;
        h1, h2, h3, h4{
            font-size: 14px;
            color: $dark-grey;
            margin-bottom: 5px;
            margin-top: 10px;
            text-transform: capitalize;
        }
        p{
            font-size: 14px;
            color: $dark-grey;
            margin-bottom: 5px;
            margin-top: 10px;
        }
        b,strong{
            font-weight: 400;
        }
        ul{
            padding-left: 18px;
        }
    }
}
#toggle{
    cursor: pointer;
    color: $dark-grey;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    i{
        font-size: 12px;
        margin-left: 3px;
    }
    &:before{
        content: "";
        position: absolute;
        z-index: 1;
        height: 30px;
        width: 100%;
        bottom: 30px;
        height: 28px;
        display: block;
        transition: .5s;
    }
    &.active:before{
        height: 0px;
    }
}
#toggle:before {
  left: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
}

.product_item_container{
    overflow: hidden;
    max-width: 900px;
    margin: 0 auto;
    &.gift{
        max-width: inherit;
        padding: 0 55px;
        margin-top: 60px;
        .comments{
            color: $dark-grey;
            font-size: 16px;
            font-weight: 300;
        }
        .caption_form{
            &.no_display{
                display: none;
            }
            &.active{
                width: calc(100% - 55px);
                float: right;
                .edit_gift{
                    padding-bottom: 0;
                }
                button{
                    i{
                        position: relative;
                        top: 15px;
                    }
                }
            }
            &.active_mobile{
                .edit_gift{
                    padding-bottom: 10px;
                }
                button{
                    i{
                        position: relative;
                        top: 10px;
                    }
                }
            }
        }
        .comment_caption{
            margin-bottom: 30px;
            text-align: center;
            span{
                color: $dark-grey;
                font-size: 16px;
                font-weight: 300;
                position: relative;
                top: 8px;
            }
            img{
                height: 35px;
                width: 35px;
            }
            .edit_button{
                color: $main-teal;
                cursor: pointer;
                font-size: 12px;
                position: relative;
                top: 6px;
                left: 8px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .comment_caption_mobile{
            padding-bottom: 10px;
            overflow: hidden;
            color: $dark-grey;
            font-size: 16px;
            font-weight: 300;
            clear: both;
            img{
                width: 30px;
                border-radius: 100px;
                float: left;
                margin-right: 15px;
            }
            div{
                float: left;
                width: calc(100% - 45px);
            }
            .edit_button{
                color: $main-teal;
                font-size: 12px;
                position: relative;
                left: 5px;
            }
        }
        .message_container{
            clear: both;
            background: none;
            padding: 0;
            border-radius: 0;
            padding-top: 15px;
            overflow: auto;
            max-height: 325px;
            &.no_comments{
                padding-top: 0;
            }
        }
        .comment_input{
            overflow: hidden;
            padding-top: 10px;
            &.no_caption_owner{
                overflow: visible;
                .gift_actions{
                    padding: 0;
                    margin-top: -25px;
                }
            }
        }
    }
    .gift_bought_ribbon{
        position: absolute;
        z-index: 1;
        margin-top: -14px;
        margin-left: 5px;
        display: block;
    }
    .buy_it_here{
        font-size: 14px;
        color: $dark-grey;
        margin-right: 10px;
    }
    .already_purchased{
        font-size: 14px;
        clear: both;
        color: $main-teal;
        margin-bottom: -5px;
    }
       
        
    .input-group-btn:first-child{
        border: 1px solid #b4b3b3;
        border-radius: 30px 0px 0px 30px;
        padding: 0px 10px 0px 10px;
        border-right: none;
    }
    .input-group-btn:last-child{
        border: 1px solid #b4b3b3;
        border-radius: 0px 30px 30px 0px;
        padding: 0px 5px 0px 15px;
        border-left: none;
    }
    .bootstrap-touchspin{
        float: left;
        width: 108px;
    }

    .btn-default {
        color: #fff; 
        background-color: #fff;
        border: #807d7e;
        background: #4e4e4d;
    }

    .input-group-btn{
        transition: .3s;
        &:active{
            background: #f1f1f1;
        }
    }

    .bootstrap-touchspin-up{
        margin-left: 5px;
        padding-left: 9px;
        padding-right: 7px;
        padding-bottom: 8px;
        border-radius: 3px !important;
        text-indent: -5px;
        width: 0px;
        height: 14px;
        font-size: 15px;
        line-height: 0px;
        right: 6px;
        color: #fff !important;
        background: #4d4d4d !important;
    }

    .bootstrap-touchspin-down{
        margin-right: 5px;
        padding-left: 9px;
        padding-right: 7px;
        border-radius: 3px !important;
        text-indent: -4px;
        width: 11px;
        height: 14px;
        font-size: 18px;
        line-height: 0px;
        color: #fff !important;
        background: #4d4d4d !important;
    }
    .size_container{
        .size_color_text{
            font-size: 14px;
            color: $dark-grey;
            float: left;
            &:first-of-type{
                margin-right: 15px;
            }
        }
    }

    .default_dropdown{
        float: left;
        margin-right: 15px;
        button{
            @include button_custom(12px, #fff, inherit, bold);
            border:1px solid #ccc;
            padding: 8px 92px;
        }
        .dropdown-menu{
            width: calc(100% - 28px);
        }
    }
    
    .btn-group-justified{
        margin-top: 10px;
        width: 375px;
    }
    
    .details{
        color: $dark-grey;
        font-size: 14px;
        margin-top: 15px;
    }
    
    .product_info{
        font-size: 13px;
        margin: 15px 0 20px 5px;
        span{
            margin: 0 3px;
        }
    }
    h2{
        font-size: 2.2em;
        font-weight: bold;
        color: #716f6f;
    }
    h1{
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        color: $dark-grey;
        text-transform: capitalize;
    }
    
    .product_buy_for{
        @include button(14);
        width: 90%;
        max-width: 300px;
        margin: 10px 0 0;
    }
    .col-sm-pull-7{
        padding-left: 0px;
    }
    
    .product_img_container{
        max-height: 400px;
        overflow: hidden;
        border-radius: 30px;
        background-color: rgba(234, 234, 234, .9);
        img{
            margin-left: auto;
            margin-right: auto;
            transition: .3s;
            &.active{
                height: 400px !important;
            }
            -webkit-filter: brightness(92%);
            filter: brightness(92%);
        }
    }
    .bottom_image_container{
        padding: 0 15px;
        margin-top: 10px;
        .product_actions{
            float:left;
            position: relative;
            top: -5px;
            display: block;
            clear: both;
            a{
                color: $dark-grey;
            }
            &.variant{
                float: right;
            }
        }
    }
    .show_full{
        font-size: 12px;
        cursor: pointer;
        float: left;
        color: $dark-grey;
        margin-right: 15px;
        clear: both;
        &:hover{
            text-decoration: underline;
        }
    }
    .product_actions{
        float: right;
        position: relative;
        top: -5px;
    }
    .tag_list{
        clear: both;
        margin: 10px 0px;
        a{
            color: $dark-grey;
            font-size: 14px;
            padding-right: 10px;
        }
        & > span{
            color: $main-teal;
            text-transform: inherit;
            font-size: 12px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        .add_tags{
            height: 35px;
            border-radius: 30px;
            font-size: 13px;
            font-weight: 400;
            margin-top: 10px;
            width: calc(100% - 130px);
            float: left;
        }
        form{
            display: none;
            &.active{
                display: block;
            }
        }
        .add_tags_button{
            @include button(13);
            padding: 7px 30px;
            margin-top: 11px;
            margin-left: 10px;
            transition: .5s;
            visibility: hidden;
            opacity: 0;
            &.active{
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .product_information{
        margin: 10px 0px;
        font-size: 1em;
    }
    
    .product_page_img{
        border-radius: 4px;
    }
    .product_likes{
        font-size: 15px;
        margin-bottom: 5px;
        color: $dark-grey;
    }
    div .product_price{
        font-weight: bold;
        font-size: 22px;
        margin-bottom: -7px;
        span{
            color: #716f6f;
        }
    }
    .product_desired{
        font-size: 16px;
        span{
            font-size: 21px;
        }
    }
    .product_price,.product_desired{
        color: #716f6f;
        span{
            color: $dark-grey;
        }
    }
}

