/* ===========================================* |||||||||||||| ===========================================*/
/* =======================================*   PROFILE BACKGROUND   =======================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.profile_bg{
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 400px;
	position: relative;
    width: 100vw;
    &:before{
        content:"";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
    }
    &.on{
        &:before{ background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1.2) 100%); }
    }

	.container{position: absolute;bottom: 0;left: 0;right: 0;}

	.row{
		position: absolute;
		bottom: 0;
		height: 120px;
		margin-right: 0;
	}
    .name_city{
        bottom: 0;
        padding-left: 260px;
        position: absolute;
        .name{
            color: #f1f1f1;
            margin-bottom: 2px;
            font-size: 20px;
            font-weight: bold;
        }
        .city, .birthday{
            color: #fbfbfb;
            font-size: 14px;
            margin-bottom: 2px;
            font-weight: 700;
        }
    }
    .info{
        float: right;
        position: absolute;
        bottom: 5px;
        right: -10px;
        display: none;
    }

    .edit_banner_btn{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 38px;
        color: #fff;
        display: none;
    }
}


/* ===========================================* |||||||||||||| ===========================================*/
/* =======================================*   PROFILE PAGE CONTENT   =====================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.parallax_container{
    background: #fff;
    overflow: hidden;
    position: relative;
}
.main_avatar_container{
    position: absolute;
    margin-top: -85px;
    left: 75px;
    z-index: 1;
    img{
        width: 175px;
        border: 3px solid #fff;
        border-radius: 100px;
        background-color: #fff;
    }
    .avatar_mask{ 
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1.2) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 50%;
        display: none;
    }
    .edit_avatar_btn{
        position: absolute;
        bottom: 35%;
        left: 42%;
        z-index: 1;
        font-size: 38px;
        color: #fff;
        display: none;
    }
}
.tab_info{
    padding: 5px 20px 0px 260px;
    overflow: hidden;
    .website_description{
        padding: 0px;
        min-height: 50px;
        .name_city{
            display: none;
            .name{
                color: $dark-grey;
                margin-bottom: 0px;
                font-size: 20px;
            }
            .city, .birthday{
                color: $dark-grey;
                font-size: 16px;
                margin-bottom: 0px;
                font-weight: normal;
            }
        }
        .website{
            color: $dark-grey;
            font-size: 16px;
            margin-bottom: 0px;
        }
        .bio_container{
            overflow: hidden;
            height: 40px;
        }
        .bio{
            color: $dark-grey;
            font-size: 13px;
            font-weight: 400;
        }
        #toggle{
            &:before{
                bottom: 20px;
            }
        }
    }
    .tab_heading_right{
        .info{
            float: right;
        }
        a{
            cursor: pointer;
        }
        div, a{
            float: left;
            padding: 0 8px;
            text-decoration: none;
            p{
                margin: 0px;
                font-weight: 500;
                font-size: 14px;
                &:first-of-type{
                    text-align: center;
                    color: $main-teal;
                    font-weight: 700;
                }
            }
        }
    }
}

.three_tab_navigation{
    .pending{
        margin-bottom: 0;
        #tab_two{
            position: relative;
        }
    }
    .pending_number{
        background: $notification-color;
        color: #fff;
        border-radius: 100px;
        text-align: center;
        font-size: 12px;
        padding: 2px 10px;
        position: absolute;
        top: 27px;
        left: -24px;
        width: 150px;
        span{
            position: relative;
            top: 1px;
        }
    }
}

.profile_tabs{
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

.follow_orange{
    color: $main-teal;
}

.profile_tab_padding{
    padding-top: 15px;
    & > .tab-pane{
        margin-bottom: 50px;
    }
}

.private_profile_content{
    z-index: 2;
    width: 100%;
    text-align: center;
    
    .private_text{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        
        .private_profile_icon{
            font-size: 28px;
            margin-right: 20px;
            margin-bottom: 80px;
            float: left;
            margin-top: 9px;
            color: $main-teal;
        }
        
        p{
            color: $primary;
            font-size: 18px;
            text-align: left;
            width: 500px;
        }
    }  
}

.private_profile{
    background-color: #fff;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.1;
    margin: 0;
    filter: blur(5px);
}

.edit_profile_container{
    padding: 15px 55px;
    clear: both;
    display: none;
    background: #fff;
    overflow: hidden;
    position: relative;
    form {
        input[type=submit]{
            @include button(14);
            border: none;
            padding: 7px 20px;
        }
        label{ 
            font-weight: 400;
            font-size: 14px; 
        }
        a{
            color: #5d5d5d;
            outline: none;
            margin-right: 10px;
        }
    }
}

/* ===========================================* |||||||||||||| ===========================================*/
/* =======================================*   PROFILE PAGE TABS   ========================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.tab_center{
    float: none;
    margin-left: auto;
    margin-right: auto;
    form{
        padding: 0 15px;
    }
}

.toolbar{
	padding: 0px 60px 15px 60px;
	width: 100%;
	
	.form-control {
        padding-left: 15px;
        font-size: 15px;
	}

    ul{
        border: 1px solid #ccc;
        border-radius: 0 0 25px 25px;
        border-top: none;
        padding-top: 18px;
        padding-bottom: 18px;
        width: 94%;
        margin: 1px auto 0 auto;
        li{
            border: none;
            transition: .3s;
            div{
                font-weight: bold;
                color: $dark-grey;
            }
            &.selected{
                background: #f1f1f1;
                div{
                    font-weight: bold;
                }
            }
        }
    }
}

/* ================* || Basket Tab || ======================*/


.profile_no_items{
    text-align: center;
    margin-top: 12vh;
    color: #7a7878;
    font-size: 14px;
}
.connections_container{
    .profile_no_items{
        margin-left: -120px;
    }
    .toolbar{
        position: relative;
        left: -60px;
    }
}

/* ================* || CONNECTIONS MENU || ======================*/
#style_override{
     .private_div #connections_tab{
        .col-md-3{
            &:nth-child(5n+1){
                clear: both;
            }
        }
    }
}
.connections_menu {
	.list-group-item{
		border: none;
		font-size: 18px;
		padding: 0px;
        background: none;

		span:first-child{
            color: $main-teal;
			display: block;
			font-size: 24px;
			font-weight: 400;
			
		}
		span:last-child{
			position: relative;
			top: -10px;
            font-size: 14px;
		}

		a{	text-align: center;
			color: #bfbebe;
            text-decoration: none;
			&:hover{
                span{
                    color: rgb(76, 76, 76); 
                }
			}
		}
	}

	.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
		background: none; 
		a{
            span{
                color: rgb(76, 76, 76); 
                text-decoration: none;
            }
		}
	}

	.dropdown-menu > li > a{
		color: inherit !important; 
	}
}
