.features-section{
    p {
        font-size: 14px;
    }
}
/* ===========================================* || FULL TAB || ===========================================*/
.container-fluid.tab_full_width{
    clear: both;
	padding: 0 55px;
}


/* ===========================================* || NOTIFICATION SECTION || ===========================================*/
.body_wrap_notif{
    padding: 0px 55px 30px 55px;
}

.notification_container{
	padding: 110px 0%;


    .your_notif{
        color: #6d6b6b;
        font-size: 21px;
        font-weight: 400;
        span{
            font-weight: bold;
        }
    }

    .notif_section_left{
        width: calc(100% - 170px);
        float: left;
    }

    .notif_settings_text{
        color: $main-teal;
        font-size: 14px;
        float: right;
        margin-top: 25px;
        transition: .3s;
    }
    
    .notif_info_container{
        border-top: 1px solid $light-grey;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .notif_day, .notif_connections{
        background-color: $dark-grey;
        margin-top: 10px;
        overflow: hidden;
        h2{
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            margin: 10px 0 10px 15px;
        }
    }
    
    .notif_connections{
        clear: both;
        h2{
            text-align: right;
            margin: 10px 15px 10px 0;
        }
    }
    
    .notif_section_right{
        padding: 0px;
        float: right;
        border-left: 1px solid #bfbebe;
        
        .notif_page_right{
            overflow: hidden;
            padding-left: 5px;
        }
        
        .notif_users_container{
            margin-top: 15px;
            width: 100%;
            min-height: 176px;
            #pending_slider, #pymk_slider{
                padding: 0 10px;
                .owl-next, .owl-prev{
                    background: none;
                    position: absolute;
                    top: calc(50% - 28px);
                    color: $dark-grey;
                    padding: 0;
                    i{
                        font-size: 20px;
                    }
                }
                .owl-next{
                    right: 0;
                }
                .owl-prev{
                    left: 0;
                }
            }
            .notif_page_user{
                margin-bottom: 20px;
                padding: 10px 0;
                transition: .3s;
                border-radius: 6px;
                transition: .3s;
                
                .avatar{
                    float: left;
                    margin: 0px 10px 60px 22px;
                    max-width: 45px;
                }

                .notif_user_text{
                    
                    .connection_name{
                        transition: .3s;
                    }

                    .mutual_connections{
                        font-size: 15px;
                        margin-bottom: 0px;
                    }

                    .connection_request_date{
                        font-size: 12px;
                    }

                    .btn_confirm{
                        background-color: $main-teal;
                        color: #fff;
                        border:none;
                        border-radius: 30px;
                        padding: 3px 15px;
                        transition: .3s;
                        font-size: 14px;
                        &:hover{
                            background: darken($main-teal, 5%);
                        }
                        &:active{
                            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                        }
                        &:focus{
                            outline: none;
                        }
                    }

                    .btn_delete{
                        background-color: #aeaeae;
                        color: #fff;
                        border:none;
                        border-radius: 30px;
                        padding: 3px 15px;
                        transition: .3s;
                        font-size: 14px;
                        &:hover{
                            background: $grey-hover;
                        }
                        &:active{
                            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
            .notif_expand_all{
                color: $link-color-3;
                margin: -10px 0px 20px 155px;
                background: none;
                border: none;
                transition: .3s;
                float: right;
                &:hover{
                    text-decoration: underline;
                }
                &:focus{
                    outline: none;
                }
            }
            
                        
             .notif_page_user:last-of-type{
                    margin-bottom: 15px;
            }
            .notif_button_container{
                height: 27px;
                .connection_added{
                    color: #939393;
                    display: none;
                }
            }
            .no_requests{
                clear: both;
                margin-top: 63px;
                p{
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
        
        .friend_suggestion{
            border-radius: 30px;
            clear: both;
            background: #f9f8f8;
            margin-top: 20px;
            text-align: center;
            color: #6d6b6b;
            padding: 20px 0px;
            
            div{
                margin-bottom: 10px;
            }
            
            .friend_suggestion_title{
                color: #6d6b6b;
                font-size: 18px;
            }
            a{
                cursor: pointer;
                transition: .3s;
                &:first-of-type{
                    display: inline-block;
                }
            }
            .avatar_suggestion{
                width: 50px;
                margin-left: auto;
                margin-right: auto;
            }
            
            i{
                color: $main-teal;
            }
            .mutual_connections{
                font-size: 16px;
                margin-bottom: 0px;
            }
        }
        
    }
    
    
    .messages{      
        margin-bottom: 0px;
        list-style: none;
        clear: both;
        padding: 0px;
        li{
            font-size: 14px;
            color: $dark_grey;
            font-weight: 400;
            padding: 12px 12px 12px 30px;
            border-bottom: 1px solid #ededed;
            transition: .3s;
            position: relative;

            a{
                color: $main-teal;
                font-weight: 500;
            }

            img.avatar{
                float: left;
                margin-right: 20px;
                max-width: 40px;
            }
            
            .new_notif{
                font-size: 15px;
                color: $main-teal;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(-50%,-50%);
            }

            .notif_type{
                color: $dark_grey;
                float: left;
                margin-bottom: 35px;
                margin-right: 16px;
                font-size: 21px;
                position: relative;
                top:3px;
                &.ion-ios-paperplane{
                    font-size: 25px;
                    top: 0;
                }
            }
            
            .time{
                font-size: 13px;
                color: $primary;
            }
            .notif_propduct{
                width: 90px;
                margin: 0px 5px;
                float: left;
            }

            .clear{
                clear: both;
            }
            
            .notif_items{
                margin-top: 20px;
                margin-bottom: 10px;
                overflow: hidden;
                p{
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
            
            .notif_comment_div{
                margin-top: 10px;


                p{
                    font-size: 14px;
                    margin: 0px 5px -5px 5px;
                }
                a{
                    margin-top: 0px;
                    font-size: 12px;
                }
            }
        }
        
        li:last-of-type{
            border-bottom: none;
        }
    }
}

.notif_page_main_container{     
    .col-sm-12{
        padding-left: 0px;
    }
}
.notification_container{
    .col-xs-4{
        padding: 0px;
    }
}


/* ===========================================* |||||||||||||| ===========================================*/
/* ========================================*     FULL PAGE FORM    =======================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.full_page_form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: hidden;
    
    .error{
        overflow: hidden;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        .sad_image{
            float: left;
            img{
                max-width: 480px;
            }
        }
        .error_links{
            float: left;
            margin-top: 30px;
            h1{
                font-weight: 300;
                margin-top: 0;
                margin-left: 15px;
            }
            p{
                color: #aaa;
                font-size: 30px;
            }
            ul{
                margin-left: 40px;
                color: $dark-grey;
                a{
                    color: $dark-grey;
                }
            }
        }
    }
    
}

.mobile_full_page_form{
    position: relative;
    margin: 65px 0px;
    overflow: hidden;
}

/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================* FORM STYLES ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.form-container{
	background: #fff;
	width: 100%;
	border-radius: 30px;
	margin: 0px auto;

    .actions {
        margin-bottom: 15px;
        .btn{
          @include button_custom($fz: 14px, $bg: #9ac4b5, $cl: #fff, $fw: 400);
          width: 100%;
          display: block;
          height: 45px;
        }
    }
    
    form label{
        font-weight: 300;
        font-size: 12px;
        text-transform: capitalize;
        color: #999;
    }

    form a{
        color: #5d5d5d;
        font-weight: 300;
        font-size: 14px;
        &:hover{
            cursor: pointer;
            color: #939393;
        }
    }

    form .form-control{
        font-weight: 500;
        font-size: 14px;
    }

    form .form-group{
        margin-bottom: 30px;
        @media only screen and (max-width : 480px) { margin-bottom: 15px;}
    }

    p{
        font-weight: 300;
        color: #5d5d5d;
        font-size: 18px;
    }

    span{
        color: #5d5d5d;
        display: block;
        font-size: 12px;
        font-weight: 400;
        a{ 
            color: #5d5d5d;
            font-weight: bold;
        }
    }

    h2{
        color: #5d5d5d;
        font-size: 12px;
    }

    h1{
        color: $dark-grey;
        font-weight: bold;
        font-size: 30px;
        @media only screen and (max-width : 576px) { margin: 10px 0px 30px 0px; }
        a{  margin: 10px 0px;
            @include button_custom($fz: 14px, $bg: #9ac4b5, $cl: #fff, $fw: 600);
            width: 100%;
            display: block;
            height: 45px;
        }
    }

    .errror .list-unstyled li { 
        padding: 5px 0px;
        a{ color: #5d5d5d; } 
    }

}

/* ===========================================* |||||||||||||| ===========================================*/
/* =========================================*      REGISTER  ============================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.register_social{
    li{
        a{
            i{
                background: #fff;
                color: #999;
                transition: .5s;
                font-size: 4.5em;
                &:hover{
                    color: darken(#999, 5%);
                }
            }
        }
    }
}

/* ===========================================* |||||||||||||| ===========================================*/
/* =========================================* FEED SIDEBAR ADS ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/


.feed_sidebar{
	min-height: 250px;
    float: right;

	div.ad{
		border-radius: 15px;
		padding: 30px 5px;
		background: #dddddd;

		img{
			border: 1px solid #efefef;
            height: 200px;
            margin-left: auto;
            margin-right: auto;
		}
	}
    p{
        font-size: 12px;
        margin: 5px 25px;
        font-weight: 300;
    }

	ul{
		padding-left: 0px;
		line-height: 1.8em;
		list-style: none;
		margin-bottom: 20px; 
		a{
			color: $blue;
			span{
				color: #333333;
			}
		}

	}
	h3{
		color: $primary;
		font-size: 20px;
		font-weight: 700;
		border-bottom: 1px solid $primary;
		margin-bottom: 20px;
	}
    
    .reminders{
        background: #f3f3f3;
        margin-bottom: 30px;
        padding: 10px 20px;
        border-radius: 6px;
        
        li{
            i{
                color: $main-teal;
            }
            
            a{
                font-size: 14px;
                text-decoration: none;
                &:focus{
                    outline: none;
                }
            }
            span{
                &:first-of-type{
                    margin-left: 5px;
                    text-decoration: underline;
                    font-weight: bold;
                    color: $main-teal;
                }
            }
        }
    }
}

#hero-slider{
    background: #09231f;
    z-index: -1;
    .owl-item{
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        img{
            height: 100vh;
            object-fit: cover;
        }
    }
}
.nav_circle{
    position: absolute;
    left: 70px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    cursor: pointer;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    svg{
        width: 25px;
        height: 25px;
    }

}

.landing_splash{
    position: relative;
    overflow: hidden;
    height: 100vh;
    margin-top: -50px;
    .splash_center{
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        height: 100%;
    }
    .splash_position{
        top: 30%;
        position: absolute;
        width: 100%;
        overflow: hidden;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    #splash_left{
        float: left;
        h1{
            color: #fff;
            font-weight: 100;
        }
    }
    #splash_right{
        float: left;
        position: relative;
        input:not([type="submit"]){
            background: transparent;
            color: #fff;
            font-weight: 300;
        }
        ::-webkit-input-placeholder {
            color: #fff;
        }
        input[type="submit"]{
            background: #1aa69a;
            font-weight: 400;
            font-size: 16px;
            &:hover{
                background: darken(#1aa69a, 5%);
            }
        }
        #landing_form_bottom{
            h2, span, a{
                color: #fff;
            }
            a{
                font-weight: 500;
            }
            h2{
                margin-top: 0;
            }
            span{
                font-weight: 300;
            }
            .list-inline-item{
                padding: 0 2px;
            }
            i{
                background: none;
                color: #fff;
                font-size: 3em;
                &:hover{
                    color: darken(#fff, 15%);
                }
            }
        }
    }
    .how_it_works{
        bottom: -120px;
        background: #fff;
        & > div{
            position: relative;
            top: -55px;
            span{
                font-size: 12px;
                color: $dark-grey;
            }
        }
        .v_scroll{
            display: inline-block;
            position: relative;
            top: 7px;
        }
    }
    .how_it_works_mobile{
        color: #fff;
        font-weight: 300;
        position: absolute;
        bottom: -45px;
        left: 0;
        right: 0;
        .v_scroll{
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 5px;
        }
        svg{
            height: 40px;
            width: 40px;
            path{
                fill: #fff;
            }
        }
    }
}
#how_it_works, #adding_wishes, #register{
    h2{
        text-align: center;
        border-bottom: 2px solid $main-teal;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0 auto 10px auto;
        padding: 50px 10px 0 10px;
    }
}
#how_it_works{
    overflow: hidden;
    position: relative;
    .how_it_works_buttons{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid #eee;
        overflow: hidden;
        padding: 0 20px;
        transition: .3s;
        background: #fff;
        .carousel_button{
            cursor: pointer;
            text-align: center;
            padding-bottom: 40px;
            .number{
                font-size: 40px;
                font-weight: 300;
                span{
                    color: $main-teal;
                }
            }
            h3{
                margin-top: 0;
            }
            p{
                color: $dark-grey;
                font-size: 16px;
                span{
                    display: block;
                }
            }
            &.active{
                background: #f8f8f8;
            }
        }
    }
    .great_gift_ideas{
        background: #76B4A9;
        color: #fff;
        bottom: -125px;
        & > div{
            position: relative;
            top: -55px;
            font-size: 12px;
            font-weight: 300;
        }
        .v_scroll{
            width: -moz-max-content;
            width: -webkit-max-content;
            width: max-content;
            margin: 5px auto 0 auto;
        }
    }
    .great_gift_ideas_mobile{
        text-align: center;
        color: $dark-grey;
        font-weight: 300;
        padding-bottom: 20px;
        svg{
            height: 25px;
            width: 25px;
        }
    }
}
#landing_wish_lists{
    background: #fff;
    padding-bottom: 50px;
    z-index: 2;
    position: relative;
    .gradient{
        background: linear-gradient(to bottom, rgba(115,180,169,1) 0%,rgba(255,255,255,1) 100%); 
        width: 100vw;
        text-align: center;
        color: #fff;
        padding: 50px 0 85px;
        font-size: 30px;
        font-weight: 300;
    }
    .take_a_look{
        text-align: center;
        margin: 20px 0;
        color: #fff;
        font-weight: 300;
    }
    .wish_lists_list{
        width: 90%;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        margin-top: -40px;
    }
    .see_more_registries{
        clear: both;
        display: block;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        margin: 10px auto 0 auto;
        font-weight: 300;
        color: $dark-grey;
    }
}
#register{
    position: relative;
    z-index: 3;
    background: #fff;
    padding: 50px 0px 80px;
    h2{
        border-bottom: none;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 24px;
    }
    .owl-prev, .owl-next{
        position: absolute;
        top: 26px;
        height: 100%;
        color: $dark-grey;
        background: none;
        font-size: 28px;
        padding: 0 35px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        i{
            position: relative;
            top: -20px;
        }
    }
    .owl-prev{
        left: 0;
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%);
        i{
            left: -20px;
        }
    }
    .owl-next{
        right: 0;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
        i{
            right: -20px;
        }
    }
}
#adding_wishes{
    position: relative;
    z-index: 3;
    overflow: hidden;
    background: #e9e8e9;
    .video_container{
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding-bottom: 50px;
    }
    .desktop, .mobile{
        p{
            width: -moz-max-content;
            width: -webkit-max-content;
            width: max-content;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            color: $dark-grey;
            font-size: 16px;
        }
        video{
            width: 100%;
        }
    }
    .desktop{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        p{
            text-align: center;
        }
    }
    .devices{
        position: absolute;
        right: 20%;
        top: 18%;
        z-index: 1;
        i{
            display: block;
            font-size: 95px;
            color: #aaa;
            line-height: 90px;
        }
        p{
            color: $dark-grey;
            font-size: 14px;
        }
        .phone, .monitor{
            &.active{
                i, p{
                    color: $main-teal;
                }
            }
            i, p{
                transition: .5s;
                font-weight: 400;
            }
            text-align: center;
            cursor: pointer;
            &:hover{
                i, p{
                    color: $main-teal;
                }
            }
        }
    }
}


/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================*  WELCOME PAGE  ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/

#welcome_to_giftibly{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    padding: 15px;
    h1{
        color: $dark-grey;
        font-weight: 300;
        span{
            font-family: 'Bauhaus';
        }
    }
    p{ font-weight: 300; }
    img{ margin: auto; }
    a.enter_site{ color: #5d5d5d; text-decoration: underline; }
    a.install_ga{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .get_started{
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $main-teal;
        color: #fff;
        box-shadow: 1px 3px 3px #aaa;
        border-radius: 30px;
        border: none;
        font-weight: 300;
        font-size: 13px;
        padding: 6px 9px;
        width: 190px;
    }
}

/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================*  LANDING PAGE  ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/


.landing_page{

    .giftibly-wishlist-nav li a{
        color: $dark-grey;
    }

    .heading_text{
        @media only screen and (min-width : 992px) {
            position: absolute;
            top: 45%;
            left: 5%;
        }    
        @media only screen and (max-width : 576px) {
            padding: 20px 15px 0px 15px
        }
        h1{
            color: #fff;
            font-weight: bold;
            font-size: 2.3em;
            @media only screen and (max-width : 992px) { font-size: 28px; color: #5d5d5d}
            @media only screen and (max-width : 480px) { font-size: 25px;}
        }

        a{
            @include button(14);
            float: left;
            padding: 5px 55px;
            width: -moz-min-content;
            width: -webkit-min-content;
            width: min-content;
            @media only screen and (max-width : 992px) { float: none; margin: 0 auto }
        }
        p{
            font-size: 20px; 
            font-weight: 300;
            @media only screen and (max-width : 480px) { font-size: 15px;}
        }
    }

    p{
        font-size: 20px; 
        font-weight: 300;
        @media only screen and (max-width : 480px) { font-size: 15px;}
    }
   
    h2{
        @media only screen and (max-width : 1200px) { font-size: 25px;}
        @media only screen and (max-width : 480px) { font-size: 20px;}
    }
    .group_tile_Details{
        h2{
            text-transform: none;
        }
    }

    #works_desktop{
        overflow: hidden; 
        padding: 0px 15px;
        margin-top: 30px; 
        width: 100%;
        video{
            width: 100%;
            height: 100%;
            @media only screen and (max-width : 480px) {
                padding-top: 15px;
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -o-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
        a{ @include button(14);
            padding: 5px 35px;
        }
    }
    #works_mobile{
        background: #f7f7f7;
        padding: 0px 15px;
        overflow: hidden; 
        margin-top: 30px;
        video{
            width: 80%;
            height: 100%;
            @media only screen and (max-width : 992px) {width: 100%;}
            @media only screen and (max-width : 480px) {
                margin: 60px auto;
                position: relative;
                left: -5px;
                -moz-transform: scale(1.5);
                -webkit-transform: scale(1.5);
                -o-transform: scale(1.5);
                -ms-transform: scale(1.5);
                transform: scale(1.5);
            }
        }
        a{ @include button(14);
            padding: 5px 35px;
        }
    }
}




/* ===========================================* |||||||||||||| ===========================================*/
/* =========================================* PROFILE SETTINGS ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.settings_menu_container{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.edit_profile_menu{
    max-width: 480px;
    button{
        padding: 12px 40px;
        border: 1px solid #ccc;   
        width: 100%;
        span{ color: #5d5d5d; }
    }

	.list-group-item{
		border: none;
		font-size: 18px;
		color: #bfbebe;
        font-weight: normal;
        letter-spacing: 1px;
        background: none;
        padding: 7px 15px;

		a{
			color: #bfbebe;
            transition: .3s;
            font-weight: bold;
            font-size: 14px;
			&:hover{
				color: rgb(76, 76, 76); 
				text-decoration: none;
			}
		}
	}

	.list-group-item.active,.list-group-item.active:hover, .list-group-item.active:focus{
		a{
			color: rgb(76, 76, 76); 
			text-decoration: none;
		}
        background-color: #fff;
        border-color: #fff;
	}

	.disabledTab {
		a {pointer-events: none;}
		cursor: no-drop;
	}
	.dropdown-menu > li > a{
		color: inherit !important; 
        background: transparent;
        font-weight: normal;
        font-size: 14px;
	}
}

.settings_container{
    padding: 0;
    width: 85%;
    margin-top: 45px;
    margin-bottom: 40px;
    .quantity_select{
        display: none;
    }
}

#notifications-form{
    h2{
        text-align: center;
    }
}

#profile-tab-content{
    .account_info_container, #shipping_info, #notifications-form{
        overflow: hidden;
        .input-md{
            box-shadow: none;
        }
    }
    .account_info_container{
        .input-md{
            width: 200px;
        }
    }
	form {
		.form-control{

            &#customer_description, &#special_instructions{
                height: 150px;
                resize: none;
                padding-top: 20px;
            }
		}	
		.btn{
			@include button(14);
            border: none;
            padding: 7px 20px;
		}
	}
    .last_name{
        margin-top: 25px;
    }
    label{
        font-weight: 400;
        font-size: 14px;
    }
    .private_instructions{
        font-weight: 300;
        font-size: 14px;
        color: #939393;
    }
    .date-picker{
        input{
            border-radius: 30px 0 0 30px;
        } 
        .input-group-addon{
            border-radius: 0px 30px 30px 0;
        }
    }
    .emailchange a{
        display: block;
        font-size: 14px;
        color: #5d5d5d;
    }
    .basic_info_right{
        a{
            width: inherit;
            padding: 5px 45px;
            margin-top: 5px;
            font-size: 14px;
        }
    }
    .additional-info{
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 0px;
        input{
            height: 25px;
        }
    }
    .get_notifications_when{
        font-size: 14px;
        margin-top: 10px;
        .form-group{
            overflow: hidden;
            & > span{
                float: left;
                width: calc(100% - 80px);
            }
            & > div{
                float: left;
            }
        }
        h3{
            font-size: 21px;
            margin-top: 35px;
            clear: both;
            &:first-of-type{
                margin-top: 0;
            }
        }
    }
    .bootstrap-switch{
        height: 25px;
        border-radius: 30px;
        .bootstrap-switch-handle-on, .bootstrap-switch-handle-off{
            line-height: 1.4;
            font-weight: 400;
        }
    }
    
    .panel-heading{
        border-radius: 30px;
        padding: 5px 15px;
    }

	#messages{
		.form-group > span{
			padding-left: 15px;
		}
	}
	h2{
		color: $dark-grey;
	    font-weight: bold;
        margin-top: 0px;
        letter-spacing: 1px;
	}
    .get_notified{
        color: $dark-grey;
        font-size: 14px;
    }
    .linkedin_section{
        clear: both;
    }
	.switch-title{
		font-size: 18px; 
		color: #939393;
        margin-bottom: 5px;
        i{
            font-size: 20px;
            margin-right: 3px;
        }
        .icon-facebook-squared{
            background: #fff; 
            color: #496ccf
        }
        .icon-linkedin-squared{
            background: #fff;
            color: #0076b5;
        }
        .icon-gplus-squared{
            background: #fff;
            color: #d23e1f;
        }
        .icon-twitter-squared{
            background: #fff;
            color: #1da1f2;
        }
	}
	.switch-desc{
        font-size: 14px;
		color: #939393;
        font-weight: 300;
	}
    .bootstrap-switch{
        border-radius: 30px;
    }

	#my-events{

		.panel-default{
			border: none;
			box-shadow: none;
		}
		.panel-event{
			width: 80%;
			display: block;
			margin-bottom: 20px;
			margin: auto;
            img{
                border-radius: 15px;
            }
		}

		.pannel-content{
			padding: 5px 15px;
		}
		.panel-event-title a{
			font-size: 18px;
			color: $main-teal;
            text-decoration: none;
            text-transform: capitalize;
            font-weight: bold;
		}
		.panel-event-time span{
			font-size: 14px;
            font-weight: 300;
		}
		.panel-event-address{
			font-size: 12px;
            font-weight: 300;
            margin-top: 5px;
		}
		.panel-event-owner{
			font-size: 14px;
            font-weight: normal;
			color: $light-grey;
		}
		.new_event{
			@include button(14);
			width: 100%;
            padding: 10px 12.5%;
            margin-top: 40px;
            i{
                margin-left: 5px;
            }
		}

		.birthdays-container{
			margin-top: 20px;
			background-color: #f5f5f5;
			border-color: #ddd;
            border-radius: 30px;
			padding: 15px;
			overflow: auto;

			.person {
				display:none;
			}
			.btn-less{ color: $link-color-3 }
		}

	}


	#deactivate_account{

        h3{
			padding-left: 15px;
		}

        button{
            padding: 10px 25px;
            @include button_custom(14, #d9534f)
        }

		p{
			font-size: 14px;
			margin-left: 30px;
            font-weight: 300;
            color: $dark-grey;

			a{  text-decoration: underline;
				color: $main-teal; 
			}
		}
        img{
            max-width: 200px;
        }
        button{
            margin-left: 25px;
        }
	}

}

#edit form .glyphicon-arrow-left, #shipping form .glyphicon-arrow-left{
    position: absolute;
    right: 15px;
    top: 35px;
    color: $main-teal;
}

#info form .glyphicon-arrow-left{
    position: absolute;
    right: 15px;
    top: 10px;
    color: $main-teal;
}

.connections_parent{
    padding: 0 95px 0 55px;
}
.connections_menu{
    float: left;
    padding-left: 25px;
}
.connections_container{
    float: left;
    width: calc(100% - 90px);
    padding-left: 40px;
}

/* ===========================================* || CONNECTIONS TILE || ===========================================*/

.connection{
	transition: .3s;
	border-radius: 6px;
	position: relative;
    box-shadow: $main_shadow;
    overflow: hidden;
    margin-bottom: 15px;
    img[src*="fallback/user_avatar_default.png"]{
        width: 50px;
    }
    .banner_container{
        overflow: hidden;
        background: #ebebeb;
        display: block;
        img{
            width: 100%;
        }
    }
    .avatar_container{
        position: absolute;
        left: 14px;
        margin-top: -28px;
        img{
            border-radius: 100px;
            border: 3px solid #fff;
            background: #fff;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        }
    }
    .connection_info{
        padding: 35px 15px 15px;
        height: 182px;
        &.pending{
            height: 210px;
            p{
                min-height: 60px;
            }
        }
        .name{
            a{
                color: $dark-grey;
                display: inline-block;
                font-weight: bold;
                font-size: 18px;
            } 
        }
        .username{
            margin-top: -5px;
            a{
                font-size: 14px;
                color: #898989;
            }
            .relation{
                padding: 2px 10px;
                display: inline-block;
                background: #f1f1f1;
                border-radius: 30px;
                font-size: 12px;
                color: #898989;
                margin-left: 2px;
            }
        }
        p{
            color: $dark-grey;
            font-size: 13px;
            margin-top: 10px;
        }
    }
    .connection_name{
        font-size: 14px;
        margin: 5px 0;
        color: $dark-grey;
        font-weight: bold;
    }
    .connection_btn_container{
        float: left;
    }
    .confirm_remove_container{
        margin: 15px auto 0 auto;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        .confirm, .rejection{
            border-radius: 30px;
            width: 80px;
            padding: 3px 0;
            font-weight: 400;
            transition: .3s;
        }
        .confirm{
            background: $main-teal;
            color: #fff;
            &:hover{
                background: darken($main-teal, 10%)
            }
        }
        .rejection{
            background: #ccc;
            color: #fff;
            &:hover{
                background: $delete-red;
            }
            
        }
        .confirmed{
            color: $dark-grey;
            font-size: 14px;
        }
    }
    .message_button,.add_button,.you_button{
        background: none;
        color: #898989;
        border:none;
        font-size: 15px;
        transition: .3s;
        position: relative;
        top: -1px;
        &:hover{
            color: $dark-grey;
        }
    }
    .right_container{
        float: right;
        margin-right: 15px;
        margin-top: 8px;
    }
    .connect_share, .message_button{
        float: left;
        margin-right: 10px;
        a{
            font-size: 26px;
            color: #898989;
            cursor: pointer;
            position: relative;
            top: -8px;
            &:hover{
                color: $dark-grey;
            }
        }
    }
    .message_button{
        font-size: 17px;
        position: relative;
        top: -7px;
        &:active{
            box-shadow: none;
        }
    }
    .connect_share, .connection_btn_container{
        position: relative;
        top: 3px;
    }
    .unfollow_connection, .follow_connection, .invite{
        font-size: 13px;
        font-weight: 400;
        float: left;
        margin-left: 15px;
        cursor: pointer;
        padding: 3px 10px;
        border-radius: 30px;
        text-decoration: none;
        text-align: center;
        transition: .3s;
        border: 1px solid $main-teal;
        width: 85px;
    }
    .invite{
        border: 1px solid $event-basket-blue;
        &:hover, &.invited{
            background: $event-basket-blue;
            color: #fff;
        }
    }
    .unfollow_connection{
        background: $main-teal;
        color: #fff;
        span{
            content: 'Following';
        }
        &:hover{
            background: $delete-red;
            border: 1px solid $delete-red;
            span{
                display: none;
            }
            &:after{
                content: 'Unfollow';
            }
        }
    }
    .follow_connection{
        background: #fff;
        color: $main-teal;
        &:hover{
            background: $main-teal;
            color: #fff;
        }
    }
    
    p{
        margin-bottom: 0px;
    }
    .remove{
        color: $delete-red;
        background: none;
        border: none;
        display: none;
        transition: .3s;
        font-size: 19px;
        position: relative;
        top: -4px;
    }

	button.follow{
		background: $main-teal;
		color: #fff;
	}

	button.block, button.reject{
        box-shadow:  4px 4px 9px 0px rgba(50, 50, 50, 0.36);
		position: absolute;
		top: 5px;
		right: 5px;
		background: #d2423a;
		color: #fff;
        padding: 4px 10px;
        font-size: 13px;
        border-radius: 4px;
        display: none;
	}

}



/* ===========================================* |||||||||||||| ===========================================*/
/* =====================================*     FEED PAGE        ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/


.feed_tabs{
    margin-top: 180px;
}

/* ===========================================* |||||||||||||| ===========================================*/
/* ========================================*     SEARCH PAGE     =======================================*/
/* ===========================================* |||||||||||||| ===========================================*/

.search_page{
    height: -webkit-fill-available;
    width: 100%; 
    position: relative;
    background-color: #f2f2f2; 

    .img_container{
        padding: 0px 15px;
        margin: auto;
        display: table;

        img{
            position: relative;
            top: -30px;
            @media only screen and (max-width : 992px) {
                top: 30px;
            }
        }
    }

    .search_container{
        margin-top: 50px; position: absolute;
        z-index: 1;
        input{ height: 45px; background: #fff }
        @media only screen and (max-width : 992px) {
            margin-top: 30px
        }
    }
}


/* ===========================================* |||||||||||||| ===========================================*/
/* ===========================================*     FOOTER     =======================================*/
/* ===========================================* |||||||||||||| ===========================================*/
.footer{
	background-color: $dark-grey;
	color: rgb(241, 240, 240);
	line-height: 2.5;
    overflow: hidden;
    padding: 30px 0 40px 0;
    position: relative;
    clear: both;
    z-index: 1;
    &.absolute{
        bottom: 0;
        position: absolute;
        width: 100%;
    }
    .footer_container{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        text-align: center;
        padding: 30px 0;
        .line{
            border-bottom: 1px solid #fff;
            width: 25px;
            margin: 15px auto 5px auto;
        }
        h3{
            color: #fff;
            font-size: 23px;
        }
    }
    ul{     
        margin-bottom: 0px;
        padding-left: 0;
        list-style: none;
        li{
            a{
                font-weight: 300;
            }
        }
    }
    .list-inline > li {
        padding-left: 1.5%;
        padding-right: 1.5%;
        font-weight: 300;
    }
    .text-light-grey{
        color: #dedede;
    }
    .social_links{
        text-align: center;
        padding-top: 30px;
        a{
            background: #fff;
            color: $dark-grey;
            padding: 10px;
            width: 40px;
            height: 40px;
            display: inline-block;
            border-radius: 100px;
            margin-right: 2px;
            transition: .3s;
            &:hover{
                color: $main-teal;
            }
            i{
                position: relative;
                top: -19px;
                font-size: 25px;
            }
        }
    }
    a{ 
        color: #fff; 
        cursor: pointer;
    }
    p{
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0px;
    }

}

