// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ===========================================* GLOBAL STYLES ===========================================*/
/* ===========================================* |||||||||||||| ===========================================*/
body {
	width: 100%;
	height: 100%;
	font-size: 15px;
	font-weight: 400;
    font-family: 'Heebo', Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    opacity: 0;
    &.overflow_hidden, &.landscape_stop_scroll{ //landscape_stop_scroll for mobile devices only
        overflow: hidden;
    }
}

html {
	width: 100%;
	height: 100%;
  font-size: 62.5%;
}

p{
	font-size: 1.5em;
	color: #939393;
}

h2, h3{
	color:  $dark-grey;
}

label{
	color: $dark-grey;
}

button:focus{
    outline: none;
}

i:focus{
    outline: none;
}

.nav_push{
  padding: 0 55px;
}
a:focus, a:active{
    outline: none;
    text-decoration: none;
}

#toast-container{
    & > div{
        padding: 17px;
    }
    .toast{
        border-radius: 6px;
        margin: 0;
        opacity: 1;
        color: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
        &.toast-success{
            background: #7DBCB1;
            &:hover{
                background: darken(#7DBCB1, 5%);
            }
        }
        &.toast-error{
            background: $delete-red;
            &:hover{
                background: darken($delete-red, 5%);
            }
        }
        .toast-message{
            font-size: 14px;
        }
    }
}

.radio{ //all radio buttons
    input{
        margin-left: -21px;
        margin-top: -1px;
        width: 21px;
        height: 21px;
    }
    label{
        padding-left: 10px !important;
        color: $dark-grey;
        &:before{
            width: 19px;
            height: 19px;
            transition: .3s;
        }
        &:after{
            width: 7px;
            height: 7px;
            left: 6px;
            top: 6px;
            transition: .3s;
        }
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset !important;
}
input::-webkit-input-placeholder {
    position: relative;
    top: 2px;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning{
    background: $main-teal;
}

.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border: none;
}
.panel.noborder {
  border: none;
  box-shadow: none;
}
.panel.noborder > .panel-heading {
  border: 1px solid #dddddd;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.like{
    .ion-android-favorite.liked{
        color: #d12e5e;
    }
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.form-control{
  border-color: #ccc;
  border-radius: 30px;
  background: #f2f2f2;
  font-weight: 300;
}

.form-group.has-error{ position: relative; }

.help-block{
  position: absolute;
  bottom: -20px;
  left: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  .list-unstyled{ margin: 0 }
}

.date-time-picker, .date-picker{
  border-radius: 30px 0 0 30px;
  .input-group-addon{
    border-radius: 0 30px 30px 0 !important;
  }
}

.qty, .gift_qty{
  border-radius: 0;
  background: #fff;
  padding: 6px 9px;
}

.notif_left{
    float: left;
}
.notif_right{
    float: left;
    width: calc(100% - 70px);
}

input:focus{
  border-color: #ccc;
  box-shadow: none;
}

.form-control:focus{
  border-color: #ccc;
  box-shadow: none;
}

.has-success .form-control{
  border-color: #ccc;
  box-shadow: none;
  &:focus{
    border-color: #ccc;
    box-shadow: none;
  }
}

//modal overlay transition time
.modal.fade{
    webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -ms-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}


.icons{
  float: right;
}

.with-errors{
    display: none;
}
.dropdown button:hover, .dropdown button:active, .dropdown button:focus {
    background: #fff;
}

.site_body{
    margin-top: 50px;
}

.row-fluid.flex {
  display: flex;
  flex-wrap: wrap;
}


//infinite scroll
.no_more_items{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: $dark-grey;
    &.discover{
        position: relative;
    }
    &.notif_popover{
        position: relative;
        bottom: -10px;
    }
}


//Facebook Connect Button
.social_connect{
    font-size: 14px;
    text-align: center;
    color: $dark-grey;
    margin-top: 30px;
}
.facebook_text{
    font-weight: 300;
    font-size: 14px;
    text-align: center;

}

#style_override{
    .facebook_switch.btn-group{
        display: block;
        overflow: hidden;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        margin: 35px auto;
        button{
            border: 1px solid #3b5998;
            font-weight: 500;
            width: 200px;
            height: 45px;
            font-size: 13px;
            color: #aaaa;
            background: #fff;
            &.active{
                background-color: #3b5998;
                color: #fff;
                &:hover, &:active, &:focus{
                    background-color: darken(#3b5998, 5%);
                }

            }

            &:hover, &:active, &:focus{
                background-color: #3b5998;
                color: #fff;
            }
        }
        button:first-of-type{
            border-radius: 30px 0 0 30px;
            &:hover{
                border-right: 1px solid #fff;
                z-index: 3;
            }
        }
        button:last-of-type{
            border-radius: 0 30px 30px 0;
            &:hover{
                border-left: 1px solid #fff;
            }
        }
    }
}

//intro JS styles
.introjs-tooltip{
    border-radius: 30px;
    padding: 25px;
    min-width: 300px;
}
.introjs-arrow.right{
    right: -9px;
    top: 21px;
}
.introjs-arrow.left{
    left: -9px;
    top: 21px;
}
.introjs-arrow.right-bottom{
    bottom: 21px;
    right: -9px;
}
.introjs-helperNumberLayer{
    margin: 12px 0 0 10px;
}
.introjs-fixedTooltip{
    position: fixed;
}

//icons
.icon{
    display: inline-block;
    font: normal normal normal 14px/1 Ionicons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon_center{
    width: 1.28571429em;
    text-align: center;
}

//Gift Assistant download button
.install_ga{
    cursor: pointer;
    text-decoration: none;
    &:hover, &:focus{
        text-decoration: none;
    }
    button{
        background: $main-teal;
        color: #fff;
        box-shadow: 1px 3px 3px #aaa;
        &:hover, &:focus{
            color: #fff;
        }
        &:active{
            box-shadow: 1px 3px 3px #aaa;
        }
        &:first-of-type{
            border-radius: 30px 0 0 30px;
            margin-right: -4px;
            border-right: 1px solid #fff;
            font-size: 16px;
            padding: 4px 9px;
        }
        &:last-of-type{
            border-radius: 0 30px 30px 0;
            font-weight: 300;
            font-size: 13px;
            padding: 6px 9px;
        }
    }
}

#landscape_mobile_mask{
    height: 100vh;
    position: fixed;
    background: #5d5d5d;
    z-index: 99999;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;
    p{
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
    }
    & > div{
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        img{
            margin-bottom: 10px;
        }
        i{
            color: #fff;
            font-size: 30px;
            &:nth-of-type(2){
                font-size: 20px;
                padding: 0 8px;
                position: relative;
                top: -4px;
            }
        }
    }
}

/* FEED SIZES  */
@media only screen and (min-width: 1400px) {
	.feed {
		.col-lg-2{
			width: 20%;
		}
	}
}
@media only screen and (min-width: 1600px) {
	.feed {
		.col-lg-2{
			width: 16.6666666667%;
		}
	}
    .col-xl-3{
        width: 25%;
    }
    .col-xl-4{
        width: 20%;
    }
}

@media only screen and (min-width: 2100px) {
	.feed {
		.col-lg-2{
            width: 14.2857143%;
		}
	}
}

@media only screen and (min-width: 2200px) {
	.feed {
		.col-lg-2{
            width: 12.5%;
		}
	}
}

/* Between  */
@media screen and (min-width: 1200px) and (max-width: 1399px){
	.feed {
		.col-lg-2{
			width: 25%;
		}
	}
}

@media screen and (min-width:1200px){
  .product_item_container, .comment_container{
    .col-lg-6{
      padding-left: 0px;
    }
  }
}

@media screen and (min-width:768px){
  .share_modal .modal-content{
    padding: 30px;
  }
}



