
//Splash BG Image
#splash{
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

.landing_footer{
    clear: both;
    .col-md-2{
        @media only screen and (min-width : 992px) {
            width: 12.5%;
        } 
    }
    position: fixed;
    bottom: 15px;
    width: 100%;
    font-weight: 300;
    .container-fluid{
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        div{
            display: inline-block;
            float: left;
            margin-right: 40px; 
        }
    }
    a{
        color: #fff;
    }
}

//JOIN OUR TEAM PAGE
#join_our_team_container{
    .splash_container{
        margin-top: -130px;
        overflow: hidden;
        & > *{
            height: 82vh;
            position: relative;
            top: -45%;
        }
    }
    #splash{
        background-image: url(/images/splash/join_our_team.jpg) !important;
        .splash_join{
            text-align: center;
            height: 50%;
            position: absolute;
            top: 13%;
            bottom: 0%;
            margin: auto;
            width: 100%;
            h1{
                color: #fff;
                font-size: 42px;
                margin-bottom: 25px;
            }
            p{
                color: #fff;
                width: 57%;
                display: block;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 40px;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
            }
            button{
                @include button(18);
                padding: 10px 65px;
                &:hover{
                    background-color: darken($main-teal, 5%);
                }
            }
        }
    }
    .features-section {
        padding: 15px 0px;
        
        svg{
            width: 80px;
            height: 80px;
        }
        .join_tools, .teamwork{
            svg{
                width: 60px;
            }
        }
        
        h3{
            margin-top: 10px;
            font-size: 18px;
            letter-spacing: 1px;
        }
        
        .text-center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: $dark-grey;
            font-weight: 300;
            h2{
                width: 46%;
                display: block;
                margin: 0 auto 25px auto;
            }
        }
        .ingenuity{
            margin-bottom: 35px;
        }
    }
    & > h2{
        margin-top: 80px;
        text-align: center;
    }
    h2{
        font-size: 28px;
    }
    .position{
        width: 1050px;
        margin: 50px auto 85px auto;
        border: 4px solid $main-teal;
        border-radius: 30px;
        padding: 15px 5px;
        p{
            color: $dark-grey;
        }
        .image_jobtitle{
            overflow: hidden;
            margin-bottom: 25px;
            img{
                float: left;
                padding-right: 30px;
                padding-left: 15px;
                width: 250px;
            }
            .jobtitle{
                float: left;
                width: calc(100% - 270px);
                h2{
                    color: $main-teal;
                    span{
                        color: $dark-grey;
                        font-size: 14px;
                        font-weight: 300;
                        margin-left: 15px;
                    }
                }
                p{
                    &:first-of-type{
                        font-size: 18px;
                        font-weight: 300;
                        margin-bottom: 0;
                    }
                    &.disclaimer{
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
            }
        }
        .description_skills{
            clear: both;
            overflow: hidden;
            strong{
                font-size: 18px;
                color: $dark-grey;
                font-weight: 500;
                margin-bottom: 5px;
                display: block;
            }
            p{
                font-size: 14px;
                font-weight: 300;
                margin-left: 20px;
            }
            a{
                @include button(18);
                margin-left: 20px;
                margin-top: 20px;
                letter-spacing: 2px;
                padding: 10px 80px;
                box-shadow: 0px 1px 1px #a0a0a0;
            }
        }
    }
}

#company_info_container{
    padding: 35px 235px;
    .privacy_policy_text{
        font-size: 40px;
        font-weight: bold;
        color: $main-teal;
        margin-bottom: 35px;
    }
    .privacy_quote{
        font-size: 24px;
        font-weight: 300;
        margin-left: 10px;
        margin-bottom: 60px;
        span{
            color: $main-teal;
        }
    }
    .terms_quote{
        font-size: 24px;
        font-weight: 300;
        margin-left: 10px;
        margin-bottom: 60px;
        span{
            &:first-of-type{
                text-decoration: underline;
            }
            &:last-of-type{
                color: $main-teal;
            }
        }
    }
    .title{
        padding-left: 0px;
        margin-top: -5px;
        span{
            float: left;
            margin-bottom: 60px;
            margin-right: 5px;
            font-size: 20px;
            font-weight: bold;
            color: $dark-grey;
        }
        p{
            font-size: 20px;
            font-weight: bold;
            color: $dark-grey;
        }
    }
    .subtitle{
        span{
            color: $dark-grey;
        }
        p{
            color: $dark-grey;
        }
    }
    .text{
        padding-left: 0px;
        p{
            color: $dark-grey;
            font-size: 16px;
            font-weight: 300;
        }
        a{
            color: $link-color-3;
        }
        ul{
            li{
                font-size: 16px;
                font-weight: 300;
                color: $dark-grey;
                margin-bottom: 25px;
            }
        }
        .simply_stated{
            color: $main-teal;
            font-weight: bold;
            margin-left: 10px;
            margin-top: 30px;
        }
        .simply_stated_text{
            background: $main-teal;
            border-radius: 30px;
            padding: 15px 30px 15px 15px;
            p{
                color: #fff;
                margin-bottom: 0px;
                padding-left: 30px;
                a{
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
    .policy_container{
        clear: both;
        overflow: hidden;
        padding-top: 50px;
    }
}
#splash_image_text_container{
    padding: 15px 55px 0 55px;
    margin-bottom: 30px;
    overflow: hidden;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    h2{
        text-align: center;
        font-size: 21px;
        margin-bottom: 20px;
    }
    .gifts_from_anywhere{
        overflow: hidden;
        border-bottom: 1px solid #959595;
        padding-bottom: 35px;
    }
    .left .logged_sign_up{
        text-decoration:none; 
        cursor:text;
    }
    .image_to_text{
        border-bottom: 1px solid #959595;
    }
    .image_centered{
        div{
            width: -moz-min-content;
            width: -webkit-min-content;
            width: min-content;
            margin-left: auto;
            margin-right: auto;
        }
        iframe{
            border-radius: 30px;
            width: 955px;
        }
        border-bottom: 1px solid #959595;
        padding: 35px 0;
    }
    .image_to_text, .text_to_image{
        padding: 50px 0;
        overflow: hidden;
        img{
            max-width: 735px;
            padding-right: 30px;
            border-radius: 30px;
        }
        & > div{
            margin-top: 200px;
        }
        h3{
            font-size: 18px;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
        }
    }
    h1{
        color: $dark-grey;
        font-weight: bold;
        font-size: 53px;
        span{
            display: block;
        }
    }
    .left{
        ol {
            list-style: none;
            margin-top: -25px;
            padding-left: 75px;
            li {
                counter-increment: item;
                margin-bottom: 5px;
                color: $dark-grey;
                font-size: 17px;
                font-weight: 300;
                span{
                    cursor: pointer;
                    text-decoration: underline;
                    margin-left: 7px;
                }
                &:before{
                    margin: 35px 10px 0 -44px;
                    content: counter(item);
                    background: $main-teal;
                    border-radius: 100%;
                    color: white;
                    width: 30px;
                    text-align: center;
                    display: inline-block;
                    font-size: 14px;
                    line-height: 28px;
                    height: 28px;
                }
                a{
                    color: $main-teal;
                }
            }
            img{
                width: calc(100% + 44px);
                margin-left: -44px;     
            }
        }
    }
    .right{
        padding-left: 50px;
        img{
            width: 100%;
            margin-top: -145px;
            max-width: 735px;
            border-radius: 30px;
        }
    }
}
.no_more_container{
    background: #5d5d5d;
    color: #fff;
    border-bottom: 1px solid #fff;
    .no_more{
        padding: 0 55px;
        overflow: hidden;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    ul{
        border-top: 1px solid #959595;
        padding: 10px 55px 45px 55px;
    }
    li{
        margin-bottom: 20px;
        font-size: 50px;
        line-height: 18px;
        span{
            font-weight: 200;
            font-size: 17px;
            position: relative;
            top: -10px;
        }
    }
    h2{
        color: #fff;
        margin-bottom: 30px;
        margin-top: 25px;
    }
}
#feedback_container{
    overflow: hidden;
    
    h1 {
        color: #5d5d5d;
        font-weight: bold;
        font-size: 45px;
        margin: 45px auto;
    }

    .feedback_main {
        width: 1200px;
        overflow: hidden;
        margin: 50px auto;
        .feedback{
            padding-right: 65px;
            border-right: 1px solid $dark-grey;
            p{
                clear: both;
                color: $dark-grey;
                font-size: 13px;
            }
        }
        a, i{
            color: $dark-grey;
        }
        i{
            font-size: 18px;
        }
        .feedback_info{
            & > div{
                p:last-of-type{
                    i{
                        font-size: 23px;
                        margin-right: 12px;
                    }
                }
            }
        }
    }

    .new_complaint{
        .input-md{
            background: #f7f7f7;
            margin-bottom: 8px;
            box-shadow: none;
        }
        input{
            height: 30px;
        }
        textarea {
            resize: none;
            height: 230px;
        }
        .dropdown{
            button{
                padding: 0;
                width: 100%;
                height: 30px;
                text-align: left;
                margin-bottom: 8px;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
                span{
                    &:first-of-type{
                        margin-left: 15px;
                        font-weight: 300;
                    }
                    &:last-of-type{
                        margin-left: 0px;
                        margin-right: 20px;
                        float: right;
                    }
                }
            }
            ul{
                margin-top: -8px;
                width: calc(100% - 25px);
            }
        }
        .submit_container{
            float: right;
            .feedback_user{
                clear: both;
                color: $delete-red;
                font-size: 14px;
            }
        }
        .checkbox{
            float: left;
            input{
                &:active, &:focus{
                    outline: none;
                }
            }
            label{
                color: $dark-grey;
                font-weight: 300;
            }
        }
        .checkbox-warning input:checked + label::before, label::before{
            outline: none;
        }
        .checkbox-warning input:checked + label::before{
            border-color: $main-teal;
        }
        .checkbox-warning input:checked + label::after, label::after{
            border-color: $main-teal;
        }
        input.btn{
            @include button(14);
            background: $dark-grey;
            box-shadow: none;
            color: #fff;
            padding: 3px 40px;
            margin-left: 20px;
            margin-top: 8px;
            &:hover, &:active{
                background: darken($dark-grey, 5%);
            }
            &:focus{
                background: darken($dark-grey, 5%);
            }
        }
    }
}
.down_arrow{ //down arrow with bounce
    position: absolute;
    margin-top: 15px;
    left: 30px;
    p{
        color: #fff;
        font-size: 18px;
        font-weight: 100;
    }
    .arrow{
        position: absolute;
        left: 21px;
        cursor: pointer;
        border: 2px solid #fff;
        padding: 4px 10px;
        border-radius: 100%;
        opacity: .7;
        transition: .3s;
        &:hover{
            opacity: 1;
            transform: scale(1.05);
        }
        i{
            color: #fff;
            font-size: 21px;
            position: relative;
            top: 2px;
        }
    }
    .line{
        border-left: 1px solid #fff;
        height: 60vh;
        position: absolute;
        left: 39px;
        top: 85px;
    }
}
#faq_header{
    background-image: -moz-linear-gradient(94deg, #d79757 0%, #d1c395 20%, #98ccc2 46%, #549b95 100%);
    background-image: -webkit-linear-gradient(94deg, #d79757 0%, #d1c395 20%, #98ccc2 46%, #549b95 100%);
    padding: 75px 25px;
    top: -50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        color: #fff;
        text-align: center;
        margin-bottom: 25px;
        font-size: 42px;
    }
    p{
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 0;
        a{
            color: #fff;
            text-decoration: underline;
            transition: .3s;
        }
    }
    .faq_search_container{
        max-width: 670px;
        margin: 25px auto 0 auto;
        input{
            background: #fff;
            border: none;
        }
        ul{
            margin-top: 1px;
            margin-left: 15px;
            width: 95%;
            border: 1px solid #ccc;
            border-radius: 0 0 25px 25px;
            border-top: none;
            padding-top: 18px;
            padding-bottom: 18px;
            li{
                border: none;
                transition: .3s;
                div{
                    font-weight: bold;
                    color: $dark-grey;
                }
            }
        }
    }
}
#faq_container{
    min-height: calc(100vh - 465px);
    h1{
        font-size: 42px;
        text-align: center;
        color: $dark-grey;
        margin-bottom: 60px;
        img{
            margin-right: 10px;
        }
    }
    .question{
        padding-bottom: 30px;
        border-bottom: 1px solid grey;
        h2{
            margin-top: 40px;
            font-size: 24px;
        }
        p{
            color: $dark-grey;
            font-size: 16px;
            font-weight: 300;
            line-height: 30px;
            a{
                color: $dark-grey;
                text-decoration: underline;
            }
        }
    }
}