.group_tile{
    padding-right: 0px;
    .group_tile_prev1, .group_tile_prev2, .group_tile_prev3 {
        -webkit-filter: brightness(92%);
        filter: brightness(92%);
    }



    .group_tile_inner{
    	border-radius: 6px;
        padding: 15px 15px 5px 15px;

    	.group_tile_Preview{
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            transition: .3s;
            
            .col-xs-12, .col-xs-4{
                padding: 0;
            }
            .col-xs-12{
                max-height: 180px;
                .group_tile_Prevs{
                    border-radius: 10px;
                }
                .group_tile_background{
                    background: #ebebeb;
                    position: absolute;
                    overflow: hidden;
                    min-height: 180px;
                    width: 100%;
                }
            }
            .col-xs-8{
                padding: 0 4px 0 0;
                .group_tile_background{
                    overflow: hidden;
                    width: calc(100% - 4px);
                    min-height: 180px;
                    position: absolute;
                    background: #ebebeb;
                }
            }
            .ellipsisIcon{
                font-size: 35px;
                font-family: Bauhaus;
                top: 38%;
                line-height: 0px;
                color: #fff;
                opacity: 1;
                transition: all .3s;
                position: absolute;
                left: 47%;
                z-index: 1;
                display: none;
            }
            .discover_name{
                font-size: 14px;
                bottom: 30%;
                line-height: 0px;
                color: #fff;
                opacity: 1;
                transition: all .3s;
                position: absolute;
                margin-left: 5px;
                z-index: 1;
                display: none;
            }
            
            & > div{
                transition: .3s;
            }
            
            &:hover{
                background: rgba(0,0,0, 0.2);
                .ellipsisIcon, .discover_name{
                    display: block;
                }
                & > div{
                    filter: brightness(75%);
                }
            }

    		.group_tile_Prevs{
                background-color: #fff;
                background-position: center center; 
    			background-size: cover;
    			min-height:initial;
                &[style*="fallback/event_banner_default.jpg"]{
                    background-position: 99%;
                }
                &[style*="fallback/charity_banner_default.jpg"]{
                    background-position: 86%;
                }
                img:not([src]) {
                    display: none;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
    		}

    		.group_tile_prev1 {
    			width: 100%;
                min-height: 180px;
    		}

    		.group_tile_prev2{
                overflow: hidden;
                height: 88px;
                margin-bottom: 4px;
                border-radius: 0px 10px 0px 0px;
    		}

    		.group_tile_prev3{
                overflow: hidden;
                height: 88px;
                width: 100%;
                border-radius: 0px 0px 10px 0px;
    		}

    		.group_tile_prev4{border-top: 2px solid #fff;}
    	}

    	.group_tile_Details{
    		border-radius: 0 0 6px 6px;
    		overflow: hidden;
    		clear: both;
    		h2{
                clear: both;
    			margin-top: 5px;
                margin-bottom: 0px;
    			font-size: 21px;
                a{
                    color: $dark-grey;
                    text-decoration: none;
                    text-align: left;
                }
                span{
                    color: $dark-grey;
                    .category_name{
                        font-size: 14px;
                        margin-left: 5px;
                        font-weight: 500;
                        text-transform: capitalize;
                        span{
                            font-size: 12px;
                            font-weight: 400;
                            display: block;
                            margin-left: 5px;
                        }
                    }
                    &:first-of-type{
                        font-size: 16px;
                        font-weight: bold;
                    }
                    &:nth-child(2){
                        margin-right: 2px;
                        font-size: 14px;
                        text-transform: capitalize;
                    }
                }
                div{
                    &:first-of-type{
                        float: left;
                        padding-right: 15px;
                        margin-top: -3px;
                        height: 45px;
                        overflow: hidden;
                    }
                }
                .privacy{
                    i{
                        font-size: 14px;
                        margin-left: 2px;
                        color: #999;
                    }
                }
    		}
            
            .group_tile_actions{
                float: left;
                margin: 5px 0;
                a{
                    color: $dark-grey;
                    margin-right: 10px;
                    font-size: 23px;
                    width: 30px;
                    height: 30px;
                    float: left;
                    transition: .2s;
                    .ion-ios-paperplane-outline{
                        font-size: 27px;
                        position: relative;
                        top: -3px;
                    }
                    &.like{
                        i{
                            font-size: 25px;
                        }
                    }
                    &:hover{
                        font-size: 25px;
                        .ion-ios-paperplane-outline{
                            font-size: 29px;
                        }
                    }
                }
            }

    		p.numb_basket_items{
                float: right;
    			font-size: 12px;
    			margin: 0px;
                color: $dark-grey;
                font-weight: 400;
                position: relative;
                top: 13px;
                &.landing{
                    float: left;
                    height: 35px;
                }
                span{
                    &:first-of-type{
                        margin-right: 2px;
                        text-transform: capitalize;
                    }
                }
                .lifestyle_circle{
                    color: $main-teal;
                }
                .event_circle{
                    color: #86b2e9;
                }
                .charity_circle{
                    color: $charity-basket-purple;
                }
                .cash_circle{
                    color: $cash-basket-green;
                }

    			i{
    				font-size: 10px;
    			}
    		}
    	}
    }
}

.mini_tile{
    float: left;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 6px;
    margin-right: 10px;
    &:hover{
        .mask { background-color: rgba(0, 0, 0, 0.6) !important; }
        .mini_tile_upper .ellipsisIcon {
            display: block;
        }
    }   
    .mini_tile_upper{
        position: relative;
        height: 85px;
        img{
            width: 100px;
            position: absolute;
            top: -100%;
            left: -8%;
            right: 0;
            bottom: -100%;
            margin: auto;
        }
        .mask{
            position: absolute;
            z-index: 1;
            top: 0;
            width: 85px;
            height: 85px;
            transition: all, ease, 0.3s;
            background-color: rgba(0, 0, 0, 0.08);
        }

        .ellipsisIcon{
            z-index: 2;
            font-size: 23px;
            line-height: 0px;
            bottom: 55%;
            color: #fff;
            display: none; 
            position: absolute;
            font-family: Bauhaus;
            text-align: center;
            width: 100%;
        }

    }

    .mini_tile_lower{
        display: block;
        font-size: 8px;
        padding-bottom: 5px;


        p{
            padding-top: 5px;
            margin-bottom: 0px;
            color:#7a7878;
            margin-left: 5px;
            margin-right: 5px;
        }

        .mini_tile_brand{
            width: 10px;
            margin: 0px 5px;
            float: left;
        }
    }

    a{
        text-decoration: none;
    }

}