@font-face {
	font-family: 'Bauhaus';
	src: asset_url('Bauhaus.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700');




//FONTELLO
@font-face {
    font-family: 'fontello';
    src: asset_url('fontello.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}


.icon-zoom-in:before { content: '\e800'; }
.icon-zoom-out:before { content: '\e801'; }
.icon-cw:before { content: '\e802'; }
.icon-ccw:before { content: '\e803'; }
.icon-smile:before { content: '\f118'; }
.icon-gplus-squared:before { content: '\f0d4'; }
.icon-safari:before { content: '\f267'; }
.icon-firefox:before { content: '\f269'; }
.icon-opera:before { content: '\f26a'; }
.icon-twitter-squared:before { content: '\f304'; }
.icon-facebook-squared:before { content: '\f308'; }
.icon-linkedin-squared:before { content: '\f30c'; }


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}