// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ===========================================* || MIXINS || ===========================================*/
@mixin bg-gradient(){
	background-image: -moz-linear-gradient( 0deg, rgb(232,161,73) 0%, rgb(234,179,105) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(232,161,73) 0%, rgb(234,179,105) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(232,161,73) 0%, rgb(234,179,105) 100%);
	border: none;
}

@mixin button($fz: 14px){
	background-color: #74a49d;
	border-radius: 30px;
	color: #fff;
	font-size: $fz+px;
	transition: all, ease, 0.3s;
	font-weight: 400;
    outline: none;
    border: none;
    transition: background, ease, 0.3s;

	&:hover,&:active,&:focus{
		color: #fff;
		background: darken(#74a49d,5%);
		text-decoration: none;
		outline: none;
	}
}

@mixin button_custom($fz: 14px, $bg: #74a49d, $cl: #fff, $fw: 400){
	background-color: $bg;
	border-radius: 30px;
	color: $cl;
	font-size: $fz+px;
	transition: all, ease, 0.3s;
	font-weight: $fw;
	outline: none;
    border: none;
    transition: background, ease, 0.3s;

	&:hover,&:active,&:focus{
		color: $cl;
		background: darken($bg,5%);
		text-decoration: none;
		outline: none;
	}
}

@mixin close_btn{
    position: absolute;
    right: 22px;
    z-index: 50;
    top: 16px;
    cursor: pointer;
    text-decoration: none;
    div{
        box-shadow: 0px 1px 1px rgba(0,0,0, .25);
        color: $dark-grey;
        background: #fff;
        padding: 9px 16px;
        border-radius: 100px;
    }
}
$default-font-size: 10;
@mixin font-size($size) {
   font-size: $size + px;
   font-size: ($size / $default-font-size) + rem;
}

/* ===========================================* || COLOR VARIABLES || ===========================================*/

$light_orange:#fba837;
$dark_orange:#e8a149;
$blue:#58a0c3;
$primary:#7a7878;
$elements_zindex: mask, ellipsisIcon, productContentLower, giftbasketname, user_info, modalBackdrop, navbar-fixed-top, create_basket_modal, upcoming_birthdays_modal, upcoming_events_modal, product_modal, addtoBasketMask, createBasketMaskcloseBtn;
$link-color-2: #787777;
$link-color-3: #58a0c3;
$light-grey: #bfbebe;
$dark-grey: #5d5d5d;
$orange-hover: #e29c46;
$grey-hover: #a8a8a8;
$cash-basket-green: #6db087;
$charity-basket-purple: #ab86e9;
$event-basket-blue: #6aabe3;
$main-teal: #74a49d;
$delete-red: #d9534f;
$notification-color: #bd5973;


/* ===========================================* || HELPERS || ===========================================*/
.top-10 { margin-top: 10px; }
.top-15 { margin-top: 15px; }
.top-20 { margin-top: 20px; }
.top-25 { margin-top: 25px; }
.bottom-10 { margin-bottom:10px; }
.bottom-15 { margin-bottom:15px; }
.bottom-20 { margin-bottom:20px; }
.bottom-25 { margin-bottom:25px; }
.desktop-bottom-100{
	@media only screen and (min-width : 992px) {
		margin-bottom: 100px;
	}
}

$main_shadow: 0px 1px 1px #cecece;
