<% if notifications == 'no_slide' %>
    <div class="col-xs-12 col-1400-6 connection-tile fade-animate" data-connection-id="<%= connection.id %>">
<% elsif notifications == 'slide' %>
    <div class="col-xs-12 connection-tile fade-animate" data-connection-id="<%= connection.id %>">
<% else %>
    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 col-1800-5 col-2100-6 connection-tile fade-animate" data-connection-id="<%= connection.id %>">
<% end %>
    <div class="connection">
        <%= link_to user_path(connection.username), class: 'banner_container' do %>
            <img class="img-responsive lazy_banner" src="/images/lazyload/banner_background.png" data-src="<%= connection.banner.url %>" alt="<%= connection.username %> - Banner Small" />
        <% end %>
        <%= link_to user_path(connection.username), class: 'avatar_container' do %>
            <%= image_tag connection.avatar.profile_square.url, alt: connection.username + ' - Profile Image Small', class: 'img-responsive' %>
        <% end %>
        <div class="right_container">
            <div class="connect_share">
                <%= link_to ion_icon("ios-paperplane-outline"), basket_popup_share_path(connection.id, type: 'profile'), alt: "Wish Page Link", class: 'share_btn', rel: 'nofollow', data: {remote: true, method: "patch"} %>
            </div>
            <% if current_customer.present? %>
                <% if (current_customer != connection) %>
                    <div class="connection_btn_container">
                        <% if current_customer.connected_to? connection %>
                            <% if friend_flag == true %>
                                <button class="remove remove-connection" data-id="remove-connection-<%= connection.id %>"><%= ion_icon("ios-minus-outline") %></button>
                            <% end %>
                            <!-- TO DO -->
                            <%# if !browser.mobile? %>
                                <%#= link_to ion_icon("ios-chatbubble", aria_hidden: true), '#', class: 'message_button btn', data: {sid: current_customer.id, rid: connection.id } %>
                            <%# end %>
                        <% elsif !current_customer.connection_request_sent?( connection ) %>
                            <button class="add_button request_connection" data-id="request-connection-<%= connection.id %>" data-name= "<%= connection.name %>"><%= ion_icon("android-person-add") %></button>
                        <% end %>
                    </div>
                    <% if notifications != 'event' %>
                        <% if current_customer.follows? connection %>
                            <a class="unfollow_connection" data-id="unfollow-<%= connection.id %>"><span>Following</span></a>
                        <% else %>
                            <a class="follow_connection" data-id="follow-<%= connection.id %>"><span>Follow</span></a>
                        <% end %>
                    <% else %>
                        <% if @basket.event.customer == current_customer %>
                            <%= link_to 'Invite', event_invite_customer_path(@basket.event.id, customer_id: connection.id), remote: true, method: 'patch', class: "btn message invite" %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="connection_info">
            <div class="name">
                <%= link_to user_path(connection.username) do %>
                    <%=raw truncate(connection.name, length: 21) %>
                <% end %>

            </div>
            <div class="username">
            <%= link_to user_path(connection.username) do %>
                @<%=raw truncate(connection.username, length: 30) %>
            <% end %>

            <% if current_customer.present? %>
              <% if current_customer == connection %>
                <div class="relation">You</div>
              <% elsif connection.follows?(current_customer) %>
                <div class="relation">Follows You</div>
              <% end %>
            <% end %>
            </div>
            <p>
                <% if notifications == 'no_slide' %>
                    <%= truncate(connection.description, length: 100) %>
                <% elsif notifications == 'slide' %>
                    <%= truncate(connection.description, length: 100) %>
                <% else %>
                    <%= truncate(connection.description, length: 170) %>
                <% end %>
            </p>
        </div>
        <button class="btn block block-connection" data-id="block-connection-<%= connection.id %>">Block</button>
    </div>
</div>
