<% if notifications == 'no_slide' %>
    <div class="col-xs-12 col-1400-6">
<% elsif notifications == 'slide' %>
    <div class="col-xs-12">
<% else %>
    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 connection-tile">
<% end %>
    <% if pending_flag == true %>
        <div class="connection requester-tile-<%= connection.id %>">
    <% else %>
        <div class="connection" id="blocked-tile-<%= connection.id %>">
    <% end %>
        <%= link_to user_path(connection.username), class: 'banner_container' do %>
            <img class="img-responsive lazy_banner" src="/images/lazyload/banner_background.png" data-src="<%= connection.banner.url %>" alt="<%= connection.username %> - Banner Small" />
        <% end %>
        <%= link_to user_path(connection.username), class: 'avatar_container' do %>
            <%= image_tag connection.avatar.profile_square.url, alt: 'avatar', class: 'img-responsive' %>
        <% end %>
        <% if (current_customer != connection) %>
            <div class="right_container">
                <div class="connect_share">
                    <%= link_to ion_icon("ios-paperplane-outline"), basket_popup_share_path(connection.id, type: 'profile'), alt: "Wish Page Link", class: 'share_btn', rel: 'nofollow', data: {remote: true, method: "patch"} %>
                </div>
            </div>
        <% end %>
        <div class="connection_info pending">
            <div class="name">
                <%= link_to user_path(connection.username) do %>
                    <%=raw truncate(connection.name, length: 21) %>
                <% end %>

            </div>
            <div class="username">
            <%= link_to user_path(connection.username) do %>
                @<%=raw truncate(connection.username, length: 30) %>
            <% end %>
            <% if current_customer == connection %>
                <div class="relation">You</div>
            <% elsif connection.follows?(current_customer) %>
                <div class="relation">Follows You</div>
            <% end %>
            </div>
            <p>
                <% if notifications == 'no_slide' %>
                    <%= truncate(connection.description, length: 150) %>
                <% elsif notifications == 'slide' %>
                    <%= truncate(connection.description, length: 150) %>
                <% else %>
                    <%= truncate(connection.description, length: 200) %>
                <% end %>
            </p>
            <div class="confirm_remove_container">
                <% if pending_flag == true %>
                    <button class="rejection btn reject-connection" id="reject-pending-<%= connection.id %>" <%= notifications == false ? 'data-location=profile' : 'data-location=notifications' %>>Reject</button>
                    <button class="confirm btn confirm-connection on-page" id="confirm-pending-<%= connection.id %>" <%= notifications == false ? 'data-location=profile' : 'data-location=notifications' %>>Confirm</button>
                <% else %>
                    <button class="confirm btn unblock-connection" data-id="unblock-blocked-<%= connection.id %>" data-location="profile">Unblock</button>
                <% end %>
            </div>
        </div>
        <button class="btn block block-connection" data-id="block-connection-<%= connection.id %>">Block</button>
    </div>
</div>