<h3>Popular Product Tags</h3>
<div id="admin_dashboard">
    <%= column_chart @most_tagged.map {|e| [e[:name], e[:taggings_count]]} %>

    <div class='col-xs-12'>
        <table class="table">
            <thead>
                <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <% @tags.each do |tag| %>
                    <tr>
                        <td>
                            <%= tag.id %>
                        </td>
                        <td>
                            <%= tag.name %>
                        </td>
                        <td>
                            <%= tag.taggings_count %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= will_paginate @tags %>
    </div>
</div>

