<%= render partial: "shared/discover/discover_body", locals: {discover_type: 'brands'} %>

<script>
    $('.like').click(function(){
        if($(this).find('i').hasClass('liked')){
            var new_number = parseInt($(this).closest('span').find('span').text()) - 1;
            $(this).closest('span').find('span').text(new_number);
        }
        else{
            var new_number = parseInt($(this).closest('span').find('span').text()) + 1;
            $(this).closest('span').find('span').text(new_number);
        }
    })   
</script>
