
<% if @categories.present? %>
	
	<% @categories.each do |category| %>
	html = $('<%= escape_javascript(render partial: "shared/tiles/discover_tiles/category_tiles", locals: {category: category} ) %>');
	$("#discover_feed").append(html);
	<% end %>

<% elsif @baskets.present? %>

	<% @baskets.each_slice(2) do |a, b| %>
		html = "<div class='grouped_lists'>" +
		('<%= escape_javascript(render partial: "shared/tiles/basket_tile", locals: {basket: a, basket_type: "discover"} ) if a.present? %>') +
		('<%= escape_javascript(render partial: "shared/tiles/basket_tile", locals: {basket: b, basket_type: "discover"} ) if b.present? %>') +
		"</div>";
		$("#discover_feed").append(html);
	<% end %>

<% elsif @brands.present? %>

	<% @brands.each do |brand| %>
	html = $('<%= escape_javascript(render partial: "shared/tiles/discover_tiles/brand_tiles", locals: {brand: brand} ) %>');
	$("#discover_feed").append(html);
	<% end %>

<% else %>

	<% if @deals.present? %>
		 <% @deals.each do |deal| %>
		 	html = $('<%= escape_javascript(render partial: "shared/tiles/discover_tiles/deals_tile", locals: {deal: deal} ) %>');
		 		 $("#discover_feed").append(html);
		 <% end %>
	<% end %>	

<% end %>
