
<% if @categories.present? %>

	$('#discover_feed').empty();
	<% @categories.each do |category| %>
	   html = $('<%= escape_javascript(render partial: "shared/tiles/discover_tiles/category_tiles", locals: {category: category} ) %>');
	   $("#discover_feed").append(html);
	<% end %>

<% elsif @baskets.present? %>

	$('#discover_feed').empty();
	<% @baskets.each_slice(2) do |a, b| %>
		html = "<div class='grouped_lists'>" +
		('<%= escape_javascript(render partial: "shared/tiles/basket_tile", locals: {basket: a, basket_type: "discover"} ) if a.present? %>') +
		('<%= escape_javascript(render partial: "shared/tiles/basket_tile", locals: {basket: b, basket_type: "discover"} ) if b.present? %>') +
		"</div>";
		$("#discover_feed").append(html);
	<% end %>

<% elsif @brands.present? %>
	
 	$('#discover_feed').empty();
	
	<% @brands.each do |brand| %>
	   html = $('<%= escape_javascript(render partial: "shared/tiles/discover_tiles/brand_tiles", locals: {brand: brand} ) %>');
	   $("#discover_feed").append(html);
	<% end %>


<% elsif @deals.present? %>

	$('#discover_feed .deals_container').empty();

	<% if @deals.present? %>
		 <% @deals.each do |deal| %>
		 	html = $('<%= escape_javascript(render partial: "shared/tiles/discover_tiles/deals_tile", locals: {deal: deal} ) %>');
		 		 $("#discover_feed .deals_container").append(html);
		 <% end %>
	<% end %>	

<% end %>

$('.group_tile').addClass('fade-animate');