<div class="col-xs-6 col-md-4 col-lg-3 <%= 'col-1800-5 col-2100-6 col-sm-4' if basket_type != 'landing' %> group_tile fade-animate" data-basket-id="<%= basket.id %>">
    <!-- destroy basket -->
    <% if current_customer.present? && ( @customer == current_customer ) && (basket.name != 'Liked Products') %>
        <%= link_to basket_modal_destroy_path( basket.id ), remote: true, method: 'patch',  class: "delete_basket hidden" do %> 
            <%= ion_icon("ios-trash", aria_hidden: true)%>
        <% end %>
    <% end %>
    <div class="group_tile_inner" data-basket="<%= basket.name.parameterize %>">
         <% if basket.lifestyle? %>
            <%= link_to basket_view_path(basket.customer.username, basket.basket_slug_name) do %> 
                <div class="group_tile_Preview">
                    <span class="ellipsisIcon">...</span>
<!--                    TODO SORTING-->
                    <%# if basket_type == 'discover' %>
<!--                        <span class="discover_name"><%#= basket.customer.name %></span>-->
                    <%# end %>
                    <div>
                        <% if basket.gifts.count >= 3 %>
                            <div class="col-xs-8">
                                <div class="group_tile_background"></div>
                                <div class="group_tile_prev1 group_tile_Prevs lazy" data-src="<%= basket.gifts[-1].variant.product_image.medium.url %>" title="<%= basket.gifts[-1].variant.name %> - Wish Image"></div>
                            </div>

                            <div class="col-xs-4 last">
                                <div class="group_tile_prev2 group_tile_Prevs">
                                    <img class="lazy" data-src="<%= basket.gifts[-2].variant.product_image.small.url %>" alt="<%= basket.gifts[-2].variant.name %> - Wish Image" />
                                </div>
                                <div class="group_tile_prev3 group_tile_Prevs">
                                    <img class="lazy" data-src="<%= basket.gifts[-3].variant.product_image.small.url %>" alt="<%= basket.gifts[-3].variant.name %> - Wish Image" />
                                </div>
                            </div>
                        <% elsif basket.gifts.count == 0 %>
                            <div class="col-xs-12">
                                <div class="group_tile_background"></div>
                                <div class="group_tile_prev1 group_tile_Prevs lazy" data-src="<%= basket.banner.url %>" title="<%= basket.customer.username %> - Lifestyle Banner"></div>
                            </div>
                        <% else %>
                            <div class="col-xs-12">
                                <div class="group_tile_background"></div>
                                <div class="group_tile_prev1 group_tile_Prevs lazy" data-src="<%= basket.gifts[0].variant.product_image.medium.url %>"  title="<%= basket.gifts[0].variant.name %> - Wish Image"></div>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% elsif basket.event? %>
            <%= link_to event_view_path(basket.customer.username, basket.basket_slug_name) do %>
                <div class="group_tile_Preview">
                    <span class="ellipsisIcon">...</span>
                    <div>
                        <div class="col-xs-12">
                            <div class="group_tile_background"></div>
                            <div class="group_tile_prev1 group_tile_Prevs lazy" data-src="<%= basket.banner.url %>" title="<%= basket.customer.username %> - Event Banner"></div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% elsif basket.charity? %>
            <%= link_to charity_view_path(basket.customer.username, basket.basket_slug_name) do %>
                <div class="group_tile_Preview">
                    <span class="ellipsisIcon">...</span>
                    <div>
                        <div class="col-xs-12">
                            <div class="group_tile_background"></div>
                            <div class="group_tile_prev1 group_tile_Prevs lazy" data-src="<%= basket.banner.url %>" title="<%= basket.customer.username %> - Charity Banner"></div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% elsif basket.cash? %>
            <%= link_to cash_view_path(basket.customer.username, basket.basket_slug_name) do %>
                <div class="group_tile_Preview">
                    <span class="ellipsisIcon">...</span>
                    <div>
                        <div class="col-xs-12">
                            <div class="group_tile_background"></div>
                            <div class="group_tile_prev1 group_tile_Prevs" data-src="<%= basket.banner.url %>" title="<%= basket.customer.username %> - Cash Banner"></div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
        <div class="group_tile_Details">
            <div>
                <% if current_customer.present? %>
                    <div class="group_tile_actions">
                        <% if (basket_type != 'discover') || current_customer.present? %>
                            <%= link_to ion_icon("ios-paperplane-outline"), basket_popup_share_path(basket.id, type: 'basket'), remote: true, method: 'patch', rel: 'nofollow' %>
                        <% end %>
                        <% if current_customer != @customer %>
                            <%= link_to ion_icon("ios-copy-outline"), basket_clone_path(current_customer.id, basket_id: basket.id), class: "clone_basket", remote: true, method: 'patch' %>
                        <% end %>
                        <!-- Like -->
                        <%= render partial: "shared/site/likes", locals: { likable: basket, likable_type: "Basket", solid_heart: false} %>
                    </div>
                <% end %>
                <p class="numb_basket_items <%= 'landing' if !current_customer.present? %>">
                    <%= pluralize(basket.gifts.count, 'item') %>
                    <span>| <%= basket.basket_type %></span>
                    <% if basket.lifestyle? %>
                        <span><%= ion_icon("record", aria_hidden: true, class: 'lifestyle_circle') %></span>
                    <% elsif basket.event? %>
                        <span><%= ion_icon("record", aria_hidden: true, class: 'event_circle') %></span>
                    <% elsif basket.charity? %>
                        <span><%= ion_icon("record", aria_hidden: true, class: 'charity_circle') %></span>
                    <% elsif basket.cash? %>
                        <span><%= ion_icon("record", aria_hidden: true, class: 'cash_circle') %></span>
                    <% end %>
                </p>
            </div>
            <h2>
               <div>
                   <span>
                        <% if basket.lifestyle? %>
                            <%= link_to basket_view_path(basket.customer.username, basket.basket_slug_name)  do %> 
                                <%= basket.name %>
                            <% end %>
                        <% elsif basket.event? %>
                            <%= link_to event_view_path(basket.customer.username, basket.basket_slug_name)  do %>
                                <%= basket.name %>
                            <% end %>
                        <% elsif basket.charity? %>
                            <%= link_to charity_view_path(basket.customer.username, basket.basket_slug_name)  do %>
                                <%= basket.name %>
                            <% end %>
                        <% elsif basket.cash? %>
                            <%= link_to cash_view_path(basket.customer.username, basket.basket_slug_name)  do %>
                                <%= basket.name %>
                            <% end %>
                        <% end %>
                        <% if (@customer == current_customer) && (current_customer.present?) %>
                            <span class="privacy">
                                <% if basket.privacy == 'public' %>
                                    <%= ion_icon("android-globe", aria_hidden: true) %>
                                <% elsif basket.privacy == 'friends' %>
                                    <%= ion_icon("ios-people", aria_hidden: true) %>
                                <% elsif basket.privacy == 'private' %>
                                    <%= ion_icon("ios-locked", aria_hidden: true) %>
                                <% end %>
                            </span>
                        <% end %>
                    </span>
                </div>
            </h2>
        </div>
    </div>
</div>
