<div class="panel-event">
	<div class="pannel-image">
		<%= link_to image_tag( event.basket.banner.url, class: 'img-responsive' ), event_view_path(event.basket.customer.username, event.basket.basket_slug_name) %>
	</div>
	<div class="pannel-content">
		<div class="panel-event-title"><span><%= link_to event.name, event_view_path(event.basket.customer.username, event.basket.basket_slug_name) %></span></div>
		<div class="panel-event-time"><span><%= event.clean_date %></span></div>
		<div class="panel-event-address"><span><%= event.location %></span></div>
		<% if event.hosted_by?(current_customer) %>
			<div class="panel-event-owner"><span>Your Event</span></div>
		<% end %>
	</div>
</div>
