<div class="mini_tile">
    <%= link_to gift_view_path( gift.gift_slug_name, anchor: 'discussion' ) do %>
        <div class="mini_tile_upper">  
            <%= image_tag gift.variant.product_image.tile.url %>
            <div class="mask">
                <span class="ellipsisIcon">...</span>
            </div>
        </div>
    <% end %>
</div>
