<div class="mini_tile">
    <%= link_to variant_path( variant.slug ) do %>
        <div class="mini_tile_upper">  
            <%= image_tag variant.product_image.tile.url %>
            <div class="mask">
                <span class="ellipsisIcon">...</span>
            </div>
        </div>
    <% end %>
</div>
