<div class="product-item col-sm-4 col-md-3 col-lg-2 <%= tile == 'feed' ? 'col-xs-4' : 'col-xs-6' %> ">
    <div class="product-item-content">
        <% if product.gift? %>
            <% if tile == 'basket' %>
                <% if (product.quantity_desired <= product.quantity_received && current_customer != @basket.customer) || product.owner_marked_received.present? %>
                    <%= image_tag '/images/products/bought_ribbon.png', alt:'Wish Already Purchased Ribbon', class: "gift_bought_ribbon" %>
                <% end %>
            <% elsif tile == 'gift_page' || tile == 'profile' %>
                <% if (( product.quantity_desired <= product.quantity_received ) && ( current_customer != ( @customer || @gift.basket.customer )) || product.owner_marked_received.present? ) %>
                    <%= image_tag '/images/products/bought_ribbon.png', alt: 'Wish Already Purchased Ribbon', class: "gift_bought_ribbon" %>
                <% end %>
            <% end %>
        <% end %>
        <div class="product-content-upper">
            <% if browser.mobile? %>
                <% if product.gift? %>
                    <%= link_to gift_view_path( product.gift_slug_name ) do %>
                        <%= image_tag product.variant.product_image.url, alt: product.variant.name + ' - Wish Image', class: 'img-responsive product' %>
                    <% end %>
                <% else %>
                    <%= link_to variant_path(product.slug) do %>
                        <%= image_tag product.product_image.url, alt: product.name + ' - Product Image', class: 'img-responsive product' %>
                    <% end %>
                <% end %>
            <% else %>
                <% if product.gift? %>
                    <%= image_tag product.variant.product_image.tile.url, alt: product.variant.name + ' - Wish Image', class: 'img-responsive product' %>
                <% else %>
                    <%= image_tag product.product_image.tile.url, alt: product.name + ' - Product Image', class: 'img-responsive product' %>
                <% end %>
            <% end %>
            
            <% if tile == 'basket' && product.basket.customer == current_customer %>

                <%= link_to ion_icon("ios-trash"), basket_remove_path( product.variant.id, basket_id: product.basket.id), class: "remove_gift hidden", remote: true, method: "delete", rel: 'nofollow' %>

                <div class="gift_qty_container hidden">
                    <input id="<%= product.id %>_gift_qty" class="gift_qty" type="text" value="<%= product.quantity_desired %>">
                </div>
                <% if !product.owner_marked_received.present? %>
                    <%= link_to gift_recieved_path(product.id), remote: true, method: 'patch', class: 'mark_received received hidden' do %>
                        <span>Mark As Received</span>
                    <% end %>
                <% end %>

            <% end %>

            <% if product.gift? %>
                <% if (!browser.mobile?) %>
                    <div class="product_actions">
                        <div>
                            <%= link_to ion_icon("ios-paperplane"), basket_popup_share_path(product.id, type: 'gift'), remote: true, method: "patch", rel: 'nofollow' %>
                            <%= link_to ion_icon("ios-plus"), products_modal_builder_path( product.variant.id, gift_id: product.id, action_flag: 'add'), remote: true, method: 'get', rel: 'nofollow' %>
                            <%= link_to ion_icon("ios-chatbubble"), products_modal_builder_path( product.variant.id, gift_id: product.id, action_flag: 'comment'), remote: true, method: 'get', rel: 'nofollow' %>
                            <% if (current_customer.present?) %>
                                <!-- Like -->
                                <%= render partial: "shared/site/likes", locals: { likable: product, likable_type: "Gift", page_view: false, solid_heart: true } %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                <% if !browser.mobile? %>

                    <!-- link to gift modal -->
                    <%= link_to gift_view_path( product.gift_slug_name ), class: 'mask', onclick: "productClick(#{product.variant.to_json}, #{product.variant.merchant.to_json} )" do %>
                        <span class="ellipsisIcon">...</span>
                    <% end %>
                    <div class="buy_btn_container">
                        <!-- ADD TO CART -->
                        <% if product.quantity_desired <= product.quantity_received %>
                            <!-- Purchased -->
                            <%= link_to product.basket.customer == current_customer ? "Add to Cart" : "Buy for #{product.basket.customer.name}", products_modal_leave_path( product.id, type: 'gift', purchased: 'true' ), remote: true, method: 'get', class: 'btn btn-lg buyforBtn', rel:'nofollow' %>
                        <% else %>
                            <!-- Not Purchased -->
                            <%= link_to product.basket.customer == current_customer ? "Add to Cart" : "Buy for #{product.basket.customer.name}", api_v1_cart_items_path(cart_item:{variant_id: product.variant_id, gift_id: product.id}), remote: true, method: 'post', class: 'btn btn-lg buyforBtn add_to_cart', rel:'nofollow' %>
                        <% end %>
                    </div>

                <% end %>
            <% else #if variant %> 

                <% if (!browser.mobile?) %>

                    <div class="product_actions variant">
                        <div>
                            <%= link_to ion_icon("ios-paperplane"), basket_popup_share_path(product.id, type: 'variant'), remote: true, method: "patch", rel: 'nofollow' %>
                            <%= link_to ion_icon("ios-plus"), products_modal_builder_path(product.id, action_flag: 'add'), remote: true, method: 'get', rel: 'nofollow' %>
                            <% if (current_customer.present?) %>
                                <!-- Like -->
                                <%= render partial: "shared/site/likes", locals: { likable: product, likable_type: "Variant", page_view: false, solid_heart: true } %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                <% if !browser.mobile? && product.present? %>
                    <!-- link to product modal -->
                    <%= link_to variant_path(product.slug), class: 'mask newly_added_overlay', onclick: "productClick(#{product.to_json}, #{product.merchant.to_json} )" do %>
                        <span class="ellipsisIcon">...</span>
                    <% end %>
                    <div class="buy_btn_container">
                        <!-- Add To Cart -->
                        <%= link_to 'Add to Cart', api_v1_cart_items_path(cart_item:{variant_id: product.id}), remote: true, method: 'post', class: 'btn btn-lg buyforBtn add_to_cart' %>
                    </div>
                <% end %>
            <% end %>
        </div>

        <div class="product-content-lower">
            <% if (tile == 'gift_page' || tile == 'profile') && (( product.quantity_desired <= product.quantity_received ) && (product.gift?) && ( current_customer != ( @customer || @gift.basket.customer )) || product.owner_marked_received.present?) %>
                <p class="product_title purchased_text">Gift Already Purchased</p>
            <% elsif (tile == 'basket') && (( product.quantity_desired <= product.quantity_received ) && ( current_customer != @basket.customer ) && (product.gift?) || product.owner_marked_received.present?)  %>
                <p class="product_title purchased_text">Gift Already Purchased</p>
            <% else %>
                <% if product.gift? %>
                    <% if (browser.mobile?) %>
                        <div class="product_actions">
                            <div>
                                <%= link_to ion_icon("ios-paperplane-outline"), basket_popup_share_path(product.id, type: 'gift'), remote: true, method: "patch", rel: 'nofollow' %>
                                <%= link_to ion_icon("ios-plus-outline"), products_modal_builder_path( product.variant.id, gift_id: product.id, action_flag: 'add'), remote: true, method: 'get', rel: 'nofollow' %>
                                <%= link_to ion_icon("ios-chatbubble-outline"), products_modal_builder_path( product.variant.id, gift_id: product.id, action_flag: 'comment'), remote: true, method: 'get', rel: 'nofollow' %>
                                <% if (current_customer.present?) %>
                                    <!-- Like -->
                                    <%= render partial: "shared/site/likes", locals: { likable: product, likable_type: "Gift", page_view: false, solid_heart: false } %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>


                    <% if (browser.mobile?) && (tile == 'feed') %>
                        <!-- ADD TO CART -->
                        <% if product.quantity_desired <= product.quantity_received %>
                            <!-- Purchased -->
                            <%= link_to product.basket.customer == current_customer ? "Add to Cart" : "Buy for #{product.basket.customer.name}", products_modal_leave_path( product.id, type: 'gift', purchased: 'true' ), remote: true, method: 'get', class: 'btn btn-lg buyforBtn', rel: 'nofollow' %>
                        <% else %>
                            <!-- Not Purchased -->
                            <%= link_to product.basket.customer == current_customer ? "Add to Cart" : "Buy for #{product.basket.customer.name}", api_v1_cart_items_path(cart_item:{variant_id: product.variant_id, gift_id: product.id}), remote: true, method: 'post', class: 'btn btn-lg buyforBtn add_to_cart', rel: 'nofollow' %>
                        <% end %>
                    <% end %>

                    <% if browser.mobile? %>
                        <p class="product_title <%= 'caption' if product.caption.present? %>">
                            <%= !product.caption.present? ? CGI.unescapeHTML(product.variant.trunc_name(40)) : "\"#{product.caption.truncate(40)}\"" %>
                        </p>
                    <% else %>
                        <p class="product_title <%= 'caption' if product.caption.present? %>">
                            <%= !product.caption.present? ? CGI.unescapeHTML(product.variant.trunc_name(60)) : "\"#{product.caption.truncate(60)}\"" %>
                        </p>
                    <% end %>
                    
                    
                    <% if tile == 'feed' %>
                        <%= link_to user_path(product.basket.customer.username), class: 'product_tile_avatar' do %>
                            <%= image_tag product.basket.customer.avatar.profile_square.url, alt: product.basket.customer.name + '- Profile Picture Small', class: 'img-responsive' %>
                            <span><%= product.basket.customer.name %></span>
                        <% end %>
                    <% end %>

                    <% if tile != 'feed' %>
                        <span class="product_price"> <%= number_to_currency(product.variant.pretty_price) %></span>
                    <% end %>

                    <% if (tile == 'profile') || (tile == 'gift_page') || (tile == 'basket') %>
                        <!--  if rating exists-->
                        <% if product.rating != 0 %>
                            <div class="user_rating">
                                <% if product.rating == 1 %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true) %>
                                    <%= ion_icon("android-star", aria_hidden: true) %>
                                    <%= ion_icon("android-star", aria_hidden: true) %>
                                    <%= ion_icon("android-star", aria_hidden: true) %>
                                <% elsif product.rating == 2 %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true) %>
                                    <%= ion_icon("android-star", aria_hidden: true) %>
                                    <%= ion_icon("android-star", aria_hidden: true) %>
                                <% elsif product.rating == 3 %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true) %>
                                    <%= ion_icon("android-star", aria_hidden: true) %>
                                <% elsif product.rating == 4 %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true) %>
                                <% elsif product.rating == 5 %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                    <%= ion_icon("android-star", aria_hidden: true, class: "active") %>
                                <% end %>
                            </div>
                        <% end %>
                    <% end %>

                <% else %>
                    <% if (browser.mobile?) %>   
                        <div class="product_actions variant">
                            <div>
                                <%= link_to ion_icon("ios-paperplane-outline"), basket_popup_share_path(product.id, type: 'variant'), remote: true, method: "patch", rel: 'nofollow' %>
                                <%= link_to ion_icon("ios-plus-outline"), products_modal_builder_path(product.id, action_flag: 'add'), remote: true, method: 'get', rel: 'nofollow' %>
                                <% if (current_customer.present?) %>
                                    <!-- Like -->
                                    <%= render partial: "shared/site/likes", locals: { likable: product, likable_type: "Variant", page_view: false, solid_heart: false } %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>


                    <% if browser.mobile? && tile == 'feed' %>
                        <!-- Add To Cart -->
                        <%= link_to 'Add to Cart', api_v1_cart_items_path(cart_item:{variant_id: product.id}), remote: true, method: 'post', class: 'btn btn-lg buyforBtn add_to_cart variant', rel: 'nofollow' %>
                    <% end %>

                    <% if browser.mobile? %>
                        <p class="product_title"><%= CGI.unescapeHTML(product.trunc_name(40)) %></p>
                    <% else %>
                        <p class="product_title"><%= CGI.unescapeHTML(product.trunc_name(60)) %></p>
                    <% end %>
                    <span class="product_price"><%= number_to_currency(product.pretty_price) %></span>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
