<div class="modal fade leave_modal" tabindex="-1" role="dialog" data-backdrop="static">
    <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div id="leave_modal_tab_one" class="collapse in fade">
                <div class="modal-body">
                    <div class="leave_modal_wrapper">
                        <div class="text-center">
                            <% if @gift.present? %>
                                <div class="gift_stats_container" style="<%= browser.mobile? && browser.safari? ? 'margin-top: 50px;' : '' %>">
                                    <div class="gift_stats">
                                        <p><%= @gift.quantity_desired %></p>
                                        <p>Desired</p>
                                    </div>
                                    <% if current_customer != @gift.customer %>
                                        <div class="gift_stats">
                                            <p><%= @gift.quantity_received %></p>
                                            <p>Received</p>
                                        </div>
                                    <% end %>
                                    <% if @gift.variant.size.present? %>
                                        <div class="gift_stats">
                                            <p><%= @gift.variant.size %></p>
                                            <p>Size</p>
                                        </div>
                                    <% end %>
                                    <% if @gift.variant.color.present? %>
                                        <div class="gift_stats">
                                            <p><%= @gift.variant.color %></p>
                                            <p>Color</p>
                                        </div>
                                    <% end %>
                                </div>
                                <div class="image_container" style="background-image: url('<%= @gift.variant.product_image.url %>');">
                                </div>
                            <% else %>
                                <div class="separator"></div>
                                <div class="image_container" style="background-image: url('<%= @variant.product_image.url %>');">
                                </div>
                            <% end %>

                        </div> 

                        <div class="text-center col-xs-12 top-10">
                            <!-- If Gift Already Purchased -->
                            <% if @gift.present? && @gift.quantity_received >= @gift.quantity_desired %>
                                <div class="actions text-center">
                                    <% if @purchased.present? %>
                                        <%= link_to current_customer == @gift.basket.customer ? "Add to Cart" : "Buy for #{@gift.basket.customer.name}", api_v1_cart_items_path(cart_item:{variant_id:@gift.variant_id, gift_id: @gift.id}), class: 'btn btn-md add_to_cart_then_close_leave_modal', remote: true, method: 'post' %>
                                    <% else %>
                                        <%= link_to "Go to #{@gift.variant.merchant.name}", @gift.variant.merchant_url, class: "btn btn-md toggle-yes", target: '_blank' %>
                                    <% end %>

                                    <%= link_to 'Stay on Giftibly!', '#', class: "btn btn-md", data: { dismiss: "modal"}, rel:'nofollow' %> 
                                </div>
                                <p><span>The desired amount for this gift has already been met.</span> Would you still like to purchase more of this gift for <%= @gift.customer.name %>?</p>

                            <% else %>                                

                                <div class="actions text-center">
                                    <!-- <p>Do you need <%#= link_to 'request', '#leave_modal_tab_one', data: {toggle: 'collapse'}, class: 'toggle-request' %> <%#= @gift.customer.name %> Shipping Address before continuing?</p> -->

                                    <% if @gift.present? %>
                                        <%= link_to "Go to #{@gift.variant.merchant.name}", @gift.variant.merchant_url, class: "btn btn-md toggle-yes", target: '_blank' %> 
                                    <% else %>
                                        <%= link_to "Go to #{@variant.merchant.name}", @variant.merchant_url, class: "btn btn-md toggle-yes", target: '_blank' %> 
                                    <% end %> 
                                        <%= link_to 'Stay on Giftibly!', '#', class: "btn btn-md", data: { dismiss: "modal"}, rel:'nofollow' %> 
                                </div>
                                <% if @gift.present? %>
                                    <p>You're leaving to go buy <%= @gift.variant.name %> on <%= @gift.variant.merchant.name %>.</p>
                                    <p><span>Head back here when you're all done to mark this gift as purchased!</span></p>
                                <% else %>
                                    <p>You're leaving to go buy <%= @variant.name %> on <%= @variant.merchant.name %>.</p>
                                <% end %>   
                                
                            <% end %>
                        </div>  

                    </div>
                </div>
            </div>

            <% if @gift.present? %>
            <div id="leave_modal_tab_two" class="hidden">

                <div class="modal-body">
                    <div class="leave_modal_wrapper">
                       
                        <div class="text-center">
                            <div class="gift_stats_container" style="<%= browser.mobile? && browser.safari? ? 'margin-top: 50px;' : '' %>">
                                <div class="gift_stats">
                                    <p><%= @gift.quantity_desired %></p>
                                    <p>Desired</p>
                                </div>
                                <div class="gift_stats">
                                    <p><%= @gift.quantity_received %></p>
                                    <p>Received</p>
                                </div>
                            </div>
                            <div class="image_container" style="background-image: url('<%= @gift.variant.product_image.url %>');">
                            </div>
        
                        </div>
                        <div class="mobile_container gift">

                            <div class="text-center col-xs-12">
                               
                                <!-- Leave Options -->
                                <div id="leave_option" class="collapse in fade">
                                    <h4 class="modal-title">Did you buy the gift for <%=@gift.customer.name %></h4>
                                    <hr>
                                    <div class="gift_qty_container">
                                      <input id="<%= @gift.id %>_gift_qty" class="gift_qty" type="text" value="<%= @gift.quantity_desired %>">
                                  </div>

                                  <div class="actions text-center">
                                      <%= link_to "Yes", '#', class: "btn btn-sm toggle-yes" %> 
                                      <%= link_to 'No', '#', class: "btn btn-sm toggle-no " %> 
                                  </div>
                                </div>

                              <!-- Leave Yes -->
                              <div id="leave_yes" class="collapse fade">
                                <h4 class="modal-title">One Last Step...</h4>
                                <hr>

                                <%= form_tag '/gift/confirm', method: 'patch', remote: true do %>

                                <div class="form-group checkbox">
                                    <%= check_box_tag :suprize_gift, nil %>
                                    <label for="suprize_gift">Click here to mark as surprise gift </label>
                                </div>
                                <p>(we wont send <%=@gift.customer.name%> a notification)</p>
                                <%= hidden_field_tag :gift_id, nil, value: @gift.id %>
                                <div class="form-group actions">
                                    <%= submit_tag "Submit", class: 'btn btn-md btn-submit' %>
                                </div>
                                <% end %>
                                <%= link_to '#leave_yes', class: "toggle-yes back-button", data: { toggle: "collapse"} do %>
                                   <%= ion_icon("chevron-left") %> Go Back
                                <% end %>
                            </div>

                            <!-- Leave No -->
                            <div id="leave_no" class="collapse fade">
                                <h4 class="modal-title">I didn't buy this because?</h4>
                                <hr>
                                <%= form_tag '/gift/confirm', method: 'patch', remote: true do %>
                                <div class="form-group">
                                    <div class="radio radio-warning radio-inline">
                                        <%= radio_button_tag :reason, 'just browsing' %>
                                        <label for="reason">
                                            Just Looking
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="radio radio-warning radio-inline">
                                        <%= radio_button_tag :reason, 'not available' %>
                                        <label for="reason">
                                            Wasn't Available 
                                        </label>
                                    </div>
                                </div>
                                <%= hidden_field_tag :gift_id, nil, value: @gift.id %>

                                <% end %>

                                <div class="actions">
                                    <%= link_to 'See More Wishes', '#more_gifts', class: "btn btn-sm" %> 
                                    <%= link_to 'I\'m Done for Now!', '#no_gifts', class: "btn btn-sm" %> 
                                </div>

                                <%= link_to '#leave_option', class: "toggle-no back-button", data: { toggle: "collapse"} do %>
                                   <%= ion_icon("chevron-left") %> Go Back
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
            
            <!-- Leave Request You -->
            <div id="leave_modal_tab_three" class="collapse fade top-10">
                <div class="modal-body">
                    <div class="leave_modal_wrapper">
                        <div class="text-center">
                            <div class="gift_stats_container" style="<%= browser.mobile? && browser.safari? ? 'margin-top: 50px;' : '' %>">
                                <div class="gift_stats">
                                    <p><%= @gift.quantity_desired %></p>
                                    <p>Desired</p>
                                </div>
                                <div class="gift_stats">
                                    <p><%= @gift.quantity_received %></p>
                                    <p>Received</p>
                                </div>
                            </div>
                            <%#= image_tag @variant.product_image.url, alt: 'product' %>
                            <%= image_tag @gift.variant.product_image.url, alt: 'product' %>
                        </div>

                        <div class="text-center top-10">
                            <p><%= @gift.customer.name %></p> 
<!--                            <p><%#= @gift.customer.shipping_address.present? ? @gift.customer.shipping_address.formatted_address : @gift.customer.location %></p>-->
                        </div> 
                        <div class="actions text-center">
                            <%= link_to "Go to #{@gift.variant.merchant.name}", '#', class: "btn btn-md toggle-yes", data: { dismiss: "modal"} %> 
                            <%= link_to 'Stay on Giftibly!', '#', class: "btn btn-md", data: { dismiss: "modal"}, rel:'nofollow' %> 
                        </div>
                        <p>You're leaving to go buy <%= @gift.variant.name %> on <%= @gift.variant.merchant.name %>. <span>Head back</span> here when you're all done!</p>      
                    </div>
                </div>
            </div>

            <!-- Leave Thank You -->
            <div id="leave_modal_tab_four" class="collapse fade">
                <div class="modal-body">
                    <div class="leave_modal_wrapper">
                        <div class="col-md-12 col-sm-12">
                            <div class="text-center bottom-10">
                                <%= svg('logo') %>
                                <h4>Thank you for giving a great gift!</h4>
                                <p>We will update the <%= @gift.basket.name %> Wish List and notify <%= @gift.present? ? @gift.customer.name : 'you' %> about the purchase. What would you like to do next?</p>
                            </div>
                            <div class="actions see_more_gifts text-center">

                                <%= link_to "See More Gifts From #{@gift.customer.name}", user_path( @gift.customer.username ), class: "btn btn-sm btn-primary" %>

                                <%= link_to 'I\'m Done for Now!', '#', class: "btn btn-default btn-sm", data: { dismiss: "modal"} %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% elsif @variant.present? %>

            <div id="leave_modal_tab_two" class="hidden">

                <div class="modal-body">
                    <div class="leave_modal_wrapper">
                        <div class="separator"></div>
                            <div class="image_container" style="background-image: url('<%= @variant.product_image.url %>');">
                            </div>
                        <div class="mobile_container variant">

                            <div class="text-center">

                                <!-- Leave Options -->
                                <div id="leave_option" class="collapse in fade">

                                    <h4 class="modal-title">Did you buy this product?</h4>
                                    <hr>

                                    <div class="actions text-center">
                                      <%= link_to "Yes", '#', class: "btn btn-sm toggle-yes" %> 
                                      <%= link_to 'No', '#', class: "btn btn-sm toggle-no " %> 
                                    </div>
                                </div>

                              <!-- Leave Yes -->
                              <div id="leave_yes" class="collapse fade top-10 col-xs-12">
                                <h4 class="modal-title">One Last Step...</h4>
                                <hr>

                                <%= form_tag '/gift/confirm', method: 'patch', remote: true do %>

                                <div class="form-group checkbox">
                                    <%= check_box_tag :suprize_gift, nil %>
                                    <label for="donation">Click here to mark as surprise gift </label>
                                </div>
                                <p>(we wont send you a notification)</p>
                                <%= hidden_field_tag :variant_id, nil, value: @variant.id %>
                                <div class="form-group actions">
                                    <%= submit_tag "Submit", class: 'btn btn-md btn-submit' %>
                                </div>
                                <% end %>
                                <%= link_to '#leave_yes', class: "toggle-yes back-button", data: { toggle: "collapse"} do %>
                                   <%= ion_icon("chevron-left") %> Go Back
                                <% end %>
                            </div>

                            <!-- Leave No -->
                            <div id="leave_no" class="collapse fade top-10 col-xs-12">
                                <h4 class="modal-title">I didn't buy this because?</h4>
                                <hr>
                                <%= form_tag '/gift/confirm', method: 'patch', remote: true do %>
                                <div class="form-group">
                                    <div class="radio radio-warning radio-inline">
                                        <%= radio_button_tag :reason, 'just browsing' %>
                                        <label for="reason">
                                            Just Looking
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="radio radio-warning radio-inline">
                                        <%= radio_button_tag :reason, 'not available' %>
                                        <label for="reason">
                                            Wasn't Available 
                                        </label>
                                    </div>
                                </div>
                                <%= hidden_field_tag :variant_id, nil, value: @variant.id %>
                                <% end %>

                                <div class="actions">
                                    <%= link_to 'See More Gifts', '#more_gifts', class: "btn btn-sm" %> 
                                    <%= link_to 'I\'m Done for Now!', '#no_gifts', class: "btn btn-sm" %> 
                                </div>

                                <%= link_to '#leave_option', class: "toggle-no back-button", data: { toggle: "collapse"} do %>
                                   <%= ion_icon("chevron-left", aria_hidden: 'true') %> Go Back
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>


            <!-- Leave Thank You -->
            <div id="leave_modal_tab_four" class="collapse fade">
                <div class="modal-body">
                    <div class="leave_modal_wrapper">
                        <div class="col-md-12 col-sm-12">
                            <div class="text-center bottom-10">
                                <%= svg('logo') %>
                                <h4 class="modal-title">Thank you for buying a great gift!</h4>
                                <p>What would you like to do next?</p>
                            </div>
                            <div class="actions see_more_gifts text-center">
                                <%= link_to 'See more gifts', root_path, class: "btn btn-sm btn-primary" %> 
                                <%= link_to 'I\'m Done for Now!', '#', class: "btn btn-default btn-sm", data: { dismiss: "modal"} %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% end %>


        </div>
    </div>
</div>
