<div class="modal product_modal fade" role="dialog" data-backdrop="static">
    <%= render partial: "shared/modals/modal_partials/close_btn" %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row equal">
                  <div class="tab-content">
                      <% if @gift.present? %>
                          <a href="<%= gift_view_path(@gift.gift_slug_name) %>" alt="Wish Page Link">
                      <% else %>
                          <a href="<%= variant_path(@variant.slug) %>" alt="Variant Page Link">
                      <% end %>
                              <div class="image_container">
                                  <div class="mask">
                                      <% if @gift.present? %>
                                          <div class="gift">
                                              <p><%= @variant.trunc_name(35) %></p>
                                              <p>
                                                  <span>Desired: <%= @gift.quantity_desired %></span>
                                                  <% if current_customer != @gift.basket.customer %>
                                                      <span>Received: <%= @gift.quantity_received %></span>
                                                  <% end %>
                                                  <% if @gift.likes.count > 0 %>
                                                      <span>Likes: <%= @gift.likes.count %></span>
                                                  <% end %>
                                              </p> 
                                          </div>
                                      <% else %>
                                          <div class="variant">
                                              <p><%= @variant.trunc_name(60) %></p>
                                              <p><%= number_to_currency (@variant.pretty_price) %><span><%= @variant.merchant.name %></span></p>
                                          </div>
                                      <% end %>
                                  </div>
                                  <%= image_tag @variant.product_image.url, alt: @variant.name, class: 'img-responsive' %>
                              </div>
                          </a>
                      <% if @gift.present? %>
                          <%= link_to image_tag(@gift.customer.avatar.profile.url, alt: 'avatar'), user_path(@gift.customer.username), class: 'img-responsive avatar' %>
                          <p class="owner_name">
                              <%= @gift.customer.name %>
                          </p>                          
                      <% end %>
                      <% if @action_flag == 'add' || @action_flag.nil? %>
                          <div class="addtoBasketMask">
                              <% if current_customer.present? %>
                                  <div class="quantity_select">
                                      <form action="#" class="product_modal_form">
                                          <div class="product_modal_add">
                                              <input class="qty" type="text" value="1" name="qty">
                                          </div>
                                      </form>
                                  </div>
                                  <p class="choose_basket">Add this to a Wish List </p>
                                  <input type="text" name="search_baskets" class="form-control input-sm"  placeholder="Search Wish Lists" autocomplete="off" autocapitalize="off" autocorrect="off">
                                  <div class="list-group product_modal_baskets baskets_feed <%= @gift.present? ? 'gift' : 'variant' %> <%= 'safari_mobile' if (browser.safari? && browser.mobile?) %>">
                                      <% @current_customer.baskets.reverse.each do |basket| %>
                                          <% if basket.name != "Liked Products" %>
                                              <div class="list-group-item list_basket">
                                                <%= link_to basket_add_path(basket.id, variant_id: @variant.id, quantity: 1), remote: true, method: 'post', type: 'button' do %>
                                                  <span><%= basket.name %></span>
                                                  <% if basket.lifestyle? %>
                                                      <%= ion_icon("record", aria_hidden: true, class: 'lifestyle_circle') %>
                                                  <% elsif basket.event? %>
                                                      <%= ion_icon("record", aria_hidden: true, class: 'event_circle') %>
                                                  <% elsif basket.charity? %>
                                                      <%= ion_icon("record", aria_hidden: true, class: 'charity_circle') %>
                                                  <% elsif basket.cash? %>
                                                      <%= ion_icon("record", aria_hidden: true, class: 'cash_circle') %>
                                                  <% end %>
                                                    <button>Add</button>
                                                  <% end %>
                                              </div>
                                          <% end %>

                                      <% end %>
                                  </div>

                                  <%= link_to basket_modal_builder_path(@variant.id), remote: true, method: 'get', class: 'addToBasket_action', rel: 'nofollow' do %>
                                      <div class="createBtn">
                                          <div class="basket_circle">
                                              <%= ion_icon("record", aria_hidden: true) %>
                                              <%= ion_icon("ios-book", aria_hidden: true) %>
                                          </div>
                                          <span>Create New Wish List</span>
                                      </div>
                                  <% end %>
                              <% else %>
                                  <div class="mask_preview">
                                      <div>
                                          <span>From here, you can add items to your wishlists. Please</span>
                                          <%= link_to 'Login', '#login_modal', data: {toggle: 'modal'}, rel:'nofollow' %>
                                          <span>or</span>
                                          <%= link_to 'Sign Up', new_customer_registration_path, class: "sign_up" %>
                                          <span>to start adding wishes.</span>
                                      </div>
                                  </div>
                              <% end %>

                          </div> <!-- add to basket tab -->
                      <% elsif @action_flag == 'comment' %>            
                          <div class="product_comments">
                              <div class="comments">
                                  <% if current_customer.present? %>
                                      <div class="current_user_comment">
                                          <%= image_tag(current_customer.avatar.profile_square.url)%>
                                          <div class="modal_comments_input">
                                              <!--comments -->
                                              <%= form_tag comments_create_path, method: 'patch', remote: true, class: 'comment_form', html: { multipart: true } do %>
                                                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                                  <%= text_area_tag :content, nil, class: 'form-control input-md textarea-autosize wdt-emoji-bundle-enabled wdt-emoji-open-on-colon', autocomplete: "off", placeholder: 'Add comment' %>  
                                                  <%= hidden_field_tag :commentable_id, nil, value: @gift.id %>
                                                  <%= hidden_field_tag :commentable_type, nil, value: 'Gift' %>
                                                  <%= button_tag ion_icon("arrow-up-c"), type: 'submit', class: 'submit_comment' %>     
                                              <% end %>
                                          </div>
                                      </div>
                                      <div class="modal_comments_container <%= 'safari_mobile' if (browser.safari? && browser.mobile?) %>">
                                          <% @gift.comments.reverse_each do |comment| %>
                                              <%= render comment %>
                                          <% end %>
                                          
                                          <div class="reply_discussion">

                                            <%= form_tag comments_create_path, method: 'patch', remote: true, class: 'comment_form', html: { multipart: true } do %>

                                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                            <%= text_area_tag :content, nil, required: true, class: 'form-control input-md textarea-autosize wdt-emoji-bundle-enabled wdt-emoji-open-on-colon', autocomplete: "off", placeholder: 'Add comment' %>
                                            <%= hidden_field_tag :commentable_id, nil, value: nil %>
                                            <%= hidden_field_tag :commentable_type, nil, value: 'Comment' %>
                                            <%#= link_to ion_icon("camera", aria_hidden: true), '#', class: 'message_upload' %>
                                            <%= file_field_tag :file, class: 'hidden' %>
                                            <%= button_tag ion_icon("arrow-up-c"), type: 'submit', class: 'submit_comment' %>
                                            <% end %>
                                          </div>
                                      </div>

                                      <%= link_to gift_view_path(@gift.gift_slug_name, anchor: 'discussion'), class: 'viewComments' do %>
                                          See All <%= ion_icon("ios-redo", aria_hidden: true) %>
                                      <% end %>
                                  <% else %>
                                      <div class="mask_preview">
                                          <div>
                                              <span>From here, you can add comments to a members wish. Please</span>
                                              <%= link_to 'Login', '#login_modal', data: {toggle: 'modal'} %>
                                              <span>or</span>
                                              <%= link_to 'Sign Up', new_customer_registration_path, class: "sign_up" %>
                                              <span>to comment on a wish.</span>
                                          </div>
                                      </div>
                                  <% end %>
                              </div>
                          </div> <!-- comment tab -->
                      <% end %>
                  </div>
              </div>
          </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
