$('body').append("<%= escape_javascript(render partial: 'modal_leave', variant: @variant, gift: @gift, purchased: @purchased, rel: 'nofollow') %>");

// Opens destroy basket modal
$('.leave_modal').modal(open);

//remove partial on hidden
$('.leave_modal').on('hide.bs.modal', function () {
  $('.leave_modal').remove();
})

// Hide Modal On Leave 
$('.leave_modal #leave_modal_tab_one .toggle-yes, .leave_modal #leave_modal_tab_three .toggle-yes').on('click', function(){
    <% if @gift.present? || current_customer.present? && @variant.present? %>
    //calls leave modal tab 2 after 3 seconds if its a gift 
    setTimeout(function(){
      $('.leave_modal #leave_modal_tab_one, .leave_modal #leave_modal_tab_three').addClass('hidden');
      $('.leave_modal #leave_modal_tab_two').removeClass('hidden');
      $.titleAlert('Action Required', {interval:1000, originalTitleInterval:200});
    },3000)
    $(window).focus(function(e) {
        $.titleAlert.stop();
    });
    <% end %>  
})
    
if($(window).width() <=  480){
    $('.modal .closeBtn').click(function() {
        $(this).closest('.modal').addClass('hidemodal');
        setTimeout(function(){
            $(this).closest('.modal').modal('hide');
        }, 400)
    })
}

// Request Leave
$('.leave_modal #leave_modal_tab_one .toggle-request').on('click', function(){
    $('.leave_modal #leave_modal_tab_three').collapse('toggle');
})

// YES
$('.leave_modal #leave_modal_tab_two #leave_option .toggle-yes').on('click', function(e){
    e.preventDefault();
    $('.leave_modal #leave_modal_tab_two #leave_option').collapse('toggle');
    $('.leave_modal #leave_modal_tab_two #leave_yes').collapse('toggle');
    if($(window).width() <=  480){
        $('.mobile_container.gift').animate({height: 270});
        $('.mobile_container.variant').animate({height: 290});
    }
    <%if @gift.present? %>
    gift_id = "<%= @gift.id %>";
    val = $("#<%= @gift.id %>_gift_qty").val();
    gift_quantity_received(gift_id, val)
    <% end %>
})

// NO
$('.leave_modal #leave_modal_tab_two .toggle-no').on('click', function(e){
    e.preventDefault();
    $('.leave_modal #leave_modal_tab_two #leave_no').collapse('toggle');
    $('.leave_modal #leave_modal_tab_two #leave_option').collapse('toggle');
    if($(window).width() <=  480){
        $('.mobile_container.gift').animate({height: 235});
        $('.mobile_container.variant').animate({height: 247});
    }
})
    
$('#leave_modal_tab_two .back-button').on('click', function(e){
    e.preventDefault();
    if ($(e.target).hasClass('toggle-yes')) {
       $('.leave_modal #leave_modal_tab_two #leave_option').collapse('toggle');
       $('.leave_modal #leave_modal_tab_two #leave_yes').collapse('toggle');
       <% if @gift %>
        gift_id = "<%= @gift.id %>";
        gift_quantity_received(gift_id, 0)
       <% end %>
    }
    if($(window).width() <=  480){
        $('.mobile_container.gift').animate({height: 176});
        $('.mobile_container.variant').animate({height: 100});
    }
})

//instantiate touchspin
$(".gift_qty").TouchSpin({
<% if @gift.present? %>
   min: <%= @gift.quantity_received %>,
<% else %>
   min: 0,
<% end %>
   max: 99
});

function gift_quantity_received(gift_id, val){
    $.ajax({
        type     : 'PATCH',
         url      : '/gift/quantity_change/'+gift_id+'?quantity='+val+'&quantity_type=received',
         dataType : 'json',
         encode   : true,
         success  : function(data, response){
            if (data.response == true) {
                $('#leave_modal_tab_two .gift_stats:nth-child(2) > p:nth-child(1)').html(val);
                toastr.success('Wish quantity changed.');
            }else{
                toastr.error('Somthing went wrong. Please try again!');
            }
        }
    })
}

<% if @gift.present? || @variant.present? %>
$("#leave_no .actions a").on('click', function(e){
    e.preventDefault();
    var Url = $(this).attr('href');
    if ($('input[name="reason"]').is(":checked")) {
        $("#leave_no form").submit(); 
    }else{
        if (Url == '#more_gifts') {
            <% if @gift.present? %>
                window.location = '/<%= @gift.customer.username %>'
                $('.leave_modal').modal('hide');
            <% elsif @variant.present? %>
                if ( window.location.pathname != '/') { 
                    window.location = '/' 
                }else{ 
                    $('.leave_modal').modal('hide'); 
                }
            <% end %>
        }else{
            $('.leave_modal').modal('hide');  
        }
    }
    $('#leave_no form, #leave_yes form').on('ajax:success', function(e, data, status, xhr){
        if (Url == '#more_gifts') {

            <% if @gift.present? %>
                window.location = '/<%= @gift.customer.username %>'
                $('.leave_modal').modal('hide');
            <% elsif @variant.present? %>
                if ( window.location.pathname != '/') { 
                    window.location = '/' 
                }else{ 
                    $('.leave_modal').modal('hide'); 
                }
            <% end %>            
        }else{
            $('.leave_modal').modal('hide');   
        }
    })
})
<% end %>

function getCartItemsCount() {
	return $.ajax({
		type: 'GET',
		url: '/api/v1/carts/items_count',
		dataType: 'json'
	});
};

$(document).off('ajax:complete', '.buy_product').on('ajax:complete', '.buy_product', function() {
	getCartItemsCount().then(function(result) {
		if (result > 0) {
			$('span#cart_item_count').removeClass('hide').text(result);
		} else {
			$('span#cart_item_count').addClass('hide').text(result);
		}
		toastr.success('Item Added to Cart');
		$('.leave_modal').modal('hide');
	});
});
