  <% if logged_in? %>
    $("<%= escape_javascript(render partial: 'modal_builder_product', variant: @variant, gift: @gift, baskets: @baskets, locals: {action_flag: @action_flag}, rel: 'nofollow' ) %>").insertBefore('.create_modal');
  <% else %>
    $("<%= escape_javascript(render partial: 'modal_builder_product', variant: @variant, gift: @gift, baskets: @baskets, locals: {action_flag: @action_flag}, rel: 'nofollow' )%>").insertBefore('#login_modal'); 
  <% end %>

	// Opens product modal
	$('.product_modal').modal(open);

	//remove partial on hidden
  $('.product_modal').on('hide.bs.modal', function () {
    $('.product_modal').remove();
  })

	//Emoji Picker
	wdtEmojiBundle.init('.wdt-emoji-bundle-enabled');

  $('.product_modal_size li').on('click',function () {
      // remove classes from all
      $("li").removeClass("active");
      // add class to the one we clicked
      $(this).addClass("active");
  });

   var actable_type = $('.modal_comments_title').data('type');
   var id = $('.modal_comments_title').data('id');

  //Autocomplete Options
  var searchBasket = {
      data: <%=raw @baskets_arr %>,
      list: {
        maxNumberOfElements: 5,
        match: {
          enabled: true
      },
        sort: {
          enabled: true
        },
        onClickEvent: function() {
          filterBasket()
        }
      }
  };

  // Makes autocomplete
  $("input[name='search_baskets']").easyAutocomplete(searchBasket);


  $("input[name='search_baskets']").keyup(function(){

      // shows clear button on key up
      $('.baskets_searchclear').toggle(Boolean($(this).val()));

      // Retrieve the input field text and reset the count to zero
      var filter = "(?:^|\\s)" + $(this).val(), itemsFound = 0;

      // Loop through each basket
      $(".product_modal_baskets .list_basket").each(function(){

        // If the list item does not contain the text phrase fade it out
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $(this).fadeOut();
            // Show the list item if the phrase matches and increase the count by 1
        } else {
            $(this).show();
            itemsFound++;
        }

        //No items found show text
        if(itemsFound == 0 ){

        }else{

        }


      });

  });

  // Click filter
  function filterBasket(){
      val = $("input[name='search_baskets']").val();
      $(".product_modal_baskets .list_basket span").each(function(){
      if (val !== $(this).text()) {
          $(this).closest('.list_basket').fadeOut();
      }else{
         $(this).closest('.list_basket').show();
      }
     })
  }

  var searchFriends = {
      data: <%=raw @connection_arr %>,
      list: {
        maxNumberOfElements: 5,
        match: {
          enabled: true
      },
        sort: {
          enabled: true
        },
        onClickEvent: function() {
          filterFriends()
        }
      }
  };

  // Makes autocomplete
  $("input[name='search_friends']").easyAutocomplete(searchFriends);

  $("input[name='search_friends']").keyup(function(){

    // shows clear button on key up
    $('.friends_searchclear').toggle(Boolean($(this).val()));

    // Retrieve the input field text and reset the count to zero
    var filter = "(?:^|\\s)" + $(this).val(), itemsFound = 0;

    // Loop through each friend
    $(".friend").each(function(){

      // If the list item does not contain the text phrase fade it out
      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
      $(this).fadeOut();

      // Show the list item if the phrase matches and increase the count by 1
      } else {
        $(this).show();
        itemsFound++;
      }

      //No items found show text
      if(itemsFound == 0 ){

      }else{

      }

    });

  });

  // Click filter
  function filterFriends(){
      val = $("input[name='search_friends']").val();
      $(".friends .friend span").each(function(){
      if (val !== $(this).text()) {
          $(this).closest('.friend').fadeOut();
      }else{
         $(this).closest('.friend').show();
      }
     })
  }

  // clears input and shows baskets on click
  $(".baskets_searchclear").click(function () {
    $("input[name='search_baskets']").val('').focus();
    $(".list_basket").show();
    $(this).hide();
  });

  // clears input and shows baskets on click
  $(".friends_searchclear").click(function () {
    $("input[name='search_friends']").val('').focus();
    $(".friend").show();
    $(this).hide();
  });

  // TOGGLE ACTIVE STATE FOR PRODUCT MODAL
  $(".product_modal .actions a").click(function() {
    // remove classes from all
    $("a").removeClass("active");
    // add class to the one we clicked
    $(this).addClass("active");
  });

  //instantiate touchspin
  $(".qty").TouchSpin({
    min: 1,
    max: 99
  });

  //add quantity to post ajax url
  $(".qty").on('change', function(){
      quantity = $(this).val();
      $('.list_basket a').each(function(){
        link = $(this).attr('href');
        basket_id = link.substring(0, link.indexOf("?") + 0);
        variant_id = link.substring(link.indexOf("&") + 1);
        cleanLink = basket_id+'?quantity='+quantity+'&'+variant_id
        $(this).attr('href', cleanLink)
        //$(this).attr('href', link.substr(0, link.length - 1) + quantity )
      })
  })

  //comment auto resize 
  var autosize_input = $('.textarea-autosize');
  autosize(autosize_input).on('keyup', function(e){
    var keycode = (e.keyCode ? e.keyCode : e.which);
    if (keycode == 13 && $(this).val().trim().length > 0) {
      $(this).parent('form').submit();
      $(this).val('');
      var evt = document.createEvent('Event');
      evt.initEvent('autosize:update', true, false);
      this.dispatchEvent(evt);
    }
  });

  // Clipboard
  var clipboard = new Clipboard('.copy');

  $('a.copy').on('click', function(e){
    e.preventDefault();
     $(this).tooltip({
      trigger: 'click',
      placement: 'bottom',
      title: 'Link Copied'
    })
  })

  //clipboard success
  clipboard.on('success', function(e) {
    $('a.copy').tooltip('show');
    setTimeout(function(){
       $('a.copy').tooltip('hide');
    }, 1000);
  });

  $(".default_dropdown .dropdown-menu li").click(function() {
    var selected = $(this).text();
    if (selected.length > 15){
      selected = selected.substring(0,15)+'...';
      $('.default_dropdown button span:first-of-type').text(selected);
    }
    else{
      $('.default_dropdown button span:first-of-type').text(selected);
    }
  });


