<div class="product_page_container variant_container">
    <% if !browser.mobile? %>
        <% if @variant.tag_list.count == 0 %>
            <div class="product_bg" style="height: 80px;"></div>
        <% else %>
            <div class="product_bg" style="margin-bottom: -25px;">
                <% if @variant.tag_list.count > 8 %>
                    <div class="productToolbar">
                        <div class="owl-carousel">
                            <% @variant.tag_list.each do |tag| %>
                            <%= link_to search_path(q:tag) do %>
                                <button class="btn tag_button">
                                  <span>
                                    <%=tag %>
                                  </span>
                                </button>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                <% else %>
                    <div class="productToolbar small_tags">
                        <% @variant.tag_list.each do |tag| %>
                            <%= link_to search_path(q:tag) do %>
                                <button class="btn tag_button">
                                  <span>
                                    <%=tag %>
                                  </span>
                                </button>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
    <%= render partial: "shared/gifts_variants/gift_variant" , locals: {product: @variant} %>
</div>

<%= render partial: "shared/popup/popup_facebook_share", locals: { 
    url: "#{request.protocol}#{request.host}#{variant_path(@variant.id)}", 
    name: @variant.name,
    image: @variant.product_image,
    description: strip_tags( @variant.description )
} %>

<!-- SEO DATA STRUCTURES -->
<% content_for :seo do %>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org/",
          "@type": "Product",
          "name": "<%= @variant.name %>",
          "image": [
          "<%= @variant.product_image.url %>"
          ],
          "description": "<%= @variant.description.nil? ? '' : @variant.description %>",
          "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "<%= @variant.pretty_price %>",
            "seller": {
              "@type": "Organization",
              "name": "<%= @variant.merchant.name %>"
            }
          }
        }
    </script> 
<% end %>

<%= content_for :ecom do %>
<script type="text/javascript">
    dataLayer.push({
        'ecommerce': {
            'currencyCode': 'USD',                       
            'impressions': [{
            'name': "<%= @variant.name %>",
            'id': "<%= @variant.id %>",
            'price': "<%= @variant.pretty_price %>",
            'brand': "<%= @variant.merchant.name %>",
            'variant': "<%= @variant.color.present? ? "#{@variant.color}" : "none" %>",
            'position': "<%= @variant.id %>"
            }]
        }
    });
</script>
<% end %>

<script type="text/javascript">
    // tabs
    $('.two_tab_navigation a').on('click',function () {
        // remove classes from all
        $("a").removeClass("active");
        // add class to the one we clicked
        $(this).addClass("active");
    });

    // Change hash for page-reload
    $('.product_tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash.replace("#", "#" + prefix);
    });
    


    $(document).on('ready turbolinks:load', function() {

        $('.owl-carousel').owlCarousel({
            center:true,
            loop  : true,
            items:8,
            slideBy: 3,
            margin:15,
            autoWidth:true,
            nav: true,
            smartSpeed:400,
            navText : ["<i class='icon ion-chevron-left'></i>","<i class='icon ion-chevron-right'></i>"],
            responsive : {
                // breakpoint from 0 up
                0 : {
                    slideBy: 1
                },
                // breakpoint from 0 up
                565 : {
                    slideBy: 2
                },
                // breakpoint from 480 up
                769 : {
                    slideBy: 3
                }
            }
        });
    });
    
    setTimeout(function(){
        $('.product-item').addClass('fade-animate');
    }, 500);
    
    var maxHeight = $(".product_page_description").height();
    if(maxHeight > 300){
        $( ".product_description" ).append( '<div id="toggle" class="fade-animate">Show More <i aria_hidden="true" class="icon ion-chevron-down"></i></div>' );
        $("#toggle").click(function() { //show more/show less
            $("#toggle").toggleClass('active');
            if ($('#toggle').hasClass('active')) {
                $("#toggle").html('Show Less <i aria_hidden="true" class="icon ion-chevron-up"></i>');
                $(".description_container").animate({height:maxHeight + 'px'});
            }
            else {
                $("#toggle").html('Show More <i aria_hidden="true" class="icon ion-chevron-down"></i>');
                $(".description_container").animate({height:'300px'});
                $('html, body').animate({scrollTop: 0}, 500);
            }
        });
    }

$(document).on('turbolinks:load', function() {
        //Masonry
    $container = $('.products');
        $container.imagesLoaded( function () {
            $container.masonry({
              itemSelector: '.product-item',
              columnWidth: '.product-sizer',
              percentPosition: true
            });
        });
    })
      //instantiate touchspin
    $(".qty").TouchSpin({
        min: 1,
        max: 99
    });
    $(".default_dropdown .dropdown-menu li").click(function() {
          var selected = $(this).text();
          if (selected.length > 25){
              selected = selected.substring(0,25)+'...';
              $('.default_dropdown button span:first-of-type').text(selected);
          }
          else{
              $('.default_dropdown button span:first-of-type').text(selected);
          }
    });

    $('#tab_two a').on('click',function () {
        $("#gifts").addClass("fade");
    });

    $('.tag_list > span').click(function(){
        $(this).next('form').toggleClass('active')
        $('.add_tags, .add_tags_button').toggleClass('active');
        setTimeout(function(){
            $(".add_tags").focus();
        },100);
    });

    $('.add_tags_button').click(function(e){
        e.preventDefault();
        variant_id = <%= @variant.id %>;
        tag_list =  $('.add_tags').val();
        $.ajax({
            url : '/products/add-tags',
            type : 'PATCH',
            data : {
                id: variant_id,
                tags: tag_list
            },
            dataType : 'json',
            success : function(data) {
                $.each( data.tags, function( key, value ) {
                    $('<a href="#" alt="'+ value +'"><span>#' + value + '</span></a>').hide().prependTo(".tag_list").fadeIn("slow");
                });
                $(".add_tags").val('');
            },
            error : function(request,error) {
                console.log('error');
            }
        });
    });

</script>
