<section class="panel noborder" id="component-accordion-review">
  <div class="panel-heading checkout_accordion collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
    <span class="step_number">4</span>
    <span class="step_pipe">|</span>
    <span class="step_name">Review</span>
    <span class="checkout_edit">Edit</span>
  </div>
  <div id="collapse4" class="panel-collapse collapse">
    <div class="panel-body checkout_review">
      <div class="accordion_arrow"></div>
      
      <div class="col-xs-12 col-sm-4" id="review_shipping_address">
        <%= render partial: 'checkouts/components/accordion_review/review_shipping_address', locals: {shipping_address: @giftbox.shipping_address}
        %>
      </div>

      <div class="col-xs-12 col-sm-4" id="review_shipping_option">
        <%= render partial: 'checkouts/components/accordion_review/review_shipping_option', locals: {shipping_option: @giftbox.shipping_option} %>
      </div>

      <div class="col-xs-12 col-sm-4" id="review_payment_method">
        <%= render partial: 'checkouts/components/accordion_review/review_payment_method', locals: {payment_method: @giftbox.payment_method}
        %>
      </div>

      <div class="col-xs-12" id="review_cart_items">
        <%= render partial: 'checkouts/components/accordion_review/review_cart_items', locals: {cart_items: @cart_items}
        %>
      </div>

      <%= link_to checkout_path(giftbox_id: @giftbox.id), method: :post do %>
        <button class="btn save_and_continue_btn place_order">Place My Order</button>
      <% end %>
    </div>
  </div>
</section>
