<section class="panel noborder" id="component-accordion-shipping-options">
  <div class="panel-heading checkout_accordion" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
    <span class="step_number">
      1
    </span>
    <span class="step_pipe">
    |
    </span>
    <span class="step_name">
      Delivery Method
    </span>
    <span class="checkout_edit">
      Edit
    </span>
  </div>
  <div id="collapse1" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="accordion_arrow">
      </div>
      <div class="checkout_item_container">
        <%= render partial: "checkouts/components/accordion_shipping_options/form", locals: {giftbox: @giftbox} %>
      </div>
    </div>
  </div>
</section>