<section class="panel noborder" id="component-accordion-shipping-location">
  <div class="panel-heading checkout_accordion collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
    <span class="step_number">2</span>
    <span class="step_pipe">|</span>
    <span class="step_name">Shipping Location</span>
    <span class="checkout_edit">Edit</span>
  </div>
  <div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body shipping_location">
      <div class="accordion_arrow">
      </div>
      
      <div id="shipping_address_form">
        <% if @customer_shipping_addresses.try(:any?) || @giftee_shipping_address.present? %>
          <%= render partial: 'checkouts/components/accordion_shipping_location/select_shipping_address_form', 
            locals: {
              giftbox: @giftbox,
              giftee: @giftee,
              giftee_shipping_address: @giftee_shipping_address,
              customer_shipping_addresses: @customer_shipping_addresses
            } %>
        <% else %>
          <%= render partial: 'checkouts/components/accordion_shipping_location/new_shipping_address_form', locals: {
              giftbox: @giftbox,
              giftee_shipping_address: @giftee_shipping_address,
              customer_shipping_addresses: @customer_shipping_addresses
            } %>
        <% end %>
      </div>

    </div>
  </div>
</section>