<section class="panel noborder" id="component-accordion-payment">
  <div class="panel-heading checkout_accordion collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
    <span class="step_number">
      3
    </span>
    <span class="step_pipe">
    |
    </span>
    <span class="step_name">
      Payment
    </span>
    <span class="checkout_edit">
      Edit
    </span>
  </div>
  <div id="collapse3" class="panel-collapse collapse">
    <div class="panel-body checkout_payment">
      <div class="accordion_arrow">
      </div>

      <!-- TODO removed not implemented yet <a href="#">
        <img src="/images/checkout/paypal_button.png" alt="paypal button" class="img-responsive paypal_button">
      </a>
      <a href="#">
        <button class="btn amazon_pay_btn"></button>
      </a>
      <a href="#">
        <button class="btn group_pay_btn">
          <%= ion_icon("ios-people", :aria_hidden => 'true') %>
          Group Pay
        </button>
      </a>
      <p class="checkout_or">
        <span>
          or
        </span>
      </p> -->

      <div class="payment">
        <%= ion_icon("ios-locked", :aria_hidden => 'true') %>
        <span class="secure_payment">
          Secure payment
        </span>
        <div class="card_images">
          <img src="/images/checkout/visa.png" alt="visa card" class="img-responsive card_img">
          <img src="/images/checkout/mastercard.png" alt="master card" class="img-responsive card_img">
          <img src="/images/checkout/amex.png" alt="amex card" class="img-responsive card_img">
          <img src="/images/checkout/discover.png" alt="discover card" class="img-responsive card_img">
        </div>
        
        <div id="payment_methods_form">
          <div id="select_payment_method_form_container">
            <% if @payment_methods.try(:any?) %>
              <%= render partial: 'checkouts/components/accordion_payment/select_payment_method_form', locals: {giftbox: @giftbox, payment_methods: @payment_methods} %>
            <% end %>
          </div>
          <div id="create_payment_method_form_container" class="<%= 'hide' if @payment_methods.try(:any?) %>">
            <%= render partial: 'checkouts/components/accordion_payment/new_payment_method_form', locals: {payment_methods: @payment_methods} %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
