<li class="cart_item">
  <div class="image_checkout">
    <%= link_to variant_path(item.variant) do %>
      <%= image_tag item.variant.product_image.url, class: 'img-responsive cart_item_image' %>
    <% end %>
  </div>

    <div class="item_details">
        <div class="middle_item_container">
            <div class="cart_item_name">
                <%= item.variant.name.truncate(140) %>
            </div>
            <div class="cart_item_retailer">
                <span class="cart_item_price">
                    <%= number_to_currency(item.displayed_price) %>
                </span>
            </div>
            <div class="cart_item_actions">
                <a class="remove_item" data-id="<%= item.id %>">Delete</a>
            </div>
            <% if browser.mobile? %>
                <div class="cart_item_actions touchspin_mobile">
                    <%= text_field_tag "item#{item.id}", item.quantity, id: item.id, class: 'cart_item_qty' %>
                </div>
            <% end %>
        </div>
    </div>
  <% if !browser.mobile? %>
      <div class="quantity_container">
        <div class="right_cart_item">
          <div class="cart_item_actions">
            <span class="quantity">
              Quantity
            </span>
            <%= text_field_tag "item#{item.id}", item.quantity, id: item.id, class: 'cart_item_qty' %>
          </div>
        </div>
      </div>
  <% end %>
</li>