<div id='cart_totals'>
  <p class="order_summary">
    Order Summary
  </p>
  <div class="order_summary_content">
    <p class="subtotal">
      Subtotal: <span>0.00</span>
    </p>
    <p class="delivery">
      Estimated Shipping*: <span>0.00</span>
    </p>
    <p class="estimated_tax">
      Estimated Tax*: <span>0.00</span>
    </p>
    <p class="estimated_service_fee">
      Processing: <span>0.00</span>
    </p>
  </div>
  <p class="order_total">
    Total: <span>0.00</span>
  </p>

  <small>
    Shipping fees and taxes are paid to the merchant. Estimates may be higher than the actual shipping fees and taxes. Only the actual fees will be charged to your card.
  </small>
</div>