<% if giftbox.try(:is_a_gift?) && !is_own_giftbox?(giftbox) %>
  <div id="cart_giftee">
    <div>
      Gifts for:
    </div>
    <div>
      <%= image_tag(giftee.avatar.profile.url, alt: 'avatar') %>
      <span>
        <%= giftee.name %>
      </span>
    </div>
  </div>
<% end %>
<div id='cart_totals'>
  <p class="order_summary">
    Order Summary
  </p>
  <div class="order_summary_content">
    <p class="subtotal">
      Subtotal: <span><%= number_to_currency(giftbox.try(:subtotal_estimate).to_f) %></span>
    </p>
    <p class="delivery">
      Estimated Shipping*: <span><%= number_to_currency(giftbox.try(:shipping_fee_estimate).to_f) %></span>
    </p>
    <p class="estimated_tax">
      Estimated Tax*: <span><%= number_to_currency(giftbox.try(:tax_estimate).to_f) %></span>
    </p>
    <p class="estimated_service_fee">
      Processing: <span><%= number_to_currency(giftbox.try(:service_fee_estimate).to_f) %></span>
    </p>
  </div>
  <p class="order_total">
    Total: <span><%= number_to_currency(giftbox.try(:total_amount_estimate).to_f) %></span>
  </p>

  <small>
    Shipping fees and taxes are paid to the merchant. Estimates may be higher than the actual shipping fees and taxes. Only the actual fees will be charged to your card.
  </small>
</div>

<% if giftbox.items_quantity.nonzero? && !current_page?(confirm_checkout_path) %>
  <%= link_to "I'm Ready to Checkout", confirm_checkout_path(giftbox_id: giftbox.id), class: "checkout_btn btn" %>
<% end %>