<% @merchant_carts.each do |merchant_cart| %>
  <% merchant_name = merchant_cart.merchant.name %>
  <div class="merchant merchant_cart_container" data-merchant="<%=merchant_name%>">

    <div class="col-xs-12 merchant_name">
      <h3><%= merchant_name %></h3>
    </div>
    <ul class="list-group cart_list fadeIn" id="component-cart-items">
      <% merchant_cart.cart_items.each do |item| %>
        <%= render partial: "checkouts/components/_cart_item", locals: {item: item} %>
      <% end %>
    </ul>
  </div>
<% end %>
