<div id="component-confirm-tab">
  <div class="back_to_cart col-sm-12">
    <%= link_to checkout_path(giftbox_id: @giftbox.id) do %>
      <%= ion_icon("chevron-left") %>
      <span>
        Back to Cart
      </span>
    <% end %>
  </div>
  <div class="checkout_steps col-sm-12 col-md-12 panel-group" id="accordion">
    <%= render partial: "checkouts/components/_accordion_shipping_options" %>
    <%= render partial: "checkouts/components/_accordion_shipping_location" %>
    <%= render partial: "checkouts/components/_accordion_payment" %>
    <%= render partial: "checkouts/components/_accordion_review" %>
  </div> 
</div>