<!-- Empty cart component-->
<div class='empty_cart' id="component-empty-cart">
  <p>
    Your cart is empty!
  </p>
  <% if logged_in? %>
      <p>
        Head back to your feed and check out some items.
      </p>
      <% if @current_cart.giftboxes.includes(:giftee).pending.any? %>
        <%= link_to checkout_path(giftbox_id: @current_cart.giftboxes.includes(:giftee).pending.first.id) do %>
          <button class='btn head_back_btn'>
            <%= 'Checkout for ' + @current_cart.giftboxes.includes(:giftee).pending.first.giftee.name %>
          </button>
        <% end %>
      <% else %>
          <%= link_to root_path do %>
            <button class='btn head_back_btn'>
              Head to feed
            </button>
          <% end %>
      <% end %>
  <% else %>
        <%= link_to root_path do %>
            <button class='btn head_back_btn'>
              Head Home
            </button>
        <% end %>
  <% end %>
</div>