<div class="cart_right_container">
  <% if giftbox.present? %>
    <%= render partial: 'checkouts/components/_full_sidebar', locals: {giftbox: giftbox, giftee: giftee} %>
  <% else %>
    <%= render partial: 'checkouts/components/_empty_sidebar' %>
  <% end %>
</div>