<div class="col-md-4 col-sm-3 col-md-push-8 col-sm-push-9 col-xs-12 col-lg-3 col-lg-push-7">
	<%= image_tag '/images/profile/acc_deactivate.png', :alt =>'deactivating', :class=>'img-responsive pull-right' %>
</div>
<div class="col-md-8 col-sm-9 col-md-pull-4 col-sm-pull-3 col-xs-12 col-lg-7 col-lg-pull-3">
	<h2>Are you leaving us?</h2>
	<h3>This action is permanent.</h3>
	<p>Are you sure you don’t want to reconsider? We can change... <%= link_to 'Tell us what’s wrong', feedback_path %></p>
	<h3>Before you delete your account you should know:</h3>
	<p>Deactivating your account will destroy all of your wish list, and connection data. This can not be undone.</p>
<!--	TODO-->
<!--	<p>You can change your username without deactivating but going <%= link_to 'here', '#' %>.</p>-->
	<p>Public accounts may still be viewable for a few days after deactivation.</p>
    <%= button_tag "I understand, please deactivate my account anyway", class: "btn btn-lg", data: {toggle: "modal", target: "#deactivate_account_modal"} %>
</div>