<div class="col-sm-12 col-md-12 col-lg-10 account_info_container">
    <h2>Basic Account Info</h2>
    <%= form_for current_customer, url: basic_update_path, method: :patch do |f| %>

<!--
		<div class="col-md-12 col-sm-12 col-xs-12 ">
			<div class="form-group has-feedback">
				<label for="password-old">Add or Update Password</label>
				<%#= password_field_tag :password_old, nil, class: "form-control", placeholder: "Enter Old Password", data: { error: "password missing" } %>
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="col-xs-12 col-md-12 col-sm-12">
			<div class="form-group has-feedback">
				<%#= password_field_tag :password_new, nil, class: "form-control", placeholder: "Enter New Password", data: { error: "new password missing" } %>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="form-group checkbox checkbox-warning">
				<input type="checkbox" id="passcheck">
				<label for="passcheck">Check New Password </label>
			</div>
		</div>

		<div class="col-md-8 col-sm-6 col-xs-12 text-right">
			<div class="form-group">
				<a href="" style="line-height: 35px">Forgot Old Password</a>
			</div>
		</div>
-->


        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group has-feedback">
                <label for="first-name">First Name or Business Name</label>
                <%= f.text_field :first_name, class: 'form-control input-md' %>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group has-feedback">
                <label for="first-name">Last Name</label>
                <%= f.text_field :last_name, class: 'form-control input-md' %>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="form-group has-feedback">
                <label for="first-name">Userame</label>
                <%= f.text_field :username, class: 'form-control input-md' %>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="form-group emailchange">
                <label for="email">Email Address</label>
                <%= link_to "#{current_customer.email}", "#emailChange", data: {toggle: "modal"} %> 
            </div>
        </div>

		
        <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="form-group">
                <label>Gender</label><br>
                <div class="radio radio-warning radio-inline">
                    <%= f.radio_button :gender, "male" %>
                    <label for="gender-male">Male</label>
                </div>

                <div class="radio radio-warning radio-inline">
                    <%= f.radio_button :gender, "female" %>
                    <label for="gender-female">Female</label>
                </div>

                <div class="radio radio-warning radio-inline additional-info-wrap">
                    <%= radio_button_tag "customer[gender]", "other", !(["male", "female", nil].include? current_customer.gender) %>
                    <label for="gender-other">Other Gender</label>
                </div>

                <div class="form-group additional-info <% if ["male", "female", nil].include? current_customer.gender %>hide<% end %>">
                    <%= text_field_tag :gender_other, current_customer.gender, placeholder: "Describe", class: "form-control input-md" %>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="form-group">
                <label>Make Profile Private</label>
                <p class="private_instructions">Clicking "Yes" will make your profile private to everyone except your friends.</p>
                <div class="radio radio-warning radio-inline additional-info-wrap">
                    <%= f.radio_button :private, true %>
                    <label for="profile-private">Yes</label>
                </div>
                <div class="radio radio-warning radio-inline additional-info-wrap">
                    <%= f.radio_button :private, false %>
                    <label for="profile-public">No</label>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 top-10">
            <%= f.submit "Save Changes", class: "btn btn-lg pull-right" %>
        </div>

    <% end %>
</div>


<script type="text/javascript">
	$(document).on('turbolinks:load', function() {
		$('.edit_customer').validator();
		//gender check
        $("input[name='customer[gender]']").click(function() {
        	$(this).closest('.form-group').find('.additional-info').addClass('hide').find('input,select').val('').attr('disabled','disabled');
        	if($(this).closest('.additional-info-wrap').length > 0) {
        		$(this).closest('.form-group').find('.additional-info').removeClass('hide').find('input,select').removeAttr('disabled');
        	}
        });

        //check password
		$('#passcheck').click(function(){
			if($(this).is(":checked")){
				$('#password_new').attr('type', 'text');
			}
			else if($(this).is(":not(:checked)")){
				$('#password_new').attr('type', 'password');
			}
		});
	})
</script>
