
<div class="col-md-4 col-md-push-8 col-sm-push-6 col-sm-6 col-xs-12 col-lg-4 col-lg-push-6">

	<div class="col-md-12 text-center bottom-10">
		<button class="btn btn-lg new_event" data-toggle="modal" data-target=".create_modal"><%= ion_icon("plus", :aria_hidden => 'true') %> New Event</button>
	</div>

	<div class="col-md-12 bottom-10">
		<div class="birthdays-container">
			<% if @birthdays.empty? %>
				<div class="col-md-12 text-center"><span style="color: #555655">No Birthdays This Month</span></div>
			<% else %>
				<div class="col-md-12 text-center"><span style="color: #555655">Birthdays This Month</span></div>
				<% @birthdays.each do |birthday| %>
					<div class="col-md-4 col-sm-4 col-xs-3 text-center bottom-10 person">
						<%= link_to image_tag( birthday.avatar.profile_square.url, :class=>'img-responsive' ), user_path( birthday.username ) %>
					</div>
				<% end %>
				<% if @birthdays.count > 5 %>
					<div class="col-md-4 col-sm-4 col-xs-3 bottom-10">
						<button class="btn btn-more"></button>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 text-center top-10 hidden">
						<a href="#" class="btn-less">Show Less</a>
					</div>
				<% end %>
			<% end %>
		</div> 
	</div>

</div>

<div class="col-md-8 col-md-pull-4 col-sm-pull-6 col-sm-6 col-xs-12 col-lg-6">
	<h2>My Events</h2>

	<div class="panel-group" style="margin-left: 15px">
		<% if @events_collection.first.empty? %>
			
		<% else %>
			<% @events_collection.each do |month, events| %>
				<div class="panel panel-default">
					<div class="panel-heading"><%= month.to_s %></div>
						<div class="panel-body">
                        	<% events.each do |event| %>
								<%= render partial: "shared/tiles/event_tile", locals: { event: event } %>
							<% end %>
						</div>
					</div>
			<% end %>
		<% end %>
	</div>
</div>
	

<script type="text/javascript">
	$('.new_event').on('click', function(){
		$(".create_modal").on('show.bs.modal', function () {
			$(this).find('#lifestyle, #cash, #charity').hide();
			$(this).find('#lifestyle, #cash, #charity').removeClass('active');
			$(this).find('#event').addClass('active');
			$(this).find('#event').show();
		})
	})
	
	$(document).on('turbolinks:load', function() {
		
		var hiddenBirthdays = $(".birthdays-container .person:hidden").length - 5 ;
		var visibleBirthdays = $(".birthdays-container .person").length;

		if (visibleBirthdays < 6) {
			$(".birthdays-container .btn-more").parent().addClass('hidden');
		}		

		$(".birthdays-container .person").slice(0, 5).show();


		$(".btn-more").text('+'+hiddenBirthdays);

		$(".btn-more").on('click', function (e) {
			e.preventDefault();
			$(".birthdays-container .person:hidden").slice(0).slideDown(100);
			$(".birthdays-container .btn-less").parent().removeClass('hidden');
			$(".birthdays-container .btn-more").parent().addClass('hidden');
		});

		$(".btn-less").on('click', function (e) {
			e.preventDefault();
			$(".birthdays-container .person").slice(5).hide(100).slideUp(100);

			setTimeout(function() {
				if ($(".person:visible").length == 5) {
				$(".birthdays-container .btn-less").parent().addClass('hidden');
				$(".birthdays-container .btn-more").parent().removeClass('hidden');
				} 
			}, 105);

		});
		
	});
</script>




