
	<div class="col-sm-12 col-md-12 col-lg-10">
		<%= form_tag notification_update_path, method: :patch do %>
		<h2>Notifications</h2>
        <p class="get_notified">Get Notified when...</p>

		<div class="col-xs-12 col-md-12 col-sm-12 get_notifications_when">

			<h3>Connections:</h3>
			<% @connection_settings.each do |notification| %>
				<div class="form-group">
					<span><%= notification.description %></span>
					<div class="btn-group btn-toggle pull-right" data-toggle="buttons">
						<%= check_box_tag notification.name, "true", current_customer.setting_selected_value(notification.id), class: "my-switch" %>
					</div>
				</div>
			<% end %>

			<h3>Sharing:</h3>
			<% @sharing_settings.each do |notification| %>
                                <div class="form-group">
                                        <span><%= notification.description %></span>
                                        <div class="btn-group btn-toggle pull-right" data-toggle="buttons">
                                                <%= check_box_tag notification.name, "true", current_customer.setting_selected_value(notification.id), class: "my-switch" %>
                                        </div>
                                </div>
			<% end %>

			<h3>Likes:</h3>
			<% @likes_settings.each do |notification| %>
                                <div class="form-group">
                                        <span><%= notification.description %></span>
                                        <div class="btn-group btn-toggle pull-right" data-toggle="buttons">
                                                <%= check_box_tag notification.name, "true", current_customer.setting_selected_value(notification.id), class: "my-switch" %>
                                        </div>
                                </div>
			<% end %>

			<h3>Comments and Messages:</h3>
			<% @comments_settings.each do |notification| %>
                                <div class="form-group">
                                        <span><%= notification.description %></span>
                                        <div class="btn-group btn-toggle pull-right" data-toggle="buttons">
                                                <%= check_box_tag notification.name, "true", current_customer.setting_selected_value(notification.id), class: "my-switch" %>
                                        </div>
                                </div>
			<% end %>

			<h3>Events:</h3>
			<% @events_settings.each do |notification| %>
                                <div class="form-group">
                                        <span><%= notification.description %></span>
                                        <div class="btn-group btn-toggle pull-right" data-toggle="buttons">
                                                <%= check_box_tag notification.name, "true", current_customer.setting_selected_value(notification.id), class: "my-switch" %>
                                        </div>
                                </div>
			<% end %>

			<h3>Gifts for Me:</h3>
			<% @gifts_settings.each do |notification| %>
                                <div class="form-group">
                                        <span><%= notification.description %></span>
                                        <div class="btn-group btn-toggle pull-right" data-toggle="buttons">
                                                <%= check_box_tag notification.name, "true", current_customer.setting_selected_value(notification.id), class: "my-switch" %>
                                        </div>
                                </div>
			<% end %>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12 top-10">
			<%= submit_tag "Save Changes", class: "btn btn-md pull-right" %>
		</div>

	<% end %>
</div>


<script type="text/javascript">
	$(document).on('turbolinks:load', function() {

		//bootstrapSwitch options 
		$(".my-switch").bootstrapSwitch({
			onText: 'On',
			offText: 'Off',
			size: 'small',
			onColor: 'warning',
			offColor: 'off-switch'
		});
		
		//bootstrapSwitch Notifications 
        $(".my-switch").on('switchChange.bootstrapSwitch', function(event, state) {
		  console.log(this); // DOM element
		  console.log(event); // jQuery event
		  console.log(state); // true | false
		});

	  });
</script>
