<div class="col-sm-12 col-md-12 col-lg-10" id="shipping_info">

	<%= form_for @current_address, url: shipping_update_path, method: :patch do |f| %>
		<h2>Shipping Info</h2>

		<div class="col-xs-12 col-md-12 col-sm-12">
			<div class="form-group has-feedback">
				<label for="address_1">Street Address 1</label>
				<%= f.text_field :address_1, placeholder: "Example: 123 Maple Way", class: "form-control input-md", data: { error: "address missing" }, required: true %>
				<div class="help-block with-errors"></div>
				<% if @active_walkthrough_step.present? && !(@active_walkthrough_step.is_a? String)%>
				<span class="glyphicon glyphicon-arrow-left shake" aria-hidden="true" style="display: none;"></span>
    			<% end %>
			</div>
		</div>

		<div class="col-xs-12 col-md-12 col-sm-12">
			<div class="form-group">
				<label for="address_2">Street Address 2</label>
				<%= f.text_field :address_2, placeholder: "Apt 1a", class: "form-control input-md" %>
			</div>
		</div>

		<div class="col-xs-12 col-md-6 col-sm-12">
			<div class="form-group has-feedback">
				<label for="city">City</label>
				<%= f.text_field :city, placeholder: "Example: Los Angeles", class: "form-control input-md", data: { error: "city missing" }, required: true %>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6 col-sm-12">
			<div class="form-group has-feedback">
				<label for="state">State</label>
				<%= f.text_field :state, placeholder: "Example: CA", class: "form-control input-md", data: { error: "state missing" }, required: true %>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6 col-sm-12">
			<div class="form-group has-feedback">
				<label for="postal_code">Zip Code</label>
				<%= f.text_field :postal_code, placeholder: "00000", class: "form-control input-md", data: { error: "zipcode missing" }, required: true %>
				<div class="help-block with-errors"></div>
			</div>
		</div>

<!-- TODO when working
		<div class="col-xs-12 col-md-12 col-sm-12">
			<div class="form-group">
				<label for="instructions">Special Instructions</label>
                <%#= f.text_area :instructions, class: "form-control input-md", id: "special_instructions", placeholder: "Example: Leave it at the office." %>
			</div>
		</div>
-->

		<div class="col-md-12 col-sm-12 col-xs-12 top-10">
			<%= f.submit "Save Changes", class: "btn btn-lg pull-right" %>
		</div>
		
	<% end %>
	
</div>



<script type="text/javascript">

$(document).on('turbolinks:load', function() {
  $('.edit_address').validator();
  //GeoComplete call
  $("#address_address_1").geocomplete().bind("geocode:result", function(event, result){
    var address_components = result.address_components;
    components={}; 
    jQuery.each(address_components, function(k,v1) {jQuery.each(v1.types, function(k2, v2){components[v2]=v1.short_name});})
    autoComplete(components);
  });

  //sanitized address data
  function autoComplete(address){

  	var streetNumber = address.street_number;
  	var streetName = address.route;
  	var city = address.locality || address.sublocality;
  	var county = address.administrative_area_level_2;
  	var state = address.administrative_area_level_1;
  	var zip = address.postal_code;

    $('#address_address_1').val(streetNumber+' '+streetName);
    $('#address_city').val(city);
    $('#address_state').val(state);
    $('#address_postal_code').val(zip);
    $('.edit_address').validator('validate');

    $("#address_city ,#address_state, #address_postal_code").css({border: '', transition: '.3s'});
  }

})

</script>

