<div class="col-sm-12 col-md-12 col-lg-10">
	<form action="#" id="notifications-form">


		<h2>Social Connect</h2>
        <%= render partial: "shared/user_interaction/facebook_connect_button" %>

		<div class="col-xs-12 col-sm-4 bottom-25 linkedin_section">
			<p class="switch-title"><i class="icon icon-linkedin-squared"></i> Connect to LinkedIn</p>	
			<p class="switch-desc">
				Toggle "yes" to connect to your LinkedIn account
				This will allow Giftibly to pull profile information
				and import or invite your LinkedIn friends. By
				clicking "yes" you are giving Giftibly permission
				to invite friends through LinkedIn on your behalf.
			</p> 
			<input type="checkbox" name="connect-linkedin" class="linkedIn-switch" <% if current_customer.linkedin_connected? %>checked<% end %>>
		</div>

		<div class="col-xs-12 col-sm-4 bottom-25">
			<p class="switch-title"><i class="icon icon-gplus-squared"></i> Connect to Google+</p>
			<p class="switch-desc">
				Toggle "yes" to connect to your Google+ account
				This will allow Giftibly to pull profile information
				and import or invite your Google+ friends. By
				clicking "yes" you are giving Giftibly permission
				to invite friends through Google+ on your behalf.
			</p> 
			<input type="checkbox" name="connect-googleplus" class="googleplus-switch" <% if current_customer.google_connected? %>checked<% end %>>
		</div>

		<div class="col-xs-12 col-sm-4 bottom-25">
			<p class="switch-title"><i class="icon icon-twitter-squared"></i> Connect to Twitter</p>
			<p class="switch-desc">
				Toggle "yes" to connect to your Twitter account
				This will allow Giftibly to pull profile information
				and import or invite your Twitter friends. By
				clicking "yes" you are giving Giftibly permission
				to invite friends through Twitter on your behalf.
			</p>
			<input type="checkbox" name="connect-twitter" class="twitter-switch" <% if current_customer.twitter_connected? %>checked<% end %>>
		</div>
	</form>
</div>



<%= render partial: "shared/modals/modal_deactivate_facebook" %>



<script type="text/javascript">

$(document).on('turbolinks:load', function() {
    //bootstrapSwitch options 
	$(".linkedIn-switch").bootstrapSwitch({
		onText: 'Yes',
		offText: 'No',
		size: 'small',
		onColor: 'linkedIn-switch',
		offColor: 'off-switch'
	});//bootstrapSwitch options 
	$(".googleplus-switch").bootstrapSwitch({
		onText: 'Yes',
		offText: 'No',
		size: 'small',
		onColor: 'googleplus-switch',
		offColor: 'off-switch'
	});//bootstrapSwitch options 
	$(".twitter-switch").bootstrapSwitch({
		onText: 'Yes',
		offText: 'No',
		size: 'small',
		onColor: 'twitter-switch',
		offColor: 'off-switch'
	});

	//bootstrapSwitch Social Accounts 
	$('.linkedIn-switch, .googleplus-switch, .twitter-switch').on('switchChange.bootstrapSwitch', function (evt, state) {
		if (state == false) {
			btn = evt.target.className
            if (btn == 'linkedIn-switch') {
				$("#social_remove p strong").html('Linked In');
				$("#social_remove .btn-danger").text('Yes Disconnect Linked In');
				$("#social_remove .btn-danger").attr('href', '/oauth/disconnect?connection=linkedin&for_message=Linkedin');
			}else if (btn == 'googleplus-switch') {
				$("#social_remove p strong").html('Google +');
				$("#social_remove .btn-danger").text('Yes Disconnect Google +');
				$("#social_remove .btn-danger").attr('href', '/oauth/disconnect?connection=google_oauth2&for_message=Google+');
			}else if (btn == 'twitter-switch') {
				$("#social_remove p strong").html('Twitter');
				$("#social_remove .btn-danger").text('Yes Disconnect Twitter');
				$("#social_remove .btn-danger").attr('href', '/oauth/disconnect?connection=twitter&for_message=Twitter');
			}
			$('#social_remove').modal('show');
		}
		$('#social_remove').on('hide.bs.modal',function(){
			$('.'+evt.target.className).bootstrapSwitch('state', true, true);
		})
	});

	$(".linkedIn-switch").on('switchChange.bootstrapSwitch', function(event, state) {
		if(state == true) {
			window.open("/customers/auth/linkedin", "_self");
		} 
	});

	$(".googleplus-switch").on('switchChange.bootstrapSwitch', function(event, state) {
		if(state == true) {
			window.open("/customers/auth/google_oauth2", "_self");
		} 
	});

	$(".twitter-switch").on('switchChange.bootstrapSwitch', function(event, state) {
		if(state == true) {
			window.open("/customers/auth/twitter", "_self");
		} 
	});

});

</script>
