<div class="container-fluid tab_full_width basket_container">
    <div class="row-fluid">
        <% if @wishlist.empty? %>
            <p class="profile_no_items"> <%= @customer.name %> has no wishlists to show.</p>
        <% else %>   
            <div class="toolbar">
                <div class="col-lg-5 col-md-7 col-sm-8 col-xs-12 tab_center">
                    <form action="#">
                        <div class="form-group">                        
                            <input type="text" class="form-control input-md" name="search_wishlists" placeholder="Search Wish Lists" autocomplete="off" autocapitalize="off" autocorrect="off">
                        </div>
                    </form>
                </div>
            </div>
            <% @wishlist.each_slice(2) do |a, b| %>
                <div class="grouped_lists">
                    <%= render partial: "shared/tiles/basket_tile", locals: {basket: a, basket_type: 'profile'} if a.present? %>
                    <%= render partial: "shared/tiles/basket_tile", locals: {basket: b, basket_type: 'profile'} if b.present? %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>