<div class="toolbar">
    <div class="col-lg-5 col-md-7 col-sm-8 col-xs-12 tab_center">
        <form action="#">
            <div class="form-group">                        
                <input type="text" class="form-control input-md" name="search_friends" placeholder="Search Connections" autocomplete="off" autocapitalize="off" autocorrect="off">
            </div>
        </form>
    </div>
</div>
<div class="container-fluid tab_full_width connections_parent">
    <div class="row-fluid">
        <div class="connections_menu">

            <ul class="list-group text-center">
                
                <li class="list-group-item active"> 
                    <%= link_to '#friends', data: { toggle: "tab" } do %>
                        <span id="connection-count"><%= customer.connections.count %></span>
                        <span>Friends</span>
                    <% end %>
                </li>
                <li class="list-group-item"> 
                    <%= link_to '#following', data: { toggle: "tab" } do %>
                        <span><%= customer.users_followed.count %></span>
                        <span>Following</span>
                    <% end %>
                </li>
                <li class="list-group-item">
                    <%= link_to '#followers', data: { toggle: "tab" } do %>
                        <span><%= customer.followers.count %></span>
                        <span>Followers</span>
                    <% end %>
                </li>
                <% if current_customer == customer %>
                    <li class="list-group-item">
                        <%= link_to '#pending', data: { toggle: "tab" } do %>
                            <span id="pending-count"><%= customer.connection_requests.count %></span>
                            <span>Pending</span>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <%= link_to '#blocked', data: { toggle: "tab" } do %>
                            <span id="blocked-count"><%= customer.all_blocked.count %></span>
                            <span>Blocked</span>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
            <div class="tab-content connections_container">
                <!-- Friends Tab -->
                <div class="tab-pane active" id="friends" data-pn="1"></div>

                <!-- Following Tab -->
                <div class="tab-pane fade" id="following" data-pn="1"></div>

                <!-- Followers Tab -->
                <div class="tab-pane fade" id="followers" data-pn="1"></div>

                <% if current_customer == customer %>
                    <!-- Pending Tab -->
                    <div class="tab-pane fade" id="pending" data-pn="1"></div>

                    <!-- Blocked Tab -->
                    <div class="tab-pane fade" id="blocked" data-pn="1"></div>

                <% end %>
            </div>

    </div>
</div>

<script type="text/javascript">
    var url = document.location.toString();
    if (url.match('#')) {
        $('#tab_two a[href="#' + url.split('#')[1] + '"]').tab('show');
    } 
 </script>
