<div class="ga_reports_container">
  <div><%= active_link_to "<< Back to Deal Index", home_admin_deals_path %></div>
  <div>
    <%= form_for deal, url: { action: form_action }, remote: true, html: { multipart: true } do |f| %>
      <div>
        <%= label_tag "Name" %><br>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= label_tag "Start Time" %><br>
        <%= f.datetime_select :start_time, default: DateTime.now, ampm: true, minute_step: 15 %>
      </div>
      <div>
        <%= label_tag "End Time" %><br>
        <%= f.datetime_select :end_time, default: DateTime.now, ampm: true, minute_step: 15 %>
      </div>
      <div>
        <%= label_tag "URL" %></br>
        <%= f.text_field :url %>
      </div>
      <div>
        <%= label_tag "Alt Text" %><br>
        <%= f.text_field :alt_text %>
      </div>
      <div>
        <%= label_tag "Size" %><br>
        <%= f.radio_button :size, :small %> Small<br>
        <%= f.radio_button :size, :large %> Large<br>
      </div>
      <div>
        <%= label_tag "Google Analytics code" %><br>
        <%= f.text_field :google_analytics_code %>
      </div>
      <div>
        <%= label_tag "Ad Image" %>
        <%= image_tag deal.ad_image.url if deal.ad_image.present? %>
        <%= f.file_field :ad_image %>
      </div>
      <div>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
