<ul class="nav flex-column">
  <li class="nav-item">
    <%= active_link_to 'Shipping orders', admin_shipping_orders_path %>
  </li>
  <li class="nav-item">
    <%= active_link_to 'Purchasers', admin_purchasers_path %>
  </li>
</ul>