<h2 class="reports_text">Deals</h2>
<div class="ga_reports_container">
  <%= active_link_to "Create a new deal", new_admin_deals_path %>
  <hr>
  <ul>
    <% @deals.each do |deal| %>
      <li><%= active_link_to deal.name, view_admin_deals_path( deal.id ) %></li>
    <% end %>
  </ul>
</div>
