<div class="tab-content">
    <!-- GIFT TAB -->
    <div class="tab-pane active" id="gifts">
        <% if product.gift? %>
        <div class="product_item_container gift">
            <% if ((product.quantity_desired <= product.quantity_received) && (current_customer != product.basket.customer)) || product.owner_marked_received.present? %>
                <%= image_tag '/images/products/bought_ribbon.png', alt: 'Already Purchased Ribbon', class: "gift_bought_ribbon" %>
            <% end %>
        <% else %>
            <div class="product_item_container" <% if product.tag_list.count == 0 %> style="margin-top:50px;" <% end %>>
        <% end %>
           
            <% if product.gift? %>
                <div class="col-xxs-12 col-xs-6 col-md-4">
            <% else %>
                <div class="col-xxs-12 col-xs-6">
            <% end %>
                <div class="product_img_container">
                    <%= image_tag @variant.product_image_url, class: "img-responsive product_img" %>
                </div>
                
                

                <% if product.gift? %>
                    <% if current_customer == product.basket.customer %>
                        <div class="gift_qty_container hidden" style="position: absolute; top: 30px;right: 40px;">
                            <input id="<%= product.id %>_gift_qty" class="gift_qty" type="text" value="<%= product.quantity_desired %>">
                        </div>
                    <% end %>
                <% end %>
                


                <div class="bottom_image_container">
                    <% if product.gift? %>
                            <div class="product_actions">
                                <div>
                                    <%= link_to ion_icon("ios-paperplane-outline"), basket_popup_share_path(product.id, type: 'gift'), remote: true, method: "patch", rel: 'nofollow' %>
                                    <%= link_to ion_icon("ios-plus-outline"), products_modal_builder_path(@variant.id, gift_id: product.id, action_flag: 'add'), remote: true, method: 'get', rel: 'nofollow' %>
                                    <% if browser.mobile? %>
                                        <%= link_to ion_icon("ios-chatbubble-outline"), products_modal_builder_path(@variant.id, gift_id: product.id, action_flag: 'comment'), remote: true, method: 'get' %>
                                    <% end %>
                                    <% if current_customer.present? %>
                                        <%= render partial: "shared/site/likes", locals: { likable: product, likable_type: "Gift", solid_heart: false} %>
                                    <% end %>
                                </div>
                            </div>
                    <% else %>
                            <div class="product_actions">
                                <div>
                                    <%= link_to ion_icon("ios-paperplane-outline"), basket_popup_share_path(product.id, type: 'variant'), data: {remote: true, method: "patch"} %>
                                    <%= link_to ion_icon("ios-plus-outline"), products_modal_builder_path(product.id, action_flag: 'add'), remote: true, method: 'get', data: { toggle: "modal" } %>
                                    <% if current_customer.present? %>
                                        <%= render partial: "shared/site/likes", locals: { likable: product, likable_type: "Variant", solid_heart: false} %>
                                    <% end %>
                                </div>
                            </div>
                    <% end %>
                    <% if !browser.mobile? %>
                        <p class="show_full">Show Full Image</p>
                    <% end %>
                       
                       
                    <% if browser.mobile? %>
                        <% if product.gift? %>
                            <!-- ADD TO CART -->
                            <% if product.quantity_desired <= product.quantity_received %>
                                <!-- Purchased  -->
                                <%= link_to current_customer == @basket.customer ? "Add to Cart" : "Buy for #{@basket.customer.name}", products_modal_leave_path( product.id, type: 'gift', purchased: true ), remote: true, method: 'get', class: 'product_buy_for btn', rel: 'nofollow' %>
                            <% else %>
                                <!-- Not Purchased  -->
                                <%= link_to current_customer == @basket.customer ? "Add to Cart" : "Buy for #{@basket.customer.name}", api_v1_cart_items_path(cart_item:{variant_id: product.variant_id, gift_id: product.id}), class: 'product_buy_for add_to_cart btn', remote: true, method: 'post' %>
                            <% end %>
                        <% else %>
                            <%= link_to "Add to Cart", api_v1_cart_items_path(cart_item:{variant_id:product.id}), class: 'product_buy_for add_to_cart btn', remote: true, method: 'post' %>
                        <% end %>     
                    <% end %>
                    
                    <% if browser.mobile? %>
                        <%= render partial: "shared/gifts_variants/size_price", locals: {product: product}%>
                    <% end %>
                    
                    <% if product.gift? %>
                        <% if browser.mobile? %>
                            <%= render partial: "shared/gifts_variants/gift/rating" %>
                        <% end %>
                    <% end %>
                    <% if browser.mobile? %>
                        <% if product.gift? %>
                             <div class="caption_form <%= 'no_display' if @gift.caption.present? %>">
                                <% if current_customer.present? %>
                                    <% if @gift.customer_id == current_customer.id %>    
                                        <%= form_for @gift, url: gift_add_caption_path(@gift.id), method: 'post' do |f| %>
                                            <%= f.text_area :caption, required: true, class: 'form-control input-md textarea-autosize', autocomplete: 'off', placeholder: 'Caption this wish...' %>
                                            <%= button_tag ion_icon( "arrow-up-c"), type: 'submit', class: 'submit_caption' %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </div>
                            <% if @gift.caption.present? %>
                                <div class="comment_caption_mobile">
                                    <%= image_tag(@gift.customer.avatar.profile_square.url, alt: @gift.customer.username + ' - Profile Image Small', class: 'avatar')%>
                                    <div>
                                        <span>"<%= @gift.caption %>"</span>
                                        <%  if current_customer.present? && @gift.customer_id == current_customer.id %>
                                            <span class="edit_button">Edit</span>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>
                    
                    <% if !browser.mobile? %>
                        <div class="tag_list">
                            <% product.tag_list.each do |tag| %>
                                <%= link_to search_path(q:tag) do %>
                                    <span>#<%= tag %></span>
                                <% end %>
                            <% end %>
                            <% if product.gift? %>
                                <% if current_customer == product.basket.customer %>
                                    <span>Add a Tag</span>
                                    <form class="fadeIn">
                                        <span>
                                            <input type="text" id="tags" class="form-control input-lg add_tags" placeholder="Example: tag1, tag2, etc...">
                                            <button class="add_tags_button">Add Tags</button>
                                        </span>
                                    </form>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
            <% if product.gift? %>
                <div class="col-xxs-12 col-xs-6 col-md-4 product_right_container">
            <% else %>
                <div class="col-xxs-12 col-xs-6 product_right_container">
            <% end %>
                <!-- Variant Name -->
                <h1 data-id="<%= product.id %>" data-type="Gift"><%= raw @variant.name %></h1>
                <% if product.gift? %>  
                    <%= link_to "Buy on #{product.variant.merchant.name}", products_modal_leave_path( product.id, type: 'gift' ), remote: true, method: 'get', class: 'buy_it_on', rel: 'nofollow' %>
                <% else %>
                    <%= link_to "Buy on #{product.merchant.name}", products_modal_leave_path( product.id, type: 'variant' ), remote: true, method: 'get', class: 'buy_it_on', rel: 'nofollow' %>
                <% end %>
                
                <% if product.gift? %>
                    <% if !browser.mobile? %>
                        <%= render partial: "shared/gifts_variants/gift/rating" %>
                    <% end %>
                <% end %>
                
                
                <% if !browser.mobile? %>
                    <%= render partial: "shared/gifts_variants/size_price", locals: {product: product} %>
                    
                    
                    <% if product.gift? %>            
                        <!-- ADD TO CART -->
                        <% if product.quantity_desired <= product.quantity_received %>
                            <!-- Purchased  -->
                            <%= link_to current_customer == @basket.customer ? "Add to Cart" : "Buy for #{@basket.customer.name}", products_modal_leave_path( product.id, type: 'gift', purchased: true ), remote: true, method: 'get', class: 'product_buy_for btn', rel: 'nofollow' %>

                        <% else %>
                            <!-- Not Purchased  -->
                            <%= link_to current_customer == @basket.customer ? "Add to Cart" : "Buy for #{@basket.customer.name}", api_v1_cart_items_path(cart_item:{variant_id: product.variant_id, gift_id: product.id}), class: 'product_buy_for add_to_cart btn', remote: true, method: 'post' %>
                        <% end %>
                        
                    <% else %>
                        <%= link_to "Add to Cart", api_v1_cart_items_path(cart_item:{variant_id:product.id}), class: 'product_buy_for add_to_cart btn', remote: true, method: 'post' %>
                    <% end %>            
                <% end %>
                <div class="product_description">
                    <% if product.gift? %>
                        <% if product.variant.description.present? %>
                            <div class="description_container wish <%= 'nocolorsize_rating' if (!product.variant.size.present? && !product.variant.color.present?) && @gift.rating != 0 %> <%= 'colorsize_norating' if ((product.variant.size.present? || product.variant.color.present?) && @gift.rating == 0) %> <%= 'nocolorsize_norating' if ((!product.variant.size.present? && !product.variant.color.present?) && @gift.rating == 0) %>">
                                <!-- Variant Description -->
                                <section class="product_page_description">
                                    <%= product.variant.description.html_safe %>
                                </section>
                            </div>
                        <% end %>
                    <% else %>
                        <% if product.description.present? %>
                            <div class="description_container variant">
                                <!-- Gift Description -->
                               <section class="product_page_description">
                                   <%= product.description.html_safe %>
                               </section>
                            </div>
                       <% end %>
                    <% end %>
                </div>
            </div>
            <% if !browser.mobile? %>
                <% if product.gift? %>
                    <div class="col-xs-12 col-md-4 product_message">
                        <div class="message_container">
                            <% if current_customer.present? %>
                                <%= render partial: "/comments/comment_container", locals: {product: product, item: 'Gift'} %>
                            <% else %>
                              <div class="reply_discussion not_logged_in text-center">
                                  <p>
                                      From here, you can add comments to this wish. Please 
                                      <%= link_to 'Login', '#login_modal', data: {toggle: 'modal'}, rel:'nofollow' %> 
                                      or 
                                      <%= link_to 'Sign Up', new_customer_registration_path, class: "sign_up" %> to comment on this wish.
                                  </p>
                              </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <% if product.gift? %>
        <div class="items_like_this">
            <% if @basket.gifts.size > 1 %>
                <p class="like_this_text">Other Items in <%= @basket.name %>:</p>
                <div class="products feed">
                    <div class="product-sizer col-xs-6 col-sm-4 col-md-3 col-lg-2"></div>
                    <% @basket.gifts.limit(11).shuffle.each do |gift| %>
                        <% unless gift[:id] == product.id %>
                            <%= render partial: "shared/tiles/product_tile", locals: {product: gift, tile: 'gift_page'} %>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% else %>
        <% if product.merchant_family.present? %>
            <div class="items_like_this">
                <p class="like_this_text">More Items from <%= product.merchant.name %>:</p>
                <div class="products feed">
                    <div class="product-sizer col-xs-6 col-sm-4 col-md-3 col-lg-2"></div>
                    <% product.merchant_family.each do |product| %>
                        <%= render partial: "shared/tiles/product_tile", locals: { product: product, tile: 'variant_page' } %>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<!-- GIFT ASSISTANT BUTTON -->
<%= render partial: "shared/site/ga_button" %>
<% if current_customer.present? %>
    <!-- Create Basket Modal Partial -->
    <%= render partial: "shared/modals/modal_create_basket" %>
<% else %>
    <%= render partial: "shared/site/site_multitool" %>
<% end %>

<script>
    <% if product.gift? %>
        var autosize_input = $('.textarea-autosize');
        autosize(autosize_input).on('keyup', function(e){
          var keycode = (e.keyCode ? e.keyCode : e.which);
          if (keycode == 13 && $(this).val().trim().length > 0 ) {
            $(this).parent('form').submit();
            $(this).val('');
            var evt = document.createEvent('Event');
            evt.initEvent('autosize:update', true, false);
            this.dispatchEvent(evt);
          }
        });
        
        $('.comment_caption .edit_button').click(function(){
            $('.comment_caption').fadeOut('normal', function() {
                $('.caption_form').addClass('active').fadeIn();
            });
        });
    
        $('.comment_caption_mobile .edit_button').click(function(){
            $('.comment_caption_mobile').fadeOut('normal', function() {
                $('.caption_form').addClass('active_mobile').fadeIn();
            });
        });

    <% end %>
    
    function show_full(){
        var image_height = $('.product_img_container img').height();
        if(image_height > 400){
            $('.product_img_container img').css('height', image_height + 'px');
            <% if browser.mobile? %>
            $('.product_img_container').click(function(){
                $('.product_img_container img').toggleClass('active');
            });
            <% else %>
                $('.show_full').click(function(){
                    $('.product_img_container img').toggleClass('active');
                });
            <% end %>
        }
        else{
            $('.show_full').remove();
            $('.bottom_image_container h1').css({padding: '10px 0px'})
        }
    }
    
    var product_image = $(".product_img_container img");

    if (!product_image.prop('complete')) {
        product_image.on('load', function() {
            show_full();
        });

    }
    else{
        show_full();
    }
    
</script>