<div class="size_price">
    <% if product.gift? %>
        <p class="buy_it_here"><%= number_to_currency(@variant.pretty_price) %></p>
        
        <% if @gift.variant.size.present? || @gift.variant.color.present? %>
            <div class="size_container">
            <% if @gift.variant.size.present? %>
                <p class="size_color_text">Size: <%= @gift.variant.size %></p>
            <% end %>
            <% if @gift.variant.color.present? %>
                <p class="size_color_text">Color: <%= @gift.variant.color %></p>
            <% end %>
            <%# if current_customer == @gift.basket.customer %>
    <!-- TODO Sizes
                <div class="dropdown default_dropdown">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Size</span>
                        <span class="icon_arrow"><%#= ion_icon("arrow-down-b", :aria_hidden => 'true') %></span>
                    </button>
                    <ul class="dropdown-menu fade">
                        <li><%#= @gift.variant.size %></li>
                        <li class="add_size">Add a Size</li>
                    </ul>
                </div>
    -->
           <%# end %>
            </div>
        <% end %>
        <% if (product.quantity_desired <= product.quantity_received && current_customer != product.basket.customer) || product.owner_marked_received.present? %>
            <p class="already_purchased">Gift Already Purchased for <%= @basket.customer.name %></p>
        <% end %>
      <!--  <% if current_customer == product.basket.customer %>
                <input id="<%= product.id %>_gift_qty" class="gift_qty" type="text" value="<%= product.quantity_desired %>">
            <% end %> -->
    <% else %>
        <p class="buy_it_here"><%= number_to_currency(@variant.pretty_price) %></p>
    <% end %>
</div>