<form id="shipping_options_form">
    
  <ul class="shipping_options_list">
    <% @shipping_options.each do |key, value| %>
      <li class="shipping_option">
        <div class="radio radio-warning">
            <%= radio_button_tag 'shipping_option', key, is_shipping_option?(giftbox, key) %>
            <label for=<%= "shipping_option_#{key}" %>>
              <span><%= key.capitalize %></span><br>
              <small>
                <% if key.casecmp('standard').zero? %>
                  Get your order within 4-14 days
                <% else %>
                  We'll find the fastest shipping option for you
                <% end %>
              </small>
            </label>
        </div>
      </li>
    <% end %>
  </ul>
</form>
<p>Finding the fastest shipping can be expensive depending on the items being shipped and the location. We will send you an email to approve the rate if it is more than $30.00.</p>
<button class="btn save_and_continue_btn select_shipping_option" data-parent="#accordion" data-toggle="collapse" href="#collapse2">Save &amp; Continue</button>