<header id="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid nav_push">

      <div class="navbar-header">
        <%= link_to admin_root_path, class: "navbar-brand" do %>
            <%= image_tag('/images/fallback/logo.png') %>
            <% if !(browser.mobile?) %>
                <span class="logo_text">Giftibly Admin</span>
            <% end %>
        <% end %>
      </div>
      
      <% if admin_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= active_link_to 'Dashboard', admin_root_path, active: :exclusive %></li>
          <li><%= active_link_to 'Settings', admin_app_settings_path %></li>
          <li><%= active_link_to 'Purchasing', admin_shipping_orders_path %></li>
          <li><%= active_link_to 'GA Reporting', home_admin_ga_reporting_path %></li>
          <li><%= active_link_to 'Deals', home_admin_deals_path %></li>
          <li><%= active_link_to 'Categories', home_admin_merchant_categories_path %></li>
          <li><%= active_link_to 'Feedback', home_admin_feedback_path %></li>
          <li><%= active_link_to 'Brand Manager', home_admin_brand_manager_path %></li>
          <li class="admin_logout"><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
        </ul>
      <% end %>
  </nav>
</header>
