<header id="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid nav_push">

      <div class="navbar-header">
        <%= link_to purchasers_root_path, class: "navbar-brand" do %>
            <%= image_tag('/images/fallback/logo.png') %>
            <% if !(browser.mobile?) %>
                <span class="logo_text">Giftibly Purchaser</span>
            <% end %>
        <% end %>
      </div>
      
      <% if purchaser_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= active_link_to 'Shipping Orders', purchasers_root_path, active: :exclusive %></li>
          <li class="admin_logout"><%= link_to('Logout', destroy_purchaser_session_path, method: :delete) %></li>
        </ul>
      <% end %>
  </nav>
</header>