<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
      <%= content_for?(:head) ? yield(:head) : '' %>
      <title>Giftibly - Admin</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body class="admin fade-animate" id="admin_body">
      <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
            <% unless f[1].blank? %>
              <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
              toastr['<%= type %>']('<%=  sanitize(f[1]) %>');
            <% end %>
          <% end %>
        </script>
      <% end %>
      
      <%= render partial: "layouts/admin_navbar" %>
      <div id="admin_site">
          <div id="admin_container">
            <%= yield %>
          </div>
      </div> 
      <!-- Modal -->
      <%= render partial: "shared/modals/cart_modals/cart_instructions" %>
      <%= render partial: "shared/modals/cart_modals/cart_mark_as_complete" %>
  </body>
</html>