<!DOCTYPE html>
<html lang="en">
  <head>
    <title><% if @title.present? %><%= @title %> | <% end %>Giftibly</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="application-name" content="Giftibly">
    <meta property="og:site_name" content="Giftibly">
    <meta property="og:url" name="og:url" content="<%= request.original_url %>">
    <% if @meta_description.present? %>
        <meta property="description" name="description" content="<%= @meta_description %>">
    <% else %>
        <meta property="description" name="description" content="Think of Giftibly as a giant wish list, where you, your friends and family can create personal gift registries for events like birthdays, holidays, and weddings.">
    <% end %>
    <meta name="google-site-verification" content="WK8ZrMK7mCqxsGluqsGgolPK5AT6oEcz1rIEgHx6NCU" />
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/bjbmlhjpkhbpjflgjecpokjadpnjdibn">
    <meta content='<%= customer_signed_in? ? current_customer.id : "" %>' name='customer-id'/>
    <meta name="turbolinks-cache-control" content="no-cache">
    <% if Rails.env.staging? %> <meta name="robots" content="noindex, nofollow"> <% end %>
    
    <% if Rails.env.production? %>
        <script>
            var dataLayer = [];
            dataLayer.push({
                'page': {
                    'title': "<%=@title.present? ? @title : 'Giftibly' %>"
                }
            });
            <% if logged_in? %>
                dataLayer.push({
                    'userID': "<%=current_customer.id%>"
                });
            <% end %>
        </script>

        <%= content_for?(:ecom) ? yield(:ecom) : '' %>

        <!-- Google Tag Manager -->
        <script defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T5F4GLL');</script>
        <!-- End Google Tag Manager -->
    <% end %>

    <% if browser.edge? %>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <% end %>

    <%= content_for?(:head) ? yield(:head) : '' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://js.stripe.com/v3/" %>
    <%= tag :meta, :name => "stripe-publishable-key", content: ENV['STRIPE_PUBLISHABLE_KEY'] %>
    <%= csrf_meta_tags %>
    <% if @events_basket != true %>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBtIsQUNuY445kItPKIeBKMf_w1BDtVwdI&amp;libraries=places" defer></script>
    <% end %>
    <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" defer></script>
    <script defer>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6976472040380626",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body id="style_override" class="fade-animate <%= 'landscape_stop_scroll' if browser.mobile? %>">
    <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5F4GLL"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <% if logged_in? %>
      <div id="ga_logged_in" hidden data-token="<%= current_customer.auth_token %>"></div>
    <% else %>
      <div id="ga_logged_out" hidden></div>
    <% end %>

    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% unless f[1].blank? %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
            toastr['<%= type %>']('<%=  sanitize(f[1]) %>');
          <% end %>
        <% end %>
      </script>
    <% end %>

    <!-- HEADER   -->
    <% if !@no_nav.present? %>
    <%= render partial: "shared/navs/top_nav", locals: {nav_type: 'application'} %>
    <% end %>
    <% if logged_in? %>
        <!-- MESSAGE IMAGE MODAL PARTIAL -->
        <%#= render partial: "shared/modals/modal_image_message" %>

        <!-- GIFT URL MODAL PARTIAL -->
        <%= render partial: "shared/modals/modal_gift_url" %>
        <% if current_customer.oauth_credentials.present? && current_customer.facebook_connected? && current_customer.facebook_friends.count > 2 && browser.mobile? %>
            <%= render partial: "shared/modals/modal_mobile_pymk" %>
        <% end %>
    <% else %>
        <!-- FEED LINKS -->
        <%= render partial: "shared/site/site_multitool" %>

        <!-- LOGIN MODAL PARTIAL -->
        <%= render partial: "shared/modals/modal_login" %>

    <% end %>

    <%= yield %>

    <% if browser.mobile? %>
        <div class="mobile_separator"></div>
        <!-- BOTTOM NAVIGATION -->
        <%= render partial: "shared/navs/bottom_nav" %>
    <% end %>
    
    <!-- HAMBURGER MENU -->
    <%= render partial: "shared/nav_popovers/landing_popover" %>
    
    <% if ( browser.chrome? || browser.firefox? || browser.opera? || browser.safari? ) && ( !(browser.mobile?) ) && ( current_customer.present? ) %>
        <!--  GA modal -->
        <%= render partial: "shared/modals/modal_gift_assistant" %>
    <% end %>
    <% if customer_signed_in? && !(request.fullpath == "/welcome") %>
        <% if !current_customer.fromfb? && (session[:fbpopup] == "no" || session[:fbpopup].nil?) && ( current_customer.fbpopup || current_customer.fbpopup.nil? ) %>
            <!-- FACEBOOK CONNECT PARTIAL -->
            <%= render partial: "shared/popup/facebook_connect" %>
        <% end %>
    <% end %>
    
    <!-- EMOJI POPUP PARTIAL -->
    <%= render partial: "shared/popup/popup_emoji_picker" %>
    
    <!-- POPOVER OVERLAY -->
    <div class="popover_overlay"></div>

    <div id="status"></div>

    <!-- Giftbox Modal -->
    <div id="giftbox-modal" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static"></div>

    <%= content_for?(:seo) ? yield(:seo) : '' %>
    <% if browser.mobile? %>
        <div id="landscape_mobile_mask">
            <div>
                <%= image_tag( 'fallback/white-logo.png', skip_pipeline: true ) %>
            </div>
            <p>Giftibly does not support landscape views on our mobile web application.</p>
            <p>Please rotate your phone to portrait mode.</p>
            <div>
                <%= ion_icon('android-phone-landscape') %> 
                <%= ion_icon('arrow-right-c') %>  
                <%= ion_icon('android-phone-portrait') %>
            </div>
        </div>
    <% end %>
</body>
</html>
